.clinic-block {
  position: relative;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(pics/urologia/kidney-stones.jpg) bottom right no-repeat;
  @media(min-width:768px){
    padding-top: 200px;
    padding-bottom: 115px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    background-color: rgba(255,255,255,0.5);
    @media(min-width:1024px){
      display: none;
    }
  }

  &__text-content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    @media(min-width:768px){
      .corner(#d2d7d8,87px,14px);

      padding: 70px;
    }
    a {
      display: inline-block;
      padding: 7px 20px;
      .font(@ff,1.2rem);
      border: 1px solid #393939;
      color: #393939;
      .transition;

      &:hover, &:focus {
        background-color: #393939;
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: CenturyGothic, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #212121;
    @media(min-width:768px){
      font-size: 34px;
    }
    span {
      display: block;
      font-size: 32px;
      line-height: 42px;
      @media(min-width:768px){
        font-size: 52px;
        line-height: 62px;
      }
    }

    strong {
      display: block;
      margin-bottom: 10px;
      font-size: 52px;
      line-height: 32px;
      font-style: normal;
      font-weight: 400;
      @media(min-width:768px){
        font-size: 82px;
        line-height: 62px;
      }
    }
  }
}