.common-diseases {

	&__title {
		margin-bottom: 30px;
		.font(@ff,1.5rem);
		color: #444545;
		@media(min-width: 768px){
			.font(@ff,2.2rem);
		}
		@media(min-width: 992px){
			margin-top: 30px;
			margin-bottom: 90px;
		}
	}

	&__items {
		margin-bottom: 70px;
	}

	&__item {
		margin-bottom: 50px;
		@media(min-width:992px){
			margin-bottom: 25px;
		}
		&:nth-of-type(even) {
			@media(min-width:992px){
				.common-diseases__text-content {
					padding-left: 150px;
				}
			}
		}
	}

	&__img-wrap {
		max-width: 470px;
		margin: 0 auto;
		padding: 20px;
		.corner(#5d95aa,88px,7px);
	}

	&__img {
		width: @col-12;
	}

	&__text-content {
		padding-top: 30px;
		@media(max-width:991px){
			padding-left: 0;
			padding-right: 0;
		}
		@media(min-width:992px){
			padding-left: 50px;
			padding-top: 90px;
		}

		h3 {
			margin-bottom: 15px;
			.font(@ff,1.7rem,1.2,normal,bold);
			color: #3b6175;
		}

		div {
			margin-bottom: 20px;
			.font(@ff,1.1rem);
			color: #3b6175;
		}

		a {
			display: inline-block;
			padding: 10px 55px;
			.font(@ff,1.2rem);
			color: #50b2cb;
			border: 1px solid #3b6175;
			.transition;

			&:hover, &:focus {
				background-color: #3b6175;
				color: #fff;
			}
		}
	}
}