.directions-urology {

	padding-bottom: 55px;

	.title(directions-urology,#54c8de,#afcfd5);

	&__content {
		padding-top: 30px;
	}

	&__subtitle {
		margin-bottom: 40px;
		.font(@ff,1.1rem);
		color: #94999f;
		@media(min-width: 768px){
			margin-bottom: 85px;
		}

	}

	&__items {
		font-size: 0;
	}

	&__item {
		display: inline-block;
		width: 100%;
		margin-bottom: 40px;
		padding: 0 10px;
		vertical-align: top;
		@media(min-width: 480px){
			width: @col-6;
		}
		@media(min-width: 768px){
			width: @col-3;
		}


		.transition;


		&:hover, &:focus {
			.directions-urology__img-wrap {
				.corner(#4bb0c4,50px,4px);
			}
			.directions-urology__text-content h4 {
				font-weight: 700;
			}
		}
	}

	&__img-wrap {
		width: @col-12;
		max-width: 270px;
		margin: 0 auto;
		margin-bottom: 25px;
		padding: 16px;
		.corner(#54c8de,50px,4px);
		.transition;
	}

	&__img {
		width: @col-12;
	}

	&__text-content {

		text-align: center;

		h4 {
			.font(@ff,1.2rem);
			color: #4b4b4e;
		}
	}
}