.diseases-block {
  position: relative;
  @media(min-width: 992px){
    padding-bottom: 80px;
  }
  @media(min-width: 1024px){
    background-image: url(pics/urologia/diseases-symptoms.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__item {
    margin-bottom: 45px;

    h3 > a {
      .font(@ff,1.4rem,1.4,normal,bold);
      color: #3b6799;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }

    div {
      .font(@ff,1rem,1.4);
      color: #5a5a5a;
    }
  }

  &__link-wrap {
    .container();
  }


  &__char{
    font-size: 100px;
    font-weight: bold;
    line-height: 135px;
    text-align: center;
    color: #05679c;
    text-transform: uppercase;

    @media(min-width: 992px){
      font-size: 180px;
      line-height: 135px;
    }

  }



}