.diseases-symptoms {

	.title(diseases-symptoms,#841635,#ddb5c0);

	&__content {
		margin: 0 auto;
		padding: 35px 70px 0;

		@media (max-width: 767px) {
			padding: 35px 4.6% 0;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 35px 5.2% 0;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 35px 35px 0;
		}
	}

	&__form {
		text-align: center;

		p {
			margin-bottom: 20px;
			.font(@ff,1.1rem);
			color: #676666;
		}
	}

	&__field {
		position: relative;
		max-width: 460px;
		margin: 0 auto;
		margin-bottom: 65px;
		padding-right: 80px;
	}

	&__input {
		width: 100%;
		max-width: 380px;
		height: 53px;
		margin-right: 25px;
		padding: 10px 30px;
		.font(@ff,1.1rem);
		border: 1px solid #868686;
		border-radius: 30px;
	}

	&__btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 53px;
		height: 53px;
		border-radius: 50%;
		background-color: #841635;
		cursor: pointer;
		border: none;
		outline: none;
		.transition;

		&::before {
			.before(50%,50%,25px,20px);
			transform: translate(-50%, -50%);
			background: url(pics/kardiologia-main/loop.png) 0 0 no-repeat;
			background-size: 25px 20px;
		}

		&:hover, &:active {
			background-color: lighten(#841635,10%);
		}
	}
}