.kidneyStones {
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.2);
    z-index: 0;
    @media(min-width: 992px){
      display: none;
    }
  }

  &__content {
    width: 100%;
    padding: 0;
    text-align: right;
    z-index: 2;
    @media(min-width: 414px){
      width: 400px;
    }
    @media(min-width: 768px){
      width: 750px;
    }
    @media(min-width: 992px){
      margin-right: -70px;
    }


    h2 {
      margin-bottom: 20px;
      padding: 15px;
      padding-top: 25px;
      font-family: HeliosCondLight, Arial, sans-serif;
      font-size: 46px;
      line-height: 0.8;
      font-style: normal;
      font-weight: 400;
      background-color: rgba(49, 105, 182, 0.7);
      @media(min-width: 768px){
        padding: 15px 60px;
        font-size: 80px;
        line-height: 0.8;
      }
      @media(min-width: 992px){
        font-size: 106px;
      }
    }

    a {
      display: inline-block;
      margin-right: 100px;
      padding: 7px 20px;
      .font(@h,1.5rem);
      border: 1px solid #fff;
      color: #fff;
      .transition;

      &:hover, &:focus {
        background-color: #fff;
        color: #3068b6;
      }
    }
  }
}