.urologia-menu {
	position: relative;
	padding-bottom: 40px;
	background: url(pics/urologia/urologia-menu.jpg) top right no-repeat;
	background-size: cover;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		background-color: rgba(255,255,255,0.5);
		@media(min-width: 768px){
			display: none;
		}
	}

	&__list {

		li {
			position: relative;
			margin: 25px 0;
			padding-left: 30px;
			.transition;

			&::before {
				.before(50%,-10px,30px,1px);
				@media(min-width: 768px){
					.before(50%,-10px,160px,1px);
				}
				transform: translateY(-50%);
				background-image: linear-gradient(to right, transparent 0%, #336799 30%);
				.transition;
			}

			&:hover::before, &:active::before {
				background-image: linear-gradient(to right, transparent 0%, #860935 30%);
			}

			@media(min-width: 768px){
				padding-left: 180px;
				margin: 45px 0;
			}

		}
	}

	&__list-item {
		display: inline-block;
		.font(@ff,1.4rem,1.4rem);
		color: #336799;
		.transition;

		&:hover, &:focus {
			text-shadow: 0 0 1px #860935, 0 0 0 #860935;
			color: #860935;
		}
	}
}