.diagnostic {
	.title(diagnostic, #359289,#90c3be);
	position: relative;
	padding: 0;

	&__content {
		@media (min-width: 1024px) {
			background-image: url(pics/urologia/urology-diagnostic.jpg);
			background-repeat: no-repeat;
			background-position: top right;
		}
	}
}