.work-list {
	
	padding-bottom: 450px;
	background: url(pics/work/work-list-wp.jpg) bottom right no-repeat;
	background-size: contain;
	
	@media (max-width: 991px) {
		background: none;
		padding-bottom: 0;
	}
	
	&__container {
		.container;
	}
	
	&__content-form {
		position: relative;
	}
	
	&__form {
		padding-top: 15px;
		padding-bottom: 45px;
		background-color: #fafcff;
	}
	
	&__input {
		float: left;
		
		&:not(:last-of-type) {
			margin-right: 2%;
		}
		
		@media (max-width: 1199px) {
			margin-bottom: 30px;
		}
	}
	
	&__industry {
		width: @col-3 - 1%;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: @col-6 - 2%;
		}
		
		@media (max-width: 767px) {
			width: @col-12;
		}
	}
	
	&__specialty {
		width: @col-3 - 1%;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: @col-6 - 2%;
		}
		
		@media (max-width: 767px) {
			width: @col-12;
		}
	}
	
	&__occupation {
		width: @col-12/5;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: @col-6 - 2%;
		}
		
		@media (max-width: 767px) {
			width: @col-12;
		}
	}
	
	&__salary {
		width: @col-12/5;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: ~"calc(50% - 80px)";
		}
		
		@media (max-width: 767px) {
			width: ~"calc(100% - 70px)";
		}
	}
	
	&__search {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	
	&__select {
		position: relative;
		display: inline-block;
		width: @col-12;
	}
	
	&__dropdownbtn, &__input-field {
		
		display: inline-block;
		width: @col-12;
		margin-top: 15px;
		padding: 14px 20px;
		padding-right: 25px;
		border-radius: 30px;
		border: 1px solid #868686;
		background-color: #fff;
		color: #868686;
		.transition;
		
		&:hover, &:focus {
			box-shadow: 0 0 10px 0 #ccc;
		}
	}
	
	&__input-field {
		width: @col-12;
	}
	
	&__label {
		display: block;
		padding-left: 15px;
		.font(@ff,1.2rem);
		white-space: nowrap;
		color: #505050;
	}
	
	&__caret {
		float: right;
		margin-top: 8px;
		border-width: 8px;
		color: #336799;
	}
	
	&__dropdownmenu {
		bottom: -2px;
		left: 0;
		z-index: 20;
		float: left;
		width: @col-12;
		height: 100%;
		border-radius: 5px;
		
		li {
			display: block;
		}
	}
	
	&__dropdownmenu, &__input-field {
		.font(@ff,1rem);
		color: #868686;
	}

	&__search-btn {
		position: relative;
		width: 51px;
		height: 51px;
		padding-top: 36px;
		background-color: #9bbfdb;
		border-radius: 50%;
		cursor: pointer;
		outline: none;
		border: none;
		.transition;
		
		&::before {
			content: "";
			position: absolute;
			.center;
			background: url(pics/work/sprite-work.png) 0 0 no-repeat;
			.stitches-sprite(-69px, -10px, 24px, 19px);
		}
		
		&:hover, &:focus {
			background-color: darken(#9bbfdb, 10%);
		}
	}
	
	// ------ work-items -------- //
	
	&__work-item {
		padding-top: 40px;
		padding-bottom: 45px;
		border-bottom: 1px solid #636363;
	}
	
	&__work-item-content {
		max-width: 950px;
	}
	
	&__work-title {
		margin-bottom: 10px;
		.font(@ff,1.2rem,1.2,normal,bold);
		color: #336799;
	}
	
	&__subrow {
		.font(@ff,1rem,1.6);
		color: #959595;
		
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	}
	
	&__resource {
		display: inline-block;
		margin-right: 10px;
	}
	
	&__description {
		margin-bottom: 25px;
		.font(@ff,1rem,1.6);
		color: #6a6a6a;
		
		@media (max-width: 767px) {
			.font(@ff,0.9rem,1.2);
			margin-bottom: 45px;
		}
	}
	
	&__conditions {
		.font(@ff,1rem);
		color: #292a2a;
		
		span {
			position: relative;
			display: inline-block;
			padding-left: 60px;
			
			@media (max-width: 767px) {
				display: block;
			}
			
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	
	&__work-occupation {
		margin-right: 65px;
		
		@media (max-width: 767px) {
			margin-bottom: 40px;
			margin-right: 0;
		}
		
		&::before {
			background: url(pics/work/sprite-work.png) 0 0 no-repeat;
			.stitches-sprite(-113px, -10px, 41px, 41px);
		}
	}
	
	&__work-salary {
		&::before {
			background: url(pics/work/sprite-work.png) 0 0 no-repeat;
			 .stitches-sprite(-10px, -10px, 39px, 45px);
		}
	}
}