.accessible-environment {
	
	padding-bottom: 70px;
	background: url(pics/accessible-environment/accessible-environment-wp.jpg) center center no-repeat;
	background-size: cover;
	
	&__container {
		.container;
	}
	
	&__title {
		padding-bottom: 40px;
		
		h1 {
			.font(@ff,2.8rem,1.2,normal,bold);
			text-align: center;
			color: #79a9d7;
			opacity: 0.6;
			
			@media (max-width:480px) {
				.font(@ff,1.6rem,1.2,normal,bold);
			}
		}
	}
	
	&__list {
		width: 454px;
		margin: 0 auto;
		padding-top: 50px;
		
		@media (max-width:767px) {
			width: @col-12;
			max-width: 454px;
		}
		
		li {
			margin-bottom: 8px;
		}
	}
	
	&__list-item {
		position: relative;
		display: block;
		padding: 30px;
		padding-left: 180px;
		.font(@ff,1.5rem,1.2,normal,bold);
		color: #fff;
		opacity: 0.8;
		.transition;
		
		@media (max-width:480px) {
			padding: 20px;
			.font(@ff,1.2rem,1.2,normal,bold);
			text-align: center;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50px;
			transform: translateY(-50%);
			background: url(pics/accessible-environment/sprite.png) 0 0 no-repeat;
			
			@media (max-width:480px) {
				display: none;
			}
		}
		
		&:hover, &:focus {
			opacity: 1;
		}
	}
	
	&__list-item-1 {
		background-color: #e58d20;
		
		&::before {
			left: 60px;
			.stitches-sprite(-10px, -10px, 44px, 47px);
		}
	}
	
	&__list-item-2 {
		background-color: #c6cc23;
		
		&::before {
			left: 55px;
			.stitches-sprite(-74px, -10px, 53px, 53px);
		}
	}
	
	&__list-item-3 {
		background-color: #e8d43a;
		
		&::before {
			.stitches-sprite(-147px, -10px, 63px, 63px);
		}
	}
	
	&__list-item-4 {
		background-color: #39ede4;
		
		&::before {
			.stitches-sprite(-230px, -10px, 79px, 47px);
		}
	}
	
	&__list-item-5 {
		background-color: #36c0e3;
		
		&::before {
			.stitches-sprite(-329px, -10px, 55px, 46px);
		}
	}
	
	&__list-item-6 {
		background-color: #e864e6;
		
		&::before {
			.stitches-sprite(-404px, -10px, 61px, 39px);
		}
	}
}