.competition {
	
	.title(competition,#e78007,#f2b977);
	
	&__container {
		.container;
	}
	
	&__items {
		padding-top: 60px;
	}
	
	&__item {
		display: block;
		float: left;
		width: @col-4;
		margin-bottom: 70px;
		padding: 0 10px;
		cursor: pointer;
		.transition;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: @col-6;
			margin-bottom: 50px;
		}
		
		@media (max-width: 767px) {
			width: @col-12;
			margin-bottom: 50px;
			padding: 0;
		}
		
		&:nth-of-type(3n+2) .competition__item-content {
			 margin: 0 auto;
		}
		
		&:nth-of-type(3n+3) .competition__item-content {
			 margin-left: auto;
		}
		
		.competition__item-content {
			@media (max-width: 1199px) {
				margin: 0 auto;
			}
		}
		
		&:hover, &:focus {
			opacity: 0.8;
		}
	}
	
	&__item-content {
		max-width: 370px;
	}
	
	&__img-wrap {
		margin-bottom: 25px;
	}
	
	&__img {
		width: @col-12;
	}
	
	&__text-content {
		
		@media (max-width: 767px) {
			text-align: center;
		}
		
		h3 {
			.font(@ff,1.1rem,1.2,normal,bold);
			color: #6d6d6d;
			
			@media (max-width: 767px) {
				.font(@ff,1rem,1.2,normal,bold);
			}
		}
	}
}