.exposition {
	
	padding-bottom: 170px;
	
	@media (max-width: 1199px) {
		padding-bottom: 50px;
	}
	
	&__container {
		.container;
	}
	
	.title(exposition,#b2b809,#d4d877);

	&__items {
		height: 750px;
		margin-top: 30px;
		padding-top: 170px;
		background: 
			url(pics/accessible-environment/exposition-wp.png) 0 0 no-repeat,
			url(pics/accessible-environment/exposition-bg.jpg) top 30px center no-repeat;	
		background-size: cover, auto;
		text-align: center;
		
		@media (max-width: 1199px) {
			height: auto;
			padding-top: 30px;
			background: none;
		}
	}
	
	&__item {
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 80px;
			max-width: 600px;
		}
		
		@media (max-width: 991px) {
			margin-bottom: 50px;
			max-width: 500px;
		}
	}
	
	&__item-left, &__item-center, &__item-right {
		display: inline-block;
	}
	
	&__item-left {
		width: 300px;
		margin-right: 20px;
		text-align: right;
		perspective: 1000px;
		
		@media (max-width: 1199px) {
			width: @col-12;
			margin-right: 0;
			perspective: none;
			text-align: center;
		}
		
		.exposition__text-content {
			transform: rotateY(30deg);
			
			@media (max-width: 1199px) {
				transform: none;
			}
		}
	}
	
	&__item-center {
		width: 400px;
		padding: 0 20px;
		text-align: center;
		
		@media (max-width: 1199px) {
			width: @col-12;
			padding: 0;
		}
	}
	
	&__item-right {
		width: 300px;
		margin-left: 20px;
		text-align: left;
		perspective: 1000px;
		
		@media (max-width: 1199px) {
			width: @col-12;
			margin-left: 0;
			perspective: none;
			text-align: center;
		}
		
		.exposition__text-content {
			transform: rotateY(-30deg);
			
			@media (max-width: 1199px) {
				transform: none;
			}
		}
	}
	
	&__text-content {
		
		h3 {
			margin-bottom: 25px;
			.font(@ff,1.4rem,1.2,normal,bold);
			color: #565555;
			
			@media (max-width: 991px) {
				.font(@ff,1.1rem,1.2,normal,bold);
			}
		}
		
		div {
			margin-bottom: 40px;
			.font(@ff,1.1rem,1.5);
			color: #565555;
			
			@media (max-width: 991px) {
				margin-bottom: 25px;
				.font(@ff,1rem,1.2);
			}
		}
		
		a {
			display: block;
			margin-bottom: 20px;
			.font(@ff,1.1rem,1.2,normal,bold);
			color: #0260a5;
			
			@media (max-width: 991px) {
				.font(@ff,1rem,1.2,normal,bold);
			}
			
			&.exposition__button {
				display: inline-block;
				margin: 0 auto;
				padding: 12px 50px;
				.font(@ff,1.2rem);
				color: #54585c;
				border: 1px solid #54585c;
				.transition;
				
				@media (max-width: 991px) {
					padding: 10px 30px;
					.font(@ff,1rem);
				}

				&:hover, &:focus {
					background-color: #54585c;
					color: #fff;
				}
			}
		}
	}
	
	&__link-wrap {
		text-align: center;
		
		a {
			.font(@ff,1.5rem);
			color: #0260a5;
			border-bottom: 2px dotted #0260a5;
			.transition;
			
			@media (max-width: 991px) {
				.font(@ff,1.2rem);
			}
			
			&:hover, &:focus {
				color: lighten(#0260a5,10%);
				border-bottom: 2px solid #0260a5;
			}
		}
	}
}