.master-classes {
  padding-bottom: 50px;
  &__container {
    .container;
  }
  .title(master-classes,#0bb2ac,#79d5d1);

  &__slider {
    margin-bottom: 28px;
  }
}

.g-grid{
  max-width: 1300px;
  &__ul {
    text-align-last: left;
    @media(min-width: 768px){
      text-align-last: center;
    }
  }
  &__link{
    color: #616161;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  &__img-cont{
    float:left;
    margin: 0;
    width:  90px;
    height: 90px;
    @media(min-width: 768px){
      width: 165px;
      height: 165px;
    }
    @media(min-width: 992px){
      width: 90px;
      height: 90px;
    }
    @media(min-width: 1200px){
      width: 165px;
      height: 165px;
    }

  }
  &__content{
    float: left;
    padding-top: 0;
    width: ~'calc(100% - 90px)';
    text-align: left;
    @media(min-width: 768px){
      width: ~'calc(100% - 165px)';
    }
    @media(min-width: 992px){
      width: ~'calc(100% - 90px)';
    }
    @media(min-width: 1200px){
      width: ~'calc(100% - 165px)';
    }
    h3 {
      margin-bottom: 10px;
      font-size: 1.1rem;
      color: #616161;
      @media (max-width: 767px) {
        font-size: 1rem;
      }
    }
    time {
      margin-bottom: 10px;
      font-style: italic;
      @media (max-width: 767px) {
        font-size: .9rem;
      }
    }
    p {
      @media (max-width: 767px) {
        font-size: .9rem;
      }
    }
  }
}