.meeting {
	
	&__container {
		.container;
	}
	
	.title(meeting,#e53a9b,#f095c9);
	
	&__items {
		margin-bottom: 80px;
		padding-top: 60px;
		
		@media (max-width: 767px) {
			margin-bottom: 60px;
		}
	}
	
	&__item {
		position: relative;
		
		@media (max-width: 767px) {
			max-width: 500px;
			margin: 0 auto;
		}
		
		&:not(:last-of-type) {
			margin-bottom: 90px;
			
			@media (max-width: 767px) {
				margin-bottom: 50px;
			}
		}
	}
	
	&__block-img {
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__img-wrap {
		width: @col-12;
		max-width: 470px;
		max-height: 425px;
		margin: 0 auto;
		padding: 20px;
		
		@media (min-width: 768px) {
			.corner(#ec71b7,87px,7px);
		}
		
		@media (max-width: 767px) {
			max-width: 300px;
			height: auto;
			padding: 0;
		}
	}
	
	&__img {
		width: @col-12;
		height: auto;
	}
	
	&__text-content {
		padding-top: 90px;
		
		@media (max-width: 991px) {
			max-width: 700px;
			margin: 0 auto;
			padding-top: 60px;
			text-align: center;
		}
		
		@media (max-width: 767px) {
			padding: 0;
			padding-top: 20px;
			text-align: center;
		}
		
		div {
			margin-bottom: 30px;
			.font(@ff,1.5rem);
			color: #4c4c4c;
			
			@media (max-width: 767px) {
				margin-bottom: 20px;
				.font(@ff,1rem);
			}
		}
		
		a {
			display: inline-block;
			padding: 0.8em 4em;
			.font(@ff,1.2rem);
			background-color: transparent;
			color: #525e46;
			border: 1px solid #525e46;
			.transition;
			
			@media (max-width: 767px) {
				.font(@ff,1rem);
				padding: 0.8em 1em;
			}
			
			&:hover, &:focus {
				background-color: #525e46;
				color: @white;
			}
		}
	}
}