.news-tabs {
	.title(news-tabs, #9ea70a, #cacf78);
	&__control {
		&-link {
			color: #434343;
			&:hover, &.active {
				background-color: #9ea70a;
				color: #fff;
			}
			&.active {
				&::before {
					border-color: transparent #9ea70a transparent transparent;
				}
			}
		}
	}

	&__content {

		&-link {
			color: #4a4a4a;
			background-color: rgba(255, 255, 255, 0.5);
			&__title {
				font-weight: bold;
				font-size: 25px;
			}
			&__desc {
				font-size: 18px;
			}

		}
	}

}