.spectacle {
	
	&__container {
		.container;
	}
	
	.title(spectacle,#ae003f,#d37396);
	
	&__block-menu {
		margin-bottom: 60px;
		padding-top: 35px;
		text-align: center;
		
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}
	
	&__list {
		
		li {
			position: relative;
			display: inline-block;
			padding: 0 24px;
			
			@media (max-width: 767px) {
				padding: 0 5px;
			}
			
			&:not(:last-of-type)::after {
				.before(0,auto,1px,100%);
				right: -2px;
				background-color: #6a6a6a;
			}
		}
	}
	
	&__list-item {
		.font(@ff,1.1rem,1.2,normal,bold);
		color: #6a6a6a;
		.transition;
		
		@media (max-width: 767px) {
			.font(@ff,0.9rem,1.2,normal,bold);
		}
		
		&:hover, &:focus {
			color: #cf004b;
		}
	}
	
	&__items {
		margin-bottom: 50px;
		
		@media (max-width: 991px) {
			margin-bottom: 0;
		}
	}
	
	&__item {
		float: left;
		width: @col-4;
		padding: 0 10px;
		
		@media (max-width: 991px) {
			width: @col-12;
			margin-bottom: 50px;
			padding: 0;
		}
		
		&:nth-of-type(3n+2) .spectacle__item-wrap {
			 margin: 0 auto;
		}
		
		&:nth-of-type(3n+3) .spectacle__item-wrap {
			 margin-left: auto;
		}
		
		.spectacle__item-wrap {
			@media (max-width: 1199px) {
				margin: 0 auto;
			}
		}
	}
	
	&__item-wrap {
		max-width: 370px;
	}
	
	&__img-wrap {
		margin-bottom: 25px;
	}
	
	&__img {
		width: @col-12;
	}
	
	&__text-content {
		
		h3 {
			margin-bottom: 12px;
			.font(@ff,1.1rem,1.4,normal,700);
			text-transform: uppercase;
			color: #6d6d6d;
			
			@media (max-width: 767px) {
				.font(@ff,1rem,1.4,normal,700);
			}
		}
		
		p {
			position: relative;
			padding-left: 35px;
			.font(@ff,1.1rem);
			color: #6d6d6d;
			
			@media (max-width: 767px) {
				.font(@ff,1rem);
			}
			
			&::before {
				content: "";
				position: absolute;
				top: -5px;
				left: 0;
				background: url(pics/accessible-environment/sprite.png) 0 0 no-repeat;
				.stitches-sprite(-485px, -10px, 23px, 32px);
			}
		}
	}
}