.fate {
  .title(fate, #71a7ee, #b1cff6);

  &__content{
    position: relative;
    padding-top: 50px;
    padding-bottom: 1px;
    background-image: url(pics/invalid-2-level/fate-bg.jpg);
    background-repeat:no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
    }

  }

  &__item{
    display: block;
    text-align: center;
    color: #120e0f;
    margin-bottom: 30px;
    &-pic{
      position: relative;
      display: block;
      width: 190px;
      height: 190px;
      margin: 0 auto 20px;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        min-width: 100%;
        min-height: 100%;
        max-height: 120%;
        transform: translate(-50%,-50%);
        z-index: 0;
      }
    }

    &-title{
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
    }

    &-desc{
      font-size: 14px;
    }

  }

}