.forum{
  display: block;
  height: 200px;
  background-image: url(pics/invalid-2-level/forum-bg.jpg);
  &__content{
    max-width: 420px;
    padding-left: 90px;
    padding-right: 10px;
    color: #f97034;
    @media(min-width: 768px){
      padding-left: 140px;
    }
    &:before{
      background-image: url(pics/invalid-2-level/forum-icon.png);
      width: 68px;
      height: 73px;
      @media(min-width: 768px){
        width: 98px;
        height: 106px;
      }
    }
  }

  &__title{
    font-size: 34px;
    @media(min-width: 768px){
      font-size: 46px;
    }
  }

  &__text{
    font-size: 20px;
    @media(min-width: 768px){
      font-size: 24px;
    }
  }
}

.link-arrow {
  margin: 40px auto;
}