.mainBanner{
  &:before{
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.help{
  &__content{
    display: block;
    max-width: 700px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
  }

  &__title{
    font-size: 40px;
    @media(min-width: 768px){
      font-size: 66px;
    }
  }

  &__desc{
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 30px;
    @media(min-width: 768px){
      margin-bottom: 45px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  ._white{
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    transition: border .15s ease-in;
    &:hover{
      border-color: transparent;
    }
  }
}