.icons {
  padding-top: 0;
  @media(min-width: 768px){
    background-image: url(pics/invalid-2-level/icons-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__content{
    float: none;
    margin: auto;
    @media(min-width: 1200px){
      margin-left: 25%;
      float: left;
    }
  }

  // row1
  &__link-news::before {
    background-image: url(pics/svg/svg-invalid-2-level/news.png);
  }
  &__link-preview::before {
    background-image: url(pics/svg/svg-invalid-2-level/preview.png);
  }
  &__link-path::before {
    background-image: url(pics/svg/svg-invalid-2-level/path.png);
  }
  &__link-fate::before {
    background-image: url(pics/svg/svg-invalid-2-level/fate.png);
  }
  // row 2
  &__link-children::before {
    background-image: url(pics/svg/svg-invalid-2-level/children.png);
  }
  &__link-technology::before {
    background-image: url(pics/svg/svg-invalid-2-level/technology.png);
  }
  &__link-technical::before {
    background-image: url(pics/svg/svg-invalid-2-level/technical.png);
  }
  &__link-education::before {
    background-image: url(pics/svg/svg-invalid-2-level/education.png);
  }
  // row 3
  &__link-job::before {
    background-image: url(pics/svg/svg-invalid-2-level/job.png);
  }
  &__link-know::before {
    background-image: url(pics/svg/svg-invalid-2-level/know.png);
  }
  &__link-help::before {
    background-image: url(pics/svg/svg-invalid-2-level/help.png);
  }
  &__link-forum::before {
    background-image: url(pics/svg/svg-invalid-2-level/forum.png);
  }
}