.job{
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(pics/invalid-2-level/job-bg.jpg);
  background-repeat:no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;

  &__link{
    display: block;
    position: relative;
    max-width: 460px;
    width: 100%;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #326496;
      opacity: 0.7;
      z-index: 2;
      transform: translate(-50%,-50%);
      transition: all .15s ease-in-out;
    }

    &:hover{
      &:before{
        //background-color: #fff;
        width: 80%;
        height: 80%;
        //opacity: 0;
      }
      .job__title{
        //color: #326496;
        //border-color:  #326496;
        border-color: transparent;
      }
    }

    @media(max-width: 767px){
      margin-bottom: 20px;
      height: 220px;
    }

  }

  &__img{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-height: 120%;
    transform: translate(-50%,-50%);
    z-index: 1;
  }

  &__title{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 300px;
    width: 90%;
    padding: 10px 5%;
    border: 4px solid #fff;
    font-size: 18px;
    text-align: center;
    color: #fff;
    transform: translate(-50%,-50%);
    transition: all .15s ease-in-out;
    z-index: 3;

    @media(min-width: 992px){
      padding: 20px 5%;
      font-size: 24px;
      width: 100%;
    }

  }

}