.know {
  .title(know, #d66331, #e8a98e);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &__container{
    padding-top: 60px;
    position: relative;
    &:before,&:after{
      content: '';
      position: absolute;
      display: block;
      background-repeat:no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover;
      z-index: -1;
    }
    &:before{
      top: 30px;
      left: 0;
      width: 125px;
      height: 289px;
      background-image: url(pics/invalid-2-level/know-bg-left.jpg);
    }

    &:after{
      top: 20px;
      right: 0;
      width: 183px;
      height: 300px;
      background-image: url(pics/invalid-2-level/know-bg-right.jpg);
    }

  }

  &__list{
    max-width: 990px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0;
  }

  &__item{
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    vertical-align: top;
    @media(min-width: 768px){
      width: 33.3333333%;
      margin-bottom: 40px;
    }
  }

  &__link{
    position: relative;
    display: block;
    margin: 0 10px 30px;
    padding-top: 100px;
    font-size: 18px;
    color: #6a767a;
    text-align: center;
    @media(min-width: 768px){
      padding-top: 120px;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      background-repeat:no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: 0 0;
    }

    &._icon{

      &-law{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/law.png);
          width: 85px;
          height: 73px;
        }
      }

      &-medcentr{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/medcentr.png);
          width: 100px;
          height: 64px;
        }
      }

      &-fond{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/fond.png);
          width: 103px;
          height: 68px;
        }
      }

      &-privileges{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/privileges.png);
          width: 67px;
          height: 65px;
        }
      }

      &-organization{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/organization.png);
          width: 84px;
          height: 69px;
        }
      }

      &-specialist{
        &:before{
          background-image: url(pics/svg/svg-invalid-2-level/specialist.png);
          width: 66px;
          height: 86px;
        }
      }


    }

    &:hover{
      color: #d66331;
      text-decoration: underline;
    }
  }
}