.news {
  .title(news, #00679c, #73acc9);

  &__container{
    margin-bottom: 50px;
  }

  &__left{
    width: 100%;
    font-size: 0;
    @media(min-width: 768px){
      height: 460px;
      white-space: nowrap;
    }
    @media(min-width: 1024px){
      width:~"calc(100% - 280px)";
      float: left;
    }
    @media(min-width: 1200px){
      width: 75%;
    }

    &-item{
      position: relative;
      display: block;
      height: 300px;
      overflow: hidden;
      white-space: normal;
      @media(min-width: 768px){
        display: inline-block;
        width: 33.333333%;
        height: 100%;
      }
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        min-width: 100%;
        min-height: 100%;
        max-height: 150%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }

      &:first-child + *{
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        @media(min-width: 768px){
          border-top: none;
          border-bottom: none;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }

      &_desc{
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        min-height: 90px;
        padding: 20px;
        background-color: rgba(255,255,255, 0.7);
        z-index: 1;
        font-size: 16px;
        color: #394450;
        transition: background .15s ease-in;
      }

      &_time{
        display: block;
        font-size: 12px;

      }

      &:hover{
        .news__left-item_desc{
          background-color: rgba(255,255,255, 0.9);
        }
      }

    }
  }

  &__right{
    width: 100%;
    padding: 15px;
    background-color: #394450;
    color: #fff;
    @media(min-width: 640px){
      padding: 20px 70px 20px 20px;
    }
    @media(min-width: 1024px){
      width: 280px;
      height: 460px;
      float: left;
    }
    @media(min-width: 1200px){
      width: 25%;
    }
    &-title{
      font-size: 18px;
      margin-bottom: 20px;
    }

    &-list{
      font-size: 0;
    }

    &-item{
      margin-bottom: 35px;
      padding-right: 10px;
      width: 100%;
      display: block;

      @media(min-width: 768px){
        display: inline-block;
        width: 50%;
      }
      @media(min-width: 1024px){
        display: block;
        width: 100%;
        padding-right: 0;
      }
    }

    &-link{
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      &:hover{
        .news__right-time{
          text-decoration: underline;
        }
        .news__right-text{
          text-decoration: underline;
        }
      }
    }

    &-time{
      display: block;
      color: #9dcbf6;
    }
  }
}
.articles{
  &__item{
    &-title{
      color: #293741;
      font-size: 16px;
    }
    &-time{
      display: block;
      font-size: 12px;
      color: #939799;
    }
  }
  &__list{

    @media(min-width: 1440px){
      max-width: 100%;
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}