.path {
  .title(path, #929d17, #c3c980);
  &__notice{
    padding: 15px;
    border-top: 2px solid #e67c00;
    border-bottom: 2px solid #e67c00;
    margin-top: 30px;
    margin-bottom: 60px;
    &-text{
      position: relative;
      max-width: 880px;
      width: 100%;
      margin: auto;
      font-size: 16px;
      font-weight: bold;
      color: #41413e;

      @media(min-width: 768px){
        font-size: 24px;
        padding-left:100px;
      }

      &:before{
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        width: 62px;
        height: 51px;

        margin: 0 auto 10px;
        background-image: url(pics/svg/svg-invalid-2-level/quotes.png);
        background-repeat:no-repeat;
        background-position: 0 0;
        background-size: cover;
        @media(min-width: 768px){
          position: absolute;
          margin: auto;
        }
      }
    }
  }

  /*~~~custom styles for txt_right~~~*/
  .g-grid{
    max-width: 1440px;
    &__img-cont{
      width:  250px;
      height: 250px;
      @media(min-width: 768px){
        width:  140px;
        height: 140px;
      }
    }
    &__content{
      padding: 0;
      @media(min-width: 768px){
        width: ~'calc(100% - 140px)';
      }
    }
    &__txt{

      color: #3f3f3f;
      @media(min-width: 768px){
        padding-left: 15px;
      }
    }
  }
  /*~~~END custom styles for txt_right~~~*/
  &__link{
    &-title{
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    &-text{
      display: block;
      font-size: 16px;
    }
  }
}