.preview {

  .title(preview, #d66331, #e8a98e);

  &__container {
    .container;
  }

  .title(spectacle,#ae003f,#d37396);

  &__block-menu {
    max-width: 920px;
    width: 100%;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    text-align: center;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__tabs{
    text-align: left;
    @media (min-width: 768px) {
      text-align: justify;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;

    }

    &-item{
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 15px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      transition: all .15s ease-in;

      &.active,&:hover{
        background-color: #d66331;
        a{
          color: #fff;
        }
      }
    }

    &-link{
      font-size: 18px;
      color: #3b6175;
      line-height: 35px;
    }

  }

  &__list {
    text-align: right;

    li {
      position: relative;
      display: inline-block;
      padding: 0 15px;

      @media (max-width: 767px) {
        padding: 0 5px;
      }

      &:not(:last-of-type)::after {
        .before(0,auto,1px,100%);
        right: -2px;
        background-color: #6a6a6a;
      }
    }
  }

  &__list-item {
    .font(@ff,1.1rem,1.2,normal,normal);
    color: #6a6a6a;
    .transition;

    @media (max-width: 767px) {
      .font(@ff,0.9rem,1.2,normal,normal);
    }

    &:hover, &:focus,&.active {
      color: #d66331;
      font-weight: bold;
    }
  }

  &__items {
    margin-bottom: 50px;

    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }

  &__item {
    float: left;
    width: @col-4;
    padding: 0 10px;

    @media (max-width: 991px) {
      width: @col-12;
      margin-bottom: 50px;
      padding: 0;
    }

    &:nth-of-type(3n+2) .spectacle__item-wrap {
      margin: 0 auto;
    }

    &:nth-of-type(3n+3) .spectacle__item-wrap {
      margin-left: auto;
    }

    .spectacle__item-wrap {
      @media (max-width: 1199px) {
        margin: 0 auto;
      }
    }
  }

  &__item-wrap {
    max-width: 370px;
    margin: 0 auto;
  }

  &__img-wrap {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 220px;
    margin-bottom: 25px;
    overflow: hidden;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    min-width: 100%;
    min-height: 100%;
    max-height: 120%;
    transform: translate(-50%,-50%);
  }

  &__text-content {

    h3 {
      margin-bottom: 12px;
      .font(@ff,1.1rem,1.4,normal,700);
      text-transform: uppercase;
      color: #6d6d6d;

      @media (max-width: 767px) {
        .font(@ff,1rem,1.4,normal,700);
      }
    }

    p {
      position: relative;
      padding-left: 35px;
      .font(@ff,1.1rem);
      color: #6d6d6d;

      @media (max-width: 767px) {
        .font(@ff,1rem);
      }

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        background: url(pics/accessible-environment/sprite.png) 0 0 no-repeat;
        .stitches-sprite(-485px, -10px, 23px, 32px);
      }
    }
  }

}