.mainBanner__content{
  width: 100%;
}
.technology {
  .title(technology, #6187a2, #a8bdcc);

  &__slider{
    &-title{
      display: block;
      min-height: 130px;
      padding: 20px 40px;
      overflow: hidden;
      background-color: rgba(255,255,255,0.8);
      color: #314852;
      font-size: 14px;
      div{
        margin-bottom: 10px;
      }
      @media(min-width: 641px){
        padding: 20px 70px;
        font-size: 16px;
      }
      @media(min-width: 992px){
        padding: 20px 90px;
      }

    }

  }

  .link-arrow{
    margin-top: 30px;
  }
  .slick-arrow.slick-next {
    right: 5px;
    cursor: pointer;
    @media(min-width: 768px){
      right: 25px;
    }
  }
  .slick-arrow.slick-prev {
    left: 5px;
    cursor: pointer;
    @media(min-width: 768px){
      left: 25px;
    }
  }

}