.technical {
  .title(technical, #8adac6, #8adac6);

  &__container{
    background-image: url(pics/invalid-2-level/technical-bg.jpg);
    background-repeat:no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 1px;
  }

  &__list{
    padding-top: 20px;
  }

  &__item{
    margin-bottom: 15px;
    @media(max-width: 767px){
      padding: 0;
    }
  }

  &__link{
    display: block;
    max-width:400px;
    width: 100%;
    font-size: 0;
    color: #301b17;
    transition: all .15s ease-in-out;

    @media(min-width: 768px){
      margin: 0 auto;
    }

    &-left{
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      vertical-align: middle;
      &:before{
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        display: block;
        margin: auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: rgba(42,187, 151, 0.2);
        z-index: 1;
        transition: all .15s ease-in-out;
        @media(min-width: 768px){

        }
      }


      @media(min-width: 768px){
        width: 125px;
        height: 125px;
      }

    }

    &-right{
      display: inline-block;
      width:~"calc(100% - 100px)";
      padding-left: 10px;
      vertical-align: middle;
      font-size: 16px;
      @media(min-width: 768px){
        width:~"calc(100% - 125px)";
      }
    }

    &-pic{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 70px;
      height: 70px;
      margin: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      z-index:2;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        min-width: 100%;
        min-height: 100%;
        max-height: 120%;
        transform: translate(-50%,-50%);
        z-index: -1;
      }
      @media(min-width: 768px){
        width: 100px;
        height: 100px;
      }
    }

    &:hover{
      .technical__link-left{
        &:before{
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
      color: #2abb97;
    }

  }
}