.articles{
  .title(articles, @articles-title-bg-color, @articles-title-bg-after-color);
  &__grid{
    width: 80%;
    margin: auto;
    @media (max-width: 1440px){
      width: 100%;
    }
  }
  &__col{
    &._last{
      @media (max-width: 991px)and(min-width: 768px) {
        float: none;
        margin-left: 25%;
      }
    }
  }
  &__link{

    margin-bottom: 20px;
  }
  &__img-cont{
    position: relative;
    width: 390px;
    height: 260px;
    overflow: hidden;
    margin: 0 auto 20px auto;

    @media (max-width: 1199px){
      width: 273px;
      height: 182px;
    }
  }
  &__img{
    position: absolute;
    .center;

    min-width: 390px;
    min-height: 260px;
    max-width: 700px;
    max-height: 500px;

    @media (max-width: 1199px)and(min-width: 992px){
      min-width: 273px;
      min-height: 182px;
      max-width: 700px;
      max-height: 500px;
    }
  }
  &__txt{
    position: relative;
    display: inline-block;
    .horizontal-center;
    padding: 5px 0;
    font-size: 1.125rem;
    color: @articles-font-color2;
  }
  .link-arrow{
    .horizontal-center;
    display: inline-block;
    padding: 25px 50px;
    margin-top: 40px;
  }
  &__ban{
    margin-bottom: 45px;
  }
  &__ban-txt{
    color: @articles-font-color;
    font-size: 1.8rem;
    background-color: @articles-text-bg-color
  }
  &__ban-txt-2{
    color: @white;
    font-size: 3.3rem;
    @media (max-width:1199px){
      font-size: 2.3rem;
    }
  }
}
.mainBanner:before {
  background-color: rgba(0, 0, 0, 0.2);
}