.diagnostycs{
  .title(diagnostycs, @diagnostycs-title-bg-color, @diagnostycs-title-bg-after-color);

  &__cont{
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding-top: 40px;
    background: url(pics/rare/diagnostycs/diagnostycs-bg.jpg) no-repeat bottom;
    background-size: 90%;
    @media (max-width: 1199px) {
     background: none;
    }
  }
  &__txt{
    width: 80%;
    margin: 20px auto 0 auto;
    font-size: 1rem;
    text-align: center;
    @media (max-width: 1199px) {
      width: 100%;
    }

  }

  &__btn{
    position: relative;
    margin-bottom: 20px;
    .horizontal-center;

    &._gray{
      &:hover{
        background-color: @diagnostycs-title-bg-color;
      }
    }
  }
  .dropdown{
    display: block;

  }
}
