.history{
  .title(history, @rare-history-title-bg-color, @rare-history-title-bg-after-color);

  &__ban{
    margin-bottom: 50px;
  }

  &__ban-txt{
    text-transform: uppercase;
    color: @white;
    font-size: 1.8em;
    @media(min-width: 768px){
      font-size: 2.5em;
    }
  }
  &__ban-content{
    @media(min-width: 414px){
      min-width: 400px;
      max-width: 700px;
    }
  }
  &__ban-txt-2{
    color: @white;
    font-size: 1.4em;
    padding-left: 0;
    @media(min-width: 768px){
      font-size: 1.8em;
    }
  }
  &__ban-txt-3{
    padding-left: 5px;
    font-size: 1em;
    color: @white;
    @media(min-width: 768px){
      font-size: 1.25em;
    }
  }
}