.icons {
  text-align: center;
  @media (min-width: 768px) {
    background: url(pics/rare/icons/icons-bg.jpg) no-repeat;
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: @icons-font-color;
  }
}