.news-tabs {
  .title(news-tabs, @news-title-bg-color, @news-title-bg-after-color);
  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: @news-title-bg-color;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent @news-title-bg-color transparent transparent;
        }
      }
    }
  }
  &__content {
    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }
    }
  }
}