.rare-encycl{
  .title(rare-encycl, @rare-encycl-title-bg-color, @rare-encycl-title-bg-after-color);

  &__cont{
    width: 90%;
    max-width: 1300px;
    margin: auto;
/*    background: url(pics/rare/diagnostycs/diagnostycs-bg.jpg) no-repeat;*/
  }
  &__note{
    position: relative;
    width: 800px;

    margin: 50px 0 80px 20%;
    padding-left: 165px;
    color: @rare-encycl-font-color;

    @media (max-width: 767px){
      padding-left: 0;
    }

    &:before,&:after{
      position: absolute;
      display: block;
    }
    &:before{
      content: "”";
      left: 0;
      top: -20px;
      width: 110px;
      height: 110px;
      padding: 35px 0 0 23px;
      color: @white;
      font-family: CenturyGothic, Arial, sans-serif;
      font-size: 130px;
      line-height: 0.8;
      background-color: @rare-encycl-note-circle-color;
      border-radius: 50%;
      @media (max-width: 767px){
        display: none;
      }
    }

    &:after{
      content: '';
      left: 30px;
      top:83px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 36px 36px 0;
      border-color: transparent @rare-encycl-note-circle-color transparent transparent;
      @media (max-width: 767px){
        display: none;
      }
    }

    @media (max-width: 991px){
      margin: 50px auto 80px auto;
      width: 90%;
    }
  }

  &__txt-1{
    margin-bottom: 20px;
  }

  &__txt-2{

  }


  &__search-cont{
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.25rem;
    color: @rare-encycl-font-search-color;
  }
  &__search-label{
    position: relative;

  }

  &__icon-search{
    position: absolute;
    top:0;
    right:0;
    height: 100%;
    width: 100%;
  }
  &__search-in{
    width: 380px;
    margin: 15px 0;
    padding: 10px 45px 10px 10px;
    background-color: @rare-encycl-search-color;
    border-color: transparent;
    border-radius: 23px;
    &:hover,&:active{
      border: none;
    }

    @media (max-width: 767px){
      width: 90%;
    }
  }

  &__char{
    float: left;
    margin-right: 110px;
    font-size: 7.75rem;
    color: @rare-encycl-font-search-color;
    @media (max-width: 991px){
      width: 100%;
      text-align: center;
    }
  }

  &__dis-list-cont{
    ul{
      float: left;
      margin: 50px 0 30px 0;
    }
    li{
      margin-bottom: 30px;
    }
    a{
      color: @rare-encycl-font-color2;
      transition-property: color;
      transition-duration: .5s;
      &:hover{
        color: @rare-encycl-font-search-color;
      }
    }
  }

}
