.page-divider {
    height: 49px;
    width: 100%;
    background: url(pics/law/divider.jpg) no-repeat center;
    margin-bottom: 80px;
    margin-top: -40px;
    @media (max-width: 991px) {
        margin-bottom: 20px;
    }
}

.page-header {
    &.law-header {
        margin: 0 !important;
    }
}

.page-imgheader {
    &.law-innerhead {
        max-height: 550px;
        background: url(pics/law/law-bg.png) no-repeat;
        background-size: cover;
    }
    &.law-innerhead &__desc {
        background: rgba(51, 103, 153, 0.7);
        width: 50%;
        text-align: center;
        font-size: 30px;
        padding: 14px 0;
        color: #fff;
        top: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 991px) {
            font-size: 24px;
        }
    }
    &.law-innerhead &__subdesc {
        background: rgba(255, 255, 255, 0.78);
        width: 710px;
        font-size: 15px;
        padding: 14px 60px;
        color: #576c80;
        top: 150px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 991px) {
            left: 0;
            right: 0;
            transform: translateX(0%);
            height: auto;
            font-size: 14px;
            width: auto;
            padding: 10px 15px;
        }
    }

    .page-header {
        .header__m(#a9a41c, #e9e7c4);
        margin: 0;
    }


    @media (max-width: 991px) {
        &.law-question {
            margin: 0;
        }

    }
}


.law-docs__content{
    background: rgba(103, 100, 12, 0.7);
    font-size: 20px;
    padding: 15px;
    color: #fff;
    @media(min-width: 414px){
        min-width: 400px;
        width: 100%;
    }
    @media(min-width: 768px){
        width: 690px;
        padding: 15px 70px;
    }
}

.law-organization__content{
    background: rgba(3, 84, 150, 0.8);
    font-size: 18px;
    color: #fff;
    line-height: 1;
    @media(min-width: 414px){
        min-width: 400px;
    }
    @media(min-width: 768px){
        width: 690px;
        font-size: 30px;
    }
    @media(min-width: 992px){
        font-size: 52px;
    }
}

.law-question__content{
    background: rgba(69, 196, 210, 0.5);
    color: #fff;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    @media(min-width: 414px){
        min-width: 400px;
    }
    @media(min-width: 768px){
        width: 690px;
        font-size: 30px;
    }
    @media(min-width: 992px){
        font-size: 52px;
    }
}