.law-know {
	background: url(pics/law/law-know.jpg) no-repeat center center;
	background-size: contain;
	font-family: CenturyGothic;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		width: 282px;
		height: 300px;
		background: url(pics/law/law-r1.png);
		top: 85px;
		left: 70px;
	}
	&:before {
		content: '';
		position: absolute;
		width: 282px;
		height: 300px;
		background: url(pics/law/law-r2.png);
		bottom: 65px;
		right: 70px;
	}
	.page-header {
		.header__m(#1eccca, #c5f2f1);
		margin: 0;
	}
	&__inner {
		padding: 140px 0 20px 0;
	}
	&__link {
		color: #179493;
		font-size: 25px;
		display: inline-block;
		margin-bottom: 50px;
		&:hover {
			color: #179493;
		}
	}
	&__head {
		color: #179493;
		font-size: 25px;
	}
	&__act {
		color: #4d5a5a;
		font-size: 20px;
		margin-bottom: 25px;
		padding-right: 40px;
	}
}
@media (max-width: 991px) {
	.law-know {
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
		&__inner {
			padding-top: 30px;
		}
	}
}
@media (max-width: 640px) {
	.law-know {
		&__link, &__head {
			font-size: 18px;
		}
		&__act {
			font-size: 16px;
		}
	}
}