.law-element {

    &__container {
        position: relative;
        text-align: center;
        display: inline-block;
        width: auto;
        padding: 110px 50px;
        @media(min-width: 414px){
            min-width: 400px;
            padding: 15px;
        }
        @media(min-width: 768px){
            padding: 110px 50px;
            background-image: linear-gradient(to right, #d2d2d2 80px, transparent 80px), linear-gradient(to right, #d2d2d2 80px, transparent 80px), linear-gradient(to bottom, #d2d2d2 80px, transparent 80px), linear-gradient(to bottom, #d2d2d2 80px, transparent 80px);
            background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
            background-position: -40px 0%, -40px 100%, 0% -40px, 100% -40px;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        }
    }

    &__head {
        color: #262626;
        font-size: 46px;
        line-height: .9;
    }
    &__subhead {
        color: #5f5f5f;
        font-size: 36px;
        margin-top: 5px;
    }
    &__link {
        color: #515151;
        width: 162px;
        height: 36px;
        line-height: 36px;
        border: 1px solid #515151;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        margin-top: 30px;
        .transition;
        opacity: .8;
        &:hover {
            color: #515151;
            text-decoration: none;
            opacity: 1;
        }
    }
}

@media (max-width: 991px) {
    .law-element {
        &__head {
            font-size: 24px;
        }
        &__subhead {
            font-size: 18px;
        }
    }
}