.law-q {
    padding: 90px 55px 75px 77px;
    text-align: center;
    color: #2b4d50;
    font-size: 28px;
    font-family: CenturyGothic;
    position: relative;
    margin-bottom: 45px;
    @media (max-width: 991px) {
        padding: 10px;
        font-size: 22px;
    }


    &__content{
        @media (min-width: 414px) {
            min-width: 400px;
        }
        @media (min-width: 992px) {
            width: 700px;
        }
    }

    &__link {
        color: #2b4d50;
        display: inline-block;
        margin-bottom: 30px;
        &:hover {
            text-decoration: underline;
        }
        @media (max-width:991px) {
            padding-left: 0;
        }
    }
    &:before {
        content: '';
        position: absolute;
        width: 129px;
        height: 229px;
        .sprite2;
        background-position: 0 -1574px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    span {
        font-size: 28px;
        display: inline-block;
        margin-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .law-q {
        position: relative;
        background: 0;
        &:before {
            display: none;
        }
        color: #252525;
    }
}