.law-slider {
	.page-slider {
		&__text {
			background: rgba(123, 138, 21, 0.7);
			padding: 15px 25px;
			line-height: 1.1;

			@media (max-width: 991px) {
				padding: 10px;
				width: 100%;
			}
		}
		&__q {
			font-size: 48px;
		}
		&__a {
			font-size: 36px;
		}
	}
}
@media (max-width: 991px) {
	.law-slider .page-slider,
	.law-slider .page-slider .slide {
		height: auto !important;
	}
}