.cardiology-directory {

	margin-bottom: 65px;

	@media (max-width: 767px) {
		margin-bottom: 40px;
	}

	.title(cardiology-directory,#ce791f,#e4b584);

	&__banner {
		position: relative;
	}

	&__img {

		img {
			display: block;
			width: @col-12;
		}
	}

	&__content {
		min-width: 300px;
	}

	&__text-content {

		@media (max-width: 991px) {
			padding: 10px;
			padding-bottom: 20px;
			background-color: rgba(255,255,255,0.8);
			text-align: center;
		}

		h3 {
			margin-bottom: 25px;
			.font(@ff,2.2rem);
			color: #414141;

			@media (max-width: 767px) {
				.font(@ff,1.6rem);
				margin-bottom: 15px;
			}
		}

		a {
			display: inline-block;
			padding: 12px 22px;
			.font(@ff,1.1rem);
			border: 1px solid #414141;
			color: #414141;
			.transition;

			@media (max-width: 767px) {
				.font(@ff,15px);
				padding: 10px 20px;
			}

			&:hover, &:focus {
				background-color: #414141;
				color: #fff;
			}
		}
	}
}