.archive-ques{
  .title(archive-ques, #94d9fe, #c4eafe);
  &__grid{
    width: 100%;
    font-size: 0;
    text-align: center;

    @media(min-width: 1200px){
      & li:nth-child(-n+3){
        .question-all__chess{
          border-top: none;
        }
      }
    }

    @media(max-width: 1199px)and (min-width:768px){
      & li:nth-child(-n+2){
        .question-all__chess{
          border-top: none;
        }
      }
    }
    @media(max-width: 767px){
      & li:nth-child(-n+1){
        .question-all__chess{
          border-top: none;
        }
      }
    }
  }
  &__col{
    display: inline-block;
    width: 33.33%;
    vertical-align: top;

    @media(max-width: 1199px){
      width: 50%;
    }
    @media(max-width: 767px){
      width: 100%;
    }
  }

  .paginator{
    margin-top: 0;
  }
}
