.head-question{
  padding-bottom: 70px;
  &__line-cont{
    position: relative;
    height: 50px;
  }
  &__line{
    position: absolute;
    .vertical-center;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, rgba(30,87,153,0) 0%,#a9b81f 25% ,#a9b81f 75%,rgba(125,185,232,0) 100%);
  }
  &__circle{
    position: absolute;
    .center;
    width: 74px;
    height: 50px;
    background-image: url(pics/oprosy/ico.jpg);
    background-repeat: no-repeat;
  }
  &__cont{
    padding: 0 70px;
    @media(max-width: 991px) {
      padding: 0 20px;
    }
    @media(max-width: 767px) {
      padding: 0;
    }
  }
}