

.question-all._ol{
  list-style-type: none;
  padding-left: 90px;
  @media(max-width: 767px){
    padding-left: 0;
  }
  & > li:nth-child(odd){
    .question-all{
      &__ques-cont{
      }
      &__img-cont{
        right: 10%;
        @media(max-width: 1440px){
          right: 0;
        }
      }
    }
  }
  & > li:nth-child(even){
    .question-all{
      &__ques-cont{
        margin-left: ~"calc(100% - 1050px)";
        @media(max-width: 1440px)and (min-width: 992px){
          margin-left: ~"calc(100% - 750px)";
        }
        @media(max-width: 991px){
          margin:auto;
        }
      }
      &__counter:before{
        content: counter(li);
        position: absolute;
        z-index: 1;
        left: -90px;
        top:30px;
        width: 70px;
        height: 70px;
        font-size: 1.875rem;
        color: white;
        padding-top: 15px;
        text-align: center;
        @media(max-width: 767px){
          .horizontal-center;
          width: 50px;
          height: 30px;
          padding-top: 3px;
          font-size: 1.3rem;
          border-radius: 5px;
        }
      }
    }
  }

  & > li:nth-child(5n+1):before{background-color: #e96328;}
  & > li:nth-child(5n+2):before{background-color: #1fc1d9;}
  & > li:nth-child(5n+3):before{background-color: #0ba396;}
  & > li:nth-child(5n+4):before{background-color: #e77777;}
  & > li:nth-child(5n+5):before{background-color: #eb9c13;}

  & > li:last-child{
    .question-all{
      &__chess{
        padding-bottom: 0;
        &._bor-solid,._bor-dotted{
          border-bottom:none;
        }
      }
    }
  }
}
.question-all{
  &__counter{
    position: relative;
    counter-increment: li;
    &:before{
      content: counter(li);
      position: absolute;
      z-index: 1;
      left: -90px;
      top:30px;
      width: 70px;
      height: 70px;
      font-size: 1.875rem;
      color: white;
      padding-top: 15px;
      text-align: center;
      @media(max-width: 767px){
        .horizontal-center;
        width: 50px;
        height: 30px;
        padding-top: 3px;
        font-size: 1.3rem;
        border-radius: 5px;
      }
    }
  }
  &__chess{
    position: relative;
    min-height: 390px;
    padding-top: 50px;
    padding-bottom: 50px;
    @media(max-width: 767px){
      padding-bottom: 20px;
    }
    @media(max-width: 1199px){
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .7);

      }
    }
    &._bor-solid{
      border-bottom: 1px solid #dfdfdf;
    }

    &._bor-solid-top{
      border-top: 1px solid #dfdfdf;
    }


  }
  &__ques-cont{
    position: relative;
    width: 95%;
    max-width: 1000px;
    @media(max-width: 1440px){
      max-width: 770px;
    }
    @media(max-width: 991px){
      margin: auto;
    }
  }
  &__question{
    margin-bottom: 40px;
    margin-left: 20px;
    color: #464a4e;
    font-size: 2.5rem;
    font-family: @h,Arial, sans-serif;
    @media(max-width: 1440px){
      font-size: 1.875rem;
    }
    @media(max-width: 767px){
      margin-left: 0;
      text-align: center;
    }
  }

  &__hint{
    margin-left: 25px;
    font-size: 1.5rem;
    color: #7c7c7c;
    @media(max-width: 767px){
      display: block;
      margin-left: 0;
      text-align: center;

    }
    &._dis-none{
      display: none;
    }
  }
  &__grid{
    width: 100%;
    font-size: 0;
    text-align: center;
  }
  &__col{
    display: inline-block;
    width: 50%;

    @media(max-width: 767px){
      width: 100%;
    }
  }
  &__btn{
    position: relative;
    display: block;
    width: 400px;
    height: 70px;
    margin-bottom: 75px;
    color: #4c5e70;
    cursor: pointer;
    border: 1px solid #323232;
    transition-property: border, color;
    transition-duration: .5s;
    &:hover{
      border-color: #a9b820;
      color: #a9b820;
    }

    @media(max-width: 1440px){
      height: 50px;
      width: 300px;
    }
    @media(max-width: 767px){
      .horizontal-center;
      margin-bottom: 20px;
    }
  }
  &__btn-txt{
    position: absolute;
    .center;
    font-family: @h,Arial, sans-serif;
    font-size: 1.125rem;
  }

  &__diagram-list{
    width: 300px;
    margin-left: 20px;
    @media(max-width: 767px){
      margin:auto;
    }
    &._dis-none{
      display: none;
    }
    &._center{
      margin: auto;
    }
    & li:nth-child(4n+1){.question-all__diagram-fill{background-color: #b2be45;}}
    & li:nth-child(4n+2){.question-all__diagram-fill{background-color: #e443d3;}}
    & li:nth-child(4n+3){.question-all__diagram-fill{background-color: #0ba396;}}
    & li:nth-child(4n+4){.question-all__diagram-fill{background-color: #556ded;}}

  }
  &__item{
    margin-bottom: 40px;
  }
  &__ans-txt{
    font-size: 1.125rem;
    font-family: @h,Arial, sans-serif;
    margin-bottom: 10px;
  }
  &__diagram-line{
    width: 100%;
    height: 12px;
    background-color: #ededed;
  }
  &__diagram-fill{
    width: 40%;
    height: 100%;
  }
  &__img-cont{
    position: absolute;
    top:0;
    max-width: 570px;
    min-width: 400px;
    width: 40%;
    height: 360px;
    z-index: -1;
    @media(max-width: 767px) {
      .horizontal-center;
    }
    &._right{
      right: 10%;
    }

    img{
      position: absolute;
      .center;
      min-width: 70%;
      max-width: 110%;
      min-height: 70%;
      max-height: 110%;
      z-index: -2;
    }
  }
}

.all-questions{
  .title(all-questions, #94d9fe, #c4eafe);
}