.advice-article-menu {
	
	.title(advice-article-menu,#0ea8b6,#7bcfd7);
	
	&__container {
		.container;
		height: 100%;
	}
	
	&__content {
		padding-top: 35px;
	}

	&__items {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	
	&__item {
		@media (max-width: 991px) {
			max-width: 480px;
			margin: 0 auto;
			margin-bottom: 30px;
			padding: 0;
		}
	}
	
	&__item-content {
		display: inline-block;
		padding: 15px;
		padding-bottom: 25px;
		border-radius: 3px;
		background-color: #f7f7f7;
	}
	
	&__img-wrap {
		display: block;
		margin-bottom: 15px;
		
		img {
			width: @col-12;
		}
	}
	
	&__text-content {
		text-align: center;
		
		time {
			.font(@ff,0.8rem,2);
			color: #858c92;
		}
		
		a {
			display: inline-block;
			margin-bottom: 35px;
			.font(@ff,1rem);
			color: #068593;
			
			&:hover, &:active {
				text-decoration: underline;
			}
		}
		
		h3, h3 > a {
			margin-bottom: 3px;
			.font(@ff,1.2rem,1.2);
			color: #141414;
		}
		
		div {
			position: relative;
			padding-bottom: 30px;
			.font(@ff,0.9rem,1.3);
			color: #79797a;
			
			&::after {
				.before(auto,50%,auto,auto);
				content: "...";
				bottom: 0;
				transform: translateX(-50%);
				font-size: 36px;
				color: #cc2bda;
			}
		}
	}
	.drop._select-input{
		width: 95%;
		max-width: 420px;
		margin: auto;
		.drop__input{
			font-family: CenturyGothic, Arial, sans-serif;
			color: #336799;
			border-radius: 50px;
		}
		.drop__input::placeholder{
			text-align: center;
			color: #336799;
		}
	}
}