.advice-menu {
	
	padding-bottom: 100px;
	background: url(pics/sovet-vracha-main/advice-menu.jpg) 0 0 no-repeat;
	
	@media (max-width: 1199px) {
		padding-bottom: 50px;
		background: none;
	}
	
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container;
	}
	
	&__list {
		max-width: 750px;
		margin: 0 auto;
		padding-top: 35px;
		text-align: center;
		
		@media (max-width: 767px) {
			padding-top: 0;
			text-align: left;
		}
		
		li {
			display: inline-block;
			vertical-align: top;
			width: 200px;
			margin-bottom: 50px;
			text-align: center;
			
			@media (max-width: 767px) {
				width: @col-12;
				margin-bottom: 30px;
				text-align: left;
			}
		}
	}
	
	&__list-item {
		position: relative;
		display: block;
		min-height: 35px;
		padding-top: 120px;
		.font(@ff, 1rem);
		color: #787878;
		
		@media (max-width: 767px) {
			padding-top: 0;
			padding-left: 70px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 108px;
			height: 108px;
			.transition;
			
			@media (max-width: 767px) {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
			}
		}
		
		&:hover {
			font-weight: 700;
			color: darken(#787878, 10%);
			
			&::before {
				transform: translateX(-50%) translateY(-7px);
				
				@media (max-width: 767px) {
					transform: translateY(-50%);
				}
			}
		}
		
		&:active {
			color: darken(#4479b2, 20%);
		}
	}
	
	&__list-item-1::before {
		background: url(pics/sovet-vracha-main/menu-1.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-2::before {
		background: url(pics/sovet-vracha-main/menu-2.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-3::before {
		background: url(pics/sovet-vracha-main/menu-3.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-4::before {
		background: url(pics/sovet-vracha-main/menu-4.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-5::before {
		background: url(pics/sovet-vracha-main/menu-5.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
}