.abroad{
  .title(abroad, #4698d7, #99c6e9);

  &__img-bg-cont{
    position: relative;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;

    @media(max-width: 991px){
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
      }

      @media(max-width: 767px){
        background-color: rgba(255, 255, 255, .8);
      }
    }
    @media(max-width: 767px){
      height: 350px;
    }
  }
  &__txt-cont{
    display: inline-block;
    max-width: 840px;
    background-color: #bcd9ef;

    @media(min-width: 414px){
      min-width: 400px;
    }

    @media(min-width: 768px){
      min-width: 700px;
    }

    @media(min-width: 992px){
      margin-right: -70px;
    }

    @media(max-width: 767px){
      text-align: center;
      background-color: transparent;
    }

  }
  &__link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    font-size: 1.5rem;
    color: #000;

    @media(min-width: 640px){
      padding: 30px 70px 25px 50px;
    }

    @media(min-width: 992px){
      padding: 30px 250px 25px 50px;
    }


    &:hover{
      .abroad__colored{
        border-bottom-color: #175e94;
      }
    }
  }
  &__colored{
    font-family: MyriadPro, sans-serif;
    color: #175e94;
    border-bottom: 1px solid transparent;
    transition-property: border;
    transition-duration: .5s;
  }
  &__btn{
    @media(min-width: 768px){
      display: none;
    }
  }
}