.forum{
  display: block;
  height: 300px;
  background-image: url(pics/pravovaya-podderjka/forum/forum-bg.jpg);
  &__content{
    max-width: 510px;
    padding-left: 140px;
    @media (min-width: 1200px){
      transform: translate(-80%, -50%);
    }
    @media (max-width: 767px){
      padding-left: 70px;
    }
    &:before{
      background-image: url(pics/pravovaya-podderjka/forum/forum-ico.jpg);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      @media (max-width: 767px){
        width:  50px;
        height: 50px;
      }
    }
  }

  &__title{
    font-size: 2.8rem;
    color: #2662c7;
    @media (max-width: 767px){
      font-size: 1.8rem;
    }
  }

  &__text{
    font-size: 1.5rem;
    color: #000;
    @media (max-width: 767px){
      font-size: 1.2rem;
    }
  }
}