
.icons {
  padding-top: 20px;
  @media (min-width: 768px) {
    padding-top: 80px;
    background-image: url(pics/pravovaya-podderjka/icons/icons-bg.jpg);
    background-position: left;
  }
  &__content{
    float: none;
    margin: auto;
  }
  &__list{
    text-align-last: center;
  }
  &__link{
    padding-left: 60px;
    @media (min-width: 768px){
      padding-left:0;
    }
    &::before {
      width: 80px;
      height: 80px;
      background-size: 80px 80px;
      border-radius: 50%;
      @media (max-width: 767px){
        width: 40px;
        height: 40px;
        background-size: 60px 60px;
      }
    }

  }

  &__link-1::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-1.jpg);}
  &__link-2::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-2.jpg);}
  &__link-3::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-3.jpg);}
  &__link-4::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-4.jpg);}
  &__link-5::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-5.jpg);}
  &__link-6::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-6.jpg);}
  &__link-7::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-7.jpg);}
  &__link-8::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-8.jpg);}
  &__link-9::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-9.jpg);}
  &__link-10::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-10.jpg);}
  &__link-11::before  {background-image: url(pics/pravovaya-podderjka/icons/icons-11.jpg);}
}