.insurance {
  @media(min-width: 768px){
    background-image: url(pics/pravovaya-podderjka/insurance/insurance-bg.jpg);
    background-position: left;
    background-repeat: no-repeat;
  }
  .title(insurance, #109fa3, #a1c7c8);
  /*~~~custom styles for txt inner~~~*/
  .g-grid {
    max-width: 1000px;
    padding-top: 50px;
    &__link {
      width:  250px;
      height: 250px;
      @media(min-width: 768px){
        width:  310px;
        height: 310px;
      }
      &:hover{
        .g-grid__content{
          background-color: #409565;
        }
      }
    }
    &__content {
      bottom: 0;
      min-height: 70px;
      background-color: #1c5434;
      transition-property: background-color;
      transition-duration: .5s;
    }
    &__txt {
      position: absolute;
      .vertical-center;
      width: 100%;
      font-size: 1.125rem;
      color: #fff;
    }
  }
  /*~~~ END custom styles for txt inner~~~*/
}