.invalid{
  .title(invalid, #cd8509, #e4bc78);

  &__img-bg-cont{
    position: relative;
    height: 680px;
    margin-bottom: 50px;
    overflow: hidden;
    img{
      position: absolute;
      .center;
      z-index: -1;
      min-height: 100%;
      min-width: 100%;
      max-height: 120%;
    }
    @media(max-width: 991px){
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .8);
      }

    }
    @media(max-width: 767px){
      height: 500px;
    }

  }
  &__txt-cont{
    position: absolute;
    display: inline-block;
    .vertical-center;
    left: 50%;
    width: 95%;
    max-width: 400px;

    @media(max-width: 1199px){
      transform: translate(-50%,-50%);
    }
  }
  &__each-link{
    margin-bottom: 100px;
  }

  &__link{
    position: relative;
    padding-left: 150px;
    font-size: 1.5rem;
    color: #5d7b9f;
    @media(max-width: 767px){
      padding-left: 75px;
    }
    &:before{
      content: '';
      position: absolute;
      .vertical-center;
      left: 0;
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      @media(max-width: 767px){
        width: 50px;
        height: 50px;
      }
    }
    &._1:before{
      background-image: url(pics/pravovaya-podderjka/invalid/invalid-ico-1.jpg);
    }
    &._2:before{
      background-image: url(pics/pravovaya-podderjka/invalid/invalid-ico-2.jpg);
    }

    &:hover{
      .invalid__link-in{
        border-bottom-color: #175e94;
      }
    }
  }
  &__link-in{
    border-bottom: 1px solid transparent;
    transition-property: border;
    transition-duration: .5s;
  }
}