.legislation{
  .title(legislation, #4698d7, #99c6e9);

  &__txt-cont{
    max-width: 560px;
    background-color: rgba(37,27,23,.6);

    @media(max-width: 767px){
      text-align: center;
    }
  }
  &__link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 90px 15px 60px;
    font-size: 2.25rem;
    color: #fff;
    @media(max-width: 767px){
      padding: 30px;
      font-size: 1.4rem;
    }
    &:hover{
      .legislation__colored{
        border-bottom-color: #175e94;
      }
    }
  }
  &__link-in{
    @media(max-width: 767px){
      display: block;
    }
  }
  &__colored{
    font-family: MyriadPro, sans-serif;
    color: #175e94;
    border-bottom: 1px solid transparent;
    transition-property: border;
    transition-duration: .5s;
  }
  &__btn{
    @media(min-width: 768px){
      display: none;
    }
  }
}