.motherhood-prav{
  background-image: url(pics/pravovaya-podderjka/motherhood/motherhood-bg.jpg);
  background-position: center;
  .title(frame-grid-float, #d175ce, #e6b3e4);
  .frame-grid-float{
    &__link{
      max-width: 240px;
      width: 100%;
      &:after{
        top: -13px;
        width: 240px;
        height: 240px;
        padding: 13px;
        background-image: linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
        linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
        linear-gradient(to bottom, #d5d6d6 8px, transparent 8px),
        linear-gradient(to bottom, #d5d6d6 8px, transparent 8px);
        background-size: 100% 100px, 100% 100px, 100px 100%, 100px 100%;
        background-position: -4px -30%, -4px 130%, -30% -4px, 130% -4px;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      }
      &:hover{
        &:after{
          background-image: linear-gradient(to right,  #d175ce 8px, transparent 8px),
          linear-gradient(to right,  #d175ce 8px, transparent 8px),
          linear-gradient(to bottom, #d175ce 8px, transparent 8px),
          linear-gradient(to bottom, #d175ce 8px, transparent 8px);
        }
        .frame-grid-float__desc{
          color: #d175ce;
        }
      }
    }
    &__pic{
      max-width: 215px;
      height: 215px;
    }
    &__desc{
      color: #4b4b4e;
      font-size: 20px;
    }
  }
}
