.news-tabs {
  .title(news-tabs, #0f9fa2, #a1c7c8);
  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #0f9fa2;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #0f9fa2 transparent transparent;
        }
      }
    }
  }
  &__content {
    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }
    }
  }
}