.security{
  .title(security, #a8b609, #cfd778);
  &__content {
    width: 95%;
    max-width: 1600px;
    margin: auto;
    padding-top: 80px;
  }

  &__desc{
    display: table-cell;
    vertical-align: middle;
    padding-left: 50px;
    padding-right: 20px;
    @media(max-width: 1440px) and (min-width: 1200px){
      padding-left: 30px;
    }
    @media(max-width: 767px){
      display: block;
      padding: 0;
    }
  }
  &__desc-head{
    margin-bottom: 20px;
    font-family: MyriadPro, sans-serif;
    font-size: 1.5rem;
    color: #000;
    @media(max-width: 1440px) and (min-width: 1200px){
      font-size: 1.2rem;
    }
    @media(max-width: 767px){
      text-align: center;
      margin-bottom: 0;
    }
  }
  &__desc-in{
    color: #5b5b5b;
  }

  /*~~~custom styles for txt_right~~~*/
  .g-grid{
    max-width: 1600px;
    padding-top: 50px;
    &__ul{
      vertical-align: middle;
    }
    &__li{
      vertical-align: middle;
    }
    &__img-cont{
      width: 200px;
      height: 200px;
      @media(min-width: 992px){
        width: 150px;
        height: 150px;
      }
      @media(min-width: 1440px){
        width: 250px;
        height: 250px;
      }
    }
    &__content{
      padding-top: 0;
      font-size: 1rem;
      @media(min-width: 768px){
        width: ~'calc(100% - 200px)';
      }

      @media(min-width: 992px){
        width: ~'calc(100% - 150px)';
      }
      @media(min-width: 1440px){
        width: ~'calc(100% - 250px)';
      }
    }

  }
  /*~~~END custom styles for txt_right~~~*/
}
