.where-apply{
  .title(where-apply, #be4a2b, #db9c8b);
  &__cont{
    max-width: 1760px;
    margin: auto;
  }

  &__grid{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0;
    text-align: center;
  }
  &__col{
    display: inline-block;
    vertical-align: top;


    &._fix-width{
      width: 22.1%;
      max-width: 425px;
      min-width: 350px;
      @media(max-width: 991px){
        max-width: none;
        min-width: 0;
        width: 100%;
      }
    }
    &._fluid{
      float: right;
      width: 77.9%;
      max-width: ~'calc(100% - 425px)';
      padding-top: 100px;
      @media(max-width: 991px){
        float: none;
        max-width: none;
        min-width: 0;
        width: 100%;
        padding-top: 50px;
      }
    }
  }
  &__inner-grid{
    width: 97%;
    margin-left: 3%;
    font-size: 0;
    text-align: center;
    @media(max-width: 767px){
      text-align: left;
    }
  }
  &__inner-col{
    position: relative;
    display: inline-block;
    width: 25%;
    margin-bottom: 30px;
    vertical-align: top;
    font-size: 1.5rem;

    @media(max-width: 1199px)and(min-width: 992px){
      width: 50%;
    }
    @media(max-width: 991px)and(min-width: 768px){
      width: 25%;
    }
    @media(max-width: 767px){
      width: 100%;
    }
  }
  &__link{
    &:hover .where-apply__ico{
      transform:  translateY(-7px);
    }
  }
  &__h3-ico{
    position: absolute;
    .horizontal-center;
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
    color: #000;

    @media(max-width: 1440px){
      font-size: 1.3rem;
    }
    @media(max-width: 1199px){
      position: relative;
    }
    @media(max-width: 1440px)and(min-width: 992px){
      display: block;
    }
    @media(max-width: 991px)and(min-width: 768px){
      display: inline-block;
    }
    @media(max-width: 767px){
      position: static;
      top: auto;
      left: auto;
      transform: none;
      display: inline-block;
      width: ~'calc(100% - 70px)';
      margin: 0;
      vertical-align: middle;
    }
  }
  &__ico{
    width: 250px;
    height: 250px;
    margin: auto;
    background-image: url(pics/pravovaya-podderjka/where-apply/where-icons.jpg);
    background-size: auto 100%;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: .3s;
    @media(max-width: 1440px){
      width:  150px;
      height: 150px;
    }
    @media(max-width: 767px){
      display: inline-block;
      margin: 0;
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }
    &._1{background-position-x: 0}
    &._2{background-position-x: 300%}
    &._3{background-position-x: 200%}
    &._4{background-position-x: 100%}
  }


  &__btn-go{
    margin-top: 70px;

    @media(max-width: 991px){
      margin-top: 30px;
    }
  }
}