.interesting-facts {
  &__wrapper {
    padding-bottom: 50px;
    background:
            url(pics/childhood-diseases/diseases-bg.jpg) bottom right no-repeat,
            url(pics/childhood-diseases/diseases-wp.jpg) top left no-repeat;
    background-size: contain;

    @media (max-width: 991px) {
      background: url(pics/childhood-diseases/diseases-bg.jpg) top right no-repeat;
      background-size: cover;
    }
  }
  &__title {
    margin-bottom: 85px;
    .font(@ff, 24px, 1.1, normal, bold);
    text-align: center;
    color: @childhood-diseases-3;

    @media (max-width: 991px) {
      margin-top: 100px;
      margin-bottom: 65px;
    }

    @media (max-width: 480px) {
      margin-top: 100px;
      margin-bottom: 45px;
    }
  }
  &__img-wrap::before {
    background-image: url(pics/childhood-diseases/img-frame_center.png);
  }
  &__item {
    @media (min-width: 1024px) {
      &:nth-child(odd) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/childhood-diseases/img-frame_left.png);
          }
        }
        p{
          &::after {
            left: -5px;
          }
        }
      }

      &:nth-child(even) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/childhood-diseases/img-frame_right.png);
          }
        }
        p{
          &::after {
            left: initial;
            right: -5px;
          }
        }
      }
    }
  }

  &__text-content {

    a > h3 {
      margin-bottom: 15px;
      padding: 0;
      .font(@ff, 1.5rem, 1.2);
      color: @childhood-diseases-3;
      .transition;
      @media (max-width: 767px) {
        .font(@ff, 1.3rem, 1.2);
      }

      &:hover {
        color: lighten(@childhood-diseases-3, 10%);
      }

      &:active, &:focus {
        color: lighten(@childhood-diseases-3, 20%);
      }
    }
    .font(@ff, 1.1rem, 1.2);
    color: @childhood-diseases-4;

    p{
      position: relative;
      &::after {
        content: "...";
        position: absolute;
        font-size: 60px;
        line-height: 25px;
        color: #6082c9;

        @media (max-width: 991px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }

    }
  }

}