.another-arts{
  &__head{
    color: #6389af;
    margin-bottom: 50px;
    @media (max-width: 991px){
      text-align: center;
      font-size: 2rem;
    }
  }
  .art-grid{
    margin-bottom: 20px;
    &__grid{
      width: 95%;
    }
    &__col{
      &._last{
        @media (max-width: 991px)and(min-width: 768px) {
          float: none;
          margin-left: 25%;
        }
      }
    }
    &__link{
      &:hover .art-grid__txt{
        border-bottom-color: #496dc1;
      }
    }
    &__img-cont{
      width: 330px;
      height: 330px;
      @media (max-width: 1199px) and (min-width: 768px) {
        width: 250px;
        height: 200px;
      }
      @media (max-width: 767px){
        width: 300px;
        height: 300px;
      }
      img{
        min-width:  100%;
        min-height: 100%;
        max-width:  120%;
        max-height: 120%;
      }
    }

    &__txt{
      font-size: 1.125rem;
      color: #496dc1;
    }
  }
}