.art-2{
  &__art-txt-cont{
    color: #4e4e4e;
    line-height: 28px;
    position: absolute;
    @media(max-width: 1199px){
      position: static;
      margin-bottom: 25px;
      text-align: justify;
    }
    h2{
      font-family: OpenSans, Arial, sans-serif;
      font-weight: 600;
      font-size: 1.875rem;
      color: #43719f;
      @media(max-width: 1199px){
        text-align: center;
      }
    }
  }

  &__link{
    position: relative;
    left: 6%;
    display: inline-block;
    font-size: 1.875rem;
    color: #8fb225;
    border-bottom: 1px solid transparent;
    transition-property: border;
    transition-duration: .5s;
    @media(max-width: 1199px){
      .horizontal-center;
    }
    @media(max-width: 767px){
      font-size: 1rem;
    }
    &:hover{
      border-bottom-color: #8fb225;
    }
  }
  &.services{
    .services__cont{
      max-width: 1350px;
      @media(max-width: 1199px){
        padding-top: 20px;
      }
    }
    .services__frame-txt{
      @media(max-width: 767px){

        margin-bottom: 20px;

      }
    }
    .services__cont>div:nth-child(odd){
      .art-2__art-txt-cont{
        max-width: 470px;
        @media(max-width: 1199px){
          max-width:none;
        }
      }
      .services__txt-cont{
        left: 53%;
        padding: 145px 0 0 80px;
        &:before{
          left: -225px;
          background-image: url(pics/right-food/services/apple-2.jpg);
          @media(max-width: 1400px)and(min-width: 1200px){
            left: -120px;
          }
          @media(max-width: 991px){
            left: -50px;
          }
        }
        @media(max-width: 1400px)and(min-width: 1200px){
          left: 50%;
          max-width: 50%;
          padding:  50px 10px 50px 150px;
        }
        @media(max-width: 1199px){
          left: 30%;
        }
        @media(max-width: 991px){
          .horizontal-center;
        }
        @media(max-width: 991px)and (min-width: 768px){
          padding: 115px 0 0 225px;
        }
        @media(max-width: 767px){
          padding:20px 10px 20px 10px
        }
      }

      .services__head{
        &:after{
          display: none;
        }
        &:before{
          display: none;
        }
      }
      .services__txt{
        font-size: 1.25rem;
      }
    }

    .services__cont>div:nth-child(even){
      .art-2__art-txt-cont{
        max-width: 600px;
        right: 0;
        @media(max-width: 1400px)and(min-width: 1200px){
          max-width: 50%;
        }
        @media(max-width: 1199px){
          max-width:none;
        }
      }
      .services__txt-cont{
        padding: 115px 0 0 225px;
        &:before{
          left: -50px;
          background-image: url(pics/right-food/services/apple-1.jpg);

        }
        @media(max-width: 1400px)and(min-width: 1200px){
          max-width: 47%;
          padding:  50px 10px 50px 170px;
        }
        @media(max-width: 1199px){
          left: 10%;
        }
        @media(max-width: 991px){
          .horizontal-center;
        }
        @media(max-width: 767px){
          padding:20px 10px 20px 10px
        }
      }
      .services__head{
        &:before {
          display: none;
        }
        &:after{
          display: none;
        }
      }
      .services__txt{
        font-size: 1.8rem;
      }
    }
  }
}