.art-1{
  &__img-cont{
    img{
      max-width: 100%;
      margin: auto;
      margin-bottom: 35px;
    }
  }
  &__txt-cont{
    padding-left: 50px;
    color: #545454;
    line-height: 28px;
    text-align: justify;
    @media(max-width: 991px){
      padding-left: 0;
      line-height: normal;
    }
    h2{
      font-family: OpenSans, Arial, sans-serif;
      font-weight: 600;
      font-size: 1.875rem;
      color: #43719f;
      text-align: left;
      @media(max-width: 991px){
        text-align: center;
      }
    }
  }
  &__txt-1{
    padding-left: 15px;
    margin-bottom: 45px;
    @media(max-width: 991px){
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
}