.banner{
  margin-bottom: 30px;

  &__txt-cont{
    max-width: 600px;
    padding: 5px;
    text-align: justify;
    color: #fff;
    background-color: rgba(3,54,11,0.8);

    @media(min-width: 414px){
      font-size: 1.25rem;
      min-width: 400px;
    }

    @media(min-width: 992px){
      padding: 15px 45px;
      font-size: 1.875rem;
    }

  }
}