.head{
  position: relative;
  height: 540px;
  margin-bottom: 50px;
  background-image: url(pics/pitanie-statya/head/head-bg.jpg);
  background-size: cover;
  background-position: center;
  @media(max-width: 1440px){
    background-image: url(pics/pitanie-statya/head/head-bg-lg.jpg);

  }
  @media(max-width: 1440px)and (min-width: 1200px){
    background-position: left;
  }
  @media(max-width: 1199px){
    background-position: center;
  }
  @media(max-width: 991px){
    height: auto;
    padding: 50px 0;
  }

  &__h1{
    position: relative;
    .vertical-center;
    left: 33%;
    font-family: MyriadPro, Arial, sans-serif;
    font-weight: 300;
    font-size: 3.25rem;
    color: #594630;
    @media(max-width: 1199px){
      left: auto;
      text-align: center;
    }
    @media(max-width: 991px){
      position: static;
      transform: none;
      font-size: 2rem;
    }
  }
}