.mainBanner{
  h1{
    font-family: MyriadPro, Arial, sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    color: #594630;

    @media(min-width: 768px){

      font-size: 3.25rem;
    }
  }
}