.slider-block{
  margin-top: 80px;
  padding: 40px 0 30px 0;
  background-color: #e1e9db;
  @media(max-width: 991px){
    padding-top: 0;
  }
  &__cont{
    position: relative;
    width: 95%;
    max-width: 1310px;
    margin: auto;
  }
  &__head-1,&__head-2{
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.875rem;
    @media(max-width: 991px){
      text-align: center;
    }
  }

  &__head-1{
    position: absolute;
    top:-100px;
    color: #43719f;
    @media(max-width: 991px){
      top: -60px;
      width: 100%;
      text-align: center;
    }
  }
  &__head-2{
    margin-bottom: 30px;
    color: #476b28;
    @media(max-width: 991px){
      margin-bottom: 10px;
    }
  }
  &__desc-cont{
    margin-bottom: 50px;
  }
  &__col{
    position: relative;
    height: 320px;
    @media(max-width: 991px){
      height: 250px;
    }
  }
  &__txt-1{
    position: relative;
    .vertical-center;
    font-size: 1.125rem;
    line-height: 30px;
    @media(max-width: 767px){
      text-align: center;
    }
    h3{
      font-family: MyriadPro, Arial, sans-serif;
      color:#474747;
    }
  }
  &__img-cont{
    position: relative;
    overflow: hidden;
    z-index: 1;
    @media(max-width: 1199px){
      .vertical-center;
    }
    img{
      position: absolute;
      .center;
      z-index: 0;
      min-height: 100%;
      min-width: 100%;
      max-height: 120%;
      max-width: 120%;
    }
    &._big{
      width: 95%;
      height: 95%;
      max-width: 590px;
      max-height: 320px;
      @media(max-width: 991px){
        height: 80%;
      }
    }
    &._sm{
      float: left;
      width: 140px;
      height: 140px;
      margin-right: 40px;
      @media(max-width: 1199px){
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
      @media(max-width: 991px){
        margin-right: 5px;
      }
      @media(max-width: 767px){
        float: none;
        top: 0;
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
        .horizontal-center;
      }
    }
  }
  &__viewport{
    width: 87%;
    max-width: 1120px;
    margin: auto;

  }
  &__slick-prev, &__slick-next{
    width: 40px;
    height: 100px;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top:50%;
      display: block;
      width: 30px;
      height: 30px;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
  &__slick-prev{
    left: -80px;
    &:before{
      border-left: 4px solid #476b28;
      border-bottom: 4px solid #476b28;
    }

    @media(max-width: 1440px){
      left:-40px;
    }
    @media(max-width: 767px){
      left: -20px;
    }
  }
  &__slick-next{
    right: -80px;
    &:before{
      border-right: 4px solid #476b28;
      border-top: 4px solid #476b28;
    }

    @media(max-width: 1440px){
      right:-40px;
    }
    @media(max-width: 767px){
      right: -20px;
    }
  }
  &__item-cont{
    position: relative;
    width: 360px;
    height: 140px;
    @media(max-width: 1199px){
      height: 90px;
    }
    @media(max-width: 767px){
      height: auto;
    }
  }

  &__link{
    display: block;
    height: 100%;
    &:focus{
      outline: none;
    }
    &:hover,&:focus{
      .slider-block__name{
        color: #547439;
        border-bottom-color: #547439;
      }
    }
  }

  &__txt{
    position: relative;
    .vertical-center;
    float: left;
    width: ~"calc(100% - 180px)";
    padding-right: 20px;
    @media(max-width: 767px){
      float: none;
      position: static;
      transform: none;
      width: 100%;
      padding-right: 0;
      text-align: center;
    }
  }
  &__name{
    color:#1a0501;
    border-bottom: 1px solid transparent;
    transition-property: border,color;
    transition-duration: .5s;
    font-size: 1.125rem;
  }
}