@@include('./templates/header.html', {
    "css": "accessible-environment"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<section class="accessible-environment">
	<div class="accessible-environment__container">
		<div class="accessible-environment__title">
			<h1>Доступная среда</h1>
		</div>
		<div class="city-modal__link-wrap">
			<button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link">Выберите город <span class="caret city-modal__caret"></span></button>
		</div>
		<div id="myModal" class="city-modal__modal">
		</div>
		<div id="loading" style="display: none">
			Идет загрузка...
		</div>
		<ul class="accessible-environment__list">
			<li><a href="#competition" class="accessible-environment__list-item accessible-environment__list-item-1">Соревнования</a></li>
			<li><a href="#" class="accessible-environment__list-item accessible-environment__list-item-2">Концерты, шоу</a></li>
			<li><a href="#exposition" class="accessible-environment__list-item accessible-environment__list-item-3">Выставки</a></li>
			<li><a href="#spectacle" class="accessible-environment__list-item accessible-environment__list-item-4">Спектакли</a></li>
			<li><a href="#master-classes" class="accessible-environment__list-item accessible-environment__list-item-5">Мастер-классы</a></li>
			<li><a href="#meeting" class="accessible-environment__list-item accessible-environment__list-item-6">Встречи</a></li>
		</ul>
	</div>
</section>

<section id="competition" class="competition">
	<div class="competition__title">
		<h2>Соревнования:</h2>
	</div>
	<div class="competition__container">
		<div class="competition__items clearfix">
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису турнир по настольному теннису турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису турнир по настольному теннису турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
			<a class="competition__item">
				<div class="competition__item-content">
					<div class="competition__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="competition__img" width="370" height="220">
					</div>
					<div class="competition__text-content">
						<h3>Турнир по настольному теннису</h3>
					</div>
				</div>
			</a>
		</div>
		<div class="competition__link-wrap">
			<a href="#!" class="link-arrow">Перейти в раздел</a>
		</div>
	</div>
</section>

<section class="news-tabs" id="concerts">
  <div class="news-tabs__title">
		<h2>Концерты</h2>
	</div>
	@@include('./templates/news-tabs.html')
</section>

<section id="spectacle" class="spectacle">
	<div class="spectacle__title">
		<h2>Спектакли:</h2>
	</div>
	<div class="spectacle__container">
		<div class="spectacle__block-menu">
			<ul class="spectacle__list">
				<li><a href="#" class="spectacle__list-item">все</a></li>
				<li><a href="#" class="spectacle__list-item">в этом месяце</a></li>
				<li><a href="#" class="spectacle__list-item">ближайшие</a></li>
			</ul>
		</div>
		<div class="spectacle__items clearfix">
			<a href="#" class="spectacle__item">
				<div class="spectacle__item-wrap">
					<div class="spectacle__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="spectacle__img" width="370" height="220">
					</div>
					<div class="spectacle__text-content">
						<h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
						<p>Театр Буфф</p>
					</div>
				</div>
			</a>
			<a href="#"  class="spectacle__item">
				<div class="spectacle__item-wrap">
					<div class="spectacle__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="spectacle__img" width="370" height="220">
					</div>
					<div class="spectacle__text-content">
						<h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
						<p>Театр Буфф</p>
					</div>
				</div>
			</a>
			<a href="#" class="spectacle__item">
				<div class="spectacle__item-wrap">
					<div class="spectacle__img-wrap">
						<img src="http://placehold.it/370x220" alt="item" class="spectacle__img" width="370" height="220">
					</div>
					<div class="spectacle__text-content">
						<h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
						<p>Театр Буфф</p>
					</div>
				</div>
			</a>
		</div>
		<div class="spectacle__link-wrap">
			<a href="#!" class="link-arrow">Перейти в раздел</a>
		</div>
	</div>
</section>

<section id="meeting" class="meeting">
	<div class="meeting__title">
		<h2>Встречи:</h2>
	</div>
	<div class="meeting__container">
		<div class="meeting__items">
			<div class="meeting__item clearfix">
				<div class="meeting__block-img col-md-5">
					<div class="meeting__img-wrap">
						<img src="http://placehold.it/430x385" alt="item" class="meeting__img" width="430" height="385">
					</div>
				</div>
				<div class="meeting__text-content col-md-7">
					<div>Презентация нового романа Рината Валиуллина "Где валяются поцелуи". Автограф-сессия</div>
					<a href="">узнать больше ></a>
				</div>
			</div>
			<div class="meeting__item clearfix">
				<div class="meeting__block-img col-md-5 col-md-push-7">
					<div class="meeting__img-wrap">
						<img src="http://placehold.it/430x385" alt="item" class="meeting__img" width="430" height="385">
					</div>
				</div>
				<div class="meeting__text-content col-md-7 col-md-pull-5">
					<div>Презентация нового романа Рината Валиуллина "Где валяются поцелуи". Автограф-сессия</div>
					<a href="">узнать больше ></a>
				</div>
			</div>
		</div>
		<div class="meeting__link-wrap">
			<a href="#!" class="link-arrow">Перейти в раздел</a>
		</div>
	</div>
</section>

<section id="exposition" class="exposition">
	<div class="exposition__title">
		<h2>Выставки:</h2>
	</div>
	<div class="exposition__items">
		<div class="exposition__container">
				<div class="exposition__item exposition__item-left">
					<div class="exposition__text-content">
						<h3>В Русском музее открывается выставка "Василий Кандинский и Россия"</h3>
						<div>
							<p>16-18 мая 2016</p> 
							<p>С-Петербург</p> 
							<p>Русский музей</p>
						</div>
						<a href="#">dentima.ru</a>
						<a href="#" class="exposition__button">узнать больше ></a>
					</div>
				</div>
				<div class="exposition__item exposition__item-center">
					<div class="exposition__text-content">
						<h3>В Русском музее открывается выставка "Василий Кандинский и Россия"</h3>
						<div>
							<p>16-18 мая 2016</p> 
							<p>С-Петербург</p> 
						</div>
						<a href="#">dentima.ru</a>
						<a href="#" class="exposition__button">узнать больше ></a>
					</div>
				</div>
				<div class="exposition__item exposition__item-right">
					<div class="exposition__text-content">
						<h3>В Русском музее открывается выставка "Василий Кандинский и Россия"</h3>
						<div>
							<p>16-18 мая 2016</p> 
							<p>С-Петербург</p> 
						</div>
						<a href="#">dentima.ru</a>
						<a href="#" class="exposition__button">узнать больше ></a>
					</div>
				</div>
		</div>
	</div>
	<div class="exposition__link-wrap">
		<a href="#!">смотреть все выставки</a>
	</div>
</section>

<section id="master-classes" class="master-classes">
	<div class="master-classes__title">
		<h2>Мастер-классы:</h2>
	</div>
	<div class="master-classes__content">
			<div class="master-classes__slider slider">
				<div class="mainBanner master-classes__item">
					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>
					<div class="master-classes__content">
						<a href="#!" class="master-classes__link"></a>
					</div>
				</div>
				
				<div class="mainBanner master-classes__item">
					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>
					<div class="master-classes__content">
						<a href="#!" class="master-classes__link"></a>
					</div>
				</div>
				
				<div class="mainBanner master-classes__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>

					<div class="master-classes__content">
						<a href="#!" class="master-classes__link"></a>
					</div>
				</div>
			</div>



		<div class="g-grid _col-3 _cont-cent">
			<ul class="g-grid__ul">
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<h3>Открытое занятие "Баланс белого"</h3>
							<time datetime="2016-07-24T18:18">24 июля, 18:18</time>
							<p>Лавка мастера</p>
						</div>
					</a>
				</li>
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<h3>Открытое занятие "Баланс белого"</h3>
							<time datetime="2016-07-24T18:18">24 июля, 18:18</time>
							<p>Лавка мастера</p>
						</div>
					</a>
				</li>
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<h3>Открытое занятие "Баланс белого"</h3>
							<time datetime="2016-07-24T18:18">24 июля, 18:18</time>
							<p>Лавка мастера</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
	</div>
</section>

</main>

@@include('./templates/footer.html', {
    "js": "accessible-environment"
})