@@include('./templates/header.html', { "css": "birth" })
<span class="svginclude">
@@include('../source/svg/svg-birth.html')
</span>
<main class="main">

	@@include('./templates/breadcrumbs.html')

	<div class="icons icons__4">
		<div class="icons__container">
			<ul class="icons__list">

				<li class="icons__item">
					<a href="#preparation" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-podgotovka-k-rogdeniu"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Подготовка <br>к рождению ребенка
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#postpartum" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-poslerodovoj-period"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Послеродовой <br>период
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#note" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-na-zametku"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            На заметку
                        </span>
					</a>
				</li>

				<li class="icons__item">
					<a href="#obstructed-labor" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-oslogn-rodi"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Осложненные роды
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#breast-feeding" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-grudn-vskarmlivanie"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Грудное <br>вскармливание
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#caesarian" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-kesarevo"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Кесарево сечение
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#delivery-beginning" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-nachalo-rodov"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Начало родов
                        </span>
					</a>
				</li>

			</ul>

		</div>
	</div>



	<section id="preparation" class="preparation">
		<div class="preparation__title">
			<h2>Подготовка к рождению ребенка</h2>
		</div>
		<div class="preparation__content">
			<div class="preparation__container">
				<div class="clearfix">
					<div class="preparation__block-content col-sm-8 col-sm-offset-4">
						<p>Несмотря на свою естественность, роды — достаточно сложный и ответственный процесс. Для того, чтобы он прошел максимально безопасно для мамы и ребенка, каждой женщине необходимо знать как правильно подготовиться к родам.</p>
						<ul class="preparation__list">
							<li><a href="#!">Все, что нужно знать о заборе и хранении пуповинной крови</a></li>
							<li><a href="#!">Как узнать предполагаемую дату родов?</a></li>
							<li><a href="#!">Что взять с собой в роддом?</a></li>
							<li><a href="#!">Принадлежности, необходимые для кормления грудью</a></li>
						</ul>
					</div>
				</div>
				<div class="preparation__link">
					<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>

	<section id="delivery-beginning" class="delivery-beginning">
		<div class="delivery-beginning__title">
			<h2>Начало родов</h2>
		</div>
		<div class="delivery-beginning__content">
			<div class="delivery-beginning__container">
				<div class="clearfix">
					<ul class="delivery-beginning__list col-sm-8 col-sm-offset-3 col-md-6 col-md-offset-0 col-lg-5 col-lg-offset-1">
						<li>
							<a href="#!" class="delivery-beginning__list-item">
								<h3>Дыхание при родах:</h3>
								<p>как правильно дышать при схватках и потугах</p>
							</a>
						</li>
						<li>
							<a href="#!" class="delivery-beginning__list-item">
								<h3>Стимуляция родов:</h3>
								<p>естественная и медикаментозная</p>
							</a>
						</li>
						<li>
							<a href="#!" class="delivery-beginning__list-item">
								<h3>Схватки перед родами:</h3>
								<p>как понять, что они начались</p>
							</a>
						</li>
						<li>
							<a href="#!" class="delivery-beginning__list-item">
								<h3>Как отходят воды <br>перед родами</h3>
							</a>
						</li>
						<li>
							<a href="#!" class="delivery-beginning__list-item">
								<h3>Как проходят роды:</h3>
								<p>три основных этапа</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="delivery-beginning__link col-lg-6">
					<a href="#!" class="link-arrow _whiteBG">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>

	<section id="obstructed-labor" class="obstructed-labor">
		<div class="obstructed-labor__title">
			<h2>Осложненные роды</h2>
		</div>
		<div class="labor-slider slider">
			<div class="mainBanner _right-top labor-slider__item">
				<span data-picture="" data-alt="Камни в почках">
					<span data-src="http://placehold.it/414x414"></span>
					<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
					<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
					</noscript>
        		</span>

				<div class="mainBanner__content  labor-slider__content">
					<a href="#!">
						<h3>Слабость родовой деятельности:</h3>
						<p>причины и лечение</p>
					</a>
				</div>
			</div>
			<div class="mainBanner _right-top labor-slider__item">
				<span data-picture="" data-alt="Камни в почках">
					<span data-src="http://placehold.it/414x414"></span>
					<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
					<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
					</noscript>
        		</span>

				<div class="mainBanner__content  labor-slider__content">
					<a href="#!">
						<h3>Слабость родовой деятельности:</h3>
						<p>причины и лечение</p>
					</a>
				</div>
			</div>
			<div class="mainBanner _right-top labor-slider__item">
				<span data-picture="" data-alt="Камни в почках">
					<span data-src="http://placehold.it/414x414"></span>
					<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
					<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
					</noscript>
        		</span>

				<div class="mainBanner__content  labor-slider__content">
					<a href="#!">
						<h3>Слабость родовой деятельности:</h3>
						<p>причины и лечение</p>
					</a>
				</div>
			</div>

		</div>
	</section>

	<section id="caesarian" class="caesarian">
		<div class="caesarian__title">
			<h2>Кесарево сечение</h2>
		</div>


		<div class="interesting-facts__wrapper">

			<div class="interesting-facts__container">

				<div class="interesting-facts__items">

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/273x273" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">Несостоятельность маточного рубца после кесарева сечения</a>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/273x273" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">Несостоятельность маточного рубца после кесарева сечения</a>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/273x273" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">Несостоятельность маточного рубца после кесарева сечения</a>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/273x273" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">Несостоятельность маточного рубца после кесарева сечения</a>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/273x273" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">Несостоятельность маточного рубца после кесарева сечения</a>
						</div>
					</div>

				</div>


				<div class="caesarian__link">
					<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
				</div>

				@@include('./templates/banners.html')
			</div>


		</div>











	</section>
	<section id="breast-feeding" class="breast-feeding">
		<div class="breast-feeding__title">
			<h2>Грудное вскармливание</h2>
		</div>
		<div class="breast-feeding__content">
			<div class="breast-feeding__container clearfix">
				<div class="breast-feeding__text-content col-sm-6 col-sm-offset-6 col-lg-5 col-lg-offset-7">
					<ul class="breast-feeding__list">
						<li><a href="#!">Грудное вскармливание недоношенных детей</a></li>
						<li><a href="#!">Лучшие позы для кормления новорожденных</a></li>
						<li><a href="#!">Основные правила кормления новорожденных грудным молоком</a></li>
					</ul>
					<div class="clearfix">
						<div class="breast-feeding__link">
							<a href="#!" class="link-arrow  link-arrow_pink">перейти в раздел</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="postpartum" class="frame-grid-float postpartum">
		<div class="frame-grid-float__title">
			<h2>Послеродовый период</h2>
		</div>
		<div class="frame-grid-float__content wrap  clearfix">
			<div class="col-md-4 col-sm-6 frame-grid-float__item">
				<a href="#!" title="link" class="frame-grid-float__link">
                    <span class="frame-grid-float__border">
                    </span>
					<span class="frame-grid-float__pic">
                            <img src="http://placehold.it/270x270" alt="">
                        </span>

					<h3 class="frame-grid-float__desc">
						Послеродовый период
                    </h3>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 frame-grid-float__item">
				<a href="#!" title="link" class="frame-grid-float__link">
                    <span class="frame-grid-float__border">
                    </span>
					<span class="frame-grid-float__pic">
                            <img src="http://placehold.it/270x270" alt="">
                        </span>

					<h3 class="frame-grid-float__desc">
						Послеродовые растяжки
                    </h3>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 frame-grid-float__item">
				<a href="#!" title="link" class="frame-grid-float__link">
                    <span class="frame-grid-float__border">
                    </span>
					<span class="frame-grid-float__pic">
                            <img src="http://placehold.it/270x270" alt="">
                        </span>

					<h3 class="frame-grid-float__desc">
						Деликатная тема
                    </h3>
				</a>
			</div>

		</div>
		<a href="#!" class="link-arrow invalid__btn ">перейти в раздел</a>
	</section>





	<section id="note" class="note">
		<div class="note__title">
			<h2>На заметку</h2>
		</div>
		<div class="note__content">
			<div class="note-slider slider">

				<div class="mainBanner _right-bottom note-slider__item">
					<span data-picture="" data-alt="Камни в почках">
						<span data-src="http://placehold.it/414x414"></span>
						<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
						<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
						<noscript>
							<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
						</noscript>
        			</span>
					<div class="mainBanner__content note-slider__content">
						<a href="#!" class="note-slider__text-item note-slider__text-item-1">Может ли присутствие отца на родах</a>
						<a href="#!" class="note-slider__text-item note-slider__text-item-2">привести к осложнениям?</a>
					</div>
				</div>
				<div class="mainBanner _right-bottom note-slider__item">
					<span data-picture="" data-alt="Камни в почках">
						<span data-src="http://placehold.it/414x414"></span>
						<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
						<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
						<noscript>
							<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
						</noscript>
        			</span>
					<div class="mainBanner__content note-slider__content">
						<a href="#!" class="note-slider__text-item note-slider__text-item-1">Может ли присутствие отца на родах</a>
						<a href="#!" class="note-slider__text-item note-slider__text-item-2">привести к осложнениям?</a>
					</div>
				</div>
				<div class="mainBanner _right-bottom note-slider__item">
					<span data-picture="" data-alt="Камни в почках">
						<span data-src="http://placehold.it/414x414"></span>
						<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
						<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
						<noscript>
							<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
						</noscript>
        			</span>
					<div class="mainBanner__content note-slider__content">
						<a href="#!" class="note-slider__text-item note-slider__text-item-1">Может ли присутствие отца на родах</a>
						<a href="#!" class="note-slider__text-item note-slider__text-item-2">привести к осложнениям?</a>
					</div>
				</div>

			</div>
			<div class="note__link">
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
		</div>
	</section>
</main>

@@include('./templates/footer.html', { "js": "birth" })
