@@include('./templates/header.html', {
    "css": "birth-date"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-content">
  <div class="calc-wrapper">
		<section class="page-content n-page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="n-page-header__h1">Калькулятор предпологаемой даты родов</h1>
					</div>
				</div>
			</div>
		</section>
		<div class="page-content n-quoteblock">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<div class="n-quoteblock__quote">
							С калькулятором предполагаемой даты родов вы сможете приблизительно рассчитать
							день рождения вашего ребенка. Калькулятор производит расчет на основе вероятной
							даты зачатия, которая в свою очередь вычисляется, начиная с первого дня последней
							менструации.
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="page-content n-lastselect">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<form class="n-lastselect__form">
							<h2 class="n-lastselect__h2">
								Укажите первый день последней менструации:
							</h2>
							<div class="form-border">
								<div class="form-group">
									<select class="n-lastselect__formselect">
										<option value="">1</option>
										<option value="1">2</option>
										<option value="2">3</option>
										<option value="3">4</option>
									</select>
									<select class="n-lastselect__formselect">
										<option value="">октябрь</option>
										<option value="1">ноябрь</option>
										<option value="2">декабрь</option>
										<option value="3">январь</option>
									</select>
									<select class="n-lastselect__formselect">
										<option value="">2016</option>
										<option value="1">2017</option>
										<option value="2">2018</option>
										<option value="3">2019</option>
									</select>
								</div>
							</div>
							<button class="n-lastselect__button">
								узнать дату родов
							</button>
							<div class="n-lastselect__caption">
								Ваш ребенок появится на свет ориентировочно:
							</div>
							<div class="n-lastselect__birth">
								8 июля 2017
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

	  @@include('./templates/also-you-will-be-interested.html', {
	  "title": "Также Вам будет интересно"
	  })

	</div>
</div>

</main>

@@include('./templates/footer.html', {
    "js": "birth-date"
})