@@include('./templates/header.html', {
"css": "calculator-2-uroven"
})

<main class="main">
  @@include('./templates/breadcrumbs.html')

  <section class="calc-menu">
    <div class="row calc-menu__cont">
      <div class="col-sm-3 col-xs-6">
        <a href="#food" class="calc-menu__link">
          <div class="calc-menu__img-cont">
            <img src="img/calculator-2-uroven/menu/menu-img-1.jpg"
                 alt="правильное питание">
          </div>
          <h3 class="calc-menu__head"><span class="calc-menu__head-in">Питание</span></h3>
          <div class="calc-menu__hidden-cont">
            <div class="calc-menu__hidden-txt">
              Как известно, занятия спортом укрепляют тело и позволяют быть в хорошей
              физичес- кой форме. Именно регулярные физические нагрузки позволяют набрать мышечную массу, избавиться от
              лишних килограммов и обрести стройную фигуру.
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="#body" class="calc-menu__link">
          <div class="calc-menu__img-cont">
            <img src="img/calculator-2-uroven/menu/menu-img-2.jpg"
                 alt="стройная фигура">
          </div>
          <h3 class="calc-menu__head"><span class="calc-menu__head-in">Ваше тело</span></h3>
          <div class="calc-menu__hidden-cont">
            <div class="calc-menu__hidden-txt">
              Как известно, занятия спортом укрепляют тело и позволяют быть в хорошей
              физичес- кой форме. Именно регулярные физические нагрузки позволяют набрать мышечную массу, избавиться от
              лишних килограммов и обрести стройную фигуру.
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="#fitness" class="calc-menu__link">
          <div class="calc-menu__img-cont">
            <img src="img/calculator-2-uroven/menu/menu-img-3.jpg"
                 alt="пресс">
          </div>
          <h3 class="calc-menu__head"><span class="calc-menu__head-in">фитнес</span></h3>
          <div class="calc-menu__hidden-cont">
            <div class="calc-menu__hidden-txt">
              Как известно, занятия спортом укрепляют тело и позволяют быть в хорошей
              физичес- кой форме. Именно регулярные физические нагрузки позволяют набрать мышечную массу, избавиться от
              лишних килограммов и обрести стройную фигуру.
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-6">
        <a href="#for-moms" class="calc-menu__link">
          <div class="calc-menu__img-cont">
            <img src="img/calculator-2-uroven/menu/menu-img-4.jpg"
                 alt="Все для будущих мам">
          </div>
          <h3 class="calc-menu__head"><span class="calc-menu__head-in">Для будущих мам</span></h3>
          <div class="calc-menu__hidden-cont">
            <div class="calc-menu__hidden-txt">
              Как известно, занятия спортом укрепляют тело и позволяют быть в хорошей
              физичес- кой форме. Именно регулярные физические нагрузки позволяют набрать мышечную массу, избавиться от
              лишних килограммов и обрести стройную фигуру.
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section id="food" class="calc-food">
    <div class="calc-food__title">
      <h2 class="calc-food__title-content">Питание</h2>
    </div>

    <div class="calc-food__five-reasons-cont">
      <div class="five-reasons">
        <h2 class="five-reasons__reason-h2">5 причин <span class="five-reasons__sm">начать</span><span class="five-reasons__sm _green"> правильно питаться:</span></h2>
        <ol class="five-reasons__reas-list">
          <li class="five-reasons__li">Причина</li>
          <li class="five-reasons__li">Причина</li>
          <li class="five-reasons__li">Причина</li>
          <li class="five-reasons__li">Причина</li>
          <li class="five-reasons__li">Причина</li>
        </ol>
      </div>
    </div>

    <section class="services chess">

      <div class="services__cont">
        <div class="services__frame-txt">
          <div class="services__txt-cont frame-bord _gray-5px">
            <h3 class="services__head">Создавайте <span class="services__big">свое меню</span></h3>
            <div class="services__txt">с учетом продуктов, которые Вы любите</div>
            <a class="btn _tran _black services__btn" title="Создать меню">создать меню</a>
          </div>
        </div>

        <div class="services__frame-txt">
          <div class="services__txt-cont frame-bord _gray-5px">
            <h3 class="services__head">Какой продукт калорийнее?</h3>
            <div class="services__txt">проверь себя и проведи время с пользой</div>
            <a class="services__link" title="играть онлайн">online - игра</a>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div class="calory-info">
    <div class="calory-info__cont">
      <div class="calory-info__txt-cont">
        <ul class="calory-info__ul">
          <li class="calory-info__li">Что нужно знать о калориях?</li>
          <li class="calory-info__li">Какой Ваш суточный рацион</li>
          <li class="calory-info__li">Сколько нужно тратить калорий в день?</li>
          <li class="calory-info__li">Самые “опасные” продукты</li>
        </ul>
        <a class="btn _blue calory-info__btn" title="Создать меню">Калькулятор калорий</a>
      </div>
    </div>
  </div>

  <section class="calc-lose-weight _nobg">

    <div class="calc-lose-weight__cont">
      <div class="calc-lose-weight__frame-txt">
        <div class="calc-lose-weight__txt-cont frame-bord _gray-5px">
          <h3 class="calc-lose-weight__head">Худей правильно!</h3>
          <a class="btn _blue calc-lose-weight__btn" title="Калькулятор похудения">Калькулятор похудения</a>
        </div>
      </div>
    </div>
  </section>

  <section id="body" class="calc-lose-weight _bg-center">
    <div class="calc-lose-weight__title">
      <h2 class="calc-lose-weight__title-content">Ваше тело</h2>
    </div>
    <div class="calc-lose-weight__cont">
      <div></div>
      <div class="calc-lose-weight__frame-txt">
        <div class="calc-lose-weight__txt-cont frame-bord _gray-5px">
          <h3 class="calc-lose-weight__head">Узнай тип своего телосложения по обхвату запястья</h3>
          <a class="btn _blue calc-lose-weight__btn" title="Узнай тип своего телосложения">Узнать сейчас</a>
        </div>
      </div>
    </div>
  </section>

  <section class="calc-head">
    <div class="calc-head__cont">
      <h2 class="calc-head__head">Узнайте Ваш идеальный вес</h2>
      <div class="calc-head__switch-cont">
        <div class="calc-head__people-cont calc-head__man-cont _active"></div>
        <div class="calc-head__people-cont calc-head__woman-cont"></div>
        <div class="calc-head__btn calc-head__man-btn _active">Вы - мужчина</div>
        <div class="calc-head__btn calc-head__woman-btn">Вы - женщина</div>
      </div>
      <div class="calc-head__input-cont">
        <label class="calc-head__label" for="height">Ваш рост:</label>
        <input class="calc-head__input" id="height" type="number" placeholder="">
        <span class="calc-head__units">кг</span>
      </div>
      <div class="calc-head__input-cont">
        <label class="calc-head__label" for="weight">Ваш вес:</label>
        <input class="calc-head__input" id="weight" type="number" placeholder="">
        <span class="calc-head__units">см</span>
      </div>
    </div>
  </section>

  <section class="service-group">
    <div class="service-group__cont">
      <div id="fitness" class="_fitness service-group__each-cont">
        <div class="service-group__frame-txt">
          <div class="service-group__txt-cont frame-bord _gray-5px">
            <h3 class="service-group__head"><span class="service-group__big">ФИТНЕС:</span>Как набрать мышечную массу?
            </h3>
            <a class="btn _blue service-group__btn" title="Создать меню">Рассчитать калории для набора мышечной
              массы</a>
          </div>
        </div>
      </div>

      <div class="_physical service-group__each-cont">
        <div class="service-group__frame-txt ">
          <div class="service-group__txt-cont frame-bord _gray-5px">
            <h3 class="service-group__head"><span class="service-group__big">Узнать все</span>о <span
                class="service-group__green">физическом состоянии </span>своего организма</h3>
            <a class="btn _blue service-group__btn" title="">калькулятор физического состояния</a>
          </div>
        </div>
      </div>

      <div class="_runner service-group__each-cont">
        <div class="service-group__frame-txt">
          <div class="service-group__txt-cont frame-bord _gray-5px">
            <h3 class="service-group__head"><span class="service-group__big">Сколько</span><span
                class="service-group__medium">калорий </span><span class="service-group__small">сжигается </span>во
              время бега или ходьбы?</h3>
            <a class="btn _blue service-group__btn" title="Узнать количество калорий">узнать прямо сейчас</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="calc-puls">
    <div class="calc-puls__cont">
      <div class="calc-puls__txt-cont">
        <ul class="calc-puls__ul">
          <li>Как определить допустимую норму физических нагрузок?</li>
          <li>Какой мой оптимальный пульс для занятий спортом?</li>
          <li>При каком пульсе начинается процесс жиросжигания?</li>
        </ul>
        <a class="btn _blue calc-puls__btn" title="">калькулятор пульса</a>
      </div>
      <a href="#!" class="link-arrow">перейти в раздел</a>
    </div>
  </div>

  <section id="for-moms" class="for-moms">
    <div class="for-moms__title">
      <h2 class="for-moms__title-content">Для будущих мам</h2>
    </div>
    <section class="service-group">
      <div class="service-group__cont">

        <div class="_calendar-pregnancy service-group__each-cont">
          <div class="service-group__frame-txt">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Календарь беременности</h3>
              <a class="btn _blue service-group__btn" title="календарь беременности">Посмотреть</a>
            </div>
          </div>
        </div>

        <div class="_pregnancy-age service-group__each-cont">
          <div class="service-group__frame-txt ">
            <div class="service-group__txt-cont _more-right frame-bord _gray-5px">
              <h3 class="service-group__head"><span class="service-group__big">Хотите узнать,</span>какой у Вас срок?</h3>
              <a class="btn _blue service-group__btn" title="рассчитать дату родов">определить срок беременности</a>
            </div>
          </div>
        </div>

        <div class="_decret-calc service-group__each-cont">
          <div class="service-group__frame-txt">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Быстро и просто<span class="service-group__big">рассчитать декретные</span></h3>
              <a class="btn _blue service-group__btn" title="посчитать декретные">Рассчитать</a>
            </div>
          </div>
        </div>

        <div class="_birth-date service-group__each-cont">
          <div class="service-group__left-txt">Интересно, <span class="service-group__sm">когда родится малыш?</span></div>
          <div class="service-group__frame-txt ">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Рассчет<span class="service-group__small">предполагаемой </span>даты родов</h3>
              <a class="btn _blue service-group__btn" title="рассчитать дату родов">Рассчитать дату</a>
            </div>
          </div>
        </div>

        <div class="_calc-hcg service-group__each-cont">
          <div class="service-group__frame-txt">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Калькулятор ХГЧ<span class="service-group__small">(Хорионический гонадотропин человека)</span></h3>
              <a class="btn _blue service-group__btn" title="рассчитать ХЧГ">Перейти</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="for-child">
    <div class="for-child__head-cont">
      <h2 class="for-child__head">Для самых маленьких</h2>
    </div>

    <section class="service-group">
      <div class="service-group__cont">

        <div class="_ideal service-group__each-cont">
          <div class="service-group__frame-txt">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Идеальная смесь:
                <span class="service-group__small">
                 Какие пропорции горячей
                и холодной воды нужны
                для оптимальной температуры
                смеси</span>
               </h3>
              <a class="btn _blue service-group__btn" title="Калькулятор детских смесей">Определить</a>
            </div>
          </div>
        </div>

        <div class="_calc-feed service-group__each-cont">
          <div class="service-group__frame-txt ">
            <div class="service-group__txt-cont frame-bord _gray-5px">
              <h3 class="service-group__head">Рассчет
                <span class="service-group__small">питания для детей</span>
                1го года жизни
              </h3>
              <a class="btn _blue service-group__btn" title="калькулятор прикорма">Калькулятор прикорма</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </section>

</main>

@@include('./templates/footer.html', {
"js": "calculator-2-uroven"
})