@@include('./templates/header.html', {
"css": "calc-decret"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<div class="decret-wrap">
	<div class="page-content n-page-header">
		<div class="wrap">
			<h1 class="n-page-header__h1 n-page-header__h1_decret">Таблица прикорма: расчет питания для детей 1-го года жизни</h1>
		</div>
	</div>
	<div class="page-content n-quoteblock n-quoteblock_decret clearfix">
		<div class="wrap">
			<div class="n-quoteblock__quote n-quoteblock__quote_decret col-md-10 col-md-offset-1">
				<p>Калькулятор декретных пособий предназначен для быстрого расчета выплат по беременности и родам</p>
				<p>Указывая в калькуляторе декретных пособий сумму дохода за расчетные годы, отдельно введите сумму за каждый год. Если же у Вас были нетрудоспособные дни за эти два года, то укажите их количество.</p>
			</div>
		</div>
	</div>
	<div class="decret-form">
		<div class="decret-form__container">
			<form action="post" class="decret-form__form">
				<div class="decret-form__block-1">
					<div class="decret-form__field-1">
						<label class="decret-form__label decret-form__label_table">Период декретного отпуска:</label>
						<div class="decret-form__select decret-form__select_table dropdown-selectwrap">
							<a href="#" class="decret-form__dropdownbtn decret-form__dropdownbtn_long dropdown-btn dropdown-toggle"  id="field-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span class="dropdown-select-text"></span>
								<span class="caret decret-form__caret"></span>
							</a>
							<ul class="decret-form__dropdownmenu decret-form__dropdownmenu_left dropdown-ul dropdown-menu" aria-labelledby="field-1">
								<li><a href="#">24 месяца</a></li>
								<li><a href="#">12 месяцев</a></li>
							</ul>
						</div>
					</div>
					<div class="decret-form__field-2">
						<label class="decret-form__label decret-form__label_table">Трудовой стаж за расчетные 2 года:</label>
						<div class="decret-form__select decret-form__select_table dropdown-selectwrap">
							<a href="#" class="decret-form__dropdownbtn decret-form__dropdownbtn_long dropdown-btn dropdown-toggle"  id="field-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span class="dropdown-select-text"></span>
								<span class="caret decret-form__caret"></span>
							</a>
							<ul class="decret-form__dropdownmenu decret-form__dropdownmenu_left dropdown-ul dropdown-menu" aria-labelledby="field-2">
								<li><a href="#">6 месяцев</a></li>
								<li><a href="#">5 месяцев</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="decret-form__block-2">
					<div class="decret-form__field-3">
						<label class="decret-form__label">Расчетные годы:</label>
						<div class="decret-form__field-wrap clearfix">
							<div class="decret-form__select decret-form__select_dashed dropdown-selectwrap">
								<a href="#" class="decret-form__dropdownbtn dropdown-btn dropdown-toggle"  id="field-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="dropdown-select-text"></span>
									<span class="caret decret-form__caret"></span>
								</a>
								<ul class="decret-form__dropdownmenu dropdown-ul dropdown-menu" aria-labelledby="field-3">
									<li><a href="#">2015</a></li>
									<li><a href="#">2016</a></li>
								</ul>
							</div>
							<span class="decret-form__dashed"> — </span>
							<div class="decret-form__select decret-form__select_dashed dropdown-selectwrap">
								<a href="#" class="decret-form__dropdownbtn dropdown-btn dropdown-toggle"  id="field-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="dropdown-select-text"></span>
									<span class="caret decret-form__caret"></span>
								</a>
								<ul class="decret-form__dropdownmenu dropdown-ul dropdown-menu" aria-labelledby="field-4">
									<li><a href="#">2015</a></li>
									<li><a href="#">2016</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="decret-form__field-4">
						<label class="decret-form__label">Сумма дохода за расчетные годы, в рублях:</label>
						<div class="decret-form__input-wrap clearfix">
							<input type="text" class="decret-form__input" value="100000">
							<input type="text" class="decret-form__input" value="500000">
						</div>
					</div>
					<div class="decret-form__field-5">
						<label class="decret-form__label">Количество дней нетрудоспособности за расчетные 2 года:</label>
						<input type="text" class="decret-form__input decret-form__input_value" value="20">
					</div>
					<div class="decret-form__field-6">
						<input type="submit" class="decret-form__btn" value="рассчитать">
						<input type="reset" class="decret-form__reset" value="сбросить данные ×">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="decret-result">
		<div class="decret-result__container">
			<div class="decret-result__content">
				<h2>Cумма декретных выплат:</h2>
				<div class="decret-result__input-wrap">
					<input type="text" class="decret-result__input" value="160 000 рублей">
				</div>
			</div>
		</div>
	</div>
</div>

<section class="decret-block mainBanner _right">
	<span data-picture="" data-alt="Камни в почках">
		<span data-src="http://placehold.it/414x414"></span>
		<span data-src="css/pics/calc-decret/decret-block-mob.jpg" data-media="(min-width: 414px)"></span>
		<span data-src="css/pics/calc-decret/decret-block.jpg" data-media="(min-width: 992px)"></span>
		<noscript>
			<img src="css/pics/calc-decret/decret-block.jpg" alt="" class="advice-banner__img">
		</noscript>
	</span>

	<div class="mainBanner__content decret-block__text-content">
		<h3>Расчет декретных в 2017 году</h3>
		<a href="#">узнать больше</a>
	</div>


</section>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</main>

@@include('./templates/footer.html', {
"js": "calc-decret"
})