@@include('./templates/header.html', {
    "css": "calories"
})

<main class="main">
	
@@include('./templates/breadcrumbs.html')
	
<div class="page-background">
		<section class="page-content n-page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="n-page-header__h1 gray">Калькулятор калорий</h1>
					</div>
				</div>
			</div>
		</section>
		<div class="n-page-desc">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<p class="n-page-desc__p">
							ККалькулятор калорий позволит вам рассчитать то количество энергии, которое необходимо ежедневно 
							получать вашему организму в   <span class="green">зависимости от вашего роста, веса, возраста и степени физической 
								активности (норма калорий).</span> Также этот вариант калькулятора калорий в результате расчёта выдаст 
							рекомендации по величине числа калорий, необходимой для снижения веса.
						</p>
					</div>
				</div>
			</div>
		</div>
		<section class="n-calcform">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<form class="n-calcform__form">
							<h2 class="n-calcform__h2">
								Заполните форму:
							</h2>
							<div class="form-border">
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Возраст</div>
										<div class="col-md-6 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<input type="text" class="n-calcform__input">
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Пол</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<label class="radio-container pull-left">
												<input type="radio" name="f1"  value="1" checked>
												<span class="radio-body"></span>
												<span class="radio-text">женский</span>
											</label>
											<label class="radio-container pull-right">
												<input type="radio" name="f1"  value="2">
												<span class="radio-body"></span>
												<span class="radio-text">мужской</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Вес</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<input type="text" class="n-calcform__input">
										</div>
										<div class="clearfix"></div>
										<div class="n-calcform__rightcaption">кг</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Рост</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<input type="text" class="n-calcform__input">
										</div>
										<div class="clearfix"></div>
										<div class="n-calcform__rightcaption">см</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Степень физической нагрузки</div>
										<div class="col-md-6 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<select class="n-calcform__select" >
												<option value="1">занятия фитнесом</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Результат в</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<label class="radio-container pull-left">
												<input type="radio" name="s1" value="1" checked>
												<span class="radio-body"></span>
												<span class="radio-text">ккал</span>
											</label>
											<label class="radio-container pull-right">
												<input type="radio" name="s1" value="2">
												<span class="radio-body"></span>
												<span class="radio-text">килоджоулях</span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">По формуле</div>
										<div style="text-align: left;" class="col-md-5 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<label class="radio-container">
												<input type="radio" name="a1"  value="1" checked>
												<span class="radio-body"></span>
												<span class="radio-text">Миффлина Сен-Жеора</span>
											</label>
											<label class="radio-container">
												<input type="radio" name="a1" value="2">
												<span class="radio-body"></span>
												<span class="radio-text">Харриса Бенедикта</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<button class="n-calcform__button">
								рассчитать
							</button>
							<div class="n-calcform__caption">
								Ваш результат готов!
							</div>
						</form>
					</div>
					<div class="col-md-4 col-sm-5">
						<p class="n-calcform__formula">
							<b>Формула Миффлина-Сан Жеора </b>
							– это одна из самых последних 
							формул расчета калорий для 
							оптимального похудения или 
							сохранения нормального веса. 
							Она была выведена 
							в 2005 году и все 
							чаще стала заменять 
							классическую формулу 
                     		Харриса-Бенедикта.
						</p>
						<p class="n-calcform__formula">
							<b>Формула Харриса-Бенедикта</b> - 
							классическая. Харрис и Бенедикт 
							показали, что число калорий, нуж-
							ных человеку каждый день, изменя-
							ется от таких показателей: базаль-
							ного метаболизма (BMR) и актив-
							ного метаболизма (AMR).
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="n-result">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-lg-7 col-md-9">
								<div class="n-result__block table">
									<table class="table">
										<tr>
											<td colspan="2">
												<b>Необходимое количество калорий:</b>
											</td>
										</tr>
										<tr>
											<td>Чтобы вес не менялся:</td>      
											<td>1939 ккал/день</td>
										</tr>
										<tr>
											<td>Суточная норма: </td>              
											<td>1551 ккал/день</td>
										</tr>
										<tr>
											<td>Для быстрого похудения:</td> 
											<td>1163 ккал/день</td>
										</tr>
									</table>
								</div>
								<button class="n-result__button position-left">
									<span class="btn-icon"></span>
									<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

	</div>

	</main>

@@include('./templates/footer.html', {
    "js": "calories"
})