@@include('./templates/header.html', {
"css": "childhood-diseases-all"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="notebook">
        <div class="notebook__cont">
            <div class="child-dis-all__row row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="dis-list dis-list_first">

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#blood-circulation" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color1">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color1"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color1">болезни кровообращения</span>
                                </div>
                            </a>
                        </li>


                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#gastroenterology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color2">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color2"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color2">гастроэтерология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#hematology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color3">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color3"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color3">гематология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#hypovitaminosis" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color4">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color4"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">

                                    <span class="dis-list__diseases-name dis-list__diseases-name_color4">гипоавитаминоз</span>

                                </div>
                            </a>
                        </li>


                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#dermatology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color5">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color5"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color5">дерматология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#childhood-infections" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color6">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color6"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color6">детские инфекции</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#neurology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color7">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color7"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color7">неврология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_first__list-item">
                            <a href="#oncology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color8">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color8"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color8">онкология</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">

                    <ul class="diseases-list dis-list_second">
                        <li class="dis-list__list-item dis-list_second__list-item dis-list_second__list-item_first ">
                            <a href="#ophthalmology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color9">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color9"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color9">офтальмология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item ">
                            <a href="#otorhinolaryngology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color10">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color10"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color10">оториноларингология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#parasitology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color11">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color11"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color11">паразитология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#psychiatry" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color12">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color12"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color12">психиатрия</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#!" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color13">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color13"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color13">пульмонология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#stomatology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color14">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color14"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color14">стоматология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#urology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color15">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color15"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color15">урология</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#surgery" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color16">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color16"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color16">хирургия</span>
                                </div>
                            </a>
                        </li>

                        <li class="dis-list__list-item dis-list_second__list-item">
                            <a href="#endocrinology" class="dis-list__link">
                                <div class="dis-list__circle dis-list__circle_out dis-list__circle_out_color17">
                                    <div class="dis-list__circle  dis-list__circle_in dis-list__circle_in_color17"></div>
                                </div>

                                <div class="dis-list__diseases-name-cont">
                                    <span class="dis-list__diseases-name dis-list__diseases-name_color17">эндокринология</span>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

        </div>

    </div>


    <section id="blood-circulation" class="blood-circulation">

        <div class="blood-circulation__title">
            <h2 class="blood-circulation__title-content">Болезни кровообращения</h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="blood-circulation__dis-list list-dis-cont">
                <ul class="blood-circulation__list-dis list-dis-arrow">
                    <li class="blood-circulation__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont list-dis-arrow__dis-cont_color-1">
                                <span class="list-dis-arrow__dis-name">врожденный порок сердца</span>
                                <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_color-1 list-dis-arrow__sh-1_color-1"></div>
                                <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_color-1 "></div>
                            </div>
                        </a>

                    </li>

                    <li class="blood-circulation__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont list-dis-arrow__dis-cont_color-2">
                                <span class="list-dis-arrow__dis-name">ревматическая хорея</span>
                                <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_color-2 list-dis-arrow__sh-1_color-2"></div>
                                <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_color-2"></div>
                            </div>
                        </a>
                    </li>

                    <li class="blood-circulation__dis-item list-dis-arrow__dis-item">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont list-dis-arrow__dis-cont_color-3">
                                <span class="list-dis-arrow__dis-name">лимфаденит</span>
                                <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_color-3 list-dis-arrow__sh-1_color-3"></div>
                                <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_color-3"></div>
                            </div>
                        </a>
                    </li>
                </ul>

                <a href="#!" class="link-arrow link-arrow_blue _blood">перейти в раздел</a>
            </div>
        </div>


    </section>


    <section id="gastroenterology" class="gastroenterology">

        <div class="gastroenterology__title">
            <h2 class="gastroenterology__title-content">Гастроэнтерология</h2>
        </div>


        <div class="col-lg-6 col-lg-offset-6 col-md-7 col-md-offset-5 col-sm-8 col-sm-offset-4">
            <div class=" list-dis-cont">
                <ul class="gastroenterology__list-dis list-dis-arrow">
                    <li class="gastroenterology__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont gastroenterolog__name-cont list-dis-arrow__dis-cont_color-4">
                                <span class="list-dis-arrow__dis-name">гастрит</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-4 list-dis-arrow__sh-1_color-4"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-4"></div>
                            </div>
                        </a>
                    </li>

                    <li class="gastroenterology__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont list-dis-arrow__dis-cont_color-5">
                                <span class="list-dis-arrow__dis-name">дуоденит</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-5 list-dis-arrow__sh-1_color-5"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-5"></div>
                            </div>
                        </a>
                    </li>

                    <li class="gastroenterology__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont list-dis-arrow__dis-cont_color-6">
                                <span class="list-dis-arrow__dis-name">географический язык</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-6 list-dis-arrow__sh-1_color-6"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-6"></div>
                            </div>
                        </a>
                    </li>

                    <li class="gastroenterology__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont list-dis-arrow__dis-cont_color-7">
                                <span class="list-dis-arrow__dis-name">дискинезия желчевыводящих путей</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-7 list-dis-arrow__sh-1_color-7"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-7"></div>
                            </div>
                        </a>
                    </li>

                    <li class="gastroenterology__dis-item list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont list-dis-arrow__dis-cont_color-8">
                                <span class="list-dis-arrow__dis-name">лактазная недостаточность</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-8 list-dis-arrow__sh-1_color-8"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-8"></div>
                            </div>
                        </a>
                    </li>

                    <li class="gastroenterology__dis-item gastroenterology__dis-item_last list-dis-arrow__dis-item ">
                        <a href="#!" class="list-dis-arrow__dis-link">
                            <div class="list-dis-arrow__dis-cont gastroenterology__name-cont list-dis-arrow__dis-cont_color-9">
                                <span class="list-dis-arrow__dis-name">непереносимость глютена</span>
                                <div class="list-dis-arrow__sh-1_right list-dis-arrow__sh-1_right_color-9 list-dis-arrow__sh-1_color-9"></div>
                                <div class="list-dis-arrow__sh-2_right list-dis-arrow__sh-2_color-9"></div>
                            </div>
                        </a>
                    </li>


                </ul>

            </div>
        </div>

        <a href="#!" class="link-arrow _inline-cent  _whiteBG">перейти в раздел</a>

    </section>


    <section id="hematology" class="hematology ">

        <div class="hematology__title">
            <h2 class="hematology__title-content">Гематология</h2>
        </div>

        <div class="row child-dis-all__row">

            <div class="childhood-diseases-all__col col-lg-4 col-md-4">
                <div class="hematology__links-cont hematology__links-cont_first">
                    <div class="hematology__single-link-cont">
                        <a href="#!" class="hematology__link"><span class="hematology__disease">Анемия</span></a>
                    </div>
                    <div class="hematology__single-link-cont">
                        <a href="#!" class="hematology__link"><span class="hematology__disease">Гемофилия</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">

                <div class="hematology__cent-img-cont frame">
                    <img src="img/childhood-disease-all/hematology/hematology__image.png" alt="baby angel"
                         class="hematology__image">
                </div>


            </div>

            <div class="col-lg-4 col-md-4">
                <div class="hematology__links-cont hematology__links-cont_last">
                    <div class="hematology__single-link-cont">
                        <a href="#!" class="hematology__link"><span class="hematology__disease">Лейкоз</span></a>
                    </div>
                    <div class="hematology__single-link-cont">
                        <a href="#!" class="hematology__link"><span
                                class="hematology__disease">Тромбоцитопения</span></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>


    <section id="hypovitaminosis" class="hypovitaminosis">

        <div class="hypovitaminosis__title">
            <h2 class="hypovitaminosis__title-content">Гиповитаминоз</h2>
        </div>

        <div class="mainBanner _right">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content hypovitaminosis__content">
                <a href="#!" class="hypovitaminosis__link">
                    <span class="hypovitaminosis__content-title">Рахит:</span>
                    <span class="hypovitaminosis__content-description">все о рахите и способах его избежать</span>
                </a>
                <a href="#!" class="link-arrow _inline _whiteBG">перейти в раздел</a>
            </div>
        </div>


    </section>

    <section id="dermatology" class="dermatology">

        <div class="dermatology__title">
            <h2 class="dermatology__title-content">Дерматология</h2>
        </div>

        <div class="dermatology__cont">
            <div class="list-dis dermatology__list">
                <ul class="list-dis__list_double dermatology__ul">
                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text">Крапивница</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Потница</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Везикулопустулёз</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Фурункул и карбункул</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Абсцесс</span>
                        </a>
                    </li>


                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Атопический дерматит</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Витилиго</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Себорея</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Угри</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item">
                        <a href="#!" class="list-dis__link dermatology__link">
                            <span class="list-dis__text dermatology__text ">Экзема</span>
                        </a>
                    </li>
                </ul>

                <a href="#!" class="link-arrow link-arrow_blue _derm">перейти в раздел</a>

            </div>
        </div>


    </section>


    <section id="childhood-infections" class="childhood-infections">

        <div class="childhood-infections__title">
            <h2 class="childhood-infections__title-content">Детские инфекции</h2>
        </div>

        <div class="items-gallery childhood-infections__gallery">
            <div class="row childhood-infections__row items-gallery__row">
                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">
                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-1.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Корь</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">

                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-2.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Ветряная оспа</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">

                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-3.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Коклюш</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">

                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-4.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Краснуха</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">

                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-5.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Скарлатина</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="childhood-infections__col col-lg-4 col-md-4 col-sm-6">
                    <a href="#!" class="items-gallery__link childhood-infections__link">
                        <div class="childhood-infections__disease-cont items-gallery__item-cont">

                            <div class="items-gallery__img-cnt childhood-infections__img-cnt">
                                <img src="img/childhood-disease-all/childhood-infections/childhood-infections__image-6.jpg"
                                     alt="" class="items-gallery__image childhood-infections__image">
                            </div>
                            <span class="childhood-infections__disease-name items-gallery__name">Эпидемический паротит</span>
                            <div class="items-gallery__description-cont">
                                <p class="childhood-infections__disease-description items-gallery__description">острое
                                    инфекционное заболевание, характеризующееся лихорадкой, интоксикацией, ангиной и
                                    обильной точечной сыпью. Болеют чаще всего дети 2-10 лет.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    <section id="neurology" class="neurology">

        <div class="neurology__title">
            <h2 class="neurology__title-content">Неврология</h2>
        </div>


        <div class="list-dis neurology__list-cont">


            <ul class="list-dis__list  neurology__list">

                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Менингит</span>
                    </a>
                </li>
                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Нервный тик</span>
                    </a>
                </li>
                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Энцефалит</span>
                    </a>
                </li>
                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Гидроцефалия</span>
                    </a>
                </li>
                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Вегето-сосудистая дистония</span>
                    </a>
                </li>
                <li class="list-dis__list-item ">
                    <a href="#!" class="list-dis__link neurology__link">
                        <span class="list-dis__text neurology__text">Энцефалопатия</span>
                    </a>
                </li>


            </ul>
            <a href="#!" class="link-arrow link-arrow_blue _neur">перейти в раздел</a>
        </div>

    </section>


    <section id="oncology" class="oncology">

        <div class="oncology__title">
            <h2 class="oncology__title-content">Онкология</h2>
        </div>

        <section class="mainBanner _right oncology-banner">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/childhood-diseases-all/oncology/oncology-bg-1.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>

            <div class="mainBanner__content oncology-banner__content">
                <h3 class="oncology-banner__header">гемангиома у детей:</h3>
                <p class="oncology-banner__text">причины, симптомы, лечение</p>
                <a class="oncology-banner__link" href="#!">перейти в раздел</a>
            </div>

        </section>

        <section class="mainBanner _left oncology-banner">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/childhood-diseases-all/oncology/oncology-bg-2.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content oncology-banner__content">
                <h3 class="oncology-banner__header">мастоцитома:</h3>
                <p class="oncology-banner__text">причины, симптомы, лечение</p>
                <a class="oncology-banner__link" href="#!">перейти в раздел</a>
            </div>
        </section>


    </section>


    <section id="ophthalmology" class="ophthalmology">

        <div class="ophthalmology__title">
            <h2 class="ophthalmology__title-content">Офтальмология</h2>
        </div>

        <div class="row ophthalmology__row">

            <div class="ophthalmology__col col-lg-6 col-md-6">

                <div class="list-dis__list_double ophthalmology__list">
                    <ul class="list-dis__list ophthalmology__list_first ">

                        <li class="list-dis__list-item">
                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text ">Конъюнктивит</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Ячмень</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Близорукость</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Дакриоаденит</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Дальнозоркость</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Астигматизм</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Нистагм</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Дальтонизм</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Склерит</span>
                            </a>
                        </li>

                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Иридоциклит</span>
                            </a>
                        </li>
                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Травма глаза</span>
                            </a>
                        </li>
                        <li class="list-dis__list-item">

                            <a href="#!" class="list-dis__link ophthalmology__link">
                                <span class="list-dis__text ophthalmology__text">Косоглазие</span>
                            </a>
                        </li>
                    </ul>

                </div>
                <a href="#!" class="link-arrow _inline-cent link-arrow_blue _ophtal">перейти в раздел</a>
            </div>

        </div>


    </section>

    <section id="otorhinolaryngology" class="otorhinolaryngology">

        <div class="otorhinolaryngology__title">
            <h2 class="otorhinolaryngology__title-content">Оториноларингология</h2>
        </div>


        <div class="items-gallery otorhinolaryngology__gallery">
            <div class="row otorhinolaryngology__row otorhinolaryngology__row_first items-gallery__row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-1.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Трахеит&gt;</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-2.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Ларингит&gt;</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-3.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Тонзиллит&gt;</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-4.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Ринит&gt;</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-5.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Аллергический ринит&gt;</span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="#!" class="items-gallery__link otorhinolaryngology__link">
                        <div class="otorhinolaryngology__disease-cont items-gallery__item-cont items-gallery__item-cont_circle">
                            <div class="items-gallery__img-cnt otorhinolaryngology__img-cnt">
                                <img src="img/childhood-disease-all/otorhinolaryngology/circle-6.jpg"
                                     alt=""
                                     class="items-gallery__image items-gallery__image_circle otorhinolaryngology__image">
                            </div>
                            <span class="otorhinolaryngology__disease-name items-gallery__name">Фарингит&gt;</span>
                        </div>
                    </a>
                </div>


            </div>

            <a href="#!" class="link-arrow  link-arrow_blue _otorhino">перейти в раздел</a>

        </div>

    </section>

    <section id="parasitology" class="parasitology">

        <div class="parasitology__title">
            <h2 class="parasitology__title-content">Паразитология</h2>
        </div>

        <div class="list-dis parasitology__list-cont">


            <ul class="list-dis__list  parasitology__list">
                <li class="list-dis__list-item parasitology__list-item">
                    <a href="#!" class="list-dis__link parasitology__link">
                        <span class="list-dis__text parasitology__text ">Лямблиоз</span>
                    </a>
                </li>
                <li class="list-dis__list-item parasitology__list-item">
                    <a href="#!" class="list-dis__link parasitology__link">
                        <span class="list-dis__text parasitology__text">Грибковые заболевания</span>
                    </a>
                </li>
                <li class="list-dis__list-item parasitology__list-item">
                    <a href="#!" class="list-dis__link parasitology__link">
                        <span class="list-dis__text parasitology__text">Гельминтозы</span>
                    </a>
                </li>
                <li class="list-dis__list-item parasitology__list-item">
                    <a href="#!" class="list-dis__link parasitology__link">
                        <span class="list-dis__text parasitology__text">Педикулёз</span>
                    </a>
                </li>
                <li class="list-dis__list-item parasitology__list-item">
                    <a href="#!" class="list-dis__link parasitology__link">
                        <span class="list-dis__text parasitology__text">Чесотка</span>
                    </a>
                </li>


            </ul>
            <a href="#!" class="link-arrow  link-arrow_blue mar-top">перейти в раздел</a>
        </div>

    </section>

    <section id="psychiatry" class="psychiatry">
        <div class="psychiatry__title">
            <h2 class="psychiatry__title-content">Психиатрия</h2>
        </div>
        <div class="psychiatry__container  clearfix">

            <div class="psychiatry__content col-md-5 col-md-offset-7">
                <ul class="psychiatry__list">
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Компьютерная зависимость</a>
                    </li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Нервный стресс</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Умственная отсталость</a>
                    </li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Шизофрения</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Эпилепсия</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Анорексия</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Булимия</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Токсикомания</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Наркомания</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Алкоголизм</a></li>
                    <li class="psychiatry__list-item"><a class="psychiatry__link" href="#!">Никотиновая зависимость</a>
                    </li>
                </ul>

                <a href="#!" class="link-arrow  link-arrow_blue mar-top">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="stomatology" class="stomatology">
        <div class="stomatology__title">
            <h2 class="stomatology__title-content">Стоматология</h2>
        </div>
        <div class="mainBanner _left stomatology__container">

            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/childhood-diseases-all/stomatology/stomatology-bg.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="stomatology__content">
                    <ul class="stomatology__list">
                        <li class="stomatology__list-item">
                            <a class="stomatology__link" href="#!">
                                <span class="stomatology__disease">Стоматит&gt;</span>
                            </a>
                        </li>
                        <li class="stomatology__list-item">
                            <a class="stomatology__link" href="#!">
                                <span class="stomatology__disease">Нарушение прорезывания зубов&gt;</span>
                            </a>
                        </li>
                    </ul>
                    <a href="#!" class="link-arrow  link-arrow_blue mar-top">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="urology" class="urology">
        <div class="urology__title">
            <h2 class="urology__title-content">Урология</h2>
        </div>

        <div class="list-dis urology__list col-md-6 col-md-offset-4">


            <ul class="list-dis__list_double ">
                <li class="list-dis__list-item urology__list-item">
                    <a href="#!" class="list-dis__link urology__link">
                        <span class="list-dis__text urology__text urology__text ">Нефрит</span>
                    </a>
                </li>
                <li class="list-dis__list-item urology__list-item">
                    <a href="#!" class="list-dis__link urology__link">
                        <span class="list-dis__text urology__text ">Цистит</span>
                    </a>
                </li>
                <li class="list-dis__list-item urology__list-item">
                    <a href="#!" class="list-dis__link urology__link">
                        <span class="list-dis__text urology__text ">Почечная колика</span>
                    </a>
                </li>

                <li class="list-dis__list-item urology__list-item urology__sec-col">
                    <a href="#!" class="list-dis__link urology__link">
                        <span class="list-dis__text urology__text ">Вульвит</span>
                    </a>
                </li>

                <li class="list-dis__list-item urology__list-item">
                    <a href="#!" class="list-dis__link urology__link">
                        <span class="list-dis__text urology__text ">Баланопостит</span>
                    </a>
                </li>
            </ul>

            <a href="#!" class="link-arrow  link-arrow_blue mar-top">перейти в раздел</a>

        </div>
    </section>


    <section id="surgery" class="surgery">
        <div class="surgery__title">
            <h2 class="surgery__title-content">Хирургия</h2>
        </div>

        <ul class="surgery__list-dis list-dis-arrow">
            <li class="surgery__dis-item list-dis-arrow__dis-item">
                <a href="#!" class="list-dis-arrow__dis-link surgery__link">
                    <div class="list-dis-arrow__dis-cont surgery__dis-cont list-dis-arrow__dis-cont_grad-1">
                        <span class="list-dis-arrow__dis-name surgery__dis-name">Пупочная грыжа</span>
                        <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_glued list-dis-arrow__sh-1_left_gr-1 list-dis-arrow__sh-1_gr-1"></div>
                        <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_left_glued list-dis-arrow__sh-2_gr-1 "></div>
                    </div>
                </a>

            </li>

            <li class="surgery__dis-item list-dis-arrow__dis-item">
                <a href="#!" class="list-dis-arrow__dis-link surgery__link">
                    <div class="list-dis-arrow__dis-cont surgery__dis-cont list-dis-arrow__dis-cont_grad-1">
                        <span class="list-dis-arrow__dis-name surgery__dis-name">Аппендицит</span>
                        <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_glued list-dis-arrow__sh-1_left_gr-1 list-dis-arrow__sh-1_gr-1"></div>
                        <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_left_glued list-dis-arrow__sh-2_gr-1 "></div>
                    </div>
                </a>

            </li>
            <li class="surgery__dis-item list-dis-arrow__dis-item">
                <a href="#!" class="list-dis-arrow__dis-link surgery__link">
                    <div class="list-dis-arrow__dis-cont surgery__dis-cont list-dis-arrow__dis-cont_grad-1">
                        <span class="list-dis-arrow__dis-name surgery__dis-name">Мозоль</span>
                        <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_glued list-dis-arrow__sh-1_left_gr-1 list-dis-arrow__sh-1_gr-1"></div>
                        <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_left_glued list-dis-arrow__sh-2_gr-1 "></div>
                    </div>
                </a>

            </li>
            <li class="surgery__dis-item list-dis-arrow__dis-item">
                <a href="#!" class="list-dis-arrow__dis-link surgery__link">
                    <div class="list-dis-arrow__dis-cont surgery__dis-cont list-dis-arrow__dis-cont_grad-1">
                        <span class="list-dis-arrow__dis-name surgery__dis-name">Острый панкреатит</span>
                        <div class="list-dis-arrow__sh-1_left list-dis-arrow__sh-1_left_glued list-dis-arrow__sh-1_left_gr-1 list-dis-arrow__sh-1_gr-1"></div>
                        <div class="list-dis-arrow__sh-2_left list-dis-arrow__sh-2_left_glued list-dis-arrow__sh-2_gr-1 "></div>
                    </div>
                </a>

            </li>
            <li>
                <a href="#!" class="link-arrow  link-arrow_blue _surge">перейти в раздел</a>
            </li>

        </ul>
    </section>


    <section id="endocrinology" class="endocrinology">
        <div class="endocrinology__title">
            <h2 class="endocrinology__title-content">Эндокринология</h2>
        </div>
        <div class="endocrinology__col">

            <div class="list-dis__list endocrinology__list">

                <ul class="list-dis__list_double endocrinology__list_double">
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text endocrinology__text ">Гипотиреоз</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Тиреотоксикоз</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Сахарный диабет</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Тиреоидит</span>
                        </a>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Ожирение</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Синдром Жильбера</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Болезнь кленового сиропа</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Альбинизм</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Гипотрофия</span>
                        </a>
                    </li>

                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Болезнь кленового сиропа</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Синдром Криглера-Найяра</span>
                        </a>
                    </li>
                    <li class="list-dis__list-item endocrinology__list-item">
                        <a href="#!" class="list-dis__link endocrinology__link"><span
                                class="endocrinology__plus">+</span>
                            <span class="list-dis__text endocrinology__text ">Фенилкетонурия</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

</main>

@@include('./templates/footer.html', {
"js": "childhood-diseases-all"
})