@@include('./templates/header.html', {
    "css": "childhood-diseases"
})

<main class="main">
   
@@include('./templates/breadcrumbs.html')
    
	<div id="health" class="health">
		<div class="health__content">
			<div class="health__container">
				<ul class="health__list">
					<li><a href="#!" class="health__list-item  health__list-item-1">Детские болезни</a></li>
					<li><a href="#!" class="health__list-item  health__list-item-2">Диагностика и прививки</a></li>
					<li><a href="#!" class="health__list-item  health__list-item-3">Уход за детьми</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<section class="diseases interesting-facts">
		<div class="interesting-facts__wrapper">
			<div class="interesting-facts__container">
				<h1 class="interesting-facts__title">Уход за детьми</h1>
				<div class="interesting-facts__items">
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-1.png" alt="item-1">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Готовим “приданое” для ребенка</h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-2.png" alt="item-2">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Как подстричь малышу ногти</h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-3.png" alt="item-3">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Познавательное развитие ребенка 4 лет </h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-4.png" alt="item-4">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Ухаживаем за волосами малыша</h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-5.png" alt="item-5">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Купание новорожденного </h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-6.png" alt="item-6">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Уход за недоношенным ребенком</h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-7.png" alt="item-7">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!">
								<h3>Прогулки с детьми раннего возраста</h3>
							</a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
			
					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img class="interesting-facts__img" src="img/childhood-diseases/item-8.png" alt="item-8">
						</div>
						<div class="interesting-facts__text-content">
							<a href="#!"><h3>Уход за пупком ребенка </h3></a>
							<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
						</div>
					</div>
				</div>
				@@include('./templates/paginator.html')

		</div>

		</div>
	</section>
	
</main>
	
@@include('./templates/footer.html', {
    "js": "childhood-diseases"
})