@@include('./templates/header.html', {
"css": "children"
})
<span class="svginclude">
@@include('../source/svg/svg-children.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons icons__4">
        <div class="icons__container">
            <ul class="children__age">
                <li><a href="#!" class="children__age-item">&#60;1 года</a></li>
                <li><a href="#!" class="children__age-item">1-3 года</a></li>
                <li><a href="#!" class="children__age-item">3-7 лет</a></li>
                <li><a href="#!" class="children__age-item">&#62;7 лет</a></li>
            </ul>
            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#psychology" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-psihologiya"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Психология
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#childcare" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-det-uchregdeniya"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Детские
                        учреждения
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#development" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-planir_rebenka"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Развитие
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#icon-zdorove" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zdorove"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Здоровье
                        </span>
                    </a>
                </li>

                <li class="icons__item">
                    <a href="#fitness-children" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-det-fitnes"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                           Детский фитнес
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#vaccination-calendar" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-kalend_privivok"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                          Календарь
                        прививок
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#food" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-det_pitanie"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Детское питание
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#visit-doctor" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-v-gostyah-u-doct"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            В гостях у доктора
                        </span>
                    </a>
                </li>

                <li class="icons__item">
                    <a href="#mixture" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-online-servise"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            ONLINE - сервис
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#children-products" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-tovari-d-detey"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Выбираем с умом: <br>товары для детей
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="development" class="development">
        <div class="development__title">
            <h2 class="development__title-content">Развитие</h2>
        </div>
        <div class="development__content">
            <div class="development__container clearfix">
                <ul class="development__age col-xs-12 col-sm-6 col-sm-offset-6 col-lg-offset-4 col-lg-8">
                    <li><a href="#!" class="development__age-item">&#60;1 года</a></li>
                    <li><a href="#!" class="development__age-item">1-3 года</a></li>
                    <li><a href="#!" class="development__age-item">3-7 лет</a></li>
                    <li><a href="#!" class="development__age-item">&#62;7 лет</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="health" class="health">
        <div class="health__title">
            <h2 class="health__title-content">Здоровье</h2>
        </div>
        <div class="health__content">
            <div class="health__container frame-grid-float">
                <ul class="frame-grid-float__content clearfix">
                    <li class="frame-grid-float__item">
                        <a href="#!" class="frame-grid-float__link">
                            <span class="frame-grid-float__pic">
                                <img src="img/children/health-item-1.jpg" alt="">
                            </span>
                            <span class="frame-grid-float__desc">
                               Детские болезни
                            </span>
                        </a>
                    </li>
                    <li class="frame-grid-float__item">
                        <a href="#!" class="frame-grid-float__link">
                            <span class="frame-grid-float__pic">
                                <img src="img/children/health-item-2.jpg" alt="">
                            </span>
                            <span class="frame-grid-float__desc">
                              Диагностика и прививки
                            </span>
                        </a>
                    </li>
                    <li class="frame-grid-float__item">
                        <a href="#!" class="frame-grid-float__link">
                            <span class="frame-grid-float__pic">
                                <img src="img/children/health-item-3.jpg" alt="">
                            </span>
                            <span class="frame-grid-float__desc">
                               Уход за детьми
                            </span>
                        </a>
                    </li>
                    <li class="frame-grid-float__item">
                        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                    </li>

                </ul>
                <!--<div class="frame-grid-float__content clearfix">
                    <div class="col-md-4 col-sm-6 frame-grid-float__item">
                        <a href="#!" class="frame-grid-float__link">
                            <span class="frame-grid-float__pic">
                                <img src="img/pravovaya-podderjka/motherhood/motherhood-img-1.jpg" alt="">
                            </span>
                            <span class="frame-grid-float__desc">
                                материнский капитал
                            </span>
                        </a>
                    </div>
                </div>-->
            </div>
            @@include('./templates/banners.html')
        </div>
    </section>




    <section id="visit-doctor" class="visit-doctor">
        <div class="visit-doctor__title">
            <h2 class="visit-doctor__title-content">В гостях у доктора</h2>
        </div>

            <div class="mainBanner _right">
                <span data-picture="" data-alt="Камни в почках">
                    <span data-src="http://placehold.it/414x414"></span>
                    <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                    <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                    <noscript>
                        <img src="http://placehold.it/1920x450" alt="">
                    </noscript>
                </span>
                <div class="mainBanner__content visit-doctor__content">
                    <div class="visit-doctor__inner">
                        <div class="visit-doctor__text-content">
                            <p class="visit-doctor__quote">Кариес молочных зубов у ребенка:</p>
                            <p class="visit-doctor__advice">советы стоматолога</p>
                        </div>
                    </div>

                    <div class="visit-doctor__links">
                        <div class="visit-doctor__link">
                            <a href="#!" class="link-arrow  link-arrow_green  link-arrow_big">перейти в раздел</a>
                        </div>
                        <a href="#!" class="visit-doctor__link-text">смотреть все советы специалистов</a>
                    </div>

                </div>
            </div>

    </section>

    <section id="food" class="food">
        <div class="food__title">
            <h2 class="food__title-content">Питание</h2>
        </div>
        <div class="food__container">
            <div class="food__content">
                <ul class="food__list clearfix">
                    <li class=" col-lg-6 col-lg-offset-6"><a href="#!" class="food__list-item  food__list-item-1">Мамам
                        на заметку: рецепты</a></li>
                    <li class="col-lg-6"><a href="#!" class="food__list-item  food__list-item-2">Грудное вскармливание
                        > </a></li>
                    <li class=" col-lg-6 col-lg-offset-6"><a href="#!" class="food__list-item  food__list-item-3">Всё о
                        детском питании</a></li>
                    <li class="col-lg-6"><a href="#!" class="food__list-item  food__list-item-4">Смешанное вскармливание
                        и прикорм ></a></li>
                </ul>
                <div class="food__link">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    @@include('./templates/vaccination-calendar.html')

    <section id="mixture" class="mainBanner _left children-banner">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="">
            </noscript>
        </span>
        <div class="mainBanner__content">
            <div class="children-banner__content">
                <h4 class="children-banner__title">Идеальная смесь:</h4>
                <p class="children-banner__text">Какие пропорции горячей и холодной воды нужны для оптимальной
                    температуры смеси</p>
                <a href="#!" class="children-banner__link">Определить</a>
            </div>
        </div>
    </section>

    <section class="calculation">

        <div class="mainBanner _right children-banner">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="children-banner__content">
                    <h4 class="children-banner__title">Расчет</h4>
                    <p class="children-banner__text">питания для детей <br>1го года жизни</p>
                    <a href="#!" class="children-banner__link">калькулятор прикорма</a>
                </div>
            </div>
        </div>
        <div class="calculation__link-wrap">
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    <section id="fitness-children" class="fitness-children">
        <div class="fitness-children__title">
            <h2 class="fitness-children__title-content">Детский фитнес</h2>
        </div>
        <div class="fitness-children__container clearfix">
            <div class="fitness-children__content  col-md-offset-7 col-md-5">
                <div class="fitness-children__inner">
                    <ul class="fitness-children__list">
                        <li><a href="#!">Гибкость</a></li>
                        <li><a href="#!">Растяжка</a></li>
                        <li><a href="#!">Осанка: упражнения для тонуса мышц</a></li>
                        <li><a href="#!">Гимнастика для глаз</a></li>
                    </ul>
                </div>
                <div class="fitness-children__link-wrap">
                    <a href="#!" class="link-arrow  link-arrow_pink">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="psychology" class="psychology">
        <div class="psychology__title">
            <h2 class="psychology__title-content">Психология</h2>
        </div>
        <div class="psychology__container clearfix">
            <div class="psychology__content col-md-6">
                <div class="psychology__inner">
                    <ul class="psychology__list">
                        <li><a href="#!">Подросток и взрослый: что нужно знать, чтобы стать хорошим родителем
                            тинэйджеру?</a></li>
                        <li><a href="#!">6 ошибок воспитания</a></li>
                        <li><a href="#!">10 самых распространенных детских фобий</a></li>
                        <li><a href="#!">Лечение страхов с помощью чтения детских книг</a></li>
                        <li><a href="#!">Анималотерапия для детей</a></li>
                        <li><a href="#!">Я - сам! (кризис 3-х лет)</a></li>
                    </ul>
                </div>
                <div class="psychology__link-wrap">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="children-products" class="children-products">
        <div class="children-products__title">
            <h2 class="children-products__title-content">Выбираем с умом: товары для детей</h2>
        </div>
        <div class="children-products__container">
            <div class="children-products__content clearfix">
                <div class="children-products__inner clearfix">
                    <ul class="children-products__list col-lg-10 col-lg-offset-1">
                        <li class="children-products__list-item clearfix">
                            <div class="children-products__text-wrap-1 col-lg-push-6  col-lg-6">
                                <a href="#!" class="children-products__text-content  children-products__text-content-1">Выбираем
                                    пустышку для новорожденного</a>
                            </div>
                            <div class="children-products__img-wrap children-products__img-wrap-1 col-lg-pull-6 col-lg-6">
                            </div>
                        </li>
                        <li class="children-products__list-item  clearfix">
                            <div class="children-products__text-wrap-2  col-lg-6">
                                <a href="#!"
                                   class="children-products__text-content  children-products__text-content-l  children-products__text-content-2">Уютное
                                    гнездышко для малыша. Колыбель и люлька - хорошая альтернатива детской кроватке</a>
                            </div>
                            <div class="children-products__img-wrap children-products__img-wrap-2  col-lg-6">
                            </div>
                        </li>
                        <li class="children-products__list-item clearfix">
                            <div class="children-products__text-wrap-3 col-lg-push-6  col-lg-6">
                                <a href="#!" class="children-products__text-content  children-products__text-content-3">Как
                                    выбрать <br>детскую косметику для новорожденного?</a>
                            </div>
                            <div class="children-products__img-wrap children-products__img-wrap-3 col-lg-pull-6 col-lg-6">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="children-products__link-wrap">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
            </div>
        </div>
        @@include('./templates/banners.html')
    </section>

    <section id="childcare" class="childcare">
        <div class="childcare__title">
            <h2 class="childcare__title-content">Детские учреждения Вашего города</h2>
        </div>
        <div class="childcare__container  clearfix">
            <div class="childcare__city col-md-6">
                <p class="childcare__city-text">Выберите город: </p>
                <div class="childcare__select dropdown-selectwrap">
                    <a href="#" class="childcare__dropdownbtn dropdown-btn dropdown-toggle" id="childcare-city_select"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="dropdown-select-text"></span>
                        <span class="caret childcare__caret"></span>
                    </a>
                    <ul class="childcare__dropdownmenu dropdown-ul dropdown-menu"
                        aria-labelledby="childcare-city_select">
                        <li><a href="#!">Санкт - Петербург</a></li>
                        <li><a href="#!">Москва</a></li>
                    </ul>
                </div>
            </div>
            <div class="childcare__content col-md-6">
                <ul class="childcare__list">
                    <li><a href="#!">развивающие центры</a></li>
                    <li><a href="#!">детские сады</a></li>
                    <li><a href="#!">учебные учреждения</a></li>
                </ul>
            </div>
        </div>
    </section>

</main>

@@include('./templates/footer.html', {
"js": "children"
})
