@@include('./templates/header.html', {
    "css": "children-food"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
	<section id="food" class="food">
		<div class="food__title">
				<h2 class="food__title-content">Питание</h2>
		</div>
		<div class="food__container">
			<div class="food__content">
				<ul class="food__list clearfix">
					<li class=" col-lg-6 col-lg-offset-6"><a href="#!" class="food__list-item  food__list-item-1">Мамам на заметку: рецепты</a></li>
					<li class="col-lg-6"><a href="#!" class="food__list-item  food__list-item-2">Грудное вскармливание > </a></li>
					<li class=" col-lg-6 col-lg-offset-6"><a href="#!" class="food__list-item  food__list-item-3">Всё о детском питании</a></li>
					<li class="col-lg-6"><a href="#!" class="food__list-item  food__list-item-4">Смешанное вскармливание и прикорм ></a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="feeding">
		<div class="feeding__title">
			<h2 class="feeding__title-content">Грудное вскармливание</h2>
		</div>
		<div class="feeding__content">
			<div class="feeding__container">
				<div class="feeding__item clearfix">
					<div class="feeding__img-wrap col-lg-6 clearfix">
						<img src="img/children-food/feeding-1.png" alt="item-1" class="feeding__img feeding__img_left">
					</div>
					<div class="feeding__item-content col-lg-6">
						<h3>Основные правила кормления</h3>
						<a href="#!" class="feeding__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="feeding__item feeding__item_left clearfix">
					<div class="feeding__img-wrap feeding__img-wrap_right col-lg-push-6 col-lg-6">
						<img src="img/children-food/feeding-2.png" alt="item-2" class="feeding__img">
					</div>
					<div class="feeding__item-content feeding__item-content_left col-lg-pull-6 col-lg-6">
						<h3>Как оценить, достаточно ли ребенок получает молока</h3>
						<a href="#!" class="feeding__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="feeding__item feeding__item_last clearfix">
					<div class="feeding__img-wrap col-lg-6">
						<img src="img/children-food/feeding-3.png" alt="item-3" class="feeding__img feeding__img_left">
					</div>
					<div class="feeding__item-content col-lg-6">
						<h3>Гипогалактия (недостаток молока у матери) и причины ее возникновения</h3>
						<a href="#!" class="feeding__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="feeding__link-wrap">
					<a href="#!" class="link-arrow  link-arrow_purpur">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mixed-feeding">
		<div class="mixed-feeding__title">
			<h2 class="mixed-feeding__title-content">Смешанное вскармливание и прикорм</h2>
		</div>
		<div class="mixed-feeding__content">
			<div class="mixed-feeding__container">
				<div class="mixed-feeding__text-content clearfix">
					<ul class="mixed-feeding__list col-sm-6 col-sm-offset-6">
						<li><a href="#!">Прикорм ребенка: водить или не вводить</a></li>
						<li><a href="#!">Как вводить прикорм и чем кормить младенца?</a></li>
						<li><a href="#!">Чем кормить младенца и как ему готовить?</a></li>
						<li><a href="#!">Первый прикорм при смешанном вскармливании</a></li>
					</ul>
				</div>
			</div>
		</div>
		@@include('./templates/banners.html')
	</section>
	
	<section class="baby-food">
		<div class="baby-food__title">
			<h2 class="baby-food__title-content">Всё о детском питании</h2>
		</div>
		<div class="baby-food__content">
			<div class="baby-food__container">
				<div class="baby-food__item clearfix">
					<div class="baby-food__img-wrap col-lg-6">
						<img src="img/children-food/baby-food-1.png" alt="item-1" class="baby-food__img baby-food__img_left">
					</div>
					<div class="baby-food__item-content col-lg-6">
						<h3>Чем кормить ребенка от 6 до 12 месяцев</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__item baby-food__item_left clearfix">
					<div class="baby-food__img-wrap baby-food__img-wrap_right col-lg-push-6 col-lg-6">
						<img src="img/children-food/baby-food-2.png" alt="item-2" class="baby-food__img">
					</div>
					<div class="baby-food__item-content baby-food__item-content_left col-lg-pull-6 col-lg-6">
						<h3>Чем кормить детей от 1 до 3х лет</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__item clearfix">
					<div class="baby-food__img-wrap col-lg-6">
						<img src="img/children-food/baby-food-3.png" alt="item-3" class="baby-food__img baby-food__img_left">
					</div>
					<div class="baby-food__item-content col-lg-6">
						<h3>Какие фрукты можно давать ребенку до года</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__item baby-food__item_left clearfix">
					<div class="baby-food__img-wrap baby-food__img-wrap_right col-lg-push-6 col-lg-6">
						<img src="img/children-food/baby-food-4.png" alt="item-4" class="baby-food__img">
					</div>
					<div class="baby-food__item-content baby-food__item-content_left col-lg-pull-6 col-lg-6">
						<h3>Меню ребенка в 9 месяцев</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__item clearfix">
					<div class="baby-food__img-wrap col-lg-6">
						<img src="img/children-food/baby-food-5.png" alt="item-5" class="baby-food__img baby-food__img_left">
					</div>
					<div class="baby-food__item-content col-lg-6">
						<h3>Польза и вред шоколада для детей</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__item baby-food__item_left clearfix">
					<div class="baby-food__img-wrap baby-food__img-wrap_right col-lg-push-6 col-lg-6">
						<img src="img/children-food/baby-food-6.png" alt="item-6" class="baby-food__img">
					</div>
					<div class="baby-food__item-content baby-food__item-content_left col-lg-pull-6 col-lg-6">
						<h3>Меню школьника</h3>
						<a href="#!" class="baby-food__item-link">Узнать больше ></a>
					</div>
				</div>
				<div class="baby-food__link-wrap">
					<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "children-food"
})