
@@include('./templates/header.html', {
"css": "countries"
})

<main class="main">

	@@include('./templates/breadcrumbs.html')
	<div class="therapy-countries therapy-inner">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="page-divider"></div>
					<ul class="nav nav-tabs" >
						<li>
							<a href="#">
								<img src="css/pics/c1.png" alt="">
								<div class="therapy-countries__tabtext">Израиль</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="css/pics/c2.png" alt="">
								<div class="therapy-countries__tabtext">Австрия</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="css/pics/c3.png" alt="">
								<div class="therapy-countries__tabtext">Германия</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="css/pics/c4.png" alt="">
								<div class="therapy-countries__tabtext">США</div>
							</a>
						</li>
						<li class="active">
							<a href="#">
								<img src="css/pics/c5.png" alt="">
								<div class="therapy-countries__tabtext">Великобритания</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="css/pics/c6.png" alt="">
								<div class="therapy-countries__tabtext">Швейцария</div>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="css/pics/c7.png" alt="">
								<div class="therapy-countries__tabtext">Испания</div>
							</a>
						</li>
					</ul>
					<div class="therapy-countries__tabinner">
						<div class="row">
							<div class="col-md-4">
								<div class="therapy-countries__tabflag">
									<img src="css/pics/therapy/gb-flag.png" alt="">
								</div>
							</div>
							<div class="col-md-8">
								<div class="therapy-countries__head">
									Лечение рака в Великобритании:
								</div>
								<p class="therapy-countries__p">
									Великобритания – страна, в которой появилось само понятие медицинского туризма. Граждане Великобритании были вынуждены обращаться за оказанием качественных медицинских услуг в другие страны мира из-за учреждённой в 1948 году Национальной службы здравоохранения. С момента принятия данной реформы в Великобритании началась глобализация и рост стоимости медицинских услуг, хотя сама реформа предусматривала оказание качественной и бесплатной медицинской помощи всем жителям страны.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-header med-header">
		Медицнские центры
	</div>
	<div class="med">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-center">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-center">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-left">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-right">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-center">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
				<div class="col-md-6  col-sm-6">
					<a href="#" class="med__clinic pull-center">
						<div class=" clinic-img">
							<img src="http://placehold.it/200x200" alt="">
						</div>
						<div class=" clinic-desc">
							Cеть частных клиник Асклепиос
						</div>
						<div class="clinic-city">
							<i class="fa fa-map-marker"></i>
							Гамбург
						</div>
					</a>
				</div>
			</div>
			<div class="map"></div>
		</div>
	</div>

	@@include('./templates/banners.html')

	<div class="clinic-list">
		<div class="clinic-list__element">
			<div class="eye"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="clinic-list__img">
							<img src="http://placehold.it/280x280" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<a href="#!" class="clinic-list__name">Университетская клиника, г.Фрайбург</a>
						<div class="clinic-list__adress">
							IMS, University Medical Center Freiburg Robert-Koch-Str. 1, 79106 Freiburg, Germany, Фрайбург, Германия
						</div>
						<div class="clinic-list__rate clearfix">
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star">
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="clinic-list__desc">
							Университетская клиника Фрайбурга – немецкое медицинское учреждение, славящееся своей историей и авторитетом.
						</div>
						<div class="clinic-list__serv">
							<ul>
								<li>Визовая поддержка</li>
								<li>Встреча на реанимобиле</li>
								<li>Наличие личного куратора 24/7</li>
								<li>Русскоязычные сотрудники</li>
								<li>Трансфер из аэропорта</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clinic-list__element">
			<div class="eye"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="clinic-list__img">
							<img src="http://placehold.it/280x280" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<a href="#!" class="clinic-list__name">Университетская клиника, г.Фрайбург</a>
						<div class="clinic-list__adress">
							IMS, University Medical Center Freiburg Robert-Koch-Str. 1, 79106 Freiburg, Germany, Фрайбург, Германия
						</div>
						<div class="clinic-list__rate clearfix">
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star">
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="clinic-list__desc">
							Университетская клиника Фрайбурга – немецкое медицинское учреждение, славящееся своей историей и авторитетом.
						</div>
						<div class="clinic-list__serv">
							<ul>
								<li>Визовая поддержка</li>
								<li>Встреча на реанимобиле</li>
								<li>Наличие личного куратора 24/7</li>
								<li>Русскоязычные сотрудники</li>
								<li>Трансфер из аэропорта</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clinic-list__element">
			<div  class="eye"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="clinic-list__img">
							<img src="http://placehold.it/280x280" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<a href="#!" class="clinic-list__name">Университетская клиника, г.Фрайбург</a>
						<div class="clinic-list__adress">
							IMS, University Medical Center Freiburg Robert-Koch-Str. 1, 79106 Freiburg, Germany, Фрайбург, Германия
						</div>
						<div class="clinic-list__rate clearfix">
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star">
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="clinic-list__desc">
							Университетская клиника Фрайбурга – немецкое медицинское учреждение, славящееся своей историей и авторитетом.
						</div>
						<div class="clinic-list__serv">
							<ul>
								<li>Визовая поддержка</li>
								<li>Встреча на реанимобиле</li>
								<li>Наличие личного куратора 24/7</li>
								<li>Русскоязычные сотрудники</li>
								<li>Трансфер из аэропорта</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clinic-list__element woafter">
			<div class="eye"></div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="clinic-list__img">
							<img src="http://placehold.it/280x280" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<a href="#!" class="clinic-list__name">Университетская клиника, г.Фрайбург</a>
						<div class="clinic-list__adress">
							IMS, University Medical Center Freiburg Robert-Koch-Str. 1, 79106 Freiburg, Germany, Фрайбург, Германия
						</div>
						<div class="clinic-list__rate clearfix">
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star star-green">
								<i class="fa fa-star"></i>
							</div>
							<div class="star">
								<i class="fa fa-star"></i>
							</div>
						</div>
						<div class="clinic-list__desc">
							Университетская клиника Фрайбурга – немецкое медицинское учреждение, славящееся своей историей и авторитетом.
						</div>
						<div class="clinic-list__serv">
							<ul>
								<li>Визовая поддержка</li>
								<li>Встреча на реанимобиле</li>
								<li>Наличие личного куратора 24/7</li>
								<li>Русскоязычные сотрудники</li>
								<li>Трансфер из аэропорта</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="" class="see-all">
			смотреть все клиники
		</a>
	</div>
	<div class="page-header treatment">
		Лечение в Австралии
	</div>
	<div class="treatment">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<ul class="treatment__ul">
						<li>Лечение рака в Австрии;</li>
						<li>Лечение астмы в Австрии;</li>
						<li>Лечение позвоночника в Австрии;</li>
						<li>Лечение кардиологии в Австрии;</li>
						<li>Лечение гастроэнтерологических патологий;</li>
						<li>Роды в Австрии.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header resorts">
		Лечебные курорты
	</div>
	<div class="resorts">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="resorts__element">
						<img src="http://placehold.it/700x400" alt="">
						<div class="resorts__desc"><b>Баден</b> – термальный курорт Австрии, расположенный в 26 км. к югу от Вены. На курорте бьют 14 минерально-сернистых источников (30-36°C), <a href="">подробнее></a></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="resorts__element">
						<img src="http://placehold.it/700x400" alt="">
						<div class="resorts__desc"><b>Баден</b> – термальный курорт Австрии, расположенный в 26 км. к югу от Вены. На курорте бьют 14 минерально-сернистых источников (30-36°C), <a href="">подробнее></a></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="resorts__element">
						<img src="http://placehold.it/700x400" alt="">
						<div class="resorts__desc"><b>Баден</b> – термальный курорт Австрии, расположенный в 26 км. к югу от Вены. На курорте бьют 14 минерально-сернистых источников (30-36°C), <a href="">подробнее></a></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="resorts__element">
						<img src="http://placehold.it/700x400" alt="">
						<div class="resorts__desc"><b>Баден</b> – термальный курорт Австрии, расположенный в 26 км. к югу от Вены. На курорте бьют 14 минерально-сернистых источников (30-36°C), <a href="">подробнее></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-header diagnostics">
		Диагностика в Австрии:
	</div>
	<div class="diagnostics">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<ul class="text-right">
						<li><a href="">Обследование<br>опорно-двигательного<br>аппарата</a></li>
						<li><a href="">Аудиометрия</a></li>
						<li><a href="">Обследование кожи</a></li>
						<li><a href="">Маммография</a></li>
						<li><a href="">УЗИ | УЗИ сердца</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-md-offset-4">
					<ul>
						<li><a href="">Анализ крови</a></li>
						<li><a href="">КТ и МРТ</a></li>
						<li><a href="">Обследование сосудов</a></li>
						<li><a href="">ЭКГ</a></li>
						<li><a href="">Спирометрия</a></li>
						<li><a href="">Исследование сердечно-сосудистой системы</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>

@@include('./templates/footer.html', {
"js": "wrist"
})