@@include('./templates/header.html', {
    "css": "development"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
	<section id="development" class="development">
		<div class="development__title">
			<h2>Развитие</h2>
		</div>
		<div class="development__content">
			<div class="development__container clearfix">
				<ul class="development__age col-xs-12 col-sm-6 col-sm-offset-6 col-lg-offset-4 col-lg-8">
					<li><a href="#!" class="development__age-item">&#60;1 года</a></li>
					<li><a href="#!" class="development__age-item">1-3 года</a></li>
					<li><a href="#!" class="development__age-item">3-7 лет</a></li>
					<li><a href="#!" class="development__age-item">&#62;7 лет</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="interesting-facts">
		<div class="interesting-facts__wrapper">
			<div class="interesting-facts__container">
				<h2 class="interesting-facts__title">Развитие ребенка 3-7 лет</h2>
			</div>
			<div class="interesting-facts__container">
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-1.png" alt="item-1" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<a href="#!">
							<h3>Познавательное развитие ребенка 4 лет</h3>
						</a>
						<p>
							Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.
						</p>
					</div>
				</div>
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-2.png" alt="item-2" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<a href="#!"><h3>Речевое развитие ребенка в 3 года</h3></a>
						<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
					</div>
				</div>
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-3.png" alt="item-3" class="interesting-facts__img"></div>
					<div class="interesting-facts__text-content">
						<a href="#!"><h3>Познавательное развитие ребенка 4 лет</h3></a>
						<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
					</div>
				</div>
			
				<div class="interesting-facts__item">
				<div class="interesting-facts__img-wrap">
					<img src="img/development/item-4.png" alt="item-4" class="interesting-facts__img">
				</div>
				<div class="interesting-facts__text-content">
					<a href="#!"><h3>Особенности дошкольного возраста</h3></a>
					<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
				</div>
			</div>
			
				<div class="interesting-facts__item">
				<div class="interesting-facts__img-wrap">
					<img src="img/development/item-5.png" alt="item-5" class="interesting-facts__img">
				</div>
				<div class="interesting-facts__text-content">
					<a href="#!"><h3>Развиваем речь ребенка: домашний кинотеатр</h3></a>
					<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
				</div>
			</div>
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-6.png" alt="item-6" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<a href="#!"><h3>Музыкальное развитие</h3></a>
						<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
					</div>
				</div>
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-7.png" alt="item-7" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<a href="#!"><h3>Кубики зайцева</h3></a>
						<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
					</div>
				</div>
			
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="img/development/item-8.png" alt="item-8" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<a href="#!"><h3>Гаджеты: ЗА и ПРОТИВ</h3></a>
						<p>Ваш малыш пока не может выразить свои переживания словами. Поэтому, когда он хочет сообщить Вам что-либо или просто жаждет внимания, он начинает плакать.</p>
					</div>
				</div>
			
				@@include('./templates/paginator.html')

			</div>
		</div>
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "development"
})