@@include('./templates/header.html', { "css": "diabet-inner" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <section class="mainBanner _right">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="img/sovet-inner/advice-banner.jpg" data-media="(min-width: 992px)">
                <img alt="Камни в почках" src="img/sovet-inner/advice-banner.jpg"></span>
            <noscript>
                <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

        <div class="mainBanner__content">
            <h1>
                <strong>Сахарный диабет 2 типа:</strong>
                симптомы, лечение и питание
            </h1>
        </div>
    </section>

    @@include('./templates/socialprops.html')

    <div class="diabetInner__wrapper">
        <div class="wrap clearfix">
            <div class="diabetInner diabetInner__container">
                <h2>Определение</h2>
                <p>
                    Основное отличие сахарного диабета 1 типа от этого же заболевания 2 типа в том, что в первом случае
                    самостоятельная выработка инсулина практически полностью прекращена.
                </p>
                <p>
                    При обоих типах заболевания необходимо придерживаться строгой диеты.
                </p>
                <p>
                    Оптимальный рацион питания при сахарном диабете 2 типа ограничивает количество углеводосодер-
                    жащих продуктов.
                </p>
                <h2>Причины сахарного диабета 2 типа и группы риска</h2>
                <p>
                    Если кратко, то ответить на вопрос «что это такое – сахарный диабет 2 типа», можно следующим обра-
                    зом: при этом типе заболевания поджелудочная железа остается неповрежденной, но организм не может
                    усваивать инсулин, так как повреждены инсулиновые рецепторы на клетках.
                </p>
                <ul class="list__markerCircle">
                    <li>
                        <strong>Первая причина возникновения сахарного диабета 2 типа</strong> — естественное старение
                        организма: толерантность к глюкозе, то есть способность усваивать глюкозу, с возрастом умень-
                        шается у большинства людей. Однако у многих это снижение медленное, и уровень сахара в кро-
                        ви не выходит за пределы нормы. Но у тех, кто генетически предрасположен к этому, она снижает-
                        ся быстрее, и развивается сахарный диабет II типа.
                    </li>
                    <li>
                        <strong>Вторая причина сахарного диабета 2 типа</strong> — ожирение: при избыточном весе
                        нарушает-
                        ся состав крови, в ней повышается уровень холестерина, который откладывается на стенках сосудов,
                        вызывая атеросклероз. Разумеется, сосуды, перекрытые холестериновыми бляшками, хуже достав-
                        ляют кислород и питательные вещества к тканям и органам. В их клетках начинается кислородное
                        голодание, и они хуже усваивают инсулин и глюкозу.
                    </li>
                    <li>
                        <strong>Третья причина</strong> — избыточное потребление углеводов. Высокий уровень углеводов в
                        крови истощает
                        поджелудочную железу и повреждает инсулиновые рецепторы на клетках всех органов и тканей.
                    </li>
                </ul>

                <ul>
                    <li>
                        <h3>
                            <strong>В группу риска возникновения сахарного диабета 2 типа входят:</strong>
                        </h3>
                    </li>
                    <li>
                        люди, у которых родственники больны диабетом II типа;
                        люди с ожирением;
                    </li>
                    <li>
                        женщины с патологическими беременностями либо рожавшие детей массой более 4 кг;
                    </li>
                    <li>
                        люди, постоянно принимающие препараты глюкокортикоидов — аналоги гормонов коры надпочечников;
                    </li>
                    <li>
                        люди, страдающие болезнью Иценко-Кушинга — опухоль надпочечника — или акромегалией — опухоль
                        гипофиза;
                    </li>
                    <li>
                        люди с ранним (у мужчин до 40 лет, у женщин до 50 лет) развитием атеросклероза, гипертонической
                        болезни, стенокардии;
                    </li>
                    <li>
                        люди с ранним развитием катаракты;
                    </li>
                    <li>
                        люди, страдающие экземой, нейродермитом и другими аллергическими заболеваниями;
                    </li>
                    <li>
                        люди, у которых было однократное повышение сахара крови на фоне инфаркта, инсульта,
                        инфекционного заболевания или беременности.
                    </li>
                </ul>
            </div>

            <div class="diabetInner__sidebar">
                <div class="diabetInner__sidebar-title">
                    Популярное в разделе:
                </div>
                <a href="#" class="diabetInner__sidebar-item">
                    <div class="diabetInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="diabetInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
                <a href="#" class="diabetInner__sidebar-item">
                    <div class="diabetInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="diabetInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
                <a href="#" class="diabetInner__sidebar-item">
                    <div class="diabetInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="diabetInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
            </div>
        </div>
        <div class="mainBanner _left _otherInner">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="img/diabet-inner/maner1-sm.jpg"></span>
                <span data-src="img/diabet-inner/maner1-lg.jpg" data-media="(min-width: 1024px)"><img
                        alt="Камни в почках" src="img/sovet-inner/advice-banner.jpg"></span>
                <noscript>
                    <img src="img/diabet-inner/maner1-lg.jpg" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="diabetInner__banner-desc">
                    <div class="diabetInner__banner-text">Читайте также:</div>
                    <div class="diabetInner__banner-title">Развитие рака при диабете</div>
                    <a href="#!" title="читать" class="btn _tran _black">читать> </a>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="diabetInner">
                <h2>Основные симптомы сахарного диабета 2 типа</h2>
                <p>
                    На первый взгляд, основные симптомы сахарного диабета 2 типа те же, что и при сахарном диабете I
                    типа.
                </p>

                <ul class="noPadding">
                    <li>
                        <h3>
                            <strong>
                                Больные чувствуют:
                            </strong>
                        </h3>
                    </li>
                    <li>
                        выделение большого количества мочи днем и ночью;
                    </li>
                    <li>
                        жажду и сухость во рту;
                    </li>
                    <li>
                        ещё один признак сахарного диабета 2 типа — усиленный аппетит: <br>
                        потеря веса часто не заметна, так как у больных изначально избыточный вес;
                    </li>
                    <li>
                        кожный зуд, зуд в промежности, воспаление крайней плоти;
                    </li>
                    <li>
                        необъяснимую слабость, плохое самочувствие.
                    </li>
                </ul>

                <p>
                    Но есть и важное отличие — недостаточность инсулина не абсолютная, а относительная. Какое-то
                    количество все же взаимодействует с рецепторами,
                    и обмен веществ нарушается мало. Поэтому больной может долгое время не подозревать о своем
                    заболевании. Он чувствует незначительную сухость
                    во рту, жажду, кожный зуд, иногда болезнь может проявляться появлением гнойничковых воспалений на
                    коже и слизистых, молочницей, заболеваниями
                    десен, выпадением зубов, снижением зрения. Объясняется это тем, что сахар, не попавший в клетки,
                    уходит в стенки сосудов или через поры кожи. А на
                    сахаре прекрасно размножаются бактерии и грибки.
                </p>

                <p>
                    При проявлении симптомов сахарного диабета 2 типа лечение назначается только после сдачи анализов.
                    Если померить сахар в крови у таких больных,
                    обнаружится лишь его незначительное повышение до 8-9 ммоль/л натощак. Иногда натощак мы найдем
                    нормальный уровень глюкозы в крови, и лишь
                    после нагрузки углеводами он повысится. Сахар может появляться также в моче, но и это не
                    обязательно.
                </p>
            </div>
        </div>
        <div class="diabetInner">
            <div class="wrap">
                <h2>Норма сахара до и после еды</h2>
            </div>

            <div class="mainBanner _right _infoInner">
                <span data-picture="" data-alt="Камни в почках">
                    <span data-src="img/diabet-inner/maner2-sm.jpg"></span>
                    <span data-src="img/diabet-inner/maner2-lg.jpg" data-media="(min-width: 1024px)"><img
                            alt="Камни в почках" src="img/sovet-inner/advice-banner.jpg"></span>
                    <noscript>
                        <img src="img/diabet-inner/maner2-lg.jpg" alt="" class="advice-banner__img">
                    </noscript>
                </span>
                <div class="mainBanner__content">
                    <div class="diabetInner__banner-text">
                        При диабете 2 типа норма сахара в крови
                        до еды и после нее различны.
                        Эти показатели должны определяться утром
                        на голодный желудок и спустя 2-часовой
                        интервал после еды, соответственно.
                    </div>
                </div>
            </div>

            <div class="wrap">
                <h2>Интерпретация результата зависит от вида
                    исследуемого материала и времени приема пищи:
                </h2>
                <ol class="list__italicBold">
                    <li>
                        Натощак – 5,5 ммоль/л и менее в крови из пальца (цельная кровь)
                    </li>
                    <li>
                        Натощак – 6,1 ммоль/л и менее в капиллярной или венозной плазме
                        (получение материала производится в лаборатории путем пункции вены или скарификации пальца)
                    </li>
                    <li>
                        По прошествии 2-часового интервала после еды (при любом измерении) – 7.8 ммоль/л и менее, не
                        выше.
                    </li>
                </ol>

                <h2>
                    Лечение сахарного диабета 2 типа:
                </h2>

                <p>
                    Лечение сахарного диабета 2 типа включает в себя определенные составляющие.
                    В первую очередь это:
                </p>

                <ol>
                    <li>
                        Физическая активность, на фоне которой должно происходить снижение веса до нормальных цифр.
                        С этой целью рекомендовано плаванье, ходьба, бег. Интенсивность и время занятий необходимо
                        постепенно увеличивать. Физическая нагрузка снижает
                        инсулинорезистентность и уровень сахара в крови;
                    </li>
                    <li>
                        Диетотерапия;
                    </li>
                    <li>
                        Медикаментозное лечение сахароснижающими препаратами 4 основных групп. К первой группе относятся
                        препараты снижающие инсулинорези-
                        стентность (метформин, росиглитазон и др.). Ко второй группе относятся препараты, усиливающие
                        секрецию инсулина (репаглинид, натеглинид и др.).
                        К третьей группе принадлежат препараты, которые снижают всасывание моносахаридов в кровь через
                        кишечную стенку (гуаровая смола и акарбоза).
                        Представителями четвертой группы являются инсулины, которые замещают функцию поджелудочной
                        железы. На определенном этапе заболевания их
                        начинают получать половина пациентов.
                    </li>
                </ol>

            </div>
        </div>
        <div class="wrap">
            <div class="notice">
                <div class="notice__icon"></div>
                <div class="notice__text">
                    Показанием к назначению инсулина являются: осложнения заболевания, явные признаки нехватки инсулина
                    (похудение, осложнения, гиперглемия натощак более 15 ммоль/л и др.)
                </div>
            </div>
        </div>
    </div>

    <div class="diabetInner__footer">

        @@include('./templates/inner-tags.html')
        @@include('./templates/advice-feedback.html')
        @@include('./templates/also-you-will-be-interested.html', {
        "title": "Другие статьи"
        })

    </div>
</main>

@@include('./templates/footer.html', {
"js": "pitanie-statya"
})