@@include('./templates/header.html', { "css": "diabet-osnovnaya" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#news" class="icons__link  icons__link-news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#regions" class="icons__link  icons__link-regioni">
                            регионы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#diabet" class="icons__link  icons__link-bolezni">
                            виды и типы <br>
                            диабетических <br>
                            заболеваний
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#diagnostic" class="icons__link  icons__link-diagnostika">
                            диагностика
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#pulse" class="icons__link  icons__link-puls">
                            пульс твоего
                            города
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#lechenie" class="icons__link  icons__link-lechenie">
                            лечение
                        </a>
                    </li>

                    <li class="icons__item">
                        <a href="#bolezn" class="icons__link  icons__link-bolezn">
                            сопутствующие
                            заболевания
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#pitanie" class="icons__link  icons__link-pitanie">
                            питание
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  icons__link-sovetVracha">
                            совет
                            врача
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  icons__link-search">
                            поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="news" class="news-tabs">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2>Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
        "img" : "diabet-osnovnaya/map.jpg",
        "title" : "Все о диабете в вашем городе"
        })
    </section>

    <section id="diabet" class="diabet">
        <div class="diabet__title">
            <h2 class="diabet__title-content">Виды и типы диабетических заболеваний:</h2>
        </div>
        <div class="diabet__wrapper">
            <div class="diabet__content">
                <a href="#" class="diabet__item">
                    <div class="diabet__item_pic">
                        <img src="img/diabet-osnovnaya/type-diabet-1.jpg" alt="">
                    </div>
                    <div class="diabet__item_title">
                        Инсулинозависимый диабет
                        (1 тип)
                    </div>
                </a>
                <a href="#" class="diabet__item">
                    <div class="diabet__item_pic">
                        <img src="img/diabet-osnovnaya/type-diabet-2.jpg" alt="">
                    </div>
                    <div class="diabet__item_title">
                        Инсулиннезависимый диабет
                        (2 тип)
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section id="diagnostic" class="diagnostic">
        <div class="diagnostic__title">
            <h2 class="diagnostic__title-content">Диагностика:</h2>
        </div>
        <div class="diagnostic__content">
            <div class="wrap clearfix">
                <div class="col-md-6">
                    <form action="#" class="diag-form__input-group clearfix">
                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Выберите направление">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">направление 1</li>
                                        <li class="drop__li">направление 2</li>
                                        <li class="drop__li">направление 3</li>
                                        <li class="drop__li">направление 4</li>
                                        <li class="drop__li">направление 5</li>
                                        <li class="drop__li">направление 6</li>
                                        <li class="drop__li">направление 7</li>
                                        <li class="drop__li">направление 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Заболевание">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">заболевание 1</li>
                                        <li class="drop__li">заболевание 2</li>
                                        <li class="drop__li">заболевание 3</li>
                                        <li class="drop__li">заболевание 4</li>
                                        <li class="drop__li">заболевание 5</li>
                                        <li class="drop__li">заболевание 6</li>
                                        <li class="drop__li">заболевание 7</li>
                                        <li class="drop__li">заболевание 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn _tran _black diag-form__show-btn" title="Подобрать анализ">подобрать анализ</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <ul class="diagnostic__list">
                        <li class="diagnostic__list-item">
                            <div class="diagnostic__list-title">
                                Необходимая диагностика
                            </div>
                            <ol class="diagnostic__subList">
                                <li class="diagnostic__subList-item">
                                    Гормональное исследование крови
                                </li>
                                <li class="diagnostic__subList-item">
                                    Биохимическое исследование крови
                                </li>
                                <li class="diagnostic__subList-item">
                                    Рентгенологическое исследование
                                </li>
                                <li class="diagnostic__subList-item">
                                    Компьютерная томография щитовидной железы
                                </li>
                            </ol>
                        </li>
                        <li class="diagnostic__list-item">
                            <div class="diagnostic__list-title">
                                К каким специалистам необходимо
                                обратиться?
                            </div>
                            <ol class="diagnostic__subList">
                                <li class="diagnostic__subList-item">
                                    К эндокринологу
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap clearfix">
            <div class="row">
                <a href="" class="pulse__item col-md-4 col-sm-6">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">LXI Международная научно-практическая
                        конференция «Современная медицина:
                        актуальные вопросы»
                    </span>
                </a>
                <a href="" class="pulse__item col-md-4 col-sm-6">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">Международная конференция молодых
                        ученых биотехнологов, вирусологов
                        и молекулярных биологов
                    </span>
                </a>
                <a href="" class="pulse__item col-md-4 col-sm-6 col-sm-offset-3">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">Международный симпозиум
                        «Системная биология и биомедицина»
                        (SBioMed-2016)
                    </span>
                </a>
            </div>
        </div>

    </section>

    <section id="lechenie" class="lechenie">
        <div class="lechenie__title">
            <h2 class="lechenie__title-content">Лечение:</h2>
        </div>
        <div class="lechenie__content">
            <div class="lechenie__slider slider">
                <div class="mainBanner _right-bottom lechenie__slider-item">
		            <span data-picture="" data-alt="Камни в почках">
                        <span data-src="http://placehold.it/414x414"></span>
                        <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                        <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                        <noscript>
                            <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
                        </noscript>
                    </span>

                    <div class="mainBanner__content lechenie__slider-title">
                        <a href="#">
                            К какому врачу обратиться
                        </a>
                    </div>
                </div>
                <div class="mainBanner _right-bottom lechenie__slider-item">
		            <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            </noscript>
        </span>

                    <div class="mainBanner__content lechenie__slider-title">
                        <a href="#">
                            К какому врачу обратиться
                        </a>
                    </div>
                </div>
                <div class="mainBanner _right-bottom lechenie__slider-item">
		            <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            </noscript>
        </span>

                    <div class="mainBanner__content lechenie__slider-title">
                        <a href="#">
                            К какому врачу обратиться
                        </a>
                    </div>
                </div>
            </div>
            <a href="#!" class="link-arrow link-arrow_blue">перейти в раздел</a>
        </div>
    </section>

    <section id="bolezn" class="bolezn">
        <div class="bolezn__title">
            <h2 class="bolezn__title-content">Сопутствующие заболевания:</h2>
        </div>
        <div class="bolezn__container">
            <div class="wrap">
                <ul class="bolezn__list">
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">1 Психосоматика сахарного диабета</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">2 Течение гепатита при сахарном диабете</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">3 Развитие рака при диабете</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">4 Особенности инсульта при сахарном диабете</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">5 Причины возникновения метаболического синдрома</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">6 Влияние атеросклероза на течение диабета</a>
                    </li>
                    <li class="bolezn__item">
                        <a href="#" class="bolezn__link">7 Особенности лечения переломов при диабете</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="pulse" class="pulse">
        <div class="pulse__title">
            <h2 class="pulse__title-content">Пульс твоего города:</h2>
        </div>
        <div class="pulse__content">
            <button data-url="dynamic-blocks/cities.html" class="pulse__btn city-modal__link">
                <span class="pulse__select-text">выберите регион</span>
                <span class="caret pulse__select-caret"></span>
            </button>
            <div class="wrap clearfix">
                <a href="" class="pulse__item col-md-4 col-sm-6">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">LXI Международная научно-практическая
                        конференция «Современная медицина:
                        актуальные вопросы»
                    </span>
                </a>
                <a href="" class="pulse__item col-md-4 col-sm-6">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">Международная конференция молодых
                        ученых биотехнологов, вирусологов
                        и молекулярных биологов
                    </span>
                </a>
                <a href="" class="pulse__item col-md-4 col-sm-6">
                    <span class="pulse__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="pulse__item-title">Международный симпозиум
                        «Системная биология и биомедицина»
                        (SBioMed-2016)
                    </span>
                </a>
            </div>
            <a href="#!" class="link-arrow link-arrow_blue">перейти в раздел</a>
        </div>
    </section>

    <section id="pitanie" class="individual-plan">
        <div class="individual-plan__container">
            <div class="individual-plan__title">
                <h2>Ваш индивидуальный план питания</h2>
                <p>Выберите интересующий Вас раздел и получите меню питания прямо сейчас</p>
            </div>
            <form action="#" class="individual-plan__input-group clearfix">
                <div class="drop _select">
                    <button type="button" class="drop__toggle">
                        меню для снижения веса
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">Меню 1</li>
                                <li class="drop__li">Меню 2</li>
                                <li class="drop__li">Меню 3</li>
                                <li class="drop__li">Меню 4</li>
                                <li class="drop__li">Меню 5</li>
                                <li class="drop__li">Меню 6</li>
                                <li class="drop__li">Меню 7</li>
                                <li class="drop__li">Меню 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn individual-plan__button" title="Подобрать индивидуальный план питания">показать
                    питание</button>
            </form>
            <div class="individual-plan__blocks clearfix">
                <div class="individual-plan__block col-sm-6 col-lg-3">
                    <div class="individual-plan__food-block">
                        <h3>Завтрак:</h3>
                        <ul>
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                    <div class="individual-plan__food-block">
                        <h3>Полдник:</h3>
                        <ul>
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                        </ul>
                    </div>
                </div>
                <div class="individual-plan__block col-sm-6 col-lg-3">
                    <div class="individual-plan__food-block">
                        <h3>2 Завтрак:</h3>
                        <ul>
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                        </ul>
                    </div>
                    <div class="individual-plan__food-block">
                        <h3>Ужин:</h3>
                        <ul>
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                        </ul>
                    </div>
                </div>
                <div class="individual-plan__block col-sm-6 col-lg-3">
                    <div class="individual-plan__food-block">
                        <h3>Обед:</h3>
                        <ul>
                            <li>2 яйца (всмятку/отварных)</li>
                            <li>Огурец,помидор</li>
                            <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                            <li>Травяной чай</li>
                        </ul>
                    </div>
                    <div class="individual-plan__next">
                        <a href="#">следующий день ></a>
                    </div>
                </div>
                <div class="individual-plan__block col-sm-6 col-lg-3">
                    <div class="individual-plan__wrap-promo">
                        <img src="http://placehold.it/300x215" alt="promo" class="individual-plan__img-promo">
                    </div>
                </div>
            </div>
            <div class="individual-plan__articles clearfix">
                <a href="#" class="individual-plan__article-link">
                    <div class="individual-plan__article-item col-sm-6 col-md-3">
                        <div class="individual-plan__img-wrap">
                            <img src="http://placehold.it/308x220" alt="" class="individual-plan__img">
                        </div>
                        <h3>Какие продукты полезны перед сном, а какие вредны</h3>
                    </div>
                </a>
                <a href="#" class="individual-plan__article-link">
                    <div class="individual-plan__article-item col-sm-6 col-md-3">
                        <div class="individual-plan__img-wrap">
                            <img src="http://placehold.it/308x220" alt="" class="individual-plan__img">
                        </div>
                        <h3>Какие продукты полезны перед сном, а какие вредны</h3>
                    </div>
                </a>
                <a href="#" class="individual-plan__article-link">
                    <div class="individual-plan__article-item col-sm-6 col-md-3">
                        <div class="individual-plan__img-wrap">
                            <img src="http://placehold.it/308x220" alt="" class="individual-plan__img">
                        </div>
                        <h3>Какие продукты полезны перед сном, а какие вредны</h3>
                    </div>
                </a>
                <a href="#" class="individual-plan__article-link">
                    <div class="individual-plan__article-item col-sm-6 col-md-3">
                        <div class="individual-plan__img-wrap">
                            <img src="http://placehold.it/308x220" alt="" class="individual-plan__img">
                        </div>
                        <h3>Какие продукты полезны перед сном, а какие вредны</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

</main>

@@include('./templates/footer.html', { "js": "diabet-osnovnaya" })