@@include('./templates/header.html', {
"css": "eco-pitanie"
})
<main class="main">
  @@include('./templates/breadcrumbs.html')

  <div class="eco-head ">
    <div class="eco-head__cont clearfix">
      <div class="col-sm-4 eco-head__img-cont _1"></div>
      <div class="col-sm-8 eco-head__img-cont _2"></div>
    </div>

  </div>

  <section class="news-tabs" id="news">
    <div class="news-tabs__title">
      <h2>Новости</h2>
    </div>
    @@include('./templates/news-tabs.html')
    <a href="#!" class="link-arrow news__btn ">перейти в раздел</a>
  </section>


  <section class="eco-ques" id="eco-ques">
    <div class="eco-ques__title">
      <h2 class="eco-ques__title-content">Острые вопросы</h2>
    </div>

    <div class="eco-ques__cont">
      <div class="eco-ques__theme-cont">
        <div class="eco-ques__img-frame">
          <div class="eco-ques__img-cont _photo">
            <img src="img/eco-pitanie/eco-ques/eco-ques-photo.jpg" alt="item-1">
          </div>
        </div>
        <div class="eco-ques__txt-cont">
          <a href="#!" title="тема 1" class="link">
          <h3 class="eco-ques__h3">Тема: <span class="eco-ques__big">“Интервью с экспертом”</span></h3>
          <div class="eco-ques__txt">
            Употреблять в пищу то, что выращено с любовью, становится
            все более популярным. Отметка «ЭКО» на упаковке для многих
            гарантия того, что продукт не содержит консервантов
          </div>
          </a>
          <div class="eco-ques__shadow"></div>
        </div>
      </div>
      <div class="clearfix eco-ques__grid">
        <div class="col-md-4 col-sm-6">
          <div class="eco-ques__item-cont">
            <a href="#!" title="Почем хлеб для народа?" class="eco-ques__link-in-row">
              <div class="eco-ques__img-cont _in-row">
                <img src="img/eco-pitanie/eco-ques/eco-ques-img-1.jpg" alt="item-1">
              </div>
              <div class="eco-ques__txt-in-row">
                <b>Почем хлеб для народа? </b>Как накручивают цены на разные продукты
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="eco-ques__item-cont">
            <a href="#!" title="Почем хлеб для народа?" class="eco-ques__link-in-row">
              <div class="eco-ques__img-cont _in-row">
                <img src="img/eco-pitanie/eco-ques/eco-ques-img-1.jpg" alt="item-1">
              </div>
              <div class="eco-ques__txt-in-row">
                <b>Запрет соли: </b>грозит ли дефицит и рост цен?
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0">
          <div class="eco-ques__item-cont">
            <a href="#!" title="Почем хлеб для народа?" class="eco-ques__link-in-row">
              <div class="eco-ques__img-cont _in-row">
                <img src="img/eco-pitanie/eco-ques/eco-ques-img-1.jpg" alt="item-1">
              </div>
              <div class="eco-ques__txt-in-row">
                <b>Мухи, краска и жара... </b>В каких условиях продаётся рыба?
              </div>
            </a>
          </div>
        </div>
      </div>
      <a href="#!" class="link-arrow news__btn ">перейти в раздел</a>
    </div>

  </section>

  <div class="eco-chess">
    <div class="eco-chess__item-cont clearfix">
      <div class="col-md-8 eco-chess__col-1">
        <div class="eco-chess__img-cont">
          <img src="img/eco-pitanie/eco-chess/chess-art-1.jpg" alt="item-1">
        </div>
      </div>
      <div class="eco-chess__shadow"></div>
      <div class="col-md-4 eco-chess__col-2">

        <div class="eco-chess__txt-cont">
          <h2 class="eco-chess__h2">СЫРОЕДЕНИЕ</h2>
          <p class="eco-chess__txt">Употребление в пищу (в лечебных целях)
          только сырой растительной пищи —
          овощей, фруктов, ягод.</p>
          <a href="#!" title="узнать больше о" class="btn _tran _dark-green">узнать больше></a>
        </div>
      </div>
    </div>

    <div class="eco-chess__item-cont clearfix">
      <div class="col-md-8 eco-chess__col-1">
        <div class="eco-chess__img-cont">
          <img src="img/eco-pitanie/eco-chess/chess-art-1.jpg" alt="item-1">
        </div>
      </div>
      <div class="eco-chess__shadow"></div>
      <div class="col-md-4 eco-chess__col-2">

        <div class="eco-chess__txt-cont">
          <h2 class="eco-chess__h2"> <span class="eco-chess__big">Что такое</span>экопродукты?</h2>
          <img src="img/eco-pitanie/eco-chess/eco-chess-img.jpg" alt="item-1">
          <a href="#!" title="узнать больше о" class="btn _tran _dark-green">узнать больше></a>
        </div>
      </div>
    </div>
  </div>


  <section class="eco-gmo" id="eco-gmo">
    <div class="eco-gmo__title">
      <h2 class="eco-gmo__title-content">ГМО - вред или польза?</h2>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">10</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">9</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">8</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">7</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">6</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>
    <div class="eco-gmo__cont clearfix eco-gmo__tabs">
      <div class="col-lg-5 col-md-6 eco-gmo__col-1">
        <div class="img-frame__frame eco-gmo__img-frame">
          <div class="img-frame__cont">
            <img src="img/eco-pitanie/eco-gmo/gmo-photo.jpg" alt="item-1">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 eco-gmo__col-2">
        <div class="eco-gmo__txt-cont">
          <h4 class="eco-gmo__name"><span class="eco-gmo__surname">ГЕНРИХОВ</span>Петр Николаевич</h4>
          <p class="eco-gmo__post">врач-диетолог</p>
          <a href="#!" title="art-desc" class="eco-gmo__link">
            <span class="eco-gmo__big">5</span><span class="eco-gmo__sm">мифов <br>о  ГМО</span></a>
        </div>
      </div>
    </div>

    <div class="clearfix eco-gmo__green">
      <a href="#!" title="ссылка" class="eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _left _1">
        <div class="eco-gmo__content">

            <span class="eco-gmo__green-big">10 мифов о ГМО</span>– мнение эксперта на баннере

        </div>
      </div>
      </a>
      <a href="#!" title="ссылка" class=" eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _right col-sm-offset-6 _2">
        <div class="eco-gmo__content">
            <span class="eco-gmo__green-big">Закон и ГМО</span>
        </div>
      </div>
      </a>
        <a href="#!" title="ссылка" class=" eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _left _3">
        <div class="eco-gmo__content">
            <span class="eco-gmo__green-big">Что такое ГМО</span>и зачем они нужны?
        </div>
      </div>
        </a>
          <a href="#!" title="ссылка" class=" eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _right col-sm-offset-6 _4">
        <div class="eco-gmo__content">
            <span class="eco-gmo__green-big">Это важно знать</span>
        </div>
      </div>
          </a>
            <a href="#!" title="ссылка" class=" eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _left _5">
        <div class="eco-gmo__content">
            <span class="eco-gmo__green-big">Последствия употребления</span> продуктов с ГМО
        </div>
      </div>
            </a>
              <a href="#!" title="ссылка" class=" eco-gmo__in-grid-link">
      <div class="col-sm-3 eco-gmo__grid-item-cont _right col-sm-offset-6 _6">
        <div class="eco-gmo__content">
            <span class="eco-gmo__green-big">Советы потребителям</span>
        </div>
      </div>
              </a>

    </div>

  </section>

  <section class="eco-banner" id="eco-banner">
    <div class="eco-banner__title">
      <h2 class="eco-banner__title-content">Экспертиза покажет:</h2>
    </div>

    <div class="mainBanner _right">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="img/eco-pitanie/eco-baner/expert-baner-sm.jpg" data-media="(min-width: 414px)"></span>
            <span data-src="img/eco-pitanie/eco-baner/expert-baner.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/eco-pitanie/eco-baner/expert-baner.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

      <div class="mainBanner__content">
        <div class="eco-banner__txt-cont">
          <div class="eco-banner__big">БАТОН ХИМИИ?</div>
          <div class="eco-banner__medium">Экспертиза колбасы показала, что есть можно далеко не всё</div>
          <a href="#!" title="узнать больше о" class="btn _tran _white">узнать больше></a>
        </div>

      </div>
    </div>





  </section>

</main>

@@include('./templates/footer.html', {
"js": "eco-pitanie"
})