@@include('./templates/header.html', {
	"css": "education"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="education-menu">
		<div class="education-menu__container">
			<div class="education-menu__title">
				<h1>Образование</h1>
			</div>
			<div class="city-modal__link-wrap">
				<button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_edu">Выберите город <span class="caret city-modal__caret"></span></button>
			</div>
			<div id="myModal" class="city-modal__modal"></div>
			<div id="loading" style="display: none">
				Идет загрузка...
			</div>
		</div>
			<div class="education-menu__content">
				<ul class="education-menu__list">
					<li><a href="#children-institutions" class="education-menu__list-item education-menu__list-item-1">Детские учреждения</a></li>
					<li><a href="#courses" class="education-menu__list-item education-menu__list-item-2">Курсы </a></li>
					<li><a href="#universities" class="education-menu__list-item education-menu__list-item-3">ВУЗы и ССУЗы</a></li>
					<li><a href="#map-footer" class="education-menu__list-item education-menu__list-item-4">Поиск по карте</a></li>
				</ul>
			</div>

	</section>
	
	<section id="children-institutions" class="children-institutions">
		<div class="children-institutions__title">
			<h2>Детские учреждения</h2>
		</div>
		<div class="children-institutions__blocks">
			<div class="mainBanner children-institutions__block">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="css/pics/education/children-institutions-1-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="css/pics/education/children-institutions-1.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
                		<img src="css/pics/education/children-institutions-1.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<a href="#" class="children-institutions__link">
					<span>детские сады</span>
				</a>
			</div>
			<div class="mainBanner children-institutions__block">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="css/pics/education/children-institutions-2-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="css/pics/education/children-institutions-2.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
                		<img src="css/pics/education/children-institutions-2.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<a href="#" class="children-institutions__link">
					<span>школы</span>
				</a>
			</div>
			<div class="mainBanner children-institutions__block">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="css/pics/education/children-institutions-3-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="css/pics/education/children-institutions-3.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
                		<img src="css/pics/education/children-institutions-3.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<a href="#" class="children-institutions__link">
					<span>дополнительное образование</span>
				</a>
			</div>
		</div>
		
		@@include('./templates/banners.html')
	</section>
	
	<section id="universities" class="universities">
		<div class="universities__title">
			<h2>ВУЗы и ССУЗы</h2>
		</div>
		<div class="universities__container">
			<div class="universities__items row">
				<a href="#" class="universities__item col-sm-6">
					<div class="universities__item-content">
						<div class="universities__img-wrap">
							<img src="http://placehold.it/992x450" alt="" class="universities__img">
						</div>
						<div class="universities__text-content">
							<h3>Санкт - Петербургский государственный университет</h3>
						</div>
					</div>
				</a>
				<a href="#" class="universities__item col-sm-6">
					<div class="universities__item-content">
						<div class="universities__img-wrap">
							<img src="http://placehold.it/992x450" alt="" class="universities__img">
						</div>
						<div class="universities__text-content">
							<h3>Военный инженерно-технический институт</h3>
						</div>
					</div>
				</a>
				<a href="#" class="universities__item col-sm-6">
					<div class="universities__item-content">
						<div class="universities__img-wrap">
							<img src="http://placehold.it/992x450" alt="" class="universities__img">
						</div>
						<div class="universities__text-content">
							<h3>Ленинградский государственный университет  им. А.С. Пушкина</h3>
						</div>
					</div>
				</a>
				<a href="#" class="universities__item col-sm-6">
					<div class="universities__item-content">
						<div class="universities__img-wrap">
							<img src="http://placehold.it/992x450" alt="" class="universities__img">
						</div>
						<div class="universities__text-content">
							<h3>Балтийский туристический колледж</h3>
						</div>
					</div>
				</a>
			</div>
			<a href="#!" class="link-arrow  link-arrow_blue">Смотреть все ВУЗы</a>
		</div>
	</section>
	
	<section id="courses" class="courses">
		<div class="courses__title">
			<h2>Курсы</h2>
		</div>
		<div class="courses__container">
			<div class="courses__items">
				<a href="#" class="courses__item row">
					<div class="courses__img-wrap col-sm-6">
						<img src="http://placehold.it/633x322" alt="" class="courses__img" width="633" height="322">
					</div>
					<div class="courses__text-content col-sm-6">
						<div><span>Медиамаркетинг</span> — это не только реклама СМИ и их продвижение, это возможность вмешиваться в производственный процесс и менять сам продукт (газету, журнал, телеканал, или предачу) для удобства целевой аудитории, менять способ его распространения и процесс доступа целевой аудитории к контенту СМИ.</div>
					</div>
				</a>
				<a href="#" class="courses__item row">
					<div class="courses__img-wrap col-sm-6 col-sm-push-6">
						<img src="http://placehold.it/633x322" alt="" class="courses__img" width="633" height="322">
					</div>
					<div class="courses__text-content col-sm-6 col-sm-pull-6">
						<div><span>Медиамаркетинг</span> — это не только реклама СМИ и их продвижение, это возможность вмешиваться в производственный процесс и менять сам продукт (газету, журнал, телеканал, или предачу) для удобства целевой аудитории, менять способ его распространения и процесс доступа целевой аудитории к контенту СМИ.</div>
					</div>
				</a>
				<a href="#" class="courses__item row">
					<div class="courses__img-wrap col-sm-6">
						<img src="http://placehold.it/633x322" alt="" class="courses__img" width="633" height="322">
					</div>
					<div class="courses__text-content col-sm-6">
						<div><span>Медиамаркетинг</span> — это не только реклама СМИ и их продвижение, это возможность вмешиваться в производственный процесс и менять сам продукт (газету, журнал, телеканал, или предачу) для удобства целевой аудитории, менять способ его распространения и процесс доступа целевой аудитории к контенту СМИ.</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	
</main>

@@include('./templates/footer.html', {
	"js": "education"
})