
@@include('./templates/header.html', {
"css": "encyclopedia"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')

    <div class="alphabet">
        <div class="alphabet__container">
            <ul class="alphabet__ul-char">
                <li class="alphabet__li"><a title="А" href="#!" class="alphabet__li-char">А</a></li>
                <li class="alphabet__li"><a title="Б" href="#!" class="alphabet__li-char">Б</a></li>
                <li class="alphabet__li"><a title="В" href="#!" class="alphabet__li-char">В</a></li>
                <li class="alphabet__li"><a title="Г" href="#!" class="alphabet__li-char">Г</a></li>
                <li class="alphabet__li"><a title="Д" href="#!" class="alphabet__li-char">Д</a></li>
                <li class="alphabet__li"><a title="Е" href="#!" class="alphabet__li-char">Е</a></li>
                <li class="alphabet__li"><a title="Ё" href="#!" class="alphabet__li-char">Ё</a></li>
                <li class="alphabet__li"><a title="Ж" href="#!" class="alphabet__li-char">Ж</a></li>
                <li class="alphabet__li"><a title="З" href="#!" class="alphabet__li-char">З</a></li>
                <li class="alphabet__li"><a title="И" href="#!" class="alphabet__li-char">И</a></li>
                <li class="alphabet__li"><a title="Й" href="#!" class="alphabet__li-char">Й</a></li>
                <li class="alphabet__li"><a title="К" href="#!" class="alphabet__li-char">К</a></li>
                <li class="alphabet__li"><a title="Л" href="#!" class="alphabet__li-char">Л</a></li>
                <li class="alphabet__li"><a title="М" href="#!" class="alphabet__li-char">М</a></li>
                <li class="alphabet__li"><a title="Н" href="#!" class="alphabet__li-char">Н</a></li>
                <li class="alphabet__li"><a title="О" href="#!" class="alphabet__li-char">О</a></li>
                <li class="alphabet__li"><a title="П" href="#!" class="alphabet__li-char">П</a></li>
                <li class="alphabet__li"><a title="Р" href="#!" class="alphabet__li-char">Р</a></li>
                <li class="alphabet__li"><a title="С" href="#!" class="alphabet__li-char">С</a></li>
                <li class="alphabet__li"><a title="Т" href="#!" class="alphabet__li-char">Т</a></li>
                <li class="alphabet__li"><a title="У" href="#!" class="alphabet__li-char">У</a></li>
                <li class="alphabet__li"><a title="Ф" href="#!" class="alphabet__li-char">Ф</a></li>
                <li class="alphabet__li"><a title="Х" href="#!" class="alphabet__li-char">Х</a></li>
                <li class="alphabet__li"><a title="Ц" href="#!" class="alphabet__li-char">Ц</a></li>
                <li class="alphabet__li"><a title="Ч" href="#!" class="alphabet__li-char">Ч</a></li>
                <li class="alphabet__li"><a title="Ш" href="#!" class="alphabet__li-char">Ш</a></li>
                <li class="alphabet__li"><a title="Щ" href="#!" class="alphabet__li-char">Щ</a></li>
                <li class="alphabet__li"><a title="Ъ" href="#!" class="alphabet__li-char">Ъ</a></li>
                <li class="alphabet__li"><a title="Ы" href="#!" class="alphabet__li-char">Ы</a></li>
                <li class="alphabet__li"><a title="Ь" href="#!" class="alphabet__li-char">Ь</a></li>
                <li class="alphabet__li"><a title="Э" href="#!" class="alphabet__li-char">Э</a></li>
                <li class="alphabet__li"><a title="Ю" href="#!" class="alphabet__li-char">Ю</a></li>
                <li class="alphabet__li"><a title="Я" href="#!" class="alphabet__li-char">Я</a></li>
            </ul>
            <div class="alphabet__chos-char-cont clearfix">
                <span class="alphabet__chos-char-txt">Вы выбрали букву</span>
                <div class="alphabet__chos-char-circle">
                    <span class="alphabet__chos-char">К</span>
                </div>
            </div>
            <div class="alphabet__cancel">
                <a title="отменить" href="#!" class="alphabet__cancel-link">сбросить&gt;</a>
            </div>
        </div>
    </div>


    <div class="all-true mainBanner _right">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="img/encyclopedia/all-true/all-true-bg-sm.jpg" data-media="(min-width: 414px)"></span>
            <span data-src="img/encyclopedia/all-true/all-true-bg.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/encyclopedia/all-true/all-true-bg.jpg" alt="">
            </noscript>
        </span>

        <div class="mainBanner__content">
            <div class="all-true__txt-cont">
                <a href="#!" title="информация о контагинозном моллюске" class="all-true__link">
                    <div class="all-true__txt">Вся правда</div>
                    <div class="all-true__txt-2">о контагинозном моллюске</div>
                </a>
            </div>
        </div>
    </div>
    <nav class="diseases-list-nav" aria-label="Разделы медицины">
        <div class="diseases-list-nav__char">К</div>
        <ul class="diseases-list-nav__ul-links">
            <li class="diseases-list-nav__li"><a data-url="dynamic-blocks/encycl-anatomy.html" title="Анатомия человека"
                                                 href="#!" class="diseases-list-nav__link _active routing-link">Анатомия
                человека</a></li>
            <li class="diseases-list-nav__li"><a data-url="dynamic-blocks/encycl-dis-list.html"
                                                 title="Список заболеваний" href="#!"
                                                 class="diseases-list-nav__link routing-link">Список заболеваний</a>
            </li>
            <li class="diseases-list-nav__li"><a data-url="dynamic-blocks/encycl-analyzes.html" title="Анализы"
                                                 href="#!" class="diseases-list-nav__link routing-link">Анализы</a></li>

        </ul>
    </nav>

    <section id="dynamic-cont" class="dynamic-cont">

    </section>
    <div id="loading" style="display: none">
        Идет загрузка...
    </div>

    <section class="advices">
        <div class="advices__title">
            <h2 class="advices__title-content">Советы специалистов</h2>
        </div>
        <div class="advices__cont row">
            <div class="col-sm-6">
                <div class="advices__img-cont">
                    <img src="img/encyclopedia/advices/doc.jpg" alt="doctor photo" class="advices__img">
                </div>

            </div>
            <div class="advices__txt-cont col-sm-6">
                <div class="advices__slogan">Лечим келоидные рубцы</div>
                <div class="advices__surname">Авраамов</div>
                <div class="advices__name">Федор Павлович</div>
                <div class="advices__post">врач-терапевт</div>
                <div class="advices__address">г. Москва</div>

                <div class="advices__more"><a title="информация о специалисте" href="#!" class="advices__link">Узнать
                    больше</a></div>
                <div class="advices__arrow"></div>
            </div>
        </div>
    </section>

    <section class="specialties">
        <div class="specialties__title">
            <h2 class="specialties__title-content">Медицинские специальности:</h2>
        </div>
        <div class="specialties__circle">К</div>
        <div class="specialties__cont">
            <div class="specialties__list-cont">
                <ul class="specialties__ul">
                    <li class="specialties__li"><a title="Кардиолог" href="#!" class="specialties__link">Кардиолог</a>
                    </li>
                    <li class="specialties__li"><a title="Кардиоревматолог" href="#!" class="specialties__link">Кардиоревматолог</a>
                    </li>
                    <li class="specialties__li"><a title="Кардиохирург" href="#!"
                                                   class="specialties__link">Кардиохирург</a></li>
                    <li class="specialties__li"><a title="Кинезиолог" href="#!" class="specialties__link">Кинезиолог</a>
                    </li>
                    <li class="specialties__li"><a title="Колопроктолог" href="#!" class="specialties__link">Колопроктолог</a>
                    </li>
                    <li class="specialties__li"><a title="Косметолог" href="#!" class="specialties__link">Косметолог</a>
                    </li>
                    <li class="specialties__li"><a title="Курортолог" href="#!" class="specialties__link">Курортолог</a>
                    </li>
                </ul>
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>

    </section>

    <section class="med-sec">
        <div class="med-sec__title">
            <h2 class="med-sec__title-content">Разделы медицины:</h2>
        </div>
        <div class="med-sec__cont">

            <div class="med-sec__list-cont">
                <ul class="med-sec__ul">
                    <li class="med-sec__li"><a title="Кардиология" href="#!" class="med-sec__link _active"> &#8226;
                        Кардиология</a></li>
                    <li class="med-sec__li"><a title="Кардиология" href="#!" class="med-sec__link"> &#8226;
                        Кардиохирургия</a></li>
                    <li class="med-sec__li"><a title="Кардиология" href="#!" class="med-sec__link"> &#8226;
                        Колопроктология</a></li>
                    <li class="med-sec__li"><a title="Кардиология" href="#!" class="med-sec__link"> &#8226;
                        Курортология</a></li>
                </ul>

                <a href="#!" class="link-arrow link-arrow_blue med-sec__link-arrow">перейти в раздел</a>

            </div>

            <div class="med-sec__desc-cont visible">
                <p class="med-sec__desc"> Кардиология Раздел медицины, изучающий целебные
                    свойства природных условий и климата,
                    их использование в лечебных и профилактических целях.</p>
                <a href="#!" title="узнать больше о курортологии" class="med-sec__more">смотреть полностью&gt;</a>
            </div>
            <div class="med-sec__desc-cont">
                <p class="med-sec__desc"> Кардиохирургия Раздел медицины, изучающий целебные
                    свойства природных условий и климата,
                    их использование в лечебных и профилактических целях.</p>
                <a href="#!" title="узнать больше о курортологии" class="med-sec__more">смотреть полностью&gt;</a>
            </div>
            <div class="med-sec__desc-cont">
                <p class="med-sec__desc"> Колопроктология Раздел медицины, изучающий целебные
                    свойства природных условий и климата,
                    их использование в лечебных и профилактических целях.</p>
                <a href="#!" title="узнать больше о курортологии" class="med-sec__more">смотреть полностью&gt;</a>
            </div>
            <div class="med-sec__desc-cont">
                <p class="med-sec__desc"> Курортология Раздел медицины, изучающий целебные
                    свойства природных условий и климата,
                    их использование в лечебных и профилактических целях.</p>
                <a href="#!" title="узнать больше о курортологии" class="med-sec__more">смотреть полностью&gt;</a>
            </div>

            <div class="med-sec__oops">Пока нет информации о данном разделе</div>

        </div>
    </section>

</main>


@@include('./templates/footer.html', {
"js": "encyclopedia"
})