@@include('./templates/header.html', { "css": "g-grid" })
  <div class="g-grid _col-4 _cont-cent _txt-outer">
    <ul class="g-grid__ul">
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">заголовок</div>
          </div>
        </a>
      </li>

    </ul>

  </div>


@@include('./templates/footer.html', { "js": "sovet-vracha-main" })