@@include('./templates/header.html', {
    "css": "history-facts"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<div class="facts-main">
	<div class="facts-main__container clearfix">
		<div class="facts-main__block-left col-lg-6">
			<div class="facts-main__item facts-main__item-1 col-lg-6">
				Человек моргает <span>10 000 000</span> раз в год
			</div>
			<div class="facts-main__item facts-main__item-2 col-lg-6">
				Норма выпадения в день <br> – около <span>100 волос</span>
			</div>
		</div>
		<div class="facts-main__block-right col-lg-6">
			<div class="facts-main__item facts-main__item-3 col-lg-5">
				<span>Больше всего волос на голове у блондинов</span> – до 150 тысяч, но они тонкие. А вот <span>у натуральных брюнеток, наоборот, волос на голове меньше,</span> зато они толще.
			</div>
			<div class="facts-main__item facts-main__item-4 col-lg-5">
				Средняя скорость <br> роста волос <span>– 0,4 мм в день</span>
			</div>
		</div>
	</div>
</div>

	<div class="interesting-facts">
		<div class="interesting-facts__wrapper">
			<div class="interesting-facts__container">

				<div class="interesting-facts__items">

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<p>
								<a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.
							</p>
						</div>
					</div>

				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p>
							<a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.
						</p>
					</div>
				</div>

				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p>
							<a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.
						</p>
					</div>
				</div>

				</div>
			</div>
			@@include('./templates/paginator.html')

		</div>
	</div>

</main>

@@include('./templates/footer.html', {
    "js": "history-facts"
})