@@include('./templates/header.html', {
    "css": "history-faces"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="medicine-face">
		<div class="medicine-face__title-block">
			<div class="medicine-face__container">
				<div class="medicine-face__title-content">
					<div class="medicine-face__title">
						<h1>История медицины <span>в лицах</span></h1>
					</div>
					<div class="medicine-face__alphabet">
						<ul class="alphabet alphabet_history-faces">
							<li><a href="#" class="alphabet__item">А</a></li>
							<li><a href="#" class="alphabet__item">Б</a></li>
							<li><a href="#" class="alphabet__item">В</a></li>
							<li><a href="#" class="alphabet__item">Г</a></li>
							<li><a href="#" class="alphabet__item">Д</a></li>
							<li><a href="#" class="alphabet__item">Е</a></li>
							<li><a href="#" class="alphabet__item">Ё</a></li>
							<li><a href="#" class="alphabet__item">Ж</a></li>
							<li><a href="#" class="alphabet__item">З</a></li>
							<li><a href="#" class="alphabet__item">И</a></li>
							<li><a href="#" class="alphabet__item">Й</a></li>
							<li><a href="#" class="alphabet__item">К</a></li>
							<li><a href="#" class="alphabet__item">Л</a></li>
							<li><a href="#" class="alphabet__item">М</a></li>
							<li><a href="#" class="alphabet__item">Н</a></li>
							<li><a href="#" class="alphabet__item">О</a></li>
							<li><a href="#" class="alphabet__item">П</a></li>
							<li><a href="#" class="alphabet__item">Р</a></li>
							<li><a href="#" class="alphabet__item">С</a></li>
							<li><a href="#" class="alphabet__item">Т</a></li>
							<li><a href="#" class="alphabet__item">У</a></li>
							<li><a href="#" class="alphabet__item">Ф</a></li>
							<li><a href="#" class="alphabet__item">Х</a></li>
							<li><a href="#" class="alphabet__item">Ц</a></li>
							<li><a href="#" class="alphabet__item">Ч</a></li>
							<li><a href="#" class="alphabet__item">Ш</a></li>
							<li><a href="#" class="alphabet__item">Щ</a></li>
							<li><a href="#" class="alphabet__item">Ъ</a></li>
							<li><a href="#" class="alphabet__item">Ы</a></li>
							<li><a href="#" class="alphabet__item">Ь</a></li>
							<li><a href="#" class="alphabet__item">Э</a></li>
							<li><a href="#" class="alphabet__item">Ю</a></li>
							<li><a href="#" class="alphabet__item">Я</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
			<div class="medicine-face__block-faces">
				<div class="medicine-face__content clearfix">
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<div class="medicine-face__item col-sm-6 col-md-4 clearfix">
						<div class="medicine-face__img-wrap">
							<img src="http://placehold.it/77x77" alt="" class="medicine-face__img">
						</div>
						<div class="medicine-face__text-content">
							<h3><span>Павлов</span> Иван Петрович</h3>
							<div>(1849-1936)</div>
							<p>выдающийся российский физиолог, академик</p>
						</div>
					</div>
					<a href="#" class="medicine-face__link">смотреть еще ></a>
				</div>
			</div>
		<div class="medicine-face__items">
			<div class="medicine-face__container">
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__portrait clearfix">
					<div class="medicine-face__wrap-portrait">
						<img src="http://placehold.it/139x159" alt="img" class="medicine-face__img-portrait" width="139" height="159">
					</div>
					<div class="medicine-face__text">
						<h2>Григорий Антонович Захарьин <span>(1829 — 1897)</span></h2>
						<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III.</p>
					</div>
				</div>
				<div class="medicine-face__link-wrap">
					<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="history-doctors interesting-facts">

			<div class="interesting-facts__title">
				<h2>Врачи, которые прославили российскую медицину</h2>
			</div>
		<div class="nteresting-facts__wrapper">
			<div class="interesting-facts__container">
				<div class="interesting-facts__items">

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/310x310" alt="img" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<h3>Гааз <br>Фёдор Петрович</h3>
							<div>(1780 — 1853)</div>
							<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III. <a href="#">далее</a></p>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/310x310" alt="img" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<h3>Гааз <br>Фёдор Петрович</h3>
							<div>(1780 — 1853)</div>
							<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III. <a href="#">далее</a></p>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/310x310" alt="img" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<h3>Гааз <br>Фёдор Петрович</h3>
							<div>(1780 — 1853)</div>
							<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III. <a href="#">далее</a></p>
						</div>
					</div>

					<div class="interesting-facts__item">
						<div class="interesting-facts__img-wrap">
							<img src="http://placehold.it/310x310" alt="img" class="interesting-facts__img">
						</div>
						<div class="interesting-facts__text-content">
							<h3>Гааз <br>Фёдор Петрович</h3>
							<div>(1780 — 1853)</div>
							<p>Русский врач-терапевт, основатель московской клинической школы. Окончил медицинский факультет Московского университета, был профессором на кафедре диагностики Московского университета, позднее - директором факультетской терапевтической клиники. В 1894 году Захарьин лечил императора Александра III. <a href="#">далее</a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
@@include('./templates/paginator.html')


	</section>

</main>

@@include('./templates/footer.html')