@@include('./templates/header.html', {
    "css": "history-museum"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
	<section class="museum-cloud">
		<div class="museum-cloud__title">
			<h1>Медицина в музеях</h1>
		</div>
			<div class="museum-cloud__content clearfix">
				<div class="city-modal__link-wrap col-md-6 col-md-offset-6">
					<button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link">Выберите город <span class="caret city-modal__caret"></span></button>
				</div>
				<div id="myModal" class="city-modal__modal">
				</div>
				<div id="loading" style="display: none">
					Идет загрузка...
				</div>
			</div>
		<div class="museum-cloud__block">
			<div class="museum-cloud__container clearfix">
				<div class="museum-cloud__museum col-sm-6">
					<a href="#museum">
						<h2>Музеи</h2>
					</a>
				</div>
				<div class="museum-cloud__exhibition col-sm-6">
					<a href="#exhibition">
						<h2>Выставки</h2>
					</a>
				</div>
			</div>
		</div>
	</section>
	
	<section id="museum" class="museum">
		<div class="museum__title">
			<h2>Музеи</h2>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>Военно-медицинский музей</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>Музей гигиены</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>Музей Первого медицинского университета им. ак. И.П. Павлова (ПСПбГМУ)</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>Кунсткамера</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>МУЗЕЙ-КВАРТИРА АКАДЕМИКА И.П.ПАВЛОВА</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="museum__item">
			<div class="museum__img-wrap mainBanner">
				<span data-picture="" data-alt="">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
           			<noscript>
                		<img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
			</div>
			<div class="museum__content">
				<div class="museum__container clearfix">
					<div class="museum__text-content col-md-10 col-md-offset-2">
						<a href="#"><h3>Музей истории НИИ экспериментальной медицины</h3></a>
						<p>Преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского Советского преемник медицинских музеев Российской империи и Советского преемник медицинских музеев Российской империи и Советского</p>
						<div class="museum__contacts">
							<address class="museum__address">Лазаретный переулок, дом 2.<br>
							"вход на экспозицию с Введенского канала"<br>
							ст. м. Пушкинская</address>
							<div class="museum__phone">телефон для заказа кскурсий: +7 (123) 456 78 99<br>
							телефон музея: +7 (123) 456 78 99</div>
							<a href="#" class="museum__link">http://milmed.spb.ru</a>
						</div>
					</div>
				</div>
			</div>
		</div>

@@include('./templates/paginator.html')

	</section>
	
	<section id="exhibition" class="exhibition">
		<div class="exhibition__title">
			<h2>Выставки</h2>
		</div>
		<div class="exhibition__item exhibition-item-1 clearfix">
			<div class="exhibition__container">
				<div class="exhibition__slider col-lg-6">
					<div class="exhibition__slider-big">
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="1" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="2" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="3" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="4" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="5" class="exhibition__big-img">
						</div>
					</div>
					<div class="exhibition__slider-small">
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="1" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="2" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="3" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="4" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="5" class="exhibition__small-img">
						</div>
					</div>
				</div>
				<div class="exhibition__content col-lg-6">
					<div class="exhibition__text-content exhibition__text-content-1">
						<a href="#"><h3>ВЫСТАВКА "ТЕЛО ЧЕЛОВЕКА"</h3></a>
						<address>Выставочное пространство "Конюшенная, 2"<br>
						Выставочное пространство "Конюшенная, 2"</address>
						<p>Выставка «Тело человека» — современная альтернатива экспозициям в исхоженных Кунсткамере и Музее гигиены. Пятьсот экспонатов, относящихся к семи основным системам жизнедеятельности человека, выставлены с поучительной целью — показать, чем норма отличается от патологии и что стало причиной болезни или отклонения. Все манипуляции с человеческими внутренними органами и костями проходили по технологии полимерного бальзамирования, разработанной относительно недавно в одной из лабораторий Военно-медицинской академии.</p>
					</div>
					<div class="exhibition__info">
						<p class="exhibition__date">с 1 августа по 30 октября</p>
						<p class="exhibition__price">Стоимость билета: 250 - 1200 руб.</p>
					</div>
				</div>
			</div>
		</div>
			
		<div class="exhibition__item exhibition-item-2 clearfix">
			<div class="exhibition__container">
				<div class="exhibition__slider col-lg-6">
					<div class="exhibition__slider-big">
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="1" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="2" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="3" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="4" class="exhibition__big-img">
						</div>
						<div class="exhibition__big-img-wrap">
							<img src="http://placehold.it/590x395" alt="5" class="exhibition__big-img">
						</div>
					</div>
					<div class="exhibition__slider-small">
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="1" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="2" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="3" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="4" class="exhibition__small-img">
						</div>
						<div class="exhibition__small-img-wrap">
							<img src="http://placehold.it/175x175" alt="5" class="exhibition__small-img">
						</div>
					</div>
				</div>
				<div class="exhibition__content col-lg-6">
					<div class="exhibition__text-content exhibition__text-content-2">
						<a href="#"><h3>Коллекция Эрмитажа</h3></a>
						<p>Выставка «Тело человека» — современная альтернатива экспозициям в исхоженных Кунсткамере и Музее гигиены. Пятьсот экспонатов, относящихся к семи основным системам жизнедеятельности человека, выставлены с поучительной целью — показать, чем норма отличается от патологии и что стало причиной болезни или отклонения. Все манипуляции с человеческими внутренними органами и костями проходили по технологии полимерного бальзамирования, разработанной относительно недавно в одной из лабораторий Военно-медицинской академии.</p>
					</div>
					<div class="exhibition__info">
						<p class="exhibition__date">с 1 августа по 30 октября</p>
						<p class="exhibition__price">Стоимость билета: 250 - 1200 руб.</p>
					</div>
				</div>
			</div>
		</div>
		<ul class="paginator">
			 <li><a href="#!" class="paginator__prev paginator__arrow">назад</a></li>
			 <li><a href="#!" class="paginator__item">1</a></li>
			 <li><a href="#!" class="paginator__item">2</a></li>
			 <li><a href="#!" class="paginator__item">3</a></li>
			 <li><a href="#!" class="paginator__next paginator__arrow">вперед</a></li>
		</ul>
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "history-museum"
})