@@include('./templates/header.html', {
    "css": "history-discovery"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="discovery">
		<div class="discovery__container">
			<div class="discovery__title">
				<h2>Как <span>о</span>ткрыли...</h2>
				<p>история известных мировых изобретений</p>
			</div>
		</div>
		<div class="discovery__items">
			<div class="mainBanner _center">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-1-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-1.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-1.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
						<h3>медицинский нож.<br>История скальпеля.</h3>
						<p>Во времена мезолита люди использовали заостренный кремень, но но не с целью убить, а с целью облегчить состояние пациента.</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _left">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-2-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-2.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-2.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
						<h3>инсулин</h3>
						<p>В 1921 г. канадским врачам Фредерику Бантингу и Чарльзу Бесту из Торонто удалось выделить инсулин из поджелудочной железы собаки</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-3-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-3.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-3.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
						<h3>микроскоп</h3>
						<p>всё об истории создания</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mainBanner _left blood-group">
		<span data-picture="" data-alt="Камни в почках">
			<span data-src="http://placehold.it/414x414"></span>
			<span data-src="img/history-discovery/blood-group-mob.jpeg" data-media="(min-width: 414px)"></span>
			<span data-src="img/history-discovery/blood-group.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/history-discovery/blood-group.jpg" alt="">
			</noscript>
		</span>

		<div class="mainBanner__content blood-group__text-content">
			<h3>Группы крови:</h3>
			<p>Истории происхождения</p>
			<a href="#">Узнать больше ></a>
		</div>

	</section>
	
	<section class="discovery">
		<div class="discovery__items">
			<div class="mainBanner _center">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-4-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-4.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-4.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>медицинскую <br>маску</h3>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _center">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-5-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-5.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-5.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>контактные <br>линзы</h3>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mainBanner _center stethoscope">

		<span data-picture="" data-alt="Камни в почках">
			<span data-src="http://placehold.it/414x414"></span>
			<span data-src="img/history-discovery/stethoscope-wp-mob.jpeg" data-media="(min-width: 414px)"></span>
			<span data-src="img/history-discovery/stethoscope-wp.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/history-discovery/stethoscope-wp.jpg" alt="">
			</noscript>
		</span>

		<div class="mainBanner__content stethoscope__text-content">
			<h3>Изобретение стетоскопа</h3>
			<p>Стетоскоп был изобретён в 1816 году французским  врачом, основателем научной диагностики Рене Теофиль Лаэннеком</p>
			<a href="#">узнать больше</a>
		</div>

	</section>
	
	<section class="discovery">
		<div class="discovery__items">
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-6-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-6.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-6.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>электрокардиограф</h3>
					<p>в 1887 году ученый Уоллер первым записал ЭКГ человека.</p>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-7-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-7.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-7.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>бактерицидный пластырь.</h3>
					<p>Как создавался незаменимый элемент современной аптечки</p>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-8-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-8.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-8.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>робот Da Vinci</h3>
					<p>История развития робот-ассистированной хирургии насчитывает более 25 лет</p>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="history-cesarian">
		<div class="history-cesarian__block clearfix">
			<div class="history-cesarian__img-wrap">
				<img src="img/history-discovery/history-cesarian-wp.jpg" alt="" class="history-cesarian__img">
			</div>
			<div class="history-cesarian__content">
				<div class="history-cesarian__text-content">
					<h3>История  кесарева сечения:</h3>
					<p>По дошедшим до сегодняшнего момента сведениям, кесарево  сечение является одной из самых древних операций. В мифах Древней Греции описано, что с помощью этой операции были извлечены из чрева умерших матерей Асклепий и Дионис. В Риме в конце 7 века до нашей эры был издан закон, по которому погребение погибшей беременной женщины производили только после извлечения ребенка путем чревосечения. </p>
				</div>
				<a href="#">подробнее</a>
			</div>
		</div>
	</section>
	
	<section class="discovery">
		<div class="discovery__items">
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-9-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-9.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-9.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>Как изобрели шприц</h3>
					<p>Первые в истории шприцы изготавливались из кожи и каучука, а насечки для дозировки делались на металличесом поршне. </p>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
			
			<div class="mainBanner _right">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-10-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-10.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-10.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content discovery__item-content">
					<h3>Рентгеновские лучи</h3>
					<p>- одно из величайших  медицинский достижений современности.</p>
					<a href="#">Узнать больше ></a>
				</div>
			</div>
		</div>
@@include('./templates/paginator.html')

	</section>

</main>

@@include('./templates/footer.html', {
    "js": "history-discovery"
})