@@include('./templates/header.html', {
    "css": "history-tape"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="time-tape">
		<h1 class="time-tape__title">Лента времени</h1>
		<div class="time-tape__wrapper tab-container">
			<div class="time-tape__period">
				<div class="time-tape__container clearfix">
					<ul class="time-tape__list">
						<li class="time-tape__period-item time-tape__period-item-1 tab-menu-item active">
							<h3 class="time-tape__item-title time-tape__item-title-1">Первобытное общество</h3>
						</li>
						<li class="time-tape__period-item time-tape__period-item-2 tab-menu-item">
							<h3 class="time-tape__item-title time-tape__item-title-2">Древний мир</h3>
						</li>
						<li class="time-tape__period-item time-tape__period-item-3 tab-menu-item">
							<h3 class="time-tape__item-title time-tape__item-title-3">Средние века</h3>
						</li>
						<li class="time-tape__period-item time-tape__period-item-4 tab-menu-item">
							<h3 class="time-tape__item-title time-tape__item-title-4">Новое время</h3>
						</li>
						<li class="time-tape__period-item time-tape__period-item-5 tab-menu-item">
							<h3 class="time-tape__item-title time-tape__item-title-5">Новейшее время</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="time-tape__container">
				<div class="time-tape__history-theme tab-slide-block">
					<h2>Медицина периодов раннего и развитого средневековья</h2>
					<ul class="time-tape__theme-content">
						<li><a href="#time-article" class="active">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
						<li><a href="#time-article">Медицина в Западной Европе в периоды раннего и развитого Средневековья</a></li>
					</ul>
					<h2>Медицина периодов раннего и развитого средневековья</h2>
					<ul class="time-tape__theme-content">
						<li><a href="#time-article">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
					</ul>
				</div>
				<div class="time-tape__history-theme tab-slide-block">
					<ul class="time-tape__theme-content">
						<li><a href="#time-article">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
					</ul>
				</div>
				<div class="time-tape__history-theme tab-slide-block">
					<h2>Медицина периодов раннего и развитого средневековья</h2>
					<ul class="time-tape__theme-content">
						<li><a href="#time-article">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
					</ul>
				</div>
				<div class="time-tape__history-theme tab-slide-block">
					<h2>Медицина периодов раннего и развитого средневековья</h2>
					<ul class="time-tape__theme-content">
						<li><a href="#time-article" class="active">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
						<li><a href="#time-article">Медицина в Западной Европе в периоды раннего и развитого Средневековья</a></li>
					</ul>
					<h2>Медицина периодов раннего и развитого средневековья</h2>
				</div>
				<div class="time-tape__history-theme tab-slide-block">
					<h2>Медицина периодов раннего и развитого средневековья</h2>
					<ul class="time-tape__theme-content">
						<li><a href="#time-article" class="active">Медицина в Византийской империи</a></li>
						<li><a href="#time-article">Медицина в Средневековой Руси. Медицина в Древнерусском государстве</a></li>
						<li><a href="#time-article">Медицина народов Среднего Востока</a></li>
						<li><a href="#time-article">Медицина в Западной Европе в периоды раннего и развитого Средневековья</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="mainBanner _center time-article" id="time-article">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="css/pics/history-tape/time-article.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="css/pics/history-tape/time-article.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>
		<div class="time-article__shadow-block-1">
			<div class="time-article__shadow-block-2">
				<div class="time-article__title-wrap">
					<h2><span>Медицина</span> в Византийской империи</h2>
				</div>
			</div>
		</div>

	</section>
	
	<section class="article-item-1">
		<div class="article-item-1__container clearfix">
			<div class="article-item-1__content article-item-1__content-1  col-md-6 col-lg-6">
				<div class="article-item-1__content-block article-item-1__content-block-1">
					<div class="article-item-1__text-content">
						<h3>Больничное дело в Византии</h3>
						<a href="#">посмотреть</a>
					</div>
				</div>
			</div>
			<div class="article-item-1__content col-md-6 col-lg-6 col-lg-offset-6">
				<div class="article-item-1__content-block article-item-1__content-block-2">
					<div class="article-item-1__text-content">
						<h3><span>Военная</span> медицина в Византии</h3>
						<a href="#">посмотреть</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mainBanner _right article-item-2">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="css/pics/history-tape/article-item-2-wp-mob.png" data-media="(min-width: 414px)"></span>
            <span data-src="css/pics/history-tape/article-item-2-wp.png" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="css/pics/history-tape/article-item-2-wp.png" alt="" class="advice-banner__img">
            </noscript>
        </span>
		<div class="mainBanner__content article-item-2__text-content">
			<h3><span>Знаменитые</span> Византийские врачеватели</h3>
			<a href="#">посмотреть</a>
		</div>

	</section>
	
	<section class="mainBanner _left  article-item-3">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="img/history-tape/article-item-3-bg.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/history-tape/article-item-3-bg.jpg" alt="">
            </noscript>
        </span>
		<div class="mainBanner__content">
			<div class="article-item-3__content-block">
				<div class="article-item-3__text-content">
					<h3><span>История</span> Антилла и Филагрия - авторов операции аневризм</h3>
					<a href="#">узнать больше ></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="mainBanner _center article-item-4">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="css/pics/history-tape/article-item-4-wp-mob.jpg" data-media="(min-width: 414px)"></span>
            <span data-src="css/pics/history-tape/article-item-4-wp.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="css/pics/history-tape/article-item-4-wp.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>
		<div class="mainBanner__content article-item-4__text-content">
			<div class="article-item-4__container">
				<a href="#"><h3>Образование и медицина в Византийской империи</h3></a>
			</div>
		</div>
	</section>

</main>

@@include('./templates/footer.html', {
    "js": "history-tape"
})