@@include('./templates/header.html', {
    "css": "history-city"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<div class="history-city">
	<div class="history-city__container">
		<div class="history-city__slider city-slider clearfix">
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Санкт-Петербург</h3>
			</div>
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Москва</h3>
			</div>
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Новосибирск</h3>
			</div>
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Санкт-Петербург</h3>
			</div>
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Москва</h3>
			</div>
			<div class="history-city__slider-item">
				<div class="history-city__img-wrap">
					<img src="http://placehold.it/414x414" alt="item" class="history-city__img">
				</div>
				<h3 class="history-city__item-title">Новосибирск</h3>
			</div>
		</div>
	</div>
</div>

<div class="history-quote clearfix">
	<div class="history-quote__img-wrap col-md-4">
		<img src="img/history-city/history-quote-wp.jpg" alt="" class="history-quote__img">
	</div>
	<div class="history-quote__block-shadow col-md-8">
		<div class="history-quote__content">
			<p>В 1581 г. с приездом в Москву английского доктора Роберта Якоба (прозванного на русский лад Романом Елизаровым) при дворе Ивана Грозного была учреждена Государева аптека, которая обслуживала членов его семьи. Работали в аптеке англичане, голландцы, немцы и другие иноземцы. От более раннего времени сохранились имена царских лекарей Бомелия, Булева и Эренштейна, которых невежественные москвичи принимали за волхвов.</p>
		</div>
	</div>
</div>

<section class="reform">
	<div class="reform__header">
		<div class="reform__header-wrap">
			<span data-picture="" data-alt="Камни в почках">
			<span data-src="img/history-city/reform-wp-mobile.jpg"></span>
			<span data-src="img/history-city/reform-wp.jpg" data-media="(min-width: 768px)">
				<img src="img/history-city/reform-wp.jpg" alt="" class="reform__header-img">
			</span>
			<noscript>
				<img src="img/history-city/reform-wp.jpg" alt="" class="reform__header-img">
			</noscript>
		</span>
		</div>
		<div class="reform__container">
			<div class="reform__title">
				<h2>Эпоха великих реформ</h2>
			</div>
		</div>
		<div class="reform__header-content">
			<div class="reform__container">
				<p class="reform__header-text">Новый этап развития московского здравоохранения начался при Екатерине II. Изданное в 1775 году "Учреждение для упраления губерний" вводило в штат каждой губернии приказ общественного призрения, в функции которого входили и вопросы организации медицинской помощи. <a href="#" class="reform__header-link">читать далее></a></p>
			</div>
		</div>
	</div>
	<div class="reform__items">
			<div class="mainBanner _right reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-1-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-1.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-1.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title">
							Аптекарский приказ<br>
							<span>Ивана Грозного</span>
						</h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _left reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-2-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-2.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-2.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title">от Петра I
						<span>до Екатерины</span>
						<b>Великой</b></h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _right reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-3-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-3.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-3.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title ">От «Городовых положений» до революции</h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _left reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-4-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-4.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-4.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title">от Петра I
						<span>до Екатерины</span>
						<b>Великой</b></h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _right reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-5-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-5.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-5.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title">Первые годы <br><span>советской</span><br> власти</h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _left reform__item">
				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-city/reform-item-6-tab.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-city/reform-item-6.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-city/reform-item-6.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>
				<div class="mainBanner__content reform__item-text">
					<div class="reform__text-content">
						<h3 class="reform__item-title">Здравоохранение Москвы <br> с 1931 по 1990 годы <br><span>(общие сведения)</span></h3>
						<a href="#" class="reform__item-link">читать</a>
					</div>
				</div>
			</div>

@@include('./templates/paginator.html')

	</div>
</section>

<section class="history-hospital">
	<div class="history-hospital__title">
		<h2 class="history-hospital__title-content">Лечебные учреждения</h2>
	</div>
	<div class="history-hospital__content">
		<div class="history-hospital__item clearfix">
			<div class="history-hospital__img-wrap history-hospital__img-wrap-l col-sm-5">
				<img src="http://placehold.it/589x257" alt="" class="history-hospital__img history-hospital__img-l">
			</div>
			<div class="history-hospital__text-content col-sm-7">
				<h3>Павловская больница</h3>
				<p>История появления первой "народной" больницы такова: в 1762 году Екатерина II прибыла в Москву на коронацию. Ее сопровождал сын Павел, который внезапно тяжело заболел. Для лечения наследника призвали лучших медиков. Всё обошлось, и в память об избавлении Павла Петровича от недуга было решено открыть в Москве больницу для бедных.</p>
			</div>
		</div>
		<div class="history-hospital__item clearfix">
			<div class="history-hospital__img-wrap history-hospital__img-wrap-r col-sm-5 col-sm-push-7">
				<img src="http://placehold.it/589x257" alt="" class="history-hospital__img history-hospital__img-r">
			</div>
			<div class="history-hospital__text-content col-sm-7 col-sm-pull-5">
				<h3>Военный госпиталь</h3>
				<p>История появления первой "народной" больницы такова: в 1762 году Екатерина II прибыла в Москву на коронацию. Ее сопровождал сын Павел, который внезапно тяжело заболел. Для лечения наследника призвали лучших медиков. Всё обошлось, и в память об избавлении Павла Петровича от недуга было решено открыть в Москве больницу для бедных.</p>
			</div>
		</div>
		<div class="history-hospital__item clearfix">
			<div class="history-hospital__img-wrap history-hospital__img-wrap-l col-sm-5">
				<img src="http://placehold.it/589x257" alt="" class="history-hospital__img history-hospital__img-l">
			</div>
			<div class="history-hospital__text-content col-sm-7">
				<h3>Екатерининская больница</h3>
				<p>История появления первой "народной" больницы такова: в 1762 году Екатерина II прибыла в Москву на коронацию. Ее сопровождал сын Павел, который внезапно тяжело заболел. Для лечения наследника призвали лучших медиков. Всё обошлось, и в память об избавлении Павла Петровича от недуга было решено открыть в Москве больницу для бедных.</p>
			</div>
		</div>
		<div class="history-hospital__item clearfix">
			<div class="history-hospital__img-wrap history-hospital__img-wrap-r col-sm-5 col-sm-push-7">
				<img src="http://placehold.it/589x257" alt="" class="history-hospital__img history-hospital__img-r">
			</div>
			<div class="history-hospital__text-content col-sm-7 col-sm-pull-5">
				<h3>Голицынская больница</h3>
				<p>История появления первой "народной" больницы такова: в 1762 году Екатерина II прибыла в Москву на коронацию. Ее сопровождал сын Павел, который внезапно тяжело заболел. Для лечения наследника призвали лучших медиков. Всё обошлось, и в память об избавлении Павла Петровича от недуга было решено открыть в Москве больницу для бедных.</p>
			</div>
		</div>
		<div class="history-hospital__item history-hospital__item-last clearfix">
			<div class="history-hospital__img-wrap history-hospital__img-wrap-l col-sm-5">
				<img src="http://placehold.it/589x257" alt="" class="history-hospital__img history-hospital__img-l">
			</div>
			<div class="history-hospital__text-content col-sm-7">
				<h3>Шереметевская больница</h3>
				<p>История появления первой "народной" больницы такова: в 1762 году Екатерина II прибыла в Москву на коронацию. Ее сопровождал сын Павел, который внезапно тяжело заболел. Для лечения наследника призвали лучших медиков. Всё обошлось, и в память об избавлении Павла Петровича от недуга было решено открыть в Москве больницу для бедных.</p>
			</div>
		</div>
			<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
	</div>
</section>

</main>

@@include('./templates/footer.html', {
    "js": "history-city"
})