@@include('./templates/header.html', {
    "css": "history-main"
})

<span class="svginclude">
@@include('../source/svg/svg-history-main.html')
</span>

<main class="main">

@@include('./templates/breadcrumbs.html')

	<div class="icons icons__3">
		<div class="icons__container">
			<ul class="icons__list">

				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-istoriya-v-licah"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            История в лицах
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-istoriya-po-gorodam"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Медицина по городам России
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-kak-otkrili"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Как открыли
                        </span>
					</a>
				</li>

				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-lenta-vremeni"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Лента времени
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-int-fact"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Интересные факты
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-ist-v-muz"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Медицина в музеях
                        </span>
					</a>
				</li>

			</ul>

		</div>
	</div>

	
	<section class="popular-sections">
		<div class="popular-sections__container">
			<div class="popular-sections__title">
				<h2>Популярные разделы:</h2>
				<p>Выберите интересующую Вас букву, или раздел</p>
			</div>
			<ul class="alphabet">
				<li><a href="#" class="alphabet__item">А</a></li>
				<li><a href="#" class="alphabet__item">Б</a></li>
				<li><a href="#" class="alphabet__item">В</a></li>
				<li><a href="#" class="alphabet__item">Г</a></li>
				<li><a href="#" class="alphabet__item">Д</a></li>
				<li><a href="#" class="alphabet__item">Е</a></li>
				<li><a href="#" class="alphabet__item">Ё</a></li>
				<li><a href="#" class="alphabet__item">Ж</a></li>
				<li><a href="#" class="alphabet__item">З</a></li>
				<li><a href="#" class="alphabet__item">И</a></li>
				<li><a href="#" class="alphabet__item">Й</a></li>
				<li><a href="#" class="alphabet__item">К</a></li>
				<li><a href="#" class="alphabet__item">Л</a></li>
				<li><a href="#" class="alphabet__item">М</a></li>
				<li><a href="#" class="alphabet__item">Н</a></li>
				<li><a href="#" class="alphabet__item">О</a></li>
				<li><a href="#" class="alphabet__item">П</a></li>
				<li><a href="#" class="alphabet__item">Р</a></li>
				<li><a href="#" class="alphabet__item">С</a></li>
				<li><a href="#" class="alphabet__item">Т</a></li>
				<li><a href="#" class="alphabet__item">У</a></li>
				<li><a href="#" class="alphabet__item">Ф</a></li>
				<li><a href="#" class="alphabet__item">Х</a></li>
				<li><a href="#" class="alphabet__item">Ц</a></li>
				<li><a href="#" class="alphabet__item">Ч</a></li>
				<li><a href="#" class="alphabet__item">Ш</a></li>
				<li><a href="#" class="alphabet__item">Щ</a></li>
				<li><a href="#" class="alphabet__item">Ъ</a></li>
				<li><a href="#" class="alphabet__item">Ы</a></li>
				<li><a href="#" class="alphabet__item">Ь</a></li>
				<li><a href="#" class="alphabet__item">Э</a></li>
				<li><a href="#" class="alphabet__item">Ю</a></li>
				<li><a href="#" class="alphabet__item">Я</a></li>
			</ul>
			<div class="popular-sections__articles clearfix">
				<a href="#" class="popular-sections__article-item">
					<svg class="popular-sections__article-item__svg">
						<use xlink:href="#icon-psihologiya"></use>
					</svg>
					Психология
				</a>
				<a href="#" class="popular-sections__article-item">
					<svg class="popular-sections__article-item__svg popular-sections__article-item-2">
						<use xlink:href="#icon-otnosheniya"></use>
					</svg>
					Отношения
				</a>
				<a href="#" class="popular-sections__article-item ">
					<svg class="popular-sections__article-item__svg popular-sections__article-item-3">
						<use xlink:href="#icon-materinstvo"></use>
					</svg>
					Материнство
				</a>
				<a href="#" class="popular-sections__article-item">
					<svg class="popular-sections__article-item__svg popular-sections__article-item-4">
						<use xlink:href="#icon-dietologiya"></use>
					</svg>
					Диетология / Питание
				</a>
				<a href="#" class="popular-sections__article-item">
					<svg class="popular-sections__article-item__svg">
						<use xlink:href="#icon-vred-privichki"></use>
					</svg>
					Вредные привычки
				</a>
			</div>
		</div>
	</section>
	
	<section class="faces-history">
		<div class="faces-history__container">
			<div class="faces-history__title">
				<h2>История в лицах</h2>
			</div>
			<div class="faces-history__items clearfix">
				<div class="faces-history__item">
					<div class="faces-history__img-wrap">
						<img src="http://placehold.it/200x200" alt="" class="faces-history__img">
					</div>
					<div class="faces-history__text-content">
						<h3>Фёдор Петрович Гааз</h3>
						<p>(1780 — 1853)</p>
						<a href="#">читать ></a>
					</div>
				</div>
				<div class="faces-history__item">
					<div class="faces-history__img-wrap">
						<img src="http://placehold.it/200x200" alt="" class="faces-history__img">
					</div>
					<div class="faces-history__text-content">
						<h3>Фёдор Петрович Гааз</h3>
						<p>(1780 — 1853)</p>
						<a href="#">читать ></a>
					</div>
				</div>
				<div class="faces-history__item">
					<div class="faces-history__img-wrap">
						<img src="http://placehold.it/200x200" alt="" class="faces-history__img">
					</div>
					<div class="faces-history__text-content">
						<h3>Фёдор Петрович Гааз</h3>
						<p>(1780 — 1853)</p>
						<a href="#">читать ></a>
					</div>
				</div>
				<div class="faces-history__item">
					<div class="faces-history__img-wrap">
						<img src="http://placehold.it/200x200" alt="" class="faces-history__img">
					</div>
					<div class="faces-history__text-content">
						<h3>Фёдор Петрович Гааз</h3>
						<p>(1780 — 1853)</p>
						<a href="#">читать ></a>
					</div>
				</div>
				<div class="faces-history__item">
					<div class="faces-history__img-wrap">
						<img src="http://placehold.it/200x200" alt="" class="faces-history__img">
					</div>
					<div class="faces-history__text-content">
						<h3>Фёдор Петрович Гааз</h3>
						<p>(1780 — 1853)</p>
						<a href="#">читать ></a>
					</div>
				</div>
			</div>
			<div class="faces-history__link-wrap">
				<a href="#!" class="link-arrow  link-arrow_purpur">перейти в раздел</a>
			</div>
		</div>
	</section>
	
	<section class="medicine-city">
		<div class="medicine-city__title">
			<h2>Медицина по городам России</h2>
		</div>
		<div class="medicine-city__block-select">
			<div class="medicine-city__container">
				<div class="medicine-city__city">
					<div class="medicine-city__select ">
						<a href="#!" id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link">
							<span class="dropdown-select-text">Выберите город</span>
							<span class="caret medicine-city__caret"></span>
						</a>
					</div>
					<div id="myModal" class="city-modal__modal"></div>
					<div id="loading" style="display: none">
						Идет загрузка...
					</div>

				</div>
			</div>
		</div>
		<div class="medicine-city__content">
			<div class="medicine-city__container clearfix">
				<div class="medicine-city__item-img col-md-4">
					<div class="medicine-city__item-content">
						<div class="medicine-city__img-wrap">
							<img src="http://placehold.it/392x392" alt="" class="medicine-city__img">
						</div>
						<div class="medicine-city__img-title">
							<h3>Санкт-Петербург</h3>
						</div>
					</div>
				</div>
				<div class="medicine-city__item-news col-md-8 clearfix">
					<div class="medicine-city__item-news-1 col-md-6">
						<div class="medicine-city__item clearfix"><a href="#" class="medicine-city__link">
							<div class="medicine-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
						<div class="medicine-city__item clearfix"><a href="" class="medicine-city__link">
							<div class="medicine-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
						<div class="medicine-city__item clearfix"><a href="" class="medicine-city__link">
							<div class="medicine#-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
					</div>
					<div class="medicine-city__item-news-2 col-md-6">
						<div class="medicine-city__item clearfix"><a href="" class="medicine-city__link">
							<div class="medicine-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
						<div class="medicine-city__item clearfix"><a href="" class="medicine-city__link">
							<div class="medicine-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
						<div class="medicine-city__item clearfix"><a href="" class="medicine-city__link">
							<div class="medicine-city__news-wrap pull-left">
								<img src="http://placehold.it/70x70" alt="" class="medicine-city__news-img">
							</div>
							<div class="medicine-city__text-content pull-right">
								<h4>Как телемедицина может спасать жизни?</h4>
								<time datetime="2017-05-30T21:30">30 мая 21:30</time>
								<p>Телемедицина стремительно набирает популярность, при этом многие до сих пор неоднозначно относятся к ней. Впрочем, это не мешает ей спасать жизни людей уже сегодня.</p>
							</div>
						</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="medicine-city__link-wrap">
			<a href="#!" class="link-arrow  link-arrow_purpur">перейти в раздел</a>
		</div>
	</section>
	
	<section class="discovery">
		<div class="discovery__container">
			<div class="discovery__title">
				<h2>Как <span>о</span>ткрыли...</h2>
				<p>история известных мировых изобретений</p>
			</div>
		</div>
		<div class="discovery__items">
			<div class="mainBanner _center">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-1-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-1.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-1.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>

				<div class="mainBanner__content discovery__item-content">
						<h3>медицинский нож.<br>История скальпеля.</h3>
						<p>Во времена мезолита люди использовали заостренный кремень, но но не с целью убить, а с целью облегчить состояние пациента.</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
			<div class="mainBanner _left">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-2-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-2.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-2.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>

				<div class="mainBanner__content discovery__item-content">
						<h3>инсулин</h3>
						<p>В 1921 г. канадским врачам Фредерику Бантингу и Чарльзу Бесту из Торонто удалось выделить инсулин из поджелудочной железы собаки</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
			<div class="mainBanner _right">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="img/history-discovery/item-3-mob.jpg" data-media="(min-width: 414px)"></span>
            		<span data-src="img/history-discovery/item-3.jpg" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="img/history-discovery/item-3.jpg" alt="" class="advice-banner__img">
            		</noscript>
        		</span>

				<div class="mainBanner__content discovery__item-content">
						<h3>микроскоп</h3>
						<p>всё об истории создания</p>
						<a href="#">Узнать больше ></a>
				</div>
			</div>
		</div>
		<div class="discovery__link-wrap">
			<a href="#!" class="link-arrow  link-arrow_purpur">перейти в раздел</a>
		</div>
	</section>
	
	<section class="time-tape time-tape_faces">
		<h1 class="time-tape__title">Лента времени</h1>
		<div class="time-tape__period">
			<div class="time-tape__container clearfix">
				<a href="#" class="time-tape__period-item time-tape__period-item-1">
					<h3 class="time-tape__item-title time-tape__item-title-1">Первобытное общество</h3>
				</a>
				<a href="#" class="time-tape__period-item time-tape__period-item-2">
					<h3 class="time-tape__item-title time-tape__item-title-2">Древний мир</h3>
				</a>
				<a href="#" class="time-tape__period-item time-tape__period-item-3">
					<h3 class="time-tape__item-title time-tape__item-title-3">Средние века</h3>
				</a>
				<a href="#" class="time-tape__period-item time-tape__period-item-4">
					<h3 class="time-tape__item-title time-tape__item-title-4">Новое время</h3>
				</a>
				<a href="#" class="time-tape__period-item time-tape__period-item-5">
					<h3 class="time-tape__item-title time-tape__item-title-5">Новейшее время</h3>
				</a>
			</div>
		</div>
	</section>
	
	<section class="interesting-facts interesting-facts_main">

		<div class="interesting-facts__wrapper">
		<div class="interesting-facts__container">
			<div class="interesting-facts__title">
				<h2>Интересные факты</h2>
			</div>
			<div class="interesting-facts__items">
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p><a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.</p>
					</div>
				</div>
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p><a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.</p>
					</div>
				</div>
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p><a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.</p>
					</div>
				</div>
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p><a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.</p>
					</div>
				</div>
				<div class="interesting-facts__item">
					<div class="interesting-facts__img-wrap">
						<img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
					</div>
					<div class="interesting-facts__text-content">
						<p><a href="#">Выражение «желтый дом»</a> пошло от психиатрического отделения Обуховской больницы в санкт-Петербурге. В те годы часто использовалась желтая краска, ей и был выкрашен психиатрический корпус Обуховки, как и ряд других зданий, однако именно этот корпус сделал выражение "желтый дом" нарицательным.</p>
					</div>
				</div>

			</div>
		</div>
		</div>
	</section>

</main>

@@include('./templates/footer.html', {
    "js": "history-main"
})