@@include('./templates/header.html', {
    "css": "ideal_ves"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background">
	<div class="page-content n-page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1">Ваш идеальный вес</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content n-quoteblock">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<div class="n-quoteblock__quote">
						Калькулятор рассчитывает идеальный вес с учетом роста, возраста и типа фигуры. 
						Подробнее о своем идеальном весе вы можете узнать после заполнения формы.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content n-lastselect">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<form class="n-calcform__form">
					<h2 class="n-calcform__h2">
						Заполните форму:
					</h2>
					<div class="form-border">
						<div class="form-group">
							<div class="row">
								<div class="n-calcform__leftcaption">Возраст</div>
								<div class="col-md-7 col-xs-8 col-xs-offset-2 col-md-offset-4">
									<input type="text" class="n-calcform__input">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="n-calcform__leftcaption">Рост</div>
								<div class="col-md-7 col-xs-8 col-xs-offset-2 col-md-offset-4">
									<input type="text" class="n-calcform__input">
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="row">
								<div class="n-calcform__leftcaption">Тип телосложения</div>
								<div class="col-md-7 col-xs-8 col-xs-offset-2 col-md-offset-4">
									<select class="n-calcform__select">
										<option value="1">занятия фитнесом</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<button class="n-calcform__button">
						узнать идеальный вес
					</button>
					<div class="n-calcform__caption">
						Ваш результат готов!
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="n-result">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="n-result__block">
								Ваш идеальный вес
								<div class="n-result__el">
									54 кг
								</div>
							</div>
							<button class="n-result__button position-left">
								<span class="btn-icon"></span>
								<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</div>

</main>

@@include('./templates/footer.html', {
    "js": "ideal_ves"
})