@@include('./templates/header.html', {
    "css": "imt"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background">
	<div class="page-content n-page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1">Калькулятор индекса массы тела</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content n-quoteblock">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<div class="n-quoteblock__quote">
						Онлайн-калькулятор позволяет рассчитать индекс массы тела для мужчин и женщин. 
						Укажите свой вес и рост. После ввода данных система определит, в норме ли ваша 
						масса тела.
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="n-calcform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-md-offset-5 col-sm-12">
					<form class="n-calcform__form">
						<h2 class="n-calcform__h2">
							Заполните форму:
						</h2>
						<div class="form-border">
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Пол</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<label class="radio-container pull-left">
											<input type="radio" name="f1" value="1">
											<span class="radio-body"></span>
											<span class="radio-text">женский</span>
										</label>
										<label class="radio-container pull-right">
											<input type="radio" name="f1" value="2">
											<span class="radio-body"></span>
											<span class="radio-text">мужской</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Вес</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">кг</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Рост</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">см</div>
								</div>
							</div>
						</div>
						<button class="n-calcform__button">
							рассчитать
						</button>
						<div class="n-calcform__caption">
							Ваш результат готов!
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div class="n-result">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-7 col-md-offset-5">
							<div class="n-result__block">
								Ваш индекс массы тела (ИМТ) равен:
								<div class="n-result__el">
									21.19
								</div>
								У вас нормальный вес
								</div>
							<button class="n-result__button">
								<span class="btn-icon"></span>
								<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="n-menu">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-md-offset-5">
					<div class="n-menu__border">
						<h3>Создавайте<span class="bottom">СВОЕ МЕНЮ</span></h3>
						<div class="bottom2">с учетом продуктов,<br>которые Вы любите</div>
						<a href="" class="n-menu__create-link">создать</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</div>

</main>

@@include('./templates/footer.html', {
    "js": "imt"
})