@@include('./templates/header.html', {
	"css": "index-2"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="other other_inner">
		<div class="other__content clearfix">
			<div class="other__title col-md-6">
				<a href="">
					<h2>Вернуться</h2>
					<h2>на главную</h2>
				</a>
			</div>
			<div class="other__container">
				<div class="other__articles col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-6">
					<a href="#" class="other__link"><div class="other__article-item">
						<div class="other__img-wrap">
							<img src="http://placehold.it/170x170" alt="" class="other__img">
						</div>
						<h3><span>Для людей</span> с безграничными возможностями</h3>
					</div></a>
					<a href="#" class="other__link"><div class="other__article-item">
						<div class="other__img-wrap">
							<img src="http://placehold.it/170x170" alt="" class="other__img">
						</div>
						<h3><span>Как прожить</span> до 120 лет</h3>
					</div></a>
					<a href="#" class="other__link"><div class="other__article-item">
						<div class="other__img-wrap">
							<img src="http://placehold.it/170x170" alt="" class="other__img">
						</div>
						<h3>Регионы</h3>
					</div></a>
					<a href="#" class="other__link"><div class="other__article-item">
						<div class="other__img-wrap">
							<img src="http://placehold.it/170x170" alt="" class="other__img">
						</div>
						<h3>ONLINE калькуляторы</h3>
					</div></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="indexBanner _right">
		<span data-picture="" data-alt="Камни в почках">
			<span data-src="img/index-2/support-block-mobile.jpg"></span>
			<span data-src="img/index-2/support-block-tablet.jpg" data-media="(min-width: 414px)"></span>
			<span data-src="img/index-2/support-block-desktop.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/index-2/support-block-desktop.jpg" alt="">
			</noscript>
		</span>
		<div class="indexBanner__content _whiteBG _padBG">
			<h3>Правовая поддержка.</h3>
			<p>Закон на Вашей стороне</p>
			<a href="#">узнать больше</a>
		</div>
	</section>
	
	<section class="indexBanner _center">
		<span data-picture="" data-alt="Камни в почках">
			<span data-src="img/index-2/diabetes-block-mobile.jpg"></span>
			<span data-src="img/index-2/diabetes-block-tablet.jpg" data-media="(min-width: 414px)"></span>
			<span data-src="img/index-2/diabetes-block-desktop.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/index-2/diabetes-block-desktop.jpg" alt="">
			</noscript>
		</span>
		<div class="indexBanner__content _whiteBG _padBG">
			<h3>Сахарный диабет.</h3>
			<p>Вся правда</p>
			<a href="#">узнать больше</a>
		</div>

	</section>
	
	<section class="blocks clearfix">
		<div class="blocks__interview col-md-4">

			@@include('./templates/interview.html')

		</div>
		<div class="blocks__right col-md-8">
			<section class="indexBanner _left">
				<span data-picture="" data-alt="Камни в почках">
					<span data-src="img/index-2/preparation-block-mobile.jpg"></span>
					<span data-src="img/index-2/preparation-block-tablet.jpg" data-media="(min-width: 414px)"></span>
					<span data-src="img/index-2/preparation-block-desktop.jpg" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="img/index-2/preparation-block-desktop.jpg" alt="">
					</noscript>
				</span>
				<div class="indexBanner__content _blueBG _whiteFont _padBG">
					<h3>Препараты.</h3>
					<p>Для профессионалов своего дела.</p>
					<a href="#">узнать больше</a>
				</div>

			</section>
			<section class="indexBanner _right">
				<span data-picture="" data-alt="Камни в почках">
					<span data-src="img/index-2/urology-block-mobile.jpg"></span>
					<span data-src="img/index-2/urology-block-tablet.jpg" data-media="(min-width: 414px)"></span>
					<span data-src="img/index-2/urology-block-desktop.jpg" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="img/index-2/urology-block-desktop.jpg" alt="">
					</noscript>
				</span>
				<div class="indexBanner__content _whiteBG">
					<h3>Урология</h3>
					<p>Симптомы. Заболевания. Лечение.</p>
					<a href="#">узнать больше</a>
				</div>
			</section>
		</div>
	</section>
	
	<section class="indexBanner _left">

		<span data-picture="" data-alt="Камни в почках">
			<span data-src="img/index-2/lifestyle-block-mobile.jpg"></span>
			<span data-src="img/index-2/lifestyle-block-tablet.jpg" data-media="(min-width: 414px)"></span>
			<span data-src="img/index-2/lifestyle-block-desktop.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/index-2/lifestyle-block-desktop.jpg" alt="">
			</noscript>
		</span>

		<div class="indexBanner__content _whiteBG _pinkFont">
			<h3>Здоровый образ жизни </h3>
			<a href="#">узнать больше</a>
		</div>

	</section>
	
	<section class="indexBanner _center-bottom">
		<span data-picture="" data-alt="Камни в почках">
			<span data-src="img/index-2/catalog-block-mobile.jpg"></span>
			<span data-src="img/index-2/catalog-block-tablet.jpg" data-media="(min-width: 414px)"></span>
			<span data-src="img/index-2/catalog-block-desktop.jpg" data-media="(min-width: 992px)"></span>
			<noscript>
				<img src="img/index-2/catalog-block-desktop.jpg" alt="">
			</noscript>
		</span>
		<div class="indexBanner__content _whiteBG">
			<h3>Каталог клиник</h3>
			<a href="#">узнать больше</a>
		</div>

	</section>

</main>

@@include('./templates/footer.html', {
	"js": "index-2"
})