
@@include('./templates/header.html', {
"css": "inner-diseases"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')
    <section class="handbook">
        <div class="handbook__cont">
            <h1 class="handbook__header">Справочник и болезни</h1>
            <div class="handbook__txt">Нажмите на беспокоющую Вас область, чтобы мы смогли Вам помочь</div>
            <div class="mans">
                <div class="mans__img-cont">
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _1">+</div></a>
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _2">+</div></a>
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _3">+</div></a>
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _4">+</div></a>
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _5">+</div></a>
                    <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html"><div  class="mans__plus _6">+</div></a>
                </div>
                <div id="dynamic-cont" class="mans__popup dynamic-cont organs-list-cont">
                </div>
                <div id="loading" style="display: none">
                    Идет загрузка...
                </div>
            </div>
        </div>
    </section>
    <div id="dynamic-cont-2" class="dynamic-cont-2">
    </div>
</main>

@@include('./templates/footer.html', {
"js": "inner-diseases"
})