@@include('./templates/header.html', {
"css": "inner-diseases-search"
})


<main class="main">
  @@include('./templates/breadcrumbs.html')

  <div class="search">
    <div class="in-group_search search__in-group">
      <label class="in-group_search__label" for="search">Напишите, что Вас беспокоит</label>
      <div class="row in-group_search__in-cont">
        <input id="search" type="text" class="in-group_search__in" placeholder="Например: Боль в горле">
        <a class="btn in-group_search__btn" title="Найти заболевание">найти&#62;</a>
      </div>
    </div>
  </div>

  <section class="handbook">
    <div class="handbook__cont">
      <h1 class="handbook__header">Справочник и болезни</h1>
      <div class="handbook__txt">Нажмите на беспокоющую Вас область, чтобы мы смогли Вам помочь</div>
      <div class="mans">
        <div class="mans__img-cont">
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _1">+</div>
          </a>
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _2">+</div>
          </a>
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _3">+</div>
          </a>
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _4">+</div>
          </a>
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _5">+</div>
          </a>
          <a class="routing-link" href="#!" data-url="dynamic-blocks/mans-popup.html">
            <div class="mans__plus _6">+</div>
          </a>
        </div>
        <div id="dynamic-cont" class="mans__popup dynamic-cont organs-list-cont">
        </div>
        <div id="loading" style="display: none">
          Идет загрузка...
        </div>
      </div>
    </div>
  </section>

  <div class="alphabet">
    <div class="alphabet__desc">или воспользуйтесь алфавитным указателем</div>
    <div class="alphabet__container">
      <ul class="alphabet__ul-char">
        <li class="alphabet__li"><a title="А" href="#!" class="alphabet__li-char">А</a></li>
        <li class="alphabet__li"><a title="Б" href="#!" class="alphabet__li-char">Б</a></li>
        <li class="alphabet__li"><a title="В" href="#!" class="alphabet__li-char">В</a></li>
        <li class="alphabet__li"><a title="Г" href="#!" class="alphabet__li-char">Г</a></li>
        <li class="alphabet__li"><a title="Д" href="#!" class="alphabet__li-char">Д</a></li>
        <li class="alphabet__li"><a title="Е" href="#!" class="alphabet__li-char">Е</a></li>
        <li class="alphabet__li"><a title="Ё" href="#!" class="alphabet__li-char">Ё</a></li>
        <li class="alphabet__li"><a title="Ж" href="#!" class="alphabet__li-char">Ж</a></li>
        <li class="alphabet__li"><a title="З" href="#!" class="alphabet__li-char">З</a></li>
        <li class="alphabet__li"><a title="И" href="#!" class="alphabet__li-char">И</a></li>
        <li class="alphabet__li"><a title="Й" href="#!" class="alphabet__li-char">Й</a></li>
        <li class="alphabet__li"><a title="К" href="#!" class="alphabet__li-char">К</a></li>
        <li class="alphabet__li"><a title="Л" href="#!" class="alphabet__li-char">Л</a></li>
        <li class="alphabet__li"><a title="М" href="#!" class="alphabet__li-char">М</a></li>
        <li class="alphabet__li"><a title="Н" href="#!" class="alphabet__li-char">Н</a></li>
        <li class="alphabet__li"><a title="О" href="#!" class="alphabet__li-char">О</a></li>
        <li class="alphabet__li"><a title="П" href="#!" class="alphabet__li-char">П</a></li>
        <li class="alphabet__li"><a title="Р" href="#!" class="alphabet__li-char">Р</a></li>
        <li class="alphabet__li"><a title="С" href="#!" class="alphabet__li-char">С</a></li>
        <li class="alphabet__li"><a title="Т" href="#!" class="alphabet__li-char">Т</a></li>
        <li class="alphabet__li"><a title="У" href="#!" class="alphabet__li-char">У</a></li>
        <li class="alphabet__li"><a title="Ф" href="#!" class="alphabet__li-char">Ф</a></li>
        <li class="alphabet__li"><a title="Х" href="#!" class="alphabet__li-char">Х</a></li>
        <li class="alphabet__li"><a title="Ц" href="#!" class="alphabet__li-char">Ц</a></li>
        <li class="alphabet__li"><a title="Ч" href="#!" class="alphabet__li-char">Ч</a></li>
        <li class="alphabet__li"><a title="Ш" href="#!" class="alphabet__li-char">Ш</a></li>
        <li class="alphabet__li"><a title="Щ" href="#!" class="alphabet__li-char">Щ</a></li>
        <li class="alphabet__li"><a title="Ъ" href="#!" class="alphabet__li-char">Ъ</a></li>
        <li class="alphabet__li"><a title="Ы" href="#!" class="alphabet__li-char">Ы</a></li>
        <li class="alphabet__li"><a title="Ь" href="#!" class="alphabet__li-char">Ь</a></li>
        <li class="alphabet__li"><a title="Э" href="#!" class="alphabet__li-char">Э</a></li>
        <li class="alphabet__li"><a title="Ю" href="#!" class="alphabet__li-char">Ю</a></li>
        <li class="alphabet__li"><a title="Я" href="#!" class="alphabet__li-char">Я</a></li>
      </ul>
    </div>
  </div>
    <div class="char-slider">
      <div class="char-slider__item">
        <div class="row char-slider__row">
          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву А"
                                                   class="char-slider__char-link">А</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Аллергология</a></li>
              <li><a href="#!" class="char-slider__med-sec-link">Акушерство</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Б"
                                                   class="char-slider__char-link">Б</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Бальнеотерапия</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву В"
                                                   class="char-slider__char-link">В</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Венерология</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Г"
                                                   class="char-slider__char-link">Г</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Гастроэнтерология</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="char-slider__item">
        <div class="row char-slider__row">
          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Д"
                                                   class="char-slider__char-link">Д</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Аллергология</a></li>
              <li><a href="#!" class="char-slider__med-sec-link">Акушерство</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Е"
                                                   class="char-slider__char-link">Е</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Бальнеотерапия</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Ж"
                                                   class="char-slider__char-link">Ж</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Венерология</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву З"
                                                   class="char-slider__char-link">З</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Гастроэнтерология</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="char-slider__item">
        <div class="row char-slider__row">
          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву И"
                                                   class="char-slider__char-link">И</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Аллергология</a></li>
              <li><a href="#!" class="char-slider__med-sec-link">Акушерство</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву К"
                                                   class="char-slider__char-link">К</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Бальнеотерапия</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву Л"
                                                   class="char-slider__char-link">Л</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Венерология</a></li>
            </ul>
          </div>

          <div class="col-sm-3">
            <div class="char-slider__char-cont"><a href="#!" title="Раздел медицины на букву М"
                                                   class="char-slider__char-link">М</a></div>
            <ul class="char-slider__med-sec">
              <li><a href="#!" class="char-slider__med-sec-link">Гастроэнтерология</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="handbook-diamond">
    <div class="frame-diamond frame-bord _def">
      <div class="frame-diamond__cont">
        <div class="frame-diamond__head-cont">от <span class="frame-diamond__big-char">А</span> до <span
            class="frame-diamond__big-char">Я</span></div>
        <div class="frame-diamond__txt-cont">полный справочник болезней</div>
        <a class="btn _tran _black frame-diamond__btn" title="Перейти в полный справочник болезней">посмотреть</a>
      </div>
    </div>
  </div>

  <section class="information">
    <div class="information__cont">
      <h2 class="information__header">Информация всегда под рукой:</h2>
      <ul class="information__ul">
        <li><a href="#!" title="Показать ближайшие аптеки" class="information__link"> Ближайшие аптеки</a></li>
        <li><a href="#!" title="Показать Ближайшие мед.центры" class="information__link"> Ближайшие мед.центры</a></li>
        <li><a href="#!" title="Показать Ближайшие страховые компании" class="information__link"> Ближайшие страховые
          компании</a></li>
        <li><a href="#!" title="Показать Диагностические центры" class="information__link"> Диагностические центры</a>
        </li>
      </ul>
      <a href="#!" class="link-arrow ">перейти в раздел</a>
    </div>
  </section>

  <section class="news">
    <h2 class="news__head">Новости</h2>
    <div class="news__cont">
      <div class="news__news-sec _1">
        <img src="img/inner-diseases-search/news/news-img-1.jpg" alt="Новое лекарство от рака">
        <div class="news__desc-cont">
          <a href="#!" title="показать новости этой даты"><span class="news__date"><time
              datetime="2016-07-21">21 июля 2016</time></span></a>
          <a href="#!" title="подробнее о новом средстве борьбы с раком">
            <h3>На борьбу с раком направят кошачьего паразита</h3>
            <div class="news__txt">Американские ученые предлагают использовать для иммунной терапии рака
              токсоплазму.
            </div>
          </a>
        </div>
      </div>
      <div class="news__news-sec _2">
        <img src="img/inner-diseases-search/news/news-img-2.jpg" alt="Опасные летние блюда">
        <div class="news__desc-cont">
          <a href="#!" title="показать новости этой даты"><span class="news__date"><time
              datetime="2016-07-21">21 июля 2016</time></span></a>
          <a href="#!" title="подробнее об опасных блюдах">
            <h3>Блюда, которыми можно <br>отравиться летом</h3>
            <div class="news__txt _hidden">Американские ученые предлагают использовать для иммунной терапии
              рака токсоплазму.
            </div>
          </a>
        </div>
      </div>
      <div class="news__news-sec _3">
        <img src="img/inner-diseases-search/news/news-img-3.jpg" alt="Причина возникновения туберкулеза">
        <div class="news__desc-cont">
          <a href="#!" title="показать новости этой даты"><span class="news__date"><time
              datetime="2016-07-21">21 июля 2016</time></span></a>
          <a href="#!" title="подробнее о причине появления туберкулеза">
            <h3>Появление туберкулеза назвали <br>следствием освоения огня</h3>
            <div class="news__txt _hidden">Американские ученые предлагают использовать для иммунной терапии
              рака токсоплазму.
            </div>
          </a>
        </div>
      </div>
    </div>
    <a href="#!" class="link-arrow link-arrow_blue _info">перейти в раздел</a>
  </section>

  <div class="diamonds-desc diamonds-ch-dis">
    <div class="diamonds-desc__cont">

      <div class="diamonds-desc__txt-cont">
        <h2>Детские болезни:</h2>
        <div class="diamonds-desc__txt">
          <div class="diamonds-desc__desc">
            К сожалению, не во власти родителей сделать так,
            чтобы ребенок совсем не болел. Но мы можем с
            полной уверенностью сказать, что во власти роди-
            телей оградить ребенка от многих заболеваний, а
            если какой-то болезни несмотря ни на что избежать
            не удалось, то — ослабить ее проявления, не допус-
            тить осложнений, порой опасных для жизни. <br>
            <b>Лучший помощник родителям в этом деле — знание.</b>
          </div>
          <a class="btn _blue diamonds-desc__btn" title="Перейти в полный справочник детских болезней">смотреть</a>
        </div>

      </div>

      <div class="diamonds _inverse diamonds-desc__diam-right">
        <div class="diamonds__pics-cont">
          <div class="diamonds__pic-1 diamonds-ch-dis__pic-1"></div>
          <div class="diamonds__pic-2 diamonds-ch-dis__pic-2 _border"></div>
          <div class="diamonds__pic-3 diamonds-ch-dis__pic-3"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="diamonds-desc diamonds-rare-dis">
    <div class="diamonds-desc__cont">
      <div class="diamonds-desc__txt-cont">
        <h2>Редкие болезни</h2>
        <div class="diamonds-desc__txt">
          <div class="diamonds-desc__desc">
            Многие редкие заболевания являются генетическими, и,
            следовательно, сопровождают человека в течение всей жизни,
            даже если симптомы проявляются не сразу. Многие редкие
            заболевания возникают в детстве, и около 30 % детей с редкими
            заболеваниями не доживают 5 лет. <br>
            <br>
            Не существует единообразного уровня распространенности
            заболевания в популяции, чтобы считать его редким.
          </div>
          <a class="btn _blue diamonds-desc__btn" title="Перейти в полный справочник детских болезней">смотреть</a>
        </div>

      </div>
      <div class="diamonds diamonds-desc__diam-left">
        <div class="diamonds__pics-cont">
          <div class="diamonds__pic-1 diamonds-rare-dis__pic-1"></div>
          <div class="diamonds__pic-2 diamonds-rare-dis__pic-2 _border"></div>
          <div class="diamonds__pic-3 diamonds-rare-dis__pic-3"></div>
        </div>
      </div>
    </div>
  </section>

  <div class="diamonds-diagnostics">
    <div class="diamonds-diagnostics__cont">
      <section class="diag-form">
        <form action="#" class="diag-form__input-group clearfix">
          <h2 class="diamonds-diagnostics__head">Диагностика:</h2>
          <div class="drop _select-input _blue">
            <input class="drop__input" type="text" placeholder="Выберите направление">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul">
                  <li class="drop__li">направление 1</li>
                  <li class="drop__li">направление 2</li>
                  <li class="drop__li">направление 3</li>
                  <li class="drop__li">направление 4</li>
                  <li class="drop__li">направление 5</li>
                  <li class="drop__li">направление 6</li>
                  <li class="drop__li">направление 7</li>
                  <li class="drop__li">направление 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="drop _select-input _blue">
            <input class="drop__input" type="text" placeholder="Заболевание">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul">
                  <li class="drop__li">заболевание 1</li>
                  <li class="drop__li">заболевание 2</li>
                  <li class="drop__li">заболевание 3</li>
                  <li class="drop__li">заболевание 4</li>
                  <li class="drop__li">заболевание 5</li>
                  <li class="drop__li">заболевание 6</li>
                  <li class="drop__li">заболевание 7</li>
                  <li class="drop__li">заболевание 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>



          <button type="submit" class="btn _tran _black diag-form__show-btn" title="Показать заболевание">показать</button>
        </form>
        <div class="diag-form__cont">
          <ul>
            <li>Необходимая диагностика</li>
            <li>
              <ol>
                <li><a href="#">К эндокринологу</a></li>
              </ol>
            </li>
            <li>К каким специалистам необходимо обратиться?</li>
            <li>
              <ol>
                <li><a href="#">Гормональное исследование крови</a></li>
                <li><a href="#">Биохимическое исследование крови</a></li>
                <li><a href="#">Рентгенологическое исследование</a></li>
                <li><a href="#">Компьютерная томография щитовидной железы</a></li>
              </ol>
            </li>
          </ul>
          <a href="#!" title="Показать заболевание" class="btn _tran _black">Перейти в раздел</a>
        </div>
      </section>

      <div class="diamonds _inverse diamonds-desc__diam-right">
        <div class="diamonds__pics-cont">
          <div class="diamonds__pic-1 diamonds-diagnostics__pic-1"></div>
          <div class="diamonds__pic-2 diamonds-diagnostics__pic-2 _border"></div>
          <div class="diamonds__pic-3 diamonds-diagnostics__pic-3"></div>
        </div>
      </div>
    </div>

  </div>

  <section class="diamonds-desc diamonds-food-plan">
    <div class="diamonds-desc__cont">
      <div class="diamonds-desc__txt-cont">
        <h2>Ваш индивидуальный <br> <span class="diamonds-desc__big-head">план питания</span></h2>
        <div class="diamonds-desc__txt">

          <form action="#" class="diag-form__input-group clearfix">
            <div class="diag-form__label">Выберите интересующий Вас раздел и получите меню питания прямо сейчас</div>

            <div class="drop _select _blue">
              <button type="button" class="drop__toggle">
                меню для снижения веса
              </button>
              <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                <div class="baron-all__scroller">
                  <ul class="drop__ul">
                    <li class="drop__li">Меню 1</li>
                    <li class="drop__li">Меню 2</li>
                    <li class="drop__li">Меню 3</li>
                    <li class="drop__li">Меню 4</li>
                    <li class="drop__li">Меню 5</li>
                    <li class="drop__li">Меню 6</li>
                    <li class="drop__li">Меню 7</li>
                    <li class="drop__li">Меню 8</li>
                  </ul>
                </div>
                <div class="baron-all__track">
                  <div class="baron-all__free">
                    <div class="baron-all__bar"></div>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn _blue diamonds-desc__btn" title="Подобрать индивидуальный план питания">показать
              питание</button>
          </form>
        </div>

      </div>
      <div class="diamonds diamonds-desc__diam-left">
        <div class="diamonds__pics-cont">
          <div class="diamonds__pic-1 diamonds-food-plan__pic-1"></div>
          <div class="diamonds__pic-2 diamonds-food-plan__pic-2 _border"></div>
          <div class="diamonds__pic-3 diamonds-food-plan__pic-3"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="advices-2">
    <div class="advices-2__cont">
      <h2 class="advices-2__header">Советы специалистов</h2>
      <div class="diag-form__input-group">
        <label class="diag-form__label" for="advices">Выберите направление:</label>
        <div class="drop _select-input _blue">
          <input class="drop__input" id="advices" type="text" placeholder="косметология">
          <button type="button" class="drop__toggle">
          </button>
          <div class="baron-all baron-all__clipper baron-all__root  drop__items">
            <div class="baron-all__scroller">
              <ul class="drop__ul">
                <li class="drop__li">направление 1</li>
                <li class="drop__li">направление 2</li>
                <li class="drop__li">направление 3</li>
                <li class="drop__li">направление 4</li>
                <li class="drop__li">направление 5</li>
                <li class="drop__li">направление 6</li>
                <li class="drop__li">направление 7</li>
                <li class="drop__li">направление 8</li>
              </ul>
            </div>
            <div class="baron-all__track">
              <div class="baron-all__free">
                <div class="baron-all__bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="advices-2__doc-list-cont">
        <div class="doc-list">
          <span class="doc-list__hint">Выберите врача:</span>
          <ul class="doc-list__ul-double">
            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-1.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Тедеев Эрик Сосланович</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>

            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-2.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Чвырова Татьяна Николаевна</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>
            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-3.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Дерюгина Елена Юрьевна</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>
            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-4.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Долженко Светлана Сергеевна</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>
            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-5.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Мокина Екатерина Валерьевна</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>
            <li><a href="#!" title="Тедеев Эрик Сосланович" class="doc-list__link">
              <div class="row">
                <div class="col-sm-4">
                  <div class="doc-list__img-cont">
                    <img src="img/inner-diseases-search/advices-2/doc-6.jpg"
                         alt="Тедеев Эрик Сосланович">
                  </div>
                </div>
                <div class="col-sm-8">
                  <h3 class="doc-list__name">Бундукина Алла Игоревна</h3>
                  <span class="doc-list__city">город: Москва</span>
                  <span class="doc-list__speciality">специализация: хирург</span>
                  <span class="doc-list__experience">стаж: 31 год</span>
                </div>
              </div>
            </a></li>
          </ul>
        </div>
      </div>
      <a href="#!" class="link-arrow link-arrow_blue _info">перейти в раздел</a>
    </div>


  </section>
</main>

@@include('./templates/footer.html', {
"js": "inner-diseases-search"
})