@@include('./templates/header.html', { "css": "invalid-2-level" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <!-- row 1 -->
                    <li class="icons__item">
                        <a href="#news" class="icons__link  icons__link-news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#preview" class="icons__link  icons__link-preview">
                            Анонсы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#path" class="icons__link  icons__link-path">
                            Путь к успеху
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#fate" class="icons__link  icons__link-fate">
                            Судьбы
                        </a>
                    </li>
                    <!-- row 2 -->
                    <li class="icons__item">
                        <a href="#children" class="icons__link  icons__link-children">
                            Дети
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#technology" class="icons__link  icons__link-technology">
                            Технологии
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#technical" class="icons__link  icons__link-technical">
                            Техника
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#job" class="icons__link  icons__link-education">
                            Образование
                        </a>
                    </li>
                    <!-- row 3 -->
                    <li class="icons__item">
                        <a href="#job" class="icons__link  icons__link-job">
                            Работа
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#know" class="icons__link  icons__link-know">
                            Это нужно знать
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#help" class="icons__link  icons__link-help">
                            Помощь
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#forum" class="icons__link  icons__link-forum">
                            Форум
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <section id="news" class="news">
        <div class="news__title">
            <h2 class="news__title-content">Новости</h2>
        </div>
        <div class="news__container clearfix">
            <div class="news__left">
                <a href="" class="news__left-item">
                    <img class="job__img" src="img/invalid-2-level/news2.jpg" alt="">
                    <span class="news__left-item_desc">
                        Больным диабетом 2 типа
                        поможет кератин
                        <time class="news__left-item_time" datetime="2016-09-08T15:00">8 августа 2016 года, 15:00</time>
                    </span>
                </a>
                <a href="" class="news__left-item">
                    <img class="job__img" src="img/invalid-2-level/news2.jpg" alt="">
                    <span class="news__left-item_desc">
                        Больным диабетом 2 типа
                        поможет кератин
                        <time class="news__left-item_time" datetime="2016-09-08T15:00">8 августа 2016 года, 15:00</time>
                    </span>
                </a>
                <a href="" class="news__left-item">
                    <img class="job__img" src="img/invalid-2-level/news2.jpg" alt="">
                    <span class="news__left-item_desc">
                        Больным диабетом 2 типа
                        поможет кератин
                        <time class="news__left-item_time" datetime="2016-09-08T15:00">8 августа 2016 года, 15:00</time>
                    </span>
                </a>
            </div>
            <div class="news__right">
                <h3 class="news__right-title">Последние новости:</h3>
                <ul class="news__right-list">
                    <li class="news__right-item">
                        <a href="" class="news__right-link">
                            <time class="news__right-time" datetime="10:00">10:00</time>
                            <span class="news__right-text">
                                Вдова из Австрии против
                                изображения покойного мужа
                                на сигаретных пачках
                            </span>
                        </a>
                    </li>
                    <li class="news__right-item">
                        <a href="" class="news__right-link">
                            <time class="news__right-time" datetime="10:00">10:00</time>
                            <span class="news__right-text">
                                Самые тяжелые заболевания
                                будут лечить в Сколково
                            </span>
                        </a>
                    </li>
                    <li class="news__right-item">
                        <a href="" class="news__right-link">
                            <time class="news__right-time" datetime="10:00">10:00</time>
                            <span class="news__right-text">
                                Успех африканских бегунов:
                                возможно, дело не только
                                в генетике
                            </span>
                        </a>
                    </li>
                    <li class="news__right-item">
                        <a href="" class="news__right-link">
                            <time class="news__right-time" datetime="10:00">10:00</time>
                            <span class="news__right-text">
                                Больным шизофренией
                                рекомендуют заняться аэробикой
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="articles">
            <div class="g-grid _col-4 _cont-cent _txt-outer">
                <ul class="g-grid__ul">
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <time class="articles__item-time" datetime="2016-09-30">
                                    30 августа 2016года
                                </time>
                                <span class="articles__item-text">
                                Пятилетней сибирячке собирают
                                деньги на «пластическую» операцию
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <time class="articles__item-time" datetime="2016-09-30">
                                    30 августа 2016года
                                </time>
                                <span class="articles__item-text">
                                Пятилетней сибирячке собирают
                                деньги на «пластическую» операцию
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <time class="articles__item-time" datetime="2016-09-30">
                                    30 августа 2016года
                                </time>
                                <span class="articles__item-text">
                                Пятилетней сибирячке собирают
                                деньги на «пластическую» операцию
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <time class="articles__item-time" datetime="2016-09-30">
                                    30 августа 2016года
                                </time>
                                <span class="articles__item-text">
                                Пятилетней сибирячке собирают
                                деньги на «пластическую» операцию
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="preview" class="preview">
        <div class="preview__title">
            <h2 class="preview__title-content">Анонсы</h2>
        </div>
        <div class="preview__container">
            <div class="preview__block-menu">
                <ul class="preview__tabs">
                    <li class="preview__tabs-item active">
                        <a href="#" class="preview__tabs-link">
                            соревнования
                        </a>
                    </li>
                    <li class="preview__tabs-item">
                        <a href="#" class="preview__tabs-link">
                            концерты
                        </a>
                    </li>
                    <li class="preview__tabs-item">
                        <a href="#" class="preview__tabs-link">
                            встречи
                        </a>
                    </li>
                    <li class="preview__tabs-item">
                        <a href="#" class="preview__tabs-link">
                            выставки
                        </a>
                    </li>
                    <li class="preview__tabs-item">
                        <a href="#" class="preview__tabs-link">
                            мастер-классы
                        </a>
                    </li>
                    <li class="preview__tabs-item">
                        <a href="#" class="preview__tabs-link">
                            спектакли
                        </a>
                    </li>
                </ul>
                <ul class="preview__list">
                    <li><a href="#" class="preview__list-item active">все</a></li>
                    <li><a href="#" class="preview__list-item">в этом месяце</a></li>
                    <li><a href="#" class="preview__list-item">ближайшие</a></li>
                </ul>
            </div>
            <div class="preview__items clearfix">
                <a href="#" class="preview__item">
                    <div class="preview__item-wrap">
                        <div class="preview__img-wrap">
                            <img src="http://placehold.it/370x220" alt="item" class="preview__img">
                        </div>
                        <div class="preview__text-content">
                            <h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
                            <p>Театр Буфф</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="preview__item">
                    <div class="preview__item-wrap">
                        <div class="preview__img-wrap">
                            <img src="http://placehold.it/370x220" alt="item" class="preview__img">
                        </div>
                        <div class="preview__text-content">
                            <h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
                            <p>Театр Буфф</p>
                        </div>
                    </div>
                </a>
                <a href="#" class="preview__item">
                    <div class="preview__item-wrap">
                        <div class="preview__img-wrap">
                            <img src="http://placehold.it/370x220" alt="item" class="preview__img">
                        </div>
                        <div class="preview__text-content">
                            <h3>"СОН В ЛЕТНЮЮ НОЧЬ"</h3>
                            <p>Театр Буфф</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="preview__link-wrap">
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="path" class="path">
        <div class="path__title _advice">
            <h2 class="path__title-content">Путь к успеху</h2>
        </div>
        <div class="path__content">
            <div class="wrap">
                <div class="path__notice">
                    <div class="path__notice-text">
                        Безусловно, все инвалиды могут найти свое призвание в жизни,
                        для этого им нужно только помочь обрести веру в себя
                    </div>
                </div>

                <div class="g-grid _col-2 _cont-cent _txt-right">
                    <ul class="g-grid__ul">
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="g-grid__li">
                            <a href="#!" title="some-title" class="g-grid__link">
                                <div class="g-grid__img-cont">
                                    <img src="http://placehold.it/350x350" alt="#">
                                </div>
                                <div class="g-grid__content">
                                    <div class="g-grid__txt">
                                        <span class="path__link-title">
                                            Мой путь к успеху
                                        </span>
                                        <span class="path__link-text">
                                             Великобританская писательница, родившаяся
                                             в 1952 году. Анна в детстве не получила даже под-
                                             держки родителей. Из-за неосторожного обраще-
                                             ния матери буквально через несколько дней пос-
                                             ле рождения малышка получила
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="fate" class="fate">
        <div class="fate__title _advice">
            <h2 class="fate__title-content">Судьбы</h2>
        </div>
        <div class="fate__content">
            <div class="wrap clearfix">
                <a href="#" class="fate__item col-md-3 col-md-6">
                    <span class="fate__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="fate__item-title">
                        Ни́колас Джеймс (Ник) Ву́йчич
                    </span>
                    <span class="fate__item-desc">
                        австралийский мотивационный оратор,
                        меценат, писатель и певец, рождённый
                        с синдромом тетраамелии
                    </span>
                </a>
                <a href="#" class="fate__item col-md-3 col-md-6">
                    <span class="fate__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="fate__item-title">
                        Ни́колас Джеймс (Ник) Ву́йчич
                    </span>
                    <span class="fate__item-desc">
                        австралийский мотивационный оратор,
                        меценат, писатель и певец, рождённый
                        с синдромом тетраамелии
                    </span>
                </a>
                <a href="#" class="fate__item col-md-3 col-md-6">
                    <span class="fate__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="fate__item-title">
                        Ни́колас Джеймс (Ник) Ву́йчич
                    </span>
                    <span class="fate__item-desc">
                        австралийский мотивационный оратор,
                        меценат, писатель и певец, рождённый
                        с синдромом тетраамелии
                    </span>
                </a>
                <a href="#" class="fate__item col-md-3 col-md-6">
                    <span class="fate__item-pic">
                        <img src="http://placehold.it/350x350" alt="">
                    </span>
                    <span class="fate__item-title">
                        Ни́колас Джеймс (Ник) Ву́йчич
                    </span>
                    <span class="fate__item-desc">
                        австралийский мотивационный оратор,
                        меценат, писатель и певец, рождённый
                        с синдромом тетраамелии
                    </span>
                </a>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    <section id="children" class="news-tabs">
        <div class="news-tabs__title">
            <h2>Дети</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="technology" class="technology">
        <div class="technology__title _advice">
            <h2 class="technology__title-content">Технологии</h2>
        </div>
        <div class="technology__content">
            <div class="technology__slider slider">
                <div class="technology__slider-item mainBanner _center-bottom">
                    <span data-picture="" data-alt="Камни в почках">
                        <span data-src="http://placehold.it/414x414"></span>
                        <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                        <span data-src="img/diabet-osnovnaya/slider-img.jpg" data-media="(min-width: 992px)"></span>
                        <noscript>
                            <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
                        </noscript>
                    </span>
                    <div class="mainBanner__content technology__slider-title">
                        <div class="technology__slider-item_text">
                            В январе 2017 г. китайская Xiaomi заняла около 1,9% российского рынка
                            смартфонов в штуках, следует из материалов компании – партнера не
                            скольких ритейлеров. Эти данные подтвердил источник, близкий к ком-
                            пании – партнеру нескольких производителей.
                        </div>
                    </div>

                </div>
                <div class="technology__slider-item mainBanner _center-bottom">
                    <span data-picture="" data-alt="Камни в почках">
                        <span data-src="http://placehold.it/414x414"></span>
                        <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                        <span data-src="img/diabet-osnovnaya/slider-img.jpg" data-media="(min-width: 992px)"></span>
                        <noscript>
                            <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
                        </noscript>
                    </span>
                    <div class="mainBanner__content technology__slider-title">
                        <div class="technology__slider-item_text">
                            В январе 2017 г. китайская Xiaomi заняла около 1,9% российского рынка
                            смартфонов в штуках, следует из материалов компании – партнера не
                            скольких ритейлеров. Эти данные подтвердил источник, близкий к ком-
                            пании – партнеру нескольких производителей.
                        </div>
                    </div>
                </div>
                <div class="technology__slider-item mainBanner _center-bottom">
                    <span data-picture="" data-alt="Камни в почках">
                        <span data-src="http://placehold.it/414x414"></span>
                        <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                        <span data-src="img/diabet-osnovnaya/slider-img.jpg" data-media="(min-width: 992px)"></span>
                        <noscript>
                            <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
                        </noscript>
                    </span>
                    <div class="mainBanner__content technology__slider-title">
                        <div class="technology__slider-item_text">
                            В январе 2017 г. китайская Xiaomi заняла около 1,9% российского рынка
                            смартфонов в штуках, следует из материалов компании – партнера не
                            скольких ритейлеров. Эти данные подтвердил источник, близкий к ком-
                            пании – партнеру нескольких производителей.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="technical" class="technical">
        <div class="technical__title _advice">
            <h2 class="technical__title-content">Техника</h2>
        </div>
        <div class="technical__container">
            <ul class="technical__list wrap clearfix">
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Для слабослышащих людей
                        </span>
                    </a>
                </li>
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Для ухода за больными
                        </span>
                    </a>
                </li>
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Для слабовидящих людей
                        </span>
                    </a>
                </li>
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Домашняя медтехника
                        </span>
                    </a>
                </li>
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Для диабетиков
                        </span>
                    </a>
                </li>
                <li class="technical__item col-sm-6">
                    <a href="" class="technical__link">
                        <span class="technical__link-left">
                            <span class="technical__link-pic">
                                <img src="http://placehold.it/350x350" alt="">
                            </span>
                        </span>
                        <span class="technical__link-right">
                            Ортопедические изделия
                        </span>
                    </a>
                </li>
            </ul>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>
    </section>

    <div id="job" class="job">
        <div class="wrap clearfix">
            <div class="col-sm-6">
                <a href="#" class="job__link">
                    <img class="job__img" src="img/invalid-2-level/education.jpg" alt="">
                    <span class="job__title">образование</span>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="job__link">
                    <img class="job__img" src="img/invalid-2-level/job.jpg" alt="">
                    <span class="job__title">работа</span>
                </a>
            </div>
        </div>
    </div>

    <section id="know" class="know">
        <div class="know__title _advice">
            <h2 class="know__title-content">Это нужно знать</h2>
        </div>
        <div class="know__container">
            <ul class="know__list">
                <li class="know__item">
                    <a href="#" class="know__link _icon-law">
                        Законы и права
                    </a>
                </li>
                <li class="know__item">
                    <a href="#" class="know__link _icon-medcentr">
                        Медицинские учреждения
                    </a>
                </li>
                <li class="know__item">
                    <a href="#" class="know__link _icon-fond">
                        Фонды
                    </a>
                </li>
                <li class="know__item">
                    <a href="#" class="know__link _icon-privileges">
                        Льготы
                    </a>
                </li>
                <li class="know__item">
                    <a href="#" class="know__link _icon-organization">
                        Организации
                    </a>
                </li>
                <li class="know__item">
                    <a href="#" class="know__link _icon-specialist">
                        Специалисты
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div id="help" class="help mainBanner _right">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="img/invalid-2-level/banner-help-sm.jpg" data-media="(min-width: 414px)"></span>
            <span data-src="img/invalid-2-level/banner-help.jpg" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/invalid-2-level/banner-help.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>
        <div class="help__content mainBanner__content">
            <div class="help__title">
                Нужна помощь?
            </div>
            <div class="help__desc">
                Напишите нам, и мы постараемся помочь Вам
                в самые короткие сроки
            </div>
            <a href="#!" title="" class="btn _tran _white">написать нам</a>
        </div>

    </div>

    <a href="#" id="forum" class="forum">
        <div class="forum__content">
            <div class="forum__title">Форум.</div>
            <div class="forum__text">Мы ждем именно Вас</div>
        </div>
    </a>

</main>

@@include('./templates/footer.html', { "js": "invalid-2-level" })

