@@include('./templates/header.html', { "css": "kardiologia-main" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="cardiology-menu">
        <div class="cardiology-menu__container clearfix">
            <nav class="cardiology-menu__content col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-3">
                <ul class="cardiology-menu__list">
                    <li><a href="#card-news" class="cardiology-menu__list-item cardiology-menu__list-item-1">новости</a>
                    </li>
                    <li><a href="#cardiology-articles" class="cardiology-menu__list-item cardiology-menu__list-item-2">статьи</a>
                    </li>
                    <li><a href="#regions-card"
                           class="cardiology-menu__list-item cardiology-menu__list-item-3">регионы</a></li>
                    <li><a href="#right-food" class="cardiology-menu__list-item cardiology-menu__list-item-4">питание
                        при сердечно-сосудистых заболеваниях</a></li>
                    <li><a href="#advices" class="cardiology-menu__list-item cardiology-menu__list-item-5">советы
                        кардиологов</a></li>
                    <li><a href="#search-block" class="cardiology-menu__list-item cardiology-menu__list-item-6">кардиологические
                        центры</a></li>
                    <li><a href="#cardiology-diagnostics"
                           class="cardiology-menu__list-item cardiology-menu__list-item-7">диагностика</a></li>
                    <li><a href="#map-footer" class="cardiology-menu__list-item cardiology-menu__list-item-8">поиск по
                        карте</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="news-tabs" id="card-news">
        <div class="news-tabs__title">
            <h2>Новости:</h2>
        </div>
        @@include('./templates/news-tabs.html')
    </section>

    <section id="regions-card" class="regions-map">
        <div class="regions-map__title">
            <h2>Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
            "img" : "kardiologia-main/map.jpg",
            "title" : "Все о кардиологии в вашем регионе"
        })
    </section>

    <section class="cardiology-articles" id="cardiology-articles">
        <div class="cardiology-articles__title">
            <h2>Статьи:</h2>
        </div>

        <div class="articles">
          <div class="g-grid _col-4 _cont-cent _txt-outer">
            <ul class="g-grid__ul">
              <li class="g-grid__li">
                <a href="#!" title="some-title" class="g-grid__link">
                  <div class="g-grid__img-cont">
                    <img src="http://placehold.it/350x350" alt="#">
                  </div>
                  <div class="g-grid__content">
                    <div class="cardiology-articles__text-content">
                      <h3>Инфаркт миокарда</h3>
                      <div>известен как грозное заболевание, уносящее человеческие жизни известен как грозное
                        заболевание, уносящее человеческие жизни
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="g-grid__li">
                <a href="#!" title="some-title" class="g-grid__link">
                  <div class="g-grid__img-cont">
                    <img src="http://placehold.it/350x350" alt="#">
                  </div>
                  <div class="g-grid__content">
                    <div class="cardiology-articles__text-content">
                      <h3>Инфаркт миокарда</h3>
                      <div>известен как грозное заболевание, уносящее человеческие жизни известен как грозное
                        заболевание, уносящее человеческие жизни
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="g-grid__li">
                <a href="#!" title="some-title" class="g-grid__link">
                  <div class="g-grid__img-cont">
                    <img src="http://placehold.it/350x350" alt="#">
                  </div>
                  <div class="g-grid__content">
                    <div class="cardiology-articles__text-content">
                      <h3>Инфаркт миокарда</h3>
                      <div>известен как грозное заболевание, уносящее человеческие жизни известен как грозное
                        заболевание, уносящее человеческие жизни
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="g-grid__li">
                <a href="#!" title="some-title" class="g-grid__link">
                  <div class="g-grid__img-cont">
                    <img src="http://placehold.it/350x350" alt="#">
                  </div>
                  <div class="g-grid__content">
                    <div class="cardiology-articles__text-content">
                      <h3>Инфаркт миокарда</h3>
                      <div>известен как грозное заболевание, уносящее человеческие жизни известен как грозное
                        заболевание, уносящее человеческие жизни
                      </div>
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
        </div>
                <a href="#!" class="link-arrow ">перейти в раздел</a>


        @@include('./templates/banners.html')
    </section>

    <section class="cardiology-diagnostics" id="cardiology-diagnostics">
        <div class="cardiology-diagnostics__title">
            <h2>Диагностика:</h2>
        </div>
        <div class="cardiology-diagnostics__content">
            <div class="wrap">
                <ul class="cardiology-diagnostics__list">
                    <li>
                        <a href="" class="cardiology-diagnostics__list-item">Электрокадиография (ЭКГ).</a>
                        <ul class="cardiology-diagnostics__sublist">
                            <li><a href="" class="cardiology-diagnostics__sublist-item">ЭКГ картирование.</a></li>
                            <li><a href="" class="cardiology-diagnostics__sublist-item">Холтеровское
                                мониторирование.</a></li>
                            <li><a href="" class="cardiology-diagnostics__sublist-item">Велоэлгометрия и
                                тредмил-тест.</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Ультразвуковое исследование сердца и
                        сосудов.</a></li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Допплерографическое исследование сердца и
                        сосудов.</a></li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Дуплексное исследование сердца и
                        сосудов.</a></li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Триплексное исследование сосудов.</a></li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Рентгенологическое исследование сердца и
                        сосудов.</a></li>
                    <li>
                        <a href="" class="cardiology-diagnostics__list-item">Ангиокардиография</a>
                        <ul class="cardiology-diagnostics__sublist">
                            <li><a href="" class="cardiology-diagnostics__sublist-item">Вазография.</a></li>
                            <li><a href="" class="cardiology-diagnostics__sublist-item">Коронография.</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Радиоизотопные методы исследования
                        сердца.</a></li>
                    <li><a href="" class="cardiology-diagnostics__list-item">Фонокардиография (ФКГ).</a></li>
                </ul>
                <div class="cardiology-diagnostics__link-wrap">
                    <a href="#!" class="link-arrow ">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="right-food" class="right-food">
        <div class="right-food__title">
            <h2 class="right-food__title-content">Питание при сердечно-сосудистых заболеваниях</h2>
        </div>
        <div class="right-food__bg _card">
            <div class="right-food__cont">
                <form action="#" class="diag-form__input-group clearfix">
                    <div class="diag-form__label">Выберите интересующий Вас раздел и получите меню питания прямо
                        сейчас
                    </div>
                    <div class="drop _select">
                        <button type="button" class="drop__toggle">
                            меню для снижения веса
                        </button>
                        <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                            <div class="baron-all__scroller">
                                <ul class="drop__ul">
                                    <li class="drop__li">Меню 1</li>
                                    <li class="drop__li">Меню 2</li>
                                    <li class="drop__li">Меню 3</li>
                                    <li class="drop__li">Меню 4</li>
                                    <li class="drop__li">Меню 5</li>
                                    <li class="drop__li">Меню 6</li>
                                    <li class="drop__li">Меню 7</li>
                                    <li class="drop__li">Меню 8</li>
                                </ul>
                            </div>
                            <div class="baron-all__track">
                                <div class="baron-all__free">
                                    <div class="baron-all__bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn _yellow right-food__btn"
                            title="Подобрать индивидуальный план питания">показать
                        питание
                    </button>
                </form>
                <div class="right-food__bot-cont">
                    <div class="grid-cont right-food__grid-cont">
                        <div class="row">
                            <div class="col-md-4 grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _1">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _2">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _3">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _4">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _5">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>

                            <div class="col-md-4 grid-cont__circle-cont">
                                <a href="#!">
                                    <div class="grid-cont__circle"></div>
                                    <span class="grid-cont__txt">следующий день&#62;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-food__img-cont">
                        <a href="#!" title="12 продуктов, на употребление которых повлияли тренды в питании">
                            <img src="img/right-food/right-food/trands.jpg"
                                 alt="12 продуктов, на употребление которых повлияли тренды в питании">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mainBanner _right right-food__baner">

			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="img/zhkt-osnovnaya/baner-right-food.jpg" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="img/zhkt-osnovnaya/baner-right-food.jpg" alt="" class="advice-banner__img">
            	</noscript>
        	</span>

            <div class="mainBanner__content right-food__baner-desc">
                <div class="right-food__baner-title">
                    Вкусное и здоровое питание<br>
                    <strong>на каждый день</strong>
                </div>
                <a href="#!" title="Показать заболевание" class="btn _tran _black _whiteBG">перейти в раздел ></a>
            </div>
        </div>

		<div class="search-block" id="search-block">
			<div class="search-block__search-content">
				<h2>Выбрать клинику</h2>
				<form action="#" class="search-block__form">
						<div class="drop _select-input _blue-bor">
							<input class="drop__input" type="text" placeholder="Выберите город">
							<button type="button" class="drop__toggle">
							</button>
							<div class="baron-all baron-all__clipper baron-all__root  drop__items">
								<div class="baron-all__scroller">
									<ul class="drop__ul">
										<li class="drop__li">Москва</li>
										<li class="drop__li">Санкт-Петербург</li>
										<li class="drop__li">город 3</li>
										<li class="drop__li">город 4</li>
										<li class="drop__li">город 5</li>
										<li class="drop__li">город 6</li>
										<li class="drop__li">город 7</li>
										<li class="drop__li">город 8</li>
									</ul>
								</div>
								<div class="baron-all__track">
									<div class="baron-all__free">
										<div class="baron-all__bar"></div>
									</div>
								</div>
							</div>
						</div>


					<div class="drop _select-input _blue-bor">
						<input class="drop__input" type="text" placeholder="Выберите район">
						<button type="button" class="drop__toggle">
						</button>
						<div class="baron-all baron-all__clipper baron-all__root  drop__items">
							<div class="baron-all__scroller">
								<ul class="drop__ul">
									<li class="drop__li">Купчино</li>
									<li class="drop__li">Парнас</li>
									<li class="drop__li">район 3</li>
									<li class="drop__li">район 4</li>
									<li class="drop__li">район 5</li>
									<li class="drop__li">район 6</li>
									<li class="drop__li">район 7</li>
									<li class="drop__li">район 8</li>
								</ul>
							</div>
							<div class="baron-all__track">
								<div class="baron-all__free">
									<div class="baron-all__bar"></div>
								</div>
							</div>
						</div>
					</div>


					<div class="drop _select-input _blue-bor">
						<input class="drop__input" type="text" placeholder="Выберите направление">
						<button type="button" class="drop__toggle">
						</button>
						<div class="baron-all baron-all__clipper baron-all__root  drop__items">
							<div class="baron-all__scroller">
								<ul class="drop__ul">
									<li class="drop__li">Направление 1</li>
									<li class="drop__li">Направление 2</li>
									<li class="drop__li">Направление 3</li>
									<li class="drop__li">Направление 4</li>
									<li class="drop__li">Направление 5</li>
									<li class="drop__li">Направление 6</li>
									<li class="drop__li">Направление 7</li>
									<li class="drop__li">Направление 8</li>
								</ul>
							</div>
							<div class="baron-all__track">
								<div class="baron-all__free">
									<div class="baron-all__bar"></div>
								</div>
							</div>
						</div>
					</div>
					
					<button type="submit" class="search-block__btn">
                        <svg width="35" height="28">
                            <use xlink:href="#icon-search-icon"></use>
                        </svg>
                    </button>
				</form>
			</div>
		</div>
	</section>

	@@include('./templates/advices.html')

</main>

@@include('./templates/footer.html', { "js": "kardiologia-main" })
