@@include('./templates/header.html', { "css": "kardiologia-regions" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather _pink">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html"
                        class="city-modal__link city-modal__link_weather">Выберите город <span
                        class="caret city-modal__caret"></span></button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="cardiology-menu _regions">
        <div class="cardiology-menu__container clearfix">
            <nav class="cardiology-menu__content col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <ul class="cardiology-menu__list  _regions">
                    <li><a href="#card-news" class="cardiology-menu__list-item cardiology-menu__list-item-1">новости</a>
                    </li>
                    <li><a href="#cardiology-articles" class="cardiology-menu__list-item cardiology-menu__list-item-2">справочник</a>
                    </li>
                    <li><a href="#advices" class="cardiology-menu__list-item cardiology-menu__list-item-5">советы
                        кардиологов</a></li>
                    <li><a href="#search-block" class="cardiology-menu__list-item cardiology-menu__list-item-6">кардиологические
                        центры</a></li>
                    <li><a href="#cardiology-diagnostics"
                           class="cardiology-menu__list-item cardiology-menu__list-item-7">диагностика</a></li>
                    <li><a href="#map-footer" class="cardiology-menu__list-item cardiology-menu__list-item-8">поиск по
                        карте</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="news-tabs" id="card-news">
        <div class="news-tabs__title">
            <h2>Новости:</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <div class="wrap">
            <div class="med-news__link-wrap">
                <a href="#!" class="link-arrow ">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section class="cardiology-directory">
        <div class="cardiology-directory__title">
            <h2>Справочник:</h2>
        </div>
        <div class="mainBanner _right">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="img/kardiologia-regions/cardiology-directory.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/kardiologia-regions/cardiology-directory.jpg" alt="">
                </noscript>
            </span>

            <div class="mainBanner__content cardiology-directory__content">
                <div class="cardiology-directory__text-content">
                    <h3>Все о кардиологии</h3>
                    <a href="">перейти в информационный раздел</a>
                </div>

            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Кардиологические центры:"
    })

    <section class="cardiology-diagnostics _regions" id="cardiology-diagnostics">
        <div class="cardiology-diagnostics__title">
            <h2>Диагностика:</h2>
        </div>
        <div class="cardiology-diagnostics__block _regions">
            <div class="cardiology-diagnostics__content _regions">
                <div class="cardiology-diagnostics__container">
                    <ul class="cardiology-diagnostics__list _regions">
                        <li>
                            <a href="" class="cardiology-diagnostics__list-item">Электрокадиография (ЭКГ).</a>
                            <ul class="cardiology-diagnostics__sublist">
                                <li><a href="" class="cardiology-diagnostics__sublist-item">ЭКГ картирование.</a></li>
                                <li><a href="" class="cardiology-diagnostics__sublist-item">Холтеровское
                                    мониторирование.</a></li>
                                <li><a href="" class="cardiology-diagnostics__sublist-item">Велоэлгометрия и
                                    тредмил-тест.</a></li>
                            </ul>
                        </li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Ультразвуковое исследование сердца и
                            сосудов.</a></li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Допплерографическое исследование сердца
                            и сосудов.</a></li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Дуплексное исследование сердца и
                            сосудов.</a></li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Триплексное исследование сосудов.</a>
                        </li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Рентгенологическое исследование сердца
                            и сосудов.</a></li>
                        <li>
                            <a href="" class="cardiology-diagnostics__list-item">Ангиокардиография</a>
                            <ul class="cardiology-diagnostics__sublist">
                                <li><a href="" class="cardiology-diagnostics__sublist-item">Вазография.</a></li>
                                <li><a href="" class="cardiology-diagnostics__sublist-item">Коронография.</a></li>
                            </ul>
                        </li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Радиоизотопные методы исследования
                            сердца.</a></li>
                        <li><a href="" class="cardiology-diagnostics__list-item">Фонокардиография (ФКГ).</a></li>
                    </ul>
                </div>
            </div>
            <div class="wrap">
                <div class="cardiology-diagnostics__link-wrap">
                    <a href="#!" class="link-arrow ">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

</main>

@@include('./templates/footer.html', { "js": "kardiologia-regions" })
