@@include('./templates/header.html', { "css": "kosmetologia-regions" })

<span class="svginclude">
@@include('../source/svg/svg-kosmetologia-regions.html')
</span>

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-news"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            новости
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#directory" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-spravochnik"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                справочник
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#diagnostics" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-sovet_kosmet"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Cоветы косметологов
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#medCentr" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-kosmetolog_kliniki"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                косметологические <br>
                            клиники
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#advices" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-diagnostika_i_proced"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                диагностика <br>
                            и процедуры
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#map-footer" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                поиск по карте
                            </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="news" class="news-tabs tabs" >
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник:</h2>
        </div>
        <div class="mainBanner _right directory__contents">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/kosmetologia-region/kosmetologia-region-spravochnikBG-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/kosmetologia-region/kosmetologia-region-spravochnikBG.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/kosmetologia-region/kosmetologia-region-spravochnikBG.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <h3 class="directory__contents-title">
                        Все о косметологии
                    </h3>
                    <a href="#!" title="Показать заболевание" class="btn _tran _black">перейти в информационный раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="problem" class="problem">
        <div class="problem__title">
            <h2>Диагностика и процедуры:</h2>
        </div>

        <div class="problem__contentList">
            <div class="problem__toogleList wrap clearfix">
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#face" class="problem__toggle active">
                    <span class="problem__pic problem__pic-face">

                    </span>
                        <span class="problem__desc">
                        Лицо >
                    </span>
                    </a>
                </div>
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#body" class="problem__toggle">
                    <span class="problem__pic problem__pic-body">

                    </span>
                        <span class="problem__desc">
                        Тело >
                    </span>
                    </a>
                </div>
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#hair" class="problem__toggle">
                    <span class="problem__pic problem__pic-hair">

                    </span>
                        <span class="problem__desc">
                        Волосы >
                    </span>
                    </a>
                </div>
            </div>
            <div id="face" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                        <div class="problem__item-xsImg _top">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top1&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-lgImg">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center1&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-xsImg _bottom">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom1&w=350&h=350" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 problem__item-right">
                        <div>
                            Длинные, красивые, здоровые волосы! Это не только повод для гордости
                            и зависти, это бесценное, роскошное украшение для настоящей жен-
                            щины, символ Женственности.
                        </div>
                        <div>
                            Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                            льностью, Но недостаточно, чтобы волосы были просто длинными.
                            Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                            жалкое зрелище.
                        </div>
                        <h4>Итак, основные проблемы, связанные с волосами:</h4>
                        <ul>
                            <li>выпадение волос</li>
                            <li>себорейный дерматит</li>
                            <li>перхоть</li>
                            <li>секущиеся кончики</li>
                            <li>плохой рост волос</li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                    </div>
                </div>
            </div>
            <div id="body" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                        <div class="problem__item-xsImg _top">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top2&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-lgImg">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center2&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-xsImg _bottom">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom2&w=350&h=350" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 problem__item-right">
                        <div>
                            Длинные, красивые, здоровые волосы! Это не только повод для гордости
                            и зависти, это бесценное, роскошное украшение для настоящей жен-
                            щины, символ Женственности.
                        </div>
                        <div>
                            Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                            льностью, Но недостаточно, чтобы волосы были просто длинными.
                            Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                            жалкое зрелище.
                        </div>
                        <h4>Итак, основные проблемы, связанные с волосами:</h4>
                        <ul>
                            <li>выпадение волос</li>
                            <li>себорейный дерматит</li>
                            <li>перхоть</li>
                            <li>секущиеся кончики</li>
                            <li>плохой рост волос</li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                    </div>
                </div>
            </div>
            <div id="hair" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                        <div class="problem__item-xsImg _top">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top3&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-lgImg">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center3&w=350&h=350" alt="">
                        </div>
                        <div class="problem__item-xsImg _bottom">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom3&w=350&h=350" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 problem__item-right">
                        <div>
                            Длинные, красивые, здоровые волосы! Это не только повод для гордости
                            и зависти, это бесценное, роскошное украшение для настоящей жен-
                            щины, символ Женственности.
                        </div>
                        <div>
                            Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                            льностью, Но недостаточно, чтобы волосы были просто длинными.
                            Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                            жалкое зрелище.
                        </div>
                        <h4>Итак, основные проблемы, связанные с волосами:</h4>
                        <ul>
                            <li>выпадение волос</li>
                            <li>себорейный дерматит</li>
                            <li>перхоть</li>
                            <li>секущиеся кончики</li>
                            <li>плохой рост волос</li>
                        </ul>
                    </div>
                    <div class="col-xs-12">
                        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                    </div>
                </div>
            </div>
            @@include('./templates/banners.html')
        </div>

    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Косметологические клиники:"
    })

</main>
    @@include('./templates/footer.html', {
    "js": "kosmetologia-regions"
    })