@@include('./templates/header.html', { "css": "kosmetologia-osnovnaya" })

<main class="main">

    @@include('./templates/breadcrumbs.html')
    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#news" class="icons__link  icons__link-news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#regions" class="icons__link  icons__link-regioni">
                            регионы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  icons__link-sovetVracha">
                            советы <br>
                            специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#napravleniya" class="icons__link  icons__link-napravleniya">
                            направления <br>
                            косметологии
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#medCentr" class="icons__link  icons__link-clinics">
                            косметологические <br>
                            клиники
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#problem" class="icons__link  icons__link-problems">
                            проблемы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#map-footer" class="icons__link  icons__link-search">
                            поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="news" class="news-tabs tabs">
        <div class="news-tabs__title">
            <h2>Новости:</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2>Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
        "img" : "kosmetologia-osnovnaya/kosmetologia-osnovnaya-map.jpg",
        "title" : "Все о пищеварении и желудочно-кишечном тракте в вашем регионе"
        })
    </section>

    <section id="problem" class="problem">
        <div class="problem__title">
            <h2>Проблемы:</h2>
        </div>

        <div class="problem__contentList">
            <div class="problem__toogleList wrap clearfix">
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#face" class="problem__toggle active">
                    <span class="problem__pic problem__pic-face">

                    </span>
                        <span class="problem__desc">
                        Лицо >
                    </span>
                    </a>
                </div>
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#body" class="problem__toggle">
                    <span class="problem__pic problem__pic-body">

                    </span>
                        <span class="problem__desc">
                        Тело >
                    </span>
                    </a>
                </div>
                <div class="problem__toggle-wrap col-sm-4">
                    <a href="#hair" class="problem__toggle">
                    <span class="problem__pic problem__pic-hair">

                    </span>
                        <span class="problem__desc">
                        Волосы >
                    </span>
                    </a>
                </div>
            </div>
            <div id="face" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                    <div class="problem__item-xsImg _top">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-lgImg">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-xsImg _bottom">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom&w=350&h=350" alt="">
                    </div>
                </div>
                    <div class="col-md-6 problem__item-right">
                    <div>
                        Длинные, красивые, здоровые волосы! Это не только повод для гордости
                        и зависти, это бесценное, роскошное украшение для настоящей жен-
                        щины, символ Женственности.
                    </div>
                    <div>
                        Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                        льностью, Но недостаточно, чтобы волосы были просто длинными.
                        Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                        жалкое зрелище.
                    </div>
                    <h4>Итак, основные проблемы, связанные с волосами:</h4>
                    <ul>
                        <li>выпадение волос</li>
                        <li>себорейный дерматит</li>
                        <li>перхоть</li>
                        <li>секущиеся кончики</li>
                        <li>плохой рост волос</li>
                    </ul>
                </div>
                    <div class="col-xs-12">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
                </div>
            </div>
            <div id="body" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                    <div class="problem__item-xsImg _top">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-lgImg">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-xsImg _bottom">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom&w=350&h=350" alt="">
                    </div>
                </div>
                    <div class="col-md-6 problem__item-right">
                    <div>
                        Длинные, красивые, здоровые волосы! Это не только повод для гордости
                        и зависти, это бесценное, роскошное украшение для настоящей жен-
                        щины, символ Женственности.
                    </div>
                    <div>
                        Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                        льностью, Но недостаточно, чтобы волосы были просто длинными.
                        Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                        жалкое зрелище.
                    </div>
                    <h4>Итак, основные проблемы, связанные с волосами:</h4>
                    <ul>
                        <li>выпадение волос</li>
                        <li>себорейный дерматит</li>
                        <li>перхоть</li>
                        <li>секущиеся кончики</li>
                        <li>плохой рост волос</li>
                    </ul>
                </div>
                    <div class="col-xs-12">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
                </div>
            </div>
            <div id="hair" class="problem__item">
                <div class="wrap clearfix">
                    <div class="col-md-6 problem__item-left">
                    <div class="problem__item-xsImg _top">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_top&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-lgImg">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=large_center&w=350&h=350" alt="">
                    </div>
                    <div class="problem__item-xsImg _bottom">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=small_bottom&w=350&h=350" alt="">
                    </div>
                </div>
                    <div class="col-md-6 problem__item-right">
                    <div>
                        Длинные, красивые, здоровые волосы! Это не только повод для гордости
                        и зависти, это бесценное, роскошное украшение для настоящей жен-
                        щины, символ Женственности.
                    </div>
                    <div>
                        Длинные волосы наделяют женщину особым магнетизмом, привлекате-
                        льностью, Но недостаточно, чтобы волосы были просто длинными.
                        Длинные, но сухие, тусклые, обломанные волосы, тонкая косичка — это
                        жалкое зрелище.
                    </div>
                    <h4>Итак, основные проблемы, связанные с волосами:</h4>
                    <ul>
                        <li>выпадение волос</li>
                        <li>себорейный дерматит</li>
                        <li>перхоть</li>
                        <li>секущиеся кончики</li>
                        <li>плохой рост волос</li>
                    </ul>
                </div>
                    <div class="col-xs-12">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
                </div>
            </div>
            @@include('./templates/banners.html')
        </div>
        
    </section>

    <section id="napravleniya" class="napravleniya">
        <div class="napravleniya__title">
            <h2>Направления:</h2>
        </div>
        <div class="napravleniya__content wrap  clearfix">
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">
                    <span class="napravleniya__border">
                    </span>
                    <span class="napravleniya__pic">
                            <img src="img/kosmetologia-osnovnaya/napravleniya-img-1.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Лазерная косметология
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">

                        <span class="napravleniya__pic">
                            <img src="img/kosmetologia-osnovnaya/napravleniya-img-2.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Аппаратная косметология
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">

                        <span class="napravleniya__pic">
                             <img src="img/kosmetologia-osnovnaya/napravleniya-img-3.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Инъекционная косметология
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">

                        <span class="napravleniya__pic">
                             <img src="img/kosmetologia-osnovnaya/napravleniya-img-4.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Медицинская косметология
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">

                        <span class="napravleniya__pic">
                             <img src="img/kosmetologia-osnovnaya/napravleniya-img-5.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Эстетическая косметология
                    </span>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 napravleniya__item">
                <a href="#" class="napravleniya__link">

                        <span class="napravleniya__pic">
                             <img src="img/kosmetologia-osnovnaya/napravleniya-img-6.jpg" alt="">
                        </span>

                    <span class="napravleniya__desc">
                        Трихология
                    </span>
                </a>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Косметологические клиники:"
    })

</main>

@@include('./templates/footer.html', { "js": "kosmetologia-osnovnaya" })