@@include('./templates/header.html', {
"css": "law"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="page-content">
        <div class="page-divider"></div>
        <div class="page-imgheader law-innerhead">
            <div class="page-imgheader__desc">
                Правовая поддержка
            </div>
            <div class="page-imgheader__subdesc">
                Для многих пациентов важно найти лучшего врача и лучшую клинику для диагностики и лечения того или иного
                заболевания. Однако не всегда диагностика и лечение наиболее современными и эффективными методами
                доступна в российских клиниках. В таком случае пациенты начинают задумываться о том, как организовать
                диагностику и лечение за рубежом. <b>Возникает множество вопросов: с чего начать, как не ошибиться с
                выбором специалиста, где найти переводчика, как оформить визу и необходимые для поездки документы?</b>
            </div>
        </div>
        <div class="page-header law-header">Медицинское страхование при лечении за рубежом</div>

        <div class="law-slider">
            <div class="page-slider">

                <div class="mainBanner _right slide">
				    <span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
                    <a href="" class="mainBanner__content page-slider__text">
                        <div class="page-slider__q">
                            Лечение в Болгарии:
                        </div>
                        <div class="page-slider__a">
                            стоматологический туризм
                        </div>
                    </a>
                </div>
                <div class="mainBanner _right slide">
				    <span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
                    <a href="" class="mainBanner__content page-slider__text">
                        <div class="page-slider__q">
                            Лечение в Болгарии:
                        </div>
                        <div class="page-slider__a">
                            стоматологический туризм
                        </div>
                    </a>
                </div>
                <div class="mainBanner _right slide">
				    <span data-picture="" data-alt="Камни в почках">
            		    <span data-src="http://placehold.it/414x414"></span>
            		    <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		    <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		    <noscript>
            		        <img src="http://placehold.it/1920x450" alt="">
            		    </noscript>
        		    </span>
                    <a href="" class="mainBanner__content page-slider__text">
                        <div class="page-slider__q">
                            Лечение в Болгарии:
                        </div>
                        <div class="page-slider__a">
                            стоматологический туризм
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="mainBanner _left">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/law/law1.png" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="css/pics/law/law1.png" alt="">
                </noscript>
        	</span>
            <div class="mainBanner__content">
                <div class="law-element__container">
                    <div class="law-element__head">
                        Роды в другой<br>стране
                    </div>
                    <div class="law-element__subhead">
                        подводные камни
                    </div>
                    <a href="#" class="law-element__link">узнать больше</a>
                </div>
            </div>
        </div>
        <div class="mainBanner _right">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/law/law2.png" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="css/pics/law/law2.png" alt="">
                </noscript>
        	</span>
            <div class="mainBanner__content">
                <div class="law-element__container">
                    <div class="law-element__head">
                        Роды в другой<br>стране
                    </div>
                    <div class="law-element__subhead">

                    </div>
                    <a href="#" class="law-element__link">узнать больше</a>
                </div>
            </div>
        </div>
        <div class="mainBanner _left">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="css/pics/law/law3.png" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="css/pics/law/law3.png" alt="">
                </noscript>
        	</span>
            <div class="mainBanner__content">
                <div class="law-element__container">
                    <div class="law-element__head">
                        Роды в другой<br>стране
                    </div>
                    <div class="law-element__subhead">
                        подводные камни
                    </div>
                    <a href="#" class="law-element__link">узнать больше</a>
                </div>
            </div>
        </div>
        <div class="mainBanner _left law-organization">
		    <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <a href="" class="mainBanner__content law-organization__content">
                Как организовать<br>лечение за рубежом
            </a>
        </div>
        <div class="page-imgheader law-docs">
            <div class="page-header">Документы для лечения за рубежом</div>
            <div class="mainBanner _left-top">

                <span data-picture="" data-alt="Камни в почках">
                    <span data-src="http://placehold.it/414x414"></span>
                    <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                    <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                    <noscript>
                        <img src="http://placehold.it/1920x450" alt="">
                    </noscript>
                </span>

                <a href="" class="mainBanner__content law-docs__content">
                    Если вы собираетесь отправиться на лечение за границу, то вам понадобятся необходимые документы. Это
                    будет зависеть от того, какова цель поездки и кто будет финансировать лечение.
                </a>
            </div>
        </div>
        <div class="mainBanner _right">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>

            <div class="mainBanner__content law-element__inner">
                <div class="law-element__head">
                    Материнский<br>капитал
                </div>
                <div class="law-element__subhead" style="font-size: 22px;">
                    Можно ли потратить на лечение<br>за рубежом
                </div>
                <a href="#" class="law-element__link">узнать больше</a>
            </div>

        </div>

        @@include('./templates/banners.html')

        <div class="mainBanner _right law-q">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content law-q__content">
                <a href="" class="law-q__link">Оплачивается ли лечение <br>
                    за рубежом из федерального<br>
                    бюджета, если необходимую<br>
                    помощь невозможно <br>
                    оказать в России
                </a>
                <a href="#" class="link-arrow  link-arrow_blue _whiteBG">Перейти в раздел</a>
            </div>

        </div>

        <div class="law-know">
            <div class="page-header">Нужно знать</div>
            <div class="container-fluid">
                <div class="law-know__inner">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a class="law-know__link" href="">Процедура получения государственных средств<br>для лечения
                                за рубежом ></a>
                        </div>
                        <div class="col-md-6 col-md-offset-4">
                            <div class="law-know__head">Нормативные акты:</div>

                            <div class="law-know__act">
                                5.1. Приказ Министерства здравоохранения Российской Федерации
                                от 2 июля 1998 г. №208 "О порядке направления граждан Российской
                                Федерации на лечение за рубеж"
                            </div>

                            <div class="law-know__act">
                                5.2. Письмо Министерства здравоохранения Российской
                                Федерации от 16 июня 1998 г. № 2510/5375-98-23
                                "О приобретении путевок в санатории стран СНГ"
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="arrow-down">Перейти в раздел</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('./templates/banners.html')
        <div class="mainBanner _left-bottom law-question">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>
            <a href="" class="mainBanner__content law-question__content">
                Задать вопрос юристу
            </a>
        </div>
    </div>

</main>

@@include('./templates/footer.html', {
"js": "law"
})