@@include('./templates/header.html', {
"css": "longevity"
})

<span class="svginclude">
@@include('../source/svg/svg-longevity.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons icons__4">
        <div class="icons__container">
            <ul class="icons__list">

                <li class="icons__item">
                    <a href="#secrets-longevity" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-sekret_dolgoletiya"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Cекреты долголетия
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#longevity-diagnostics" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-diagnostika"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                           Диагностика
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#inoculations" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-privivki"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Прививки
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#physiotherapy" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-lechebnaya_gimnastika"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                           Лечебная гимнастик
                        </span>
                    </a>
                </li>

                <li class="icons__item">
                    <a href="#longevity-food" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-pitanie"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Питание
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#longevity-sport" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-sport"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                           Спорт
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-poisk_po_karte"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Поиск по карте
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <section class="mainBanner _right longevity-block">
	<span data-picture="" data-alt="Камни в почках">
		<span data-src="http://placehold.it/414x414"></span>
		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
		<noscript>
			<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
		</noscript>
    </span>
        <div class="mainBanner__content">
            <div class="longevity-block__text-content">
                <h3>Как прожить до 120 лет: миф или реальность?</h3>
                <a href="#">читать</a>
            </div>
        </div>
    </section>

    <section id="secrets-longevity" class="secrets-longevity">
        <div class="secrets-longevity__title">
            <h2>Секреты долголетия:</h2>
        </div>
        <div class="secrets-longevity__container">
        <div class="g-grid _col-2 _cont-around _txt-right">
            <ul class="g-grid__ul">
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <h3>8 полезных свойств граната</h3>
                            <div>Если есть королевские растения, то гранат, несомненно, принадлежат если есть
                                королевские растения, то гранат, несомненно, принадл
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>
        </div>

        @@include('./templates/banners.html')

        <div class="blocks clearfix">
            <div class="blocks__interview col-md-4">

                @@include('./templates/interview.html')

            </div>
            <div class="blocks__right blocks__right_longevity col-md-8">
                <div class="blocks__right-content">
                    <div class="blocks__right-text-content">
                        <div>Большинство знает, что оптимисты живут дольше. Именно поэтому специалисты по долголетию
                            рекомендуют имень как можно больше положительных эмоций в течение дня.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="longevity-diagnostics" class="longevity-diagnostics">
        <div class="longevity-diagnostics__title">
            <h2>Диагностика</h2>
        </div>
        <div class="longevity-diagnostics__content">
            <div class="longevity-diagnostics__container">
                <form action="#" class="longevity-diagnostics__form">
                    <p>Выберите интересующую Вас проблему, или направление медицины, и получите полную информацию по
                        Вашей проблеме</p>
                    <div class="longevity-diagnostics__form-block clearfix">

                        <div class="drop _select-input _gray-bor">
                            <input class="drop__input" type="text" placeholder="Направление">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">заболевание 1</li>
                                        <li class="drop__li">заболевание 2</li>
                                        <li class="drop__li">заболевание 3</li>
                                        <li class="drop__li">заболевание 4</li>
                                        <li class="drop__li">заболевание 5</li>
                                        <li class="drop__li">заболевание 6</li>
                                        <li class="drop__li">заболевание 7</li>
                                        <li class="drop__li">заболевание 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="longevity-diagnostics__particle">или</span>
                        <div class="drop _select-input _gray-bor">
                            <input class="drop__input" type="text" placeholder="Заболевание">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">заболевание 1</li>
                                        <li class="drop__li">заболевание 2</li>
                                        <li class="drop__li">заболевание 3</li>
                                        <li class="drop__li">заболевание 4</li>
                                        <li class="drop__li">заболевание 5</li>
                                        <li class="drop__li">заболевание 6</li>
                                        <li class="drop__li">заболевание 7</li>
                                        <li class="drop__li">заболевание 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="longevity-diagnostics__btn">показать информацию</button>
                </form>
                <div class="longevity-diagnostics__description-wrap clearfix">
                    <div class="longevity-diagnostics__description col-md-8 col-md-offset-2">
                        <h3>Диффузный зоб</h3>
                        <div>это равномерное увеличение объема щитовидной железы. В зависимости от характера нарушения
                            ее функций (уменьшение или повышение) выделяют два типа этой болезни, соответственно:
                            эндемический и токсический зоб.
                        </div>
                    </div>
                </div>
            </div>
            <div class="longevity-diagnostics__block-wrap">
                <div class="longevity-diagnostics__block clearfix">
                    <div class="longevity-diagnostics__item col-md-4">
                        <div class="longevity-diagnostics__item-content">
                            <h3>К кому следует обратиться?</h3>
                            <div>
                                <p>Магнитно-резонансная томография (МРТ) Основой для изображений МРТ является магнитное
                                    поле и радиочастнотные импульсы. Во время исследования пациент помещается в тоннель
                                    томографа, который открыт с двух сторон.
                                <p>
                                <p>УЗИ - исследование органов и тканей с помощью ультразвоковых волн.</p>
                            </div>
                        </div>
                    </div>
                    <div class="longevity-diagnostics__item col-md-4">
                        <div class="longevity-diagnostics__item-content">
                            <h3>К кому следует обратиться?</h3>
                            <div>
                                <p>Магнитно-резонансная томография (МРТ) Основой для изображений МРТ является магнитное
                                    поле и радиочастнотные импульсы. Во время исследования пациент помещается в тоннель
                                    томографа, который открыт с двух сторон.
                                <p>
                                <p>УЗИ - исследование органов и тканей с помощью ультразвоковых волн.</p>
                            </div>
                        </div>
                    </div>
                    <div class="longevity-diagnostics__item col-md-4">
                        <div class="longevity-diagnostics__item-content">
                            <h3>К кому следует обратиться?</h3>
                            <div>
                                <p>Магнитно-резонансная томография (МРТ) Основой для изображений МРТ является магнитное
                                    поле и радиочастнотные импульсы. Во время исследования пациент помещается в тоннель
                                    томографа, который открыт с двух сторон.
                                <p>
                                <p>УЗИ - исследование органов и тканей с помощью ультразвоковых волн.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="longevity-diagnostics__container">
                <div class="longevity-diagnostics__links">
                    <a href="#" class="longevity-diagnostics__link longevity-diagnostics__link-spb">Диагностика в
                        СПб</a>
                    <a href="#" class="longevity-diagnostics__link longevity-diagnostics__link-russia">Диагностика в
                        России</a>
                </div>
                <div class="longevity-diagnostics__items clearfix">
                    <a href="#" class="longevity-diagnostics__item-img">
                        <div class="longevity-diagnostics__content-wrap">
                            <div class="longevity-diagnostics__img-wrap">
                                <img src="http://placehold.it/515x320" alt="" class="longevity-diagnostics__img"
                                     width="515" height="320">
                            </div>
                            <div class="longevity-diagnostics__text-content">
                                <h3>Анализы крови</h3>
                                <div>Современный метод лучевой диагностики, позволяющий получить послойное изображение
                                    любой области тела человека с толщиной среза от 0,5мм до 10мм.
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="longevity-diagnostics__item-img">
                        <div class="longevity-diagnostics__content-wrap">
                            <div class="longevity-diagnostics__img-wrap">
                                <img src="http://placehold.it/515x320" alt="" class="longevity-diagnostics__img"
                                     width="515" height="320">
                            </div>
                            <div class="longevity-diagnostics__text-content">
                                <h3>УЗИ <span>(ультразвуковое исследование)</span></h3>
                                <div>Современный метод лучевой диагностики, позволяющий получить послойное изображение
                                    любой области тела человека с толщиной среза от 0,5мм до 10мм.
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="longevity-diagnostics__item-img">
                        <div class="longevity-diagnostics__content-wrap">
                            <div class="longevity-diagnostics__img-wrap">
                                <img src="http://placehold.it/515x320" alt="" class="longevity-diagnostics__img"
                                     width="515" height="320">
                            </div>
                            <div class="longevity-diagnostics__text-content">
                                <h3>МРТ <span>Магнитно-резонансная томография</span></h3>
                                <div>Современный метод лучевой диагностики, позволяющий получить послойное изображение
                                    любой области тела человека с толщиной среза от 0,5мм до 10мм.
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="longevity-diagnostics__item-img">
                        <div class="longevity-diagnostics__content-wrap">
                            <div class="longevity-diagnostics__img-wrap">
                                <img src="http://placehold.it/515x320" alt="" class="longevity-diagnostics__img"
                                     width="515" height="320">
                            </div>
                            <div class="longevity-diagnostics__text-content">
                                <h3>КТ <span>Компьютерная томография</span></h3>
                                <div>Современный метод лучевой диагностики, позволяющий получить послойное изображение
                                    любой области тела человека с толщиной среза от 0,5мм до 10мм.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="longevity-diagnostics__link-wrap">
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="inoculations" class="inoculations">
        <div class="inoculations__title">
            <h2>Прививки:</h2>
        </div>
        <div class="inoculations__slider slider">
            <div class="mainBanner _right-top inoculations__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="inoculations__text-content">
                        <h3>Скажи НЕТ <br>клещевому энцефалиту!</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _right-top inoculations__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="inoculations__text-content">
                        <h3>Скажи НЕТ <br>клещевому энцефалиту!</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _right-top inoculations__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="inoculations__text-content">
                        <h3>Скажи НЕТ <br>клещевому энцефалиту!</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="inoculations__container">
            <div class="inoculations__link">
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="physiotherapy" class="physiotherapy">
        <div class="physiotherapy__title">
            <h2>Лечебная гимнастика:</h2>
        </div>
        <div class="physiotherapy__slider slider">
            <div class="mainBanner _right physiotherapy__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="physiotherapy__text-content">
                        <h3>Лечение шейного остеохондроза</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _left physiotherapy__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="physiotherapy__text-content">
                        <h3>Лечение шейного остеохондроза</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _center physiotherapy__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>
                <div class="mainBanner__content">
                    <div class="physiotherapy__text-content">
                        <h3>Лечение шейного остеохондроза</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="physiotherapy__container">
            <div class="physiotherapy__link">
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="longevity-food" class="longevity-food">
        <div class="longevity-food__title">
            <h2>Питание:</h2>
        </div>

        <div class="longevity-food__slider slider">

            <div class="mainBanner _left-top  longevity-food__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>

                <div class="mainBanner__content">
                    <div class="longevity-food__text-content col-md-6 col-md-offset-2">
                        <h3><span>топ 10 продуктов,</span> которые улучшают зрение</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _left-top  longevity-food__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>

                <div class="mainBanner__content">
                    <div class="longevity-food__text-content col-md-6 col-md-offset-2">
                        <h3><span>топ 10 продуктов,</span> которые улучшают зрение</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _left-top  longevity-food__slider-item">
			<span data-picture="" data-alt="Камни в почках">
				<span data-src="http://placehold.it/414x414"></span>
				<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
				<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
				<noscript>
					<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
				</noscript>
    		</span>

                <div class="mainBanner__content">
                    <div class="longevity-food__text-content col-md-6 col-md-offset-2">
                        <h3><span>топ 10 продуктов,</span> которые улучшают зрение</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="longevity-food__container">
            <div class="longevity-food__link">
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="longevity-sport" class="longevity-sport">
        <div class="longevity-sport__title">
            <h2>Спорт:</h2>
        </div>
        <div class="longevity-sport__slider slider">

            <div class="mainBanner _center longevity-sport__slider-item">

			    <span data-picture="" data-alt="Камни в почках">
			    	<span data-src="http://placehold.it/414x414"></span>
			    	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
			    	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
			    	<noscript>
			    		<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
			    	</noscript>
    		    </span>
                <div class="mainBanner__content">
                    <div class="longevity-sport__text-content col-md-6 col-md-offset-6">
                        <h3>Бег продлевает жизнь</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _center longevity-sport__slider-item">

			    <span data-picture="" data-alt="Камни в почках">
			    	<span data-src="http://placehold.it/414x414"></span>
			    	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
			    	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
			    	<noscript>
			    		<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
			    	</noscript>
    		    </span>
                <div class="mainBanner__content">
                    <div class="longevity-sport__text-content col-md-6 col-md-offset-6">
                        <h3>Бег продлевает жизнь</h3>
                    </div>
                </div>
            </div>
            <div class="mainBanner _center longevity-sport__slider-item">

			    <span data-picture="" data-alt="Камни в почках">
			    	<span data-src="http://placehold.it/414x414"></span>
			    	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
			    	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
			    	<noscript>
			    		<img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
			    	</noscript>
    		    </span>
                <div class="mainBanner__content">
                    <div class="longevity-sport__text-content col-md-6 col-md-offset-6">
                        <h3>Бег продлевает жизнь</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="longevity-sport__container">
            <div class="longevity-sport__link">
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

</main>

@@include('./templates/footer.html', {
"js": "longevity"
})