
@@include('./templates/header.html', {
"css": "motherhood-article-2"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="motherhood-article__container">


        <div class="wrap motherhood-article__wrap clearfix">
                @@for (var k = 0; k < 16; k++) {
                <div class="motherhood-article__item">
                    <a href="#!" class="motherhood-article__link-wrap">
                    <div class="motherhood-article__link-img">
                        <img src="http://placehold.it/400x275" alt="">
                    </div>
                    <div class="motherhood-article__link-content">
                        <time class="motherhood-article__link-time" datetime="2016-09-21">
                            21 сентября 2016
                        </time>
                        <h3 class="motherhood-article__link-title">
                            Беременность и многоводие: околоплодные воды и их количество
                        </h3>
                        <div class="motherhood-article__link-desc">
                            Амниотическая жидкость – жизненно необходимая среда, в которой развивается
                            будущий ребенок. От количества вод в околоплодном пузыре зависит нормаль-
                            ное формирование органов малыша, его иммунитет, здоровье и даже – возмож-
                            ность появления на свет. Если количество жидкости ниже
                        </div>
                    </div>
                </a>
                </div>
                }

        </div>
        <div class="wrap">
            @@include('./templates/paginator.html')
        </div>

        @@include('./templates/banners.html')

    </div>


</main>

@@include('./templates/footer.html', { "js": "motherhood-article-2" })
