@@include('./templates/header.html', {
    "css": "motherhood-article"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
	<section class="article">
		<div class="article__content">
			<div class="article__container">
				<div class="clearfix article__content-block-1">
					<div class="article__block-left  col-md-3">
						<div class="article__date">21 сентября 2016</div>
						<img src="img/motherhood-article/article-1.png" alt="article-img" class="article__img">
					</div>
					<div class="article__block-right  col-md-9">
						<h1>Дефицит амниотической жидкости: чем грозит маловодие</h1>
						<p>Амниотическая жидкость – жизненно необходимая среда, в которой развивается будущий ребенок. От количества вод в околоплодном пузыре зависит нормальное формирование органов малыша, его иммунитет, здоровье и даже - возможность появления на свет. Если количество жидкости ниже установленной нормы, у матери диагностируют маловодие.</p>
						<h2>Опасный дефицит</h2>
						<p>Околоплодные воды не статичны. Они находятся в постоянном движении и обновляются в течении 3 суток. Ребенку на разных сроках беременности необходимо определенное количество жидкости. При маловодии нарушается питание плода, слабеет защита от инфекций. Помимо прочего, матка может сдавливать плод. Отсутствие необходимого пространства и прилегание амниотической оболочки к телу малыша ведут за собой серьезные последствия.</p>
					</div>
				</div>
			</div>
			<div class="article__quote  article__spec-block">
				<p class="article__spec-content article__quote-text">При умеренном хроническом маловодии постепенно и незначительно уменьшается объем жидкости. Для выраженной формы свойственен сильный дефицит вод. Острое многоводие отличается стремительным развитием патологии.</p>
			</div>
			<div class="article__container">
				<div class="clearfix">
					<div class="article__repercussion col-md-9 col-md-offset-3">
						<h2>К чему может привести маловодие:</h2>
						<ul>
							<li>мертворождение или смерть ребенка в первые дни после родов;</li>
							<li>антенатальная (внутриутробная) гибель;</li>
							<li>роды раньше срока;</li>
							<li>инфицирование плода;</li>
							<li>гипоксия плода (нехватка кислорода);</li>
							<li>патологические нарушения развития (деформация органов и костей, травмы кожного покрова, обезображивающие искривления тела, ампутация конечностей внутри утробы);</li>
							<li>осложнения при родах (вплоть до необходимости кесарева сечения);</li>
							<li>послеродовые кровотечения.</li>
						</ul>
					</div>
					<div class="article__symptomatology col-md-9 col-md-offset-3">
						<h2>Симптоматика</h2>
						<ul>
							<li>тянущая боль внизу живота;</li>
							<li>слабость;</li>
							<li>боли при шевелении ребенка;</li>
							<li>ухудшение самочувствия;</li>
							<li>уменьшение размеров матки и живота по сравнению с нормой.</li>
						</ul>
						<p>При дефиците амниотической жидкости симптомы малозаметны. Особенно это касается умеренного хронического маловодия, которое хоть и менее опасно, чем выраженная или острая формы, но требует лечения.</p>
					</div>
				</div>
			</div>
			<div class="article__attention  article__spec-block">
				<p class="article__spec-content  article__attention-text">Своевременная диагностика многоводия поможет избежать негативных последствий и спасти ребенка. Вовремя встаньте на учет по беременности. УЗИ - наилучший способ определить патологию амниотической среды! </p>
			</div>
			<div class="article__container">
				<div class="clearfix article__content-block-2">
					<div class="article__block-left  article__block-left-2  col-md-3">
						<img src="img/motherhood-article/article-2.png" alt="article-img" class="article__img">
					</div>
					<div class="article__block-right col-md-9">
						<h2>Найти и обезвредить</h2>
						<p>Для эффективного лечения маловодия необходимо выяснить что спровоцировало аномалию.</p>
						<div class="article__causes">
							<h2>Возможные причины:</h2>
							<ul>
								<li>врожденные пороки развития плода;</li>
								<li>заболевание матери (хронические, инфекционные);</li>
								<li>патологии плаценты;</li>
								<li>постепенное истечение околоплодных вод (амниональная гидрорея);</li>
								<li>преждевременное излитие амниотической жидкости;</li>
								<li>употребление препаратов, продляющих беременность.</li>
							</ul>
						</div>
						<p >При успешном распознавании причины начинают соответствующее лечение. В таком случае вероятен положительный исход. Если же выяснить негативный фактор не удалось, диагностируют идиопатическое маловодие и назначают постоянное наблюдение и общую терапию.</p>
						<p>Подробнее об амниотической жидкости и многоводии читайте в статье <a href="#!" class="article__link">"Беременность и многоводие: околоплодные воды и их количество".</a></p>
						<div class="article__sources">
							<h2>Источники</h2>
							<a href="http://www.medsecret.net/akusherstvo/patologija-beremennosti/246-malovodie-mnogovodie" class="article__link">http://www.medsecret.net/akusherstvo/patologija-beremennosti/246-malovodie-mnogovodie</a>
							<a href="http://pregnant-club.ru/malovodie" class="article__link">http://pregnant-club.ru/malovodie</a>
							<a href="http://baby-calendar.ru/plod/okoloplodnye-vody/malovodie/" class="article__link">http://baby-calendar.ru/plod/okoloplodnye-vody/malovodie/</a>
							<a href="http://lookmedbook.ru/disease/malovodie" class="article__link">http://lookmedbook.ru/disease/malovodie</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="article__content-bottom">
			<div class="article__container clearfix">
				<div class="article__tags col-md-9 col-md-offset-3">
					<a href="#!" class="article__tags-item">многоводие</a>
					<a href="#!" class="article__tags-item">амниотическая жидкость</a>
				</div>
			</div>
			<div class="article__social-wrap">
				<div class="article__container">
					<div class="social-likes">
						<div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
						<div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
						<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
						<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
						<div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "motherhood-article"
})