@@include('./templates/header.html', {
    "css": "motherhood-childbearing"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

    <div class="all-articles">
        <div class="interesting-facts__container">
            <div class="all-articles__value">
            <ul class="all-articles__list">
                <li><a href="#!">Все</a></li>
                <li><a href="#!">За этот месяц</a></li>
                <li><a href="#!">По популярности</a></li>
            </ul>
        </div>
        </div>
        <div class="interesting-facts__container">

            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-1.png" alt="img-1" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">21 сентября 2016</time>
                    <a href="#!">
                        <h3>Дефицит амниотической жидкости: чем грозит маловодие</h3>
                    </a>
                    <p>Амниотическая жидкость - жизненно необходимая среда, в которой развивается будущий ребенок. От количества вод в околоплодном пузыре зависит нормальное формирование органов малыша, его иммунитет, здоровье и даже - возможность появления на свет. Если количество жидкости ниже установленной нормы, у матери диагностируют маловодие.</p>

                </div>
            </div>

            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-2.png" alt="img-2" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
					<a href="#!"><h3>Беременность и многоводие: околоплодные воды и их количество</h3></a>
                    <p>Диагноз "патология на фоне избыточного скопления амниотической жидкости" звучит непонятно для большинства будущих мам. В широких кругах это состояние называют многоводием. С проблемой чрезмерного количества околоплодных вод в среднем сталкивается 1 женщина из 100. Что из себя представляет эта аномалия? Попробуем разобраться.</p>
                </div>
            </div>

            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-3.png" alt="img-3" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
					<a href="#!"><h3>Беременность и многоводие: причины и лечение</h3></a>
                    <p>Последствия многоводия могут быть критическими, вплоть до выкидыша, искусственного прерывания беременности или необратимых нарушений в развитии плода. Чтобы избежать этого, необходимо своевременно выявить проблему и получить помощь квалифицированного специалиста.</p>
                </div>
            </div>
        </div>
        <div class="advertising adv">
            <div class="advertising__container">
                <div class="advertising__title-wrap">
                    <b class="advertising__title">немного рекламы</b>
                </div>
                <div class="advertising__items clearfix">
                    <div class="advertising__item col-sm-6">
                        <div class="advertising__img-wrap">
                            <img src="http://placehold.it/350x350" alt="item-1" class="advertising__img">
                        </div>
                        <div class="advertising__content-wrap">
                            <p class="advertising__text-content"><a href="#">Для самых маленьких.</a> Магазин детских товаров</p>
                            <a href="#!" class="advertising__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="advertising__item col-sm-6">
                        <div class="advertising__img-wrap">
                            <img src="http://placehold.it/350x350" alt="item-2" class="advertising__img">
                        </div>
                        <div class="advertising__content-wrap">
                            <p class="advertising__text-content"><a href="#">Для самых маленьких.</a> Магазин детских товаров</p>
                            <a href="#!" class="advertising__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="advertising__item col-sm-6">
                        <div class="advertising__img-wrap">
                            <img src="http://placehold.it/350x350" alt="item-3" class="advertising__img">
                        </div>
                        <div class="advertising__content-wrap">
                            <p class="advertising__text-content"><a href="#">Для самых маленьких.</a> Магазин детских товаров</p>
                            <a href="#!" class="advertising__link">Подробнее</a>
                        </div>
                    </div>
                    <div class="advertising__item col-sm-6">
                        <div class="advertising__img-wrap">
                            <img src="http://placehold.it/350x350" alt="item-4" class="advertising__img">
                        </div>
                        <div class="advertising__content-wrap">
                            <p class="advertising__text-content"><a href="#">Частный врач-педиатр</a></p>
                            <a href="#!" class="advertising__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="interesting-facts__container">

            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-4.png" alt="img-4" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
                    <a href="#!"><h3>Низкая плацентация при беременности</h3></a>
                    <p>Главной защитой малыша в период беременности, безусловно, является плацента. Это утолщённая часть зародышевой оболочки, она помогает питаться и дышать маленькому, способствует его иммунологической защите. Образуется плацента вокруг оплодотворенной яйцеклетки - в стенке матки.</p>
                </div>
            </div>
            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-5.png" alt="img-5" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
                    <a href="#!"><h3>Преждевременные схватки</h3></a>
                    <p>Нередко беременности заканчиваются раньше, чем положено. Если схватки появились на ранних сроках, то может случиться выкидыш. Если же схватки развились у женщины, находящейся на последнем триместре беременности, то ребенок может родиться недоношенным.</p>
                </div>
            </div>
            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-6.png" alt="img-6" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
                    <a href="#!"><h3>Ненормальное положение, или как не пропустить внематочную беременность</h3></a>
                    <p>Внематочная беременность - опасный диагноз. Некоторые считают, что при внематочной беременности есть шанс выносить и произвести на свет здорового ребенка. Это заблуждение чревато трагическими последствиями!</p>
                </div>
            </div>
            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-7.png" alt="img-7" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
                    <a href="#!"><h3>Дефицит амниотической жидкости: чем грозит маловодие</h3></a>
                    <p>Амниотическая жидкость - жизненно необходимая среда, в которой развивается будущий ребенок. От количества вод в околоплодном пузыре зависит нормальное формирование органов малыша, его иммунитет, здоровье и даже - возможность появления на свет. Если количество жидкости ниже установленной нормы, у матери диагностируют маловодие.</p>
                </div>
            </div>
            <div class="interesting-facts__item">
                <div class="interesting-facts__img-wrap">
                    <img src="img/motherhood-childbearing/img-8.png" alt="img-8" class="interesting-facts__img">
                </div>
                <div class="interesting-facts__text-content">
                    <time datetime="2016-09-21">22 сентября 2016</time>
                    <a href="#!"><h3>Беременность и многоводие: околоплодные воды и их количество</h3></a>
                    <p>Диагноз "патология на фоне избыточного скопления амниотической жидкости" звучит непонятно для большинства будущих мам. В широких кругах это состояние называют многоводием. С проблемой чрезмерного количества околоплодных вод в среднем сталкивается 1 женщина из 100. Что из себя представляет эта аномалия? Попробуем разобраться.</p>
                </div>
            </div>

            @@include('./templates/paginator.html')

        </div>
    </div>

</main>

@@include('./templates/footer.html', {
    "js": "motherhood-childbearing"
})