@@include('./templates/header.html', {
    "css": "motherhood"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
	<section class="hospital-slider slider">

		<div class="mainBanner _right hospital-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            	</noscript>
       		</span>

			<div class="mainBanner__content hospital-slider__text-wrapper">
				<div class="hospital-slider__text-content">
					<h3>Что взять с собой <br>в роддом</h3>
					<a href="#!" class="hospital-slider__item-link">хочу узнать></a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right hospital-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            	</noscript>
       		</span>

			<div class="mainBanner__content hospital-slider__text-wrapper">
				<div class="hospital-slider__text-content">
					<h3>Что взять с собой <br>в роддом</h3>
					<a href="#!" class="hospital-slider__item-link">хочу узнать></a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right hospital-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            	</noscript>
       		</span>

			<div class="mainBanner__content hospital-slider__text-wrapper">
				<div class="hospital-slider__text-content">
					<h3>Что взять с собой <br>в роддом</h3>
					<a href="#!" class="hospital-slider__item-link">хочу узнать></a>
				</div>
			</div>
		</div>

	</section>
	
	<div class="motherhood-menu">
		<div class="motherhood-menu__container">
			<nav class="motherhood-menu__items clearfix">
				<a href="#!" class="motherhood-menu__link motherhood-menu__link-1 col-md-3">Планирование семьи</a>
				<a href="#!" class="motherhood-menu__link motherhood-menu__link-2 col-md-3">Беременность</a>
				<a href="#!" class="motherhood-menu__link motherhood-menu__link-3 col-md-3">Роды</a>
				<a href="#!" class="motherhood-menu__link motherhood-menu__link-4 col-md-3">Ребенок</a>
			</nav>
		</div>
	</div>
	
	<section class="about-pregnancy-slider slider">

		<div class="mainBanner _right about-pregnancy-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="about-pregnancy-slider__item-content">
					<h3>Все о беременности:</h3>
					<p>Возможные ошибки на УЗИ при определении пола ребенка</p>
					<a href="" class="about-pregnancy-slider__item-link">читать подробности></a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right about-pregnancy-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="about-pregnancy-slider__item-content">
					<h3>Все о беременности:</h3>
					<p>Возможные ошибки на УЗИ при определении пола ребенка</p>
					<a href="" class="about-pregnancy-slider__item-link">читать подробности></a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right about-pregnancy-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="about-pregnancy-slider__item-content">
					<h3>Все о беременности:</h3>
					<p>Возможные ошибки на УЗИ при определении пола ребенка</p>
					<a href="" class="about-pregnancy-slider__item-link">читать подробности></a>
				</div>
			</div>
		</div>

	</section>

	<section class="instruments">
		<div class="instruments__container">
			<h2 class="instruments__title">Полезные инструменты:</h2>
			<div class="instruments__content clearfix">
				<div class="instruments__content-left col-md-6">
					<h3 class="instruments__content-title">Выберите неделю в календаре</h3>
					<p class="instruments__content-subtitle">если уже знаете свой срок</p>
					<div class="instruments__block">
						<h4 class="instruments__block-title">Выберите неделю</h4>
						<ul class="instruments__list">
							<li><a href="#" class="instruments__list-item">1</a></li>
							<li><a href="#" class="instruments__list-item">2</a></li>
							<li><a href="#" class="instruments__list-item">3</a></li>
							<li><a href="#" class="instruments__list-item">4</a></li>
							<li><a href="#" class="instruments__list-item">5</a></li>
							<li><a href="#" class="instruments__list-item">6</a></li>
							<li><a href="#" class="instruments__list-item">7</a></li>
							<li><a href="#" class="instruments__list-item">8</a></li>
							<li><a href="#" class="instruments__list-item">9</a></li>
							<li><a href="#" class="instruments__list-item">10</a></li>
							<li><a href="#" class="instruments__list-item">11</a></li>
							<li><a href="#" class="instruments__list-item">12</a></li>
							<li><a href="#" class="instruments__list-item">13</a></li>
						</ul>
						<ul class="instruments__list">
							<li><a href="#" class="instruments__list-item">14</a></li>
							<li><a href="#" class="instruments__list-item">15</a></li>
							<li><a href="#" class="instruments__list-item">16</a></li>
							<li><a href="#" class="instruments__list-item">17</a></li>
							<li><a href="#" class="instruments__list-item">18</a></li>
							<li><a href="#" class="instruments__list-item">19</a></li>
							<li><a href="#" class="instruments__list-item">20</a></li>
							<li><a href="#" class="instruments__list-item">21</a></li>
							<li><a href="#" class="instruments__list-item">22</a></li>
							<li><a href="#" class="instruments__list-item">23</a></li>
							<li><a href="#" class="instruments__list-item">24</a></li>
							<li><a href="#" class="instruments__list-item">25</a></li>
							<li><a href="#" class="instruments__list-item">26</a></li>
						</ul>
						<ul class="instruments__list">
							<li><a href="#" class="instruments__list-item">27</a></li>
							<li><a href="#" class="instruments__list-item">28</a></li>
							<li><a href="#" class="instruments__list-item">29</a></li>
							<li><a href="#" class="instruments__list-item">30</a></li>
							<li><a href="#" class="instruments__list-item">31</a></li>
							<li><a href="#" class="instruments__list-item">32</a></li>
							<li><a href="#" class="instruments__list-item">33</a></li>
							<li><a href="#" class="instruments__list-item">34</a></li>
							<li><a href="#" class="instruments__list-item">35</a></li>
							<li><a href="#" class="instruments__list-item">36</a></li>
							<li><a href="#" class="instruments__list-item">37</a></li>
							<li><a href="#" class="instruments__list-item">38</a></li>
							<li><a href="#" class="instruments__list-item">39</a></li>
							<li><a href="#" class="instruments__list-item">40</a></li>
							<li><a href="#" class="instruments__list-item">41</a></li>
							<li><a href="#" class="instruments__list-item">42</a></li>
						</ul>
						<div class="instruments__trimester instruments__trimester-1">1 триместр</div>
						<div class="instruments__trimester instruments__trimester-2">2 триместр</div>
						<div class="instruments__trimester instruments__trimester-3">3 триместр</div>
					</div>
				</div>
				<div class="instruments__content-right col-md-offset-1 col-md-4">
					<h3 class="instruments__content-title">Сделайте расчет с помощью калькулятора беременности</h3>
					<p class="instruments__content-subtitle">если срок неизвестен</p>
					<div class="instruments__content-block-r">
						<h3 class="instruments__r-block-title">Помочь рассчитать срок беременности?</h3>
						<p class="instruments__r-block-text">укажите 1й день последней менструации, и узнайте, на каком сроке беременности Вы находитесь</p>
						<input type="text" id="datepicker" class="instruments__r-block-input">
						<p class="instruments__r-block-text">Ваш срок беременности:</p>
						<div class="instruments__r-block-time"><span>0</span> недель</div>
						<div class="instruments__r-block-time"><span>0</span> мес</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="calculation-menu">
		<div class="calculation-menu__container">
			<div class="calculation-menu__items">
				<div class="clearfix">
					<a href="#" class="calculation-menu__link calculation-menu__link-l col-md-6">
						<div class="calculation-menu__item">
							<img class="calculation-menu__img" src="img/motherhood/calc-1.png" alt="calc-1">
							<h3 class="calculation-menu__title">Калькулятор срока беременности</h3>
						</div>
					</a>
					<a href="#" class="calculation-menu__link calculation-menu__link-r col-md-6">
						<div class="calculation-menu__item">
							<img class="calculation-menu__img" src="img/motherhood/calc-2.png" alt="calc-2">
							<h3 class="calculation-menu__title">Расчет декретных</h3>
						</div>
					</a>
				</div>
				<div class="clearfix">
					<a href="#" class="calculation-menu__link calculation-menu__link-l col-md-6">
						<div class="calculation-menu__item">
							<img class="calculation-menu__img" src="img/motherhood/calc-3.png" alt="calc-3">
							<h3 class="calculation-menu__title">Расчет предполагаемой даты родов</h3>
						</div>
					</a>
					<a href="#" class="calculation-menu__link calculation-menu__link-r col-md-6">
						<div class="calculation-menu__item">
							<img class="calculation-menu__img" src="img/motherhood/calc-4.png" alt="calc-4">
							<h3 class="calculation-menu__title">Калькулятор ХГЧ</h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="children-menu">
		<div class="children-menu__container clearfix">
			<div class="children-menu__content  col-xs-12 col-md-5 col-md-offset-7 col-lg-offset-4 col-lg-8">
				<h2 class="children-menu__title">Дети:</h2>
				<ul class="children-menu__age">
					<li><a href="#!" class="children-menu__age-item children-menu__age-item_first">до 1 года</a></li>
					<li><a href="#!" class="children-menu__age-item">от 1 до 3 лет </a></li>
					<li><a href="#!" class="children-menu__age-item">от 3 до 7 лет</a></li>
					<li><a href="#!" class="children-menu__age-item children-menu__age-item_last">от 7 лет</a></li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="my-baby">
		<div class="my-baby__container">
			<h2 class="my-baby__title">Мой малыш:</h2>
			<div class="clearfix">
				<a href="#!" class="my-baby__link col-md-4">
					<div class="my-baby__item">
						<img src="http://placehold.it/470x260" alt="item-1" class="my-baby__item-img">
						<h3>Почему у ребенка шелушится  кожа на голове?</h3>
					</div>
				</a>
				<a href="#!" class="my-baby__link col-md-4">
					<div class="my-baby__item">
						<img src="http://placehold.it/470x260" alt="item-1" class="my-baby__item-img">
						<h3>Почему ребенок мало спит  днем?</h3>
					</div>
				</a>
				<a href="#!" class="my-baby__link col-md-4">
					<div class="my-baby__item">
						<img src="http://placehold.it/470x260" alt="item-1" class="my-baby__item-img">
						<h3>Как приучить ребенка  к кроватке?</h3>
					</div>
				</a>
			</div>
		</div>
	</section>
	
	<div class="children-list">
		<div class="children-list__container">
			<nav class="children-list__items clearfix">
				<a href="#!" class="children-list__link children-list__link-1 col-md-3">Детские питание</a>
				<a href="#!" class="children-list__link children-list__link-2 col-md-3">Развлечения</a>
				<a href="#!" class="children-list__link children-list__link-3 col-md-3">Развивающие игры</a>
				<a href="#!" class="children-list__link children-list__link-4 col-md-3">Отдых</a>
			</nav>
		</div>
	</div>
	
	<section class="childhood-diseases-menu">
		<div class="childhood-diseases-menu__container">
			<h2 class="childhood-diseases-menu__title">Детские болезни</h2>
			<div class="g-grid _col-2 _cont-cent _txt-inner">
				<ul class="g-grid__ul">
					<li class="g-grid__li">
						<a href="#!" title="some-title" class="g-grid__link">
							<div class="g-grid__img-cont">
								<img src="http://placehold.it/540x370" alt="#">
							</div>
							<div class="g-grid__content">
								<h3>Ветрянка</h3>
							</div>
						</a>
					</li>
					<li class="g-grid__li">
						<a href="#!" title="some-title" class="g-grid__link">
							<div class="g-grid__img-cont">
								<img src="http://placehold.it/540x370" alt="#">
							</div>
							<div class="g-grid__content">
								<h3>Ветрянка</h3>
							</div>
						</a>
					</li>
					<li class="g-grid__li">
						<a href="#!" title="some-title" class="g-grid__link">
							<div class="g-grid__img-cont">
								<img src="http://placehold.it/540x370" alt="#">
							</div>
							<div class="g-grid__content">
								<h3>Ветрянка</h3>
							</div>
						</a>
					</li>
					<li class="g-grid__li">
						<a href="#!" title="some-title" class="g-grid__link">
							<div class="g-grid__img-cont">
								<img src="http://placehold.it/540x370" alt="#">
							</div>
							<div class="g-grid__content">
								<h3>Ветрянка</h3>
							</div>
						</a>
					</li>

				</ul>

			</div>
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
		</div>
		@@include('./templates/banners.html')
	</section>

	@@include('./templates/vaccination-calendar.html')

	<section class="tuberculosis-slider slider">

		<div class="mainBanner _right-top  tuberculosis-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="tuberculosis-slider__item-content">
					<a href="#" class="tuberculosis-slider__link">
						<h3>Все о вакцинации</h3>
						<p>против туберкулеза</p>
					</a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right-top  tuberculosis-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="tuberculosis-slider__item-content">
					<a href="#" class="tuberculosis-slider__link">
						<h3>Все о вакцинации</h3>
						<p>против туберкулеза</p>
					</a>
				</div>
			</div>
		</div>

		<div class="mainBanner _right-top  tuberculosis-slider__item">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<div class="tuberculosis-slider__item-content">
					<a href="#" class="tuberculosis-slider__link">
						<h3>Все о вакцинации</h3>
						<p>против туберкулеза</p>
					</a>
				</div>
			</div>
		</div>

	</section>
	
	<section class="adolescent-psychology">
		<div class="adolescent-psychology__container">
			<h2 class="adolescent-psychology__title">Психология</h2>
		</div>
		<div class="adolescent-psychology__slider slider">

			<div class="mainBanner _left  adolescent-psychology__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="adolescent-psychology__item-content">
						<a href="#" class="adolescent-psychology__link">
							<h3>Переходный возраст</h3>
							<p>5 советов родителям</p>
						</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _left  adolescent-psychology__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="adolescent-psychology__item-content">
						<a href="#" class="adolescent-psychology__link">
							<h3>Переходный возраст</h3>
							<p>5 советов родителям</p>
						</a>
					</div>
				</div>
			</div>
			<div class="mainBanner _left  adolescent-psychology__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="adolescent-psychology__item-content">
						<a href="#" class="adolescent-psychology__link">
							<h3>Переходный возраст</h3>
							<p>5 советов родителям</p>
						</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	
	<section class="help-parents">
		<div class="help-parents__container">
			<h2 class="help-parents__title">В помощь родителям</h2>
			<div class="clearfix">
				<a href="#!" class="help-parents__link col-md-6">
					<div class="help-parents__item">
						<img src="http://placehold.it/540x305" alt="item-1" class="help-parents__item-img">
						<div class="help-parents__content">
							<h3>10 способов успокоить младенца</h3>
						</div>
					</div>
				</a>
				<a href="#!" class="help-parents__link col-md-6">
					<div class="help-parents__item">
						<img src="http://placehold.it/540x305" alt="item-1" class="help-parents__item-img">
						<div class="help-parents__content">
							<h3>Как приучить ребенка спать в кроватке</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="clearfix">
				<a href="#!" class="help-parents__link col-md-6">
					<div class="help-parents__item">
						<img src="http://placehold.it/540x305" alt="item-1" class="help-parents__item-img">
						<div class="help-parents__content">
							<h3>Все необходимое для новорожденного</h3>
						</div>
					</div>
				</a>
				<a href="#!" class="help-parents__link col-md-6">
					<div class="help-parents__item">
						<img src="http://placehold.it/540x305" alt="item-1" class="help-parents__item-img">
						<div class="help-parents__content">
							<h3>Выбираем одеяло для ребенка</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="help-parents__link-wrap">
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
		</div>
	</section>
	
	<section class="experts">
		<div class="experts__container">
			<h2 class="experts__title">Говорят специалисты</h2>
		</div>
		<div class="experts__content">
			<div class="experts__container clearfix">
				<div class="experts__img-wrap col-md-5">
					<img src="http://placehold.it/338x338" alt="img" class="experts__img">
				</div>
				<div class="experts__text-block col-md-7">
					<p class="experts__text-content">Врач - гинеколог 1 категории <span>Зинаида Семеновна</span></p>
					<blockquote class="experts__quote">Как избежать выкидыша на ранних сроках беременности</blockquote>
					<a href="" class="experts__link">читать ></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="documents-laws">
		<div class="documents-laws__container">
			<h2 class="documents-laws__title">Документы и законы:</h2>
			<div class="documents-laws__list-block clearfix">
				<ul class="documents-laws__list col-md-6">
					<li><a href="">“Родовой сертификат” в 2016 году: сумма на второго ребенка></a></li>
					<li><a href="">Как использовать материнский капиталл: подводные камни</a></li>
					<li><a href="">Жилье для многодетных</a></li>
					<li><a href="">Как получить СНИЛС для новорожденных</a></li>
				</ul>
				<ul class="documents-laws__list col-md-6">
					<li><a href="">“Родовой сертификат” в 2016 году: сумма на второго ребенка></a></li>
					<li><a href="">Как использовать материнский капитал: подводные камни</a></li>
					<li><a href="">Жилье для многодетных</a></li>
					<li><a href="">Как получить СНИЛС для новорожденных</a></li>
				</ul>
			</div>
			<div class="documents-laws__link-wrap">
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
		</div>	
	</section>
	
	<section class="events">
		<div class="events__container">
			<h2 class="events__title">Куда пойти:</h2>
			<div class="events__menu-block clearfix">
				<div class="events__city col-md-5">
					<p class="events__city-text">Выберите город: </p>
					<div class="events__select dropdown-selectwrap">
						<a href="#" class="events__dropdownbtn dropdown-btn dropdown-toggle" id="events-city_select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="dropdown-select-text"></span>
							<span class="caret events__caret"></span>
						</a>
						<ul class="events__dropdownmenu dropdown-ul dropdown-menu" aria-labelledby="events-city_select">
							<li><a href="#!">Санкт - Петербург</a></li>
							<li><a href="#!">Москва</a></li>
						</ul>
					</div>
				</div>
				<div class="events__menu-items col-md-7">
					<a href="#">праздники</a>
					<a href="#">спектакли</a>
					<a href="#">концерты</a>
					<a href="#">выставки</a>
					<a href="#">все</a>
				</div>
			</div>
			<div class="events__items clearfix">
				<a href="#" class="events__item-link col-md-4">
					<div class="events__item">
						<div class="events__img-wrap">
							<img src="http://placehold.it/415x295" alt="item" class="events__img">
						</div>
						<time datetime="2017-08-11">11 августа | 19:00</time>
						<p>лекция - семинар</p>
						<h3>Добавь больше здоровья!</h3>
					</div>
				</a>
				<a href="#" class="events__item-link col-md-4">
					<div class="events__item">
						<div class="events__img-wrap">
							<img src="http://placehold.it/415x295" alt="item" class="events__img">
						</div>
						<time datetime="2017-08-11">11 августа | 19:00</time>
						<p>лекция</p>
						<h3>Роботизированная Кардиохирургия на работающем сердце</h3>
					</div>
				</a>
				<a href="#" class="events__item-link col-md-4">
					<div class="events__item">
						<div class="events__img-wrap">
							<img src="http://placehold.it/415x295" alt="item" class="events__img">
						</div>
						<time datetime="2017-08-11">11 августа | 19:00</time>
						<p>семинар</p>
						<h3>По имидж-медицине</h3>
					</div>
				</a>
			</div>
			<a href="#" class="events__link">смотреть все события ></a>
		</div>
	</section>
	
	<section class="home">
		<div class="home__content">
			<div class="home__container">
				<div class="home__text-content col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7">
					<h2 class="home__title">Ваш дом:</h2>
					<ul class="home__list">
						<li><a href="" class="home__list-item home__list-item-1">Дизайн интерьера</a></li>
						<li><a href="" class="home__list-item home__list-item-2">Праздники</a></li>
						<li><a href="" class="home__list-item home__list-item-3">Семейный отдых</a></li>
						<li><a href="" class="home__list-item home__list-item-4">Советы хозяйке</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="women-block">
		<div class="women-block__container">
			<h2 class="women-block__title">Женский мир</h2>
		</div>
		<div class="women-block__slider slider">

			<div class="mainBanner _right women-block__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="women-block__item-content">
						<a href="#" class="women-block__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами россиян</p>
						</a>
					</div>
				</div>
			</div>

			<div class="mainBanner _right women-block__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="women-block__item-content">
						<a href="#" class="women-block__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами россиян</p>
						</a>
					</div>
				</div>
			</div>

			<div class="mainBanner _right women-block__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="women-block__item-content">
						<a href="#" class="women-block__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами россиян</p>
						</a>
					</div>
				</div>
			</div>

		</div>
		@@include('./templates/banners.html')
	</section>
	
	<section class="hobby">
		<div class="hobby__container">
			<h2 class="hobby__title">Хобби</h2>
		</div>
		<div class="hobby__slider slider">

			<div class="mainBanner _left hobby__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="hobby__item-content">
						<a href="#" class="hobby__link">
							<h3>Вяжем пинетки:</h3>
							<p>хитрости для новичков</p>
						</a>
					</div>
				</div>
			</div>

			<div class="mainBanner _left hobby__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="hobby__item-content">
						<a href="#" class="hobby__link">
							<h3>Вяжем пинетки:</h3>
							<p>хитрости для новичков</p>
						</a>
					</div>
				</div>
			</div>

			<div class="mainBanner _left hobby__item">
				<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="">
            	</noscript>
        	</span>
				<div class="mainBanner__content">
					<div class="hobby__item-content">
						<a href="#" class="hobby__link">
							<h3>Вяжем пинетки:</h3>
							<p>хитрости для новичков</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="motherhood-video">
		<div class="motherhood-video__container">
			<h2 class="motherhood-video__title">Видео:</h2>
			<div class="motherhood-video__menu-items">
				<a href="#">все</a>
				<a href="#">питание</a>
				<a href="#">медицина</a>
				<a href="#">спорт</a>
			</div>
			<div class="motherhood-video__items clearfix">
				<div class="motherhood-video__item col-md-4">
					<div class="motherhood-video__item-content motherhood-video__item-content-1 youtube">
						<div class="play motherhood-video__play"></div>
						<h3>Как правильно пеленать малыша?</h3>
					</div>
				</div>
				<div class="motherhood-video__item col-md-4">
					<div class="motherhood-video__item-content motherhood-video__item-content-2 youtube">
						<div class="play motherhood-video__play"></div>
						<h3>Первый прикорм. Полезные советы для мам</h3>
					</div>
				</div>
				<div class="motherhood-video__item col-md-4">
					<div class="motherhood-video__item-content motherhood-video__item-content-3 youtube">
						<div class="play motherhood-video__play"></div>
						<h3>Первое купание новорожденного</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="news-tabs">
		@@include('./templates/news-tabs.html')
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "motherhood"
})