@@include('./templates/header.html', {
"css": "motherhood-article-3"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="motherhood-article__container">


        <div class="motherhood-article__wrapper clearfix">

            <div class="motherhood-article__main">

                @@for (var i = 0; i < 5; i++) {
                    <a href="#!" class="motherhood-article__main-news-wrap">
                        <div class="motherhood-article__main-news-img">
                            <img src="http://placehold.it/170x170" alt="">
                        </div>
                        <div class="motherhood-article__main-news-content">
                            <time class="motherhood-article__main-news-time" datetime="2016-09-21">
                                21 сентября 2016
                            </time>
                            <h3 class="motherhood-article__main-news-title">
                                Беременность и многоводие: околоплодные воды и их количество
                            </h3>
                            <div class="motherhood-article__main-news-desc">
                                Амниотическая жидкость – жизненно необходимая среда, в которой развивается
                                будущий ребенок. От количества вод в околоплодном пузыре зависит нормаль-
                                ное формирование органов малыша, его иммунитет, здоровье и даже – возмож-
                                ность появления на свет. Если количество жидкости ниже
                            </div>
                        </div>
                    </a>
                }

                <div class="motherhood-article__main-banner-wrap clearfix">
                    <div class="promo-banner__item-3  promo-banner__item">
                        <img class="promo-banner__img" src="img/promo-banner-1.png" alt="banner-1">
                    </div>
                    <div class="promo-banner__item-4  promo-banner__item">
                        <img class="promo-banner__img" src="img/promo-banner-2.png" alt="banner-2">
                    </div>
                </div>

                @@for (var j = 0; j < 5; j++) {
                <a href="#!" class="motherhood-article__main-news-wrap">
                    <div class="motherhood-article__main-news-img">
                        <img src="http://placehold.it/170x170" alt="">
                    </div>
                    <div class="motherhood-article__main-news-content">
                        <time class="motherhood-article__main-news-time" datetime="2016-09-21">
                            21 сентября 2016
                        </time>
                        <h3 class="motherhood-article__main-news-title">
                            Беременность и многоводие: околоплодные воды и их количество
                        </h3>
                        <div class="motherhood-article__main-news-desc">
                            Амниотическая жидкость – жизненно необходимая среда, в которой развивается
                            будущий ребенок. От количества вод в околоплодном пузыре зависит нормаль-
                            ное формирование органов малыша, его иммунитет, здоровье и даже – возмож-
                            ность появления на свет. Если количество жидкости ниже
                        </div>
                    </div>
                </a>
                }

            </div>
            <div class="motherhood-article__sidebar">
                @@for (var k = 0; k < 4; k++) {
                    <a href="#!" class="motherhood-article__news-wrap">
                        <div class="motherhood-article__news-img">
                            <img src="http://placehold.it/400x275" alt="">
                        </div>
                        <div class="motherhood-article__news-content">
                            <time class="motherhood-article__news-time" datetime="2016-09-21">
                                21 сентября 2016
                            </time>
                            <h3 class="motherhood-article__news-title">
                                Беременность и многоводие: околоплодные воды и их количество
                            </h3>
                            <div class="motherhood-article__news-desc">
                                Амниотическая жидкость – жизненно необходимая среда, в которой развивается
                                будущий ребенок. От количества вод в околоплодном пузыре зависит нормаль-
                                ное формирование органов малыша, его иммунитет, здоровье и даже – возмож-
                                ность появления на свет. Если количество жидкости ниже
                            </div>
                        </div>
                    </a>
                }
            </div>

        </div>
        <div class="wrap">
            @@include('./templates/paginator.html')
        </div>

        @@include('./templates/banners.html')

    </div>


</main>

@@include('./templates/footer.html')
