@@include('./templates/header.html', {
    "css": "news-inner2"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<section id="news" class="news-tabs">
	<div class="news-tabs__title">
		<h2>Лента новостей</h2>
	</div>
	@@include('./templates/news-tabs.html')
</section>

<div class="page-content">
	<div class="container-fluid">
		<div class="news-feed">
			<div class="row">
				<div class="col-md-3">
					<div class="news-feed__list">
						<a href="#" class="news-feed__listnews img">
							<div class="news-feed__listimg">
								<img src="http://placehold.it/70x60" alt="">
							</div>
							<div class="news-feed__listtext">
								Ребёнку напечатали ухо
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews img">
							<div class="news-feed__listimg">
								<img src="http://placehold.it/70x60" alt="">
							</div>
							<div class="news-feed__listtext">
								Ребёнку напечатали ухо
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-9">
					<div class="news-biglist">
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
						<a href="#" class="news-biglist__el">
							<div class="row">
								<div class="col-sm-4">
									<div class="news-biglist__img">
										<img class="img-responsive" src="http://placehold.it/270x160" alt="">
									</div>
								</div>
								<div class="col-sm-8">
									<div class="news-biglist__text">
										<div class="news-biglist__title">
											Ученые: есть перед телевизором вредно для здоровья
										</div>
										<div class="news-biglist__date">
											13 февраля 2017, 12.40 
										</div>
										<div class="news-biglist__desc">
											Люди, которые потребляют пищу за обеденным столом, чувствуют себя гораздо лучше тех, кто уплетает еду перед телевизором. Так считают американские ученые. Данные обеих групп проанализировали специалисты.
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		@@include('./templates/paginator.html')
	</div>	
</div>

</main>

@@include('./templates/footer.html', {
    "js": "news-inner2"
})