@@include('./templates/header.html', {
    "css": "news-inner"
})

@@include('./templates/breadcrumbs.html')
	
<section class="page-content">
	<div class="page-imgheader news-innerhead">
		<div class="news-innerhead__container clearfix">
			<div class="news-innerhead__adv-block col-sm-4">
				<div class="news-innerhead__img-wrap">
					<img src="http://placehold.it/370x500" alt="" class="news-innerhead__img">
				</div>
			</div>
			
			<!--	Если в контенте присутствует видео, то ставится модификатор "_video" на классы  news-innerhead__banner и news-innerhead__img-wrap. id="XQu8TTBmGhA" - id видео на youtube	-->
			
			<div class="news-innerhead__banner news-innerhead__banner_video col-sm-8">
				<h1>Минпромторг поддержал инициативу лекарственного страхования в России</h1>
				<div class="news-innerhead__img-wrap news-innerhead__img-wrap_video youtube" id="XQu8TTBmGhA">
					<div class="play news-innerhead__play">смотреть видео</div>
					<img src="http://placehold.it/872x415" alt="" class="news-innerhead__img">
				</div>
			</div>
			
			<!--	Пример без видео	-->
			
<!--
			<div class="news-innerhead__banner col-sm-8">
				<h2>Минпромторг поддержал инициативу лекарственного страхования в России</h2>
				<div class="news-innerhead__img-wrap youtube" id="XQu8TTBmGhA">
					<div class="play news-innerhead__play">смотреть видео</div>
					<img src="http://placehold.it/872x415" alt="" class="news-innerhead__img">
				</div>
			</div>
-->
			
		</div>
	</div>

	@@include('./templates/socialprops.html')
	
	<div class="container-fluid">
		<div class="news-feed">
			<div class="row">
				<div class="col-md-4">
					<aside class="aside">
					<div class="news-feed__list">
						<a href="#" class="news-feed__listnews img">
							<div class="news-feed__listimg">
								<img src="http://placehold.it/70x60" alt="">
							</div>
							<div class="news-feed__listtext">
								Ребёнку напечатали ухо
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews">
							<div class="news-feed__listdate">
								12.08 18:00
							</div>
							<div class="news-feed__listtext">
								Cтволовые клетки помогли 
								обезьянам восстановиться 
								после химиотерапии
							</div>
						</a>
						<a href="#" class="news-feed__listnews img">
							<div class="news-feed__listimg">
								<img src="http://placehold.it/70x60" alt="">
							</div>
							<div class="news-feed__listtext">
								Ребёнку напечатали ухо
							</div>
						</a>
					</div>
					</aside>
				</div>
				<div class="col-md-8">
					<main class="main">
					<div class="news-content">
						<time class="news-content__time" datetime="2016-08-12T18:00">12 августа 18.00</time>
						<h3>
							Министерство промышленности и торговли поддерживает проект лекарственного страхования, который разрабатывает Минздрав, заявил журналистам замглавы Минпромторга. Сергей Цыб.
						</h3>
						<p>
							Ранее министр здравоохранения РФ Вероника Скворцова заявила, что Минздрав разрабатывает модель лекарственного страхования, которая может войти в систему ОМС. Это модель предполагает возмещение гражданам части средств при покупке лекарств.<br>
							"Мы такой подход поддерживаем. И в данном случае надо посмотреть, каким образом будут реализованы пилотные проекты для того, чтобы уже определить, есть какие-либо проблемные зоны в таком подходе", — сказал Цыб в кулуарах в кулуарах VII Всероссийского конгресса пациентов в пресс-центре  МИА "Россия сегодня".
						</p>
						<blockquote>
							"На наш взгляд, в том числе, и положительный эффект окажет на производственный корпус, который уже будет планировать свои производственные планы с учетом той информации, которая будет получена из регионов в рамках реализации таких пилотных проектов", — добавил он.
						</blockquote>
						<p>
							В начале 2016 года Скворцова сообщила, что пилотный проект по созданию мотивации населения к поддерживающей терапии был проведен в Кировской области. Она отметила, что проект был очень успешным: удалось сократить и прямые, и непрямые расходы на здравоохранение. Тогда же министр сообщила о том, что в текущем году планируется начать аналогичные проекты в нескольких регионах 
							страны, а в случае успеха можно будет поднять вопрос о частичном возмещении государством стоимости лекарств мбулаторном сегменте.
						</p>
						<img class="news-content__img" src="http://placehold.it/400x320" alt="">
						<p>
							В начале 2016 года Скворцова сообщила, что пилотный проект по созданию мотивации населения к поддерживающей терапии был проведен в Кировской области. Она отметила, что проект был очень успешным: удалось сократить и прямые, и непрямые расходы на здравоохранение. Тогда же министр сообщила о том, что в текущем году планируется начать аналогичные проекты в нескольких регионах 
							страны, а в случае успеха можно будет поднять вопрос о частичном возмещении государством стоимости лекарств мбулаторном сегменте.
						</p>
					</div>
					</main>
				</div>
			</div>
		</div>
	</div>

	@@include('./templates/inner-tags.html')

</section>

@@include('./templates/footer.html', {
    "js": "news-inner"
})