@@include('./templates/header.html', {
"css": "oprosy"
})

<main class="main">
  @@include('./templates/breadcrumbs.html')

  <section class="head-question question-all">
    <div class="head-question__line-cont">
      <div class="head-question__line"></div>
      <div class="head-question__circle"></div>
    </div>
    <div class="head-question__cont">
      <div class="question-all">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont _right">
            <img src="img/oprosy/img-1.jpg" alt="Утренний кофе">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="all-questions">
    <div class="all-questions__title">
      <h2 class="all-questions__title-content">Все опросы</h2>
    </div>
    <ol class="question-all _ol">
      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Верите ли Вы во вред ГМО?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Нет</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Мне без разницы</span></a>
                </li>
              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да -  450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Нет - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Мне без разницы - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-2.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>
      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы делаете зарядку по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не делаю зарядку</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не делаю зарядку - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-3.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>
      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-4.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>
      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-5.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>
      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-1.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>

      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-1.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>

      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-1.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>

      <li class="question-all__counter">
        <div class="question-all__chess _bor-solid">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?<i class="question-all__hint _dis-none">Вы уже голосовали</i></h2>

            <div class="question-all__btn-cont">
              <ul class="question-all__grid">
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я каждый день пью кофе"><span class="question-all__btn-txt">Да, каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я редко пью кофе"><span class="question-all__btn-txt">Пью, но редко</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не каждый день пью кофе"><span class="question-all__btn-txt">Да, но не каждый день</span></a>
                </li>
                <li class="question-all__col">
                  <a class="question-all__btn" title="Я не пью кофе"><span class="question-all__btn-txt">Я не пью кофе</span></a>
                </li>

              </ul>
            </div>

            <ul class="question-all__diagram-list _dis-none">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>

          </div>
          <div class="question-all__img-cont">
            <img src="img/oprosy/img-1.jpg" alt="Утренний кофе">
          </div>
        </div>
      </li>
    </ol>

    @@include('./templates/paginator.html')
  </section>
  <section class="archive-ques">
    <div class="archive-ques__title">
      <h2 class="archive-ques__title-content">Все опросы</h2>
    </div>
    <ul class="archive-ques__grid">

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Верите ли вы во вред ГМО</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да -  450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Нет - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Мне без разницы - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li class="archive-ques__col">
        <div class="question-all__chess _bor-solid-top">
          <div class="question-all__ques-cont">
            <h2 class="question-all__question">Вы пьете кофе по утрам?</h2>
            <ul class="question-all__diagram-list _center">
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, каждый день - 450 человек (40%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Пью, но редко - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Да, но не каждый день - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
              <li class="question-all__item">
                <div class="question-all__ans-txt">Я не пью кофе - 130 человек (25%)</div>
                <div class="question-all__diagram-line"><div class="question-all__diagram-fill"></div></div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    @@include('./templates/paginator.html')
  </section>

</main>

@@include('./templates/footer.html', {
"js": "oprosy"
})