@@include('./templates/header.html', {
    "css": "phisic"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background" style="">
	<section class="page-content n-page-header" >
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1 gray">Калькулятор физического состояния</h1>
				</div>
			</div>
		</div>
	</section>
	
	<div class="n-page-desc">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<p class="n-page-desc__p">
						Калькулятор физического состояния поможет всем, кто занимается физкультурой, в том числе оздоровительным 
						бегом или ходьбой, самостоятельно определить свое физическое и физиологическое состояние организма. 
						Результаты позволят при разработке программ или методик самостоятельных занятий физкультурой определить 
						оптимальную физическую нагрузку в зависимости от полученных результатов. 
						<br><br>
						Расчёт параметров физического состояния с помощью предлагаемого калькулятора не требует специальных 
						приборов и может быть выполнен любым человеком самостоятельно.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<section class="n-calcform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-sm-8 col-sm-offset-2 col-md-offset-0">
					<form class="n-calcform__form">
						<h2 class="n-calcform__h2">
							Заполните форму:
						</h2>
						<div class="form-border">
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Пол</div>
									<div class="col-md-4 col-md-offset-4">
										<label class="radio-container pull-left radio-woman">
											<input type="radio" name="s1" value="1">
											<span class="radio-body"></span>
											<span class="radio-text">женский</span>
										</label>
										<label class="radio-container pull-right radio-man">
											<input type="radio" name="s1" value="2">
											<span class="radio-body"></span>
											<span class="radio-text">мужской</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Возраст</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Вес</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">кг</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Рост</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">см</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Частота пульса</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">уд/мин</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Обхват талии</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">см</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Обхват бёдер</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">см</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Обхват запястья</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="text"  class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
									<div class="n-calcform__rightcaption">см</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Степерь <br>физической <br>нагрузки</div>
									<div class="col-md-6 col-md-offset-4">
										<select class="n-calcform__select" >
											<option value="1">занятия фитнесом</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<button class="n-calcform__button">
							рассчитать
						</button>
						<div class="n-calcform__caption">
							Ваш результат готов!
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<div class="n-result">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="n-result__block">
								Ваш индекс массы тела (ИМТ) равен:
								<div class="n-result__el">
									21.19
								</div>
								У вас нормальный вес
							</div>
							<button class="n-result__button">
								<span class="btn-icon"></span>
								<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
							</button>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<div class="n-result__caption first">
								<div class="icon-scale"></div>
								<b>Индекс массы тела</b>  — величина, позволяющая
								оценить степень соответствия массы человека и
								его роста и тем самым косвенно оценить, является
								ли масса недостаточной, нормальной или избыточной.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="second-bg">
		<div class="n-ratio left">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="n-ratio__result">
							Отношение талия/бедро:
							<b>68</b>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="n-btype">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="n-btype__element">
							Телосложение:
							<h3>Мезоморф</h3>
							<p>
								обладает пропорциональной мышечной фигурой, причем 
								мышечная ткань развита от природы. Этим людям легко 
								достичь спортивной фигуры. Обмен веществ у них также 
								быстрый, но при сидячем образе жизни жир будет откла-
								дываться. Им нужно есть больше белковой пищи, чем 
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<div class="n-ratio right">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="n-ratio__result">
							Идеальный вес:
							<b>54-61</b>
							кг
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="n-result">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="n-result__block">
									Метаболизм покоя (RMR)
									<div class="n-result__el">
										1497.24 
										<span>кал./день</span>
									</div>
									<div class="n-result__el">
										62.39
										<span>кал./час</span>
									</div>
								</div>
								<button class="n-result__button">
									<span class="btn-icon"></span>
									<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
								</button>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<div class="n-result__caption arrow1">
									<b>Метаболизм покоя (RMR)</b> - количество калорий, 
									которые необходимы Вашему телу, для того чтобы 
									поддерживать жизнедеятельность в состоянии 
									покоя за день и за час.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="third-bg">
		<div class="n-result">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<div class="n-result__caption">
									<b>Средний актуальный метаболизм</b> - среднее 
									количество калорий, которые Вы расходуете за 
									день и за час в соответствии с заявленной 
									активностью.
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-result__block">
									Средний актуальный метаболизм
									<div class="n-result__el">
										2323.24 
										<span>кал./день</span>
									</div>
									<div class="n-result__el">
										74.39
										<span>кал./час</span>
									</div>
								</div>
								<button class="n-result__button">
									<span class="btn-icon"></span>
									<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pulse">
		<div class="n-result">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								<div class="n-result__block">
									Целевая частота пульса (THR)
									<div class="n-result__el">
										165-172.5 
										<span>уд./минуту</span>
									</div>
									<br><br><br>
									Максимальная частота пульса (MHR)
									<div class="n-result__el">
										192
										<span>уд./минуту</span>
									</div>
								</div>
								<button class="n-result__button">
									<span class="btn-icon"></span>
									<span class="btn-text">сохранить результаты<br>в личном кабинете</span>
								</button>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<div class="n-result__caption">
									<b>Целевой пульс</b> – это идеальный диапазон 
		                                ударов в минуту.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</main>

@@include('./templates/footer.html', {
    "js": "phisic"
})