@@include('./templates/header.html', {
"css": "pitanie-spisok-statey"
})
<main class="main">
  @@include('./templates/breadcrumbs.html')

  <section class="articles">

    <h1 class="articles__h1">Все о здоровом питании
      <span class="articles__h1-txt">секреты правильного питания</span>
    </h1>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>
        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Правила здорового питания Майкла Поллана</h2>
          <div class="each-article__txt">Правила здорового питания от Майкла Поллана, известного американского журналиста, активиста здорового питания.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article _bg _bg-left-1">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>
        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Советы по питанию</h2>
          <div class="each-article__txt">Не путайте аппетит и голод, пейте воду вместо еды, не ешьте при
            недомогании, перекусывайте фруктами или сухофруктами...
            И множество других простых советов правильного питания.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article _bg _bg-right-1">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>


        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Основные правила эффективной диетологии</h2>
          <div class="each-article__txt">Базовые правила а также график приема пищи для
            желающих похудеть. Несложные правила правильного
            питания.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Мотивация снижения веса</h2>
          <div class="each-article__txt">Сильная мотивация к снижению веса может возникнуть лишь в том случае,
            когда человек перестанет воспринимать любую терапию как посягательство
            на еду как на самое лучшее, что только есть в жизни, когда он сможет пе-
            ресмотреть привычные формы своего пищевого поведения.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Пищевая пирамида</h2>
          <div class="each-article__txt">Это схематическое изображение принципов здорового
            питания, разработанное Гарвардской школой
            общественного здоровья под руководством американского
            диетолога Уолтера Виллетта. Продукты, расположенные внизу
            пирамиды, нужно употреблять в пищу как можно чаще, соот-
            ветственно расположенные вверху - исключить из рациона
            или употреблять в ограниченном количестве.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article _bg _bg-left-2">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont ">
          <h2 class="each-article__head">10 простых правил для потери веса</h2>
          <div class="each-article__txt">Всего 10 правил, которые легко запомнить и несложно выполнять,
            которые способны изменить вашу жизнь в лучшую сторону.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article _bg _bg-right-2">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Правила приобретения продуктов</h2>
          <div class="each-article__txt">О чем стоит помнить при выборе продуктов на рынке
            или в магазине.</div>
        </div>
      </a>
      </div>

    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Общие рекомендации</h2>
          <div class="each-article__txt">Пусть выражение "есть, чтобы жить, а не жить, чтобы есть"
            послужит вам девизом.</div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Раздельное питание и совместимость продуктов</h2>
          <div class="each-article__txt">С одной стороны, народная мудрость гласит "Что в рот
            залезло, то и полезно . Но с другой - еще в Ветхом
            Завете было сказано: "Не вари ягненка в молоке матери
            его", или, иными словами, не смешивай в едином
            блюде столь разные пищевые субстанции, как мясо
            и молоко. </div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Вода, её виды и способы очистки</h2>
          <div class="each-article__txt">Важнейшим законом здорового питания является употребление
            животворной воды. На 70% наше тело состоит из воды, а наш мозг,
            руководящий орган, еще больше. Следовательно, качество воды
            исключительно многое определяет в нашей жизни, в состоянии
            нашего здоровья. </div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article">

      <div class="each-article__cont">
        <div class="each-article__snake-piece"></div>
        <a href="#!" title="статья">
        <div class="col-md-3 each-article__img-cont">
          <img src="img/pitanie-spisok-statey/arts/art-img-1.jpg" alt="Секреты правильного питания">
        </div>

        <div class="each-article__txt-cont">
          <h2 class="each-article__head">Самые полезные продукты</h2>
          <div class="each-article__txt">Первый и незыблемый постулат вечного здоровья: "Наше
            внешнее должно стать нашим внутренним". Т о есть то,
            что произрастает вокруг нас, что составляет среду нашего
            обитания, должно войти в состав, структуру нашего
            организма, должно, пересоздавшись, стать им. </div>
        </div>
        </a>
      </div>
    </div>

    <div class="each-article _last _bg _bg-left-3">

      <div class="each-article__cont">
        <div class="each-article__snake-piece _last"></div>
        <div class="col-md-3 each-article__img-cont">
        </div>
      </div>

    </div>

  </section>

</main>

@@include('./templates/footer.html', {
"js": "pitanie-spisok-statey"
})