@@include('./templates/header.html', {
"css": "pitanie-statya"
})

<main class="main">
  @@include('./templates/breadcrumbs.html')
  <section class="mainBanner _center">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

    <div class="mainBanner__content">
      <h1>Нераздельное питание.<br>
        Как правильно сочетать продукты
      </h1>
    </div>
  </section>


  @@include('./templates/socialprops.html')

  <section class="art-1">
    <div class="art-1__cont arts-cont">
      <div class="row">
        <div class="col-md-3 art-1__img-cont">
          <img src="img/pitanie-statya/art-1/art-1.jpg" alt="Правильное сочетание овощей">
        </div>
        <div class="col-md-9 art-1__txt-cont">
          <div class="art-1__txt-1">Не секрет, что многие вещества эффективнее работают не по отдельности, а в сочетании. Так и некоторые
            продукты питания, съеденные вместе, поддерживают молодость и здоровье в несколько раз эффективнее,
            чем если их употреблять по одному! <br>
            Правда, некоторые сочетания продуктов, которые встречаются в рецептах, кажутся на первый взгляд странны-
            ми. Но, попробовав, понимаешь, что это не только полезно, но и вкусно. Поэтому, выбирая, что приготовить на
            ужин или обед, рискните вместо своих традиционных блюд сделать что-то необычное.</div>
          <h2>От старости и онкологии</h2>

          <div class="art-1__txt-2">
            Оказывается, блюда из свинины, которые так любит сильный пол, тоже вполне могут считаться омолаживающей
            и даже антиканцерогенной пищей. Правда, имеется в виду не жирный шашлык, а только постная свинина
            (например, окорок). Особенно хорошо, если мясо было потушено с брокколи или цветной капустой. Такая
            свинина богата микроэлементом селеном – важнейшим антиоксидантом, предотвращающим развитие опу-
            холей. А соединения серы, которыми изобилуют названные виды капусты, более чем в 10 раз повышают актив-
            ность селена.
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="services" class="art-2 services">
    <div class="services__cont">

      <div class="services__frame-txt">
        <div class="art-2__art-txt-cont">
          <h2>От анемии</h2>
          <div class="art-txt">
            Нехватка железа для выработки гемоглобина приводит
            к хронической усталости и потере работоспособности.
            Предотвратить её можно, совмещая богатую железом
            пищу с витамином С, который помогает организму на-
            илучшим образом использовать это самое железо. Что
            именно приготовить? В первую очередь говядину и суб-
            продукты. Для наилучшей усвояемости их следует упо-
            треблять с помидорами и сладким перцем либо доль-
            ками цитрусовых, причём лучше в свежем или слегка
            запечённом виде.
            Длительное тушение овощей и фруктов разрушает витамин С.
          </div>
        </div>
        <div class="services__txt-cont frame-bord _gray-5px">
          <h3 class="services__head">Какой продукт калорийнее?</h3>
          <div class="services__txt">проверь себя и проведи время с пользой</div>
          <a class="services__link" href="#!" title="играть онлайн">online - игра</a>
        </div>
      </div>

      <div class="services__frame-txt">
        <div class="art-2__art-txt-cont">
          <h2>От инсульта и атеросклероза</h2>
          <div class="art-2__art-txt">
            Моно- и полиненасыщенные жирные кислоты (включая всем известные
            омега‑3) снижают «плохой» холестерин и укрепляют стенки сосудов,
            тем самым уменьшая риск развития атеросклероза и ишемической
            болезни сердца. Их эффект может значительно усилить малоизвест-
            ный витамин К, который предотвращает образование тромбов в крове-
            носном русле. Чтобы получить полезное сочетание этих двух веществ,
            попробуйте капусту (включая брокколи) – источник витамина К – соче-
            тать с растительным маслом холодного отжима или семечками
            (полезные жиры).
          </div>
        </div>
        <div class="services__txt-cont frame-bord _gray-5px">
          <h3 class="services__head">Создавайте <span class="services__big">свое меню</span></h3>
          <div class="services__txt">с учетом продуктов, которые Вы любите</div>
          <a class="btn _tran _black services__btn" title="Создать меню">создать меню</a>
        </div>
      </div>
      <a href="#!" class="art-2__link">смотреть все online сервисы &#62;</a>
    </div>
  </section>

  <div class="mainBanner _right">

      <span data-picture data-alt="Источник витамина К - Капуста">
        <span data-src="img/pitanie-statya/banner/banner-sm.jpg"></span>
        <span data-src="img/pitanie-statya/banner/banner.jpg" data-media="(min-width: 992px)"></span>
        <noscript>
            <img src="img/pitanie-statya/banner/banner.jpg" alt="Источник витамина К - Капуста">
        </noscript>
      </span>
      <div class="mainBanner__content">
      <div class="banner__txt-cont">
          Капуста – источник витамина К.
          Чтобы уменьшить риск развития
          атеросклероза и ишемической
          болезни сердца, необходимо
          сочетать ее с растительным
          маслом холодного отжима или
          семечками.
      </div>
      </div>
  </div>
  <section class="art-3">
    <div class="arts-cont">
      <div class="art-1__txt-cont ">
        <div class="art-1__txt-1">Не секрет, что многие вещества эффективнее работают не по отдельности, а в сочетании. Так и некоторые
          продукты питания, съеденные вместе, поддерживают молодость и здоровье в несколько раз эффективнее,
          чем если их употреблять по одному! <br>
          Правда, некоторые сочетания продуктов, которые встречаются в рецептах, кажутся на первый взгляд странны-
          ми. Но, попробовав, понимаешь, что это не только полезно, но и вкусно. Поэтому, выбирая, что приготовить на
          ужин или обед, рискните вместо своих традиционных блюд сделать что-то необычное.</div>
        <h2>От старости и онкологии</h2>

        <div class="art-1__txt-2">
          Оказывается, блюда из свинины, которые так любит сильный пол, тоже вполне могут считаться омолаживающей
          и даже антиканцерогенной пищей. Правда, имеется в виду не жирный шашлык, а только постная свинина
          (например, окорок). Особенно хорошо, если мясо было потушено с брокколи или цветной капустой. Такая
          свинина богата микроэлементом селеном – важнейшим антиоксидантом, предотвращающим развитие опу-
          холей. А соединения серы, которыми изобилуют названные виды капусты, более чем в 10 раз повышают актив-
          ность селена.
        </div>
      </div>
    </div>
  </section>

  <section class="slider-block">
    <div class="slider-block__cont tab-container">
      <h2 class="slider-block__head-1">На заметку</h2>
      <h2 class="slider-block__head-2">ТОП-10 продуктов, которые  вредят вашему здоровью</h2>

      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-1.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>

      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-2.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>2-Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              2-Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>

      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-3.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>3-Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              3-Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>

      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-4.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>4-Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              4-Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>

      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-3.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>5-Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              5-Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>
      <div class="row slider-block__desc-cont tab-slide-block">
        <div class="col-md-6 col-sm-5 slider-block__col">
          <div class="slider-block__img-cont _big">
            <img src="img/pitanie-statya/slider-block/slider-img-4.jpg" alt="Польза сливочного масла">
          </div>
        </div>
        <div class="col-md-6 col-sm-7 slider-block__col">
          <div class="slider-block__txt-1">
            <h3>6-Заменять сливочное масло маргарином – плохая идея.</h3>
            <div>
              6-Так как последний содержит трансжиры, красители, ароматизаторы,
              консерванты. Он повышает уровень плохого холестерина, да и вооб-
              ще слишком калориен.
            </div>
          </div>
        </div>
      </div>

        <div class="slider-block__viewport multiple-items">
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
               <div class="slider-block__img-cont _sm">
                 <img src="img/pitanie-statya/slider-block/slider-img-2.jpg" alt="глазурь">
               </div>
               <div class="slider-block__txt">
                 <span class="slider-block__name">Глазурь</span>
               </div>
            </a>
          </div>
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
              <div class="slider-block__img-cont _sm">
                <img src="img/pitanie-statya/slider-block/slider-img-3.jpg" alt="заменители сахара">
              </div>
              <div class="slider-block__txt">
                <span class="slider-block__name">Заменители сахара</span>
              </div>
            </a>
          </div>
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
              <div class="slider-block__img-cont _sm">
                <img src="img/pitanie-statya/slider-block/slider-img-4.jpg" alt="фастфуд">
              </div>
              <div class="slider-block__txt">
                <span class="slider-block__name">Фастфуд</span>
              </div>
            </a>
          </div>
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
              <div class="slider-block__img-cont _sm">
                <img src="img/pitanie-statya/slider-block/slider-img-2.jpg" alt="глазурь">
              </div>
              <div class="slider-block__txt">
                <span class="slider-block__name">Глазурь</span>
              </div>
            </a>
          </div>
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
              <div class="slider-block__img-cont _sm">
                <img src="img/pitanie-statya/slider-block/slider-img-3.jpg" alt="заменители сахара">
              </div>
              <div class="slider-block__txt">
                <span class="slider-block__name">Заменители сахара</span>
              </div>
            </a>
          </div>
          <div class="slider-block__item-cont">
            <a href="#!" title="Глазурь" class="slider-block__link tab-menu-item">
              <div class="slider-block__img-cont _sm">
                <img src="img/pitanie-statya/slider-block/slider-img-4.jpg" alt="фастфуд">
              </div>
              <div class="slider-block__txt">
                <span class="slider-block__name">Фастфуд</span>
              </div>
            </a>
          </div>
        </div>
    </div>
  </section>

  @@include('./templates/inner-tags.html')

  @@include('./templates/also-you-will-be-interested.html', {
  "title": "Другие статьи"
  })


</main>

@@include('./templates/footer.html', {
"js": "pitanie-statya"
})