@@include('./templates/header.html', {
"css": "plastika-region"
})
<span class="svginclude">
@@include('../source/svg/svg-plastika-region.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-news"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            новости
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#regions" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-spravochnik"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Справочник
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#diagnostics" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-sovet_plastik_vracha"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Советы <br>
                            пластических хирургов
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#medCentr" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-med_uchregdeniya"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                клиники пластической <br>
                            хирургии
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#advices" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-diagnostika_i_proceduri"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                               диагностика <br>
                            и процедуры
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#map-footer" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Поиск по карте
                            </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="news" class="news-tabs tabs">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник</h2>
        </div>
        <div class="mainBanner _right directory__contents">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/plastika/plastica-directory-bg-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/plastika/plastica-directory-bg.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/plastika/plastica-directory-bg.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <h3 class="directory__contents-title">
                        Все о пластической <br>
                        хирургии
                    </h3>
                    <a href="#!" title="Показать заболевание" class="btn _tran _black">перейти в информационный раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="diagnostics" class="diagnostics">
        <div class="diagnostics__title">
            <h2 class="diagnostics__title-content">Диагностика и процедуры</h2>
        </div>
        <div class="diagnostics__contentWrapper">
            <img src="img/plastika/plastika-diagnostika-bg.jpg" class="diagnostics__contentWrapper-bg" alt="">
            <div class="diagnostics__content clearfix">
                <a href="#" class="diagnostics__item col-sm-offset-1 col-sm-4">
                    <div class="diagnostics__item-pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="">
                    </div>
                    <div class="diagnostics__item-title">
                        Лицо
                    </div>
                </a>
                <a href="#" class="diagnostics__item col-sm-offset-2 col-sm-4">
                    <div class="diagnostics__item-pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350" alt="">
                    </div>
                    <div class="diagnostics__item-title">
                        Тело
                    </div>
                </a>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Клиники пластической хирургии"
    })

</main>

@@include('./templates/footer.html', {
"js": "plastika-region"
})