@@include('./templates/header.html', {
"css": "plastika-osnovnaya"
})
<span class="svginclude">
@@include('../source/svg/svg-plastika-osnovnaya.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-news"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            новости
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#regions" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-place_plastika"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Регионы
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#diagnostics" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-statii"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Статьи
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#medCentr" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-med_uchregdeniya"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                клиники пластической <br>
                            хирургии
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#advices" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-sovet_plastik_vracha"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                               советы <br>
                                пластических хирургов
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#map-footer" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                Поиск по карте
                            </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="news" class="news-tabs tabs">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2 class="regions-map__title-content">Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
        "img" : "plastika/plastika-map.jpg",
        "title" : "Все о пластической хирургии в вашем регионе"
        })

    </section>

    <section id="articles" class="articles">
        <div class="articles__title">
            <h2 class="articles__title-content">Статьи</h2>
        </div>
        <div class="articles__contentWrapper">
            <img src="img/plastika/plastika-main-articles-bg.jpg" class="articles__contentWrapper-bg" alt="">
            <div class="articles__content clearfix" role="tablist">
                <div class="col-sm-offset-1 col-sm-4">
                    <a href="#" class="articles__item active">
                        <div class="articles__item-pic">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"
                                 alt="">
                        </div>
                        <div class="articles__item-title">
                            Лицо
                        </div>
                    </a>
                    <ul id="tabss1" class="articles__list">
                        <li>
                            <a href="#!">Ринопластика</a>
                        </li>
                        <li>
                            <a href="#!">Фейслифтинг</a>
                        </li>
                        <li>
                            <a href="#!">Блефаропластика</a>
                        </li>
                        <li>
                            <a href="#!">Оттопластика</a>
                        </li>
                        <li>
                            <a href="#!">Ринопластика</a>
                        </li>
                        <li>
                            <a href="#!">Фейслифтинг</a>
                        </li>
                        <li>
                            <a href="#!">Блефаропластика</a>
                        </li>
                        <li>
                            <a href="#!">Оттопластика</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    <a href="#" class="articles__item">
                        <div class="articles__item-pic">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"
                                 alt="">
                        </div>
                        <div class="articles__item-title">
                            Тело
                        </div>
                    </a>
                    <ul id="tabss2" class="articles__list">
                        <li>
                            <a href="#!">Ринопластика</a>
                        </li>
                        <li>
                            <a href="#!">Фейслифтинг</a>
                        </li>
                        <li>
                            <a href="#!">Блефаропластика</a>
                        </li>
                        <li>
                            <a href="#!">Оттопластика</a>
                        </li>
                        <li>
                            <a href="#!">Ринопластика</a>
                        </li>
                        <li>
                            <a href="#!">Фейслифтинг</a>
                        </li>
                        <li>
                            <a href="#!">Блефаропластика</a>
                        </li>
                        <li>
                            <a href="#!">Оттопластика</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    @@include('./templates/medCentr.html', {
    "title": "Клиники пластической хирургии"
    })

    @@include('./templates/advices.html')

</main>

@@include('./templates/footer.html', {
"js": "plastika-osnovnaya"
})