@@include('./templates/header.html', {
"css": "plastika-inner"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')

    <section class="mainBanner _right">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="img/sovet-inner/advice-banner.jpg" data-media="(min-width: 992px)">
                <img alt="Камни в почках" src="img/sovet-inner/advice-banner.jpg"></span>
            <noscript>
                <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

        <div class="mainBanner__content">
            <h1>
                Об истоках и методах
                <strong>
                    ринопластики
                </strong>
            </h1>
        </div>
    </section>


    @@include('./templates/socialprops.html')

    <div class="plastikaInner__wrap">
        <div class="plastikaInner">
            <h2>Определение</h2>
            <p>
                Ринопластика — операция по коррекции формы и размера носа — считается одной из первых в истории подобных
                хирургических вмешательств.
            </p>
            <p>
                Возможно, это было вызвано пристальным вниманием к этой части лица? Ведь в древние времена преступников
                наказывали за различные злодеяния,
                вырывая крылья носа или просто отрезая этот орган. Болезни также накладывали свой отпечаток на внешности
                — сифилис и проказа, если не убивали, то
                оставляли незабываемые последствия в виде изувеченных носов. А, как мы знаем, в те времена наличие
                шрамов и других дефектов внешности сразу отно-
                сили человека к отбросам общества. Не все хотели смиряться с подобным положением вещей. Так и возникла
                потребность в протезировании носа.
            </p>
            <p>
                Первые официальные свидетельства о пластике носа упоминают операцию индийской придворной даме. Дело было
                в 16 веке до н.э. За провинность жен-
                щина была лишена этого органа, но затем государь смилостивился и велел провести ей ринопластику. Древние
                египтяне пластикой носа занимались ещё
                раньше. На папирусах был задокументирован процесс закрытой ринопластики, которая была проведена
                посредством тампона и пластыря. Древнеримс-
                кий лекарь Цельс (ок. 25 до н.э. — ок 45 н.э.) в своих работах также упомянул восстановительную пластику
                носа. Напрашивается вывод, что ринопластика
                ещё в те далекие времена являлась востребованной, и с тех пор методики и инструменты проведения операции
                становились лучше.
            </p>
        </div>

        <div class="plastikaInner__popularIner">
            <div class="plastikaInner__popularIner-title">
                Популярное в разделе:
            </div>
            <div class="g-grid _col-4 _cont-cent _txt-outer">
                <ul class="g-grid__ul">
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                Инсулинозависимый
                                диабет (1 тип)
                            </div>
                        </a>
                    </li>
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                Инсулинозависимый
                                диабет (1 тип)
                            </div>
                        </a>
                    </li>
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                Инсулинозависимый
                                диабет (1 тип)
                            </div>
                        </a>
                    </li>
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                Инсулинозависимый
                                диабет (1 тип)
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sovetVracha__wrap">
        <div class="wrap">
            <h2>Совет врача</h2>

            <div class="sovetVracha clearfix">
                <div class="sovetVracha__left col-sm-3">
                    <div class="sovetVracha__img">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="sovetVracha__title">
                        <b>Зинаидов</b>
                        Зинаид Карлович
                    </div>
                    <div class="sovetVracha__desc">
                        Пластический хирург, г. Москва
                    </div>
                </div>
                <div class="sovetVracha__right col-sm-9">
                    <div class="sovetVracha__text">
                        Техника проведения ринопластики с самого её появления под-
                        разумевает две методики — с использованием закрытого или
                        открытого доступа. Известный «индийский метод» использовал
                        лоскут кожи пациента для восстановления носа. Закрытый ме-
                        тод ринопластики был не очень популярным до 1887 года, когда
                        английский медик Джон Орландо Рой, не описал в своих трудах
                        эндоназальную технику операции. Создателем термина «рино-
                        пластика» является немецкий доктор Карл Фердинанд фон Грефе.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="plastikaInner__wrap">
        <div class="plastikaInner">
            <p>
                Ринопластика является операцией по удалению дефектов носа или его полной реконструкции. Говоря о
                дефектах, отметим, что существует несколько ви-
                дов деформаций носа — сколиотические, углообразные и седловидные. Первое называется риносколиозом и
                заключается в изменении дуги спинки носа
                и имеет 4 степени деформации. Последняя, 4-ая, грозит выраженным смещением носа в одну из сторон.
                Углообразная деформация — ринокифоз — оз-
                начает наличие горбинки на спинке носа.
            </p>
            <p>
                Причиной седловидного искривления (западение носа) является вдавливание части спинки носа внутрь. Это
                грозит образованием углубления у корня носа,
                в середине спинки или ближе к кончику носа.
            </p>
            <p>
                Помимо эстетических недостатков, деформации носа имеют и другие последствия — нарушается дыхание.
                Поэтому пластика носа имеет как эстетичес-
                кое, так и функциональное значение.
            </p>
            <p>
                Операция по изменению носа не только самая востребованная, но и одна из самых сложных. От хирурга
                требуется высокая квалификация, опыт и непрев-
                зойдённое мастерство. Ведущие ринопласты своим ориентиром считают параметры «золотого сечения» Да Винчи.
            </p>
            <p>
                Открытый доступ в ринопластике постепенно устаревает, но все ещё имеет место быть. Особенно в случаях,
                требующих объёмного вмешательства, когда
                решить проблему иначе не представляется возможным. Техника исполнения считается более простой, но более
                травматичной для пациента. По сравнению
                с закрытым доступом, при открытой ринопластике реабилитация занимает больше времени. Сама операция
                проводится под наркозом.
            </p>
            <p>
                Закрытый доступ сегодня более популярен, поскольку считается менее травматичным для пациента, однако для
                хирурга закрытая ринопластика является
                более сложной операцией.
            </p>
        </div>
    </div>

    <div class="mainBanner _right plastikaInner__baner">

        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="img/plastika-inner/plastika-inner-baner2.jpg" data-media="(min-width: 992px)">
                <img alt="Камни в почках" src="img/plastika-inner/plastika-inner-baner2.jpg"></span>
            <noscript>
                <img src="img/plastika-inner/plastika-inner-baner2.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

        <div class="mainBanner__content plastikaInner__baner-text">
            Ринопластика длится 1-3 часа, в зависимости от сложности случая.
            Первые пару суток пациент, как правило, проводит в стационаре
            клиники, чтобы избежать возможные осложнения.
            Наибольший дискомфорт пациентам причиняют турунды, которые
            предназначены предотвратить кровотечение, но мешают нормаль-
            ному дыханию. С внешней стороны новый нос закрепляется специ-
            альным пластырем или гипсовой шиной.
        </div>

    </div>

    <div class="plastikaInner__wrap">
        <div class="plastikaInner">
            <p>
                Восстановление после пластики носа переносится чуть сложнее, чем после других операций, из-за отёчности постоперационной зоны. Во время реабили-
                тации характерны отёки, а они затрудняют нормальный процесс дыхания. Поэтому пациентам приходится дышать через рот. Снятие повязки происходит
                через 7-10 дней, а отёчность сходит в среднем через две недели. Первый результат ринопластики можно оценить через полгода после операции, а через
                год — окончательный эффект операции. Естественно, что во время восстановления действуют некоторые ограничения, призванные обеспечить лучшее за-
                живление и результат после пластики. Так, в течение месяца забудьте о солнечных ваннах, соляриях, саунах и банях. Под строгим запретом — физическая
                активность. Очки — как солнцезащитные, так и для зрения — также носить нельзя до окончательного восстановления тканей.
            </p>
            <p>
                Ринопластика — одна из тех операций, когда малейшее изменение органа приводит к изменению образа и внешности человека в целом. Умело прове-
                дённая операция помогает пациентам стать не только более привлекательными, но и уверенными в себе.
            </p>

        </div>
    </div>

    @@include('./templates/inner-tags.html')

    @@include('./templates/also-you-will-be-interested.html', {
    "title": "Другие статьи"
    })


</main>

@@include('./templates/footer.html', {
"js": "eco-pitanie"
})