@@include('./templates/header.html', {
"css": "pravovaya-podderjka"
})

<main class="main">
  @@include('./templates/breadcrumbs.html')

  <div class="icons">
    <div class="icons__container clearfix">
      <nav class="icons__content">
        <ul class="icons__list">
          <li class="icons__item">
            <a href="#news" class="icons__link  icons__link-1">
              новости
            </a>
          </li>
          <li class="icons__item">
            <a href="#where-apply" class="icons__link  icons__link-2">
              куда обратиться
            </a>
          </li>
          <li class="icons__item">
            <a href="#abroad" class="icons__link  icons__link-3">
              лечение<br>
              за рубежом
            </a>
          </li>
          <li class="icons__item">
            <a href="#regions" class="icons__link  icons__link-4">
              регионы
            </a>
          </li>
          <li class="icons__item">
            <a href="#legislation" class="icons__link  icons__link-5">
              законодательство
            </a>
          </li>
          <li class="icons__item">
            <a href="#motherhood-prav" class="icons__link  icons__link-6">
              материнство
            </a>
          </li>

          <li class="icons__item">
            <a href="#insurance" class="icons__link  icons__link-7">
              страхование
            </a>
          </li>
          <li class="icons__item">
            <a href="#security" class="icons__link  icons__link-8">
              защита
              пациента
            </a>
          </li>
          <li class="icons__item">
            <a href="#invalid" class="icons__link  icons__link-9">
              инвалидам
            </a>
          </li>
          <li class="icons__item">
            <a href="#advices" class="icons__link  icons__link-10">
              совет юриста
            </a>
          </li>
          <li class="icons__item">
            <a href="#search" class="icons__link  icons__link-11">
              поиск по карте
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

    <section class="news-tabs" id="news">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow news__btn ">перейти в раздел</a>
    </section>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2 class="regions-map__title-content">Регионы</h2>
        </div>

        @@include('./templates/region-map.html',{
        "img" : "pravovaya-podderjka/regions/map.jpg",
        "title" : "Все о медицинском праве в Вашем регионе"
        })

    </section>

    <section class="where-apply" id="where-apply">
        <div class="where-apply__title">
            <h2 class="where-apply__title-content">Куда обратиться</h2>
        </div>
        <div class="where-apply__cont">
            <ul class="where-apply__grid">
                <li class="where-apply__col _fluid">
                    <ul class="where-apply__inner-grid">
                        <li class="where-apply__inner-col">
                            <a href="#!" title="" class="where-apply__link">
                                <div class="where-apply__ico _1"></div>
                                <h3 class="where-apply__h3-ico">Санэпидемстанция</h3>
                            </a>

                        </li>
                        <li class="where-apply__inner-col">
                            <a href="#!" title="" class="where-apply__link">
                                <div class="where-apply__ico _2"></div>
                                <h3 class="where-apply__h3-ico">Независимая экспертиза</h3>
                            </a>

                        </li>
                        <li class="where-apply__inner-col">
                            <a href="#!" title="" class="where-apply__link">
                                <div class="where-apply__ico _3"></div>
                                <h3 class="where-apply__h3-ico">Медицинский юрист</h3>
                            </a>

                        </li>
                        <li class="where-apply__inner-col">
                            <a href="#!" title="" class="where-apply__link">
                                <div class="where-apply__ico _4"></div>
                                <h3 class="where-apply__h3-ico">Страховые компании</h3>
                            </a>

                        </li>
                    </ul>
                    <a href="#!" class="link-arrow where-apply__btn-go ">перейти в раздел</a>
                </li>
                <li class="where-apply__col _fix-width">
                    @@include('./templates/interview.html')
                </li>

            </ul>
        </div>
    </section>
    @@include('./templates/banners.html')

    <section id="abroad" class="abroad">
        <div class="abroad__title">
            <h2 class="abroad__title-content">Лечение за рубежом</h2>
        </div>

        <div class="mainBanner _right abroad__img-bg-cont">

      <span data-picture="" data-alt="Камни в почках">
        <span data-src="http://placehold.it/414x414"></span>
        <span data-src="img/pravovaya-podderjka/abroad/abroad-bg-sm.jpg" data-media="(min-width: 414px)"></span>
        <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
        <noscript>
          <img src="img/pravovaya-podderjka/abroad/abroad-bg.jpg" alt="" class="advice-banner__img">
        </noscript>
      </span>

            <div class="mainBanner__content">
                <div class="abroad__txt-cont">
                    <a href="#!" title="Где и как лечиться за рубежом" class="abroad__link">
                        <span class="abroad__colored">Лечение за рубежом:</span> информация о том,<br> как выбрать
                        клинику, оформить документы и не только
                    </a>
                </div>
            </div>


        </div>

        <a href="#!" class="link-arrow abroad__btn ">перейти в раздел</a>
    </section>

    <section id="invalid" class="invalid">
        <div class="invalid__title">
            <h2 class="invalid__title-content">Инвалидам</h2>
        </div>
        <div class="invalid__img-bg-cont">
      <span data-picture data-alt="Лечение за рубежом">
        <span data-src="img/pravovaya-podderjka/invalid/invalid-bg-sm.jpg"></span>
        <span data-src="img/pravovaya-podderjka/invalid/invalid-bg.jpg" data-media="(min-width: 992px)"></span>
        <noscript>
            <img src="img/pravovaya-podderjka/invalid/invalid-bg.jpg" alt="Лечение за рубежом">
        </noscript>
      </span>

            <div class="invalid__txt-cont">

                <ul class="invalid__link-list">
                    <li class="invalid__each-link">
                        <a href="#!" title="Законы и права" class="invalid__link _1"><span class="invalid__link-in">Законы и права</span></a>
                    </li>
                    <li class="invalid__each-link">
                        <a href="#!" title="Законы и права" class="invalid__link _2"><span class="invalid__link-in">Льготы</span></a>
                    </li>

                </ul>
                <a href="#!" class="link-arrow invalid__btn ">перейти в раздел</a>
            </div>
        </div>
    </section>

  <section id="motherhood-prav" class="frame-grid-float postpartum motherhood-prav">
    <div class="frame-grid-float__title">
      <h2>Материнство</h2>
    </div>
    <div class="frame-grid-float__content wrap  clearfix">
      <div class="col-md-4 col-sm-6 frame-grid-float__item">
        <a href="#!" class="frame-grid-float__link">
                    <span class="frame-grid-float__border">
                    </span>
          <span class="frame-grid-float__pic">
                            <img src="img/pravovaya-podderjka/motherhood/motherhood-img-1.jpg" alt="">
                        </span>

          <span class="frame-grid-float__desc">
                        материнский капитал
                    </span>
        </a>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 frame-grid-float__item">
        <a href="#!" class="frame-grid-float__link">

                        <span class="frame-grid-float__pic">
                            <img src="img/pravovaya-podderjka/motherhood/motherhood-img-1.jpg" alt="">
                        </span>

          <span class="frame-grid-float__desc">
                       материнский капитал
                    </span>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 frame-grid-float__item">
        <a href="#!" class="frame-grid-float__link">

                        <span class="frame-grid-float__pic">
                             <img src="img/pravovaya-podderjka/motherhood/motherhood-img-1.jpg" alt="">
                        </span>

          <span class="frame-grid-float__desc">
                       материнский капитал
                    </span>
        </a>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-6 frame-grid-float__item">
        <a href="#!" class="frame-grid-float__link">

                        <span class="frame-grid-float__pic">
                             <img src="img/pravovaya-podderjka/motherhood/motherhood-img-1.jpg" alt="">
                        </span>

          <span class="frame-grid-float__desc">
                       материнский капитал
                    </span>
        </a>
      </div>
    </div>
    <a href="#!" class="link-arrow invalid__btn ">перейти в раздел</a>
  </section>

  <section id="insurance" class="insurance">
    <div class="insurance__title">
      <h2>Страхование</h2>
    </div>
    <div class="g-grid _col-2 _cont-cent _txt-inner">
      <ul class="g-grid__ul">
        <li class="g-grid__li">
          <a href="#!"  title="страхование" class="g-grid__link">
            <div class="g-grid__img-cont">
              <img src="img/pravovaya-podderjka/insurance/insurance-img-1.jpg" alt="Страхование здоровья">
            </div>
            <div class="g-grid__content">
              <div class="g-grid__txt">Страхование здоровья</div>
            </div>
          </a>
        </li>
        <li class="g-grid__li">
          <a href="#!"  title="страхование" class="g-grid__link">
            <div class="g-grid__img-cont">
              <img src="img/pravovaya-podderjka/insurance/insurance-img-2.jpg" alt="Страхование жизни">
            </div>
            <div class="g-grid__content">
              <div class="g-grid__txt">Страхование жизни</div>
            </div>
          </a>
        </li>
        <li class="g-grid__li">
          <a href="#!"  title="страхование" class="g-grid__link">
            <div class="g-grid__img-cont">
              <img src="img/pravovaya-podderjka/insurance/insurance-img-3.jpg" alt="Страхование туристов">
            </div>
            <div class="g-grid__content">
              <div class="g-grid__txt">Страхование туристов</div>
            </div>
          </a>
        </li>
        <li class="g-grid__li">
          <a href="#!"  title="страхование" class="g-grid__link">
            <div class="g-grid__img-cont">
              <img src="img/pravovaya-podderjka/insurance/insurance-img-4.jpg" alt="Страхование от несчастного случая">
            </div>
            <div class="g-grid__content">
              <div class="g-grid__txt">Страхование от несчастного случая</div>
            </div>
          </a>
        </li>
      </ul>
      <a href="#!" class="link-arrow insurance__btn ">перейти в раздел</a>
    </div>
  </section>

    <section id="security" class="security">
        <div class="security__title">
            <h2>Защита пациента</h2>
        </div>




      <div class="g-grid _col-2 _cont-cent _txt-right">
        <ul class="g-grid__ul">
          <li class="g-grid__li">
            <a href="#!" title="some-title" class="g-grid__link">
              <div class="g-grid__img-cont">
                <img src="http://placehold.it/350x350" alt="#">
              </div>
              <div class="g-grid__content">
                <div class="g-grid__txt">
                  <h3 class="security__desc-head">Как бороться с бездействием врачей?</h3>
                  <div class="security__desc-in">Так или иначе, каждому из нас приходится сталкиваться с
                    такой неописуемой несправедливостью и крайне неприят
                    ным, возмутительным явлением как бездействие врачей
                    или неоказание надлежащей медицинской помощи мед
                    работниками. Уже давно ушли в небытие долгие рассуж-
                    дения о клятве Гиппократа, самоотверженности и беско-
                    рыстии докторов.
                  </div>
                </div>

              </div>
            </a>
          </li>

          <li class="g-grid__li">
            <a href="#!" title="some-title" class="g-grid__link">
              <div class="g-grid__img-cont">
                <img src="http://placehold.it/350x350" alt="#">
              </div>
              <div class="g-grid__content">
                <div class="g-grid__txt">
                  <h3 class="security__desc-head">Как бороться с бездействием врачей?</h3>
                  <div class="security__desc-in">Так или иначе, каждому из нас приходится сталкиваться с
                    такой неописуемой несправедливостью и крайне неприят
                    ным, возмутительным явлением как бездействие врачей
                    или неоказание надлежащей медицинской помощи мед
                    работниками. Уже давно ушли в небытие долгие рассуж-
                    дения о клятве Гиппократа, самоотверженности и беско-
                    рыстии докторов.
                  </div>
                </div>

              </div>
            </a>
          </li>

          <li class="g-grid__li">
            <a href="#!" title="some-title" class="g-grid__link">
              <div class="g-grid__img-cont">
                <img src="http://placehold.it/350x350" alt="#">
              </div>
              <div class="g-grid__content">
                <div class="g-grid__txt">
                  <h3 class="security__desc-head">Как бороться с бездействием врачей?</h3>
                  <div class="security__desc-in">Так или иначе, каждому из нас приходится сталкиваться с
                    такой неописуемой несправедливостью и крайне неприят
                    ным, возмутительным явлением как бездействие врачей
                    или неоказание надлежащей медицинской помощи мед
                    работниками. Уже давно ушли в небытие долгие рассуж-
                    дения о клятве Гиппократа, самоотверженности и беско-
                    рыстии докторов.
                  </div>
                </div>

              </div>
            </a>
          </li>

          <li class="g-grid__li">
            <a href="#!" title="some-title" class="g-grid__link">
              <div class="g-grid__img-cont">
                <img src="http://placehold.it/350x350" alt="#">
              </div>
              <div class="g-grid__content">
                <div class="g-grid__txt">
                  <h3 class="security__desc-head">Как бороться с бездействием врачей?</h3>
                  <div class="security__desc-in">Так или иначе, каждому из нас приходится сталкиваться с
                    такой неописуемой несправедливостью и крайне неприят
                    ным, возмутительным явлением как бездействие врачей
                    или неоказание надлежащей медицинской помощи мед
                    работниками. Уже давно ушли в небытие долгие рассуж-
                    дения о клятве Гиппократа, самоотверженности и беско-
                    рыстии докторов.
                  </div>
                </div>

              </div>
            </a>
          </li>





        </ul>

      </div>

        <a href="#!" class="link-arrow security__btn ">перейти в раздел</a>
    </section>

    <section id="legislation" class="legislation">
        <div class="legislation__title">
            <h2>Законодательство</h2>
        </div>
        <div class="mainBanner _center legislation__img-bg-cont">
      <span data-picture="" data-alt="Камни в почках">
        <span data-src="http://placehold.it/414x414"></span>
        <span data-src="img/pravovaya-podderjka/legislation/legislation-bg-sm.jpg"
              data-media="(min-width: 414px)"></span>
        <span data-src="img/pravovaya-podderjka/legislation/legislation-bg.jpg" data-media="(min-width: 992px)"></span>
        <noscript>
          <img src="img/pravovaya-podderjka/legislation/legislation-bg.jpg" alt="" class="advice-banner__img">
        </noscript>
      </span>

            <div class="mainBanner__content">
                <div class="legislation__txt-cont">
                    <a href="#!" title="Где и как лечиться за рубежом" class="legislation__link">
                        Федеральный закон
                        <span class="legislation__link-in">“Об охране здоровья”</span>
                    </a>
                </div>
            </div>

        </div>
        <a href="#!" class="link-arrow legislation__btn ">перейти в раздел</a>
    </section>

    <section id="advices" class="advices">

        <div class="advices__title">
            <h2 class="advices__title-content">Советы юристов:</h2>
        </div>

    <div class="drop _select-input _blue-bor">
      <input class="drop__input" type="text" placeholder="Выберите направление">
      <button type="button" class="drop__toggle">
      </button>
      <div class="baron-all baron-all__clipper baron-all__root  drop__items">
        <div class="baron-all__scroller">
          <ul class="drop__ul">
            <li class="drop__li">направление 1</li>
            <li class="drop__li">направление 2</li>
            <li class="drop__li">направление 3</li>
            <li class="drop__li">направление 4</li>
            <li class="drop__li">направление 5</li>
            <li class="drop__li">направление 6</li>
            <li class="drop__li">направление 7</li>
            <li class="drop__li">направление 8</li>
          </ul>
        </div>
        <div class="baron-all__track">
          <div class="baron-all__free">
            <div class="baron-all__bar"></div>
          </div>
        </div>
      </div>
    </div>

        <div class="advices__cont">
            <div class="row">
                <div class="col-lg-6">
                    <div class="advices__each-cont _1">
                        <div class="advices__img-cont">
                            <a href="#!" title="Врач сторматолог">
                                <img src="img/right-food/advices/doc-big.jpg"
                                     alt="Врач стоматолог">
                            </a>
                        </div>
                        <div class="advices__txt-cont">
                            <h3 class="advices__head">Как избавиться от зубного камня?</h3>
                            <div class="advices__txt">
                                Зубной камень - это твердое образование, которое возникает
                                от скопления микробов в полости рта. Постепенно такой мик-
                                робный налет оседает на зубной эмали, со временем отвер-
                                девает и приобретает темный цвет, который может иметь раз-
                                ные оттенки - от белого и желтого до коричневого. Обычно на-
                                лет возникает в местах, которые трудно прочистить.
                            </div>
                        </div>
                        <div class="advices__doc-data">
                            <h3 class="advices__name">Юрий Федорович Жаворонок</h3>
                            <div class="advices__city"><span class="advices__dark">Город: </span>Москва</div>
                            <div class="advices__speciality"><span class="advices__dark">Специализация: </span>Врач -
                                стоматолог
                            </div>
                            <div class="advices__experience"><span class="advices__dark">Стаж: </span>15 лет</div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="advices__each-cont _2">
                        <ul class="ul-doc advices__ul-doc">
                            <li class="ul-doc__link-cont _active">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-1.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-2.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-3.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont _last">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-4.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="paginator _white">
                            <li class="paginator__prev paginator__arrow"><a href="#!">назад</a></li>
                            <li class="paginator__item"><a href="#!">1</a></li>
                            <li class="paginator__item"><a href="#!">2</a></li>
                            <li class="paginator__item"><a href="#!">3</a></li>
                            <li class="paginator__next paginator__arrow"><a href="#!">вперед</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <a href="#!" class="link-arrow ">перейти в раздел</a>
        </div>
    </section>

    <a href="#!" id="forum" class="forum">
        <div class="forum__content">
            <div class="forum__title">Задать вопрос</div>
            <div class="forum__text">медицинскому юристу</div>
        </div>
    </a>


</main>

@@include('./templates/footer.html', {
"js": "pravovaya-podderjka"
})