@@include('./templates/header.html', {
"css": "pravovaya-regiony"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html"
                        class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#news" class="icons__link  icons__link-news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#directory" class="icons__link  icons__link-spravochnik">
                            справочник
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  icons__link-diagnostika">
                            советы специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#where-apply" class="icons__link  icons__link-medCentr">
                            куда обратиться
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#stories" class="icons__link  icons__link-sovetVracha">
                            реальные истории
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#map-footer" class="icons__link  icons__link-search">
                            поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <section id="news" class="news-tabs">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="stories" class="advices">

        <div class="advices__title">
            <h2 class="advices__title-content">реальные истории:</h2>
        </div>

        <div class="advices__cont">
            <div class="row">
                <div class="col-lg-6">
                    <div class="advices__each-cont _1">
                        <div class="advices__img-cont">
                            <a href="#!" title="Врач сторматолог">
                                <img src="img/right-food/advices/doc-big.jpg"
                                     alt="Врач стоматолог">
                            </a>
                        </div>
                        <div class="advices__txt-cont-1">
                            <h3 class="advices__head">Главный офтальмолог СПб:“Моих пациентов обманывают мошеники”</h3>
                            <div class="advices__txt">
                                С заявлением в прокуратуру обратился глав-
                                ный офтальмолог Петербурга, профессор,
                                д.м.н. Юрий Астахов. Он обнаружил, что от
                                его имени, как впрочем, и от имени других
                                известных врачей, мошенники рекламируют
                                и продают никому не известный препарат.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="advices__each-cont _2">
                        <ul class="ul-doc advices__ul-doc">
                            <li class="ul-doc__link-cont _active">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="ul-doc__img-cont-big">
                                                <img src="img/right-food/advices/doc-big.jpg"
                                                     alt="Врач стоматолог">
                                            </div>
                                        </div>
                                        <div class="col-sm-7 ul-doc__doc-data">
                                            <div class="advices__txt-cont-1">
                                                <h3 class="advices__head">Главный офтальмолог СПб:“Моих пациентов
                                                    обманывают мошеники”</h3>
                                                <div class="advices__txt">
                                                    С заявлением в прокуратуру обратился глав-
                                                    ный офтальмолог Петербурга, профессор,
                                                    д.м.н. Юрий Астахов. Он обнаружил, что от
                                                    его имени, как впрочем, и от имени других
                                                    известных врачей, мошенники рекламируют
                                                    и продают никому не известный препарат.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont _active">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="ul-doc__img-cont-big">
                                                <img src="img/right-food/advices/doc-big.jpg"
                                                     alt="Врач стоматолог">
                                            </div>
                                        </div>
                                        <div class="col-sm-7 ul-doc__doc-data">
                                            <div class="advices__txt-cont-1">
                                                <h3 class="advices__head">Главный офтальмолог СПб:“Моих пациентов
                                                    обманывают мошеники”</h3>
                                                <div class="advices__txt">
                                                    С заявлением в прокуратуру обратился глав-
                                                    ный офтальмолог Петербурга, профессор,
                                                    д.м.н. Юрий Астахов. Он обнаружил, что от
                                                    его имени, как впрочем, и от имени других
                                                    известных врачей, мошенники рекламируют
                                                    и продают никому не известный препарат.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="paginator _white">
                <li><a href="#!" class="paginator__prev paginator__arrow">назад</a></li>
                <li><a href="#!" class="paginator__item">1</a></li>
                <li><a href="#!" class="paginator__item">2</a></li>
                <li><a href="#!" class="paginator__item">3</a></li>
                <li><a href="#!" class="paginator__next paginator__arrow">вперед</a></li>
            </ul>
        </div>
    </section>


    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник</h2>
        </div>
        <div class="mainBanner _right directory__contents">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/pravovaya-regiony/banner/banner-bg-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/protezirovanie-region/directory-bg.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/protezirovanie-region/directory-bg.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <h3 class="directory__contents-title">
                        Все о медицинском праве
                    </h3>
                    <a href="#!" title="Показать заболевание" class="btn _tran _black">перейти в информационный
                        раздел</a>
                </div>
            </div>
        </div>

    </section>

    <section class="advices-1">
        <div class="advices-1__title">
            <h2 class="advices-1__title-content">Советы юриста</h2>
        </div>
        <div class="advices-1__cont row">
            <div class="col-sm-6">
                <div class="advices-1__img-cont">
                    <img src="img/encyclopedia/advices/doc.jpg" alt="doctor photo" class="advices-1__img">
                </div>

            </div>
            <div class="advices-1__txt-cont col-sm-6">
                <div class="advices-1__slogan">Лечим келоидные рубцы</div>
                <div class="advices-1__surname">Авраамов</div>
                <div class="advices-1__name">Федор Павлович</div>
                <div class="advices-1__post">врач-терапевт</div>
                <div class="advices-1__address">г. Москва</div>

                <div class="advices-1__more"><a title="информация о специалисте" href="#!" class="advices-1__link">Узнать
                    больше</a></div>
                <div class="advices-1__arrow"></div>
            </div>
        </div>
    </section>


    <section class="where-apply" id="where-apply">
        <div class="where-apply__title">
            <h2 class="where-apply__title-content">Куда обратиться</h2>
        </div>
        <div class="where-apply__cont">

            <ul class="where-apply__inner-grid">
                <li class="where-apply__inner-col">
                    <a href="#!" title="" class="where-apply__link">
                        <div class="where-apply__ico _1"></div>
                        <h3 class="where-apply__h3-ico">Санэпидемстанция</h3>
                    </a>

                </li>
                <li class="where-apply__inner-col">
                    <a href="#!" title="" class="where-apply__link">
                        <div class="where-apply__ico _2"></div>
                        <h3 class="where-apply__h3-ico">Независимая экспертиза</h3>
                    </a>

                </li>
                <li class="where-apply__inner-col">
                    <a href="#!" title="" class="where-apply__link">
                        <div class="where-apply__ico _3"></div>
                        <h3 class="where-apply__h3-ico">Медицинский юрист</h3>
                    </a>

                </li>
                <li class="where-apply__inner-col">
                    <a href="#!" title="" class="where-apply__link">
                        <div class="where-apply__ico _4"></div>
                        <h3 class="where-apply__h3-ico">Страховые компании</h3>
                    </a>
                </li>
                <li class="where-apply__inner-col">
                    <a href="#!" title="" class="where-apply__link">
                        <div class="where-apply__ico _5"></div>
                        <h3 class="where-apply__h3-ico">Медико-социальная экспертиза</h3>
                    </a>
                </li>
            </ul>

        </div>
    </section>

</main>

@@include('./templates/footer.html', {
"js": "pravovaya-regiony"
})