@@include('./templates/header.html', {
    "css": "pregnancy-planning"
})
<span class="svginclude">
@@include('../source/svg/svg-pregnancy-planning.html')
</span>

<main class="main">

@@include('./templates/breadcrumbs.html')

	<div class="icons icons__4">
		<div class="icons__container">
			<ul class="icons__list">
				<li class="icons__item">
					<a href="#diagnostics" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-diagnostika"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Диагностика
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#medications" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-lekarst-preparati"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Лекарственные
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#pregnancy-symptoms" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-simptomi-berem"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Симптомы<br> беременности
                        </span>
					</a>
				</li>

				<li class="icons__item">
					<a href="#man-health" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-mugchinam"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Мужчинам
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#conception" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zachatie"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Зачатие
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#gynecology" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-ginekologiya"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Гинекология
                        </span>
					</a>
				</li>

				<li class="icons__item">
					<a href="#infertility-treatment" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-lechenie-besplodiya"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Лечение бесплодия
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-centri_planirovaniya"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Центры планирования<br> семьи и репродукции
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#!" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-planir_rebenka"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Планирование<br> пола ребенка
                        </span>
					</a>
				</li>

				<li class="icons__item">
					<a href="#planning" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-planir_berem"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Планирование<br> беременности
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#eco" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-eko"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           ЭКО
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#online-services" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-kalkulyator"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Калькуляторы
                        </span>
					</a>
				</li>
			</ul>

		</div>
	</div>

	<section id="planning" class="news-tabs">
		<div class="news-tabs__title">
			<h2>Планирование беременности</h2>
		</div>
		@@include('./templates/news-tabs.html')
	</section>
	
	<section id="gynecology" class="gynecology">
		<div class="gynecology__title">
			<h2>Гинекология</h2>
		</div>
		<div class="gynecology__content">
			<div class="gynecology__container">
				<div class="gynecology__items clearfix">
					<div class="gynecology__item gynecology__item-1 col-md-4">
						<img src="http://placehold.it/308x274" class="gynecology__img" alt="item-1">
						<a href="#!"><b>Эндометриоз</b> и беременность</a>
					</div>
					<div class="gynecology__item gynecology__item-2 col-md-4">
						<img src="http://placehold.it/308x274" class="gynecology__img" alt="item-2">
						<a href="#!"><b>Уреаплазмоз:</b> нужно ли лечение?</a>
					</div>
					<div class="gynecology__item gynecology__item-3 col-md-4">
						<img src="http://placehold.it/308x274" class="gynecology__img" alt="item-3">
						<a href="#!"><b>Проходимость</b> маточных труб</a>
					</div>
				</div>
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
		</div>
	</section>
	
	<section id="conception" class="conception">
		<div class="conception__title">
			<h2>Зачатие</h2>
		</div>
		<div class="g-grid _col-3 _cont-cent _txt-outer">
			<ul class="g-grid__ul">
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<div class="g-grid__txt">Почему ошибается тест на беременность?</div>
						</div>
					</a>
				</li>
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<div class="g-grid__txt">Измерение базальной температуры</div>
						</div>
					</a>
				</li>
				<li class="g-grid__li">
					<a href="#!" title="some-title" class="g-grid__link">
						<div class="g-grid__img-cont">
							<img src="http://placehold.it/350x350" alt="#">
						</div>
						<div class="g-grid__content">
							<div class="g-grid__txt">Влияние стресса на зачатие</div>
						</div>
					</a>
				</li>
			</ul>
			<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
		</div>

	</section>
	
	<section id="eco" class="eco">
		<div class="eco__title">
			<h2>ЭКО</h2>
		</div>
		<div class="eco__content">
			<div class="eco-slider slider">

				<div class="mainBanner _right eco-slider__item">
					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<div class="eco-slider__content">
							<a href="#!" class="eco-slider__link">
								<h3>ЭКО:</h3>
								<p>быть или не быть?</p>
							</a>
						</div>
					</div>
				</div>
				<div class="mainBanner _right eco-slider__item">
					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<div class="eco-slider__content">
							<a href="#!" class="eco-slider__link">
								<h3>ЭКО:</h3>
								<p>быть или не быть?</p>
							</a>
						</div>
					</div>
				</div>
				<div class="mainBanner _right eco-slider__item">
					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<div class="eco-slider__content">
							<a href="#!" class="eco-slider__link">
								<h3>ЭКО:</h3>
								<p>быть или не быть?</p>
							</a>
						</div>
					</div>
				</div>

			</div>
			@@include('./templates/banners.html')
		</div>
	</section>
	
	<section id="infertility-treatment" class="infertility-treatment">
		<div class="infertility-treatment__title">
			<h2>Лечение бесплодия</h2>
		</div>
		<div class="infertility-treatment__content">
			<div class="infertility-treatment__container clearfix">
				<div class="infertility-treatment__text-content col-lg-5 col-md-6 col-sm-7">
					<ul class="infertility-treatment__list">
						<li><a href="#!">Женское бесплодие</a></li>
						<li><a href="#!">Мужское бесплодие</a></li>
						<li><a href="#!">Методы лечения бесплодия</a></li>
						<li><a href="#!">ЭКО: этапы большого пути</a></li>
						<li><a href="#!">Аденома простаты и мужское бесплодие - есть ли связь?</a></li>
						<li><a href="#!">Беременность после лечения бесплодия. Особенности и проблемы</a></li>
					</ul>
					<div class="infertility-treatment__link-wrap">
						<a href="#!" class="link-arrow  link-arrow_gray">перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="medications" class="medications">
		<div class="medications__title">
			<h2>Лекарственные препараты</h2>
		</div>
		<div class="medications__content">
			<div class="medications__container">
				<h3 class="medications__content-title">Первая помощь при заболеваниях</h3>
				<div class="medications__content-box clearfix">
					<div class="medications__text-content-left col-sm-6 col-lg-4">
						<ul class="medications__list">
							<li><a href="#!">Аллергия</a></li>
							<li><a href="#!">Повышение температуры</a></li>
							<li><a href="#!">Головная боль</a></li>
							<li><a href="#!">Изжога</a></li>
						</ul>
					</div>
					<div class="medications__text-content-right col-sm-6 col-lg-3 col-lg-offset-5">
						<ul class="medications__list">
							<li><a href="#!">Для повышения иммунитета</a></li>
							<li><a href="#!">Профилактика гриппа и простуды</a></li>
							<li><a href="#!">Витамины</a></li>
						</ul>
					</div>
				</div>
				<div class="medications__link-wrap">
					<a href="#!" class="link-arrow  link-arrow_gray">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>
	
	<section id="man-health" class="man-health">
		<div class="man-health__title">
			<h2>Мужское здоровье</h2>
		</div>
		<div class="man-health__content">
			<div class="man-health__container clearfix">
				<div class="man-health__text-content col-sm-offset-1 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-7">
					<ul class="man-health__list">
						<li><a href="#!">Необходимые анализы для мужчин при планировании</a></li>
						<li><a href="#!">Причины мужского бесплодия</a></li>
						<li><a href="#!">Подготовка мужчины к зачатию ребенка</a></li>
						<li><a href="#!">Психологические аспекты</a></li>
					</ul>
					<div class="man-health__link-wrap">
						<a href="#!" class="link-arrow  link-arrow_white">перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="pregnancy-symptoms" class="pregnancy-symptoms">
		<div class="pregnancy-symptoms__title">
			<h2>Симптомы беременности</h2>
		</div>
		<div class="pregnancy-symptoms__content">
			<div class="pregnancy-symptoms-slider slider">

				<div class="mainBanner _left-top pregnancy-symptoms-slider__item clearfix">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<a href="#!" class="pregnancy-symptoms-slider__link">
							<h3>Первые признаки <span>беременности</span></h3>
						</a>
					</div>

				</div>

			</div>
		</div>
	</section>
	
	<section id="diagnostics" class="diagnostics">
		<div class="diagnostics__title">
			<h2>Диагностика</h2>
		</div>
		<div class="diagnostics__content clearfix">
			<div class="diagnostics__usr col-md-6">
				<img src="img/pregnancy-planning/usr-wp.png" alt="usr" class="diagnostics__usr-img">
				<a href="#!" class="diagnostics__usr-content">
					<h3 class="diagnostics__usr-title">Узи</h3>
					<p class="diagnostics__usr-text-content">Исследование с помощью ультразвуковых волн. Проходя через ткани различной плотности ультразвук по-разному отражается от них. Специальный принимающий датчик фиксирует эти изменения, переводя их в графическое изображение.</p>
				</a>
			</div>
			<div class="diagnostics__blood col-md-6">
				<img src="img/pregnancy-planning/blood-wp.png" alt="blood" class="diagnostics__blood-img">
				<a href="#!" class="diagnostics__blood-content">
					<h3 class="diagnostics__blood-title">Анализ крови</h3>
					<p class="diagnostics__blood-text-content">кровь является отражением всех типов обмена веществ.</p>
				</a>
			</div>
		</div>
	</section>
	
	<section id="online-services" class="online-services">
		<div class="online-services__title">
			<h2>ONLINE - сервисы</h2>
		</div>
		<div class="online-services__content">
			<div class="online-services__container">
				<div class="online-services__calendar clearfix">
					<div class="online-services__calendar-content col-lg-6">
						<p class="online-services__calendar-text">(календарь акушерский) - набор таблиц  или приспособление  в виде счётной линейки для быстрого вычисления сроков беременности, наступления родов, даты начала дородового отпуска.</p>
					</div>
					<div class="online-services__calendar-block col-lg-6">
						<h3 class="online-services__calendar-title">Календарь беременности</h3>
						<a href="#!" class="online-services__calendar-link">посмотреть</a>
					</div>
				</div>
				<div class="online-services__decipher">
					<div class="online-services__decipher-content">
						<h3 class="online-services__decipher-title">Расшифровка <br><span>анализов</span></h3>
						<a href="#!" class="online-services__decipher-link">расшифровать</a>
					</div>
				</div>
				<div class="online-services__link-wrap">
					<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>
	
</main>

@@include('./templates/footer.html', {
    "js": "pregnancy-planning"
})