@@include('./templates/header.html', {
    "css": "prikorm"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background">
	<section class="page-content n-page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1">Таблица прикорма: расчет питания для детей 1-го года жизни</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="page-content n-quoteblock">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<div class="n-quoteblock__quote">
						Введение прикорма для здорового малыша, как правило, приходится на период с 3 до 6 месяцев. Раньше этого возрастного 
						диапазона ребенок еще не способен усваивать какую-либо пищу кроме маминого молока или специальной детской смеси. 
						<br><br>
						С другой стороны, затягивать тоже не стоит. Российские педиатры считают, что при позднем прикорме (после 6 месяцев) 
						существует риск развития дефицита ценных микроэлементов, таких как цинк, железо и некоторых других. 
						<br><br>
						Наш калькулятор призван помочь молодым родителям максимально точно рассчитать количество конкретных продуктов, 
						которые требуются малышу на каждом этапе развития (в зависимости от возраста). Он разработан с учетом <b>«Национальной 
							программы оптимизации вскармливания детей первого года жизни в РФ» (2011 г)</b>. 
						<br><br>
						Чтобы получить результат, вам нужно выбрать возраст своего ребенка из выпадающего списка в таблице и нажать кнопочку 
						«Рассчитать». Если потребуется повторить вычисления для другой возрастной группы, предварительно нажмите кнопочку «Очистить». 
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="page-content n-lastselect table-backgrpund">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-md-offset-3">
					<form class="n-calcform__form">
					<h2 class="n-calcform__h2">
						Выберите возраст малыша:
					</h2>
					<div class="form-border">
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
									<select class="n-calcform__select" >
										<option value="1">9-12 месяцев</option>
										<option value="2">9-12 месяцев</option>
										<option value="3">9-12 месяцев</option>
										<option value="4">9-12 месяцев</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<button class="n-calcform__button">
						узнать идеальный вес
					</button>
				</form>
				</div>
			</div>
		</div>
	</section>
	<div class="n-resultform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped n-resultform__table">
							<tr>
								<td>Сок</td>
								<td>90-100 мл</td>
							</tr>
							<tr>
								<td>Фруктовое пюре</td>
								<td>90-100 гр</td>
							</tr>
							<tr>
								<td>Овощное пюре</td>
								<td>200 гр</td>
							</tr>
							<tr>
								<td>Молочная каша</td>
								<td>200 гр</td>
							</tr>
							<tr>
								<td>Творог</td>
								<td>50 гр</td>
							</tr>
							<tr>
								<td>Желток</td>
								<td>1/2 шт</td>
							</tr>
							<tr>
								<td>Мясное пюре</td>
								<td>150 гр</td>
							</tr>
							<tr>
								<td>Рыбное пюре</td>
								<td>30-60 гр</td>
							</tr>
							<tr>
								<td>Кисломолочные продукты</td>
								<td>400-500 мл</td>
							</tr>
							<tr>
								<td>Печенье или сухарики</td>
								<td>10-15 гр</td>
							</tr>
							<tr>
								<td>Пшеничный хлеб</td>
								<td>10 гр</td>
							</tr>
							<tr>
								<td>Сливочное масло</td>
								<td>6 гр</td>
							</tr>
							<tr>
								<td>Ростительное масло</td>
								<td>6 гр</td>
							</tr>
						</table>
						<button class="n-resultform__button bottom-text">
							<span class="btn-icon"></span>
							<span class="btn-text">сохранить результаты в личном кабинете</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</div>

</main>

@@include('./templates/footer.html', {
    "js": "prikorm"
})