@@include('./templates/header.html', {
"css": "protezirovanie-osnovnaya"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons">
        <div class="wrap icons__modal">
            <div class="city-modal__link-wrap">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link">Выберите город <span class="caret city-modal__caret"></span></button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
        <div class="icons__wrapper">
        <div class="wrap clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            Новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            Виды эндопротезирования
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            Это интересно
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            Советы специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#" class="icons__link">
                            Медицинские учреждения
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
    </div>


    <section class="news-tabs" id="protezirovanie-news">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html',{
        "img" : "no-img"
        })
    </section>

    <section id="interesting-facts" class="interesting-facts">
        <div class="interesting-facts__title">
            <h2 class="interesting-facts__title-content">
                Виды эндопротезирования
            </h2>
        </div>
        <div class="interesting-facts__wrapper">
            <div class="interesting-facts__container">
                <div class="interesting-facts__items">
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                    <div class="interesting-facts__item">
                        <div class="interesting-facts__img-wrap">
                            <img src="http://placehold.it/310x310" alt="item" class="interesting-facts__img">
                        </div>
                        <div class="interesting-facts__text-content">
                            <h3>
                                <a href="">
                                    Тазобедренный сустав
                                </a>
                            </h3>
                            <div>
                                Колено является крупнейшим суставом в организме. Верхние
                                и нижние кости колена разделены двумя дисками (менисками).
                                Верхнюю костную часть составляет бедро, а нижняя часть фор-
                                мируется малоберцовой и большеберцовой костью, и они все
                                соединены связками, сухожилиями и мышцами.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="this-is-interesting" class="this-is-interesting">
        <div class="this-is-interesting__title">
            <h2 class="this-is-interesting__title-content">
                Виды эндопротезирования
            </h2>
        </div>
        <div class="this-is-interesting__conteiner">
            <div class="this-is-interesting__content">
                <ul class="this-is-interesting__list">
                    <li class="this-is-interesting__item">
                        <a href="" class="this-is-interesting__link">
                            Открытие нового центра
                            в Санкт-Петербурге
                        </a>
                    </li>
                    <li class="this-is-interesting__item">
                        <a href="" class="this-is-interesting__link">
                            Семинар
                            “Все об эндопротезировании”
                        </a>
                    </li>
                    <li class="this-is-interesting__item">
                        <a href="" class="this-is-interesting__link">
                            Открытие нового центра
                            в Санкт-Петербурге
                        </a>
                    </li>
                    <li class="this-is-interesting__item">
                        <a href="" class="this-is-interesting__link">
                            Семинар
                            “Все об эндопротезировании”
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#!" class="link-arrow _whiteBG">перейти в раздел</a>
        </div>
        <div class="this-is-interesting__baner">
            <span data-picture data-alt="Упражнения для стройной фигуры">
                <span data-src="img/protezirovanie-osnovnaya/this-is-interesting__baner-bg_sm.jpg"></span>
                <span data-src="img/protezirovanie-osnovnaya/this-is-interesting__baner-bg.jpg" data-media="(min-width: 1024px)"></span>
                <noscript>
                    <img src="img/protezirovanie-osnovnaya/this-is-interesting__baner-bg.jpg" alt="">
                </noscript>
            </span>
            <a href="" class="this-is-interesting__baner-content">
                <h3>
                    <strong>
                        Бионические протезы:
                    </strong>
                    5 органов,
                    которые можно заменить
                    на электронные
                </h3>
            </a>
        </div>
    </section>

    @@include('./templates/advices.html')

</main>

@@include('./templates/footer.html', {
"js": "protezirovanie-osnovnaya"
})
