

@@include('./templates/header.html', {
"css": "protezirovanie-region"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#news" class="icons__link  icons__link-news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#directory" class="icons__link  icons__link-spravochnik">
                            справочник
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  icons__link-sovetVracha">
                            советы <br>
                            специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#medCentr" class="icons__link  icons__link-medCentr">
                            медицинские <br>
                            центры
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#diagnostics" class="icons__link  icons__link-diagnostika">
                            диагностика
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#map-footer" class="icons__link  icons__link-search">
                            поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="news" class="news-tabs tabs" >
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник</h2>
        </div>
        <div class="mainBanner _right directory__contents">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/protezirovanie-region/directory-bg_sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/protezirovanie-region/directory-bg.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/protezirovanie-region/directory-bg.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <h3 class="directory__contents-title">
                        Все о протезирование
                    </h3>
                    <a href="#!" title="Показать заболевание" class="btn _tran _black">перейти в информационный раздел</a>
                </div>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Медицинские центры",
    "banners":"true"
    })

    <section id="diagnostics" class="diagnostics">
        <div class="diagnostics__title">
            <h2 class="diagnostics__title-content">Диагностика</h2>
        </div>
        <div class="diagnostics__contentWrapper">

            <div class="diagnostics__content">
                <ul>
                    <li>
                        <a href="">Общеклинический анализ крови</a>
                    </li>
                    <li>
                        <a href="">Общеклинический анализ мочи</a>
                    </li>
                    <li>
                        <a href="">Биохимический анализ крови</a>
                    </li>
                    <li>
                        <a href="">ВИЧ, Hbs, HcV, Tr.Pallidum</a>
                    </li>
                    <li>
                        <a href="">Коагулограмма</a>
                    </li>
                    <li>
                        <a href="">Группа крови, Rh-фактор. Kell-антиген </a>
                    </li>
                    <li>
                        <a href="">ЭКГ</a>
                    </li>
                    <li>
                        <a href="">Рентгенография грудной клетки</a>
                    </li>
                    <li>
                        <a href="">Рентгенография оперируемого сустава</a>
                    </li>
                    <li>
                        <a href="">ЭГДС (эзофагогастродуоденоскопия)</a>
                    </li>
                    <li>
                        <a href="">УЗАС (ультразвуковое ангиосканирование)</a>
                    </li>
                </ul>
            </div>

            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

</main>

@@include('./templates/footer.html', {
"js": "protezirovanie-region"
})
