@@include('./templates/header.html', {
    "css": "pulse"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background" style="background:url(css/pics/pulse/running_woman.png) no-repeat left 200px;">
	<section class="page-content n-page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1">Расчет пульса (ЧСС) для разных зон нагрузки</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="page-content n-quoteblock">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-11 col-md-offset-1">
					<div class="n-quoteblock__quote">
						Чтобы рассчитать пульс для разных зон нагрузки, введите свои показатели возраста и пульса в покое в специальные поля ниже, затем нажмите на кнопку "Рассчитать". 
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="page-content n-calcform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-md-offset-3">
					<form class="n-calcform__form">
					<h2 class="n-calcform__h2">
						Заполните форму:
					</h2>
					<div class="form-border">
						<div class="form-group">
							<div class="row">
								<div class="n-calcform__leftcaption">Ваш пульс покоя</div>
								<div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-4">
									<input type="text" class="n-calcform__input">
								</div>
								<div class="clearfix"></div>
								<div class="n-calcform__rightcaption">уд./мин</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="n-calcform__leftcaption">Ваш возраст</div>
								<div class="col-md-4 col-xs-8 col-xs-offset-2 col-md-offset-4">
									<input type="text" class="n-calcform__input">
								</div>
								<div class="clearfix"></div>
								<div class="n-calcform__rightcaption">лет</div>
							</div>
						</div>
					</div>
					<button class="n-calcform__button">
						Рассчитать
					</button>
					<div class="n-calcform__caption">
						Ваш результат готов!
					</div>
				</form>
				</div>
			</div>
		</div>
	</section>
	<div class="n-overload">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="n-overload__tablehead">
						<span>Зона нагрузки</span>
					</div>
					<table class="table table-striped n-overload__table">
						<tr>
							<td>
								<span class="table-head">Максимально допустимый пульс</span>
								<p class="table-desc">Достигать этого значения пульса и находиться в этой зоне 
								продолжительное время вредно для здоровья. Если Вы не 
								профессиональный спортсмен, эта зона не для Вас.</p>
							</td>
							<td>100%</td>
							<td>195</td>
						</tr>
						<tr>
							<td>
								<span class="table-head">Максимально допустимый пульс</span>
								<p class="table-desc">Достигать этого значения пульса и находиться в этой зоне 
								продолжительное время вредно для здоровья. Если Вы не 
								профессиональный спортсмен, эта зона не для Вас.</p>
							</td>
							<td>100%</td>
							<td>195</td>
						</tr>
						<tr>
							<td>
								<span class="table-head">Максимально допустимый пульс</span>
								<p class="table-desc">Достигать этого значения пульса и находиться в этой зоне 
								продолжительное время вредно для здоровья. Если Вы не 
								профессиональный спортсмен, эта зона не для Вас.</p>
							</td>
							<td>2</td>
							<td>3</td>
						</tr>
						<tr>
							<td>
								<span class="table-head">Максимально допустимый пульс</span>
								<p class="table-desc">Достигать этого значения пульса и находиться в этой зоне 
								продолжительное время вредно для здоровья. Если Вы не 
								профессиональный спортсмен, эта зона не для Вас.</p>
							</td>
							<td>100%</td>
							<td>195</td>
						</tr>
						<tr>
							<td>Ваш пульс покоя</td>
							<td colspan="2">120 ударов/минуту</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="n-helpful">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="n-helpful__heading">
						Полезная информация
					</div>
					<table class="table n-helpful__table">
						<tr class="n-helpful__header-table">
							<th>Уровень нагрузки:</th>
							<th>Что дает:</th>
						</tr>
						<tr class="red">
							<td>
								Максимальный
								<div class="table-round">
									90-100%
								</div>
							</td>
							<td>
								Предельное развитие силы и скорости.
								<small>Соревновательный уровень.</small>
							</td>
						</tr>
						<tr class="orange">
							<td>
								Тяжелый
								<div class="table-round">
									80-90%
								</div>
							</td>
							<td>
								Рост мышечной массы и силы.
								<small>Развитие взрывной силы.</small>
							</td>
						</tr>
						<tr class="yellow">
							<td>
								Средний
								<div class="table-round">
									70-80%
								</div>
							</td>
							<td>
								Развитие аэробных способностей.
								<small>Рост ударного объема сердца.</small>
							</td>
						</tr>
						<tr class="green">
							<td>
								Легкий
								<div class="table-round">
									60-70%
								</div>
							</td>
							<td>
								Рост общей выносливости.
								<small>Сжигание жира.</small>
							</td>
						</tr>
						<tr class="light_green">
							<td>
								Очень легкий
								<div class="table-round">
									50-60%
								</div>
							</td>
							<td>
								Разминка, зарядка, восстановление.
								<small>&nbsp;</small>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</div>

</main>

@@include('./templates/footer.html', {
    "js": "pulse"
})