@@include('./templates/header.html', {
"css": "rare"
})
<span class="svginclude">
@@include('../source/svg/svg-rare.html')
</span>
<main class="main">
    @@include('./templates/breadcrumbs.html')

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-news"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            новости
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#directory" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-spravochnik"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                справочник
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#diagnostics" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-diagnostika"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                диагностика
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#medCentr" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-med_centr"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                медицинские <br>
                                центры
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#advices" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-sovet_vracha"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                советы <br>
                                специалистов
                            </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#map-footer" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </span>
                        <span class="icons__link-text">
                                поиск по карте
                            </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <section class="news-tabs" id="news">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
    </section>

    <section class="articles" id="articles">
        <div class="articles__title">
            <h2 class="articles__title-content">Статьи</h2>
        </div>


        <div class="mainBanner _right-top articles__ban">

            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>



             <a href="#!" title="информация о контагиозном моллюске" class="mainBanner__content">
                 <div class="articles__ban-txt">Откуда берутся</div>
                 <div class="articles__ban-txt-2">ОРФАННЫЕ ЗАБОЛЕВАНИЯ?</div>
             </a>

        </div>

        <div class="articles__grid">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <a href="#!" title="Три кита современной медицины" class="articles__link">
                        <div class="articles__img-cont">
                            <img src="img/rare/articles/articles-1.jpg" alt="Лаборант" class="articles__img">
                        </div>
                        <div class="articles__txt">
                            Три кита современной медицины<br>
                            — наука, клиника, учёба
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6">
                    <a href="#!" title="Три кита современной медицины" class="articles__link">
                        <div class="articles__img-cont">
                            <img src="img/rare/articles/articles-2.jpg" alt="Лаборант" class="articles__img">
                        </div>
                        <div class="articles__txt">
                            Неонатальный скрининг <br>
                            новорожденных
                        </div>
                    </a>
                </div>

                <div class="col-md-4 col-sm-6 articles__col _last">
                    <a href="#!" title="Три кита современной медицины" class="articles__link">
                        <div class="articles__img-cont">
                            <img src="img/rare/articles/articles-3.jpg" alt="Лаборант" class="articles__img">
                        </div>
                        <div class="articles__txt">
                            Острая перемежающая<br>
                            порфирия. Шанс на жизнь.
                        </div>
                    </a>
                </div>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    <section class="rare-encycl" id="rare-encycl">
        <div class="rare-encycl__title">
            <h2 class="rare-encycl__title-content">Энциклопедия заболеваний</h2>
        </div>

        <div class="rare-encycl__cont">
            <div class="rare-encycl__note">
                <div class="rare-encycl__txt-1">На сегодняшний день в России принято считать редкими заболевания
                    с распространенностью не более 10 случаев на 100 000 человек.
                </div>
                <div class="rare-encycl__txt-2">В список орфанных болезней России внесено 215 заболеваний</div>
            </div>


        <div class="rare-encycl__search-cont">
            <div class="rare-encycl__search-txt-1">Введите название болезни</div>
                <input class="rare-encycl__search-in" type="text">
            <div class="rare-encycl__search-txt-2">или выберите букву:</div>
        </div>



        <div class="alphabet">
            <div class="alphabet__container">
                <ul class="alphabet__ul-char">
                    <li class="alphabet__li"><a title="А" href="#!" class="alphabet__li-char">А</a></li>
                    <li class="alphabet__li"><a title="Б" href="#!" class="alphabet__li-char">Б</a></li>
                    <li class="alphabet__li"><a title="В" href="#!" class="alphabet__li-char">В</a></li>
                    <li class="alphabet__li"><a title="Г" href="#!" class="alphabet__li-char">Г</a></li>
                    <li class="alphabet__li"><a title="Д" href="#!" class="alphabet__li-char">Д</a></li>
                    <li class="alphabet__li"><a title="Е" href="#!" class="alphabet__li-char">Е</a></li>
                    <li class="alphabet__li"><a title="Ё" href="#!" class="alphabet__li-char">Ё</a></li>
                    <li class="alphabet__li"><a title="Ж" href="#!" class="alphabet__li-char">Ж</a></li>
                    <li class="alphabet__li"><a title="З" href="#!" class="alphabet__li-char">З</a></li>
                    <li class="alphabet__li"><a title="И" href="#!" class="alphabet__li-char">И</a></li>
                    <li class="alphabet__li"><a title="Й" href="#!" class="alphabet__li-char">Й</a></li>
                    <li class="alphabet__li"><a title="К" href="#!" class="alphabet__li-char">К</a></li>
                    <li class="alphabet__li"><a title="Л" href="#!" class="alphabet__li-char">Л</a></li>
                    <li class="alphabet__li"><a title="М" href="#!" class="alphabet__li-char">М</a></li>
                    <li class="alphabet__li"><a title="Н" href="#!" class="alphabet__li-char">Н</a></li>
                    <li class="alphabet__li"><a title="О" href="#!" class="alphabet__li-char">О</a></li>
                    <li class="alphabet__li"><a title="П" href="#!" class="alphabet__li-char">П</a></li>
                    <li class="alphabet__li"><a title="Р" href="#!" class="alphabet__li-char">Р</a></li>
                    <li class="alphabet__li"><a title="С" href="#!" class="alphabet__li-char">С</a></li>
                    <li class="alphabet__li"><a title="Т" href="#!" class="alphabet__li-char">Т</a></li>
                    <li class="alphabet__li"><a title="У" href="#!" class="alphabet__li-char">У</a></li>
                    <li class="alphabet__li"><a title="Ф" href="#!" class="alphabet__li-char">Ф</a></li>
                    <li class="alphabet__li"><a title="Х" href="#!" class="alphabet__li-char">Х</a></li>
                    <li class="alphabet__li"><a title="Ц" href="#!" class="alphabet__li-char">Ц</a></li>
                    <li class="alphabet__li"><a title="Ч" href="#!" class="alphabet__li-char">Ч</a></li>
                    <li class="alphabet__li"><a title="Ш" href="#!" class="alphabet__li-char">Ш</a></li>
                    <li class="alphabet__li"><a title="Щ" href="#!" class="alphabet__li-char">Щ</a></li>
                    <li class="alphabet__li"><a title="Ъ" href="#!" class="alphabet__li-char">Ъ</a></li>
                    <li class="alphabet__li"><a title="Ы" href="#!" class="alphabet__li-char">Ы</a></li>
                    <li class="alphabet__li"><a title="Ь" href="#!" class="alphabet__li-char">Ь</a></li>
                    <li class="alphabet__li"><a title="Э" href="#!" class="alphabet__li-char">Э</a></li>
                    <li class="alphabet__li"><a title="Ю" href="#!" class="alphabet__li-char">Ю</a></li>
                    <li class="alphabet__li"><a title="Я" href="#!" class="alphabet__li-char">Я</a></li>
                </ul>
            </div>
        </div>

        <div class="rare-encycl__dis-list-cont">
            <div class="rare-encycl__char">К</div>
            <ul>
                <li><a title="Кабецаз синдром " href="#!">Кабецаз синдром </a></li>
                <li><a title="Кайлера синдром (Синдром ассиметричного кричащего лица) " href="#!">Кайлера синдром (Синдром ассиметричного кричащего лица) </a></li>
                <li><a title="Кайлера синдром (Синдром ассиметрии композиции тела) " href="#!">Кайлера синдром (Синдром ассиметрии композиции тела) </a></li>
                <li><a title="Кальмана синдром " href="#!">Кальмана синдром </a></li>
                <li><a title="Кальциноз сосудов головного мозга" href="#!">Кальциноз сосудов головного мозга</a></li>
                <li><a title="Кальцификация мозга, тип Раджаб  " href="#!">Кальцификация мозга, тип Раджаб  </a></li>
                <li><a title="Камера синдром (Пикноахондрогенез)  " href="#!">Камера синдром (Пикноахондрогенез)  </a></li>
                <li><a title="Камптодактилия-волчья пасть-косолапость (Гордона синдром)  " href="#!">Камптодактилия-волчья пасть-косолапость (Гордона синдром)  </a></li>
                <li><a title="Канале-Смит синдром (Аутоиммунный лимфопролиферативный синдром)  " href="#!">Канале-Смит синдром (Аутоиммунный лимфопролиферативный синдром)  </a></li>
                <li><a title="Канталамесса-Балдини-Амбрози синдром" href="#!">Канталамесса-Балдини-Амбрози синдром</a></li>
            </ul>
        </div>

            <ul class="paginator _white">
                <li><a href="#!" class="paginator__prev paginator__arrow">назад</a></li>
                <li><a href="#!" class="paginator__item">1</a></li>
                <li><a href="#!" class="paginator__item">2</a></li>
                <li><a href="#!" class="paginator__item">3</a></li>
                <li><a href="#!" class="paginator__next paginator__arrow">вперед</a></li>
            </ul>

        </div>
    </section>

    <section class="diagnostycs" id="diagnostycs">
        <div class="diagnostycs__title">
            <h2 class="diagnostycs__title-content">Диагностика:</h2>
        </div>

        <div class="diagnostycs__cont">

            <div class="row">
                <div class="col-sm-6">
                    <a href="#!" title="Виды диагностики" class="diagnostycs__btn btn _tran _gray">Виды диагностики</a>
                </div>
                <div class="col-sm-6">
                    <a href="#!" title="Диагностические центры" class="diagnostycs__btn btn _tran _red">Диагностические центры</a>
                </div>
            </div>
            <div class="diagnostycs__txt">Узнайте, какие исследования Вам нужно пройти, и к каким специалистам обратиться при определенных симптомах и заболеваниях</div>

            <div class="diag-form">
                    <form action="#" class="diag-form__input-group clearfix">
                        <h2 class="diamonds-diagnostics__head">Диагностика:</h2>
                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Выберите направление">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">направление 1</li>
                                        <li class="drop__li">направление 2</li>
                                        <li class="drop__li">направление 3</li>
                                        <li class="drop__li">направление 4</li>
                                        <li class="drop__li">направление 5</li>
                                        <li class="drop__li">направление 6</li>
                                        <li class="drop__li">направление 7</li>
                                        <li class="drop__li">направление 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Заболевание">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">заболевание 1</li>
                                        <li class="drop__li">заболевание 2</li>
                                        <li class="drop__li">заболевание 3</li>
                                        <li class="drop__li">заболевание 4</li>
                                        <li class="drop__li">заболевание 5</li>
                                        <li class="drop__li">заболевание 6</li>
                                        <li class="drop__li">заболевание 7</li>
                                        <li class="drop__li">заболевание 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn _tran _black diag-form__show-btn" title="Показать заболевание">показать</button>
                    </form>
                <div class="diag-form__cont">

                    <ul>
                        <li>Необходимая диагностика</li>
                        <li>
                            <ol>
                                <li><a href="#">К эндокринологу</a></li>
                            </ol>
                        </li>

                        <li>К каким специалистам необходимо обратиться?</li>
                        <li>
                            <ol>
                                <li><a href="#">Гормональное исследование крови</a></li>
                                <li><a href="#">Биохимическое исследование крови</a></li>
                                <li><a href="#">Рентгенологическое исследование</a></li>
                                <li><a href="#">Компьютерная томография щитовидной железы</a></li>
                            </ol>
                        </li>

                    </ul>

                    <a href="#!" title="Показать заболевание" class="btn _tran _black">Перейти в раздел</a>
                </div>

            </div>


        </div>
    </section>

    <section class="history" id="history">
        <div class="history__title">
            <h2 class="history__title-content">История:</h2>
        </div>
        <div class="mainBanner _right history__ban">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="">
                </noscript>
            </span>

                <a href="#!" title="информация о контагиозном моллюске" class="mainBanner__content history__ban-content">
                    <div class="history__ban-txt">Болезнь царской семьи:</div>
                    <div class="history__ban-txt-2">Алексей Романов и гемофилия</div>
                    <div class="history__ban-txt-3">Царская семья Романовых носила более редкую форму гемофилии чем считалось ранее</div>
                </a>

        </div>

        <a href="#!" class="link-arrow">Перейти в раздел</a>
    </section>





</main>




@@include('./templates/footer.html', {
"js": "rare"
})