@@include('./templates/header.html', {
"css": "recepty"
})
<main class="main">
  @@include('./templates/breadcrumbs.html')
  <div class="icons">
    <div class="icons__container clearfix">
      <nav class="icons__content">
        <ul class="icons__list">
          <li class="icons__item">
            <a href="#recipe-day" class="icons__link  icons__link-1">
              Рецепт дня
            </a>
          </li>
          <li class="icons__item">
            <a href="#salad" class="icons__link  icons__link-2">
              Салаты
            </a>
          </li>
          <li class="icons__item">
            <a href="#first-dish" class="icons__link  icons__link-3">
              1е блюда
            </a>
          </li>
          <li class="icons__item">
            <a href="#second-dish" class="icons__link  icons__link-4">
              2е блюда
            </a>
          </li>
          <li class="icons__item">
            <a href="#multi" class="icons__link  icons__link-5">
              Рецепты <br>
              для мультиварки
            </a>
          </li>
          <li class="icons__item">
            <a href="#cake" class="icons__link  icons__link-6">
              Выпечка
            </a>
          </li>
          <li class="icons__item">
            <a href="#desert" class="icons__link  icons__link-7">
              Десерты
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <section id="recipe-day" class="recipe-day">
    <div class="recipe-day__title">
      <h2 class="recipe-day__title-content">Рецепт дня:</h2>
    </div>
    <div class="recipe-day__cont"></div>
  </section>

  <section id="salad" class="salad chess-1">
    <div class="salad__title">
      <h2 class="salad__title-content">Салаты</h2>
    </div>
    <div class="salad__content">

        <div class="chess-1__item-container clearfix">
          <div class="chess-1__item clearfix">
            <div class="col-md-6 chess-1__in_1">
              <div class="chess-1__img-wrap clearfix">
                <div class="chess-1__img">
                  <img src="img/recepty/salad/salad-1.jpg" alt="item-1">
                </div>
              </div>
            </div>

            <div class="col-md-6 chess-1__in_2">
              <div class="chess-1__text">
                <h3 class="salad__h3">Салат «Греческий»</h3>
                <ul class="salad__ul-main">
                  <li class="salad__li-main _1">
                    <span>Необходимые ингредиенты:</span>
                    <ul class="salad__ul-in">
                      <li class="salad__li-in">Помидоры</li>
                      <li class="salad__li-in">Болгарский перец</li>
                      <li class="salad__li-in">Огурцы</li>
                      <li class="salad__li-in">Лук</li>
                      <li class="salad__li-in">Брынза/сыр фета</li>
                      <li class="salad__li-in">Маслины</li>
                      <li class="salad__li-in">Оливковое или подсолнечное масло</li>
                      <li class="salad__li-in">Лимонный сок</li>
                      <li class="salad__li-in">Соль</li>
                      <li class="salad__li-in">Перец</li>
                    </ul>
                  </li>
                  <li class="salad__li-main _2">Время приготовления: 20 мин</li>
                  <li class="salad__li-main _3">Сложность: <span class="salad__colored _easy">легко</span></li>
                </ul>
                <a href="#!" class="salad__go-to">читать рецепт полностью></a>
              </div>
            </div>
          </div>
        </div>

      <div class="chess-1__item-container">
        <div class="chess-1__item clearfix">
          <div class="col-md-6 chess-1__in_1">
            <div class="chess-1__img-wrap clearfix">
              <div class="chess-1__img">
                <img src="img/recepty/salad/salad-1.jpg" alt="item-1">
              </div>
            </div>
          </div>

          <div class="col-md-6 chess-1__in_2">
            <div class="chess-1__text">
              <h3 class="salad__h3">Салат «Греческий»</h3>
              <ul class="salad__ul-main">
                <li class="salad__li-main _1">
                  <span>Необходимые ингредиенты:</span>
                  <ul class="salad__ul-in">
                    <li class="salad__li-in">Помидоры</li>
                    <li class="salad__li-in">Болгарский перец</li>
                    <li class="salad__li-in">Огурцы</li>
                    <li class="salad__li-in">Лук</li>
                    <li class="salad__li-in">Брынза/сыр фета</li>
                    <li class="salad__li-in">Маслины</li>
                    <li class="salad__li-in">Оливковое или подсолнечное масло</li>
                    <li class="salad__li-in">Лимонный сок</li>
                    <li class="salad__li-in">Соль</li>
                    <li class="salad__li-in">Перец</li>
                  </ul>
                </li>
                <li class="salad__li-main _2">Время приготовления: 20 мин</li>
                <li class="salad__li-main _3">Сложность: <span class="salad__colored _easy">легко</span></li>
              </ul>
              <a href="#!" class="salad__go-to">читать рецепт полностью></a>
            </div>
          </div>
        </div>
      </div>

      <div class="chess-1__item-container">
        <div class="chess-1__item clearfix">
          <div class="col-md-6 chess-1__in_1">
            <div class="chess-1__img-wrap clearfix">
              <div class="chess-1__img">
                <img src="img/recepty/salad/salad-1.jpg" alt="item-1">
              </div>
            </div>
          </div>

          <div class="col-md-6 chess-1__in_2">
            <div class="chess-1__text">
              <h3 class="salad__h3">Салат «Греческий»</h3>
              <ul class="salad__ul-main">
                <li class="salad__li-main _1">
                  <span>Необходимые ингредиенты:</span>
                  <ul class="salad__ul-in">
                    <li class="salad__li-in">Помидоры</li>
                    <li class="salad__li-in">Болгарский перец</li>
                    <li class="salad__li-in">Огурцы</li>
                    <li class="salad__li-in">Лук</li>
                    <li class="salad__li-in">Брынза/сыр фета</li>
                    <li class="salad__li-in">Маслины</li>
                    <li class="salad__li-in">Оливковое или подсолнечное масло</li>
                    <li class="salad__li-in">Лимонный сок</li>
                    <li class="salad__li-in">Соль</li>
                    <li class="salad__li-in">Перец</li>
                  </ul>
                </li>
                <li class="salad__li-main _2">Время приготовления: 20 мин</li>
                <li class="salad__li-main _3">Сложность: <span class="salad__colored _easy">легко</span></li>
              </ul>
              <a href="#!" class="salad__go-to">читать рецепт полностью></a>
            </div>
          </div>
        </div>
      </div>

      <div class="chess-1__item-container">
        <div class="chess-1__item clearfix">
          <div class="col-md-6 chess-1__in_1">
            <div class="chess-1__img-wrap clearfix">
              <div class="chess-1__img">
                <img src="img/recepty/salad/salad-1.jpg" alt="item-1">
              </div>
            </div>
          </div>

          <div class="col-md-6 chess-1__in_2">
            <div class="chess-1__text">
              <h3 class="salad__h3">Салат «Греческий»</h3>
              <ul class="salad__ul-main">
                <li class="salad__li-main _1">
                  <span>Необходимые ингредиенты:</span>
                  <ul class="salad__ul-in">
                    <li class="salad__li-in">Помидоры</li>
                    <li class="salad__li-in">Болгарский перец</li>
                    <li class="salad__li-in">Огурцы</li>
                    <li class="salad__li-in">Лук</li>
                    <li class="salad__li-in">Брынза/сыр фета</li>
                    <li class="salad__li-in">Маслины</li>
                    <li class="salad__li-in">Оливковое или подсолнечное масло</li>
                    <li class="salad__li-in">Лимонный сок</li>
                    <li class="salad__li-in">Соль</li>
                    <li class="salad__li-in">Перец</li>
                  </ul>
                </li>
                <li class="salad__li-main _2">Время приготовления: 20 мин</li>
                <li class="salad__li-main _3">Сложность: <span class="salad__colored _easy">легко</span></li>
              </ul>
              <a href="#!" class="salad__go-to">читать рецепт полностью></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="first-dish" class="first-dish">
    <div class="first-dish__title">
      <h2 class="first-dish__title-content">Первые блюда</h2>
    </div>
    <div class="first-dish__cont tab-container clearfix">
      <div class="col-md-6">
        <a href="#first-dish-1"><div class="first-dish__pan _1 tab-menu-item active"><span class="first-dish__name">Минестроне</span></div></a>
        <a href="#first-dish-2"><div class="first-dish__pan _2 tab-menu-item"><span class="first-dish__name">Грибной крем-суп</span></div></a>
        <a href="#first-dish-3"><div class="first-dish__pan _3 tab-menu-item"><span class="first-dish__name">Лагман</span></div></a>
      </div>
      <div class="col-md-6 tab-slide-block" id="first-dish-1">
        <div class="first-dish__recipe-cont">
          <h3 class="first-dish__h3">способ приготовления:</h3>
          <ul class="first-dish__ul-main">
            <li class="first-dish__li-main _1">
              <span class="first-dish__dish-name">Ингредиенты к рецепту «Минестроне»:</span>
              <ul class="first-dish__ul-in">
                <li class="first-dish__li-in">Бульон куриный 600 мл	Лук репчатый 2 шт.</li>
                <li class="first-dish__li-in">Масло подсолнечное рафинированное 2 ст. л</li>
                <li class="first-dish__li-in">Масло сливочное 40 г</li>
                <li class="first-dish__li-in">Мука пшеничная 2 ст. л.</li>
                <li class="first-dish__li-in">Мука пшеничная</li>
                <li class="first-dish__li-in">Перец чёрный молотый 2 щепотка</li>
                <li class="first-dish__li-in">Сливки 20% 200 мл	Соль 2 щепотка</li>
                <li class="first-dish__li-in">Шампиньоны свежие 500 г</li>
              </ul>
            </li>
            <li class="first-dish__li-main _2">Время приготовления: 60 мин</li>
            <li class="first-dish__li-main _3">Сложность: <span class="first-dish__colored _medium">средняя</span></li>
          </ul>
          <div class="first-dish__manual">
            Картофель с грибами (грибы не резать!) отварить
            в небольшом количестве воды. Для варки положить
            лавровый лист, соль и перец горошек.
            Для приготовления заправки в сотейнике растопить
            масло, положить мелко нарезнные лук и морковь,
            прожарить до едва-золотистого состояния и выключить.
            Потом добавить грибной приправы.
            Взбить все блендером в однородную массу, влить
            сливки и остатки сливочного масла из сотейника.
            Картофель и грибы взбить блендером до однородной
            массы, вмешать заправку и 1 стакан отвара от
            картофеля и грибов. Хорошо перемешать.
          </div>

          <div class="first-dish__footer">
            приятного аппетита
          </div>
        </div>
        <div class="first-dish__shadow"></div>
      </div>

      <div class="col-md-6 tab-slide-block" id="first-dish-2">
        <div class="first-dish__recipe-cont">
          <h3 class="first-dish__h3">способ приготовления:</h3>
          <ul class="first-dish__ul-main">
            <li class="first-dish__li-main _1">
              <span class="first-dish__dish-name">Ингредиенты к рецепту «Грибной суп-пюре»:</span>
              <ul class="first-dish__ul-in">
                <li class="first-dish__li-in">Бульон куриный 600 мл	Лук репчатый 2 шт.</li>
                <li class="first-dish__li-in">Масло подсолнечное рафинированное 2 ст. л</li>
                <li class="first-dish__li-in">Масло сливочное 40 г</li>
                <li class="first-dish__li-in">Мука пшеничная 2 ст. л.</li>
                <li class="first-dish__li-in">Мука пшеничная</li>
                <li class="first-dish__li-in">Перец чёрный молотый 2 щепотка</li>
                <li class="first-dish__li-in">Сливки 20% 200 мл	Соль 2 щепотка</li>
                <li class="first-dish__li-in">Шампиньоны свежие 500 г</li>
              </ul>
            </li>
            <li class="first-dish__li-main _2">Время приготовления: 60 мин</li>
            <li class="first-dish__li-main _3">Сложность: <span class="first-dish__colored _medium">средняя</span></li>
          </ul>
          <div class="first-dish__manual">
            Картофель с грибами (грибы не резать!) отварить
            в небольшом количестве воды. Для варки положить
            лавровый лист, соль и перец горошек.
            Для приготовления заправки в сотейнике растопить
            масло, положить мелко нарезнные лук и морковь,
            прожарить до едва-золотистого состояния и выключить.
            Потом добавить грибной приправы.
            Взбить все блендером в однородную массу, влить
            сливки и остатки сливочного масла из сотейника.
            Картофель и грибы взбить блендером до однородной
            массы, вмешать заправку и 1 стакан отвара от
            картофеля и грибов. Хорошо перемешать.
          </div>

          <div class="first-dish__footer">
            приятного аппетита
          </div>
        </div>
        <div class="first-dish__shadow"></div>
      </div>

      <div class="col-md-6 tab-slide-block" id="first-dish-3">
        <div class="first-dish__recipe-cont">
          <h3 class="first-dish__h3">способ приготовления:</h3>
          <ul class="first-dish__ul-main">
            <li class="first-dish__li-main _1">
              <span class="first-dish__dish-name">Ингредиенты к рецепту «Лагман»:</span>
              <ul class="first-dish__ul-in">
                <li class="first-dish__li-in">Бульон куриный 600 мл	Лук репчатый 2 шт.</li>
                <li class="first-dish__li-in">Масло подсолнечное рафинированное 2 ст. л</li>
                <li class="first-dish__li-in">Масло сливочное 40 г</li>
                <li class="first-dish__li-in">Мука пшеничная 2 ст. л.</li>
                <li class="first-dish__li-in">Мука пшеничная</li>
                <li class="first-dish__li-in">Перец чёрный молотый 2 щепотка</li>
                <li class="first-dish__li-in">Сливки 20% 200 мл	Соль 2 щепотка</li>
                <li class="first-dish__li-in">Шампиньоны свежие 500 г</li>
              </ul>
            </li>
            <li class="first-dish__li-main _2">Время приготовления: 60 мин</li>
            <li class="first-dish__li-main _3">Сложность: <span class="first-dish__colored _medium">средняя</span></li>
          </ul>
          <div class="first-dish__manual">
            Картофель с грибами (грибы не резать!) отварить
            в небольшом количестве воды. Для варки положить
            лавровый лист, соль и перец горошек.
            Для приготовления заправки в сотейнике растопить
            масло, положить мелко нарезнные лук и морковь,
            прожарить до едва-золотистого состояния и выключить.
            Потом добавить грибной приправы.
            Взбить все блендером в однородную массу, влить
            сливки и остатки сливочного масла из сотейника.
            Картофель и грибы взбить блендером до однородной
            массы, вмешать заправку и 1 стакан отвара от
            картофеля и грибов. Хорошо перемешать.
          </div>

          <div class="first-dish__footer">
            приятного аппетита
          </div>
        </div>
        <div class="first-dish__shadow"></div>
      </div>
    </div>
  </section>

  <section id="second-dish" class="second-dish">
    <div class="second-dish__title">
      <h2 class="second-dish__title-content">Вторые блюда</h2>
    </div>
    <div class="second-dish__cont">
      <div class="second-dish__viewport-cont">
        <div class="second-dish__viewport multiple-items">
          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

          <div class="second-dish__item-cont">
            <a href="#!" class="second-dish__link">
              <div class="second-dish__img-cont">
                <img src="img/recepty/second-dish/second-img-1.jpg" alt="item-1">
              </div>
              <h3 class="second-dish__h3">СОЛЯНКА С ГРИБАМИ И КАПУ...</h3>
              <span class="second-dish__txt">Новый, необычный рецепт солянки -
              лучший сюрприз к столу</span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="multi" class="multi">
    <div class="multi__title">
      <h2 class="multi__title-content">Рецепты для мультиварок</h2>
    </div>
    <div class="multi__cont">
      <a href="#!" class="multi__link">
        <span class="multi__txt">Простой белый хлеб на воде</span>
        <span class="multi__txt-link"> читать рецепт></span>
      </a>
    </div>
  </section>

  <section id="cake" class="cake chess-1">
    <div class="cake__title">
      <h2 class="cake__title-content">Выпечка</h2>
    </div>

    <div class="cake__content">

      <div class="chess-1__item-container clearfix">
        <div class="chess-1__item clearfix">
          <div class="col-md-6 chess-1__in_1">
            <div class="chess-1__img-wrap clearfix">
              <div class="chess-1__img">
                <img src="img/recepty/cake/cake-1.jpg" alt="item-1">
              </div>
            </div>
          </div>

          <div class="col-md-6 chess-1__in_2">
            <div class="chess-1__text">
              <h3 class="cake__h3">Вкуснейшие
                <span class="cake__big">панкейки</span>
                со свежими ягодами</h3>
              <a href="#!" class="btn _tran _black cake__btn">читать рецепт ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="chess-1__item-container clearfix">
        <div class="chess-1__item clearfix">
          <div class="col-md-6 chess-1__in_1">
            <div class="chess-1__img-wrap clearfix">
              <div class="chess-1__img">
                <img src="img/recepty/cake/cake-1.jpg" alt="item-1">
              </div>
            </div>
          </div>

          <div class="col-md-6 chess-1__in_2">
            <div class="chess-1__text">
              <h3 class="cake__h3">Легендарный торт
                <span class="cake__big">“ПРАГА”</span></h3>
              <a href="#!" class="btn _tran _black cake__btn">читать рецепт ></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="desert" class="desert">
    <div class="desert__title">
      <h2 class="desert__title-content">Десерты</h2>
    </div>

    <div class="desert__container">
      <div class="desert__item-cont">
        <div class="desert__img-frame frame-bord _gray-5px">
          <div class="desert__image-cont">
            <img src="img/recepty/desert/desert-1.jpg" alt="item-1">
          </div>
        </div>

        <div class="desert__txt-cont">
          <h3 class="desert__h3">Панакота: создай итальянскую атмосферу у себя на кухне</h3>
          <h4 class="desert__h4">Что надо:</h4>
          <ul class="desert__ul">
            <li class="desert__li">600 мл сливок 20% жирности</li>
            <li class="desert__li">150 г сахара</li>
            <li class="desert__li">8 г листового желатина (если в гранулах, то по инструкции на упаковке)</li>
          </ul>


          <h4 class="desert__h4">Что делать:</h4>
          <div class="desert__instruction">
            Замочить желатин минут на 10 в воде. <br>
            Сливки налить в кастрюлю, добавить сахар и на медленном огне, помешивая, <br>
            довести почти до кипения. Как только появится первый пузырик – выключить. <br>
            Отжать желатин и добавить в горячие сливки. Размешать до полного растворения. <br>
            Разлить по формочкам и поставить в холодильнике на 12 часов.
          </div>
        </div>
      </div>

      <div class="desert__item-cont">
        <div class="desert__img-frame frame-bord _gray-5px">
          <div class="desert__image-cont">
            <img src="img/recepty/desert/desert-1.jpg" alt="item-1">
          </div>
        </div>

        <div class="desert__txt-cont">
          <h3 class="desert__h3">Панакота: создай итальянскую атмосферу у себя на кухне</h3>
          <h4 class="desert__h4">Что надо:</h4>
          <ul class="desert__ul">
            <li class="desert__li">600 мл сливок 20% жирности</li>
            <li class="desert__li">150 г сахара</li>
            <li class="desert__li">8 г листового желатина (если в гранулах, то по инструкции на упаковке)</li>
          </ul>


          <h4 class="desert__h4">Что делать:</h4>
          <div class="desert__instruction">
            Замочить желатин минут на 10 в воде. <br>
            Сливки налить в кастрюлю, добавить сахар и на медленном огне, помешивая, <br>
            довести почти до кипения. Как только появится первый пузырик – выключить. <br>
            Отжать желатин и добавить в горячие сливки. Размешать до полного растворения. <br>
            Разлить по формочкам и поставить в холодильнике на 12 часов.
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

@@include('./templates/footer.html', {
"js": "recepty"
})