@@include('./templates/header.html', {
"css": "regions-education"
})
<main class="main">

  @@include('./templates/breadcrumbs.html')

  <section class="education-menu">
    <div class="education-menu__container">
      <div class="education-menu__title">
        <h1>Образование</h1>
      </div>
      <div class="city-modal__link-wrap">
        <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_edu">Выберите город <span class="caret city-modal__caret"></span></button>
      </div>
      <div id="myModal" class="city-modal__modal"></div>

      <div id="loading" style="display: none">
        Идет загрузка...
      </div>
    </div>
    <div class="education-menu__content">
      <ul class="education-menu__list">

        <li><a href="#reg-universities" class="education-menu__list-item education-menu__list-item-3">ВУЗы и ССУЗы</a></li>
        <li><a href="#courses" class="education-menu__list-item education-menu__list-item-2">Курсы </a></li>

      </ul>
    </div>

  </section>

  <section id="reg-universities" class="reg-universities">
    <div class="reg-universities__title">
      <h2>Высшие учебные заведения</h2>
    </div>

      <div itemscope itemtype="http://schema.org/CollegeOrUniversity" class="reg-universities__item">
    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="reg-universities__img-cont">
				<span data-picture="" data-alt="университет">
                <span data-src="http://placehold.it/992x500"></span>
                <span data-src="http://placehold.it/1920x620" data-media="(min-width: 992px)">
					<img itemprop="url" class="reg-universities__img" alt="университет" src="http://placehold.it/1920x585">
				</span>
                <noscript>
                    &lt;img src="http://placehold.it/1920x620" alt=""&gt;
                </noscript>
        </span>
      <div class="reg-universities__img-txt">
        <a href="#!" class="reg-universities__img-link">
          <span itemprop="name">Новосибирский государственный медицинский университет Минздрава РФ</span>
        </a>
      </div>
    </div>
    <div class="reg-universities__cont">
      <div class="reg-universities__art-cont clearfix">
        <div class="reg-universities__diagramm">
          <canvas class="chart"></canvas>
          <ul class="chartData" data-text-align="center" data-value-font="'Century Gothic'" data-label-font="'Century Gothic'" data-value-font-size="25" data-label-font-size="14">
            <li class="chartData__li"><span data-txt-color="white" data-bg-color="#a3b995" data-left="0" data-top="0"   class="chartData__percents">18</span><span class="chartData__value">24</span><span class="chartData__label">направления</span></li>
            <li class="chartData__li"><span data-txt-color="white" data-bg-color="#98d6d6" data-left="0" data-top="0"   class="chartData__percents">30</span><span class="chartData__value">1500</span><span class="chartData__label">преподавателей</span></li>
            <li class="chartData__li"><span data-txt-color="white" data-bg-color="#63aec2" data-left="-3" data-top="0"   class="chartData__percents">20</span><span class="chartData__value">32 000</span><span class="chartData__label">специалистов</span></li>
            <li class="chartData__li"><span data-txt-color="white" data-bg-color="#00b2b8" data-left="0" data-top="-20"   class="chartData__percents">12</span><span class="chartData__value">10</span><span class="chartData__label">фактов <br>о вузе</span></li>
            <li class="chartData__li"><span data-txt-color="white" data-bg-color="#eecd71" data-left="0" data-top="0"   class="chartData__percents">20</span><span class="chartData__value">132</span><span class="chartData__label">специальности</span></li>
          </ul>
        </div>
        <div class="reg-universities__art ">
          <p>В Новосибирске подготовкой медиков разных специальностей
            занимается Новосибирский государственный медицинский университет
            Минздрава РФ, коротко НГМУ. Постоянный коллектив медиков педагогов
            сложился в Университете в 1935 году. С тех пор было выпущено много
            отличных специалистов по следующим направлениям: медицинская
            биохимия и биофизика, лечебное дело, педиатрия, стоматология,
            медико-профилактическое дело, фармация, клиническая психология.
            За все время работы Вуз подготовил более 32 тысяч специалистов.</p>
          <p>Медицинское образование предполагает очную форму 6-летней
            программы, кроме стоматологии и фармации, на которых обучение
            длится 5 лет.
            Программа подготовки клинического психолога рассчитана на 5
            с половиной лет. Поступление возможно на основе полного среднего
            или средне-специального образования по результатам единого
            государственного экзамена. …</p>
          <div>
            <h4>Официальный адрес</h4>
            <address>НГМУ: Россия, 630091, г. Новосибирск, Красный
              проспект, 52. Там же находится приемная комиссия.
            </address>
            <i>На месте вы можете узнать адрес расположения того факультета, на
              котором желаете учиться.</i>

          </div>
        </div>
      </div>
    </div>
  </div>
    <div itemscope itemtype="http://schema.org/CollegeOrUniversity" class="reg-universities__item">
      <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="reg-universities__img-cont">
				<span data-picture="" data-alt="университет">
                <span data-src="http://placehold.it/992x500"></span>
                <span data-src="http://placehold.it/1920x620" data-media="(min-width: 992px)">
					<img itemprop="url" class="reg-universities__img" alt="университет" src="http://placehold.it/1920x585">
				</span>
                <noscript>
                    &lt;img src="http://placehold.it/1920x620" alt=""&gt;
                </noscript>
        </span>
        <div class="reg-universities__img-txt">
          <a href="#!" class="reg-universities__img-link">
            <span itemprop="name">Новосибирский государственный медицинский университет Минздрава РФ</span>
          </a>
        </div>
      </div>
      <div class="reg-universities__cont">
        <div class="reg-universities__art-cont clearfix">
          <div class="reg-universities__diagramm">
            <canvas class="chart"></canvas>
            <ul class="chartData" data-text-align="center" data-value-font="'Century Gothic'" data-label-font="'Century Gothic'" data-value-font-size="25" data-label-font-size="14">
              <li class="chartData__li"><span data-txt-color="white" data-bg-color="#a3b995" data-left="0" data-top="0"   class="chartData__percents">18</span><span class="chartData__value">24</span><span class="chartData__label">направления</span></li>
              <li class="chartData__li"><span data-txt-color="white" data-bg-color="#98d6d6" data-left="0" data-top="0"   class="chartData__percents">30</span><span class="chartData__value">1500</span><span class="chartData__label">преподавателей</span></li>
              <li class="chartData__li"><span data-txt-color="white" data-bg-color="#63aec2" data-left="-3" data-top="0"   class="chartData__percents">20</span><span class="chartData__value">32 000</span><span class="chartData__label">специалистов</span></li>
              <li class="chartData__li"><span data-txt-color="white" data-bg-color="#00b2b8" data-left="0" data-top="-20"   class="chartData__percents">12</span><span class="chartData__value">10</span><span class="chartData__label">фактов <br>о вузе</span></li>
              <li class="chartData__li"><span data-txt-color="white" data-bg-color="#eecd71" data-left="0" data-top="0"   class="chartData__percents">20</span><span class="chartData__value">132</span><span class="chartData__label">специальности</span></li>
            </ul>
          </div>
          <div class="reg-universities__art ">
            <p>В Новосибирске подготовкой медиков разных специальностей
              занимается Новосибирский государственный медицинский университет
              Минздрава РФ, коротко НГМУ. Постоянный коллектив медиков педагогов
              сложился в Университете в 1935 году. С тех пор было выпущено много
              отличных специалистов по следующим направлениям: медицинская
              биохимия и биофизика, лечебное дело, педиатрия, стоматология,
              медико-профилактическое дело, фармация, клиническая психология.
              За все время работы Вуз подготовил более 32 тысяч специалистов.</p>
            <p>Медицинское образование предполагает очную форму 6-летней
              программы, кроме стоматологии и фармации, на которых обучение
              длится 5 лет.
              Программа подготовки клинического психолога рассчитана на 5
              с половиной лет. Поступление возможно на основе полного среднего
              или средне-специального образования по результатам единого
              государственного экзамена. …</p>
            <div>
              <h4>Официальный адрес</h4>
              <address>НГМУ: Россия, 630091, г. Новосибирск, Красный
                проспект, 52. Там же находится приемная комиссия.
              </address>
              <i>На месте вы можете узнать адрес расположения того факультета, на
                котором желаете учиться.</i>

            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#!" class="link-arrow news__btn ">перейти в раздел</a>

  </section>

  <section id="reg-courses" class="reg-courses">
    <div class="reg-courses__title">
      <h2>Курсы повышения квалификации</h2>
    </div>
      <div class="reg-courses__cont">
        <div itemscope itemtype="http://schema.org/Organization" class="reg-courses__item-cont">
          <h3 class="reg-courses__h3"><span itemprop="name">НОВОСИБИРСКИЙ ЦЕНТР ПОВЫШЕНИЯ КВАЛИФИКАЦИИ РАБОТНИКОВ ЗДРАВООХРАНЕНИЯ</span></h3>
          <ul class="reg-courses__grid">
            <li class="reg-courses__col _1">
              <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="reg-courses__img-cont">
                <img itemprop="url" src="http://placehold.it/400x275" alt="Страхование здоровья">
                <meta itemprop="width" content="400">
                <meta itemprop="height" content="275">
              </div>
            </li>
            <li class="reg-courses__col _2">

              <div class="reg-courses__ul-cont">
                <h4 class="reg-courses__ul-head">Основные направления деятельности:</h4>
                <ul class="reg-courses__ul">
                  <li itemprop="description" class="reg-courses__li">дополнительное профессиональное образование медицинских работников;</li>
                  <li itemprop="description" class="reg-courses__li">повышение квалификации среднегомедицинского персонала и врачей;</li>
                  <li itemprop="description" class="reg-courses__li">первичная специализация среднегомедперсонала по направлениям;</li>
                  <li itemprop="description" class="reg-courses__li">аттестация средних медработников.</li>
                </ul>
              </div>
            </li>
            <li class="reg-courses__col _3">
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="reg-courses__contact-cont">
                <h4 class="reg-courses__contact-head">Контакты:</h4>
                <div class="reg-courses__address"><span itemprop="addressLocality">Новосибирск г.</span>,<br> <span itemprop="streetAddress">Немировича-Данченко ул., 126</span></div>
                <span class="reg-courses__phones-head">Телефоны:</span>
                <span  itemprop="telephone" class="reg-courses__phone _1">(383) 346-54-74</span>
                <span  itemprop="telephone" class="reg-courses__phone _2">(383) 346-25-45</span>
                <div class="reg-courses__link-cont">Сайт: <a itemprop="url" title="" href="#!" class="reg-courses__link">www.ippknsu.ru</a></div>
              </div>
            </li>
          </ul>
        </div>

        <div itemscope itemtype="http://schema.org/Organization" class="reg-courses__item-cont">
          <h3 class="reg-courses__h3"><span itemprop="name">НОВОСИБИРСКИЙ ЦЕНТР ПОВЫШЕНИЯ КВАЛИФИКАЦИИ РАБОТНИКОВ ЗДРАВООХРАНЕНИЯ</span></h3>
          <ul class="reg-courses__grid">
            <li class="reg-courses__col _1">
              <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="reg-courses__img-cont">
                <img itemprop="url" src="http://placehold.it/400x275" alt="Страхование здоровья">
                <meta itemprop="width" content="400">
                <meta itemprop="height" content="275">
              </div>
            </li>
            <li class="reg-courses__col _2">

              <div class="reg-courses__ul-cont">
                <h4 class="reg-courses__ul-head">Основные направления деятельности:</h4>
                <ul class="reg-courses__ul">
                  <li itemprop="description" class="reg-courses__li">дополнительное профессиональное образование медицинских работников;</li>
                  <li itemprop="description" class="reg-courses__li">повышение квалификации среднегомедицинского персонала и врачей;</li>
                  <li itemprop="description" class="reg-courses__li">первичная специализация среднегомедперсонала по направлениям;</li>
                  <li itemprop="description" class="reg-courses__li">аттестация средних медработников.</li>
                </ul>
              </div>
            </li>
            <li class="reg-courses__col _3">
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="reg-courses__contact-cont">
                <h4 class="reg-courses__contact-head">Контакты:</h4>
                <div class="reg-courses__address"><span itemprop="addressLocality">Новосибирск г.</span>,<br> <span itemprop="streetAddress">Немировича-Данченко ул., 126</span></div>
                <span class="reg-courses__phones-head">Телефоны:</span>
                <span  itemprop="telephone" class="reg-courses__phone _1">(383) 346-54-74</span>
                <span  itemprop="telephone" class="reg-courses__phone _2">(383) 346-25-45</span>
                <div class="reg-courses__link-cont">Сайт: <a itemprop="url" title="" href="#!" class="reg-courses__link">www.ippknsu.ru</a></div>
              </div>
            </li>
          </ul>
        </div>

        <div itemscope itemtype="http://schema.org/Organization" class="reg-courses__item-cont">
          <h3 class="reg-courses__h3"><span itemprop="name">НОВОСИБИРСКИЙ ЦЕНТР ПОВЫШЕНИЯ КВАЛИФИКАЦИИ РАБОТНИКОВ ЗДРАВООХРАНЕНИЯ</span></h3>
          <ul class="reg-courses__grid">
            <li class="reg-courses__col _1">
              <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" class="reg-courses__img-cont">
                <img itemprop="url" src="http://placehold.it/400x275" alt="Страхование здоровья">
                <meta itemprop="width" content="400">
                <meta itemprop="height" content="275">
              </div>
            </li>
            <li class="reg-courses__col _2">

              <div class="reg-courses__ul-cont">
                <h4 class="reg-courses__ul-head">Основные направления деятельности:</h4>
                <ul class="reg-courses__ul">
                  <li itemprop="description" class="reg-courses__li">дополнительное профессиональное образование медицинских работников;</li>
                  <li itemprop="description" class="reg-courses__li">повышение квалификации среднегомедицинского персонала и врачей;</li>
                  <li itemprop="description" class="reg-courses__li">первичная специализация среднегомедперсонала по направлениям;</li>
                  <li itemprop="description" class="reg-courses__li">аттестация средних медработников.</li>
                </ul>
              </div>
            </li>
            <li class="reg-courses__col _3">
              <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="reg-courses__contact-cont">
                <h4 class="reg-courses__contact-head">Контакты:</h4>
                <div class="reg-courses__address"><span itemprop="addressLocality">Новосибирск г.</span>,<br> <span itemprop="streetAddress">Немировича-Данченко ул., 126</span></div>
                <span class="reg-courses__phones-head">Телефоны:</span>
                <span  itemprop="telephone" class="reg-courses__phone _1">(383) 346-54-74</span>
                <span  itemprop="telephone" class="reg-courses__phone _2">(383) 346-25-45</span>
                <div class="reg-courses__link-cont">Сайт: <a itemprop="url" title="" href="#!" class="reg-courses__link">www.ippknsu.ru</a></div>
              </div>
            </li>
          </ul>
        </div>

        <a href="#!" class="link-arrow news__btn ">перейти в раздел</a>
      </div>

  </section>


</main>

@@include('./templates/footer.html', {
"js": "regions-education"
})