@@include('./templates/header.html', {
    "css": "resort"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<section class="page-content">
	<div class="resort-wrap">
		<div class="container-fluid max-width">
			<div class="row">
				<div class="col-md-12">
					<h1>Виды лечебных курортов в России</h1>
				</div>
				<div class="col-md-12">
					<div class="col-md-3 col-sm-6">
						<a href="#" class="resort-wrap__roundwrap active">
							<div class="resort-wrap__roundtext top">
								Бальнеологические лечебные курорты
							</div>
							<div class="resort-wrap__round">
								<img src="http://placehold.it/207x207" alt="">
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="#" class="resort-wrap__roundwrap" style="margin-top: 260px;">
							<div class="resort-wrap__round">
								<img src="http://placehold.it/207x207" alt="">
							</div>
							<div class="resort-wrap__roundtext bottom">
								Климатические лечебные курорты
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="#" class="resort-wrap__roundwrap" style="margin-top: 40px;">
							<div class="resort-wrap__roundtext top">
								Грязевые лечебные курорты
							</div>
							<div class="resort-wrap__round">
								<img src="http://placehold.it/207x207" alt="">
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6">
						<a href="#" class="resort-wrap__roundwrap" style="margin-top: 250px;">
							<div class="resort-wrap__round">
								<img src="http://placehold.it/207x207" alt="">
							</div>
							<div class="resort-wrap__roundtext bottom">
								Бальнеологические лечебные курорты
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="n-mud">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<h2>Грязелечение</h2>
				</div>
				<div class="col-md-9">
					<p>
						является одним из наиболее древних методов лечения с использованием природных факторов. 
						Лечебные грязи при многих заболеваниях применяли в Древнем Египте, Древнем Риме, Индии.
						<br><br>
						Одним из самых древних можно считать применение лечения грязями в Крыму, о чем свидетель
						ствуют записи Плиния Старшего. Лечебными грязями озера Чокрак, расположенного на севере 
						Керченского полуострова, лечились раненые воины Александра Македонского, а крымские 
						ханы использовали чокракские грязи не только для лечения, но и для умножения мужской силы 
						перед посещением своих знаменитых гаремов. О «египетском» способе лечения иловой грязью 
						Нила писал Клавдий Гален во II в. до н.э. В Италии в древние времена заметили быстрое зажив-
						ление ран на ногах лошадей, проходивших через грязи вдоль минеральных ручьев. С тех пор, 
						грязи настоянные на минеральной воде получили название фанго – Fango termale. 
					</p>
				</div>
				<div class="col-md-12">
					<div class="col-nopadding">
						<div class="row">
							<div class="col-md-6">
								<a href="#" class="n-mud__img">
									<img src="http://placehold.it/600x415" alt="">
									<div class="n-mud__label">Лечебные грязи, классификация </div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="#" class="n-mud__img">
									<img src="http://placehold.it/600x415" alt="">
									<div class="n-mud__label">Противопоказания к грязелечению </div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="#" class="n-mud__img">
									<img src="http://placehold.it/600x415" alt="">
									<div class="n-mud__label">Механизм действия лечебных грязей</div>
								</a>
							</div>
							<div class="col-md-6">
								<a href="#" class="n-mud__img">
									<img src="http://placehold.it/600x415" alt="">
									<div class="n-mud__label">Показания к грязелечению </div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mud-resort">
		<div class="container-fluid">
			<div class="page-header">Грязевые курорты:</div>
			<div class="mud-resort__padding">
				<div class="row">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active" role="presentation">
							<a href="#russia" class="mud-resort__tabhead" aria-controls="russia" role="tab" data-toggle="tab">в России</a>
						</li>
						<li class="" role="presentation">
							<a href="#world" class="mud-resort__tabhead" aria-controls="world" role="tab" data-toggle="tab">за Рубежом</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="russia">
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии, 
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade in" id="world">
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
								<div class="mainBanner _center-bottom mud-resort__el">
									<span data-picture="" data-alt="Камни в почках">
            							<span data-src="http://placehold.it/414x414"></span>
            							<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            							<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            							<noscript>
            							    <img src="http://placehold.it/1920x450" alt="">
            							</noscript>
        							</span>

									<div class="mainBanner__content mud-resort__eldesc">
										<div class="line1">Марциальные воды.</div>
										<div class="line2">
											Санаторий «Марциальные воды» расположен в значительном удалении от крупных городов в живописнейшем месте Карелии,
											окруженном несколькими озерами. <a href="">подробнее ></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	@@include('./templates/paginator.html')
	
</section>

</main>

@@include('./templates/footer.html', {
    "js": "resort"
})