@@include('./templates/header.html', {
"css": "resort-inner"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="page-content">
        <section class="mainBanner _center-bottom">
		    <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
                </noscript>
            </span>

            <div class="mainBanner__content">
                <h1>
                    Курорты горячий ключ
                </h1>
            </div>
        </section>

        @@include('./templates/socialprops.html')

        <div class="resort-feed wobefore">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p class="resort-feed__p">
                            Пятигорск. Входит в число не только лучших бальнеологических курортов нашей страны, это еще
                            и самый крупный по численности населения город в КавМинВодах. В санаториях Пятигорска
                            активно применяются бальнеологические методы лечения, основанные на принятии горячих
                            сероводородных и радоновых ванн. В дополнение к этим процедурам используется и грязелечение,
                            которое проходит с применением целебной грязи Тамбуканского озера.
                            Более того, вблизи горы Машук расположен один источник минеральной воды, которая по своему
                            составу практически не уступает водам чешских Карловых Вар.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="resort-map" id="resortMap"></div>
        <div class="resort-feed">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p class="resort-feed__p">
                            <img src="css/pics/resort_inner/resort2.png" class="pull-left" alt="">
                            Пятигорск. Входит в число не только лучших бальнеологических курортов нашей страны, это еще
                            и самый крупный по численности населения город в КавМинВодах. В санаториях Пятигорска
                            активно применяются бальнеологические методы лечения, основанные на принятии горячих
                            сероводородных и радоновых ванн. В дополнение к этим процедурам используется и грязелечение,
                            которое проходит с применением целебной грязи Тамбуканского озера.
                            Более того, вблизи горы Машук расположен один источник минеральной воды, которая по своему
                            составу практически не уступает водам чешских Карловых Вар.
                        </p>
                        <p class="resort-feed__p">
                            Пятигорск. Входит в число не только лучших бальнеологических курортов нашей страны, это еще
                            и самый крупный по численности населения город в КавМинВодах. В санаториях Пятигорска
                            активно применяются бальнеологические методы лечения, основанные на принятии горячих
                            сероводородных и радоновых ванн.
                            <img src="css/pics/resort_inner/resort3.png" class="pull-right" alt="">
                            В дополнение к этим процедурам используется и грязелечение, которое проходит с применением
                            целебной грязи Тамбуканского озера.
                            Более того, вблизи горы Машук расположен один источник минеральной воды, которая по своему
                            составу практически не уступает водам чешских Карловых Вар.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container-fluid n-plane">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resort-feed__gallery big">
                            <img src="css/pics/resort_inner/resort1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="resort-feed__gallery">
                            <img src="css/pics/resort_inner/resort2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="resort-feed__gallery">
                            <img src="css/pics/resort_inner/resort3.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="resort-feed__gallery">
                            <img src="css/pics/resort_inner/resort4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="resort-feed__p">
                            Пятигорск. Входит в число не только лучших бальнеологических курортов нашей страны, это еще
                            и самый крупный по численности населения город в КавМинВодах. В санаториях Пятигорска
                            активно применяются бальнеологические методы лечения, основанные на принятии горячих
                            сероводородных и радоновых ванн. В дополнение к этим процедурам используется и грязелечение,
                            которое проходит с применением целебной грязи Тамбуканского озера.
                            Более того, вблизи горы Машук расположен один источник минеральной воды, которая по своему
                            составу практически не уступает водам чешских Карловых Вар.
                        </p>
                        <p class="resort-feed__p subp">
                            Пятигорск. Входит в число не только лучших бальнеологических курортов нашей страны, это еще
                            и самый крупный по численности населения город в КавМинВодах. В санаториях Пятигорска
                            активно применяются бальнеологические методы лечения, основанные на принятии горячих
                            сероводородных и радоновых ванн. В дополнение к этим процедурам используется и грязелечение,
                            которое проходит с применением целебной грязи Тамбуканского озера.
                            Более того, вблизи горы Машук расположен один источник минеральной воды, которая по своему
                            составу практически не уступает водам чешских Карловых Вар.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="n-tours resort-tours">
            <div class="page-header">Лечебные туры:</div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <a href="#" class="n-tours__el">
                            <img class="img-responsive" src="http://placehold.it/300x260" alt="">
                            <div class="n-tours__desc">
                                Чехия. Лечение сердечно-сосудистых заболеваний
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="n-tours__el">
                            <img class="img-responsive" src="http://placehold.it/300x260" alt="">
                            <div class="n-tours__desc">
                                Чехия. Лечение сердечно-сосудистых заболеваний
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="n-tours__el">
                            <img class="img-responsive" src="http://placehold.it/300x260" alt="">
                            <div class="n-tours__desc">
                                Чехия. Лечение сердечно-сосудистых заболеваний
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @@include('./templates/inner-tags.html')
        @@include('./templates/also-you-will-be-interested.html', {
        "title": "Другие статьи"
        })

    </div>

</main>

@@include('./templates/footer.html', {
"js": "resort-inner"
})