@@include('./templates/header.html', {
"css": "right-food"
})
<span class="svginclude">
@@include('../source/svg/svg-right-food.html')
</span>
<main class="main">
    @@include('./templates/breadcrumbs.html')
    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-1"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Секреты <br> здорового питания
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-2"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Правильное питание при различных заболеваниях
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-3"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Советы <br> специалистов
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-4"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Рецепты
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-5"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Создай свое меню
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-6"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            Фитнес
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-icons-7"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            ONLINE сервисы
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="secrets" class="secrets">

        <div class="secrets__title">
            <h2 class="secrets__title-content">Секреты здорового питания</h2>
        </div>

        <div class="secrets__cont">
            <ul class="secrets__how-to">
                <li class="_1">
                    <a href="#!" class="secrets__link">
                        Как снизить калорийность блюд:
                        <span class="secrets__big">6 отличных решений</span>
                    </a>
                </li>
                <li class="_2">
                    <a href="#!" class="secrets__link">Правильно сочетаем продукты</a>
                </li>
                <li class="_3">
                    <a href="#!" class="secrets__link">
                        Здоровые перекусы и умные советы
                        о том, как их лучше съедать
                    </a>
                </li>

            </ul>
            <a href="#!" class="link-arrow">перейти в раздел</a>
        </div>
    </section>

    <section id="right-food" class="right-food">

        <div class="right-food__title">
            <h2 class="right-food__title-content">Правильное питание при заболеваниях</h2>
        </div>

        <div class="right-food__cont">
            <form action="#" class="diag-form__input-group clearfix">
                <div class="diag-form__label">Выберите интересующий Вас раздел и получите меню питания прямо сейчас
                </div>
                <div class="drop _select">
                    <button type="button" class="drop__toggle">
                        меню для снижения веса
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">Меню 1</li>
                                <li class="drop__li">Меню 2</li>
                                <li class="drop__li">Меню 3</li>
                                <li class="drop__li">Меню 4</li>
                                <li class="drop__li">Меню 5</li>
                                <li class="drop__li">Меню 6</li>
                                <li class="drop__li">Меню 7</li>
                                <li class="drop__li">Меню 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn _yellow right-food__btn" title="Подобрать индивидуальный план питания">
                    показать
                    питание
                </button>
            </form>
            <div class="right-food__bot-cont">
                <div class="grid-cont right-food__grid-cont">
                    <div class="row">
                        <div class="col-md-4 grid-cont__each-cont ">
                            <h3 class="grid-cont__head">Завтрак</h3>
                            <ul class="grid-cont__ul _1">
                                <li>2 яйца (всмятку/отварных)</li>
                                <li>Огурец,помидор</li>
                                <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                <li>Травяной чай</li>
                            </ul>
                        </div>
                        <div class="col-md-4  grid-cont__each-cont ">
                            <h3 class="grid-cont__head">Завтрак</h3>
                            <ul class="grid-cont__ul _2">
                                <li>2 яйца (всмятку/отварных)</li>
                                <li>Огурец,помидор</li>
                                <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                <li>Травяной чай</li>
                            </ul>
                        </div>
                        <div class="col-md-4  grid-cont__each-cont ">
                            <h3 class="grid-cont__head">Завтрак</h3>
                            <ul class="grid-cont__ul _3">
                                <li>2 яйца (всмятку/отварных)</li>
                                <li>Огурец,помидор</li>
                                <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                <li>Травяной чай</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4  grid-cont__each-cont ">
                            <h3 class="grid-cont__head">Завтрак</h3>
                            <ul class="grid-cont__ul _4">
                                <li>2 яйца (всмятку/отварных)</li>
                                <li>Огурец,помидор</li>
                                <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                <li>Травяной чай</li>
                            </ul>
                        </div>
                        <div class="col-md-4  grid-cont__each-cont ">
                            <h3 class="grid-cont__head">Завтрак</h3>
                            <ul class="grid-cont__ul _5">
                                <li>2 яйца (всмятку/отварных)</li>
                                <li>Огурец,помидор</li>
                                <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                <li>Травяной чай</li>
                            </ul>
                        </div>

                        <div class="col-md-4 grid-cont__circle-cont">
                            <a href="#!">
                                <div class="grid-cont__circle"></div>
                                <span class="grid-cont__txt">следующий день&#62;</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right-food__img-cont">
                    <a href="#!" title="12 продуктов, на употребление которых повлияли тренды в питании">
                        <img src="img/right-food/right-food/trands.jpg"
                             alt="12 продуктов, на употребление которых повлияли тренды в питании">
                    </a>
                </div>
            </div>

        </div>
    </section>

    @@include('./templates/advices.html')

    <section id="recipes" class="recipes">

        <div class="recipes__title">
            <h2 class="recipes__title-content">Рецепты</h2>
        </div>

        <div class="recipes__cont">
            <div class="row">
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты салатов">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-1.jpg"
                                 alt="рецепты салатов">
                        </div>
                        <h3 class="recipes__head"><span>салаты</span></h3>
                    </a>
                </div>
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты для мультиварок">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-2.jpg"
                                 alt="рецепты для мультиварок">
                        </div>
                        <h3 class="recipes__head"><span>рецепты <br> для мультиварок</span></h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты первых блюд">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-3.jpg"
                                 alt="рецепты первых блюд">
                        </div>
                        <h3 class="recipes__head"><span>первые блюда</span></h3>
                    </a>
                </div>
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты выпечки">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-1.jpg"
                                 alt="рецепты выпечки">
                        </div>
                        <h3 class="recipes__head"><span>выпечка</span></h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты вторых блюд">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-1.jpg"
                                 alt="рецепты вторых блюд">
                        </div>

                        <h3 class="recipes__head"><span>вторые блюда</span></h3>
                    </a>
                </div>
                <div class="col-sm-6 recipes__each-cont">
                    <a class="recipes__link" href="#!" title="Рецепты десертов">
                        <div class="recipes__img-cont">
                            <img src="img/right-food/recipes/recipe-1.jpg"
                                 alt="рецепты десертов">
                        </div>

                        <h3 class="recipes__head"><span>десерты</span></h3>
                    </a>
                </div>
            </div>


        </div>
    </section>

    <section id="menu" class="menu">

        <div class="menu__title">
            <h2 class="menu__title-content">Создай свое меню</h2>
        </div>
        <div class="menu__cont">
            <h3 class="menu__head">Создай свою оптимальную программу питания!</h3>
            <div class="menu__txt">
                Наш сервис учтет Ваши вкусовые предпочтения и подберет уникальное меню с рецептами,
                исходя из ваших запросов.Кроме того, вы получите все необходимые данные о
                калорийности продуктов и размерах порций
            </div>
            <div class="menu__list-cont">
                <ul class="menu__ul">
                    <li class="menu__li _1">Выберите продукты, которые Вы любите</li>
                    <li class="menu__li _2">Укажите, сколько раз в день вы питаетесь, и с каким интервалом</li>
                    <li class="menu__li _3">Какой вес вы хотите достичь?</li>
                    <li class="menu__li _4">Сохраните заполненную форму</li>
                </ul>
                <a class="btn menu__btn" title="Создать собственное меню">создать свое меню&#62;</a>
            </div>
        </div>
    </section>

    <section id="sport" class="sport">
        <div class="sport__title">
            <h2 class="sport__title-content">Спорт</h2>
        </div>
        <div class="mainBanner _right sport__img-bg-cont">

      <span data-picture="" data-alt="Упражнения для стройной фигуры">
        <span data-src="http://placehold.it/414x414"></span>
        <span data-src="img/right-food/sport/sport-bg-sm.jpg" data-media="(min-width: 414px)"></span>
        <span data-src="img/right-food/sport/sport-bg.jpg" data-media="(min-width: 992px)"></span>
        <noscript>
          <img src="img/right-food/sport/sport-bg.jpg" alt="">
        </noscript>
      </span>
            <div class="mainBanner__content">
                <div class="sport__txt-cont">
                    <a href="#!" title="упражнения для стройной фигуры" class="sport__link">
                        <div class="sport__big">10</div>
                        <div class="sport__medium">эффективных <br>упражнений</div>
                        <div class="sport__small">для стройной фигуры</div>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section id="services" class="services chess">
        <div class="services__title">
            <h2 class="services__title-content">online сервисы</h2>
        </div>

        <div class="services__cont">
            <div class="services__frame-txt">
                <div class="services__txt-cont frame-bord _gray-5px">
                    <h3 class="services__head">Создавайте <span class="services__big">свое меню</span></h3>
                    <div class="services__txt">с учетом продуктов, которые Вы любите</div>
                    <a class="btn _tran _black services__btn" title="Создать меню">создать меню</a>
                </div>
            </div>

            <div class="services__frame-txt">
                <div class="services__txt-cont frame-bord _gray-5px">
                    <h3 class="services__head">Какой продукт калорийнее?</h3>
                    <div class="services__txt">проверь себя и проведи время с пользой</div>
                    <a class="services__link" title="играть онлайн">online - игра</a>
                </div>
            </div>
        </div>
    </section>

    <div class="calory-info">
        <div class="calory-info__cont">
            <div class="calory-info__txt-cont">
                <ul class="calory-info__ul">
                    <li class="calory-info__li">Что нужно знать о калориях?</li>
                    <li class="calory-info__li">Какой Ваш суточный рацион</li>
                    <li class="calory-info__li">Сколько нужно тратить калорий в день?</li>
                    <li class="calory-info__li">Самые “опасные” продукты</li>
                </ul>
                <a class="btn _blue calory-info__btn" title="Создать меню">Калькулятор калорий</a>
            </div>
        </div>
    </div>

    <section id="calc-lose-weight" class="calc-lose-weight">

        <div class="calc-lose-weight__cont">
            <div class="calc-lose-weight__frame-txt">
                <div class="calc-lose-weight__txt-cont frame-bord _gray-5px">
                    <h3 class="calc-lose-weight__head">Худей правильно!</h3>
                    <a class="btn _blue calc-lose-weight__btn" title="Калькулятор похудения">Калькулятор похудения</a>
                </div>
            </div>

            <div class="calc-lose-weight__frame-txt">
                <div class="calc-lose-weight__txt-cont frame-bord _gray-5px">
                    <h3 class="calc-lose-weight__head">Узнай тип своего телосложения по обхвату запястья</h3>
                    <a class="btn _blue calc-lose-weight__btn" title="Узнай тип своего телосложения">Узнать сейчас</a>
                </div>
            </div>
        </div>
    </section>

    <section id="calc-head" class="calc-head">
        <div class="calc-head__cont">
            <h2 class="calc-head__head">Узнайте Ваш идеальный вес</h2>
            <div class="calc-head__switch-cont">
                <div class="calc-head__people-cont calc-head__man-cont _active"></div>
                <div class="calc-head__people-cont calc-head__woman-cont"></div>
                <div class="calc-head__btn calc-head__man-btn _active">Вы - мужчина</div>
                <div class="calc-head__btn calc-head__woman-btn">Вы - женщина</div>
            </div>
            <div class="calc-head__input-cont">
                <label class="calc-head__label" for="height">Ваш рост:</label>
                <input class="calc-head__input" id="height" type="number" placeholder="">
                <span class="calc-head__units">кг</span>
            </div>
            <div class="calc-head__input-cont">
                <label class="calc-head__label" for="weight">Ваш вес:</label>
                <input class="calc-head__input" id="weight" type="number" placeholder="">
                <span class="calc-head__units">см</span>
            </div>
        </div>
    </section>

    <section class="service-group">
        <div class="service-group__cont">
            <div id="fitness" class="_fitness service-group__each-cont">
                <div class="service-group__frame-txt">
                    <div class="service-group__txt-cont frame-bord _gray-5px">
                        <h3 class="service-group__head"><span class="service-group__big">ФИТНЕС:</span>Как набрать
                            мышечную массу?
                        </h3>
                        <a class="btn _blue service-group__btn" title="Создать меню">Рассчитать калории для набора
                            мышечной
                            массы</a>
                    </div>
                </div>
            </div>

            <div class="_physical service-group__each-cont">
                <div class="service-group__frame-txt ">
                    <div class="service-group__txt-cont frame-bord _gray-5px">
                        <h3 class="service-group__head"><span class="service-group__big">Узнать все</span>о <span
                                class="service-group__green">физическом состоянии </span>своего организма</h3>
                        <a class="btn _blue service-group__btn" title="">калькулятор физического состояния</a>
                    </div>
                </div>
            </div>

            <div class="_runner service-group__each-cont">
                <div class="service-group__frame-txt">
                    <div class="service-group__txt-cont frame-bord _gray-5px">
                        <h3 class="service-group__head"><span class="service-group__big">Сколько</span><span
                                class="service-group__medium">калорий </span><span class="service-group__small">сжигается </span>во
                            время бега или ходьбы?</h3>
                        <a class="btn _blue service-group__btn" title="Узнать количество калорий">узнать прямо
                            сейчас</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="calc-puls">
        <div class="calc-puls__cont">
            <div class="calc-puls__txt-cont">
                <ul class="calc-puls__ul">
                    <li>Как определить допустимую норму физических нагрузок?</li>
                    <li>Какой мой оптимальный пульс для занятий спортом?</li>
                    <li>При каком пульсе начинается процесс жиросжигания?</li>
                </ul>
                <a class="btn _blue calc-puls__btn" title="">калькулятор пульса</a>
            </div>
            <a href="#!" class="link-arrow">перейти в раздел</a>
        </div>
    </div>

</main>

@@include('./templates/footer.html', {
"js": "right-food"
})