@@include('./templates/header.html', {
    "css": "running"
})

<main class="main">

@@include('./templates/breadcrumbs.html')
	
<div class="page-background" style="background: url(css/pics/runnung/running_sena.png) no-repeat right 50px;">
	<section class="page-content n-page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h1 class="n-page-header__h1">Калькулятор расчета калорий<br>во время бега или ходьбы</h1>
				</div>
			</div>
		</div>
	</section>
	<div class="page-content n-quoteblock">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-1">
					<div class="n-quoteblock__quote">
						Калькулятор рассчитывает, сколько калорий сжигает километр бега или ходьбы.
						Введите Ваш вес и расстояние в километрах или задайте дистанцию на карте 
						и калькулятор покажет таблицу с расходом калорий при беге или пешком для 
						заданного количества километров.
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="n-calcform">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-7 col-sm-12">
					<form class="n-calcform__form">
						<h2 class="n-calcform__h2">
							Заполните форму:
						</h2>
						<div class="form-border">
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Ваш вес</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Время в пути</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="n-calcform__leftcaption">Расстояние</div>
									<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
										<input type="text" class="n-calcform__input">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="n-calcform__map">
							<div class="n-calcform__mapheader">Также Вы можете рассчитать расстояние, проложив маршрут на карте </div>
							<div class="n-calcform__mapcontainer">
								<div class="n-calcform__mapelement" id="resortMap"></div>
							</div>
						</div>
						<button class="n-calcform__button">
							рассчитать
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div class="n-graphresult">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="n-graphresult__graphheader">Ваш результат:</h3>
					<h4 class="n-graphresult__graphsubheader">График калорий за 1.746 км при беге и ходьбе</h4>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Ходьба, 5,5 км/ч, по твердой, ровной<br>поверхности, ходьба пешком длямоциона</span>										
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:74.8%;"></div>
									<div class="n-graphresult__linetext">74.8</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Ходьба, 4,5 км/ч, умеренная нагрузка,<br>по ровной, твердой поверхности</span>	
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:50.4%;"></div>
									<div class="n-graphresult__linetext">79.4</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Ходьба, 3 км/ч, медленный темп,<br>поровной, твердой поверхности</span>						
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:60.2%;"></div>
									<div class="n-graphresult__linetext">90.2</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Ходьба, 8 км/ч</span>					
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:70.2%;"></div>
									<div class="n-graphresult__linetext">90.2</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Бег, 8 км/ч (7,5 мин/км)</span>				
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:80.2%;"></div>
									<div class="n-graphresult__linetext">90.2</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Бег, 16 км/ч (3,8 мин/км)</span>				
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:80.2%;"></div>
									<div class="n-graphresult__linetext">90.2</div>
								</div>
							</div>
						</div>
					</div>
					<div class="n-graphresult__container">
						<div class="row">
							<div class="col-md-6">
								<div class="n-graphresult__graphtext text-right">
									<span>Бег, 12 км/ч (5 мин/км)</span>				
								</div>
							</div>
							<div class="col-md-6">
								<div class="n-graphresult__graphlinewrap">
									<div class="n-graphresult__graphline" style="width:80.2%;"></div>
									<div class="n-graphresult__linetext">90.2</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	@@include('./templates/also-you-will-be-interested.html', {
	"title": "Также Вам будет интересно"
	})

</div>

</main>

@@include('./templates/footer.html', {
    "js": "runnung"
})