@@include('./templates/header.html', {
"css": "sovet-vracha"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<section class="doctor-main">
	<div class="doctor-main__container">
		<div class="doctor-main__content clearfix">
			<a href="" class="doctor-main__img-wrap col-md-4">
				<img src="http://placehold.it/470x420" alt="doctor" class="doctor-main__img">
			</a>
			<div class="doctor-main__text-content col-md-8">
				<div class="doctor-main__about">
					<a href=""><h2>Гаврилов Игорь Александрович</h2></a>
					<div>
						<p><span>Стаж работы:</span> 13 лет</p> 
						<p><span>Звание:</span> Врач первой категории</p>
						<p><span>Специализация:</span> Гастроэнтеролог</p>
						<p><span>Город:</span> Москва</p>
						<p><span>Клиника:</span> Интермед</p>
						<p><span>Адрес:</span> г. Москва, ул. 40 лет Победы, д.108</p>
					</div>
				</div>
				<div class="doctor-main__descr">
					<h3>О враче</h3>
					<div>Закончила Кубанский медицинский институт по специальности «Лечебное дело». Ординатура – на кафедре внутренних болезней Кубанского медицинского института. Имеет 26-ти летний опыт работы в гастроэнтерологическом отделении Краснодарской краевой больницы им.Очаповского. Имеет 26 печатных научных работ по гастроэнтерологии. Является участников общероссийских и международных конференций по гастроэнтерологии, направленных на использование современных методов лечения болезней органов брюшной полости медикаментозного и немедикаментозного характера. Работает в Краснодарской бальнеолечебнице с февраля 2014 года.</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="catalog-advice">
	<div class="catalog-advice__title">
		<h2>Справочник:</h2>
	</div>
	<div class="catalog-advice__container">
		<div class="catalog-advice__items">
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
			<div class="catalog-advice__item clearfix">
				<a href="" class="catalog-advice__img-wrap col-md-4">
					<img src="http://placehold.it/455x400" alt="" class="catalog-advice__img">
				</a>
				<div class="catalog-advice__text-content col-md-8">
					<a href=""><h3>Готовимся к лету: <br>Как убрать целлюлит</h3></a>
					<div class="catalog-advice__doctor">от <a href="">Сергеевой Инны Николаевны</a>, г. Москва</div>
					<div>Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах. Целлюлит на ногах – довольно частая проблема, с которой сталкивается практически каждая 2-ая женщина. Причин появления целлюлита на ногах довольно таки много – малоподвижный образ жизни, стрессы, неправильное питание. Это всего лишь вершина айсберга, но углубляться далее не имеет смысла. Целлюлит на ногах – это факт и с этим надо что-то делать. Целлюлит на ногах должен быть уничтожен - смотрим, как избавиться от проблемы, убрать целлюлит на ногах.
					</div>
				</div>
			</div>
		</div>
		@@include('./templates/paginator.html')
	</div>
</section>

</main>

@@include('./templates/footer.html', {
"js": "sovet-vracha"
})