@@include('./templates/header.html', {
"css": "sovet-inner"
})

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <section class="mainBanner _right-bottom">
		<span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="">
            </noscript>
        </span>

        <div class="mainBanner__content">
            <h1>
                <strong>Камни в почках:</strong> <br>
                мифы и факты <br>
                об их растворении
            </h1>
        </div>

    </section>

    @@include('./templates/socialprops.html')

    <section class="advice-article">
        <div class="advice-article__content-1">
            <div class="advice-article__container">
                <div class="advice-article__img-wrap">
                    <img src="http://placehold.it/300x300" alt="" class="advice-article__img" width="300" height="300">
                </div>
                <div class="advice-article__text-content">
                    <div><h2>Евгеcний Шпоть</h2> - врач-уролог, кандидат медицинских наук, доцент кафедры урологии
                        лечебного факультета Первого МГМУ им. И. М. Сеченова
                    </div>
                    <p>Если вдруг у думающего человека обнаружили камни в почках, он начинает размышлять и приходит к
                        выводу: если камни образуются в результате нарушения обмена веществ, значит этот процесс можно
                        запустить вспять.</p>
                    <p>Интернет пестрит огромным разнообразием рецептов: говорят, можно растворить камень пихтовым
                        маслом, минеральной водой, кислыми соками и даже просто обычной водой. Что из этого правда, а
                        что нет, рассказывает Евгений Шпоть, врач-уролог, кандидат медицинских наук, доцент кафедры
                        урологии лечебного факультета Первого МГМУ им. И. М. Сеченова</p>
                    <p>Литолитическая терапия – то есть растворение камней в почках и мочеточнике с помощью медикаментов
                        – наиболее эффективна у пациентов с уратными камнями. Основа таких камней – соли мочевой
                        кислоты.</p>
                </div>
            </div>
        </div>
        <div class="advice-article__special-block">
            <div class="advice-article__container">
                <div class="advice-article__content  clearfix">
                    <div class="advice-article__text-content advice-article__text-content_spec col-md-8">
                        <h2>Как отличить?</h2>
                        <p>При диагностике уратные камни хорошо видны на УЗИ, но, в отличие от других типов камней, не
                            видны на рентгене, что связано с их невысокой плотностью. Точно сказать о составе камня
                            можно, исследовав ранее отошедший или удаленный при операции камень. Анализом,
                            подтверждающим наличие уратных камней, является pH-метрия, при которой кислотность мочи ниже
                            нормы. Иногда для уточнения диагноза пациенту назначают компьютерную томограмму – с помощью
                            этого исследования можно узнать точную плотность камня. Но это исследование необязательно:
                            если на УЗИ камень есть, а на рентгене – нет и неоднократно определяется смещение pH мочи в
                            сторону кислой, значит, можно попробовать его растворить.</p>
                    </div>
                    <div class="advice-article__img-wrap_spec col-md-4">
                        <img src="img/sovet-inner/advice-article-spec.png" alt="" class="advice-article__img-spec">
                    </div>
                </div>
            </div>
        </div>
        <div class="advice-article__content-2">
            <div class="advice-article__container">
                <div class="advice-article__text-content">
                    <p>Сегодня мочекаменная болезнь встречается как у взрослых, так и у грудничков. Образовавшиеся под
                        действием множества причин конкременты могут начинать движение вниз по мочевыводящим путям и
                        провоцировать приступы сильнейших болей, называемых почечной коликой, или закупоривать их и
                        вызывать развитие опасных для жизни осложнений. Поэтому своевременное лечение позволяет не
                        только обезопасить жизнь пациента, но и лишить его ужасных мучений. А наилучшим образом для
                        этого подходит литотрипсия или дробление камней в почках ультразвуком. Что такое ультразвуковая
                        литотрипсия? В основе метода дробления почечных конкрементов ультразвуком лежит направленное
                        воздействие высокоэнергетической ультразвуковой ударной волны на камень.</p>
                    <blockquote>Часто уратные камни возникают у пациентов с нарушенным пуриновым обменом, например при
                        подагре, поэтому всем пациентам с подозрением на уратный нефролитиаз необходимо определять
                        уровень мочевой кислоты в крови.
                    </blockquote>
                    <h2>Мечты о балансе</h2>
                    <p>Чтобы растворить уратный камень, надо понизить уровень мочевой кислоты – то есть надо повысить
                        кислотно-щелочной баланс (pH): чтобы моча из кислой стала слабокислой или щелочной. Для этого
                        назначаются цитратные препараты – щелочное питье. На растворение уратных камней требуется не
                        менее 2 месяцев, а в зависимости от размера камня лечение может затянуться и до полугода.
                        Поэтому при крупных уратных камнях (2 см и более) предпочтительнее сначала произвести сеанс
                        дистанционного или контактного эндоскопического дробления с последующим растворением оставшихся
                        мелких фрагментов. Важно сочетать такое лечение с правильно подобранной диетой и обильным
                        питьем.</p>
                    <p>К сожалению, к нам чаще всего попадают люди, у которых камень «пошел», то есть отправился в
                        путешествие из почки по мочеточнику. В таком случае времени на растворение уже нет. Ведь
                        движение камня может сопровождаться почечной коликой, осложняться обструктивным пиелонефритом.
                        Приходится принимать экстренные меры – тем или иным способом удалять камень, а растворять, по
                        возможности, оставшиеся.</p>
                    <h2>Мифы и факты о растворении камней</h2>
                    <ul>
                        <li>
                            <h3>1. Уратные камни можно растворять обычной водой.</h3>
                            <p>Отчасти это верно. При увеличении объема потребляемой жидкости кислотность мочи
                                понижается и снижается концентрация солей и небольшие уратные камни могут раствориться.
                                Однако далеко не все уратные камни растворяются даже с помощью препаратов. Камень может
                                оказаться смешанным по составу или с помощью препаратов не удается обеспечить постоянный
                                лечебный уровень pH мочи. Поэтому рекомендуется продолжать лечение цитратными
                                препаратами только при значимом прогрессе. Цитратная смесь имеет ряд побочных эффектов,
                                поэтому назначение таких препаратов и оценка эффективности должны происходить под
                                контролем врача.</p>
                        </li>
                        <li>
                            <h3>2. Для растворения камней надо употреблять кислое питье – лимонный или клюквенный
                                сок.</h3>
                            <p>Был у меня пациент, который последовал такой рекомендации. Каждый день в течение месяца
                                пил лимонный сок – и в итоге попал в больницу с перфорацией язвы желудка и
                                кровотечением. Лимонная кислота – одна из нескольких составляющих цитратных препаратов,
                                которая снижает всасывание кальция в желудочно-кишечном тракте, но не приводит к
                                растворению камней.</p>
                        </li>
                        <li>
                            <h3>3. Оксалатные камни, как и уратные, можно растворять с помощью щелочного питья.</h3>
                            <p>Важно отметить, что достоверно растворимы при проведении литолитической терапии только
                                мочекислые камни. Использование цитратных препаратов при кальций-оксалатных камнях
                                снижает риск камнеобразования после дробления.</p>
                        </li>
                        <li>
                            <h3>4. Пихтовое масло в сочетании с мочегонными травками позволяет растворять камни.</h3>
                            <p>Мочегонные травки при наличии камней в почках опасны. Пока камень находится в почке,
                                лечение не требуется, необходимо только регулярное наблюдение и определенная диета. Если
                                же регулярно пить мочегонные травы, камень может стронуться – а это может привести к
                                почечной колике и острому воспалению. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @@include('./templates/advice-feedback.html')

        @@include('./templates/inner-tags.html')

    </section>

    @@include('./templates/also-you-will-be-interested.html', {
    "title": "Другие статьи"
    })


</main>

@@include('./templates/footer.html', {
"js": "sovet-inner"
})