@@include('./templates/header.html', { "css": "sovet-vracha-main" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="advice-menu">
        <div class="advice-menu__container clearfix">
            <nav class="advice-menu__content col-md-10 col-md-offset-1 col-lg-7  col-lg-offset-3">
                <ul class="advice-menu__list">
                    <li><a href="#advice-article-menu"
                           class="advice-menu__list-item advice-menu__list-item-1">статьи</a></li>
                    <li><a href="#regions" class="advice-menu__list-item advice-menu__list-item-2">регионы</a></li>
                    <li><a href="#advice-specialist" class="advice-menu__list-item advice-menu__list-item-3">врач
                        месяца</a></li>
                    <li><a href="#advices" class="advice-menu__list-item advice-menu__list-item-4">советы
                        специалистов</a></li>
                    <li><a href="#map-footer" class="advice-menu__list-item advice-menu__list-item-5">поиск по карте</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

	<section id="advice-article-menu" class="advice-article-menu">
		<div class="advice-article-menu__title">
			<h2>Статьи</h2>
		</div>
		<div class="advice-article-menu__content">
			<div class="advice-article-menu__container">

				<div class="drop _select-input _blue-bor">
					<input class="drop__input" type="text" placeholder="Выберите направление">
					<button type="button" class="drop__toggle">
					</button>
					<div class="baron-all baron-all__clipper baron-all__root  drop__items">
						<div class="baron-all__scroller">
							<ul class="drop__ul">
								<li class="drop__li">направление 1</li>
								<li class="drop__li">направление 2</li>
								<li class="drop__li">направление 3</li>
								<li class="drop__li">направление 4</li>
								<li class="drop__li">направление 5</li>
								<li class="drop__li">направление 6</li>
								<li class="drop__li">направление 7</li>
								<li class="drop__li">направление 8</li>
							</ul>
						</div>
						<div class="baron-all__track">
							<div class="baron-all__free">
								<div class="baron-all__bar"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="advice-article-menu__items clearfix">
					<div class="advice-article-menu__item col-md-4">
						<div class="advice-article-menu__item-content">
							<a href="" class="advice-article-menu__img-wrap">
								<img src="http://placehold.it/400x275" alt="">
							</a>
							<div class="advice-article-menu__text-content">
								<time datetime="2016-09-21">21 сентября 2016</time>
								<h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
								<a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
								<div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
							</div>
						</div>
					</div>
					<div class="advice-article-menu__item col-md-4">
						<div class="advice-article-menu__item-content">
							<a href="" class="advice-article-menu__img-wrap">
								<img src="http://placehold.it/400x275" alt="">
							</a>
							<div class="advice-article-menu__text-content">
								<time datetime="2016-09-21">21 сентября 2016</time>
								<h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
								<a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
								<div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
							</div>
						</div>
					</div>
					<div class="advice-article-menu__item col-md-4">
						<div class="advice-article-menu__item-content">
							<a href="" class="advice-article-menu__img-wrap">
								<img src="http://placehold.it/400x275" alt="">
							</a>
							<div class="advice-article-menu__text-content">
								<time datetime="2016-09-21">21 сентября 2016</time>
								<h3><a href="">Дефицит амниотической жидкости: чем грозит маловодие</a></h3>
								<a href="">от Клапан Зинаиды Альбертовны, <br>г. Новосибирск</a>
								<div>Амниотическая жидкость – биологически активная жидкая среда, находящаяся внутри плодных оболочек во время беременности. Амниотическая жидкость окружает плод и является его естественной средой, играя при этом существенную роль в обеспечении его жизнедеятельности.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="advice-article-menu__link-wrap">
					<a href="#!" class="link-arrow">перейти в раздел</a>
				</div>
			</div>
		</div>
	</section>

    <section id="regions" class="regions-map">
        <div class="regions-map__title _advice">
            <h2>Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
        "img" : "sovet-vracha-main/regions-map.png",
        "title" : "Все советы от врачей вашего региона"
        })
    </section>

	<section id="advices" class="advices">
		<div class="advices__title">
			<h2 class="advices__title-content">Советы кардиологов:</h2>
		</div>
			<div class="drop _select-input _blue-bor">
				<input class="drop__input" type="text" placeholder="Выберите направление">
				<button type="button" class="drop__toggle">
				</button>
				<div class="baron-all baron-all__clipper baron-all__root  drop__items">
					<div class="baron-all__scroller">
						<ul class="drop__ul">
							<li class="drop__li">направление 1</li>
							<li class="drop__li">направление 2</li>
							<li class="drop__li">направление 3</li>
							<li class="drop__li">направление 4</li>
							<li class="drop__li">направление 5</li>
							<li class="drop__li">направление 6</li>
							<li class="drop__li">направление 7</li>
							<li class="drop__li">направление 8</li>
						</ul>
					</div>
					<div class="baron-all__track">
						<div class="baron-all__free">
							<div class="baron-all__bar"></div>
						</div>
					</div>
				</div>
			</div>
		<div class="advices__cont">
			<div class="row">
				<div class="col-lg-6">
					<div class="advices__each-cont _1">
						<div class="advices__img-cont">
							<a href="#!" title="Врач сторматолог">
								<img src="img/right-food/advices/doc-big.jpg" alt="Врач стоматолог">
							</a>
						</div>
						<div class="advices__txt-cont">
							<h3 class="advices__head">Как избавиться от зубного камня?</h3>
							<div class="advices__txt">
								Зубной камень - это твердое образование, которое возникает от скопления микробов в полости рта. Постепенно такой мик- робный налет оседает на зубной эмали, со временем отвер- девает и приобретает темный цвет, который может иметь раз- ные оттенки - от белого и желтого до коричневого. Обычно на- лет возникает в местах, которые трудно прочистить.
							</div>
						</div>
						<div class="advices__doc-data">
							<h3 class="advices__name">Юрий Федорович Жаворонок</h3>
							<div class="advices__city"><span class="advices__dark">Город: </span>Москва</div>
							<div class="advices__speciality"><span class="advices__dark">Специализация: </span>Врач - стоматолог
							</div>
							<div class="advices__experience"><span class="advices__dark">Стаж: </span>15 лет</div>
						</div>
					</div>
				</div>

                <div class="col-lg-6">
                    <div class="advices__each-cont _2">
                        <ul class="ul-doc advices__ul-doc">
                            <li class="ul-doc__link-cont _active">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-1.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-2.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-3.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="ul-doc__link-cont _last">
                                <a href="#!" title="Тедеев Эрик Сосланович">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="ul-doc__img-cont">
                                                <img src="img/right-food/advices/doc-sm-4.jpg"
                                                     alt="Тедеев Эрик Сосланович">
                                            </div>
                                        </div>
                                        <div class="col-sm-8 ul-doc__doc-data">
                                            <h3 class="ul-doc__name">Тедеев Эрик Сосланович</h3>
                                            <div class="ul-doc__city">город: Москва</div>
                                            <div class="ul-doc__speciality">специализация: хирург</div>
                                            <div class="ul-doc__experience">стаж: 31 год</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#!" class="link-arrow ">перейти в раздел</a>
        </div>
    </section>

</main>

@@include('./templates/footer.html', { "js": "sovet-vracha-main" })
