@@include('./templates/header.html', { "css": "sport-inner" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <section class="mainBanner _left">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="img/diabet-osnovnaya/slider-img.jpg" alt="" class="advice-banner__img">
            </noscript>
        </span>

        <div class="mainBanner__content">

        <h1>
            <strong>
                Эффективные упражнения
                для подтянутых рук
            </strong>
        </h1>
        </div>
    </section>

    @@include('./templates/socialprops.html')

    <div class="sportInner__container">
        <div class="sportInner__content">
            <p>
                Одно из самых нелепых и неприятных чувств — когда ваша рука продолжает «махать» кому-то на прощанье,
                когда вы уже перестали двигать ею. Если
                это ощущение вам знакомо не по-наслышке, тогда вы поймёте, насколько важна поднятая нами сегодня тема.
            </p>
            <p>
                Итак, если у вас дряблые мышцы рук и кожа свисает, подобно крыльям летучей мыши, это весьма неприятно и
                некрасиво и от такого безобразия не-
                пременно нужно избавиться. Главное — искренне этого захотеть и настроиться на результат, а мы подскажем
                вам, как это сделать максимально
                быстро и эффективно.
            </p>
        </div>
    </div>
    <div class="sportInner__content">
        <div class="sportInner__wrap">
            <div class="sportInner__item-wrapper">
                <div class="sportInner__item clearfix">
                    <div class="sportInner__img-wrap clearfix">
                        <div class="sportInner__img">
                            <img src="http://placehold.it/350x350" alt="item-1">
                        </div>
                    </div>
                    <div class="sportInner__item-content">
                        <div class="sportInner__item-counter"></div>
                        <h2>
                            Крути руками
                        </h2>
                        <p>
                            Начинаем битву за подтянутые и красивые руки с этого простого,
                            но действенного упражнения. Исходное положение — стоя, ноги
                            на ширине плеч. Поднимите руки на уровень плеч и разведите их
                            в стороны. Начните совершать вращательные движения руками
                            по часовой стрелке и старайтесь следить за тем, чтобы движения
                            были динамичными, а мышцы — напряженными. Через 30 секунд
                            поменяйте направление вращения. Продолжайте выполнять дан-
                            ное упражнение с периодической сменой направления враще-
                            ния в течение нескольких минут — пока не почувствуете жжение
                            в мышцах. Если данное упражнение даётся вам
                        </p>
                    </div>
                </div>
            </div>
            <div class="sportInner__item-wrapper">
                <div class="sportInner__item clearfix">
                    <div class="sportInner__img-wrap">
                        <div class="sportInner__img">
                            <img src="http://placehold.it/350x350" alt="item-2">
                        </div>
                    </div>
                    <div class="sportInner__item-content">
                        <div class="sportInner__item-counter"></div>
                        <h2>
                            Обратные отжимания
                        </h2>
                        <p>
                            Начинаем битву за подтянутые и красивые руки с этого простого,
                            но действенного упражнения. Исходное положение — стоя, ноги
                            на ширине плеч. Поднимите руки на уровень плеч и разведите их
                            в стороны. Начните совершать вращательные движения руками
                            по часовой стрелке и старайтесь следить за тем, чтобы движения
                            были динамичными, а мышцы — напряженными. Через 30 секунд
                            поменяйте направление вращения. Продолжайте выполнять дан-
                            ное упражнение с периодической сменой направления враще-
                            ния в течение нескольких минут — пока не почувствуете жжение
                            в мышцах. Если данное упражнение даётся вам
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="calory-info">
            <div class="calory-info__cont">
                <div class="calory-info__txt-cont">
                    <ul class="calory-info__ul">
                        <li class="calory-info__li">Что нужно знать о калориях?</li>
                        <li class="calory-info__li">Какой Ваш суточный рацион</li>
                        <li class="calory-info__li">Сколько нужно тратить калорий в день?</li>
                        <li class="calory-info__li">Самые “опасные” продукты</li>
                    </ul>
                    <a class="btn _blue calory-info__btn" title="Создать меню">Калькулятор калорий</a>
                </div>
            </div>
        </div>
        <div class="sportInner__wrap">
            <div class="sportInner__item-wrapper">
                <div class="sportInner__item clearfix">
                    <div class="sportInner__img-wrap">
                        <div class="sportInner__img">
                            <img src="http://placehold.it/350x350" alt="item-2">
                        </div>
                    </div>
                    <div class="sportInner__item-content">
                        <div class="sportInner__item-counter"></div>
                        <h2>
                            Скользящие отжимания
                            для трицепсов
                        </h2>
                        <p>
                            Начинаем битву за подтянутые и красивые руки с этого простого,
                            но действенного упражнения. Исходное положение — стоя, ноги
                            на ширине плеч. Поднимите руки на уровень плеч и разведите их
                            в стороны.
                        </p>
                    </div>
                </div>
            </div>
            <div class="sportInner__item-wrapper">
                <div class="sportInner__item clearfix">
                    <div class="sportInner__img-wrap">
                        <div class="sportInner__img">
                            <img src="http://placehold.it/350x350" alt="item-2">
                        </div>
                    </div>
                    <div class="sportInner__item-content">
                        <div class="sportInner__item-counter"></div>
                        <h2>
                            Скользящие отжимания
                            для трицепсов
                        </h2>
                        <p>
                            Начинаем битву за подтянутые и красивые руки с этого простого,
                            но действенного упражнения. Исходное положение — стоя, ноги
                            на ширине плеч. Поднимите руки на уровень плеч и разведите их
                            в стороны. Начните совершать вращательные движения руками
                            по часовой стрелке и старайтесь следить за тем, чтобы движения
                            были динамичными, а мышцы — напряженными. Через 30 секунд
                            поменяйте направление вращения. Продолжайте выполнять дан-
                            ное упражнение с периодической сменой направления враще-
                            ния в течение нескольких минут — пока не почувствуете жжение
                            в мышцах. Если данное упражнение даётся вам
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('./templates/inner-tags.html')

    @@include('./templates/also-you-will-be-interested.html', {
    "title": "Другие статьи"
    })


</main>

@@include('./templates/footer.html', { "js": "sport-inner" })
