@@include('./templates/header.html', { "css": "sport-2-level" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#physiotherapy" class="icons__link  icons__link-physiotherapy">
                            Лечебная гимнастика
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#regions" class="icons__link  icons__link-regioni">
                            Регионы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#exercises" class="icons__link  icons__link-exercises">
                            Упражнения
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#kindsOfSports" class="icons__link  icons__link-kindsOfSports">
                            Виды спорта
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#map" class="icons__link  icons__link-search">
                            Поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2 class="regions-map__title-content">Регионы</h2>
        </div>

        @@include('./templates/region-map.html',{
        "img" : "zhkt-osnovnaya/zhkt-osnovnaya-map.jpg",
        "title" : "Все о спортивной жизни вашего региона"
        })

    </section>

    <section id="physiotherapy" class="physiotherapy">
        <div class="physiotherapy__title">
            <h2 class="physiotherapy__title-content">Лечебная гимнастика</h2>
        </div>
        <div class="mainBanner _right physiotherapy__baner">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/sport-2-level/physiotherapy-baner-bg-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/sport-2-level/physiotherapy-baner-bg.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/sport-2-level/physiotherapy-baner-bg.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <a href=""  class="physiotherapy__baner-link">
                    Лечение
                    шейного
                    остеохондроза
                </a>
            </div>
        </div>
        <div class="physiotherapy__content">
            <div class="wrap">
                <ul class="physiotherapy__list">
                <li>
                    <a href="#">параличи;</a>
                </li>
                <li>
                    <a href="#">посттравматическая реабилитация;</a>
                </li>
                <li>
                    <a href="#">искривления позвоночника;</a>
                </li>
                <li>
                    <a href="#">ортопедические заболевания;</a>
                </li>
                <li>
                    <a href="#">парезы;</a>
                </li>
                <li>
                    <a href="#">восстановление организма после
                        хирургического вмешательства;
                    </a>
                </li>
                <li>
                    <a href="#">болезни внутренних органов;</a>
                </li>
                <li>
                    <a href="#">неврологические заболевания.</a>
                </li>
            </ul>
            </div>
            <a href="#!" class="link-arrow  link-arrow_purpur _whiteBG">перейти в раздел</a>
        </div>

    </section>

    <section id="exercises" class="exercises">
        <div class="exercises__title">
            <h2 class="exercises__title-content">Упражнения:</h2>
        </div>
        <div class="exercises__content">
            <div class="exercises__container">

                <div class="exercises__item clearfix">
                    <div class="exercises__img-wrap clearfix">
                        <div class="exercises__img">
                            <img src="http://placehold.it/350x350" alt="item-1">
                        </div>
                    </div>
                    <div class="exercises__item-content">
                        <h3>Упражнения для красивых
                            подтянутых рук</h3>
                        <a href="#!" class="btn _tran _black">Узнать больше ></a>
                    </div>
                </div>

                <div class="exercises__item clearfix">
                    <div class="exercises__img-wrap">
                        <div class="exercises__img">
                            <img src="http://placehold.it/350x350" alt="item-2">
                        </div>
                    </div>
                    <div class="exercises__item-content">
                        <h3>Упражнения для красивой спины</h3>
                        <a href="#!" class="btn _tran _black">Узнать больше ></a>
                    </div>
                </div>

                <div class="exercises__item clearfix">
                    <div class="exercises__img-wrap clearfix">
                        <div class="exercises__img">
                            <img src="http://placehold.it/350x350" alt="item-1">
                        </div>
                    </div>
                    <div class="exercises__item-content">
                        <h3>Упражнения для красивых
                            подтянутых рук</h3>
                        <a href="#!" class="btn _tran _black">Узнать больше ></a>
                    </div>
                </div>

                <div class="exercises__item clearfix">
                    <div class="exercises__img-wrap clearfix">
                        <div class="exercises__img">
                            <img src="http://placehold.it/350x350" alt="item-1">
                        </div>
                    </div>
                    <div class="exercises__item-content">
                        <h3>Упражнения для красивых
                            подтянутых рук</h3>
                        <a href="#!" class="btn _tran _black">Узнать больше ></a>
                    </div>
                </div>
            </div>
            <a href="#!" class="link-arrow  link-arrow_purpur _whiteBG">перейти в раздел</a>
        </div>

    </section>

    <section id="kindsOfSports" class="kindsOfSports">
        <div class="kindsOfSports__title">
            <h2 class="kindsOfSports__title-content">Виды спорта:</h2>
        </div>
        <div class="kindsOfSports__content">
        <div class="kindsOfSports__list clearfix">
            <div class="kindsOfSports__item-wrap">
                <a href="" class="kindsOfSports__item">
                    <img src="img/sport-2-level/kindsOfSports-1.jpg" alt="">
                    <span class="kindsOfSports__item-text">
                        Волейбол
                    </span>
                </a>
            </div>
            <div class="kindsOfSports__item-wrap">
                <a href="" class="kindsOfSports__item">
                    <img src="img/sport-2-level/kindsOfSports-2.jpg" alt="">
                    <span class="kindsOfSports__item-text">
                        Баскетбол
                    </span>
                </a>
            </div>
            <div class="kindsOfSports__item-wrap">
                <a href="" class="kindsOfSports__item">
                    <img src="img/sport-2-level/kindsOfSports-3.jpg" alt="">
                    <span class="kindsOfSports__item-text">
                        Водное поло
                    </span>
                </a>
            </div>
            <div class="kindsOfSports__item-wrap">
                <a href="" class="kindsOfSports__item">
                    <img src="img/sport-2-level/kindsOfSports-4.jpg" alt="">
                    <span class="kindsOfSports__item-text">
                        Фехтование
                    </span>
                </a>
            </div>
        </div>
            <a href="#!" class="link-arrow  link-arrow_blue _whiteBG">перейти в раздел</a>
        </div>

    </section>

</main>

@@include('./templates/footer.html', { "js": "sport-2-level" })
