@@include('./templates/header.html', { "css": "stomatologiya-inner" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <section class="mainBanner _right">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            </noscript>
        </span>
        <div class="mainBanner__content">
            <h1>
                <strong>Боль и воспаление
                    корней зуба:</strong>
                причины и лечение
            </h1>
        </div>
    </section>

    @@include('./templates/socialprops.html')

    <div class="stomatologiyaInner__wrapper">
        <div class="wrap clearfix">
            <div class="stomatologiyaInner stomatologiyaInner__container text-article">
                <p>
                    <b>Корень</b> – это название, подходящее не для всех зубов, а только для тех, где он – один, для
                    зубов режущих
                    и протыкающих.
                </p>
                <p>
                    Пища, наколотая на клыки, надёжно фиксируется во рту, и от неё резцами – откусывающе-отпиливающими
                    движениями – отделяются небольшие кусочки, которые отправляются далее, для перетирания-жевания
                    зубами
                    посолиднее.
                </p>
                <h2>Краткий анатомический ликбез</h2>
                <p>
                    Почему жевательные зубы называются еще и коренными? Потому что, в отличие от резцов и клыков – зубов
                    с
                    одним стержневым корнем, это – настоящие многокорневые «дубы». С корнями, широко распростёртыми
                    в «почве» дёсен, с корнями множественными (числом от двух до четырёх и более), благодаря которым они
                    крепко «сидят» в десне.
                </p>
                <p>
                    Зубы именно «сидят», а не вбиты в десну, как гвозди в дерево. Благодаря особому устройству челюстей
                    и своих
                    корней зубы имеют строение зубаопределённую свободу движений в десневой лунке: влево-вправо,
                    вперёд-назад, и даже (в небольшом объёме) – вокруг своей вертикальной оси.
                </p>
                <p>
                    «Сидя», они периодически «привстают», и потому переработка пищи отчасти напоминает игру на рояле
                    (или
                    печатание на клавиатуре): пища, сдавливаемая челюстями, нажимает на зубы – и они, слегка утопившись
                    в десну, возвращаются затем обратно, как клавиши (хотя и не столь заметно).
                </p>
                <h2 class="_blueBG">Анатомия зубов у взрослого</h2>
                <div class="stomatologiyaInner__img">
                    <img src="img/stomatologiya-inner/content-img2.jpg" alt="">
                </div>

            </div>

            <div class="stomatologiyaInner__sidebar">
                <div class="stomatologiyaInner__sidebar-title">
                    Популярное в разделе:
                </div>
                <a href="#" class="stomatologiyaInner__sidebar-item">
                    <div class="stomatologiyaInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="stomatologiyaInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
                <a href="#" class="stomatologiyaInner__sidebar-item">
                    <div class="stomatologiyaInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="stomatologiyaInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
                <a href="#" class="stomatologiyaInner__sidebar-item">
                    <div class="stomatologiyaInner__sidebar-item_pic">
                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=350" alt="">
                    </div>
                    <div class="stomatologiyaInner__sidebar-item_title">
                        Инсулинозависимый
                        диабет (1 тип)
                    </div>
                </a>
            </div>
        </div>
        <div class="wrap">
            <div class="stomatologiyaInner">
                <p>
                    Так при жевании осуществляется естественный массаж дёсен, в толще которых проходят сосудисто-нервные
                    «магистрали», питающие зубы, в каждую из
                    которых входят нерв, артерия и вена.
                </p>
                <p>
                    От крупного сосудисто-нервного пучка отходят пучочки потоньше, каждый из которых проникает в зуб
                    через крошечное отверстие на верхушке каждого из
                    его корней, которые на нижней челюсти растут вниз (как корни обычного дерева), а на верхней –
                    верхушками вверх.
                </p>
                <p>
                    Но, независимо от положения, занимаемого корнями, кровообращение в зубе не нарушается ни на минуту.
                    Ни в них, ни в зубной мякоти – пульпе, заклю-
                    чённой в полости зуба, которая защищена от воздействия извне многослойной бронёй дентина, цемента и
                    эмали.
                </p>
                <p>
                    Когда же массаж зубов и десён пищей, оказывающей им упругое сопротивление, прекращается, начинаются
                    сбои в работе сосудов и нервов, обеспечи-
                    вающих жизнь пульпы – и зуб начинает медленно умирать. Но перед тем, как разрушиться до основания и
                    превратиться в трухлявый пень, он начинает болеть.
                </p>
            </div>
        </div>
        <div class="stomatologiyaInner__banner">
            <div class="wrap">
                <div class="stomatologiyaInner__banner-content">
                    <h2>Отчего болят корни?</h2>
                    <p>
                        Зубная боль (как и боль вообще) – <b> это состояние ишемии, или кислородного
                        голодания</b> (недостатка кислорода для питания тканей в притекающей
                        к ним крови).
                    </p>
                    <div>
                        <b>А привести к ишемии зубных тканей могут:</b>
                    </div>
                    <ul>
                        <li>сосудистые причины;</li>
                        <li>инфекционные заболевания;</li>
                        <li>стоматологические нарушения;</li>
                        <li>нервная либо психическая патология;</li>
                        <li>токсины;</li>
                        <li>опухоли;</li>
                        <li>заболевания обменного (эндокринного) характера;</li>
                        <li>болезни крови;</li>
                        <li>травмы.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="wrap clearfix stomatologiyaInner">
            <div class="col-md-6">
                <img src="img/stomatologiya-inner/content-img.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>
                    Поскольку корни зуба – не только «якоря», что держат его в десне, но и полые
                    трубы, которые проводят в него кровь, через отверстия в их верхушках в зубную
                    полость с током крови может проникнуть инфекция.
                </p>
                <p>
                    И тогда развивается пульпит – воспаление мягкой сердцевины вокруг корня
                    зуба, при котором не только непонятно где болит зуб (в коронковой части или
                    в толще десны), но и какой зуб болит вообще. Особенно, если пульпит – гной-
                    ный, вызывающий необратимые разрушения в полости зуба.
                </p>
                <p>
                    В случае ограничения воспаления областью полости корня зуба развивается
                    апикальный периодонтит (апекс – верхушка зуба).
                </p>
            </div>
        </div>
    </div>

    @@include('./templates/inner-tags.html')

    @@include('./templates/also-you-will-be-interested.html', {
    "title": "Другие статьи"
    })


</main>

@@include('./templates/footer.html', {
"js": "pitanie-statya"
})