@@include('./templates/header.html', {
"css": "stomatologiya-osnovnaya"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')

    <div class="icons">
        <div class="icons__wrap">
            <div class="wrap">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#diagnostics" class="icons__link">
                            <span class="icons__link-icon _diagnostics"></span>
                            Диагностика
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#surgery" class="icons__link">
                            <span class="icons__link-icon _surgery"></span>
                            Хирургия
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#gumTreatment" class="icons__link">
                            <span class="icons__link-icon _gumTreatment"></span>
                            Парадонтология
                            (лечение десен)
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#dentistry" class="icons__link">
                            <span class="icons__link-icon _dentistry"></span>
                            Лечение зубов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#orthopedics" class="icons__link">
                            <span class="icons__link-icon _orthopedics"></span>
                            Ортопедия
                            (протезирование)
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#pediatric" class="icons__link">
                            <span class="icons__link-icon _pediatric"></span>
                            Детская
                            стоматология
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#whitening" class="icons__link">
                            <span class="icons__link-icon _whitening"></span>
                            Отбеливание
                            и чистка
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advice" class="icons__link">
                            <span class="icons__link-icon _advice"></span>
                            Советы
                            специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#aesthetic" class="icons__link">
                            <span class="icons__link-icon _aesthetic"></span>
                            Эстетическая
                            стоматология
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#orthodontics" class="icons__link">
                            <span class="icons__link-icon _orthodontics"></span>
                            Ортодонтия
                            (исправление прикуса)
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#articles" class="icons__link">
                            <span class="icons__link-icon _articles"></span>
                            Статьи
                        </a>
                    </li>

                    <li class="icons__item">
                        <a href="#medCentr" class="icons__link">
                            <span class="icons__link-icon _clinics"></span>
                            Стоматологические
                            клиники
                        </a>
                    </li>

                    <li class="icons__item">
                        <a href="#regions" class="icons__link">
                            <span class="icons__link-icon _regions"></span>
                            Регионы
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#implantology" class="icons__link">
                            <span class="icons__link-icon _implantology"></span>
                            Имплантология
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2 class="regions-map__title-content">Регионы</h2>
        </div>

        @@include('./templates/region-map.html',{
        "img" : "stomatologiya-osnovnaya/region-map.jpg",
        "title" : "Все о стоматологии в вашем регионе"
        })

    </section>

    <section id="diagnostics" class="diagnostics">
        <div class="diagnostics__title">
            <h2 class="diagnostics__title-content">Диагностика</h2>
        </div>
        <div class="diagnostics__wrapper">
            <ul class="diagnostics__list">
                <li class="diagnostics__item">
                    <a href="#!" class="diagnostics__link _icons1">

                        <span class="diagnostics__link-title">
                            Рентген зуба(RVG - снимок)
                        </span>
                    </a>
                </li>
                <li class="diagnostics__item">
                    <a href="#!" class="diagnostics__link _icons2">

                        <span class="diagnostics__link-title">
                            Панорамный снимок зубов (ортопантомограмма, ОРТПГ)
                        </span>
                    </a>
                </li>
                <li class="diagnostics__item">
                    <a href="#!" class="diagnostics__link _icons3">
                        <span class="diagnostics__link-title">
                            Компьютерная томография(КТ)
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        @@include('./templates/banners.html')
    </section>

    <section id="dentistry" class="dentistry">
        <div class="dentistry__title">
            <h2 class="dentistry__title-content">Лечение зубов</h2>
        </div>
        <div class="dentistry__wrapper">
            <div class="dentistry__content">
                <img src="img/stomatologiya-osnovnaya/dentistry-tooth.png" alt="" class="dentistry__tooth">
                <ul class="dentistry__list">
                    <li class="dentistry__item">
                        <a href="" class="dentistry__link">
                            Кариес
                        </a>
                    </li>
                    <li class="dentistry__item">
                        <a href="" class="dentistry__link">
                            Пульпит
                        </a>
                    </li>
                    <li class="dentistry__item">
                        <a href="" class="dentistry__link">
                            Периодонтит
                        </a>
                    </li>
                    <li class="dentistry__item">
                        <a href="" class="dentistry__link">
                            Герметизация
                            фиссур
                        </a>
                    </li>
                </ul>
            </div>

            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>
    </section>

    <section id="whitening" class="whitening">
        <div class="whitening__title">
            <h2 class="whitening__title-content">Отбеливание зубов</h2>
        </div>
        <div class="whitening__wrapper">
            <div class="wrap">
                <div class="whitening__content">
                    <ul class="whitening__list">
                        <li>
                            <a href="#!">
                                Чистка зубов Air Flow
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Ультразвуковая чистка
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Гелевое отбеливание
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Лазерное отбеливание
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Фторирование зубов
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Реминерализация зубов
                            </a>
                        </li>
                    </ul>
                    <a href="#!" class="link-arrow _gray">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="articles" class="articles">
        <div class="articles__title">
            <h2 class="articles__title-content">Статьи</h2>
        </div>
        <div class="mainBanner _right articles__baner">

            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/stomatologiya-osnovnaya/inner-baner-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/stomatologiya-osnovnaya/inner-baner.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/stomatologiya-osnovnaya/inner-baner.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>

            <div class="mainBanner__content">
                <div class="articles__baner-content">
                <h3>
                    <span class="_red">
                        Какие продукты
                    </span>
                    <span class="_black">
                        красят зубы?
                    </span>
                </h3>
                <a href="#!" title="Показать заболевание" class="btn _tran _black">
                    читать статью >
                </a>
            </div>
            </div>

        </div>
        <div class="g-grid _col-4 _cont-cent _txt-outer">
            <ul class="g-grid__ul">
                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <div class="g-grid__txt">Гастрит: причины</div>
                        </div>
                    </a>
                </li>

                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <div class="g-grid__txt">Язва желудка: харктерные
                                симптомы</div>
                        </div>
                    </a>
                </li>

                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <div class="g-grid__txt">Гастрит: причины</div>
                        </div>
                    </a>
                </li>

                <li class="g-grid__li">
                    <a href="#!" title="some-title" class="g-grid__link">
                        <div class="g-grid__img-cont">
                            <img src="http://placehold.it/350x350" alt="#">
                        </div>
                        <div class="g-grid__content">
                            <div class="g-grid__txt">Гастрит: причины</div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="orthodontics" class="orthodontics">
        <div class="orthodontics__title">
            <h2 class="orthodontics__title-content">Ортодонтия</h2>
        </div>

        <div class="orthodontics__wrap">

            <div class="wrap clearfix">

                <ul class="orthodontics__left">
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Керамические брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Лингвальные (невидимые) брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Металлические брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Пластиковые брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Сапфировые брекеты
                        </a>
                    </li>
                </ul>

                <div class="orthodontics__middle">
                    <img src="img/stomatologiya-osnovnaya/orthodontics-zub.png" alt="">
                </div>

                <ul class="orthodontics__right">
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Композиционные брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Самолигирующие
                            (безлигатурные) брекеты
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Трейнеры
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Элайнеры (каппы)
                        </a>
                    </li>
                    <li class="orthodontics__item">
                        <a href="" class="orthodontics__link">
                            Пластинки
                        </a>
                    </li>
                </ul>

            </div>

        </div>


    </section>

    <section id="surgery" class="surgery">
        <div class="surgery__title">
            <h2 class="surgery__title-content">Хирургия</h2>
        </div>
        <div class="surgery__wrapper">
            <div class="wrap">
                <div class="surgery__content">
                    <ul class="surgery__list">
                        <li>
                            <a href="#!">
                                Удаление зуба
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Удаление кисты и гранулемы
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Гемисекция
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Костная пластика
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Пластика уздечки языка
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                Резекция верхушки корня зуба
                            </a>
                        </li>
                    </ul>
                    <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
                </div>
            </div>
        </div>
    </section>

    <section id="implantology" class="implantology">
        <div class="implantology__title">
            <h2 class="implantology__title-content">Имплантология</h2>
        </div>
        <div class="implantology__wrapper">

            <div class="g-grid _col-3 _cont-cent _txt-outer">
                <ul class="g-grid__ul">
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Имплантация зубов</div>
                            </div>
                        </a>
                    </li>
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Cинус-лифтинг</div>
                            </div>
                        </a>
                    </li>
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Операция по удалению  имплантата</div>
                            </div>
                        </a>
                    </li>

                </ul>
                <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
            </div>
        </div>
    </section>

    <section id="orthopedics" class="orthopedics">
        <div class="orthopedics__title">
            <h2 class="orthopedics__title-content">Ортопедия</h2>
        </div>
        <div class="orthopedics__wrapper">
            <div class="orthopedics__content clearfix">
                <ul class="orthopedics__list">
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Бюгельные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Керамические коронки
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Нейлоновые зубные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Металлические коронки
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Покрывные зубные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Металлокерамические коронки
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Полные съемные зубные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Циркониевые коронки
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Пластиночные зубные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Коронка из диоксида циркония
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Акриловые зубные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Металлокерамика на имплантате
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Зубные вкладки
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Мостовидные протезы
                        </a>
                    </li>
                    <li class="orthopedics__item">
                        <a href="" class="orthopedics__link">
                            Временные коронки
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="gumTreatment" class="gumTreatment">
        <div class="gumTreatment__title">
            <h2 class="gumTreatment__title-content">Лечение десен</h2>
        </div>
        <div class="gumTreatment__wrapper">
            <div class="gumTreatment__content">
                <ul class="gumTreatment__tabList">
                    <li class="gumTreatment__item">
                        <a href="#gingvit!" class="gumTreatment__link">
                            Гингвит
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#gingivoplastica!" class="gumTreatment__link">
                            Гингивопластика
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#paradontoz!" class="gumTreatment__link">
                            Пародонтит
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#shinirovaniye!" class="gumTreatment__link">
                            Шинирование
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#parodontoz!" class="gumTreatment__link">
                            Пародонтоз
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#loskutnyyeOperatsii!" class="gumTreatment__link">
                            Лоскутные операции
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#vestibuloplastika!" class="gumTreatment__link">
                            Вестибулопластика
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#chistkaZubodesnevykhKarmanov!" class="gumTreatment__link">
                            Чистка зубодесневых карманов
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#gingivektomiya!" class="gumTreatment__link">
                            Гингивэктомия
                        </a>
                    </li>
                    <li class="gumTreatment__item">
                        <a href="#kyuretazhParodontalnykhKarmanov!" class="gumTreatment__link">
                            Кюретаж пародонтальных карманов
                        </a>
                    </li>
                </ul>

                <div class="gumTreatment__tabContent">
                    <section id="gingvit" class="gumTreatment__tabContent-text">
                        <h3>Гингвит.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="gingivoplastica" class="gumTreatment__tabContent-text">
                        <h3>Гингивопластика.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="paradontoz" class="gumTreatment__tabContent-text">
                        <h3>Пародонтоз.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="shinirovaniye" class="gumTreatment__tabContent-text">
                        <h3>Шинирование.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="parodontoz" class="gumTreatment__tabContent-text">
                        <h3>Пародонтоз.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="loskutnyyeOperatsii" class="gumTreatment__tabContent-text">
                        <h3>Лоскутные операции.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="vestibuloplastika" class="gumTreatment__tabContent-text">
                        <h3>Вестибулопластика.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="chistkaZubodesnevykhKarmanov" class="gumTreatment__tabContent-text">
                        <h3>Чистка зубодесневых карманов.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="gingivektomiya" class="gumTreatment__tabContent-text">
                        <h3>Гингивэктомия.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                    <section id="kyuretazhParodontalnykhKarmanov" class="gumTreatment__tabContent-text">
                        <h3>Кюретаж пародонтальных карманов.</h3> Чтобы чётко представить себе, что представляет собой
                        заболевание пародонтоз и чем он отличается от пародонтита, для
                        начала разберёмся в терминологии. Дело в том, что пациенты часто
                        допускают ошибку и пишут «парадонтоз» вместо правильного «паро-
                        донтоз», но и путают два совершенно разных заболевания «пародонтоз»
                        и «пародонтит».
                    </section>
                </div>

            </div>
        </div>
        @@include('./templates/banners.html')
    </section>

    <section id="pediatric" class="pediatric">
        <div class="pediatric__title">
            <h2 class="pediatric__title-content">
                Детская стоматология
            </h2>
        </div>
        <div class="pediatric__wrapper">

            <ul class="pediatric__content">
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Лечение кариеса временного
                        (молочного) зуба
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Удаление временного
                        (молочного) зуба
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Лечение кариеса
                        постоянного зуба
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Удаление постоянного
                        зуба
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Герметизация фиссур
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Обучение гигиене
                        полости рта
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Серебрение
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Профессиональная гигиена
                        детских зубов
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Реминерализация зубов
                    </a>
                </li>
                <li class="pediatric__item">
                    <a href="" class="pediatric__link">
                        Пластика уздечки
                    </a>
                </li>
            </ul>

        </div>
    </section>

    <section id="aesthetic" class="aesthetic">
        <div class="aesthetic__title">
            <h2 class="aesthetic__title-content">
                Эстетическая стоматология
            </h2>
        </div>

        <div class="aesthetic__wrapper">
            <div class="wrap">
                <div class="aesthetic__content">
                    <ul class="aesthetic__list">
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon1">
                                Голливудские (люминиры) виниры
                            </a>
                        </li>
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon2">
                                Керамические виниры
                            </a>
                        </li>
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon3">
                                Композитные виниры
                            </a>
                        </li>
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon4">
                                Скайсы
                            </a>
                        </li>
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon5">
                                Художественная реставрация
                            </a>
                        </li>
                        <li class="aesthetic__item">
                            <a href="" class="aesthetic__link _icon6">
                                Украшения на зубы
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Медицинские центры"
    })


</main>

@@include('./templates/footer.html', {
"js": "stomatologiya-osnovnaya"
})