@@include('./templates/header.html', {
"css": "stomatologiya-region"
})

<main class="main">
    @@include('./templates/breadcrumbs.html')
    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons">
        <div class="icons__container clearfix">
            <nav class="icons__content">
                <ul class="icons__list">
                    <li class="icons__item">
                        <a href="#news" class="icons__link _news">
                            новости
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#directory" class="icons__link _spravochnik">
                            справочник
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#advices" class="icons__link  _sovetVracha">
                            советы <br>
                            специалистов
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#medCentr" class="icons__link _medCentr">
                            Стоматологические
                            клиники
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#diagnostics" class="icons__link _diagnostika">
                            диагностика
                        </a>
                    </li>
                    <li class="icons__item">
                        <a href="#map-footer" class="icons__link _search">
                            поиск по карте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <section id="news" class="news-tabs tabs" >
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник</h2>
        </div>
        <div class="mainBanner _right directory__contents">

            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
                <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <div class="directory__contents-wrap">
                    <div class="directory__contents-title">
                        Все о стоматологии
                    </div>
                    <a href="#!" title="Показать заболевание" class="btn _tran">
                        перейти к статьям
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

    @@include('./templates/medCentr.html', {
    "title": "Медицинские центры"
    })

    <section id="diagnostics" class="diagnostics">
        <div class="diagnostics__title">
            <h2 class="diagnostics__title-content">Диагностика</h2>
        </div>
        <div class="diagnostics__contentWrapper">

            <div class="diagnostics__content">
                <ul>
                    <li>
                        <a href="">Прицельный снимок зуба</a>
                    </li>
                    <li>
                        <a href="">Телерентгенография (ТРГ)</a>
                    </li>
                    <li>
                        <a href="">Ортопантомограмма</a>
                    </li>
                    <li>
                        <a href="">Компьютерная томография (3D)</a>
                    </li>
                    <li>
                        <a href="">Ортопантомограмма</a>
                    </li>
                    <li>
                        <a href="">Описание результатов компьютерной </a>
                    </li>
                    <li>
                        <a href="">томографии (за челюсть)</a>
                    </li>
                    <li>
                        <a href="">Ортодонтическая диагностика и ВНЧС</a>
                    </li>
                    <li>
                        <a href="">Прицельный снимок зуба</a>
                    </li>
                    <li>
                        <a href="">Телерентгенография (ТРГ)</a>
                    </li>
                </ul>
            </div>

            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

</main>

@@include('./templates/footer.html', {
"js": "stomatologiya-region"
})