 @@include('./templates/header.html', { "css": "therapy-inner2" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="page-content">
        @@include('./templates/togo.html')
        <div class="therapy-search">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>По Вашему запросу найдено <b>23 </b>клиники</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="therapy-cancer__search-result">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    По вашему запросу найдено 23 клиники
                </div>
            </div>
        </div>
    </div>
    <div class="therapy-cancer">
        <div class="container-fluid">
            <div class="therapy-cancer__clinic">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainBanner _right-bottom therapy-searchimg">
        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="">
            </noscript>
        </span>
        <div class="mainBanner__content">
             <div class="therapy-searchimg__desc">
                 <h3 class="therapy-searchimg__h3">Лечение в Австрии:</h3>
                 <p class="therapy-searchimg__p">
                     Австрия – это великолепная европейская страна, которая славится своим мягким климатом,красотой ландшафта, оздоровительными
                     грязями, курортными городами, санаториями, а также высоким уровнем медицины. Именно в Австрии можно получить
                     качественную медицинскую помощь по сравнительно низкой цене.
                 </p>
                 <a href="#" class="therapy-searchimg__link">узнать больше ></a>
             </div>
        </div>
    </div>
    <div class="therapy-cancer">
        <div class="container-fluid">
            <div class="therapy-cancer__clinic">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
                    </div>
                    <div class="col-md-5 col-sm-5 col-sm-push-7">
                        <div class="therapy-cancer__clinic-img">
                            <img src="http://placehold.it/350x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-sm-pull-5">
                        <div class="therapy-cancer__clinic-location">
                            <div class="icon-map-marker"></div>
                            <div class="country">Австрия</div>
                            <div class="desc">
                                Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
                                комфортабельность элитного отеля
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-profile">
                            <div class="icon-tablet"></div>
                            <div class="profile">Направления</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>Неврология</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li>Акушерство и Гинекология</li>
                                        <li>Гастроэнтерология</li>
                                        <li>Дерматология</li>
                                        <li>Кардиология</li>
                                        <li>Урология</li>
                                        <li>
                                            <a href="">еще ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="therapy-cancer__clinic-contacts">
                            <div class="icon-tel"></div>
                            <a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
                            <a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

@@include('./templates/footer.html', { "js": "therapy-inner2" })