@@include('./templates/header.html', { "css": "therapy" })

<main class="main">

	@@include('./templates/breadcrumbs.html')

	<section class="page-content">
		<div class="page-divider"></div>
		<div class="therapy-select">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="therapy-select__h2">
							Выберите из списка нужный вид лечения
						</h2>
					</div>
					<div class="col-md-12">
						<h3 class="therapy-select__h3">
							Выберите интересующую Вас проблему, или направление медицины и получите полную информацию
						</h3>
					</div>
					<div class="col-md-6 col-md-offset-3">
						<form action="#">
							<div class="drop _select-input _blue-bor">
								<input class="drop__input" type="text" placeholder="Онкология">
								<button type="button" class="drop__toggle">
								</button>
								<div class="baron-all baron-all__clipper baron-all__root  drop__items">
									<div class="baron-all__scroller">
										<ul class="drop__ul">
											<li class="drop__li">Онкология</li>
											<li class="drop__li">Не онкология</li>
											<li class="drop__li">Онкология</li>
											<li class="drop__li">Не онкология</li>
											<li class="drop__li">Онкология</li>
											<li class="drop__li">Не онкология</li>
											<li class="drop__li">Онкология</li>
											<li class="drop__li">Не онкология</li>
										</ul>
									</div>
									<div class="baron-all__track">
										<div class="baron-all__free">
											<div class="baron-all__bar"></div>
										</div>
									</div>
								</div>
							</div>
							<button class="therapy-select__button">Показать информацию ></button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="mainBanner _right therapy-question">
			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="http://placehold.it/1920x450" alt="" class="advice-banner__img">
            	</noscript>
        	</span>
			<div class="mainBanner__content">
				<a href="#" class="therapy-question__text">
					<b>Вопрос юристу:</b> Особенности лечения<br>онкологических заболеваний за рубежом
				</a>
			</div>
		</div>
		<div class="therapy-countries">
			<div class="container-fluid">
				<div class="row">
					<h3 class="therapy-countries__h3">Страны</h3>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li>
								<a href="#">
								<img src="css/pics/c1.png" alt="">
								<div class="therapy-countries__tabtext">Израиль</div>
							</a>
							</li>
							<li>
								<a href="#">
								<img src="css/pics/c2.png" alt="">
								<div class="therapy-countries__tabtext">Австрия</div>
							</a>
							</li>
							<li>
								<a href="#">
								<img src="css/pics/c3.png" alt="">
								<div class="therapy-countries__tabtext">Германия</div>
							</a>
							</li>
							<li>
								<a href="#">
								<img src="css/pics/c4.png" alt="">
								<div class="therapy-countries__tabtext">США</div>
							</a>
							</li>
							<li class="active">
								<a href="#">
								<img src="css/pics/c5.png" alt="">
								<div class="therapy-countries__tabtext">Великобритания</div>
							</a>
							</li>
							<li>
								<a href="#">
								<img src="css/pics/c6.png" alt="">
								<div class="therapy-countries__tabtext">Швейцария</div>
							</a>
							</li>
							<li>
								<a href="#">
								<img src="css/pics/c7.png" alt="">
								<div class="therapy-countries__tabtext">Испания</div>
							</a>
							</li>
						</ul>
						<div class="therapy-countries__tabinner">
							<div class="row">
								<div class="col-md-4">
									<div class="therapy-countries__tabflag">
										<img src="css/pics/therapy/gb-flag.png" alt="">
									</div>
								</div>
								<div class="col-md-8">
									<div class="therapy-countries__head">
										Лечение рака в Великобритании:
									</div>
									<p class="therapy-countries__p">
										Великобритания – страна, в которой появилось само понятие медицинского туризма. Граждане Великобритании были вынуждены обращаться
										за оказанием качественных медицинских услуг в другие страны мира из-за учреждённой в 1948 году Национальной службы
										здравоохранения. С момента принятия данной реформы в Великобритании началась глобализация и рост стоимости медицинских
										услуг, хотя сама реформа предусматривала оказание качественной и бесплатной медицинской помощи всем жителям страны.
									</p>
									<div class="therapy-countries__subhead">
										Сильные стороны медицины в Великобритании:
									</div>
									<ul class="therapy-countries__list">
										<li>наличие специализированных отделений, в которых работают высококвалифицированные специалисты;
										</li>
										<li>расположение онкологических клиник во всех крупных городах;</li>
										<li>возможность как стационарного, так и амбулаторного лечения онкологических болезней;</li>
										<li>наличие современных отделений химиотерапии;</li>
										<li>уход за больными, а также оказание им паллиативной помощи, психологической и эмоциональной поддержки, находится
											на высшем уровне;
										</li>
										<li>инновационные подходы к лечению раковых заболеваний.</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-2">
									<div class="therapy-countries__quote">
										При лечении рака в Великобритании используется комплексный подход. Это лучевая, фотодинамическая терапия, химиотерапия, а
										также хирургическое лечение. Внедряются и инновационные технологии; так, разработана новая методика лечения рака
										предстательной железы при помощи ультразвукового аппарата. Такой способ позволяет максимально уменьшить количество
										побочных эффектов в сравнении с уже существующими методами терапии.
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 col-md-offset-4">
									<p class="therapy-countries__p">
										С каждым пациентом в онкологических клиниках Великобритании работает команда врачей, которые подбирают индивидуальные методики
										лечения. Они учитывают разные факторы – локализацию рака, степень заболевания, возраст и пол пациента.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="therapy-slider">
			<div class="page-slider">



				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<a href="#" class="therapy-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>

				</div>

				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<a href="#" class="therapy-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>

				</div>

				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content">
						<a href="#" class="therapy-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>

				</div>


			</div>
		</div>
		<div class="partner-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="http://placehold.it/500x300" alt="">
					</div>
					<div class="col-md-6">
						<img src="http://placehold.it/500x300" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="page-header therapy-cancer-h">Онкологические центры и клиники</div>

		<div class="therapy-cancer">
			<div class="container-fluid">
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
				<div class="therapy-cancer__clinic">
					<div class="row">
						<div class="col-md-12">
							<a href="#" class="therapy-cancer__clinic-head">
							1.	Венская частная клиника 
						</a>
						</div>
						<div class="col-md-7 col-sm-7">
							<div class="therapy-cancer__clinic-location">
								<div class="icon-map-marker"></div>
								<div class="country">Австрия</div>
								<div class="desc">
									Многопрофильный медицинский центр, который обеспечивает медицинские услуги высочайшего уровня, одновременно с этим предоставляя
									комфортабельность элитного отеля
								</div>
							</div>
							<div class="therapy-cancer__clinic-profile">
								<div class="icon-tablet"></div>
								<div class="profile">Направления</div>
								<div class="row">
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>Неврология</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul>
											<li>Акушерство и Гинекология</li>
											<li>Гастроэнтерология</li>
											<li>Дерматология</li>
											<li>Кардиология</li>
											<li>Урология</li>
											<li>
												<a href="">еще ></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="therapy-cancer__clinic-contacts">
								<div class="icon-tel"></div>
								<a class="tel" href="tel:88124465943">тел.: +7 (812) 446-59-43</a>,
								<a class="url" target="_blank" href="www.p8spb.ru">www.p8spb.ru</a>
							</div>
						</div>
						<div class="col-md-5 col-sm-5">
							<a href="#" class="therapy-cancer__clinic-img">
							<img src="http://placehold.it/350x350" alt="">
						</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		@@include('./templates/paginator.html')

		<div class="partner-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="http://placehold.it/500x300" alt="">
					</div>
					<div class="col-md-6">
						<img src="http://placehold.it/500x300" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="page-header treatments">Популярные направления<br> лечения в Великобритании</div>

		<div class="popular-treatments">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<ul class="popular-treatments__ul">
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Гастроэнтерология в Великобритании</a>
							</li>
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Кардиология в Великобритании</a>
							</li>
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Урология в Великобритании</a>
							</li>
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Реабилитация в Великобритании</a>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="popular-treatments__ul">
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Нейрохирургия в Великобритании</a>
							</li>
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Нефрология в Великобритании</a>
							</li>
							<li>
								<a href=""><img src="http://placehold.it/55x55" alt="">
								Онкология в Великобритании</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>

@@include('./templates/footer.html', { "js": "therapy" })