@@include('./templates/header.html', { "css": "therapy-inner" })

<main class="main">

	@@include('./templates/breadcrumbs.html')

	<div class="page-content">
		@@include('./templates/togo.html')

		<div class="therapy-countries therapy-inner">
			<div class="container-fluid">
				<div class="row">
					<h3 class="therapy-countries__h3">Страны</h3>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li>
								<a href="#">
									<img src="css/pics/c1.png" alt="">
									<div class="therapy-countries__tabtext">Израиль</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="css/pics/c2.png" alt="">
									<div class="therapy-countries__tabtext">Австрия</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="css/pics/c3.png" alt="">
									<div class="therapy-countries__tabtext">Германия</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="css/pics/c4.png" alt="">
									<div class="therapy-countries__tabtext">США</div>
								</a>
							</li>
							<li class="active">
								<a href="#">
									<img src="css/pics/c5.png" alt="">
									<div class="therapy-countries__tabtext">Великобритания</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="css/pics/c6.png" alt="">
									<div class="therapy-countries__tabtext">Швейцария</div>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="css/pics/c7.png" alt="">
									<div class="therapy-countries__tabtext">Испания</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="therapy-clinics">

				<div class="row">
					<div class="col-md-12">
						<h2>Клиники</h2>
					</div>
				</div>


				<div class="g-grid _col-2 _cont-cent _txt-right">
					<ul class="g-grid__ul">
						<li class="g-grid__li">
							<a href="#!" title="some-title" class="g-grid__link">
								<div class="g-grid__img-cont">
									<img src="http://placehold.it/350x350" alt="#">
								</div>
								<div class="g-grid__content">
									<div class="therapy-clinics__head">
										Медицинский центр Текнон (Испания)
									</div>
									<div class="therapy-clinics__desc">
										Медицинский центр «Текнон» (Medico Centro Teknon) является одной из ведущих клиник в частном секторе испанского здравоохранения,
										благодаря высокому качеству своего медицинского персонала и уходу, которая сочетает в себе индивидуальное внимание
										при полной поддержке новейших технологий в области здравоохранения.
									</div>
								</div>
							</a>
						</li>

						<li class="g-grid__li">
							<a href="#!" title="some-title" class="g-grid__link">
								<div class="g-grid__img-cont">
									<img src="http://placehold.it/350x350" alt="#">
								</div>
								<div class="g-grid__content">
									<div class="therapy-clinics__head">
										Медицинский центр Текнон (Испания)
									</div>
									<div class="therapy-clinics__desc">
										Медицинский центр «Текнон» (Medico Centro Teknon) является одной из ведущих клиник в частном секторе испанского здравоохранения,
										благодаря высокому качеству своего медицинского персонала и уходу, которая сочетает в себе индивидуальное внимание
										при полной поддержке новейших технологий в области здравоохранения.
									</div>
								</div>
							</a>
						</li>

					</ul>

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="therapy-clinics__seeall">
							<a href="#!" class="link-arrow  link-arrow_blue">смотреть все клиники</a>
						</div>
					</div>
				</div>
		</div>
		<div class="therapy-diseases">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2>Распространенные заболевания и методы лечения</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="therapy-diseases__el">
							<div class="therapy-diseases__img">
								<img src="css/pics/therapy-inner/diseases/1.png" alt="">
							</div>
							<div class="therapy-diseases__head">Онкология</div>
							<ul class="therapy-diseases__ul">
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные страны ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные клиники ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Распространенные заболевания ></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="therapy-diseases__el">
							<div class="therapy-diseases__img">
								<img src="css/pics/therapy-inner/diseases/2.png" alt="">
							</div>
							<div class="therapy-diseases__head">Кардиохирургия</div>
							<ul class="therapy-diseases__ul">
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные страны ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные клиники ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Распространенные заболевания ></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="therapy-diseases__el">
							<div class="therapy-diseases__img">
								<img src="css/pics/therapy-inner/diseases/3.png" alt="">
							</div>
							<div class="therapy-diseases__head">Нейрохирургия</div>
							<ul class="therapy-diseases__ul">
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные страны ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Популярные клиники ></a>
								</li>
								<li class="therapy-diseases__li">
									<a href="" class="therapy-diseases__link">Распространенные заболевания ></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="" class="arrow-down">Перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
		<div class="therapy-inner-slider">
			<div class="page-slider">

				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>
					<div class="mainBanner__content">
						<a href="" class="therapy-inner-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>
				</div>
				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>
					<div class="mainBanner__content">
						<a href="" class="therapy-inner-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>
				</div>
				<div class="mainBanner _right slide">

					<span data-picture="" data-alt="">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>
					<div class="mainBanner__content">
						<a href="" class="therapy-inner-slider__content">
							<div class="page-slider__q">Новые методы<br>лечения меланомы<br>за границей</div>
						</a>
					</div>
				</div>

			</div>
		</div>
		<div class="tabs-news">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2>Технологии</h2>
					</div>
				</div>
			</div>

			@@include('./templates/news-tabs.html')
		</div>
		<div class="therapy-tech">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2>Зарубежные новости</h2>
					</div>
				</div>
			</div>
			<div class="mainBanner _right therapy-tech__inner">

				<span data-picture="" data-alt="">
					<span data-src="http://placehold.it/414x414"></span>
					<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
					<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
					<noscript>
						<img src="http://placehold.it/1920x450" alt="">
					</noscript>
        		</span>

				<div class="mainBanner__content">
					<a href="#" class="therapy-tech__innertext">
						<span class="row1">Новейшие технологии</span>
						<span class="row2">и современные разработки</span>
						<span class="row2">в лечении</span>
					</a>
				</div>

			</div>
		</div>
		<div class="therapy-law">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2>Правовая поддержка</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<ul class="content-ul">
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="content-ul">
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
							<li><a href="">Визы для лечения за рубежом</a></li>
						</ul>
					</div>
					<div class="col-md-12">
						<a href="" class="arrow-down">Перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
		<div class="help-slider">
			<div class="page-slider">
				<div class="page-slider__slide">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-5">
								<div class="help-slider__img">
									<img src="http://placehold.it/300x300" alt="">
								</div>
							</div>
							<div class="col-md-7">
								<div class="help-slider__text">
									<div class="name">Анастасия Дунаева, </div>
									<div class="city">Санкт-Петербург</div>

									<div class="text">
										Двусторонняя атрезия наружных слуховых проходов, <br> двусторонняя кондуктивная тухоухость 3 степени. <br> Необходимо
										лечение в США. <br> Осталось собрать – <b>4 950 675 рублей</b>.
									</div>
									<a href="" class="link">vk.com/anastasia_group_for_help</a>

									<div class="props">
										Самый быстрый способ помочь – пополнить карту<br> Сбербанка 4276550058352918 Дунаева Екатерина Викторовна, <br>										Яндекс-деньги 410014278089234
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-slider__slide">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-5">
								<div class="help-slider__img">
									<img src="http://placehold.it/300x300" alt="">
								</div>
							</div>
							<div class="col-md-7">
								<div class="help-slider__text">
									<div class="name">Анастасия Дунаева, </div>
									<div class="city">Санкт-Петербург</div>

									<div class="text">
										Двусторонняя атрезия наружных слуховых проходов, <br> двусторонняя кондуктивная тухоухость 3 степени. <br> Необходимо
										лечение в США. <br> Осталось собрать – <b>4 950 675 рублей</b>.
									</div>
									<a href="" class="link">vk.com/anastasia_group_for_help</a>

									<div class="props">
										Самый быстрый способ помочь – пополнить карту<br> Сбербанка 4276550058352918 Дунаева Екатерина Викторовна, <br>										Яндекс-деньги 410014278089234
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-slider__slide">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-5">
								<div class="help-slider__img">
									<img src="http://placehold.it/300x300" alt="">
								</div>
							</div>
							<div class="col-md-7">
								<div class="help-slider__text">
									<div class="name">Анастасия Дунаева, </div>
									<div class="city">Санкт-Петербург</div>

									<div class="text">
										Двусторонняя атрезия наружных слуховых проходов, <br> двусторонняя кондуктивная тухоухость 3 степени. <br> Необходимо
										лечение в США. <br> Осталось собрать – <b>4 950 675 рублей</b>.
									</div>
									<a href="" class="link">vk.com/anastasia_group_for_help</a>

									<div class="props">
										Самый быстрый способ помочь – пополнить карту<br> Сбербанка 4276550058352918 Дунаева Екатерина Викторовна, <br>										Яндекс-деньги 410014278089234
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>

@@include('./templates/footer.html', { "js": "therapy-inner" })