 @@include('./templates/header.html', { "css": "tourism" })

<main class="main">

	@@include('./templates/breadcrumbs.html')

	<section class="page-content">
		<h2 class="page-content__subhead">
			Туризм и медицина
		</h2>
		<div class="page-slider">
			<div class="mainBanner _right-bottom slide">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>

				<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Опасности этнической еды.</div>
						<div class="page-slider__a">Чем можно и нельзя питаться за границей?</div>
					</a>

			</div>
			<div class="mainBanner _right slide">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>

				<a href="#" class="mainBanner__content page-slider__text">
					<div class="page-slider__q">Опасности этнической еды.</div>
					<div class="page-slider__a">Чем можно и нельзя питаться за границей?</div>
				</a>

			</div>
			<div class="mainBanner _right-top slide">

				<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>

				<a href="#" class="mainBanner__content page-slider__text">
					<div class="page-slider__q">Опасности этнической еды.</div>
					<div class="page-slider__a">Чем можно и нельзя питаться за границей?</div>
				</a>

			</div>
		</div>

		<section class="map-russia">
			<div class="map-russia__container clearfix">
				<div class="map-russia__content col-lg-4">
					<h2 class="map-russia__title">Ваш регион:</h2>
					<div class="map-russia__select dropdown-selectwrap">
					<a href="#" class="map-russia__dropdownbtn dropdown-btn dropdown-toggle" id="map-russia_select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="dropdown-select-text"></span>
					<span class="caret map-russia__select-caret"></span>
					</a>
					<ul class="map-russia__dropdownmenu dropdown-ul dropdown-menu" aria-labelledby="map-russia_select">
						<li><a href="#" id="mr" class="focus-region">Мурманская область</a></li>
						<li><a href="#" id="mc" class="focus-region">Москва</a></li>
					</ul>
					</div>
					<p class="map-russia__area">Площадь - <span class="map-russia__value-a">144 902</span> км²</p>
					<p class="map-russia__population">Население - <span class="map-russia__value-a">762 173</span> чел.</p>
					<div class="map-russia__link-wrap">
						<a href="#" class="map-russia__link">подробнее</a>
					</div>
				</div>
				<div id="vmap" class="vmap map-russia__cart col-lg-8"></div>
			</div>
		</section>

		<div class="n-tours">
			<div class="page-header">Лечебные туры:</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="n-tours__el">
							<img class="img-responsive" src="http://placehold.it/300x260" alt="">
							<div class="n-tours__desc">
								Чехия. Лечение сердечно-сосудистых заболеваний
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-tours__el">
							<img class="img-responsive" src="http://placehold.it/300x260" alt="">
							<div class="n-tours__desc">
								Чехия. Лечение сердечно-сосудистых заболеваний
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-tours__el">
							<img class="img-responsive" src="http://placehold.it/300x260" alt="">
							<div class="n-tours__desc">
								Чехия. Лечение сердечно-сосудистых заболеваний
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="#" class="arrow-down">Перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
		<div class="n-questions vacation">
			<div class="page-header">Долгожданный отпуск:</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="#" class="arrow-down">Перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
		<div class="safe-rest">
			<div class="page-header">Безопасный отдых:</div>
			<div class="page-slider">

				<div class="mainBanner _right-bottom slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Безопасный отдых:</div>
						<div class="page-slider__a">Вирус Зика распространился по 67 странам</div>
					</a>
				</div>
				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Безопасный отдых:</div>
						<div class="page-slider__a">Вирус Зика распространился по 67 странам</div>
					</a>
				</div>
				<div class="mainBanner _right-top slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Безопасный отдых:</div>
						<div class="page-slider__a">Вирус Зика распространился по 67 странам</div>
					</a>
				</div>

			</div>
		</div>
		<div class="n-questions children">
			<div class="page-header">Дети:</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
					<div class="col-md-4">
						<a href="#" class="n-questions__el">
							<div class="n-questions__img">
								<img src="http://placehold.it/220x220" alt="">
							</div>
							<div class="n-questions__desc">
								Аптечка для поездки в тайланд
								<span>Что взять с собой?</span>
							</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a href="#" class="arrow-down">Перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
		<div class="food">
			<div class="page-header">Питание:</div>
			<div class="page-slider">

				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Дуриан</div><br>
						<div class="page-slider__a">Польза vs. вред</div>
					</a>
				</div>
				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Дуриан</div><br>
						<div class="page-slider__a">Польза vs. вред</div>
					</a>
				</div>
				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<a href="#" class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Дуриан</div><br>
						<div class="page-slider__a">Польза vs. вред</div>
					</a>
				</div>

			</div>
		</div>
		<div class="togo-selectwrap">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="togo-selectwrap__h2">Куда поехать?</h2>
						<h3 class="togo-selectwrap__h3">Выберите интересующую Вас проблему, или направление медицины и получите полную информацию о подходящих Вам местах</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="drop _select-input _blue-bor">
							<input class="drop__input" type="text" placeholder="Выберите направление">
							<button type="button" class="drop__toggle">
							</button>
							<div class="baron-all baron-all__clipper baron-all__root  drop__items">
								<div class="baron-all__scroller">
									<ul class="drop__ul">
										<li class="drop__li">направление 1</li>
										<li class="drop__li">направление 2</li>
										<li class="drop__li">направление 3</li>
										<li class="drop__li">направление 4</li>
										<li class="drop__li">направление 5</li>
										<li class="drop__li">направление 6</li>
										<li class="drop__li">направление 7</li>
										<li class="drop__li">направление 8</li>
									</ul>
								</div>
								<div class="baron-all__track">
									<div class="baron-all__free">
										<div class="baron-all__bar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<span class="togo-selectwrap__or">или</span>
					</div>
					<div class="col-md-5">
						<div class="drop _select-input _blue-bor">
							<input class="drop__input" type="text" placeholder="Выберите Заболевание">
							<button type="button" class="drop__toggle">
							</button>
							<div class="baron-all baron-all__clipper baron-all__root  drop__items">
								<div class="baron-all__scroller">
									<ul class="drop__ul">
										<li class="drop__li">Заболевание 1</li>
										<li class="drop__li">Заболевание 2</li>
										<li class="drop__li">Заболевание 3</li>
										<li class="drop__li">Заболевание 4</li>
										<li class="drop__li">Заболевание 5</li>
										<li class="drop__li">Заболевание 6</li>
										<li class="drop__li">Заболевание 7</li>
										<li class="drop__li">Заболевание 8</li>
									</ul>
								</div>
								<div class="baron-all__track">
									<div class="baron-all__free">
										<div class="baron-all__bar"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<a href="" class="togo-selectwrap__submit">
							показать подходящие места >
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="adv-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="http://placehold.it/1000x360" alt="">
					</div>
					<div class="col-md-6">
						<img src="http://placehold.it/1000x360" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="advice-cardio">
			<div class="page-header">Стиль жизни:</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="advice-cardio__el">
							<img src="http://placehold.it/350x350" alt="" class="img-responsive">
							<a href="#" class="advice-cardio__desc">
								<span>Йога</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="all-news clearfix">
			<div class="all-news__nav">
				<ul>
					<li><a href="">Лента новостей</a></li>
					<li><a href="">Новости России</a></li>
					<li><a href="">Новости в мире</a></li>
					<li><a href="">Наука и Hi-Tech</a></li>
				</ul>
				<a href="" class="all-news__search">
					<i class="fa fa-search"></i>
				</a>
			</div>
			<div class="all-news__tile">
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-6">
							<a href="" class="all-news__inner-news">
									<img src="https://i.ytimg.com/vi/VGfGxqHPF0s/maxresdefault.jpg" alt="" class="all-news__innerimg">
									<div class="all-news__innershort">
										<div class="all-news__newsname">Гранаты против старения</div>
										<div class="all-news__newsdate">12 июля 2016 года, 16:00</div>
									</div>
								</a>
						</div>
						<div class="col-md-6">
							<a href="" class="all-news__inner-news">
									<img src="https://s-media-cache-ak0.pinimg.com/originals/83/d3/9e/83d39ee4825459d41fd796cd8cde1861.jpg" alt="" class="all-news__innerimg">
									<div class="all-news__innershort">
										<div class="all-news__newsname">Гранаты против старения</div>
										<div class="all-news__newsdate">12 июля 2016 года, 16:00</div>
									</div>
								</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<a href="" class="all-news__inner-news">
									<img src="http://www.spletnik.ru/img/2015/12/ayna/20151208-star-post.jpg" alt="" class="all-news__innerimg">
									<div class="all-news__innershort">
										<div class="all-news__newsname">Гранаты против старения</div>
										<div class="all-news__newsdate">12 июля 2016 года, 16:00</div>
									</div>
								</a>
						</div>
						<div class="col-md-4">
							<a href="" class="all-news__inner-news">
									<img src="http://www.popmech.ru/upload/iblock/0df/0df1602441981a6916ba2ec220ac0063.jpg" alt="" class="all-news__innerimg">
									<div class="all-news__innershort">
										<div class="all-news__newsname">Гранаты против старения</div>
										<div class="all-news__newsdate">12 июля 2016 года, 16:00</div>
									</div>
								</a>
						</div>
						<div class="col-md-4">
							<a href="" class="all-news__inner-news">
									<img src="http://gosindex.ru/wp-content/uploads/2016/03/zvzv.jpg" alt="" class="all-news__innerimg">
									<div class="all-news__innershort">
										<div class="all-news__newsname">Гранаты против старения</div>
										<div class="all-news__newsdate">12 июля 2016 года, 16:00</div>
									</div>
								</a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="all-news__list">
						<div class="all-news__listhead">
							Последние новости:
						</div>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="#" class="all-news__listitem">
							<div class="all-news__listdata">15.08 10:00</div>
							<div class="all-news__listtext">
								Самые тяжелые заболевания будут лечить в Сколково
							</div>
						</a>
						<a href="" class="all-news__listeseall">
								Смотреть все >
							</a>
					</div>
				</div>
			</div>
		</div>
		<div class="age">
			<div class="page-header">Возраст не помеха:</div>
			<div class="page-slider">

				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<div class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Лучшие места</div>
						<div class="page-slider__a">которые стоит</div>
						<div class="page-slider__a2">посетить с внуками</div>
						<a href="" class="page-slider__link">читать полностью ></a>
					</div>
				</div>
				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<div class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Лучшие места</div>
						<div class="page-slider__a">которые стоит</div>
						<div class="page-slider__a2">посетить с внуками</div>
						<a href="" class="page-slider__link">читать полностью ></a>
					</div>
				</div>
				<div class="mainBanner _right slide">
					<span data-picture="" data-alt="Камни в почках">
            		<span data-src="http://placehold.it/414x414"></span>
            		<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            		<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            		<noscript>
            		    <img src="http://placehold.it/1920x450" alt="">
            		</noscript>
        		</span>
					<div class="mainBanner__content page-slider__text">
						<div class="page-slider__q">Лучшие места</div>
						<div class="page-slider__a">которые стоит</div>
						<div class="page-slider__a2">посетить с внуками</div>
						<a href="" class="page-slider__link">читать полностью ></a>
					</div>
				</div>

			</div>
		</div>
		<div class="adv-block">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="http://placehold.it/1000x360" alt="">
					</div>
					<div class="col-md-6">
						<img src="http://placehold.it/1000x360" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

@@include('./templates/footer.html', { "js": "tourism" })