@@include('./templates/header.html', { "css": "urologia" })

<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html"
                        class="city-modal__link city-modal__link_weather">Выберите город <span
                        class="caret city-modal__caret"></span></button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="urologia-menu">
        <div class="wrap clearfix">
            <nav class="urologia-menu__content col-lg-6 col-lg-offset-6 col-md-9  col-md-offset-3">
                <ul class="urologia-menu__list">
                    <li><a href="#urologia-news" class="urologia-menu__list-item">Полезные статьи</a></li>
                    <li><a href="#directions-urology" class="urologia-menu__list-item">Направления урологии</a></li>
                    <li><a href="#diseases-symptoms" class="urologia-menu__list-item">Симптомы и болезни</a></li>
                    <li><a href="#common-diseases" class="urologia-menu__list-item">Профилактика и лечение</a></li>
                    <li><a href="#urology-diagnostic" class="urologia-menu__list-item">Диагностика</a></li>
                    <li><a href="#advices" class="urologia-menu__list-item">Поиск специалиста</a></li>
                    <li><a href="#clinic-block" class="urologia-menu__list-item">Найти клинику</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="news-tabs" id="urologia-news">
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html',{
        "img" : "no-img"
        })
    </section>

    <section id="directions-urology" class="directions-urology">
        <div class="directions-urology__title">
            <h2>Направления урологии:</h2>
        </div>
        <div class="directions-urology__content">
            <div class="wrap">
                <h3 class="directions-urology__subtitle">Урологию можно разделить на несколько более мелких отраслей
                    медицины, каждая из которых имеет более узкую направленность</h3>
                <div class="directions-urology__items">
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img1.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Андрология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img2.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Урогинекология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img3.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Детская урология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img4.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Гериатрическая урология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img5.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Фтизиоурология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img6.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Онкоурология</h4>
                        </div>
                    </a>
                    <a href="" class="directions-urology__item">
                        <div class="directions-urology__img-wrap">
                            <img src="img/urologia/directions-img7.jpg" alt="" class="directions-urology__img">
                        </div>
                        <div class="directions-urology__text-content">
                            <h4>Неотложная урология</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="diseases-symptoms" class="diseases-symptoms">
        <div class="diseases-symptoms__title">
            <h2>Болезни и их симптомы:</h2>
        </div>
        <div class="diseases-symptoms__content">

            <form action="#" class="diseases-symptoms__form">
                <p>Выберите интересующую Вас букву, или воспользуйтесь поиском</p>
                <div class="diseases-symptoms__field">
                    <input type="search" class="diseases-symptoms__input">
                    <button type="submit" class="diseases-symptoms__btn"></button>
                </div>
            </form>
            <ul class="alphabet _urology">
                <li><a href="#" class="alphabet__item">А</a></li>
                <li><a href="#" class="alphabet__item">Б</a></li>
                <li><a href="#" class="alphabet__item">В</a></li>
                <li><a href="#" class="alphabet__item">Г</a></li>
                <li><a href="#" class="alphabet__item">Д</a></li>
                <li><a href="#" class="alphabet__item">Е</a></li>
                <li><a href="#" class="alphabet__item">Ё</a></li>
                <li><a href="#" class="alphabet__item">Ж</a></li>
                <li><a href="#" class="alphabet__item">З</a></li>
                <li><a href="#" class="alphabet__item">И</a></li>
                <li><a href="#" class="alphabet__item">Й</a></li>
                <li><a href="#" class="alphabet__item">К</a></li>
                <li><a href="#" class="alphabet__item">Л</a></li>
                <li><a href="#" class="alphabet__item">М</a></li>
                <li><a href="#" class="alphabet__item">Н</a></li>
                <li><a href="#" class="alphabet__item">О</a></li>
                <li><a href="#" class="alphabet__item">П</a></li>
                <li><a href="#" class="alphabet__item">Р</a></li>
                <li><a href="#" class="alphabet__item">С</a></li>
                <li><a href="#" class="alphabet__item">Т</a></li>
                <li><a href="#" class="alphabet__item">У</a></li>
                <li><a href="#" class="alphabet__item">Ф</a></li>
                <li><a href="#" class="alphabet__item">Х</a></li>
                <li><a href="#" class="alphabet__item">Ц</a></li>
                <li><a href="#" class="alphabet__item">Ч</a></li>
                <li><a href="#" class="alphabet__item">Ш</a></li>
                <li><a href="#" class="alphabet__item">Щ</a></li>
                <li><a href="#" class="alphabet__item">Ъ</a></li>
                <li><a href="#" class="alphabet__item">Ы</a></li>
                <li><a href="#" class="alphabet__item">Ь</a></li>
                <li><a href="#" class="alphabet__item">Э</a></li>
                <li><a href="#" class="alphabet__item">Ю</a></li>
                <li><a href="#" class="alphabet__item">Я</a></li>
            </ul>

        </div>
        <div class="diseases-block">
            <div class="wrap clearfix">
                <div class="col-md-2">
                    <div class="diseases-block__char">А</div>
                </div>
                <div class="diseases-block__items col-md-10">
                    <div class="diseases-block__item">
                        <h3><a href="">Абсцесс предстательной железы</a></h3>
                        <div>Проявляется резкой пульсирующей болью в промежности и прямой кишке, интоксикацией,
                            ознобами, лихорадкой, затрудненными мочеиспусканием и дефекацией. Диагностика абсцесса
                            предстательной железы включает пальцевое исследование простаты per rectum, ТРУЗИ, пункцию
                            гнойника.
                        </div>
                    </div>
                    <div class="diseases-block__item">
                        <h3><a href="">Аденокарцинома почки</a></h3>
                        <div>Аденокарцинома почки – почечно-клеточный рак, исходящий из эпителия канальцев почки.
                            Проявлениями аденокарциномы почки служат боль в пояснице, гематурия, увеличение размеров
                            почки, анемия, кахексия. Возможно метастазирование опухоли в легкие, паракавальные и
                            парааортальные лимфоузлы, кости, печень, надпочечники, противоположную почку. Аденокарцинома
                            диагностируется в ходе УЗИ почек, цистоскопии, экскреторной урографии, уретеропиелографии,
                            КТ почек. Морфологическая верификация диагноза проводится путем пункционной биопсии почки и
                            гистологического исследования биоптата.
                        </div>
                    </div>
                    <div class="diseases-block__item">
                        <h3><a href="">Аденома предстательной железы</a></h3>
                        <div>Аденома предстательной железы (доброкачественная гиперплазия предстательной железы, ДГПЖ) —
                            это доброкачественная опухоль, часто возникающая у мужчин старше 40-50 лет. Аденома простаты
                            представляет собой разрастание ткани предстательной железы и возникновение в ней
                            доброкачественных новообразований (опухолей, «узлов»). Поскольку предстательная железа
                            охватывает собой часть мочеиспускательного канала, при разрастании она сдавливает его, и
                            мочеиспускание затрудняется.
                        </div>
                    </div>
                </div>
            </div>
            <div class="diseases-block__link-wrap">
                <a href="#!" class="link-arrow _whiteBG">перейти в раздел</a>
            </div>
        </div>
        <div id="common-diseases" class="common-diseases">
            <div class="wrap">
                <h2 class="common-diseases__title">Самые распространенные болезни</h2>
                <div class="common-diseases__items">
                    <div class="common-diseases__item clearfix">
                        <div class="common-diseases__img-block col-md-5">
                            <div class="common-diseases__img-wrap">
                                <img src="http://placehold.it/420x380" alt="" class="common-diseases__img">
                            </div>
                        </div>
                        <div class="common-diseases__text-content col-md-7">
                            <h3>Простатит</h3>
                            <div>Острый простатит достаточно легко диагностируется, благодаря типичной клинической
                                картине и наличию выраженной симптоматики, которая заставляет предположить острый
                                инфекционно-воспалительный процесс в предстательной железе.
                            </div>
                            <a href="">узнать больше ></a>
                        </div>
                    </div>
                    <div class="common-diseases__item clearfix">
                        <div class="common-diseases__img-block col-md-5 col-md-push-7">
                            <div class="common-diseases__img-wrap">
                                <img src="http://placehold.it/420x380" alt="" class="common-diseases__img">
                            </div>
                        </div>
                        <div class="common-diseases__text-content col-md-7 col-md-pull-5">
                            <h3>Мочекаменная болезнь</h3>
                            <div>Мочекаменная болезнь – заболевание, характеризующееся появлением в мочевыделительных
                                органах (почках, мочеточниках, мочевом пузыре) твердых камнеподобных образований. По
                                своей сути мочевые камни являются кристаллами, возникшими из солей, растворенных в моче.
                            </div>
                            <a href="">узнать больше ></a>
                        </div>
                    </div>
                    <div class="common-diseases__item clearfix">
                        <div class="common-diseases__img-block col-md-5">
                            <div class="common-diseases__img-wrap">
                                <img src="http://placehold.it/420x380" alt="" class="common-diseases__img">
                            </div>
                        </div>
                        <div class="common-diseases__text-content col-md-7">
                            <h3>Цистит</h3>
                            <div>Частое мочеиспускание, сопровождается жжением. Помутнение мочи или следы крови в ней
                            </div>
                            <a href="">узнать больше ></a>
                        </div>
                    </div>
                </div>
                <div class="common-diseases__link-wrap">
                    <a href="#!" class="link-arrow">перейти в раздел</a>
                </div>
            </div>
        </div>
        <div class="mainBanner _right kidneyStones">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/urologia/kidney-stones.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/urologia/kidney-stones.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/urologia/kidney-stones.jpg" alt="">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="kidneyStones__content">
                    <h2>Камни в почках. <br>как избежать</h2>
                    <a href="">узнать больше</a>
                </div>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

    <div id="clinic-block" class="clinic-block">
        <div class="wrap clearfix">
            <div class="clinic-block__content col-md-6">
                <div class="clinic-block__text-content">
                    <div class="clinic-block__title"><span>Как выбрать</span> <strong>клинику</strong> и не ошибиться
                    </div>
                    <a href="">узнать больше ></a>
                </div>
            </div>
        </div>
    </div>

    <section id="diagnostic" class="diagnostic">
        <div class="diagnostic__title">
            <h2 class="diagnostic__title-content">Диагностика:</h2>
        </div>
        <div class="diagnostic__content">
            <div class="wrap clearfix">
                <div class="col-md-6">
                    <form action="#" class="diag-form__input-group clearfix">
                        <h2 class="diamonds-diagnostics__head">Диагностика:</h2>
                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Выберите направление">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">направление 1</li>
                                        <li class="drop__li">направление 2</li>
                                        <li class="drop__li">направление 3</li>
                                        <li class="drop__li">направление 4</li>
                                        <li class="drop__li">направление 5</li>
                                        <li class="drop__li">направление 6</li>
                                        <li class="drop__li">направление 7</li>
                                        <li class="drop__li">направление 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="drop _select-input _blue">
                            <input class="drop__input" type="text" placeholder="Заболевание">
                            <button type="button" class="drop__toggle">
                            </button>
                            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                                <div class="baron-all__scroller">
                                    <ul class="drop__ul">
                                        <li class="drop__li">заболевание 1</li>
                                        <li class="drop__li">заболевание 2</li>
                                        <li class="drop__li">заболевание 3</li>
                                        <li class="drop__li">заболевание 4</li>
                                        <li class="drop__li">заболевание 5</li>
                                        <li class="drop__li">заболевание 6</li>
                                        <li class="drop__li">заболевание 7</li>
                                        <li class="drop__li">заболевание 8</li>
                                    </ul>
                                </div>
                                <div class="baron-all__track">
                                    <div class="baron-all__free">
                                        <div class="baron-all__bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn _tran _black diag-form__show-btn" title="Показать заболевание">Подобрать анализ</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <ul class="diagnostic__list">
                        <li class="diagnostic__list-item">
                            <div class="diagnostic__list-title">
                                Необходимая диагностика
                            </div>
                            <ol class="diagnostic__subList">
                                <li class="diagnostic__subList-item">
                                    Гормональное исследование крови
                                </li>
                                <li class="diagnostic__subList-item">
                                    Биохимическое исследование крови
                                </li>
                                <li class="diagnostic__subList-item">
                                    Рентгенологическое исследование
                                </li>
                                <li class="diagnostic__subList-item">
                                    Компьютерная томография щитовидной железы
                                </li>
                            </ol>
                        </li>
                        <li class="diagnostic__list-item">
                            <div class="diagnostic__list-title">
                                К каким специалистам необходимо
                                обратиться?
                            </div>
                            <ol class="diagnostic__subList">
                                <li class="diagnostic__subList-item">
                                    К эндокринологу
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

</main>

@@include('./templates/footer.html', { "js": "urologia" })