@@include('./templates/header.html', {
    "css": "vaccination-calendar"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

	@@include('./templates/vaccination-calendar.html')

<div class="vaccination-table">
	<table class="vaccination-table__table-list">
		<tr class="vaccination-table__title-row">
			<th class="vaccination-table__cell-title  vaccination-table__cell-title-date">Рекомендуемая дата</th>
			<th class="vaccination-table__cell-title  vaccination-table__cell-title-age">Возраст</th>
			<th class="vaccination-table__cell-title  vaccination-table__cell-title-vac">Название прививки</th>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 января 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">Новорожденные <br>(в первые 24 часа жизни)</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Первая вакцинация против гепатита B</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">с 1 по 8 января 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">Новорожденные <br>(3 - 7 дней жизни)</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вакцинация против туберкулеза</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 февраля 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">1 месяц</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вторая вакцинация против гепатита B - дети из группы риска</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 марта 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">2 месяца</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Третья вакцинация против гепатита B - дети из группы риска</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 апреля 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">3 месяца</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вторая вакцинация против гепатита B</p>
				<p class="vaccination-table__cell-text">Первая вакцинация против коклюша, дифтерии и столбняка</p>
				<p class="vaccination-table__cell-text">Первая вакцинация против полиомиелита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">17 мая 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">4,5 месяца </td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вторая вакцинация против коклюша, дифтерии и столбняка</p>
				<p class="vaccination-table__cell-text">Вторая вакцинация против полиомиелита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 июля 2016</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">6 месяцев</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Третья вакцинация против гепатита B</p>
				<p class="vaccination-table__cell-text">Третья вакцинация против коклюша, дифтерии и столбняка</p>
				<p class="vaccination-table__cell-text">Третья вакцинация против полиомиелита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 января 2017</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">12 месяцев</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вакцинация против кори, краснухи и эпидемического паротита </p>
				<p class="vaccination-table__cell-text">Четвертая вакцинация против гепатита B - дети из группы риска</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 июля 2017</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">18 месяцев</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Первая ревакцинация против коклюша, дифтерии и столбняка</p>
				<p class="vaccination-table__cell-text">Первая ревакцинация против полиомиелита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">1 сентября 2017</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">20 месяцев</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вторая ревакцинация против полиомиелита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">30 декабря 2021</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">6 лет</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Ревакцинация против кори, краснухи и эпидемического паротита</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">30 декабря 2022</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">6-7 лет</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Вторая ревакцинация против дифтерии и столбняка</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date">28 декабря 2029</td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">7 лет</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Ревакцинация против туберкулеза</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date"></td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">14 лет</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Третья ревакцинация против дифтерии и столбняка</p>
				<p class="vaccination-table__cell-text">Третья ревакцинация против полиомиелита</p>
				<p class="vaccination-table__cell-text">Ревакцинация против туберкулеза</p>
			</td>
		</tr>
		<tr class="vaccination-table__table-row">
			<td class="vaccination-table__cell  vaccination-table__cell-date"></td>
			<td class="vaccination-table__cell  vaccination-table__cell-age">Взрослые старше 18 лет</td>
			<td class="vaccination-table__cell  vaccination-table__cell-vac">
				<p class="vaccination-table__cell-text">Ревакцинация против дифтерии и столбняка - каждые 10 лет от момента последней ревакцинации</p>
			</td>
		</tr>
	</table>
</div>
	
</main>

@@include('./templates/footer.html', {
    "js": "vaccination-calendar"
})