@@include('./templates/header.html', {
    "css": "women"
})
<span class="svginclude">
@@include('../source/svg/svg-women-world.html')
</span>
<main class="main">

@@include('./templates/breadcrumbs.html')

	<section class="icons icons__5">
		<div class="icons__container">
			<h2 class="women-world__title">Женский мир</h2>
			<ul class="icons__list">
				<li class="icons__item">
					<a href="#beauty" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-krasota_i_uhod"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Красота и уход
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#women-psychology" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-psihologiya"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Психология
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#women-health" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zdorove"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Здоровье
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#sport" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-sport"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                            Спорт
                        </span>
					</a>
				</li>
				<li class="icons__item">
					<a href="#women-food" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-pitanie"></use>
                            </svg>
                        </span>
						<span class="icons__link-text">
                           Питание
                        </span>
					</a>
				</li>
			</ul>

		</div>
	</section>


	
	<section class="women-psychology" id="women-psychology">
		<div class="women-psychology__title">
			<h2 class="women-psychology__title-content">Психология</h2>
		</div>
		<div class="women-psychology__content">
			<div class="psychology-slider slider">

				<div class="mainBanner _right-top psychology-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content psychology-slider__content">
						<a href="#!" class="psychology-slider__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами  россиян</p>
						</a>
					</div>
				</div>

				<div class="mainBanner _center psychology-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content psychology-slider__content">
						<a href="#!" class="psychology-slider__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами  россиян</p>
						</a>
					</div>
				</div>

				<div class="mainBanner _right-bottom psychology-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content psychology-slider__content">
						<a href="#!" class="psychology-slider__link">
							<h3>Семейные отношения:</h3>
							<p>Идеальная семья глазами  россиян</p>
						</a>
					</div>
				</div>

			</div>
			<div class="women-psychology__link-wrap">
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
		</div>
	</section>
	
	<section class="women-health" id="women-health">
		<div class="women-health__title">
			<h2 class="women-health__title-content">Здоровье</h2>
		</div>
		<div class="women-health__content">
			<div class="women-health__container clearfix">
				<div class="women-health__text-content col-md-6 col-md-offset-6">
					<ul class="women-health__list">
						<li><a href="#!"><span>5 причин,</span> почему  болит внизу живота</a></li>
						<li><a href="#!"><span>Как есть после 50,</span> чтобы сохранить кости</a></li>
						<li><a href="#!"><span>Подумай за двоих:</span> что нужно будущим мамам, чтобы выносить здорового малыша</a></li>
						<li><a href="#!"><span>Аденоиды:</span> лечение или операция?</a></li>
					</ul>
					<div class="women-health__link-wrap">
						<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="women-food" id="women-food">
		<div class="women-food__title">
			<h2 class="women-food__title-content">Питание</h2>
		</div>
		<div class="women-food__content">
			<div class="women-food__container clearfix">
				<div class="women-food__text-content col-md-6">
					<ul class="women-food__list">
						<li><a href="#!">Питание после родов</a></li>
						<li><a href="#!">Вся правда о рисе</a></li>
						<li><a href="#!">ТОП 10 самых полезных продуктов для женщин</a></li>
					</ul>
					<div class="women-food__link-wrap">
						<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sport" id="sport">
		<div class="sport__title">
			<h2 class="sport__title-content">Спорт</h2>
		</div>
		<div class="sport__content">
			<div class="sport-slider slider">

				<div class="mainBanner _right-top sport-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content sport-slider__content">
						<a href="#!" class="sport-slider__link">
							<h3>10 эффективных упражнений</h3>
							<p>для стройной фигуры</p>
						</a>
					</div>
				</div>

				<div class="mainBanner _right-top sport-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content sport-slider__content">
						<a href="#!" class="sport-slider__link">
							<h3>10 эффективных упражнений</h3>
							<p>для стройной фигуры</p>
						</a>
					</div>
				</div>

				<div class="mainBanner _right-top sport-slider__item">

					<span data-picture="" data-alt="Камни в почках">
            			<span data-src="http://placehold.it/414x414"></span>
            			<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            			<span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            			<noscript>
            			    <img src="http://placehold.it/1920x450" alt="">
            			</noscript>
        			</span>

					<div class="mainBanner__content sport-slider__content">
						<a href="#!" class="sport-slider__link">
							<h3>10 эффективных упражнений</h3>
							<p>для стройной фигуры</p>
						</a>
					</div>
				</div>

			</div>
			<div class="sport__link-wrap">
				<a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
			</div>
			@@include('./templates/banners.html')
		</div>
	</section>
	
	<section class="news-tabs" id="beauty">
		<div class="news-tabs__title">
			<h2>Красота и уход</h2>
		</div>
		@@include('./templates/news-tabs.html',{
			"img" : "no-img"
		})
	</section>
		
</main>

@@include('./templates/footer.html', {
    "js": "women"
})