@@include('./templates/header.html', {
    "css": "work"
})

<main class="main">

@@include('./templates/breadcrumbs.html')

<div class="weather">
	<div class="weather__container clearfix">
		<div class="weather__values col-lg-8 clearfix">
			<div class="weather__temperature weather__item">+10</div>
			<div class="weather__cloudiness weather__item">облачно</div>
			<div class="weather__pressure weather__item">741 мм рт.ст.</div>
			<div class="weather__wind weather__item">2.3 м/с</div>
			<div class="weather__time weather__item">07:45</div>
		</div>
		<div class="weather__city-wrap col-lg-4">
			<button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">Выберите город <span class="caret city-modal__caret"></span></button>
		</div>
		<div id="myModal" class="city-modal__modal">
		</div>
		<div id="loading" style="display: none">
			Идет загрузка...
		</div>
	</div>
</div>

<section class="work-list">
	<form action="post" class="work-list__form">
		<div class="work-list__container">
			<div class="work-list__content-form clearfix">
				<div class="work-list__industry work-list__input">
					<label class="work-list__label">Отрасль:</label>
					<div class="work-list__select dropdown-selectwrap clearfix">
						<a href="#" class="work-list__dropdownbtn dropdown-btn dropdown-toggle" id="work-list_select-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="dropdown-select-text"></span>
							<span class="caret work-list__caret"></span>
						</a>
						<ul class="work-list__dropdownmenu dropdown-ul dropdown-menu clearfix">
							<li><a href="#">Маркетинг</a></li>
							<li><a href="#">Маркетинг</a></li>
						</ul>
					</div>
				</div>

				<div class="work-list__specialty work-list__input">
					<label class="work-list__label">Специальность:</label>
					<div class="work-list__select dropdown-selectwrap">
						<a href="#" class="work-list__dropdownbtn dropdown-btn dropdown-toggle" id="work-list_select-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="dropdown-select-text"></span>
							<span class="caret work-list__caret"></span>
						</a>
						<ul class="work-list__dropdownmenu dropdown-ul dropdown-menu">
							<li><a href="#">Копирайтер</a></li>
							<li><a href="#">Копирайтер</a></li>
						</ul>
					</div>
				</div>

				<div class="work-list__occupation work-list__input">
					<label class="work-list__label">Занятость:</label>
					<div class="work-list__select dropdown-selectwrap">
						<a href="#" class="work-list__dropdownbtn dropdown-btn dropdown-toggle" id="work-list_select-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="dropdown-select-text"></span>
							<span class="caret work-list__caret"></span>
						</a>
						<ul class="work-list__dropdownmenu dropdown-ul dropdown-menu">
							<li><a href="#">полный день</a></li>
							<li><a href="#">полный день</a></li>
						</ul>
					</div>
				</div>

				<div class="work-list__salary work-list__input">
					<label class="work-list__label" for="work-rate">Заработная плата:</label>
					<input id="work-rate" type="text" value="30000" class="work-list__input-field">
				</div>
				<div class="work-list__search  work-list__input">
					<button type="submit" class="work-list__search-btn"></button>
				</div>
			</div>
		</div>
	</form>
		
	<div class="work-list__container">
		<div class="work-list__work-items">
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
			</div>
			
			<div class="work-list__work-item">
				<div class="work-list__work-item-content">
					<h3 class="div work-list__work-title">Копирайтер для написания статей о детях-инвалидах (удаленно)</h3>
					<div class="work-list__subrow">
						<span class="work-list__resource">fl.ru</span>
						<span class="span work-list__time">Вакансия найдена 1 день назад</span>
					</div>
					<div class="work-list__description">Фонду "Подари ЗАВТРА!" (детям-инвалидам) нужен талантливый копирайтер для написания статей о детях инвалидах (объем одной статьи до 8000 знаков).</div>
					<div class="work-list__conditions">
						<span class="work-list__work-occupation">Гибкий график</span>
						<span class="work-list__work-salary">по договоренности</span>
					</div>
				</div>
		</div>
		</div>

@@include('./templates/paginator.html')
		
	</div>
</section>

</main>

@@include('./templates/footer.html', {
    "js": "work"
})