 @@include('./templates/header.html', { "css": "wrist" })

<main class="main">

	@@include('./templates/breadcrumbs.html')

	<div class="page-background">
		<section class="page-content n-page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h1 class="n-page-header__h1">Тип телосложения по обхвату запястья</h1>
					</div>
				</div>
			</div>
		</section>
		<div class="page-content n-quoteblock">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<q class="n-quoteblock__quote">
							Для того чтобы грамотно подбирать одежду, рассчитывать необходимые калории и лучше понимать особенности своего тела, важно
							узнать его тип. В настоящее время существует множество самых разных классификаций, которые позволяют установить свою
							принадлеж- ность к определенному типажу, исходя из самых разных параметров. Вместе с тем сущест- вует и большое количество
							методик того, как узнать свой тип телосложения.
						</q>
					</div>
				</div>
			</div>
		</div>
		<section class="n-calcform">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7 col-md-offset-5 col-sm-12">
						<form class="n-calcform__form">
							<h2 class="n-calcform__h2">
								Заполните форму:
							</h2>
							<div class="form-border">
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Пол</div>
										<div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
											<label class="radio-container pull-left">
											<input type="radio" name="f1" value="1">
											<span class="radio-body"></span>
											<span class="radio-text">женский</span>
										</label>
											<label class="radio-container pull-right">
											<input type="radio" name="f1" value="2">
											<span class="radio-body"></span>
											<span class="radio-text">мужской</span>
										</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Вес</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<input type="text" name="weight" class="n-calcform__input">
										</div>
										<div class="clearfix"></div>
										<div class="n-calcform__rightcaption">кг</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="n-calcform__leftcaption">Рост</div>
										<div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
											<input type="text" name="" class="n-calcform__input">
										</div>
										<div class="clearfix"></div>
										<div class="n-calcform__rightcaption">см</div>
									</div>
								</div>
							</div>
							<button class="n-calcform__button">
							рассчитать
						</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<div class="n-wristresult">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7 col-md-offset-5">
						<div class="n-wristresult__heading">Ваш результат:</div>
						<div class="n-wristresult__subheading">Астенический тип телосложения</div>
						<div class="n-wristresult__p">
							характеризуют общая худощавость, длинная и тонкая шея, узкие плечи, плоская и узкая грудная клетка, удлиненные тонкие конечности,
							вытянутое лицо и тонкий нос. Рост чаще выше среднего. Мышцы развиты слабо. Поэтому им недостает силы и выносливости.
							Зато представители данной группы энергичны, легки и изящны, имеют небольшой вес
						</div>
					</div>
				</div>
			</div>
		</div>

		@@include('./templates/also-you-will-be-interested.html', {
		"title": "Также Вам будет интересно"
		})

	</div>

</main>

@@include('./templates/footer.html', { "js": "wrist" })