@@include('./templates/header.html', { "css": "zhkt-osnovnaya" })
<span class="svginclude">
@@include('../source/svg/svg-zhkt-osnovnaya.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#regions" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_regioni"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            регионы
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#section" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_razdeli"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            разделы
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#articles" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_statii"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            статьи
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#right-food" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_pitanie"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            питание <br>
                            при заболеваниях ЖКТ
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#advices" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_sovet_vracha"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            советы <br>
                            специалистов
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                    <a href="#map-footer" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_search"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            поиск по карте
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <section id="regions" class="regions-map">
        <div class="regions-map__title">
            <h2 class="regions-map__title-content">Регионы</h2>
        </div>
        @@include('./templates/region-map.html',{
        "img" : "zhkt-osnovnaya/zhkt-osnovnaya-map.jpg",
        "title" : "Все о пищеварении и желудочно-кишечном тракте в вашем регионе"
        })
    </section>

    <section id="section" class="section">
        <div class="section__title">
            <h2 class="section__title-content">Разделы</h2>
        </div>
        <div class="section__content">
            <ul>
                <li>
                    <a href="#" class="section__link ">
                        <span class="section__link-title _borderOrange">Желудок</span>
                        <span class="section__link-icon _iconZheludok"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="section__link">
                        <span class="section__link-title _borderYellow">Пищевод</span>
                        <span class="section__link-icon _iconPishchevod"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="section__link">
                        <span class="section__link-title _borderPink">Кишечник</span>
                        <span class="section__link-icon _iconKishechnik "></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="section__link">
                        <span class="section__link-title _borderGreen">
                            Желчевыводящие
                            <br>
                            пути
                        </span>
                        <span class="section__link-icon _iconZhelch"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="section__link">
                        <span class="section__link-title _borderBrown">Печень</span>
                        <span class="section__link-icon _iconPechen"></span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section id="articles" class="articles">
        <div class="articles__title">
            <h2 class="articles__title-content">Статьи</h2>
        </div>
        <div class="mainBanner _left articles__banner">
            <span data-picture data-alt="Упражнения для стройной фигуры">
                <span data-src="img/zhkt-osnovnaya/baner-zhkt-sm.jpg"></span>
                <span data-src="img/zhkt-osnovnaya/baner-zhkt.jpg" data-media="(min-width: 1024px)"></span>
                <noscript>
                    <img src="img/zhkt-osnovnaya/baner-zhkt.jpg" alt="Упражнения для стройной фигуры">
                </noscript>
            </span>
            <div class="mainBanner__content articles__banner-desc">
                <div class="articles__banner-title">
                    Язва желудка: <br>
                    характерные симптомы
                </div>
                <a href="#!" title="Показать заболевание" class="btn _tran _black">узнать больше></a>
            </div>
        </div>
            <div class="g-grid _col-4 _cont-cent _txt-outer">
                <ul class="g-grid__ul">
                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Гастрит: причины</div>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Язва желудка: харктерные
                                    симптомы</div>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Гастрит: причины</div>
                            </div>
                        </a>
                    </li>

                    <li class="g-grid__li">
                        <a href="#!" title="some-title" class="g-grid__link">
                            <div class="g-grid__img-cont">
                                <img src="http://placehold.it/350x350" alt="#">
                            </div>
                            <div class="g-grid__content">
                                <div class="g-grid__txt">Гастрит: причины</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="right-food" class="right-food">

        <div class="right-food__title">
            <h2 class="right-food__title-content">Правильное питание при заболеваниях</h2>
        </div>
        <div class="right-food__bg">

            <span class="right-food__bg-img" data-picture data-alt="Упражнения для стройной фигуры">
                <span data-src="img/zhkt-osnovnaya/baner-right-food-sm.jpg"></span>
                <span data-src="img/zhkt-osnovnaya/right-food-bg.jpg" data-media="(min-width: 1024px)"></span>
                <noscript>
                    <img src="img/zhkt-osnovnaya/right-food-bg.jpg" alt="Упражнения для стройной фигуры">
                </noscript>
            </span>
            <div class="right-food__cont">
                <form action="#" class="diag-form__input-group clearfix">
                    <div class="diag-form__label">Выберите интересующий Вас раздел и получите меню питания прямо
                        сейчас
                    </div>
                    <div class="drop _select">
                        <button type="button" class="drop__toggle">
                            меню для снижения веса
                        </button>
                        <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                            <div class="baron-all__scroller">
                                <ul class="drop__ul">
                                    <li class="drop__li">Меню 1</li>
                                    <li class="drop__li">Меню 2</li>
                                    <li class="drop__li">Меню 3</li>
                                    <li class="drop__li">Меню 4</li>
                                    <li class="drop__li">Меню 5</li>
                                    <li class="drop__li">Меню 6</li>
                                    <li class="drop__li">Меню 7</li>
                                    <li class="drop__li">Меню 8</li>
                                </ul>
                            </div>
                            <div class="baron-all__track">
                                <div class="baron-all__free">
                                    <div class="baron-all__bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn _yellow right-food__btn"
                            title="Подобрать индивидуальный план питания">показать
                        питание
                    </button>
                </form>
                <div class="right-food__bot-cont">
                    <div class="grid-cont right-food__grid-cont">
                        <div class="row">
                            <div class="col-md-4 grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _1">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _2">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _3">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _4">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>
                            <div class="col-md-4  grid-cont__each-cont ">
                                <h3 class="grid-cont__head">Завтрак</h3>
                                <ul class="grid-cont__ul _5">
                                    <li>2 яйца (всмятку/отварных)</li>
                                    <li>Огурец,помидор</li>
                                    <li>Кусочек цельнозернового хлеба с творожным сыром</li>
                                    <li>Травяной чай</li>
                                </ul>
                            </div>

                            <div class="col-md-4 grid-cont__circle-cont">
                                <a href="#!">
                                    <div class="grid-cont__circle"></div>
                                    <span class="grid-cont__txt">следующий день&#62;</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="right-food__img-cont">
                        <a href="#!" title="12 продуктов, на употребление которых повлияли тренды в питании">
                            <img src="img/right-food/right-food/trands.jpg"
                                 alt="12 продуктов, на употребление которых повлияли тренды в питании">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainBanner _right right-food__baner">

			<span data-picture="" data-alt="Камни в почках">
            	<span data-src="http://placehold.it/414x414"></span>
            	<span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            	<span data-src="img/zhkt-osnovnaya/baner-right-food.jpg" data-media="(min-width: 992px)"></span>
            	<noscript>
            	    <img src="img/zhkt-osnovnaya/baner-right-food.jpg" alt="" class="advice-banner__img">
            	</noscript>
        	</span>

            <div class="mainBanner__content right-food__baner-desc">
                <div class="right-food__baner-title">
                    Вкусное и здоровое питание<br>
                    <strong>на каждый день</strong>
                </div>
                <a href="#!" title="Показать заболевание" class="btn _tran _black _whiteBG">перейти в раздел ></a>
            </div>
        </div>
    </section>

    @@include('./templates/advices.html')

</main>

@@include('./templates/footer.html', { "js": "zhkt-osnovnaya" })
