@@include('./templates/header.html', {
"css": "zhkt-region"
})
<span class="svginclude">
@@include('../source/svg/svg-zhkt-region.html')
</span>
<main class="main">

    @@include('./templates/breadcrumbs.html')

    <div class="weather">
        <div class="weather__container clearfix">
            <div class="weather__values col-lg-8 clearfix">
                <div class="weather__temperature weather__item">+10</div>
                <div class="weather__cloudiness weather__item">облачно</div>
                <div class="weather__pressure weather__item">741 мм рт.ст.</div>
                <div class="weather__wind weather__item">2.3 м/с</div>
                <div class="weather__time weather__item">07:45</div>
            </div>
            <div class="weather__city-wrap col-lg-4">
                <button id="myBtn" data-url="dynamic-blocks/cities.html" class="city-modal__link city-modal__link_weather">
                    Выберите город
                    <span class="caret city-modal__caret"></span>
                </button>
            </div>
            <div id="myModal" class="city-modal__modal">
            </div>
            <div id="loading" style="display: none">
                Идет загрузка...
            </div>
        </div>
    </div>

    <div class="icons icons__3">
        <div class="icons__container">

            <ul class="icons__list">
                <li class="icons__item">
                    <a href="#news" class="icons__link">
                        <span class="icons__icon">
                            <svg class="icons__icon-svg">
                                <use xlink:href="#icon-zkt_news"></use>
                            </svg>
                        </span>
                        <span class="icons__link-text">
                            новости
                        </span>
                    </a>
                </li>
                <li class="icons__item">
                        <a href="#directory" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-zkt_spravochnik"></use>
                                </svg>
                            </span>
                            <span class="icons__link-text">
                                справочник
                            </span>
                        </a>
                    </li>
                <li class="icons__item">
                        <a href="#diagnostics" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-zkt_diagnostika"></use>
                                </svg>
                            </span>
                            <span class="icons__link-text">
                                диагностика
                            </span>
                        </a>
                    </li>
                <li class="icons__item">
                        <a href="#medCentr" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-zkt_med_centr"></use>
                                </svg>
                            </span>
                            <span class="icons__link-text">
                                медицинские <br>
                                центры
                            </span>
                        </a>
                    </li>
                <li class="icons__item">
                        <a href="#advices" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-zkt_sovet_vracha"></use>
                                </svg>
                            </span>
                            <span class="icons__link-text">
                                советы <br>
                                специалистов
                            </span>
                        </a>
                    </li>
                <li class="icons__item">
                        <a href="#map-footer" class="icons__link">
                            <span class="icons__icon">
                                <svg class="icons__icon-svg">
                                    <use xlink:href="#icon-zkt_search"></use>
                                </svg>
                            </span>
                            <span class="icons__link-text">
                                поиск по карте
                            </span>
                        </a>
                    </li>
            </ul>

        </div>
    </div>


    <section id="news" class="news-tabs" >
        <div class="news-tabs__title">
            <h2>Новости</h2>
        </div>
        @@include('./templates/news-tabs.html')
        <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
    </section>

    <section id="directory" class="directory">
        <div class="directory__title">
            <h2 class="directory__title-content">Справочник</h2>
        </div>
        <div class="mainBanner _right directory__contents">
            <span data-picture="" data-alt="Камни в почках">
                <span data-src="http://placehold.it/414x414"></span>
                <span data-src="img/kosmetologia-region/kosmetologia-region-spravochnikBG-sm.jpg" data-media="(min-width: 414px)"></span>
                <span data-src="img/kosmetologia-region/kosmetologia-region-spravochnikBG.jpg" data-media="(min-width: 992px)"></span>
                <noscript>
                    <img src="img/kosmetologia-region/kosmetologia-region-spravochnikBG.jpg" alt="" class="advice-banner__img">
                </noscript>
            </span>
            <div class="mainBanner__content">
                <div class="directory__contents-desc">
                    <h3 class="directory__contents-title">
                        Все о пищеварении <br>
                        и желудочно-кишечном тракте
                    </h3>
                    <a href="#!" title="Показать заболевание" class="btn _tran _black">перейти в информационный раздел</a>
                </div>
            </div>
        </div>
    </section>
    <section id="diagnostics" class="diagnostics">
        <div class="diagnostics__title">
            <h2 class="diagnostics__title-content">Диагностика</h2>
        </div>
        <div class="diagnostics__contentWrapper">
            
            <span data-picture data-alt="Упражнения для стройной фигуры">
                <span data-src="img/zhkt-region/zhkt-diagnostics-bg_sm.jpg"></span>
                <span data-src="img/zhkt-region/zhkt-diagnostics-bg.jpg" data-media="(min-width: 1024px)"></span>
                <noscript>
                    <img src="img/zhkt-region/zhkt-diagnostics-bg.jpg" alt="">
                </noscript>
            </span>
            <div class="diagnostics__content">
                <ul>
                    <li>
                        <a href="">Зондирование</a>
                    </li>
                    <li>
                        <a href="">Эндоскопия</a>
                    </li>
                    <li>
                        <a href="">Ректороманоскопия</a>
                    </li>
                    <li>
                        <a href="">Ректосигмоколоноскопия</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="">ЭРХПГ</a>
                    </li>
                    <li>
                        <a href="">Рентгенография</a>
                    </li>
                    <li>
                        <a href="">УЗИ</a>
                    </li>

                </ul>
            </div>

            <a href="#!" class="link-arrow  link-arrow_blue">перейти в раздел</a>
        </div>

    </section>

    @@include('./templates/medCentr.html', {
    "title": "Медицинские центры",
    "banners": "true"
    })

    @@include('./templates/advices.html')
</main>

@@include('./templates/footer.html', {
"js": "zhkt-region"
})