.baby-food {

	&__container {
		.container;
	}

	.title(baby-food, @baby-food-1, @baby-food-2);

	&__content {
		margin-top: -10px;
		padding-top: 142px;

		@media (max-width: 767px) {
			padding-top: 70px;
		}
		@media (max-width: 1199px) {
			font-size: 0;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 106px;
		@media (max-width: 1199px) {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			padding: 0 30px;
			margin-bottom: 50px;
		}
		@media (max-width: 640px) {
			display: block;
			padding: 0 15px;
			width: 100%;
			max-width: 320px;
			margin: 0 auto 50px;
		}

		&_last {
			margin-bottom: 58px;
		}

		&::before {
			content: "";
			position: absolute;
			top: -200px;
			right: -50px;
			z-index: -1;
			width: 873px;
			height: 828px;
			background: radial-gradient(ellipse at center, rgba(226,249,255,1) 0%, rgba(226,249,255,0.18) 51%, rgba(226,249,255,0) 62%, rgba(226,249,255,0) 100%);

			@media (max-width: 1199px) {
				display: none;
			}
		}

		&_left::before {
			right: inherit;
			left: -100px;
		}
	}

	&__img-wrap {
		position: relative;
		padding-right: 155px;

		@media (min-width: 1200px) and (max-width: 1350px) {
			padding-right: 80px;
		}

		@media (max-width: 1199px) {
			width: @col-12;
			padding: 0;
		}

		&_right {
			padding-left: 116px;

			@media (min-width: 1200px) and (max-width: 1350px) {
				padding-left: 80px;
			}

			@media (max-width: 1199px) {
				padding: 0;
			}
		}

		&::before {
			content: "";
			position: absolute;
			right: 131px;
			top: -27px;
			width: 487px;
			height: 494px;
			background: url(pics/children-food/feeding-wrap.png) 0 0 no-repeat;

			@media (min-width: 1200px) and (max-width: 1350px) {
				right: 56px;
			}

			@media (min-width: 768px) and (max-width: 1199px) {
				right: auto;
				left: 50%;
				transform: translate(-50%);
			}

			@media (max-width: 767px) {
				display: none;
			}
		}

		&_right::before {
			top: -29px;
			right: inherit;
			left: 90px;

			@media (min-width: 1200px) and (max-width: 1350px) {
				left: 56px;
			}

			@media (max-width: 1199px) {
				left: 50%;
				transform: translate(-50%);
			}
		}
	}

	&__img {

		&_left {
			float: right;

			@media (max-width: 1199px) {
				float: none;
			}
		}

		@media (max-width: 1199px) {
			margin: 0 auto;
			width: 100%;
		}

		@media (max-width: 480px) {
			width: @col-12;
		}
	}

	&__item-content {

		padding: 0;

		&_left {
			padding-left: 11%;

			@media (max-width: 1350px) {
				padding-left: 0;
			}
		}

		h3 {
			margin-top: 95px;
			margin-bottom: 20px;
			.font(@ff, 41px);
			color: @feeding-3;

			@media (min-width: 768px) and (max-width: 1199px) {
				max-width: 800px;
				margin: 0 auto;
				margin-bottom: 40px;
				text-align: center;
			}
			@media (max-width: 1199px) {
				font-size: 24px;
				margin-top: 40px;
			}
			@media (max-width: 767px) {
				margin-bottom: 20px;
				margin-top: 20px;
				.font(@ff, 18px);
				text-align: center;
			}
		}
	}

	&__item-link {
		display: block;
		width: 285px;
		padding: 10px 0;
		.font(@ff, 20px);
		text-align: center;
		background-color: rgba(255,255,255, 0.7);
		color: @feeding-4;
		border: 1px solid @feeding-3;
		.transition;

		@media (max-width: 1199px) {
			margin: 0 auto;
		}

		@media (max-width: 767px) {
			width: 200px;
			.font(@ff, 16px);
		}

		&:hover {
			background-color: @feeding-3;
			color: @white;
		}

		&:focus {
			background-color: lighten(@feeding-3, 10%);
			color: @white;
		}
	}

	&__link-wrap {
		margin-bottom: 50px;
	}
}