.mixed-feeding {

	&__container {
		.container;
	}

	.title(mixed-feeding, @mixed-feeding-1, @mixed-feeding-2);

	&__content {
		margin-bottom: 50px;
		background: url(pics/children-food/mixed-feeding-wp.jpg) top center no-repeat;
		background-size: cover;

		@media (max-width: 767px) {
			margin-bottom: 0;
			background: url(pics/children-food/mixed-feeding-wp-mob.jpg) 0 0 no-repeat;
		}
	}

	&__list {
		padding-left: 135px;
		padding-top: 110px;

		@media (min-width: 1200px) and (max-width: 1350px) {
			padding-top: 80px;
			margin-bottom: 5%;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 15%;
			padding-left: 60px;
			padding-top: 8%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 10%;
			padding-left: 30px;
			padding-top: 8%;
		}

		@media (max-width: 767px) {
			margin-bottom: 50px;
			margin-top: 50px;
			padding-top: 15px;
			padding-left: 15px;
			padding-bottom: 1px;
			background-color: rgba(255,255,255,0.9);
		}

		li {
			margin-bottom: 70px;

			@media (min-width: 1200px) and (max-width: 1350px) {
				margin-bottom: 75px;
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				margin-bottom: 65px;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				margin-bottom: 50px;
			}

			@media (max-width: 767px) {
				margin-bottom: 15px;
			}
		}

		li > a {
			.font(@ff, 1.5rem);
			color: @mixed-feeding-3;
			.transition;

			@media (max-width: 767px) {
				.font(@ff, 1rem);
			}

			&:hover {
				text-decoration: underline;
				color: darken(@mixed-feeding-3, 10%);
			}

			&:focus {
				text-decoration: underline;
				color: darken(@mixed-feeding-3, 20%);
			}
		}
	}
}