.n-wristresult {
    padding: 0 15px;
    font-family: CenturyGothic;
    margin-bottom: 140px;
    margin-top: 50px;
    margin-right: 40px;
    @media (max-width: 991px) {
        margin-top: 0;
        margin-bottom: 70px;
    }
    &__heading {
        color: #666d79;
        font-size: 30px;
    }
    &__subheading {
        color: #276090;
        font-size: 24px;
    }
    &__p {
        padding-right: 200px;
        font-size: 18px;
        color: #6e7881;
        line-height: 2;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 78px;
            height: 336px;
            .sprite2;
            background-position: -492px 0;
            bottom: 0;
            right: 0;
        }
    }
}

@media (max-width:991px) {
    .n-wristresult {
        padding: 0;
        margin-right: 0;
        &__heading {
            font-size: 24px;
        }
        &__subheading {
            font-size: 20px;
        }
        &__p {
            font-size: 16px;
            line-height: 1.3;
            padding: 0;
            &:before {
                display: none;
            }
        }
    }
}