.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/women-world/women-world-wp.png);
    text-align: right;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__link{
    color: @women-world-7;
    &:hover {
      text-decoration: underline;
      color: darken(@women-world-7, 10%);

      &::before {
        transform: translateX(-50%) translateY(-7px);

        @media (max-width: 767px) {
          transform: translateY(-50%);
        }
      }
    }

    &:active {
      text-decoration: underline;
      color: darken(@women-world-7, 20%);
    }
  }
}

.women-world {
  &__title {
    display: inline-block;
    max-width: 900px;
    width: 100%;
    margin-bottom: 50px;
    .font(@ff, 63px);
    text-align: center;
    color: @women-world-1;

    @media (min-width: 992px) and (max-width: 1199px) {
      padding-left: @col-4;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding-left: 0;
    }

    @media (max-width: 767px) {
      margin: 0;
      padding-left: 0;
      .font(@ff, 33px);
    }
  }

}