.psychology-slider {
	
	margin-bottom: 30px;
	
	&__container {
		.container();
	}
	
	&__item-1, &__item-2, &__item-3 {
		position: relative;
	}
	
	&__img {
		.slider(506px);
	}
	
	&__content {
		position: absolute;
		top: 170px;
		padding: 0 70px;
		padding-left: 145px;
		
		@media (max-width: 1199px) {
			padding: 10px 50px;
		}
		
		@media (max-width: 991px) {
			top: 50%;
			transform: translateY(-50%);
			width: @col-12;
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}
		
		@media (max-width: 767px) {
			padding: 10px 10%;
		}
	
		@media (max-width: 480px) {
			padding: 10px 15%;
		}
	}
	
	&__link {
		
		&:focus {
			outline: none;
		}
		
		&:focus > .psychology-slider__title {
			color: lighten(@women-psychology-3, 20%);
		}
		
		&:focus > .psychology-slider__text-content {
			color: lighten(@women-psychology-4, 10%);
		}
		
		h3 {
			.font(@ff, 38px);
			text-transform: uppercase;
			color: @women-psychology-3;
			.transition;

			&:hover {
				color: lighten(@women-psychology-3, 10%);
			}

			&:active {
				color: lighten(@women-psychology-3, 20%);
			}

			@media (max-width: 991px) {
				.font(@ff, 36px);
			}

			@media (max-width: 767px) {
				.font(@ff, 30px);
			}
		}
		
		p {
			.font(@ff, 28px);
			color: @women-psychology-4;

			@media (max-width: 991px) {
				.font(@ff, 24px);
			}

			@media (max-width: 767px) {
				.font(@ff, 20px);
			}
		}
	}
}