.sport-slider {
	
	margin-bottom: 30px;
	
	&__container {
		.container;
	}
	
	&__item-1, &__item-2, &__item-3 {
		position: relative;
	}
	
	&__img {
		.slider(506px);
	}
	
	&__content {
		position: absolute;
		top: 190px;
		padding: 0 70px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 12% 0;
		}
		
		@media (min-width: 481px) and (max-width: 991px) {
			top: 50%;
			transform: translateY(-50%);
			width: @col-12;
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}
		
		@media (max-width: 480px) {
			top: 50%;
			transform: translateY(-50%);
			width: @col-12;
			padding: 10px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}
	}
	
	&__link {
		color: @white;
		.transition;
		
		@media (max-width: 991px) {
			color: @beauty-5;
		}
		
		&:focus {
			outline: none;
		}
		
		&:hover h3 {
			text-decoration: underline;
			color: @white;
			
			@media (max-width: 991px) {
				color: @beauty-5;
			}
		}
		
		&:hover p {
			color: @white;
			
			@media (max-width: 991px) {
				color: @beauty-5;
			}
		}
		
		&:focus h3 {
			text-decoration: underline;
			color: darken(@white, 7%);
			
			@media (max-width: 991px) {
				color: darken(@beauty-5, 7%);
			}
		}
		
		&:focus p {
			color: darken(@white, 7%);
			
			@media (max-width: 991px) {
				color: darken(@beauty-5, 7%);
			}
		}
		
		h3 {
			.font(@ff, 36px);
			text-transform: uppercase;
			.transition;

			@media (min-width: 768px) and (max-width: 991px) {
				.font(@ff, 32px);
				color: @beauty-5;
			}

			@media (max-width: 767px) {
				.font(@ff, 28px);
				color: @beauty-5;
			}
		}
		
		p {
			.font(@ff, 28px);
			.transition;

			@media (min-width: 768px) and (max-width: 991px) {
				.font(@ff, 22px);
				color: @beauty-5;
			}

			@media (max-width: 767px) {
				.font(@ff, 18px);
				color: @beauty-5;
			}
		}
	}
}