.women-psychology {
	
	padding-bottom: 50px;
	
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container();
	}
	
	.title(women-psychology, @women-psychology-1, @women-psychology-2);
}