.women-health {
	
	padding-bottom: 60px;
	
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container;
	}
	
	.title(women-health, @women-health-1, @women-health-2);
	
	&__content {
		margin-top: -10px;
		background: url(pics/women-world/women-health-wp.png) 0 0 no-repeat;
		background-size: cover;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			background-size: contain;
		}
		
		@media (max-width: 767px) {
			background: url(pics/women-world/women-health-wp-mob.png) 0 0 no-repeat;
			background-size: contain;
		}
	}
	
	&__text-content {
		padding-left: @col-1 + 5%;
		padding-right: @col-1 - 3%;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-left: @col-1 - 1%;
		}
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__list {
		
		margin-bottom: 60px;
		padding-top: 105px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-top: 25%;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 75%;
			margin-bottom: 40px;
		}
		
		@media (max-width: 767px) {
			padding-top: 110%;
		}
		
		li {
			margin-bottom: 40px;
			
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
		}
		
		li > a {
			.font(@ff, 24px);
			color: @women-health-3;
			.transition;

			span {
				.font(@ff, 36px);

				@media (min-width: 992px) and (max-width: 1199px) {
					.font(@ff, 30px);
				}

				@media (max-width: 767px) {
					.font(@ff, 26px);
				}
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 20px);
			}

			@media (max-width: 767px) {
				.font(@ff, 18px);
			}

			&:hover {
				color: darken(@women-health-3, 10%);

				span {
					text-decoration: underline;
				}
			}

			&:focus {
				color: darken(@women-health-3, 20%);

				span {
					text-decoration: underline;
				}
			}
		}
	}
}