.women-food {
	
	padding-bottom: 50px;
	
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container;
	}
	
	.title(women-food, @women-food-1, @women-food-2);
	
	
	&__content {
		margin-top: -10px;
		background: url(pics/women-world/women-food-wp.jpg) 0 0 no-repeat;
		background-size: cover;
		
		@media (max-width: 1199px) {
			background-size: contain;
		}
		
		@media (max-width: 767px) {
			background: url(pics/women-world/women-food-wp-mob.jpg) 0 0 no-repeat;
			background-size: contain;
		}
	}
	
	&__text-content {
		padding-left: @col-1;
		padding-bottom: 140px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-left: @col-1 - 1%;
			padding-bottom: 80px;
		}
		
		@media (max-width: 991px) {
			padding-left: @col-1 + 5%;
			padding-right: @col-1 - 3%;
			padding-bottom: 0;
		}
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__list {
		padding-top: 260px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 60px;
			padding-top: 41%;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 78%;
		}
		
		@media (max-width: 767px) {
			padding-top: 115%;
		}
		
		li {
			margin-bottom: 70px;
			
			@media (min-width: 992px) and (max-width: 1199px) {
				margin-bottom: 50px;
			}
			
			@media (min-width: 768px) and (max-width: 991px) {
				margin-bottom: 40px;
			}
			
			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
		
		li > a {
			.font(@ff, 28px);
			color: @women-food-3;
			.transition;

			@media (max-width: 767px) {
				.font(@ff, 22px);
			}

			&:hover {
				color: lighten(@women-food-3, 10%);
				text-decoration: underline;
			}

			&:focus {
				color: lighten(@women-food-3, 15%);
				text-decoration: underline;
			}
		}
	}
}