.therapy-searchimg {
	margin-bottom: 80px;
	&__desc {
		background: rgba(29, 70, 72, .75);
		color: #fff;
		padding: 10px;
		@media (min-width:414px) {
			width: 400px;
		}
		@media (min-width:768px) {
			width: 700px;
			padding: 20px 50px;
		}

		@media (min-width:992px) {
			width: 800px;
			padding: 20px 70px 15px 100px;
			margin-right: -70px;
		}

		&:before {
			position: absolute;
			content: '';
			width: 63px;
			height: 76px;
			.sprite2;
			top: 70px;
			left: 20px;
			background-position: 0 -1803px;
			@media (max-width:991px) {
				display: none;
			}
		}
	}
	&__h3 {
		font-size: 24px;
		margin-bottom: 15px;
		font-weight: normal;
	}
	&__p {
		font-size: 15px;
		line-height: 1.8;
		margin-bottom: 15px;
	}
	&__link {
		padding: 5px 20px;
		border: 2px solid #fff;
		font-size: 20px;
		color: #fff;
		opacity: .9;
		display: inline-block;
		.transition;
		&:hover {
			opacity: 1;
		}
	}
}