.resort-feed {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 87px;
		height: 313px;
		left: 0;
		bottom:0;
		background: url(pics/resort_inner/planes3.png) no-repeat;
		@media (max-width:991px) {
			background: 0;
		}
	}
	.container-fluid {
		position: relative;
		&:first-child {
			&:before {
				content: '';
				position: absolute;
				top: -15px;
				right: 0;
				height: 289px;
				width: 110px;
				background: url(pics/resort_inner/planes2.png) no-repeat;
				@media (max-width:991px) {
					background: 0;
				}
			}	
		}
	}
	&.wobefore {
		&:before {
			display: none;
		}
		.container-fluid:before {
			display: none;
		}
	}
	&__p {
		line-height: 1.4;
		color: #494949;
		font-size: 16px;
		font-family: CenturyGothic;
		margin: 15px 0;
		height: auto;
		overflow: hidden;
		img {
			max-width: 100%;
			width: auto;
		}
		&:first-child {

		}
		&.subp {
			margin-bottom: 45px;
			padding: 0 120px 0 50px;
			font-size: 20px;
			margin-top: 45px;
			margin-bottom: 70px;
			position: relative;
		}
	}

			
	&__gallery {
		display: block;
		margin-bottom: 40px;
		img {
			width: 100%;
			height: auto;
			object-fit:cover;
		}
		&.big {
			margin-bottom: 35px;
		}
	}
}
@media (max-width:991px) {
	.resort-feed {
		padding: 0;
		&__p {
			line-height: 1.4;
			color: #494949;
			font-size: 16px;
			font-family: CenturyGothic;
			margin: 15px 0;
			// padding: 0 15px;
			&.subp {
				margin-bottom: 45px;
				padding: 0 120px 0 50px;
				font-size: 20px;
				margin-top: 45px;
				margin-bottom: 70px;
			}
		}
		&__gallery {
			img {
				width: 100%;
				height: auto;
				max-height: 300px;
				object-fit:cover;
			}
			&.big {
				margin-bottom: 35px;
			}
		}
		.subp {
			padding: 0;
		}
	}
}
@media (max-width:640px) {
	.resort-feed {
		&__gallery {
			img {
				width: 100%;
				height: auto;
				max-height: 200px;
				object-fit:cover;
			}
		}
	}
}