.page-imgheader {
	background-size: cover;
	position: relative;
	font-family: CenturyGothic;
	height: 500px;
	width: 100%;
	margin-bottom: 45px;
	&.news-innerhead {
		background-image: url(pics/resort_inner/news-inner.png);
	}

	&.news-innerhead &__desc {
		position: absolute;
		padding: 5px 110px 5px 60px;
		bottom: 75px;
		right: 0;
		background: rgba(33, 75, 173, .55);
		max-width: 600px;
		font-size: 30px;
		color: #fff;
		font-weight: bold;
	}

}
