.mainBanner{
  &__content{
    width: 100%;
    left: 0;
    right: 0;
    h1{
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 22px;
      min-height: 70px;
      line-height: 70px;
      background: rgba(51, 103, 153, 0.6);
      @media(min-width: 992px){
        font-size: 40px;
        min-height: 100px;
        line-height: 100px;
      }
    }
  }
}