.n-tours {
    .page-header {
		.header__m(#3a7dad, #93b8d2);
		margin-bottom: 30px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &__el {
    	max-height: 260px;
    	overflow: hidden;
    	margin-bottom: 40px;
    	position: relative;
    	display: block;

    	img {
    		object-fit:cover;
    		height: 260px;
    		width: 100%;
    	}
    }
    &__desc {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	min-height: 100px;
    	background: rgba(51, 103, 153, .7);
		font-family: CenturyGothic;
		padding: 15px 50px;
		font-size: 25px;
		color: #fff;
    }
}
.resort-tours {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: -160px;
		right: 0;
		background: url(pics/resort_inner/planes4.png) no-repeat;
		width: 261px;
		height: 200px;
        @media (max-width:991px) {
            background: 0;
        }
	}
}
@media (max-width:991px) {
	.n-tours__desc {
		font-size: 16px;
		padding: 15px;
		min-height: auto;
	}
}