.comments-header {
	.header__m(#72862d, #dbe0c9);
}
.comments-block {
	margin-top: 70px;
	&__singlecomment {
		padding-left: 75px;
		position: relative;
		color: #585858;
		font-family: CenturyGothic;
		font-size: 16px;
		margin-bottom: 40px;

		&:before {
			content: '';
			position: absolute;
			width: 39px;
			height: 34px;
			.sprite2;
			top: 0;
			left: 0;
			background-position: -531px -527px;
		}
	}
	&__name {
		b {
			color: #000
		}
	}
	&__link {
		color: #5582b9;
		text-decoration: none;
		word-wrap: break-word;
		.transition;
		border-bottom: 1px solid transparent;

		&:hover {
			text-decoration: none;
			border-bottom-color: #5582b9;
			color: #5582b9;
		}
	}
	&__seeall {
		font-size: 16px;
		font-family: CenturyGothic;
		text-align: center;
		margin: 20px 0 40px 0;
		a {
			color: #72862d;
			text-decoration: none;
			.transition;
			border-bottom: 1px solid transparent;
			&:hover {
				text-decoration: none;
				border-bottom-color: #72862d;
				color: #72862d
			}
		}
	}
}
@media (max-width: 991px) {
	.comments-block {
		padding: 0;
	}
	.comments-header {
		margin-left: 0;
		margin-right: 0;
	}
}