.page-imgheader {
	background-size: cover;
	position: relative;
	font-family: CenturyGothic;
	height: auto;
	max-height: 500px;
	width: 100%;
	margin-bottom: 45px;
	
	@media (max-width: 991px) {
		height: auto;
	}
	
	&__container {
		.container;
	}
	
	&.news-innerhead &__desc {
		position: absolute;
		padding: 5px 110px 5px 60px;
		bottom: 75px;
		right: 0;
		background: rgba(33, 75, 173, .55);
		max-width: 600px;
		font-size: 30px;
		color: #fff;
		font-weight: bold;
	}
}

.news-innerhead {
	&__container {
		.container;
	}
	
	&__img-wrap {
		position: relative;
		
		&_video {
			width: @col-12;
			height: 100%;
		}
	}
	
	&__img {
		width: @col-12;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	
	&__play {
		position: absolute;
		top: 250px;
		right: 0;
		padding: 25px 15px;
		padding-left: 100px;
		.font(@ff,1.5rem);
		background-color: rgba(109,156,222,0.6);
		color: @white;
		
		&::before {
			.before(50%,30px,54px,54px);
			transform: translateY(-50%);
			border-radius: 50%;
			border: 3px solid @white;
		}
		
		&::after {
			.before(50%,50px,0,0);
			transform: translateY(-50%);
			border-left: 16px solid @white;
			border-right: 16px solid transparent;
			border-top: 9px solid transparent;
			border-bottom: 9px solid transparent;
		}
	}
	
	&__img-wrap &__play {
		display: none;
	}
	
	&__img-wrap_video {
		
		.news-innerhead__play {
			display: block;
		}
		
		.news-innerhead__img {
			display: none;
		}
	}
	
	&__banner {
		padding: 0;
		overflow: hidden;
		
		h1 {
			margin-bottom: 10px;
			.font(@ff,2rem);
			color: #000;
			
			@media (max-width: 991px) {
				.font(@ff,1.7rem);
			}
			
			@media (max-width: 480px) {
				.font(@ff,1.4rem);
			}
		}
		
		&_video {
			height: 500px;
		}
	}
	
	&__adv-block {
		padding: 0;
		padding-right: 66px;
		
		@media (max-width: 1199px) {
			padding-right: 30px;
		}
		
		@media (max-width: 767px) {
			display: none;
		}
	}
}