.news-content {
	padding-right: 55px;
	margin-top: 70px;
	&__time {
		display: block;
		margin-bottom: 20px;
		.font(@ff,0.9rem,1.2,italic);
	}
	h3 {
		font-size: 20px;
		font-weight: bold;
	}
	& * {
		margin-top: 0;
		margin-bottom: 30px;
		color: #4b4b4b;
	}
	blockquote {
		font-size: 20px;
		font-weight: bold;
		padding: 15px 0;
		padding-left: 200px;
		border-top: 1px solid #4b4b4b;
		border-bottom: 1px solid #4b4b4b;
		display: block;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			width: 87px;
			height: 71px;
			.sprite2;
			background-position: 0 -1322px;
			left: 65px;
			top: 50%;
			transform: translateY(-50%);
				
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	p {
		font-size: 16px;
	}
	
	&__img {
		float: left;
		max-width: 100%;
		margin-bottom: 30px;
		padding-right: 20px;
		
		@media (max-width: 767px) {
			float: none;
			padding-right: 0;
			margin: 0 auto;
		}
	}
}
@media (max-width:991px) {
	.news-content {
		padding: 0;
		blockquote , h3 {
			font-size: 16px;
			padding-left: 0;
		}
		p {
			font-size: 14px;
		}
	}
}
@media (max-width: 640px) {
	.news-content blockquote {
		border-left: 0;
		&:before {
			display: none;
		}
	}
}