.articles {
  .title(articles, @articles-title-bg-color, @articles-title-bg-after-color);
  &__gallery-cont{
    background-image: url(pics/inner-diseases/articles/articles-bg-1.jpg);
    background-size: cover;
  }
  .art-gallery{
    width: 90%;
    max-width: 1200px;
    margin: 60px auto 0 auto;
    padding-bottom: 30px;

    .items-gallery{

      &__link:hover .items-gallery__name{
        color: @articles-title-bg-color;
      }

      &__img-cont{
        width: 134px;
        height: 134px;
        margin: auto;
        margin-bottom: 10px;
      }
      &__name{
        width: 210px;
        margin: auto;
        text-align: center;
        color: @articles-font-color;

        @media(max-width: 767px){
          margin-bottom: 15px;
        }
      }

    }
    .row{
      margin-bottom: 10px;
      @media(max-width: 767px){
        margin: 0;
      }
    }

    .link-arrow._articles{
      margin-top: 50px;
    }
  }
  .banner{
    margin-bottom: 45px;
    &__content{
      width: 100%;
      @media(min-width: 768px){
        min-width: 400px;
        width: auto;
      }
    }
    &__txt{
      color: @articles-font-color;
      font-size: 2.25rem;
    }
    &__txt-2{
      padding: 10px;
      color: @white;
      font-size: 2.25rem;
      background-color: @articles-font-bg-color;
      @media (max-width:1199px){
        font-size: 1.8rem;
        padding:5px;
      }
    }
  }
}