.ask{
  height: 580px;
  background-image: url(pics/inner-diseases/ask/ask-bg.jpg);
  background-size: cover;
  .btn._ask{
    position: relative;
    .center;
    padding:18px 120px;
    font-size: 1.5rem;
    color: @gray-text;
    background-color: @white;
    border: 1px solid @gray-text;
    &:hover{
      color: @white;
      background-color: @advices-title-bg-color;
      border-color: transparent;
    }
    @media(max-width: 767px){
      padding: 18px;
    }
  }
}