.definition{
  .title(definition, @definition-title-bg-color, @definition-title-bg-after-color);

  &__cont{
    height: 575px;
    max-width: 1440px;
    margin: auto;
    @media(max-width: 767px){
     height: auto;
    }
  }
  &__col{
    height: 100%;
    @media(max-width: 767px){
      margin: 20px 0;
    }
  }
  &__img-cont{
    position: relative;
    .center;
    overflow: hidden;
    width: 512px;
    height: 416px;
    img{
    width: 100%;
      position: relative;
      .center;
    }

    @media(max-width: 991px){
      width: 310px;
      height: 250px;
    }
    @media(max-width: 767px){
      position: static;
      transform: none;
    }
  }
  &__def-cont{
    position: relative;
    .center;
    width: 90%;
    max-width: 455px;
    padding: 50px 36px;
    font-size: 1.25rem;
    color:@definition-txt-color;
    h2{
      font-size: 2.5rem;
      color:@definition-txt-color;
    }
    @media(max-width: 767px){
      position: static;
      transform: none;
      margin: auto;
      padding: 10px;
      font-size: 0.9rem;
    }
  }
  &__def-txt{}


}
