.food{
  position: relative;

  background-image: url(pics/inner-diseases/food/food-bg.jpg);
  .title(food, @food-title-bg-color, @food-title-bg-after-color);
  @media (max-width: 1199px){
    &:before{
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.7);
    }
  }
  @media (max-width: 1199px){
    background-image: none;
  }

  &__cont{
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 160px;
    @media (max-width: 767px){
      padding-bottom: 40px;
    }
  }
  &__txt{
    position: relative;
    max-width: 870px;
    margin: 30px auto 50px auto;
    padding-left: 90px;
    font-size: 1rem;
    line-height: 30px;

    &:before{
      content: "\”";
      display: block;
      position: absolute;
      left: 0;
      top:40px;
      width: 36px;
      height: 36px;
      font-size: 130px;
    }
    @media (max-width: 767px){
      padding-left: 0;
      text-align: justify;
      line-height: inherit;
      &:before{
        display: none;
      }
    }
  }
  &__in-group{
    margin-bottom: 90px;
    .in-group{
      &__label{
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
      &__in-cont{
        max-width: 680px;

      }
      &__in{
        width: 90%;
        max-width: 450px;
        border-color: @gray-text;
      }
      &__btn{
        max-width: 230px;
        color: @white;
        background-color: @food-title-bg-color;
        &:hover{
          background-color: @food-title-bg-after-color;
        }
      }
    }

  }
  &__list-cont{
    position: relative;
    left: 60%;
    width: 90%;
    max-width: 370px;

    ul{

    }
    li{
      margin-bottom: 40px;
      @media (max-width: 991px){
        margin-bottom: 10px;
      }
    }
    @media (max-width: 991px){
      left: 0;
      margin: auto;
    }
  }
  &__ul-head{
    display: block;
    margin-bottom: 40px;
    color:@black;
    font-size: 1.125rem;
    font-weight: 600;
    @media (max-width: 767px){
      text-align: center;
    }
  }
  &__link{
    color: @arrow-gray;
    font-size: 1.125rem;
    transition-property: color;
    transition-duration: .5s;
    &:hover{
      color: @food-title-bg-color;
    }
  }

  .btn._food{
    font-size: 1.4rem;
    &:hover{
      background-color: @food-title-bg-after-color;
    }
    @media (max-width: 767px){
      position: relative;
      .horizontal-center;
      font-size: 1.125rem;
    }
  }
}