.handbook{
  &__cont{
    max-width: 1440px;
    margin: auto;
    color:@gray;
    padding-bottom: 50px;
    @media(min-width: 768px){
      padding-bottom: 110px;
    }
  }
  &__header{
    font-size: 1.875rem;
    color: @handbook-header-color;
    text-align: center;
  }

  &__txt{
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 25px;
  }
}