.in-diseases {
  background-image: url(pics/inner-diseases/diseases/diseases-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left @title-height;
  .title(in-diseases, @in-diseases-title-bg-color, @in-diseases-title-bg-after-color);

  &__cont{
    width: 90%;
    max-width: 730px;
    padding-top: 50px;
    margin-left: 16.6%;
    @media(max-width: 991px){
      margin: auto;
    }
  }
  .in-dis-list{
    
    li{
      margin-bottom: 10px;
    }
    a{
      color: @in-diseases-font-color;
      transition-property: color;
      transition-duration: .5s;
      &:hover{
        color: @in-diseases-title-bg-color;
      }
    }
  }
}