.calc-wrapper {
	background-image: url(pics/birth_date/woman.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
.n-lastselect {
	padding-left: 55px;
	@media (max-width: 991px) {
		padding: 0;
	}

	&__h2 {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 36px;
		color: #424242;
		margin-top: 0;
		margin-bottom: 30px;
		@media (max-width: 991px) {
			margin-left: 0;
			font-size: 22px;
		}
	}
	&__form {
		width: 100%;
		margin-left: 85px;
		max-width: 720px;
		text-align: center;
		.form-border {
			background-image: linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px);
			background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
			background-position: -40px 0%, -40px 100%, 0% -40px, 100% -40px;
			background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
			padding: 120px 0;
		}
		.form-group {
			margin-bottom: 0;
		}
		@media (max-width: 991px) {
			padding-left: 0;
			max-width: none;
			margin-left: 0;

			.form-border {
				padding: 40px 0;
			}
		}
	}
	&__formselect {
		display: inline-block;
		border:1px solid #545454;
		font-size: 18px;
		font-family: CenturyGothic;
		padding: 11px 20px;
		margin: 0 3px;
		@media (max-width: 991px) {
			padding: 5px 10px;
			font-size: 14px;
		}
	}

	&__button {
		padding: 9px 40px;
		background: #b3d948;
		border:none;
		font-family: CenturyGothic;	
		font-size: 30px;
		color: #fff;
		opacity: .8;
		.transition;
		margin-top: 45px;
		margin-bottom: 70px;
		&:hover {
			opacity: 1;
		}

		@media (max-width: 991px) {
			font-size: 18px;
		}
	}
	&__caption {
		font-family: CenturyGothic;
		color: #4f5764;
		font-size: 24px;
		@media (max-width: 991px) {
			font-size: 16px;
		}
	}
	&__birth {
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 36px;
		color: #002b65;
		padding-top: 160px;
		padding-bottom: 260px;
		position: relative;
		@media (max-width: 991px) {
			padding: 20px 0 30px 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 90px;
			left: 50%;
			transform: translateX(-50%);
			background: url(pics/birth_date/stork.png) no-repeat;
			width: 857px;
			height: 370px;
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
}