.interesting-facts {

	&__title {
		margin-bottom: 70px;

		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 100px;
		}

		@media (max-width: 480px) {
			margin-bottom: 40px;
		}

		h2 {
			.font(@ff,1.9rem,1,normal,bold);
			text-align: center;
			color: #476fa1;

			@media (max-width: 767px) {
				.font(@ff,1.4rem,1,normal,bold);
			}
		}
	}

	&__wrapper {
		background: url(pics/history-faces/history-doctors-wp.jpg) bottom center no-repeat;
		background-size: contain;
	}
	&__img-wrap::before {
		background-image: url(pics/history-main/img-frame_center.png);
	}
	&__item {
		@media (min-width: 1024px) {
			&:nth-child(odd) {
				.interesting-facts__img-wrap {
					&::before {
						background-image: url(pics/history-main/img-frame_left.png);
					}
				}
			}

			&:nth-child(even) {
				.interesting-facts__img-wrap {
					&::before {
						background-image: url(pics/history-main/img-frame_right.png);
					}
				}
			}
		}
	}

	&__text-content {

		h3 {
			.font(@ff,1.9rem);
			color: #313131;

			@media (max-width: 991px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				.font(@ff,1.4rem);
			}
		}

		span {
			display: block;
			margin-bottom: 20px;
			.font(@ff,1.9rem,1);
			color: #313131;

			@media (max-width: 991px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				.font(@ff,1.4rem);
			}
		}

		p {
			.font(@ff,1rem,1.6);
			color: #313131;

			@media (max-width: 767px) {
				.font(@ff,0.9rem);
			}
		}

		a {
			text-decoration: underline;
			color: #63a4d4;
			.transition;

			&:hover &:focus {
				color: darken(#63a4d4,20%);
			}
		}

	}

}