.medicine-face {
	
	margin-bottom: 90px;
	
	@media (max-width: 767px) {
		margin-bottom: 40px;
	}
	
	&__container {
		height: 100%;
		.container;
	}
	
	&__title-block {
		position: relative;
		z-index: 0;
		height: 443px;
		background: url(pics/history-faces/medicine-face-wp.jpg) 0 0 no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			background: url(pics/history-faces/medicine-face-wp-mob.jpg) 0 0 no-repeat;
		}
	}
	
	&__title-content {
		position: relative;
		height: 100%;
	}
	
	&__title {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: @col-6;
		
		@media (max-width: 991px) {
			top: 40px;
			right: 50%;
			transform: translateX(50%);
		}
		
		h1 {
			.font(@ff,4rem,1);
			text-align: right;
			color: #336799;
			
			@media (min-width: 768px) and (max-width: 991px) {
				width: @col-12;
				.font(@ff,3.2rem,1);
				text-align: center;
			}
			
			@media (max-width: 767px) {
				width: @col-12;
				.font(@ff,2.6rem,1);
				text-align: center;
			}
			
			@media (max-width: 480px) {
				.font(@ff,1.6rem,1);
			}
			
			span {
				display: block;
				.font(@ff,5.3rem,1);
				
				@media (min-width: 768px) and (max-width: 991px) {
					.font(@ff,4rem,1);
				}
				
				@media (max-width: 767px) {
					.font(@ff,3rem,1);
				}
				
				@media (max-width: 480px) {
					.font(@ff,2rem,1);
				}
			}
		}
	}
	
	&__alphabet {
		position: absolute;
		bottom: -5px;
		width: @col-12;
		
		ul {
			margin-bottom: 0;
		}
	}
	
	&__block-faces {
		position: relative;
		width: @col-8;
		min-width: 895px;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 50px;
		padding-bottom: 30px;
		background-image: linear-gradient(to left, #e7f4f8, @white, #e7f4f8);
		
		@media (max-width: 991px) {
			width: @col-12;
			min-width: 1px;
			padding: 40px 0;
		}
		
		@media (max-width: 767px) {
			padding-left: 30px;
		}
		
		@media (max-width: 480px) {
			padding-left: 0;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 80%;
			bottom: 10px;
  		left: 15px;
			z-index: -1;
			width: 50%;
			background-color: #a8a9a9;
			box-shadow: 0 15px 10px #a8a9a9;
			transform: rotate(-2deg);
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 80%;
			bottom: 10px;
  		right: 15px;
			z-index: -1;
			width: 50%;
			background-color: #a8a9a9;
			box-shadow: 0 15px 10px #a8a9a9;
			transform: rotate(2deg);
		}
	}
	
	&__item {
		margin-bottom: 25px;
	}
	
	&__img-wrap {
		float: left;
	}
	
	&__img {
		width: 77px;
		height: 77px;
		border-radius: 50%;
		overflow: hidden;
	}
	
	&__text-content {
		float: right;
		width: ~"calc(100% - 94px)";
		color: #424242;
		
		h3 {
			.font(@ff,0.9rem);
		}
		
		span {
			display: block;
			text-transform: uppercase;
		}
		
		span {
			.font(@ff,0.8rem);
		}
		
		p {
			.font(@ff,0.7rem);
		}
	}
	
	&__link {
		display: block;
		.font(@ff,1rem);
		text-decoration: underline;
		text-align: center;
		color: #424242;
	}
	
	&__items {
		position: relative;
		z-index: -1;
		padding-top: 100px;
		background: url(pics/history-faces/medicine-face-bg.jpg) 0 0 no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			padding-top: 60px;
			background: none;
		}
	}
	
	&__portrait {
		margin-bottom: 65px;
	}
	
	&__wrap-portrait {
		float: left;
		
		@media (max-width: 767px) {
			float: none;
			margin-bottom: 10px;
		}
	}
	
	&__img-portrait {
		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}
	
	&__text {
		float: right;
		width: ~"calc(100% - 200px)";
		
		@media (max-width: 767px) {
			float: none;
			width: @col-12;
		}
		
		h2 {
			.font(@ff,1.6rem,1.6);
			color: #414141;
			
			@media (max-width: 767px) {
				.font(@ff,1.4rem,1.2);
				text-align: center;
			}
		}
		
		p {
			.font(@ff,1rem);
			color: #949494;
			
			@media (max-width: 767px) {
				.font(@ff,0.9rem);
			}
		}
		
		span {
			@media (max-width: 991px) {
				display: block;
				text-align: center;
			}
		}
	}
}