.advice {
  .title(advice, #15bdb7, #9edbd9);
  &__container {
    position: relative;
    width: 100%;
    min-height: 485px;
    overflow: hidden;

    @media (min-width: 768px) {
      min-height: 585px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-height: 120%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.7);
      @media (min-width: 1024px) {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__content {
    position: relative;
    max-width: 650px;
    padding-top: 80px;
    @media (min-width: 768px) {
      float: left;
    }
    @media (min-width: 1024px) {
      float: right;
    }

    &-desc {
      margin-bottom: 30px;
      color: #3a3a3a;
    }
    &-name {
      font-size: 28px;
      @media (min-width: 768px) {
        font-size: 36px;
      }
      ._uppercase {
        text-transform: uppercase;
      }
    }
    &-profession {
      font-size: 18px;
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
    &-tagline {
      position: relative;
      padding-left: 35px;
      margin-bottom: 40px;
      font-size: 30px;
      color: #0f716d;
      @media (min-width: 768px) {
        padding-left: 70px;
        font-size: 48px;
      }
      &:before {
        content: '“';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 35px;
        font-size: 75px;
        line-height: 65px;

        transform: rotate(180deg);
        @media (min-width: 768px) {
          height: 70px;
          font-size: 148px;
          line-height: 140px;
        }
      }

    }

    .link-arrow {
      margin-left: 0;
    }
  }

}