.aesthetic {
  .title(aesthetic, #87cee5, #bde4f1);

  &__wrapper {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    background-position: right;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(pics/stomatologiya-osnovnaya/aesthetic-bg.jpg);
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.7);
      z-index: 1;
      @media(min-width: 1200px){
        display: none;
      }

    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__list {
  }

  &__item {
    margin-bottom: 50px;
    margin-top: 50px;
    @media (min-width: 768px) {
      margin-bottom: 100px;
      margin-top: 100px;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-left: 80px;
    font-size: 18px;
    color: #5e4f4f;
    white-space: normal;

    @media (min-width: 768px) {
      padding-left: 175px;
      font-size: 22px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: inline-block;
      width: 60px;
      height: 60px;
      vertical-align: middle;
      border: 3px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      transition: border .15s;

      @media (min-width: 768px) {
        left: 20px;
        width: 115px;
        height: 115px;
      }

    }

    &:hover {
      &:before {
        border-color: #87cee5;
      }
    }
    &._icon1 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-1.jpg);
      }
    }
    &._icon2 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-2.jpg);
      }
    }
    &._icon3 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-3.jpg);
      }
    }
    &._icon4 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-4.jpg);
      }
    }
    &._icon5 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-5.jpg);
      }
    }
    &._icon6 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/aesthetic-img-6.jpg);
      }
    }

  }

}