.articles {
  .title(articles, #7ab7da, #b6d7eb);

  &__baner {

    margin-bottom: 40px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
      @media (min-width: 1024px) {
        display: none;
      }
    }

    &-content {

      @media (min-width: 414px) {
        min-width: 400px;
      }

      h3 {
        word-break: break-all;
        margin-bottom: 20px;
        font-size: 34px;
        font-weight: normal;
        @media (min-width: 768px) {
          font-size: 48px;
        }
      }
      ._red {
        display: block;
        color: #663828;
        @media (min-width: 768px) {
          margin-left: -130px;
        }
      }
      ._black {
        color: #110b0f;
      }
    }

  }

  &__list {
    max-width: inherit;
    margin: 0 auto 50px;
    font-size: 0;

    @media (min-width: 992px) {
      white-space: nowrap;
    }

  }

  &__item {
    @media (min-width: 1024px) {
      width: 100%;
    }
    &-pic {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 25px;
      overflow: hidden;
      height: 300px;
      @media (min-width: 768px) {
        height: 300px;
      }
      @media (min-width: 992px) {
        height: 215px;
      }
      @media (min-width: 1170px) {
        height: 245px;
      }
      @media (min-width: 1440px) {
        height: 300px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
    }
    &-title {
      display: block;
      font-size: 20px;
      white-space: normal;
    }
    &-col {
      display: block;
      max-width: 300px;
      margin-right: auto;
      margin-left: auto;
      vertical-align: text-top;
      margin-bottom: 25px;
      color: #6b6b6b;
      @media (min-width: 768px) {
        display: inline-block;
        width: 46%;
        margin-right: 2%;
        margin-left: 2%;
        max-width: inherit;
      }
      @media (min-width: 992px) {
        width: 21%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 0
      }

      &:hover {

        text-decoration: underline;

      }
    }
  }

}