.dentistry {
  .title(dentistry, #72b4ff, #d7eaff);

  &__wrapper {
    padding-top: 45px;
    background-image: url(pics/stomatologiya-osnovnaya/dentistry-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__content {
    position: relative;
    max-width: 850px;

    margin: 0 auto 20px;
    padding: 0 10px;
    @media (min-width: 480px) {
      width: 70%;
    }
    @media (min-width: 640px) {
      width: 100%;
    }
    @media (min-width: 700px) {
      padding: 0;
    }
  }

  &__tooth {
    display: none;
    width: 100%;
    height: auto;

    @media (min-width: 700px) {
      display: block;
    }

  }

  &__list {
    margin: auto;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0;
    }
    @media (min-width: 332px) {
      text-align: justify;
    }
    @media (min-width: 700px) {
      position: absolute;
      top: 100px;
      right: 0;
      left: 0;
      bottom: 0;
      width: 90%;
      height: 145px;
    }
  }

  &__item {
    display: inline-block;
    width: 145px;
    height: 145px;
    padding: 5px 10px;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #72b4ff;
    @media (max-width: 699px) {
      margin-bottom: 20px;

    }

    @media (min-width: 700px) {
      &:first-child,
      &:last-child {
        margin-top: -60px;
      }
    }

  }

  &__link {
    display: inline-block;
    width: 125px;
    height: 125px;
    padding-top: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: #3b70ab;
    font-size: 16px;
    box-shadow: 5px 9px 9px 0px rgba(9, 62, 87, 0.75);
    background-color: rgba(255, 255, 255, 1);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 237, 1) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(235, 235, 237, 1)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 237, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 237, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 237, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebed', GradientType=0);

    transition: all .15s ease-in;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 30px;
      margin: 5px auto 0;
      overflow: hidden;
      background-image: url(pics/stomatologiya-osnovnaya/dentistry-eye-sprite.png);
      background-repeat: no-repeat;
      background-position: center -37px;
    }

    &:hover {
      color: #579ff1;
      &:after {
        background-position: center 0;
      }
    }

    &:active {
      box-shadow: 5px 9px 9px -9px rgba(9, 62, 87, 0.75);
    }

  }
}