.diagnostics {
  .title(diagnostics, #50cbc1, #9fe2dd);

  &__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    background-color: rgba(253, 253, 253, 1);
    background-image: -moz-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 251, 1) 50%, rgba(253, 253, 253, 1) 100%);
    background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253, 253, 253, 1)), color-stop(50%, rgba(249, 249, 251, 1)), color-stop(100%, rgba(253, 253, 253, 1)));
    background-image: -webkit-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 251, 1) 50%, rgba(253, 253, 253, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 251, 1) 50%, rgba(253, 253, 253, 1) 100%);
    background-image: -ms-linear-gradient(top, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 251, 1) 50%, rgba(253, 253, 253, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(249, 249, 251, 1) 50%, rgba(253, 253, 253, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#fdfdfd', GradientType=0);
    @media(min-width: 768px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__list {
    .container;
    text-align: center;
    font-size: 0;
    @media (min-width: 992px) {
      white-space: nowrap;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    vertical-align: top;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 992px) {
      width: 33.3333333%;
    }
  }

  &__link {
    display: inline-block;
    width: 289px;
    font-size: 18px;
    white-space: normal;
    color: #53838f;
    transition: all .15s ease-in-out;
    &:before {
      content: '';
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto 20px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover;
      @media(min-width: 768px){
        width: 289px;
        height: 289px;
      }
    }
    &._icons1 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/diagnostics-icon-1.jpg);
      }
    }
    &._icons2 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/diagnostics-icon-2.jpg);
      }
    }
    &._icons3 {
      &:before {
        background-image: url(pics/stomatologiya-osnovnaya/diagnostics-icon-3.jpg);
      }
    }

    &:hover {
      color: darken(#53838f, 20%);
      text-decoration: underline;
    }

  }

}