.gumTreatment {
  .title(gumTreatment, #31abb6, #8ed1d7);

  &__wrapper {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    background-image: url(pics/stomatologiya-osnovnaya/gumTreatment-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.5);
      z-index: 1;
    }

    @media(min-width: 768px){
      padding-top: 60px;
      padding-bottom: 60px;
    }

  }
  &__content {
    .container;

  }

  &__tabList {
    position: relative;
    z-index: 2;
    max-width: 800px;
    width: 100%;
    font-size: 0;
    @media (min-width: 768px) {
      column-count: 2;
    }
  }
  &__item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    text-align: left;
    @media(min-width: 768px){
      margin-bottom: 15px;
    }
  }
  &__link {
    position: relative;
    display: block;
    font-size: 16px;
    color: #39545c;
    padding: 15px 20px 15px 40px;
    background-color: transparent;
    transition: all .15s;

    @media (min-width: 768px) {
      display: inline-block;
      padding: 15px 40px;
      font-size: 18px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 16px;
      width: 16px;
      height: 16px;
      margin: auto;
      background-color: #39545c;
    }

    &:hover,
    &.active {
      background-color: #fff;
      color: #58bcdc;
      &:before {
        background-color: #58bcdc;
      }

    }

  }

  &__tabContent {
    max-width: 768px;
    width: 100%;
    &-text {
      display: none;
      font-size: 16px;
      line-height: 28px;
      color: #fff;
      h3 {
        display: inline;
        font-size: 26px;
        font-weight: bold;
      }
      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 32px;
        h3 {
          font-size: 30px;
        }
      }
    }
  }

}