.icons {

  &__wrap {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: 768px) {
      background-image: url(pics/stomatologiya-osnovnaya/icons-bg.jpg);
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: cover;
      background-size: cover;
    }
    @media (min-width: 1024px) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.7);
      @media (min-width: 992px) {
        display: none;
      }
    }

  }

  &__list {
    position: relative;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    vertical-align: top;
    @media (min-width: 768px) {
      width: 50%;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    @media (min-width: 992px) {
      width: 33%;
    }

  }

  &__link {
    position: relative;
    display: inline-block;
    padding-left: 75px;
    font-size: 16px;
    color: #6b7479;
    transition: all .15s ease-in-out;

    @media (min-width: 768px) {
      padding-left: 100px;
      padding-right: 15px;
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 75px;
      height: 75px;
      margin: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid transparent;
      background-color: transparent;
      transition: all .15s ease-in-out;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        background-image: url(pics/stomatologiya-osnovnaya/ICONS-sprite-min.png);
        background-repeat: no-repeat;
        background-position: top left;

      }
      &._diagnostics {
        &:before {
          background-position: 0px 0px;
          width: 36px;
          height: 43px;
        }
      }
      &._surgery {
        &:before {
          background-position: -46px 0px;
          width: 36px;
          height: 42px;
        }
      }
      &._gumTreatment {
        &:before {
          background-position: -92px 0px;
          width: 50px;
          height: 26px;
        }
      }
      &._dentistry {
        &:before {
          background-position: -152px 0px;
          width: 28px;
          height: 44px;
        }
      }
      &._orthopedics {
        &:before {
          background-position: -190px 0px;
          width: 29px;
          height: 44px;
        }
      }
      &._pediatric {
        &:before {
          background-position: -229px 0px;
          width: 46px;
          height: 45px;
        }
      }
      &._whitening {
        &:before {
          background-position: -285px 0px;
          width: 41px;
          height: 44px;
        }
      }
      &._advice {
        &:before {
          background-position: -336px 0;
          width: 44px;
          height: 43px;
        }
      }
      &._aesthetic {
        &:before {
          background-position: -390px 0px;
          width: 57px;
          height: 45px;
        }
      }
      &._orthodontics {
        &:before {
          background-position: -457px 0px;
          width: 50px;
          height: 22px;
        }
      }
      &._articles {
        &:before {
          background-position: -517px 0px;
          width: 30px;
          height: 34px;
        }
      }
      &._clinics {
        &:before {
          background-position: -557px 0px;
          width: 36px;
          height: 43px;
        }
      }
      &._regions {
        &:before {
          background-position: -603px 0px;
          width: 37px;
          height: 48px;
        }
      }
      &._implantology {
        &:before {
          background-position: -650px 0px;
          width: 30px;
          height: 52px;
        }
      }

    }
    &:hover {
      color: #448eb3;
      text-shadow: 0 0 1px #448eb3, 0 0 0 #448eb3;
      @media (min-width: 768px) {
        .icons__link-icon {
          border-color: #448eb3;
          background-color: #ebf7fd;
        }
      }
    }

  }

}