.implantology {
  .title(implantology, #5ba9ea, #a3cff3);
  .g-grid{
    padding-top: 50px;
    max-width: 1300px;
    &__link{
      color: #6b6767;
      &:hover {
        color: #2979bd;
      }
    }
    &__img-cont{
      width: 290px;
      height: 290px;
      @media(min-width: 992px)and(max-width: 1439px){
        width:  250px;
        height: 250px;
      }
    }
    &__content{
      max-width: 350px;
      @media(min-width: 992px)and(max-width: 1439px){
        max-width: 300px;
      }
    }
  }
}