.orthopedics {
  .title(orthopedics, #31abb6, #8ed1d7);

  &__wrapper {
    position: relative;
    width: 100%;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.7);

    }
    @media (min-width: 768px) {
      background-image: url(pics/stomatologiya-osnovnaya/orthodontics-bg.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
    }
  }

  &__content {
    .container;
  }
  &__list {
    max-width: 840px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    float: right;
    font-size: 0;

    @media (min-width: 768px) {
      margin-top: 50px;
      margin-bottom: 20px;
      column-count: 2;
    }
    @media (min-width: 1440px) {
      margin-top: 100px;
      margin-bottom: 80px;
    }
  }
  &__item {
    margin-bottom: 15px;
    width: 100%;
    @media (min-width: 768px) {
      display: inline-block;
      margin-bottom: 30px;
      vertical-align: middle;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 16px;
    color: #533a38;
    transition: color .15s;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: block;
      width: 16px;
      height: 16px;
      background-color: transparent;
      transition: background .15s;
      @media (min-width: 768px) {
        left: 16px;
      }
    }
    &:hover {
      color: #31abb6;
      text-shadow: 0 0 1px #31abb6, 0 0 0 #31abb6;
      &:before {
        background-color: #31abb6;
      }
    }
    @media (min-width: 768px) {
      padding-left: 48px;
      font-size: 20px;
    }
  }

}
