
.orthodontics {
  .title(orthodontics, #29bdad, #8adbd2);

  &__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: 768px){
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__left {
    @media (min-width: 992px) {

      .orthodontics__item {

        &:nth-child(5n-4) {
          .orthodontics__link {
            &:before {
              width: 180px;
              right: -190px;
              top: 60px;
              transform: rotate(20deg);
            }
          }
        }

        &:nth-child(5n-3) {
          .orthodontics__link {
            &:before {
              width: 180px;
              right: -190px;
              top: 30px;
              transform: rotate(10deg);
            }
          }
        }
        &:nth-child(5n-2) {
          .orthodontics__link {
            &:before {
              width: 180px;
              right: -190px;
              top: 15px;
              transform: rotate(5deg);
            }
          }
        }
        &:nth-child(5n-1) {
          .orthodontics__link {
            &:before {
              width: 180px;
              right: -190px;
              top: -15px;
              transform: rotate(-5deg);
            }
          }
        }
        &:nth-child(5n) {
          .orthodontics__link {
            &:before {
              width: 180px;
              right: -190px;
              top: -35px;
              transform: rotate(-10deg);
            }
          }
        }

      }

      float: left;
      width: 26.9230769%;
      text-align: right;
    }
  }

  &__middle {
    display: none;
    float: left;
    width: 46.1538462%;
    img {
      position: relative;
      width: 80%;
      height: auto;
      margin: 0 auto;
      z-index: 1;
    }
    @media (min-width: 992px) {
      display: block;
    }
  }

  &__right {
    @media (min-width: 992px) {
      float: left;
      width: 26.9230769%;
      text-align: left;

      .orthodontics__item {

        &:nth-child(5n-4) {
          .orthodontics__link {
            &:before {
              width: 180px;
              left: -190px;
              top: 60px;
              transform: rotate(-20deg);
            }
          }
        }

        &:nth-child(5n-3) {
          .orthodontics__link {
            &:before {
              width: 180px;
              left: -190px;
              top: 30px;
              transform: rotate(-10deg);
            }
          }
        }
        &:nth-child(5n-2) {
          .orthodontics__link {
            &:before {
              width: 180px;
              left: -190px;
              top: 15px;
              transform: rotate(-5deg);
            }
          }
        }
        &:nth-child(5n-1) {
          .orthodontics__link {
            &:before {
              width: 180px;
              left: -190px;
              top: -15px;
              transform: rotate(5deg);
            }
          }
        }
        &:nth-child(5n) {
          .orthodontics__link {
            &:before {
              width: 180px;
              left: -190px;
              top: -35px;
              transform: rotate(10deg);
            }
          }
        }

      }

    }
  }

  &__item {
    margin-bottom: 20px;
    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1100px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1200px) {
      margin-bottom: 40px;
    }
    @media (min-width: 1300px) {
      margin-bottom: 50px;
    }
    @media (min-width: 1400px) {
      margin-bottom: 60px;
    }
  }
  &__link {
    position: relative;
    display: block;
    font-size: 18px;
    color: #697b79;
    @media (min-width: 992px) {
      font-size: 18px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background-color: #a1e2de;
        width: 200px;
        height: 2px;
      }
    }
    @media (min-width: 1200px) {
      font-size: 22px;
    }

    &:hover{
      color: #2abdae;
      text-shadow: 0 0 1px #2abdae, 0 0 0 #2abdae;
    }

  }

}