.pediatric {
  .title(pediatric, #6fc8ce, #aee0e3);

  &__wrapper {
    padding-top: 1px;
    padding-bottom: 1px;
    @media (min-width: 768px) {
      padding: 0 50px;
    }
    @media (min-width: 1024px) {
      padding: 0 70px;
    }
  }

  &__content {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255, 255, 255, 0.7);

    }
    @media (min-width: 768px) {
      background-image: url(pics/stomatologiya-osnovnaya/pediatric-bg.jpg);
      background-repeat: no-repeat;
      background-position: center 30%;
      background-size: 40%;
    }
  }

  &__item {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    vertical-align: middle;
    @media (min-width: 768px) {
      width: 50%;
    }
    @media (min-width: 1440px) {
      margin-top: 70px;
      margin-bottom: 70px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    max-width: 440px;
    width: 100%;
    padding-left: 70px;
    padding-right: 10px;
    font-size: 16px;
    color: #474a4a;
    transition: all .15s;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      bottom: 0;
      display: block;
      width: 40px;
      height: 55px;
      margin: auto;
      transition: all .15s;
    }

    &:hover {
      color: lighten(#474a4a, 20%);
      text-decoration: underline;
      &:before,
      &:after {
        opacity: 0.8;
      }
    }

    @media (min-width: 768px) {
      font-size: 20px;
    }

  }

  &__item {

    @media (min-width: 768px) {
      &:nth-child(odd) {
        text-align: left;

        .pediatric__link {
          padding-left: 70px;
          &:before {
            left: 15px;
          }
          &:after {
            display: none;
          }
        }
      }

      &:nth-child(even) {
        text-align: right;
        .pediatric__link {
          padding-right: 70px;
          padding-left: 0;
          &:before {
            display: none;
          }
          &:after {
            right: 15px;
            left: inherit;
          }
        }

      }
    }

    &:nth-child(10n-9) {
      .pediatric__link {
        &:before, &:after {
          background-color: #6ac6cc;
        }
      }
    }
    &:nth-child(10n-8) {
      .pediatric__link {
        &:before, &:after {
          background-color: #6a71cc;
        }
      }
    }
    &:nth-child(10n-7) {
      .pediatric__link {
        &:before, &:after {
          background-color: #c06acc;
        }
      }
    }
    &:nth-child(10n-6) {
      .pediatric__link {
        &:before, &:after {
          background-color: #85b680;
        }
      }
    }
    &:nth-child(10n-5) {
      .pediatric__link {
        &:before, &:after {
          background-color: #cc6a7b;
        }
      }
    }
    &:nth-child(10n-4) {
      .pediatric__link {
        &:before, &:after {
          background-color: #c7826e;
        }
      }
    }
    &:nth-child(10n-3) {
      .pediatric__link {
        &:before, &:after {
          background-color: #ccbb6a;
        }
      }
    }
    &:nth-child(10n-2) {
      .pediatric__link {
        &:before, &:after {
          background-color: #c76ea0;
        }
      }
    }
    &:nth-child(10n-1) {
      .pediatric__link {
        &:before, &:after {
          background-color: #80cc6a;
        }
      }
    }
    &:nth-child(10n) {
      .pediatric__link {
        &:before, &:after {
          background-color: #6ec795;
        }
      }
    }
  }

}