.surgery {
  .title(surgery, #3995b2, #9bd9eb);

  &__wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    background-image: url(pics/stomatologiya-osnovnaya/surgery-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 0;
    }
  }

  &__content {
    position: relative;
    max-width: 650px;
    width: 100%;
    @media (min-width: 768px) {
      padding-left: 10%;
    }
    .link-arrow {
      margin: inherit;
      &._gray {
        border-color: #3e3e3e;
        color: #3e3e3e;
        &:after {
          border-bottom-color: #3e3e3e;
          border-right-color: #3e3e3e;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }

      }
    }
  }

  &__list {

    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-left: -55px;
    }
    li {
      margin-bottom: 20px;
    }

    a {
      display: inline-block;
      padding: 10px 15px;
      font-size: 16px;
      color: #324c54;
      border: 1px solid transparent;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      transition: background .15s ease-in-out;
      &:hover {
        background-color: #fff;
        color: #59a6be;
        text-shadow: 0 0 1px #59a6be, 0 0 0 #59a6be;
        border-color: #59a6be;
      }
      @media (min-width: 768px) {
        padding: 10px 55px;
        font-size: 22px;
      }
    }

  }

}