.whitening {
  .title(whitening, #609fb2, #a8cad5);

  &__wrapper {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    background-image: url(pics/stomatologiya-osnovnaya/whitening-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 0;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    text-align: center;
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
      max-width: 650px;
      padding-left: 20%;
      text-align: left;
    }
    .link-arrow {
      margin: 0 auto;
      @media (min-width: 1024px) {

        margin: inherit;
      }
      &._gray {
        border-color: #3e3e3e;
        color: #3e3e3e;
        &:after {
          border-bottom-color: #3e3e3e;
          border-right-color: #3e3e3e;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }

      }
    }
  }

  &__list {

    margin-bottom: 50px;

    li {
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      font-size: 18px;
      color: #6d6d6d;
      transition: background .15s ease-in-out;
      &:hover {
        background-color: #fff;
      }
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }

  }

}