.n-resultform {
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 612px;
        height: 401px;
        bottom: 0;
        right: 0;
        background: url(pics/prikorm/food.png);
        @media (max-width: 991px) {
            display: none;
        }
    }
    &__button {
        background-color: transparent;
        border: 0;
        position: absolute;
        left: 40%;
        bottom: -82px;
        cursor: pointer;
        z-index: 10;
        &.bottom-text {
            position: relative;
            bottom: auto;
            left: auto;
            top: auto;
            right: auto;
            margin: 0 auto;
            display: block;
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .btn-icon {
            display: block;
            width: 97px;
            height: 101px;
            .sprite2;
            background-position: 0 -74px;
            vertical-align: middle;
            margin: 0 auto;
        }
        .btn-text {
            color: #81a0b8;
            font-size: 18px;
            font-family: CenturyGothic;
            font-weight: bold;
            float: left;
            margin: 20px 0;
            display: block;
        }
    }
    &__table.table {
        max-width: 1300px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        color: #002b65;
        position: relative;
        tr td {
            width: 50%;
            padding: 13px 35px;
            font-weight: 300;
            border: 0;
            &:first-child {
                text-align: right;
                font-weight: 400;
            }
            @media (max-width: 991px) {
                padding: 15px;
                font-size: 18px;
            }
            @media (max-width: 640px) {
                font-size: 16px;
                padding: 10px;
            }
        }
    }
    .table-striped>tbody>tr:nth-of-type(odd) {
        background: #e7f2fc;
    }
}