.mainBanner{

  &__content{
    max-width: 620px;
    width: 100%;
  }

  h1{
    color: #336799;
    font-size: 30px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    @media(min-width: 992px){
      text-align: left;
    }
  }

  strong{
    font-size: 28px;
    @media(min-width: 768px){
      font-size: 36px;
    }
  }

  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    @media(min-width: 992px){
      content: none;
    }
  }
}