.sportInner {
  margin-top: 40px;

  @media (max-width: 767px) {
    margin-top: -40px;
  }

  &__wrap{
    &:nth-child(3n-2){
      @media (min-width: 1025px) {
        background-image: url(pics/sport-inner/bg-1.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center top;
      }
      .sportInner__item-wrapper{
        &:nth-child(odd){
          .sportInner__item-counter{
            color: #b83473;
          }
        }
        &:nth-child(even){
          .sportInner__item-counter{
            color: #808621;
          }
        }
      }
    }
    &:nth-child(3n){
      @media (min-width: 1025px) {
        background-image: url(pics/sport-inner/bg-2.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        background-position: right;
      }

      .sportInner__item-wrapper{
        &:nth-child(odd){
          .sportInner__item-counter{
            color: #1090a3;
          }
        }
        &:nth-child(even){
          .sportInner__item-counter{
            color: #8b28b6;
          }
        }
      }
    }
  }

  &__container {
    .container;
  }

  &__content {
    counter-reset: heading;
    p{
      color: #444344;
      font-size:16px;
      line-height: 30px;
      margin-top: 15px;
      margin-bottom: 15px;

      @media (min-width: 1024px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }

    }
    @media (max-width: 767px) {
      padding-top: 30px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      top: -135%;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      margin: auto;
      background-image: url(pics/sport-2-level/punktir.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      @media (min-width: 1024px) {
        display: block;
        width: 370px;
        height: 190px;
      }
    }

    &-wrapper{
      margin-bottom: 30px;
      .container;
      @media (min-width: 1024px) {
        text-align: inherit;
        margin-bottom: 150px;

        &:first-child {
          .sportInner__item{
            &:before {
              display: none;
            }
          }
        }
        &:nth-child(2n - 1) {
          .sportInner__item{
            text-align: left;
            &:before {
              transform: scale(-1, 1);
            }
          }

          .sportInner__img-wrap {
            &::before {
              left: -14px;
              right: initial;
            }
          }
        }

        &:nth-child(2n) {
          .sportInner__item{
            text-align: right;
          }

          .sportInner__img-wrap {
            left: 50%;
            &::before {
              right: -14px;
              left: initial;
            }
          }
          .sportInner__item-content {
            right: 50%;
            text-align: right;
          }
        }
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 30px;
    }


    @media (min-width: 1024px) {
      margin-bottom: 0px;
    }

    &-counter{
      text-align: center;
      font-size: 48px;
      &:before{
        counter-increment: heading;
        content: "#" counter(heading);
      }

    }



  }

  &__img-wrap {
    position: relative;
    @media (min-width: 1024px) {
      float: left;
      width: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -14px;
      width: 478px;
      height: 428px;
      .corner(#9ea70a, 82px, 5px);
      @media (max-width: 1023px) {
        left: 0;
        right: 0;
        top: -15px;
        margin: auto;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__img {
    display: inline-block;
    position: relative;
    width: 280px;
    height: 250px;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 450px;
      height: 400px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-height: 150%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__item-content {
    position: relative;
    padding: 0;
    @media (min-width: 1024px) {
      float: left;
      width: 50%;
    }

    h2 {
      font-size: 26px;
      font-weight: normal;
      color: #2a2a2a;
      margin-bottom: 10px;
      text-align: center;
      padding: 0;
      @media (min-width: 768px) {
        font-size: 36px;
      }
    }
    p{
      color: #444344;
      font-size:16px;
      line-height: 30px;
      padding-top: 0;
      text-align: left;
    }
  }

  &__item-link {
    display: inline-block;
    width: 285px;
    padding: 10px 0;
    .font(@ff, 20px);
    text-align: center;

    @media (max-width: 1199px) {
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      width: 200px;
      .font(@ff, 16px);
    }
  }

  &__link-wrap {
    margin-bottom: 50px;
  }
}