.cardiology-diagnostics {
	
	background: url(pics/kardiologia-main/diagnostic.jpg) top right no-repeat;
	
	&._regions {
		background: none;
	}
	
	@media (max-width: 991px) {
		background: none;
	}
	
	.title(cardiology-diagnostics,#d58512, #e8bc7d);
	
	&__block {
		&._regions {
			background: url(pics/kardiologia-regions/cardiology-diagnostics.jpg) top right no-repeat;
			
			@media (max-width: 991px) {
				background: none;
			}
		}
	}
	
	&__content {
		padding-top: 130px;
		
		&._regions {
			width: @col-10;
			padding-top: 110px;
			padding-bottom: 80px;
			background: url(pics/kardiologia-regions/cardiology-diagnostics-bg.png) 0 0 no-repeat;
			background-size: 100% 100%;
			
			@media (max-width: 991px) {
				width: @col-12;
				padding-top: 60px;
				padding-bottom: 40px;
			}
		}
		
		@media (max-width: 991px) {
			padding-top: 60px;
		}
	}
	
	&__container {
		max-width: 1400px;
		padding: 0 70px;
		margin-left: auto;
	}
	
	&__list {
		padding-left: 25px;
		margin-bottom: 60px;
		column-count: 2;
		column-gap: 50px;
		
		&._regions {
			margin-bottom: 0;
		}
		
		@media (max-width: 767px) {
			column-count: 1;
			margin-bottom: 30px;
			padding-left: 0;
		}
		
		& > li {
			position: relative;
			margin-bottom: 25px;
			padding-left: 25px;
			
			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
			
			&::before {
				.before(7px,0,8px,8px);
				background-color: #000;
				.transition;
			}
			
			&:hover::before {
				background-color: #b82851;
			}
		}
	}
	
	&__list-item, &__sublist-item {
		display: inline-block;
		padding-bottom: 20px;
		.font(@ff,1.1rem);
		color: #3b3d45;
		.transition;
		
		@media (max-width: 767px) {
			padding-bottom: 10px;
			.font(@ff,15px);
		}
		
		&:hover, &:focus {
			color: #b82851;
		}
	}
	
	&__sublist {
		padding-left: 35px;
		
		@media (max-width: 767px) {
			padding-left: 20px;
		}
	}
}