.cardiology-menu {
	
	padding-bottom: 60px;
	background: url(pics/kardiologia-main/kardiologia-menu.jpg) center left no-repeat;
	
	@media (max-width: 1199px) {
		background: none;
	}
	
	@media (max-width: 767px) {
		padding-bottom: 20px;
	}
	
	&._regions {
		padding-top: 30px;
	}

	&__container {
		.container();
	}
	
	
	&__list {
		padding-top: 35px;
		text-align: center;
		
		@media (max-width: 767px) {
			padding-top: 0;
			text-align: left;
		}
		
		&._regions {
			max-width: 700px;
			margin: 0 auto;
		}
		
		li {
			display: inline-block;
			vertical-align: top;
			width: 200px;
			margin-bottom: 50px;
			text-align: center;
			
			@media (max-width: 767px) {
				width: @col-12;
				text-align: left;
			}
		}
	}
	
	&__list-item {
		position: relative;
		display: block;
		padding-top: 120px;
		.font(@ff, 1rem);
		color: #787878;
		
		@media (max-width: 767px) {
			padding-top: 0;
			padding-left: 70px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 108px;
			height: 108px;
			.transition;
			
			@media (max-width: 767px) {
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 50px;
				height: 50px;
			}
		}
		
		&:hover {
			text-decoration: underline;
			color: #831743;
			
			&::before {
				transform: translateX(-50%) translateY(-7px);
				
				@media (max-width: 767px) {
					transform: translateY(-50%);
				}
			}
		}
		
		&:active {
			color: darken(#4479b2, 20%);
		}
	}
	
	&__list-item-1::before {
		background: url(pics/kardiologia-main/item-1.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-2::before {
		background: url(pics/kardiologia-main/item-2.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-3::before {
		background: url(pics/kardiologia-main/item-3.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-4::before {
		background: url(pics/kardiologia-main/item-4.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-5::before {
		background: url(pics/kardiologia-main/item-5.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-6::before {
		background: url(pics/kardiologia-main/item-6.png) center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-7::before {
		background: url(pics/kardiologia-main/item-7.png) center center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
	
	&__list-item-8::before {
		background: url(pics/kardiologia-main/item-8.png) center center no-repeat;
		background-size: 108px 108px;
		
		@media (max-width: 767px) {
			background-size: 50px 50px;
		}
	}
}