.cardiology-articles {
	
	.title(cardiology-articles, #6699cc, #abc7e3);
	&__text-content {
		
		h3 {
			margin-bottom: 7px;
			.font(@ff,1.2rem);
			color: #2b2b2b;
		}
		
		div {
			.font(@ff,15px);
			color: #787878;
		}
	}
}

