.search-block {
	
	padding-top: 130px;
	padding-bottom: 100px;
	background: url(pics/kardiologia-main/search.jpg) center right no-repeat;
	background-size: cover;
	
	@media (max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 0;
		background: none;
	}
	
	&__search-content {
		.container();
		text-align: center;
		
		h2 {
			margin-bottom: 80px;
			.font(@ff,2.2rem,1.2,normal,bold);
			color: #5c7287;
			
			@media (max-width: 767px) {
				margin-bottom: 30px;
				.font(@ff,1.5rem,1.2,normal,bold);
			}
		}
	}
	
	&__select {
		position: relative;
		display: inline-block;
		width: @col-12;
		max-width: 420px;
		margin-bottom: 25px;
		padding: 8px 45px;
		text-align: left;
		border: 1px solid #6699cc;
		border-radius: 30px;
		background-color: #fff;
		
		@media (max-width: 767px) {
			padding: 8px 25px;
			padding-right: 35px;
		}
	}
	
	&__dropdownbtn {
		position: relative;
		display: inline-block;
		width: @col-12;
		.font(@ff,1.5rem);
		color: #336799;
		
		@media (max-width: 767px) {
			.font(@ff,1rem);
		}
	}
	
	&__caret {
		position: absolute;
		top: 50%;
		right: -15px;
		transform: translateY(-50%);
		border-width: 8px;
	}
	
	&__dropdownmenu {
		width: @col-12;
		.font(@ff,1rem);
		border-radius: 4px;
		border-color: #6699cc;
		
		@media (max-width: 767px) {
			.font(@ff,15px);
		}
		
		li {
			
			&.dropdown-header {
				padding: 0 45px;
				.font(@ff,1.2rem);
				
				@media (max-width: 767px) {
					padding: 0 25px;
					padding-right: 35px;
					.font(@ff,1rem);
				}
			}
			
			a {
				padding: 0 45px;
				
				@media (max-width: 767px) {
					padding: 0 25px;
				}
			}
		}
	}
	
	&__btn {
		position: relative;
		width: 76px;
		height: 76px;
		margin-top: 15px;
		font-size: 0;
		cursor: pointer;
		border: none;
		outline: none;
		border-radius: 50%;
		background-color: #336799;
		.transition;
		
		@media (max-width: 767px) {
			width: 56px;
			height: 56px;
		}
		

		
		&:hover, &:active {
			background-color: lighten(#336799,10%);
		}
	}

	/*~~~dropdown settings~~~*/
	.drop._select-input._blue-bor{
		width: 95%;
		max-width: 420px;
		margin-left: auto;
		margin-right: auto;
		.drop__input{
			border-radius: 50px;
			font-size: 1.5rem;
			color: #336799;
		}
		.drop__input::placeholder{
			color: #336799;
		}
	}
	/*~~~end dropdown settings~~~*/
}