.exhibition {
	&__container {
		.container;
	}
	
	.title(exhibition,#8ab017,#d0dfa2);
	
	
	&__item {
		padding: 85px 0;
		
		&:not(:last-of-type) {
			border-bottom: 4px dotted #c4c4c4;
		}
		
		@media (max-width: 767px) {
			padding: 55px 0;
		}
	}
	
	&__slider {
		padding: 0;
		padding-right: 47px;
		
		@media (max-width: 1199px) {
			width: @col-12;
			max-width: 590px;
			margin: 0 auto;
			margin-bottom: 40px;
			padding-right: 0;
		}
		
		@media (max-width: 480px) {
			margin-bottom: 0;
		}
	}
	
	&__slider-big {
		margin-bottom: 28px;
	}
	
	&__slider-small {
		margin: 0 -13px;
		
		@media (max-width: 1199px) {
			margin: 0 -14px;
		}
		
		@media (max-width: 480px) {
			display: none;
		}
	}
	
	&__small-img-wrap {
		padding: 0 14px;
		
		&:focus {
			outline: none;
		}
	}
	
	&__small-img, &__big-img {
		width: @col-12;
	}
	
	&__content {
		padding: 0;
	}
	
	&__text-content {
		
		padding: 0 35px;
		margin-bottom: 35px;
		
		@media (max-width: 480px) {
			padding: 0;
		}
		
		& > a {
			color: #363434;
			
			&:hover, &:focus {
				text-decoration: underline;
				color: #363434;
			}
		}
		
		h3 {
			position: relative;
			margin-bottom: 5px;
			.font(@ff,1.5rem);
			text-transform: uppercase;
			color: #363434;
			
			@media (max-width: 480px) {
				.font(@ff,1.2rem);
			}
			
			&::before {
				position: absolute;
				top: 0;
				left: -35px;
				.font(@ff,1.5rem);
				color: #303030;
				
				@media (max-width: 480px) {
					display: none;
				}
			}
		}
		
		address {
			margin-bottom: 10px;
			.font(@ff,1.2rem);
			color: #363434;
			
			@media (max-width: 480px) {
				.font(@ff,1rem);
			}
		}
		
		p {
			.font(@ff,1rem,1.8);
			color: #757575;
			
			@media (max-width: 480px) {
				.font(@ff,1rem,1.2);
			}
		}
	}
	
	&__text-content-1 {
		h3::before {
			content: "1.";
		}
	}
	
	&__text-content-2 {
		h3::before {
			content: "2.";
		}
	}
	
	&__info {
		width: @col-12;
		max-width: 674px;
		margin: 0 auto;
		padding: 55px;
		padding-left: 130px;
		background: url(pics/history-museum/exhibition-dec.png) 0 0 no-repeat;
		background-size: contain;
		
		@media (max-width: 767px) { 
			padding: 0;
			padding-left: 130px;
			background: none;
		}
		
		@media (max-width: 480px) {
			padding-left: 70px;
			background: none;
		}
	}
	
	&__date, &__price {
		position: relative;
		.font(@ff,1.2rem);
		color: #4e555a;
		
		@media (max-width: 767px) {
			.font(@ff,1rem);
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -70px;
			transform: translateY(-50%);
			background: url(pics/history-museum/sprite.png) 0 0 no-repeat;
		}
	}
	
	&__date {
		
		margin-bottom: 55px;
	
		&::before {
			.stitches-sprite(-55px, -10px, 39px, 39px);
		}
	}
	
	&__price::before {
		.stitches-sprite(-106px, -273px, 42px, 34px);
	}
}