.museum-cloud {
	
	&__container {
		.container;
		height: 100%;
	}
	
	&__title {
		h1 {
			.font(@ff,2rem);
			text-align: center;
			color: #737373;
			
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
		}
	}
	
	&__content {
		height: 570px;
		background: url(pics/history-museum/museum-cloud-wp.jpg) center center no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			height: 400px;
			background: url(pics/history-museum/museum-cloud-wp-mob.jpg) center center no-repeat;
		}
	}
	
	&__block {
		position: relative;
		width: @col-12;
		height: 655px;
		background: url(pics/history-museum/museum-cloud-bg.jpg) center center no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			height: auto;
			background: url(pics/history-museum/museum-cloud-bg-mob.jpg) bottom center no-repeat;
		}
	}
	
	&__museum, &__exhibition {
		height: 100%;
		padding-top: 480px;
		
		@media (max-width: 767px) {
			height: auto;
			padding-top: 300px;
			padding-bottom: 80px;
		}
		
//		@media (max-width: 767px) {
//			height: auto;
//			padding-top: 0;
//			padding-left: 80px;
//			padding-bottom: 50px;
//		}
		
		h2 {
			position: relative;
			text-align: center;
			.font(@ff,2rem);
			color: #35506a;
			
//			@media (max-width: 767px) {
//				text-align: left;
//				.font(@ff,1.2rem,1.2,normal,bold);
//			}
			
			&::before {
				content: "";
				position: absolute;
				top: -260px;
				left: 50%;
				transform: translateX(-50%);
				background: url(pics/history-museum/sprite.png) 0 0 no-repeat;
				
//				@media (max-width: 767px) {
//					top: 50%;
//					left: 0;
//					transform: translateY(-50%);
//					width: 50px;
//					height: 50px;
//				}
			}
		}
	}
	
	&__museum {
		h2::before {
			.stitches-sprite(-315px, -10px, 181px, 243px);
		}
	}
	
	&__exhibition {
		h2::before {
			.stitches-sprite(-114px, -10px, 181px, 243px);
		}
	}
}

