.museum {

	counter-reset: count-block;

	&__container {
		.container;
	}

	.title(museum,#8dc2ea,#d1e7f7);

	&__item {
		h3::before {
			counter-increment: count-block;
			content: counter(count-block) ". ";
			.font(@ff,1.9rem);
			color: #303030;
			@media(min-width: 768px){
				position: absolute;
				top: 0;
				left: -40px;
			}
		}
	}
	&__content {
		padding-top: 40px;
		padding-bottom: 105px;
		background: url(pics/history-museum/museum-wp.png) top left no-repeat;
		background-size: cover;

		@media (min-width: 768px) and (max-width: 991px) {
			padding-bottom: 70px;
		}

		@media (max-width: 767px) {
			padding-bottom: 50px;
		}
	}

	&__text-content {

		padding-left: 70px;

		@media (max-width: 767px) {
			padding-left: 0;
		}

		& > a {
			color: #303030;

			&:hover, &:focus {
				text-decoration: underline;
				color: #303030;
			}
		}

		h3 {
			position: relative;
			margin-bottom: 25px;
			.font(@ff,1.9rem);
			color: #303030;

			@media (max-width: 767px) {
				.font(@ff,1.4rem);
			}

			&::after {
				content: "”";
				position: absolute;
				top: -60px;
				left: -205px;
				.font(@ff,266px);
				color: #303030;
				transform: scale(-1, 1);

				@media (max-width: 991px) {
					display: none;
				}
			}
		}

		p {
			margin-bottom: 65px;
			.font(@ff,1.2rem);
			color: #7e7e7e;

			@media (max-width: 767px) {
				.font(@ff,1rem);
			}
		}
	}

	&__contacts {
		width: 728px;
		height: 279px;
		margin-left: -20px;
		padding: 45px;
		padding-left: 130px;
		background: url(pics/history-museum/museum-dec.png) 0 0 no-repeat;

		@media (min-width: 768px) and (max-width: 991px) {
			width: @col-12;
			padding-left: 100px;
			background: none;
		}

		@media (max-width: 767px) {
			width: @col-12;
			height: auto;
			padding: 0;
			padding-left: 70px;
			background: none;
		}
	}

	&__address, &__phone {
		position: relative;
		margin-bottom: 25px;
		.font(@ff,1.2rem);
		color: #4e555a;

		@media (max-width: 767px) {
			.font(@ff,1rem);
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -47px;
			transform: translateY(-50%);
			background: url(pics/history-museum/sprite.png) 0 0 no-repeat;
		}
	}

	&__address::before {
		.stitches-sprite(-10px, -10px, 25px, 34px);
	}

	&__phone::before {
		.stitches-sprite(-63px, -273px, 23px, 31px);
	}

	&__link {
		position: relative;
		.font(@ff,1.2rem);
		cursor: pointer;
		color: #698ba6;
		.transition;

		@media (max-width: 767px) {
			.font(@ff,1rem);
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -47px;
			transform: translateY(-50%);
			background: url(pics/history-museum/sprite.png) 0 0 no-repeat;
			.stitches-sprite(-10px, -273px, 33px, 26px);
		}

		&:hover, &:focus {
			color: darken(#698ba6,10%);
			text-decoration: underline;
		}
	}
}