.napravleniya{

  .title(napravleniya, #c1798d, #ddb5c0);
  &__content{
    padding-top: 60px;
  }

  &__item{
    text-align: center;
    margin-bottom: 50px;
  }

  &__link{
    position: relative;
    display: block;
    max-width: 241px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:after{
      content: '';
      position: absolute;
      top: -13px;
      display: block;
      width: 241px;
      height: 241px;
      padding: 13px;
      background-image: linear-gradient(to right, #ddb5c0 10px, transparent 10px), linear-gradient(to right, #ddb5c0 10px, transparent 10px), linear-gradient(to bottom, #ddb5c0 10px, transparent 10px), linear-gradient(to bottom, #ddb5c0 10px, transparent 10px);
      background-size: 100% 82px, 100% 82px, 82px 100%, 82px 100%;
      background-position: -5px -30%, -5px 130%, -30% -5px, 130% -5px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      transition: all 0.15s ease-in;
    }
    &:hover{
      &:after{
        background-image: linear-gradient(to right, #c1798d 10px, transparent 10px), linear-gradient(to right, #c1798d 10px, transparent 10px), linear-gradient(to bottom, #c1798d 10px, transparent 10px), linear-gradient(to bottom, #c1798d 10px, transparent 10px);
        transform: scale(1.05);
      }
      .napravleniya__desc{
        color: #c1798d;
        text-decoration: underline;
      }
    }
  }


  &__pic{
    position: relative;
    display: block;
    max-width: 215px;
    width: 100%;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      max-width: 130%;
      max-height: 130%;
    }
  }
  &__desc{
    display: block;
    color: #4b4b4e;
    font-size: 20px;
    transition: all 0.15s ease-in;
  }


}