.news-tabs {

  .title(news-tabs, #8d7473, #c0b3b2);

  &__container {
    .container;
  }

  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #8d7473;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #8d7473 transparent transparent;
        }
      }
    }
  }

  &__content {

    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }

    }
  }

}