.problem{
  .title(problem, #6da7b2, #afcfd5);
  &__toogleList{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__toggle{
    display: block;
    width: 270px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    &.active{
      .problem__pic{
        &:after{
          background-image: linear-gradient(to right, #1d7383 10px, transparent 10px), linear-gradient(to right, #1d7383 10px, transparent 10px), linear-gradient(to bottom, #1d7383 10px, transparent 10px), linear-gradient(to bottom, #1d7383 10px, transparent 10px);
        }
      }
      .problem__desc{
        color: #fff;
        background-color: #1d7383;
        &:after{
          border-color: #1d7383 transparent transparent transparent;
        }
      }
    }
    &:hover{
      .problem__pic{
        &:after{
          background-image: linear-gradient(to right, #1d7383 10px, transparent 10px), linear-gradient(to right, #1d7383 10px, transparent 10px), linear-gradient(to bottom, #1d7383 10px, transparent 10px), linear-gradient(to bottom, #1d7383 10px, transparent 10px);
        }
      }
      .problem__desc{
        color: #fff;
        background-color: #1d7383;
      }
    }
    @media(min-width: 768px){
      max-width: 370px;
      width: 100%;
    }
    &-wrap{
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
  }

  &__pic{
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
    margin-bottom: 15px;
    background-position: center;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    @media(min-width: 992px){
      height: 330px;
    }
    &-face{
      background-image: url(pics/kosmetologia-osnovnaya/kosmetologia-problem-face.jpg);
      background-size: 50%;
      @media(min-width: 992px){
        background-size: inherit;
      }
    }
    &-body{
      background-image: url(pics/kosmetologia-osnovnaya/kosmetologia-problem-body.jpg);
      background-size: 30%;
      @media(min-width: 992px){
        background-size: inherit;
      }
    }
    &-hair{
      background-image: url(pics/kosmetologia-osnovnaya/kosmetologia-problem-hair.jpg);
      background-size: 60%;
      @media(min-width: 992px){
        background-size: inherit;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: block;
      background-image: linear-gradient(to right, #6da7b2 10px, transparent 10px), linear-gradient(to right, #6da7b2 10px, transparent 10px), linear-gradient(to bottom, #6da7b2 10px, transparent 10px), linear-gradient(to bottom, #6da7b2 10px, transparent 10px);
      background-size: 100% 70px, 100% 70px, 70px 100%, 70px 100%;
      background-position: -5px 0%, -5px 100%, 0% -5px, 100% -5px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      transition: all 0.15s ease-in;
    }
  }

  &__desc{
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    color: #40818e;
    transition: all 0.15s ease-in;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -65px;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      border-color: transparent transparent transparent transparent;
      transition: all 0.15s ease-in;
    }
  }

  &__contentList{

  }

  &__item{
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to bottom, rgba(219,219,214,0.33) 0%,rgba(255,255,255,0) 50%);
    &-left{
      position: relative;
      min-height: 450px;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      @media(min-width: 768px){
        max-width: 650px;
      }
    }
    &-right{
      div{
        margin-bottom: 20px;
        font-size: 17px;
        line-height: 20px;
        color: #616161;
      }
      h4{
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: bold;
        color: #1d7383;
      }
      ul{

      }
      li{
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        color: #1d7383;
        font-size: 18px;

        &:after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          display: block;
          width: 10px;
          height: 10px;
          background-color: #1d7383;
        }
      }
    }


    &-xsImg{
      position: absolute;
      z-index: 2;
      display: block;
      width: 100px;
      height: 100px;
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      &._top{
        top: 15%;
        left: 0%;
      }
      &._bottom{
        bottom: 15%;
        right: 0%;
      }
      @media(min-width: 768px){
        width: 150px;
        height: 150px;
        &._top{
          top: 7%;
          left: 7%;
        }
        &._bottom{
          bottom: 7%;
          right: 7%;
        }
      }
      @media(min-width: 992px){
        &._top{
          top: 3%;
          left: 3%;
        }
        &._bottom{
          bottom: 3%;
          right: 3%;
        }
      }

      @media(min-width: 1200px){
        width: 170px;
        height: 170px;
        &._top{
          top: 7%;
          left: 7%;
        }
        &._bottom{
          bottom: 7%;
          right: 7%;
        }
      }
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
    }
    &-lgImg{
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: block;
      max-width: 300px;
      width: 100%;
      max-height: 300px;
      height: 100%;
      margin: auto;
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      overflow: hidden;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }

      @media(min-width: 768px){
        max-width: 400px;
        max-height: 400px;
      }
    }
    .link-arrow{
      margin-top: 50px;
    }
    &.active{
      display: block;
    }
  }
}
