
.motherhood-article{

  &__news{

    &-wrap{
      display: block;
      margin-bottom: 30px;
      padding: 10px;
      text-align: center;
      background-color: #f7f7f7;
      transition: all 0.175s ease-out;
      &:after{
        content: '...';
        display: block;
        text-align: center;
        line-height: 60px;
        color: #ed26df;
        font-size: 42px;
      }

      &:hover{
        background-color: darken(#f7f7f7,5%);
      }

      @media(min-width: 1440px){
        padding: 15px;
      }

    }

    &-img{
      position: relative;
      display: block;
      width: 240px;
      height: 165px;
      margin-bottom: 15px;
      overflow: hidden;

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        transform: translate(-50%, -50%);
      }

      @media(min-width: 1440px){
        width: 400px;
        height: 275px;
      }
    }

    &-content{

    }

    &-time{
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      color: #838d94;
    }

    &-title{
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 20px;
      color: #34393d;
    }

    &-desc{
      font-size: 15px;
      color: #79797a;
    }

  }

}