.motherhood-article{

  &__wrapper{
    width: 100%;
    padding: 0 4.6%;

    @media(min-width: 768px){
      padding: 0 5.2%;
    }
    @media(min-width: 1024px){
      padding: 0 70px;
    }
  }

  &__main{
    width: 100%;
    @media(min-width: 1024px){
      width: ~"calc(100% - 270px)";
      float: left;
    }
    @media(min-width: 1440px){
      width: ~"calc(100% - 550px)";
    }

    &-news{

      &-wrap{
        display: block;
        min-width: 270px;
        width: 100%;
        padding: 10px;
        vertical-align: top;
        font-size: 0;
        transition: all 0.175s ease-out;

        &:hover{
          background-color: #f7f7f7;
        }

        @media(min-width: 1440px){
          padding: 20px;
        }

      }

      &-img{
        position: relative;
        max-width: 414px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
        }
        @media(min-width: 768px){
          display: inline-block;
          width: 140px;
          height: 140px;
          margin-right: 20px;
          margin-bottom: 0;
        }
        @media(min-width: 1024px){
          vertical-align: top;
        }
        @media(min-width: 1440px){
          margin-right: 40px;
          width: 170px;
          height: 170px;
        }
      }

      &-content{
        min-height: 150px;
        border-bottom: 3px dotted #bccede;
        text-align: center;
        @media(min-width: 768px){
          display: inline-block;
          width: ~"calc(100% - 160px)";
          vertical-align: top;
          text-align: left;
        }
        @media(min-width: 1440px){
          width: ~"calc(100% - 210px)";
          min-height: 170px;
        }
      }

      &-time{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        color: #838d94;
      }

      &-title{
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
        color: #34393d;
      }

      &-desc{
        margin-bottom: 15px;
        font-size: 15px;
        color: #79797a;
        @media(min-width: 768px){
          padding-left: 20px;
        }
        @media(min-width: 1440px){
          padding-left: 30px;
        }
      }

    }

    &-banner{

      &-wrap{
        margin: 10px;
        @media(min-width: 1440px){
          margin: 20px;
        }
      }

    }

  }

  &__sidebar{
    display: none;

    @media(min-width: 1024px){
      display: block;
      width: 260px;
      float: right;
    }

    @media(min-width: 1440px){
      width: 430px;
    }
  }
}