.catalog-advice {
	
	.title(catalog-advice,#92a018,#c3cb80);
	
	&__container {
		.container;
	}
	
	&__items {
		padding-top: 105px;
		
		@media (max-width: 991px) {
			padding-top: 55px;
		}
	}
	
	&__item {
		margin-bottom: 70px;
	}
	
	&__img-wrap {
		display: block;
		padding-left: 0;
		padding-right: 40px;
		.transition;
		
		&:hover, &:focus {
			opacity: 0.8;
		}
		
		@media (max-width: 991px) {
			max-width: 455px;
			margin: 0 auto;
			margin-bottom: 20px;
			padding-right: 0;
		}
		
		@media (min-width: 768px) and (max-width:991px) {
			margin-bottom: 40px;
		}
	}
	
	&__img {
		width: @col-12;
	}
	
	&__text-content {
		position: relative;
		padding-left: 95px;
		
		@media (max-width:991px) {
			padding-left: 0;
		}
		
		a:hover > h3, a:focus > h3 {
			color: lighten(#92a018,5%)
		}
		
		h3 {
			margin-bottom: 35px;
			.font(@ff,1.9rem,1,normal,bold); 
			color: #92a018;
			.transition;
			
			@media (max-width:767px) {
				margin-bottom: 20px;
				.font(@ff,1.4rem,1,normal,bold);
				text-align: center;
			}
		}
		
		div {
			.font(@ff,1rem,1.8);
			
			@media (max-width:767px) {
				.font(@ff,15px);
			}
			
			@media (min-width: 992px) and (max-width:1199px) {
				.font(@ff,1rem,1.4);
			}
		}
		
		&::before {
			.before(0,0,75px,75px);
			background-color: #92a018;
			border-radius: 50%;
			
			@media (max-width:991px) {
				display: none;
			}
		}
		
		&::after {
			.before(-7px,0,75px,75px);
			content: "„";
			.font(@ff,121px,1px,normal,bold);
			color: #fff;
			text-align: center;
			
			@media (max-width:991px) {
				display: none;
			}
		}
	}
	
	&__doctor {
		position: relative;
		margin-bottom: 30px;
		padding-left: 40px;
		.font(@ff,1rem);
		
		@media (max-width:767px) {
			margin-bottom: 20px;
			.font(@ff,15px);
		}
		
		@media (max-width:991px) {
			padding-left: 0;
		}
		
		a {
			.font(@ff,1rem,1,normal,bold);
			text-decoration: underline;
			color: #10709c;
			
			@media (max-width:767px) {
				.font(@ff,15px,1,normal,bold);
			}
			
			&:hover, &:focus {
				text-decoration: none;
				color: lighten(#10709c,10%);
			}
		}
		
		&::before {
			.before(-8px,0,32px,38px);
			background: url(pics/sovet-vracha/catalog-advice-2.png) 0 0 no-repeat;
			
			@media (max-width:991px) {
				display: none;
			}
		}
	}
}