.doctor-main {
	
	padding-bottom: 55px;
	
	&__container {
		.container;
	}
	
	&__img-wrap {
		display: block;
		padding-left: 0;
		padding-right: 35px;
		.transition;
		
		&:hover, &:focus {
			opacity: 0.8;
		}
		
		@media (max-width: 991px) {
			max-width: 455px;
			margin: 0 auto;
			margin-bottom: 20px;
			padding-right: 0;
		}
		
		@media (min-width: 768px) and (max-width:991px) {
			margin-bottom: 40px;
		}
	}
	
	&__img {
		width: @col-12;
	}
	
	&__text-content {
		padding-left: 35px;
		
		@media (max-width: 767px) {
			padding-left: 0;
		}
	}
	
	&__about {
		padding-bottom: 30px;
		border-bottom: 1px solid #4479b2;
		
		a:hover > h2, a:focus > h2 {
			color: darken( #4479b2, 15%);
		}
		
		h2 {
			margin-bottom: 15px;
			padding: 0;
			.font(@ff,1.9rem,1);
			color: #4479b2;
			.transition;
			
			@media (max-width: 991px) {
				text-align: center;
			}
			
			@media (max-width: 767px) {
				.font(@ff,1.4rem,1);
			}
		}
		
		div {
			padding-left: 45px;
			
			@media (max-width: 991px) {
				padding-left: 0;
			}
			
			@media (max-width: 767px) {
				.font(@ff,15px);
			}
			
			span {
				font-weight: 700;
			}
		}
	}
	
	&__descr {
		padding-top: 25px;
		
		@media (max-width: 767px) {
			padding-top: 15px;
		}
		
		h3 {
			padding: 0;
			margin-bottom: 15px;
			.font(@ff,1.5rem);
			color: #4479b2;
			
			@media (max-width: 991px) {
				text-align: center;
			}
			
			@media (max-width: 767px) {
				.font(@ff,1.3rem);
			}
		}
		
		div {
			.font(@ff,1rem,1.8);
			
			@media (max-width: 767px) {
				.font(@ff,14px);
			}
		}
	}
}