.diagnostics{

  .title(diagnostics, #ed8600, #f5bd73);

  &__contentWrapper{
    position: relative;
    height: auto;
    overflow: hidden;
    background-image: url(pics/protezirovanie-region/diagnostics-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;

    @media(min-width: 1024px){
      height: 700px;
    }

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      @media(min-width: 1024px){
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:after{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: block;
      max-width: 1484px;
      width: 100%;
      height: 570px;
      background-repeat: no-repeat;
      background-position: right;
      background-image: url(pics/stomatologiya-region/diagnostics-bg2.png);
      @media(min-width: 1024px){
        content: '';
      }
    }
    .link-arrow{
      background-color: #fff;
      margin: 50px auto;
      z-index: 2;
      &:hover,&:active,&:focus{
        background-color: #ed8600;
      }
      @media(min-width: 1024px){
        margin: 160px auto;
      }
    }

  }

  &__content{
    position: relative;
    z-index: 1;
    max-width: 1440px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    @media(min-width: 768px){
      padding-top: 100px;
    }
    ul{
      position: relative;
      display: block;
      max-width: 900px;
      width: 100%;

      @media(min-width: 768px){
        column-count: 2;
      }
      @media(min-width: 1024px){
        padding-left: 15%;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          display: block;
          width: 80px;
          height: 80px;
          margin: auto;
          background-image: url(pics/svg/svg-protezirovanie-region/diagnostics-protez.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          -webkit-background-size: cover;
          background-size: cover;

          @media(min-width: 1440px){
            width: 149px;
            height: 149px;
          }

        }
      }


    }

    li{
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      padding-left: 23px;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        display: block;
        width: 8px;
        height: 8px;
        margin: auto;
        vertical-align: middle;
        background-color: #000;
      }
      &:hover{
        &:before{
          background-color: #ed8600;
        }
        a{
          color: #ed8600;
        }
      }
    }

    a{
      display: inline-block;
      font-size: 18px;
      white-space: normal;
      vertical-align: middle;
      color: #3b3d45;
    }

    @media(min-width: 768px){
      padding-left: 70px;
      padding-right: 70px;
      white-space: nowrap;
    }

  }

}