.news-tabs  {

  .title(news-tabs, #e87e3e, #f2b895);

  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #e87e3e;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #e87e3e transparent transparent;
        }
      }
    }
  }

  &__content {

    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }

    }
  }

  .link-arrow{
    margin-top: 50px;
  }

}