.icons {
	text-align: center;
	@media (min-width: 768px) {
		background: url(pics/longevity/longevity-menu-wp.jpg) top center no-repeat;
		background-size: cover;
	}
	@media (min-width: 992px) {
		text-align: right;
	}
	&__link{
		.font(@ff, 1rem);
		color: #4479b2;

		&:hover {
			font-weight: 700;
			color: darken(#4479b2, 10%);
		}

		&:active {
			color: darken(#4479b2, 20%);
		}
	}

	&__list{
		@media (min-width: 768px) {
			text-align: center;
		}
	}

}