.inoculations {

	.title(inoculations,#32491b, #8e9b82);

	&__container {
		.container;
	}

	&__slider {
		margin-bottom: 30px;
	}

	&__text-content {
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}
		@media (max-width: 991px) {
			padding: 15px 30px;
			background-color: rgba(255,255,255,0.7);
		}

		h3 {
			.font(@ff,3rem);
			color: #2b3b14;

			@media (max-width: 991px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				.font(@ff,1.5rem);
			}
		}
	}
}