
.longevity-sport {

	.title(longevity-sport,#e08f0f, #eec27b);

	&__container {
		.container;
	}

	&__slider {
		margin-bottom: 30px;
	}

	&__text-content {
		min-width:300px;
		max-width: 600px;
		width: 100%;
		padding: 30px 35px;
		background-color: rgba(26,131,180,0.5);

		@media (min-width: 414px) {
			min-width:400px;
		}
		@media (max-width: 991px) {
			padding: 15px 30px;
		}

		h3 {
			.font(@ff,2.4rem);
			color: #fff;

			@media (max-width: 991px) {
				text-align: center;
			}

			@media (max-width: 767px) {
				.font(@ff,1.5rem);
			}

			span {
				text-transform: uppercase;
			}
		}
	}
}