.longevity-diagnostics {
	
	padding-bottom: 20px;
	background: 
		url(pics/longevity/longevity-diagnostics-wp-2.jpg) top right no-repeat,
		url(pics/longevity/longevity-diagnostics-wp-1.jpg) center left no-repeat;
	
	@media (max-width: 991px) {
		background: none;
	}
	
	.title(longevity-diagnostics,#d66331,#e8a98e);
	
	&__content {
		padding-top: 25px;
	}
	
	&__container {
		.container;
	}
	
	&__form {
		p {
			margin-bottom: 55px;
			.font(@ff,1.1rem);
			text-align: center;
			color: #454545;
			
			@media (max-width: 767px) {
				margin-bottom: 25px;
			.font(@ff,1rem);
			}
		}
	}
	
	&__form-block {
		width:90%;
		margin: auto;
		color: #676767;
	}

	.drop._gray-bor{
		float: none;
		max-width: 500px;
		margin-left:auto;
		margin-right:auto;
		@media (min-width: 992px) {
			max-width: none;
			width: ~"calc(100% / 2 - 30px)";
			float: left;
		}
	}

	&__particle {
		display: block;
		float: left;
		width: 60px;
		padding-top: 15px;
		text-align: center;
		margin: auto;

		@media (max-width: 991px) {
			display: block;
			float: none;
			padding-top: 0;
			margin-bottom: 25px;
			font-size: 1.4rem;
		}
	}
	
	&__btn {
		display: block;
		width: @col-5;
		max-width: 532px;
		margin: 0 auto;
		margin-bottom: 70px;
		padding: 13px;
		.font(@ff,1.4rem);
		text-align: center;
		cursor: pointer;
		background-color: #de8058;
		border: none;
		outline: none;
		color: #fff;
		.transition;
		
		@media (max-width: 991px) {
			width: @col-12;
			max-width: 500px;
			margin-top: 20px;
			margin-bottom: 40px;
			.font(@ff,1rem);
		}
		
		&:hover, &:active, &:focus {
			background-color: #d66331;
		}
	}
	
	&__description-wrap {
		margin-bottom: 35px;
	}
	
	&__description {
		position: relative;
		padding-left: 150px;
		color: #373737;
		
		@media (max-width: 767px) {
			padding: 0;
			text-align: center;
		}
		
		h3 {
			.font(@ff,2.2rem,1.5);
			
			@media (max-width: 767px) {
				.font(@ff,1.6rem);
				margin-bottom: 15px;
			}
		}
		
		div {
			.font(@ff,1.1rem,2);
			
			@media (max-width: 767px) {
				.font(@ff,0.9rem);
			}
		}
		
		&::before {
			.before(15px,0,100px,100px);
			background: url(pics/svg/svg-longevity/ok_diagnostika.svg) 0 0 no-repeat;
			background-size: 100px 100px;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	
	&__block-wrap {
		margin-bottom: 75px;
		padding: 0 110px;
		
		@media (max-width: 1199px) {
			padding: 0 5%;
			margin-bottom: 50px;
		}
	}
	
	&__block {
		padding: 50px 20px;
		padding-bottom: 70px;
		border-top: 4px dotted #d66331;
		border-bottom: 4px dotted #d66331;
		
		@media (max-width: 1199px) {
			padding: 50px 0;
			padding-bottom: 20px;
		}
	}
	
	&__item {
		padding: 0 30px;
		
		@media (max-width: 991px) {
			margin-bottom: 30px;
			padding: 0;
		}
	}
	
	&__item-content {
		h3 {
			position: relative;
			display: inline;
			.font(@ff,1.5rem,1.3,normal,bold);
			border-bottom: 2px dotted #7a8b0c;
			color: #7a8b0c;
			
			@media (max-width: 767px) {
				font-size: 1.2rem;
				text-align: center;
			}
			
			&::before {
				.before(13px,-35px,9px,9px);
				background-color: #7a8b0c;
				
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
		
		div {
			margin-top: 40px;
			.font(@ff,1.1rem);
			color: #23373b;
			
			@media (max-width: 767px) {
				margin-top: 20px;
				.font(@ff,0.9rem);
			}
			
			& > p {
				margin-bottom: 25px;
			}
		}
	}
	
	&__links {
		margin-bottom: 65px;
		text-align: center;
	}
	
	&__link {
		display: inline-block;
		width: @col-4;
		margin: 0 45px;
		padding: 15px;
		.font(@ff,1.5rem);
		border: 1px solid #576e21;
		color: #576e21;
		.transition;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			width: @col-5;
			margin: 0 20px;
			max-width: 500px;
			.font(@ff,1rem);
		}
		
		@media (max-width: 767px) {
			width: @col-12;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 20px;
			.font(@ff,1rem);
		}
		
		&:hover, &:focus {
			background-color: #576e21;
			color: #fff;
		}
	}
	
	&__item-img {
		display: block;
		float: left;
		width: @col-6;
		margin-bottom: 75px;
		padding: 0 15px;
		
		@media (max-width: 991px) {
			float: none;
			width: @col-12;
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 30px;
			padding: 0;
		}
		
		&:hover, &:focus {
			.longevity-diagnostics__content-wrap::before {
				background-color: rgba(119,114,101,0.75);
			}
			.longevity-diagnostics__text-content div {
				display: block;
				
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
	
	&__content-wrap {
		position: relative;
		width: @col-12;
		max-width: 515px;
		height: 320px;
		margin: 0 auto;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-12;
			height: auto;
		}
		
		@media (max-width: 767px) {
			width: @col-12;
			height: auto;
		}
		
		&::before {
			.before(0,0,100%,100%);
			background-color: transparent;
			.transition;
		}
	}
	
	&__img-wrap {
		width: @col-12;
	}
	
	&__img {
		width: @col-12;
		height: auto;
	}
	
	&__text-content {
		position: absolute;
		.center;
		z-index: 10;
		min-width: 347px;
//		min-height: 70px;
		padding: 10px 20px;
		padding-bottom: 13px;
		text-align: center;
		background-color: rgba(148,172,92,0.75);
		color: #fff;
		
		@media (max-width: 767px) {
			width: @col-12;
			min-width: 0;
		}
		
		h3 {
			.font(@ff,1.8rem);
			
			@media (max-width: 767px) {
				.font(@ff,1.2rem);
			}
			
			span {
				display: block;
				.font(@ff,1rem,18px);
				
				@media (max-width: 767px) {
					.font(@ff,0.9rem);
				}
			}
		}
		
		div {
			display: none;
			.font(@ff,1rem);
			
			@media (max-width: 767px) {
				.font(@ff,0.9rem);
			}
		}
	}
}