.longevity-block {
	margin-bottom: 40px;


	&__text-content {
		padding: 0 20px;
		width: 100%;
		background-color: rgba(255,255,255,0.7);

		@media(min-width: 414px){
			min-width: 400px;
		}
		@media(min-width: 768px){
			min-width: 600px;
		}
		@media(min-width: 992px){
			width: 800px;
			background-color: transparent;
		}

		@media (max-width: 1199px) {
			padding-top: 15px;
			padding-bottom: 25px;

			text-align: center;
		}

		h3 {
			margin-bottom: 30px;
			.font(@ff,2.7rem);
			color: #486085;

			@media (max-width: 767px) {
				.font(@ff,1.7rem);
			}
		}

		a {
			display: inline-block;
			margin: 0 auto;
			padding: 13px 50px;
			.font(@ff,1.5rem);
			border: 1px solid #486085;
			background-color: #e2eeef;
			color: #486085;
			.transition;

			&:hover, &:focus {
				background-color: #486085;
				color: #e2eeef;
			}

			@media (max-width: 767px) {
				padding: 8px 50px;
				.font(@ff,1rem);
			}
		}
	}
}