.secrets-longevity {

	padding-bottom: 105px;

	@media (max-width: 991px) {
		padding-bottom: 0;
	}

	.title(secrets-longevity,#899a1a,#c3cc8c);

	&__container {
		max-width: 1784px;
		margin: 0 auto;
		padding: 0 70px;
		background: url(pics/longevity/secrets-longevity-bg.jpg) top center no-repeat;

		@media (max-width: 767px) {
			padding: 0 4.6%;
			background: none;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 0 5.2%;
			background: none;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 0 35px;
			background: none;
		}
	}

	&__content {
		margin-top: 20px;
		padding-bottom: 36px;

		@media (max-width: 1199px) {
			margin-top: 50px;
		}
	}

	/*~~~custom styles for _cont-around txt_right~~~*/
	.g-grid{
		padding-top: 50px;
		&__link{
			@media(min-width: 1200px) {
				width: 68%;
				min-width: 400px;
			}
			&:hover, &:focus {
				opacity: 0.8;
			}
		}
		&__img-cont{
			width:  180px;
			height: 180px;
			@media(min-width: 992px){
				width:  160px;
				height: 160px;
			}
		}
		&__content{
			@media(min-width: 768px){
				padding-left: 20px;
				padding-top: 0;
				width: ~'calc(100% - 180px)';
			}
			@media(min-width: 992px){
				width: ~'calc(100% - 160px)';
			}
			h3 {
				margin-bottom: 13px;
				font-size: 1.5rem;
				color: #3f3f3f;

				@media (max-width: 767px) {
					font-size: 1.1rem;
				}
			}
			div {
				.font(@ff,1rem);
				color: #606060;

				@media (max-width: 767px) {
					.font(@ff,1rem);
				}

				@media (max-width: 480px) {
					.font(@ff,0.9rem);
				}
			}
		}
	}
	/*~~~END custom styles for _cont-around txt_right~~~*/
}

