.news-tabs {

  .title(news-tabs, #358eb3, #90c1d5);

  &__container {
    .container;
  }

  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #358eb3;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #358eb3 transparent transparent;
        }
      }
    }
  }

  &__content {

    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }

    }
  }

}
