.advices {

  @media(min-width: 768px){
    padding-bottom: 50px;
  }
  .title(advices, #0388ca, #74bde1);
	
	&__content-wrap {
		padding-top: 50px;
		padding-bottom: 30px;
	}

  &__cont{
    position: relative;

      padding-top: 30px;

    &:before{
      content: '';
      position: absolute;
      .horizontal-center;
      top: 35px;
      display: block;
      width: 1px;
      height: 730px;
      background-color: #abd7ed;
      @media(max-width: 1199px){
        display: none;
      }
    }
  }
  &__each-cont{
    width: 100%;
    max-width: 525px;
    margin: auto;
    overflow: hidden;
    &._2{
      padding-top: 35px;
    }
  }
  &__img-cont{
    position: relative;
    width: 470px;
    height: 420px;
    overflow: hidden;
    margin-bottom: 95px;
    img{
      position: absolute;
      .center;
      min-width: 100%;
      min-height: 100%;
      max-width: 130%;
      max-height: 130%;
    }
    @media(max-width: 767px){
      width:  300px;
      height: 270px;
      margin: auto;
    }
  }
  &__txt-cont{
    margin-bottom: 25px;
    padding-bottom: 40px;
    padding-left: 5px;
    border-bottom: 1px solid #5e8593;
    @media(min-width: 768px){
      padding-left: 0;
    }
  }
  &__head{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 1.875rem;
    color: #128085;
  }
  &__txt{
    font-size: 1rem;
    color: #424141;
  }
  &__doc-data{
    color: #464646;
    padding-left: 5px;
    @media(min-width: 768px){
      padding-left: 0;
    }
  }
  &__name{
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.5rem;
    color:#0e0e0e;
  }
  &__dark{
    color:#0e0e0e;
  }

  .ul-doc{
    @media(max-width: 767px){
      text-align: center;
    }
    &__link-cont{
      margin-bottom: 30px;
      a{
        color: #747474;
        transition-property: color;
        transition-duration: .5s;
      }
      &._active a, &._active .ul-doc__name, & a:hover, & a:hover .ul-doc__name{
        color: #277d81;
      }
      & a:hover .ul-doc__img-cont,&._active .ul-doc__img-cont{
        border-color:#277d81;
      }
      &._last{
        margin-bottom: 80px;
      }
    }
    &__img-cont{
      position: relative;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border: 3px solid transparent;
      transition-property: border-color;
      transition-duration: .5s;
      @media(max-width: 767px){
        margin: auto;
      }
      img {
        position: absolute;
        .center;
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;

      }
    }
    &__doc-data{
      padding: 25px 0 0 20px;
    }
    &__name{
      margin-bottom: 25px;
      color:#000;
    }
  }

  .drop._select-input._blue-bor{
    width: 95%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    @media(min-width: 768px){
      margin-top: 50px;
      margin-bottom: 60px;
    }
    .drop__input{
      font-family: CenturyGothic, Arial, sans-serif;
      color: #336799;
      border-radius: 50px;
    }
    .drop__input::placeholder{
      text-align: center;
      color: #336799;
    }
  }

}