.advice-feedback {
	
	&__container {
		.container;
	}
	
	&__content {
		width: @col-6;
		padding: 40px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-9;
			margin: 0 auto;
		}
		
		@media (max-width: 991px) {
			width: @col-12;
			padding: 40px 0;
		}
	}
	
	&__title {
		margin-bottom: 35px;
		
		h2 {
			padding: 0;
			font-weight: 700;
			text-align: center;
			color: #336799;
		}
		
		span {
			display: block;
			.font(@ff,1.1rem,1);
			text-align: center;
			color: #336799;
			
			@media (max-width: 767px) {
				.font(@ff,15px,1);
			}
		}
	}
	
	&__field {
		display: block;
		width: @col-12;
		margin-bottom: 20px;
		padding: 12px 25px;
		.font(@ff,1rem,1.2,normal,bold);
		border: 1px solid #63717f;
		border-radius: 2px;
		color: #373737;
		.transition;
		
		&[type="submit"] {
			.font(@ff,15px,1.5);
			text-transform: uppercase;
			cursor: pointer;
			outline: none;
			background-color: #6389af;
			color: #fff;
			.transition;
			
			&:hover, &:focus {
				background-color: darken(#6389af,10%);
			}
		}
		
		&:hover {
			border: 1px solid #63717f;
			box-shadow: 0 0 10px 0 #ccc;
		}
		
		&:focus {
			outline: none;
			border: 1px solid #5088a9;
			box-shadow: 0 0 13px 0 #aaa;
		}
	}
}