.alphabet {
  margin-bottom: 50px;
  text-align: center;

  &__ul-char{
    margin-bottom: 0;

    @media (max-width: 1199px)and(min-width: 768px) {
      width: 80%;
      margin: auto;
    }

    @media (max-width: 767px){
      width: 90%;
      margin: auto;
    }
  }

  &__li {
    display: inline-block;
  }


  &__li-char {
    position: relative;
    z-index: 1;
    display: block;
    margin: 4px 0;
    padding: 9px;
    .font(@ff,1.4rem);
    text-decoration: none;
    color: @alphabet-char-color;
    .transition;

    &:hover, &:focus {
      color: @white;
      &::before {
        background-color: @alphabet-char-bg-color;
      }
    }

    &::before {
      .before(50%,50%,35px,35px);
      z-index: -1;
      transform: translate(-50%, -50%);
      background-color: transparent;
      .transition;
    }

    @media (max-width: 1440px)and(min-width: 1200px) {
      padding: 6px;
    }
  }

}