.art-grid{
  margin: auto;
  &._last-cent{
    @media (max-width: 991px)and(min-width: 768px) {
      margin-left: 25%;
    }
  }

  &__img-cont{
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px auto;
    z-index: 1;
    @media (max-width: 1199px){

    }
    img{
      position: absolute;
      .center;
      z-index: 0;
      @media (max-width: 1199px)and(min-width: 992px){

      }
    }
  }
  &__txt{
    position: relative;
    display: inline-block;
    .horizontal-center;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
    transition-property: border;
    transition-duration: .5s;
  }
}