.ban-right{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1199px){
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__txt-cont{
    position: absolute;
    max-width: 45%;
    margin-left: 55%;


    @media (max-width: 1440px)and(min-width:992px){
      max-width: 55%;
      margin-left: 45%;
    }


    @media (max-width:991px){
      text-align: center;
      max-width: none;
      width: 90%;
      margin: 0;
      .center;
    }

  }

  &__link{
    display: block;
  }

  &__txt{
    margin-bottom: 10px;
  }

  &__txt-2{
    padding: 0 10px 10px 10px;
  }
}