.chess-1{
  &__item-container{
    position: relative;
    background-repeat: no-repeat;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.8);
      @media(min-width: 1440px){
        display: none;
      }
    }

    @media(min-width: 992px){
      &:nth-child(2n - 1){
        .chess-1{

          &__in_1 {
            float: left;
          }
          &__in_2 {
            float: right;
          }
          @media(min-width: 1400px){
            &__item{
              transform: translate(-10%,0);
            }
          }
          @media(min-width: 1200px){
            &__item{
              transform: translate(-5%,0);
            }
          }

        }
      }
      &:nth-child(2n){
        .chess-1{
          &__in_1 {
            float: right;
          }
          &__in_2 {
            float: left;
          }
          @media(min-width: 1400px){
            &__item{
              transform: translate(10%,0);
            }
          }
          @media(min-width: 1200px){
            &__item{
              transform: translate(5%,0);
            }
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    z-index: 1;
    width: 95%;
    margin: auto;
  }

  &__in_2{
    text-align: center;
  }

  &__img-wrap {
    position: relative;
    margin: auto;
    &::before {
      @media (min-width: 768px) {
        content: "";
        position: absolute;
        z-index: 2;
        .center;
        width: ~"calc(100% + 20px)";
        height: ~"calc(100% + 20px)";
      }
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      .center;
      z-index: 1;
      display: block;
      min-width: 80%;
      min-height: 80%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__text{
    display: inline-block;
    margin: auto;
  }
}


/*
это каркас для блока, прописаны только те стили, которые не будут изменены
чтобы подключить скопируйте блок
<section id="salad" class="salad chess-1">
со страницы recepty.html

вместо salad используйте свой класс вместе с классом chess-1

Вот пример доопределенных стилей:
(здесь доопределены только те стили, которые влияют на chess-1,
чтобы полностью скопировать блок, найдите файл salad.less)

.salad {
  .title(salad, #9ea70a, #cacf78);
  &.chess-1 {
    .chess-1 {
      &__item-container {
        @media (min-width: 992px) {
          &:nth-child(4n+1) {
            background-image: url(pics/recepty/salad/salad-bg-1.jpg);
            background-position: right bottom;
          }

          &:nth-child(4n+2) {
            background-image: url(pics/recepty/salad/salad-bg-2.jpg);
            background-position: left center;
            background-size: auto 100%
          }

          &:nth-child(4n+3) {
            background-image: url(pics/recepty/salad/salad-bg-3.jpg);
            background-position: right center;
            background-size: auto 100%
          }

          &:nth-child(4n+4) {
            background-image: url(pics/recepty/salad/salad-bg-4.jpg);
            background-position: left center;
            background-size: auto 100%
          }
        }
      }

      &__item {
        max-width: 1024px;
        margin-bottom: 25px;
        @media (min-width: 768px) {
          margin-bottom: 80px;
        }
      }

      &__in_1, &__in_2 {
        margin-bottom: 50px;
      }

      &__img-wrap {
        width: 280px;
        height: 250px;
        @media (min-width: 768px) {
          width: 450px;
          height: 400px;
        }
        &::before {
          @media (min-width: 768px) {
            .corner(#d2d7d8, 82px, 5px);
          }
        }
      }
      &__text {
        max-width: 500px;
        text-align: left;
        color: #434343;
      }
    }
  }
}*/
