.diag-form{
  width: 80%;
  max-width: 600px;
  margin-left: 50%;
  padding: 20px 20px 80px 20px ;
  @media (max-width: 1199px) {
    margin: auto;
  }
  @media (max-width: 767px) {
    width: 100%;
  }


  &__cont{
    padding-left: 20%;
    @media (max-width: 767px) {
      padding-left: 0;
    }
    ul{
      margin: 50px 0 60px 0;

      >li{
        position: relative;
        color: @diag-triangle-color;

        &:nth-child(odd){
          margin-bottom: 10px;
          &:before{
            content: '';
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            .vertical-center;
            left: -50px;
            background-color: @diag-triangle-color;
            @media (max-width: 767px) {
              left: -20px;
            }
          }
        }

        &:nth-child(even){
          margin-bottom: 30px;
        }
      }
    }
    ol{
      margin-top: 10px;
      color:@dark-gray;
      li{
        margin-bottom: 5px;
      }
      a{
        color:@dark-gray;
        font-size: .875rem;
        transition-property: color;
        transition-duration: .5s;
        &:hover{
          color:@diag-triangle-color;
        }
      }
    }
  }

  .btn._gray, .btn._black{
    @media (max-width: 767px) {
      position: relative;
      .horizontal-center;
    }

    &:hover{
      background-color: @diag-form-bg-in-color;
    }
  }
  &__show-btn{
    display: block;
    margin: auto;
  }
}