.diamonds{
  position: absolute;
  transform: rotate(-45deg);
  @media (max-width: 991px){
    display: none;
  }
  &__pics-cont{
    position: relative;
    width: 600px;
    height: 600px;
  }
  &__pic-1,&__pic-2,&__pic-3{
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__pic-1{
    left: 40%;
    top: 0;
    z-index: 1;

    width: 45%;
    height: 45%;

    &._opacity{
      opacity: 0.7;
    }

  }
  &__pic-2{
    left: 38%;
    top:33%;
    z-index: 2;

    width: 60%;
    height: 60%;


    &._border{
      border: 7px solid rgba(255,255,255,0.5);
    }

    &._opacity{
      opacity: 0.7;
    }

    &:before{
      content: '';
      position: absolute;
      .center;
      display: block;
      height: 106.5%;
      width: 106.5%;
      background-image:
              linear-gradient(to right,  @diamond-frame-color 160px, transparent 160px),
              linear-gradient(to right,  @diamond-frame-color 160px, transparent 160px),
              linear-gradient(to bottom, @diamond-frame-color 160px, transparent 160px),
              linear-gradient(to bottom, @diamond-frame-color 160px, transparent 160px);
      background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
      background-position: -80px 0, -80px 100%, 0 -80px, 100% -80px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    }
  }
  &__pic-3{
    left: 0;
    top:38%;
    z-index: 1;

    width: 45%;
    height: 45%;

    &._opacity{
      opacity: 0.7;
    }
  }

  &._inverse{
    .diamonds{
      &__pic-1{
        left: 60%;
        top: 38%;
      }
      &__pic-2{
        width: 73%;
        height: 73%;
        left: 0;
        top: 0;
      }
      &__pic-3{
        left: 16%;
        top: 65%;
      }
    }

  }
}
