
/*~~~For blue select with input~~~*/
.drop._select-input._blue{
  width: 100%;
  margin-bottom: 30px;
  .drop{
    &__input{
      font-size: 1rem;
      color: #005d91;
      background-color: #cde6ff;
      border-color: transparent;
    }
    &__toggle {
      font-size: 1rem;
      color: #005d91;
    }
    &__items{
      max-height: 150px;
      background-color: #cde6ff;
      border-color: transparent;
    }
    &__li,.autocomplete-suggestion{
      padding: 3px 5px 3px 20px;
      color: #005d91;
      &:hover{
        background-color: #8cc6ff;
      }
      &:nth-child(even){
        background-color: #b5daff;
        &:hover{
          background-color: #8cc6ff;
        }
      }
    }
  }


  .autocomplete-suggestions{
    color: #3399FF;
    background-color: #cde6ff;
  }
  .autocomplete-suggestion{
    padding: 3px 5px 3px 20px;
    color: #005d91;
    &:hover{
      background-color: #8cc6ff;
    }
    &:nth-child(even){
      background-color: #b5daff;
      &:hover{
        background-color: #8cc6ff;
      }
    }
  }
  .autocomplete-selected {
    background-color: #8cc6ff;
    &:nth-child(even){
      background-color: #8cc6ff;
    }
  }
  .baron-all{
    height: 400px;
  }
  .baron-all__track {
    background-color: transparent;
  }
}
/*~~~End blue select with input~~~*/

/*~~~For blue select without input~~~*/
.drop._select._blue{
  width: 100%;
  margin-bottom: 30px;
  @media(min-width: 768px){
    float: left;
  }
  .drop{
    &__toggle {
      font-size: 1rem;
      color: #75797d;
      background-color: #cde6ff;
      border-color: transparent;
      &:before{
        color: #005d91;
      }
    }
    &__items{
      max-height: 150px;
      background-color: #cde6ff;
      border-color: transparent;
    }
    &__li{
      padding: 3px 5px 3px 20px;
      color: #005d91;
      &:hover{
        background-color: #8cc6ff;
      }
      &:nth-child(even){
        background-color: #b5daff;
        &:hover{
          background-color: #8cc6ff;
        }
      }
    }
  }
  .baron-all{
    height: 400px;
  }
  .baron-all__track {
    background-color: transparent;
  }
}
/*~~~End blue select without input~~~*/