.drop{
  height: 50px;

  &._select{
    .drop {
      &__toggle {
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        text-align: left;
        border-width: 1px;
        border-style: solid;
      }
    }
  }

  &._select-input {
    position: relative;
    .drop{
      &__input{
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 35px;
        border-width: 1px;
        border-style: solid;
        @media(min-width: 768px){
          padding-right: 50px;
        }
      }
      &__toggle {
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
        height: 50px;
        border: none;
        @media(min-width: 768px){
          width: 50px;
        }
      }
    }

  }
  &__toggle{
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    &:before{
      content: '';
      position: absolute;
      right: 10px;
      .vertical-center;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    @media(min-width: 768px){
      &:before{
        right: 25px;
      }
    }
  }
  &__items{
    z-index: 500;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
  }
  &__li{
    padding: 3px 5px 3px 5px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .5s;
  }
  .autocomplete-suggestions {
    box-shadow:
            0 5px 15px -3px rgba(0, 0, 0, .7),
            0 0 0 1px rgba(0, 0, 0, .05);
  }
  .autocomplete-suggestions strong { font-weight: normal;}
  .autocomplete-group { padding: 2px 5px; }
  .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
}

/*~~~dropdown settings~~~*/
/*You can also set your own properties to the select! Here is an example for select WITHOUT INPUT*/
/*
.drop {
  width: 100%;
  max-width: 400px;
  float: left;
  &__toggle {
    font-size: 1rem;
    color: #75797d;
    background-color: #fff;
    border-color: #f5edc9;
  }
  &__items{
    max-height: 200px;
    background-color: white;
    border-color: #f5edc9;
  }
  &__li{
    padding: 2px 5px 2px 0;
    cursor: pointer;
    &:hover{
      background-color: #f5edc9;
    }
  }
}
.baron-all__bar {
  background-color: #efad44;
}
.baron-all{
  height: 400px;
}
.baron-all__track {
  background-color: transparent;
}
*/

