/*~~~For blue-bor select with input~~~*/
.drop._select-input._blue-bor{
  margin-bottom: 30px;
  .drop{
    &__input{
      font-size: 1rem;
      color: #005d91;
      background-color: #fff;
      border-color: #005d91;
    }
    &__toggle {
      font-size: 1rem;
      color: #005d91;
    }
    &__items{
      max-height: 150px;
      background-color: #fff;
      border-color: transparent;
    }
    &__li{
      padding: 3px 5px 3px 20px;
      color: #005d91;
      &:hover{
        background-color: #aeddff;
      }
      &:nth-child(even){
        background-color: #dfefff;
        &:hover{
          background-color: #aeddff;
        }
      }
    }
  }
  .autocomplete-suggestions{
    background-color: #fff;
  }
  .autocomplete-suggestion{
    padding: 3px 5px 3px 20px;
    color: #005d91;
    &:hover{
      background-color: #aeddff;
    }
    &:nth-child(even){
      background-color: #dfefff;
      &:hover{
        background-color: #aeddff;
      }
    }
  }
  .autocomplete-selected {
    background-color: #aeddff;
    &:nth-child(even){
      background-color: #aeddff;
    }
  }
  .baron-all{
    height: 400px;
  }
  .baron-all__track {
    background-color: transparent;
  }
}
/*~~~End blue-bor select with input~~~*/