.forum{
  position: relative;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
  background-repeat:no-repeat;
  background-position: right;
  -webkit-background-size: cover;
  background-size: cover;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    @media(min-width: 1200px){
      content: none;
    }
  }

  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      display: block;
      margin: auto;
      background-repeat:no-repeat;
      background-position: 0 0;
      background-size: cover;
    }
    @media(min-width: 1024px){
      transform: translate(-100%,-50%);
    }
    @media(min-width: 1200px){
      transform: translate(-120%,-50%);
    }
  }
}


// каркас для стилизации
// html можно взять с invalid-2-level.html
//.forum{
//  height: 200px;
//  background-image: url(pics/invalid-2-level/forum-bg.jpg);
//  &__content{
//    max-width: 420px;
//    padding-left: 140px;
//    color: #f97034;
//    &:before{
//      background-image: url(pics/invalid-2-level/forum-icon.png);
//      width: 98px;
//      height: 106px;
//    }
//  }
//
//  &__title{
//    font-size: 46px;
//  }
//
//  &__text{
//    font-size: 24px;
//  }
//}