.frame-bord{
  position: relative;
  &:after{
    content:'';
    position: absolute;
    left: 0;
    top:0;
    width:  100%;
    height: 100%;
  }
  &._def:after{
    z-index: -1;
    background-image:
            linear-gradient(to right,  @frame-color-2 160px, transparent 160px),
            linear-gradient(to right,  @frame-color-2 160px, transparent 160px),
            linear-gradient(to bottom, @frame-color-2 160px, transparent 160px),
            linear-gradient(to bottom, @frame-color-2 160px, transparent 160px);
    background-size: 100% 8px, 100% 8px, 8px 100%, 8px 100%;
    background-position: -80px 0, -80px 100%, 0 -80px, 100% -80px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }
  &._gray-5px:after{
    z-index: 0;
    background-image:
            linear-gradient(to right,  #c2c2c2 160px, transparent 160px),
            linear-gradient(to right,  #c2c2c2 160px, transparent 160px),
            linear-gradient(to bottom, #c2c2c2 160px, transparent 160px),
            linear-gradient(to bottom, #c2c2c2 160px, transparent 160px);
    background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
    background-position: -80px 0, -80px 100%, 0 -80px, 100% -80px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    @media(max-width: 767px){
      display: none;
    }
  }
}
