.frame-grid-float{
  background-repeat: no-repeat;
  &__content{
    padding-top:30px;
    @media(min-width: 768px){
      padding-top:100px;
    }
  }

  &__item{
    text-align: center;
    margin-bottom: 50px;
  }

  &__link{
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:after{
      content: '';
      position: absolute;
      display: block;
      transition: all 0.15s ease-in;
    }
    &:hover{
      &:after{
        transform: scale(1.05);
      }
    }
  }

  &__pic{
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
    }
  }
  &__desc{
    display: block;
    transition: all 0.15s ease-in;
  }
}

/*~~~here is an example for one of grids~~~*/

/*~~~You can find html example in birth.html ~~~*/

/*
.postpartum{
  .title(frame-grid-float, @postpartum-1, @postpartum-2);
  .frame-grid-float{
    &__item:last-child{
      @media(min-width: 768px)and(max-width: 991px){
        margin-left: 25%;
      }
    }
    &__link{
      max-width: 250px;
      width: 100%;
      &:after{
        top: -13px;
        width: 250px;
        height: 250px;
        padding: 13px;
        background-image: linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
        linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
        linear-gradient(to bottom, #d5d6d6 8px, transparent 8px),
        linear-gradient(to bottom, #d5d6d6 8px, transparent 8px);
        background-size: 100% 100px, 100% 100px, 100px 100%, 100px 100%;
        background-position: -4px -30%, -4px 130%, -30% -4px, 130% -4px;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      }
      @media(min-width: 1200px){
        max-width: 300px;
        &:after{
          width: 300px;
          height: 300px;
        }
      }
      &:hover{
        &:after{
          background-image: linear-gradient(to right,  #93ccdc 8px, transparent 8px),
          linear-gradient(to right,  #93ccdc 8px, transparent 8px),
          linear-gradient(to bottom, #93ccdc 8px, transparent 8px),
          linear-gradient(to bottom, #93ccdc 8px, transparent 8px);
        }
        .frame-grid-float__desc{
          color: #93ccdc;
        }
      }
    }
    &__pic{
      max-width: 220px;
      height: 220px;
      @media(min-width: 1200px) {
        max-width: 270px;
        height: 270px;
      }
    }
    &__desc{
      color: #4b4b4e;
      font-size: 20px;
    }
  }
}*/
