.icons {
  position: relative;
  min-height: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 0;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(255,255,255,0.5);

    @media(min-width:992px){
      display: none;
    }

  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 70px;

    @media (max-width: 767px) {
      padding: 0 4.6%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 0 5.2%;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 0 35px;
    }
    position: relative;
    z-index: 2;
  }

  &__list{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    text-align: left;
  }

  &__item{
    margin-bottom: 20px;
    @media(min-width:768px){
      vertical-align: top;
      display: inline-block;
    }
  }

  &__link{
    display: block;
    &-text{
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      text-align: left;
      transition: all .225s;

      @media(max-width:767px){
        width: ~"calc(100% - 80px)";
      }


    }
    @media(min-width:768px){
      &-text{
        display: block;
        font-size: 16px;
        text-align: center;
      }
    }
    &:hover{
      .icons__icon{
        transform: translateY(-7px);
      }
    }
  }

  &__icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    transition: all .225s;
    @media(min-width:768px){
      display: block;
      width: 110px;
      height: 110px;
      margin: 0 auto 10px;
    }
    &-svg{
      display: block;
      width: 100px;
      height: 100px;
      @media(min-width:768px){
        width: 110px;
        height: 110px;
      }
      @media(max-width:767px){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  @media(min-width:768px){
    padding-top: 80px;
    padding-bottom: 80px;

    &__3{
      .icons__list{
        max-width: 700px;
      }
      .icons__item{
        width: 33.3333333%;
      }
    }
    &__4{
      .icons__list{
        max-width: 800px;
      }
      .icons__item{
        width: 25%;
      }
    }
    &__5{
      .icons__list{
        max-width: 900px;
      }
      .icons__item{
        width: 20%;
      }
    }
  }
}


// native
//.icons {
//  text-align: center;
//  @media (min-width: 768px) {
//    background-image: url(pics/);
//  }
//  @media (min-width: 992px) {
//    text-align: right;
//  }
//  &__link{
//    color: #6b8413;
//  }
//}