.img-frame{
  &__frame{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      .center;
      z-index: 100;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__cont{
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    img{
      position: absolute;
      .center;
      max-width: 120%;
      max-height: 120%;
      min-width: 100%;
      min-height: 100%;
      z-index: 1;
    }
  }
}