.in-group{
  &__label{
    display: block;
    text-align: center;
  }
  &__in-cont{
    height: 55px;
    margin: auto;
  }
  &__in{
    display: block;
    height: 100%;
    padding-left: 45px;
    font-size: 1rem;
    border: 1px solid;
    @media (max-width: 767px){
      margin: 10px auto;
      padding-left: 10px;
    }
  }
  &__btn{
    display: block;
    height: 100%;
    font-size: 1.5rem;
    text-align: center;
    @media (max-width: 767px){
      margin: auto;
    }
  }

  &_search{
    width: 90%;
    max-width: 780px;
    margin: auto;
    &__label{
      display: block;
      text-align: center;
    }
    &__in-cont{
      position: relative;
      height: 55px;
      margin: auto;
    }
    &__in{
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 45px;
      font-size: 1rem;
      border: 1px solid;
      border-radius: 30px;
      @media (max-width: 767px){
        padding-left: 10px;
      }
    }

    &__btn{
      position: absolute;
      right: 10px;
      .vertical-center;
      display: block;
      height: 70%;
      font-size: 1.5rem;
      text-align: center;
      border-radius: 30px;

    }


  }
}