.indexBanner{
  position: relative;
  width: 100%;
  min-height: 320px;
  margin-bottom: 5px;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-height: 120%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  @media(min-width: 414px){
    height: 350px;
  }
  .indexBanner__content{
    display: block;
    position: relative;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    max-width: 550px;
    padding: 30px 15px;
    margin: auto;
    transform: none;

    &:before{
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      @media(min-width: 1200px){
        display: none;
      }
    }

    h3 {
      margin-bottom: 15px;
      .font(@h,3.2rem,1);
      color: @index-1;

      @media (max-width: 767px) {
        .font(@h,2.3rem,1);
      }
    }

    p {
      margin-bottom: 25px;
      .font(@h,1.5rem,1.25rem);
      color: @index-1;

      @media (max-width: 767px) {
        .font(@h,1.3rem);
      }
    }

    a {
      padding: 3px 20px;
      padding-bottom: 7px;
      .font(@h,1.5rem);
      color: @index-1;
      border: 1px solid @index-1;
      .transition;

      &:hover, &:focus {
        background-color: @index-1;
        color: @white;
      }
    }
// модификаторы для цвета фона
    &._padBG{
      &:before{
        @media(min-width: 1200px){
          display: block;
        }
      }
    }

    &._whiteBG{
      &:before{
        background-color: rgba(255,255,255,0.7);
      }
    }

    &._blueBG{
      &:before{
        background-color: rgba(51, 103, 153,0.7);
      }
    }

    &._grayBG{
      &:before{
        background-color: rgba(72, 97, 117,0.8);
      }
    }
// Модификаторы для цвета шрифта
    &._whiteFont{

      h3 {
        color: #fff;
      }

      p {
        color: @white;
      }

      a {
        color: @white;
        border: 1px solid @white;
        &:hover, &:focus {
          background-color: @white;
          color: @index-1;
        }
      }
    }

    &._brownFont{
      h3 {
        color: @index-14;
      }

      p {
        color: @index-14;
      }

      a {
        color: @index-14;
        border: 1px solid @index-14;
        &:hover, &:focus {
          background-color: @index-14;
          color: @white;
        }
      }
    }

    &._purpleFont{
      h3 {
        color: @index-2;
      }
      p {
        color: @index-2;
      }
      a {
        color: @index-2;
        border: 1px solid @index-2;
        &:hover, &:focus {
          background-color: @index-2;
          color: @white;
        }
      }
    }

    &._vinousFont{
      h3 {
        color: @index-4;
      }

      p {
        color: @index-4;
      }

      a {
        color: @index-4;
        border: 1px solid @index-4;

        &:hover, &:focus {
          background-color: @index-4;
          color: @white;
        }
      }
    }

    &._greenFont{
      h3 {
        color: @index-15;
      }
      p {
        color: @index-15;
      }
      a {
        color: @index-15;
        border: 1px solid @index-15;
        &:hover, &:focus {
          background-color: @index-15;
          color: @white;
        }
      }
    }

    &._blackFont{
      h3 {
        color: #202020;
      }

      p {
        color: #202020;
        @media (max-width: 767px) {
          .font(@h,1.3rem);
        }
      }

      a {
        color: #202020;
        border: 1px solid #202020;
        &:hover, &:focus {
          background-color: #202020;
          color: @white;
        }
      }
    }

    &._pinkFont{
      h3 {
        color: #f061af;
      }

      p {
        color: #f061af;
      }

      a {
        color: #f061af;
        border: 1px solid #f061af;
        &:hover, &:focus {
          background-color: #f061af;
          color: @white;
        }
      }
    }

    @media(min-width: 414px){
      min-width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  }
  @media(max-width: 991px){
    text-align: center;
  }
  @media(min-width: 992px){
    &._center{
      .indexBanner__content{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
    }
    &._center-top{
      .indexBanner__content{
        top: 0%;
        left: 50%;
        transform: translate(-50%,0%);
        text-align: center;
      }
    }
    &._center-bottom{
      .indexBanner__content{
        bottom: 0;
        left: 0;
        right: 0;
        top: initial;
        transform: none;
        text-align: center;
      }
    }
    &._left{
      .indexBanner__content{
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._left-top{
      .indexBanner__content{
        top: 20%;
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._left-bottom{
      .indexBanner__content{
        top: 70%;
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._right{
      .indexBanner__content{
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
        text-align: right;
      }
    }
    &._right-bottom{
      .indexBanner__content{
        top: 70%;
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._right-top{
      .indexBanner__content{
        top: 20%;
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
      }
    }
  }
}