//history-facts
.interesting-facts {
  @media (max-width: 991px) {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
  }
  &__container {
    .container;
  }
  &__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 1024px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  &__item {
    margin-bottom: 50px;
    font-size: 0;
  }

  &__img-wrap {
    position: relative;
    padding: 45px 15px;
    overflow: hidden;
    @media (min-width: 1024px) {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }
  }

  &__img-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    height: 265px;
    margin: auto;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: cover;
    background-size: cover;
    @media (min-width: 1024px) {
      top: 5px;
      width: 415px;
      height: 398px;
    }
  }

  &__img {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: 1024px) {
      width: 310px;
      height: 310px;
      display: inline-block;
    }
  }

  &__text-content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    text-align: center;
    @media (min-width: 1024px) {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
      text-align: left;
    }

  }
}
// nth-child
.interesting-facts {
  &__item {
    @media (min-width: 1024px) {
      &:nth-child(odd) {
        .interesting-facts__img-wrap {
          text-align: left;
          &::before {
            @media (min-width: 1024px) {
              right: initial;
              left: 35px;
            }
          }
        }
        .interesting-facts__img {
          margin-left: 60px;
        }
        .interesting-facts__text-content {
          text-align: left;
        }
      }

      &:nth-child(even) {
        .interesting-facts__img-wrap {
          left: 50%;
          text-align: right;
          &::before {
            @media (min-width: 1024px) {
              right: 35px;
              left: initial;
            }
          }
        }
        .interesting-facts__img {
          margin-right: 60px;
        }
        .interesting-facts__text-content {
          right: 50%;
          text-align: right;
        }
      }
    }
  }
}

// Стили для блока в шахматном порядке размер колонки в строке 50%, изображение в круге
// вот нативная стрктура
//.interesting-facts {
//  .title(interesting-facts, #46aab5, #99d0d6);
//  &__wrapper {
//    background-image: url(pics/protezirovanie-osnovnaya/interesting-facts_bg.jpg);
//    background-repeat: repeat-y;
//    -webkit-background-size: cover;
//    background-size: cover;
//    background-position: 0 0;
//  }
//  &__img-wrap::before {
//    background-image: url(pics/protezirovanie-osnovnaya/img-frame_center.png);
//  }
//  &__item {
//    @media (min-width: 1024px) {
//      &:nth-child(odd) {
//        .interesting-facts__img-wrap {
//          &::before {
//
//            background-image: url(pics/protezirovanie-osnovnaya/img-frame_left.png);
//          }
//        }
//      }
//
//      &:nth-child(even) {
//        .interesting-facts__img-wrap {
//          &::before {
//            background-image: url(pics/protezirovanie-osnovnaya/img-frame_right.png);
//
//          }
//        }
//      }
//    }
//  }
//
//  &__text-content {
//    line-height: 28px;
//    font-size: 16px;
//    color: #656565;
//    a {
//      color: #44a9b4;
//      font-size: 20px;
//    }
//    @media (min-width: 768px) {
//      line-height: 34px;
//      font-size: 18px;
//      a{
//        font-size: 24px;
//      }
//    }
//
//  }
//
//}