.interview {
	height: 705px;
	background-color: @index-17;
	@media (max-width: 991px) {
		height: auto;
		padding-right: 0;
		padding-bottom: 20px;
	}
	&__h2 {
		position: relative;
		padding: 16px;
		.font(@h,2rem);
		text-align: center;
		background-color: @index-16;
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@h,1.5rem);
		}
		@media (max-width: 767px) {
			.font(@h,1.5rem);
		}
		&::before {
			.before(auto,50%,30px,30px);
			bottom: -15px;
			transform: translateX(-50%) rotate(45deg);
			background-color: @index-16;
		}
	}

	&__text-content {
		padding-top: 70px;

		@media (max-width: 1199px) {
			padding: 30px 5%;
		}
	}
	&__h3-ques {
		margin-bottom: 65px;
		font-weight: normal;
		.font(@h,1.9rem);
		text-align: center;
		color: #464a4e;

		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@h,1.4rem);
			padding-top: 30px;
		}

		@media (max-width: 767px) {
			.font(@h,1.4rem);
			margin-bottom: 45px;
		}
	}

	&__btn-voice{
		display: block;
		max-width: 305px;
		margin: 0 auto 55px auto;
		padding: 15px;
		.font(@h,1.2rem);
		text-align: center;
		border: 1px solid #000;
		color: #4c5e70;
		.transition;
		&:hover, &:focus {
			border-color:  #869218;
			text-decoration: underline;
			background-color: @white;
			color: #869218;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}
	&__ques-cont-in{
		position: relative;
		display: none;
		width: 300px;
		margin: auto;
		text-align: left;
		@media(max-width: 1440px){
			max-width: 770px;
		}
		@media(max-width: 991px){
			margin: auto;
		}
	}
	&__diagram-list{
		width: 100%;
		margin-bottom: 75px;
		@media(max-width: 991px){
			margin:0 auto 30px auto;
		}
		&._center{
			margin: auto;
		}
		& li:nth-child(4n+1){.interview__diagram-fill{background-color: #b2be45;}}
		& li:nth-child(4n+2){.interview__diagram-fill{background-color: #e443d3;}}
		& li:nth-child(4n+3){.interview__diagram-fill{background-color: #0ba396;}}
		& li:nth-child(4n+4){.interview__diagram-fill{background-color: #556ded;}}
	}
	&__item{
		margin-bottom: 40px;
	}
	&__ans-txt{
		font-size: 1.125rem;
		font-family: @h,Arial, sans-serif;
		margin-bottom: 10px;
	}
	&__diagram-line{
		width: 100%;
		height: 12px;
		background-color: #ededed;
	}
	&__diagram-fill{
		width: 40%;
		height: 100%;
	}
}