.items-gallery{
    &__img-cont{
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;

        img{
            position: relative;
            .center;
            min-width: 100%;
            min-height: 100%;
            max-width: 140%;
            max-height: 140%;
        }
    }

    &._circle{
        .items-gallery__img-cont{
            border-radius: 50%;
        }
    }

}