.mainBanner{
  position: relative;
  width: 100%;
  min-height: 320px;
  overflow: hidden;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-height: 120%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  @media(min-width: 414px){
    height: 450px;
  }
  .mainBanner__content{
    display: block;
    position: relative;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    transform: none;
    @media(min-width: 414px){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  @media(max-width: 991px){
    text-align: center;
  }

  @media(min-width: 992px){
    &._center{
      .mainBanner__content{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &._center-bottom{
      .mainBanner__content{
        bottom: 0;
        left: 0;
        right: 0;
        top: initial;
        transform: none;
      }
    }
    &._left{
      .mainBanner__content{
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._left-top{
      .mainBanner__content{
        top: 20%;
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._left-bottom{
      .mainBanner__content{
        top: 70%;
        left: 0;
        padding-left: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._right{
      .mainBanner__content{
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._right-bottom{
      .mainBanner__content{
        top: 70%;
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
      }
    }
    &._right-top{
      .mainBanner__content{
        top: 20%;
        right: 0;
        left: initial;
        padding-right: 70px;
        transform: translate(0%, -50%);
      }
    }
  }

  @media(max-width: 991px){
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.7);
    }
  }

}