.mans{
  position: relative;
  &__img-cont{
    position: relative;
    width:670px;
    height: 700px;
    margin: auto;
    background: url(pics/inner-diseases/handbook/handbook.jpg) no-repeat;
    background-size: 100% 100%;

    @media(max-width: 1440px)and (min-width: 1200px){
      margin-left: 15%;
    }
    @media(max-width: 767px){
      width:320px;
      height: 333px;

    }
  }

  &__plus{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 37px;
    height: 37px;
    padding: 7px 0 0 7px;
    cursor: pointer;
    color: @white;
    font-size: 30px;
    line-height: 15px;
    font-weight: 600;
    border: 3px solid @white;
    border-radius:50%;
    background-color: @dark-blue;
    transition-property: background;
    transition-duration: .5s;
    &:hover{
     background-color: @mans-plus-hov-color;
    }

    &._1{left:75.3%;top:3%;}
    &._2{left:80%;top:23%;}
    &._3{left:76%;top:38%;}
    &._4{left:93%;top:47%;}
    &._5{left:76.4%;top:51%;}
    &._6{left:81%;top:72%;}
  }

  &__popup{
    position: absolute;
    top:0;
    right: 20px;

    width: 90%;
    max-width: 340px;
    margin: auto;
    ul{
      margin: 10px 0 20px 20px;
      font-size: 1rem;
      list-style: square;
      color:@mans-link-color;
    }
    li{
      margin-bottom: 10px;
    }
    @media(max-width: 1200px){
      position: static;
      margin-top: 20px;
    }
  }
  &__area{
    font-size: 1.125rem;
  }
  &__link{
  color:@mans-link-color;
  }
  &__desc{
    font-size: .7rem;
    text-align: justify;
  }
}