.news{
  position: relative;
  &__head{
    position: absolute;
    top:-55px;
    height: 50px;
  }
  &__cont{
    height: 510px;
    margin-bottom: 40px;
    @media(max-width:991px){
      height: auto;
    }
  }
  &__news-sec{
    position: relative;
    float: left;
    overflow: hidden;
    &._1{
      height: 100%;
      width: 60%;
    }
    &._2,&._3{
      height: 50%;
      width: 40%;
    }
    img{
      position: absolute;
      z-index: -1;
      .center;
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;
    }
    @media(max-width:991px){
      float: none;
      &._1,&._2,&._3{
        height: 300px;
        width: 100%;
      }
    }
  }
  &__desc-cont{
    width: 100%;
    background-color: rgba(51,103,153,.57);
  }
}