// control
.news-tabs {
  width: 100%;
  &__wrapper{
    margin-bottom: 50px;
    @media (min-width: 1024px) {
      height: 480px;
    }
  }
  &__control {

    &-wrapper {
      position: relative;
      width: 100%;
      float: left;
      @media (min-width: 1024px) {
        left: 60%;
        width: 40%;
        height: 480px;
      }
      @media (min-width: 1440px) {
        width: 35%;
        left: 65%;
      }

    }

    &-item {
      position: relative;
      &:nth-child(2) {
        .news-tabs__control-link {
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }

    &-link {
      position: relative;
      display: block;
      width: 100%;
      padding: 15px;
      white-space: nowrap;
      background-color: #e0e9eb;
      font-size: 16px;
      transition: all .225s;
      @media (max-width: 1023px) and (min-width: 640px) {
        padding: 15px 70px 15px 15px;
      }
      @media (min-width: 1024px) {
        height: 160px;
        padding: 30px 70px 30px 30px;
        border-left: 1px solid #fff;
        &.active {
          &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 0;
            height: 0;
            margin: auto;
            border-style: solid;
          }
          &::before {
            left: -20px;
            z-index: 2;
            border-width: 20px 20px 20px 0;
          }
          &::after {
            left: -22px;
            z-index: 1;
            border-width: 21px 21px 21px 0;
            border-color: transparent #fff transparent transparent;
          }
        }
      }
      @media (min-width: 1440px) {
        font-size: 18px;
      }
    }

    &-img {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      vertical-align: middle;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        max-height: 120%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }

      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }

    }

    &-desc {
      display: inline-block;
      width: ~"calc(100% - 70px)";
      vertical-align: middle;
      white-space: normal;
      @media (min-width: 768px) {
        width: ~"calc(100% - 130px)";
      }
    }

  }

}

// content
.news-tabs {

  &__content {
    &-wrapper {
      position: relative;
      width: 100%;
      height: 480px;
      float: left;
      @media (min-width: 1024px) {
        width: 60%;
        right: 40%;
      }
      @media (min-width: 1440px) {
        width: 65%;
        right: 35%;
      }
    }
    &-item {
      position: relative;
      height: 480px;
      display: none;
      overflow: hidden;
      &.active {
        display: block;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        max-height: 120%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
    }
    &-link {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      min-height: 160px;
      padding: 15px;
      @media (min-width: 768px) {
        padding: 20px 70px;
      }
    }
  }

}

// no-img in control
.news-tabs__wrapper.no-img {

  .news-tabs__control-link {
    @media (min-width: 1024px) {
      display: table;
    }
  }

  .news-tabs__control-desc {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    white-space: normal;
    @media (min-width: 768px) {
      width: 100%;
    }
  }

}


// native
//
//.news-tabs {
//
//  &__control {
//    &-link {
//      color: #434343;
//      &:hover, &.active {
//        background-color: #00aab8;
//        color: #fff;
//      }
//      &.active {
//        &::before {
//          border-color: transparent #00aab8 transparent transparent;
//        }
//      }
//    }
//  }
//
//  &__content {
//
//    &-link {
//      background-color: rgba(255, 255, 255, 0.5);
//      &__title {
//
//      }
//      &__desc {
//
//      }
//
//    }
//  }
//
//}