.regions-map {
  &__content {
    .container;
    padding-top: 40px;
    &-title {
      text-align: center;
      color: #203544;
      @media (min-width: 768px) {
        font-size: 30px;
      }

      &_advice {
        color: #404920;
      }
    }
  }
  &__map {
    position: relative;
    height: 300px;
    top: 150px;
    margin-bottom: 50px;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: auto;
      max-height: 95%;
      max-width: 100%;
      margin: auto;
    }
    @media (min-width: 425px) {
      height: 400px;
    }
    @media (min-width: 768px) {
      margin-top: 50px;
    }
    @media (min-width: 992px) {
      height: 450px;
    }
    @media (min-width: 1200px) {
      top: 0;
      margin-bottom: 100px;
    }
  }

  &__btn {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    display: block;
    max-width: 410px;
    min-width: 0;
    width: 100%;
    height: 45px;
    margin: 0 auto 20px;
    padding: 11px 30px;
    border: 1px solid #9f9f9f;
    font-family: CenturyGothic, sans-serif;
    font-size: 18px;
    text-align: left;
    color: #1d1e1e;
    background-color: transparent;
    cursor: pointer;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    @media (min-width: 768px) {
      margin: 0 auto 50px;
    }
    @media (min-width: 1200px) {
      max-width: 100%;
      width: 100%;
    }

    &:hover, &:active {
      background-color: transparent;
      border: 1px solid #9f9f9f;
      span {
        color: #1d1e1e;
      }
      .regions__select-caret {
        border-top-color: #9f9f9f;
      }
    }
  }
  &__dropdown-wrap {
    bottom: 300px;
    padding: 0;
    text-align: center;
    position: relative;
    @media (min-width: 425px) {
      bottom: 400px;
    }
    @media (min-width: 768px) {
      bottom: 450px;
    }
    @media (min-width: 992px) {
      bottom: 500px;
    }
    @media (min-width: 1200px) {
      bottom: 0;
      padding-top: 220px;
    }
  }
  &__select {
    &-caret {
      border-top-color: #9f9f9f;
      border-top: 10px dashed;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 30px;
      margin: auto;
    }
  }
  &__link {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 0;
    @media (min-width: 768px) {
      width: 77px;
      height: 77px;
    }
    .transition;

    &:hover, &:focus {
      opacity: 0.85;
      .icon-right-arrow{
        fill:#6D80BB;
      }
    }
  }
  &__content-title {
    @media (max-width: 1199px) {
      padding-top: 40px;
      .font(@ff,1.5rem);
    }
  }
  .icon-right-arrow{
    fill:#859dbb;
    width: 50px;
    height: 50px;
    transition-property: fill;
    transition-duration: .3s;
    @media(min-width: 768px){
      width: 77px;
      height: 77px;
    }
  }
}