.socialprops{
  border-top:1px solid #6699cc;
  border-bottom:1px solid #6699cc;
  margin-bottom: 60px;
  @media(max-width: 991px){
    margin-bottom: 50px;
  }
  &__cont{
    width: 100%;
  }
  &__col{
    display: inline-block;
    height: 80px;
    @media(max-width: 767px){
      display: block;
      height: 40px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: left;
    }
  }
  &__views,&__favorites{
    position: relative;
    display: block;
    height: 100%;
    font-size: 1.125rem;
    color: #6b83b1;
    margin-right: 55px;
    padding-left: 75px;
    transition: 0.15s ease-in;
    opacity: .7;
    &:hover{
      opacity: 1;
    }

    @media(max-width: 991px){
      margin-right: 10px;
    }
  }

  &__views{

    .socialprops__centered{
      &:before{
        width: 65px;
        height: 36px;
        background-image: url(pics/sprite2.png);
        background-position: 0 -1240px;
      }
    }

  }

  &__favorites{

    .socialprops__centered{
      &:before{
        width: 50px;
        height: 47px;
        background-image: url(pics/sprite2.png);
        background-position: 0 -1276px;
      }
    }

  }

  &__centered{
    position: relative;
    .vertical-center;
    display: inline-block;
    &:before{
      content: '';
      position: absolute;
      left:  -75px;
      .vertical-center;
      display: block;
      width: 50px;
      height: 50px;
    }
  }
  &__buttonscont{
    float: right;
    @media(max-width: 767px){
      float: none;
    }
  }
  &__buttons{
    position: relative;
    .vertical-center;
  }
  &__btn-inner{}
}