.tags{
  border-top:1px solid #6699cc;
  border-bottom:1px solid #6699cc;
  margin-bottom: 50px;
  @media(max-width: 991px){
    margin-bottom: 20px;
  }
  &__cont{
    width: 95%;
    max-width: 1440px;
    margin: auto;
    padding: 20px 0 10px 0;
  }
  &__ul{
    text-align: justify;
    @media(max-width: 767px){
      text-align: center;
    }
  }
  &__li{
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  &__link{
    display: block;
    padding: 5px 20px;
    color: #fff;
    border-radius: 17px;
    background-color: #6389af;
    transition-property: background;
    transition-duration: .5s;
    &:hover{
      background-color: #3a73ac;
    }
  }

}