.advertising {

	position: relative;
	padding-top: 77px;
	padding-bottom: 67px;

	@media (min-width: 767px) and (max-width: 1199px) {
		padding-bottom: 0;
	}

	@media (min-width: 767px) and (max-width: 991px) {
		margin-bottom: -40px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 285px;
		left: 0;
		z-index: -2;
		width: @col-12;
		height: 7px;
		background-color: @all-article-6;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 669px;
		left: 0;
		z-index: -2;
		width: @col-12;
		height: 7px;
		background-color: @all-article-6;

		@media (max-width: 767px) {
			display: none;
		}

		@media (min-width: 1350px) {
			display: none;
		}

	}

	&__container {
		.container();
	}

	&__title-wrap {
		text-align: right;
	}

	&__title {
		position: relative;
		display: inline-block;
		margin-bottom: 43px;
		padding: 1px 27px;
		padding-bottom: 7px;
		.font(@ff, 30px, 1.2, normal, 700);
		border: 3px solid @all-article-5;
		border-radius: 25px;
		background-color: @white;
		color: @all-article-5;

		@media (max-width: 480px) {
			padding: 0 17px;
			padding-bottom: 6px;
			.font(@ff, 22px, 1.2, normal, 700);
		}
	}

	&__title::after {
		content: "";
		position: absolute;
		z-index: 10;
		bottom: -13px;
		left: 70%;
		width: 22px;
		height: 22px;
		background-color: @white;
		border-bottom: 3px solid @all-article-5;
		border-right: 3px solid @all-article-5;
		transform: rotate(45deg);

		@media (max-width: 480px) {
			bottom: -11px;
			width: 18px;
			height: 18px;
		}
	}

	&__item {
		position: relative;
		padding: 0;

		@media (min-width: 1350px) {
			width: @col-3;
		}

		@media (min-width: 768px) and (max-width: 1349px) {
			margin-bottom: 60px;
		}

		@media (max-width: 767px) {
			margin-bottom: 100px;
		}

		@media (max-width: 480px) {
			margin-bottom: 70px;
		}

		&:last-of-type {
			@media (max-width: 767px) {
				margin-bottom: 0;
			}
		}
	}

	&__item::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -27px;
		left: 50%;
		transform: translateX(-50%);
		width: 294px;
		height: 294px;
		background: url(pics/motherhood-childbearing/BG.png) 0 0 no-repeat;

		@media (max-width: 480px) {
			top: -10px;
			width: 260px;
			height: 260px;
			background-size: 260px 260px;
		}
	}

	&__img-wrap {
		position: relative;
		width: 294px;
		margin: 0 auto;
		margin-bottom: 50px;

		@media (max-width: 480px) {
			width: auto;
			margin-bottom: 30px;
		}
	}

	&__img-wrap::before {
		content: "";
		position: absolute;
		top: 35%;
		left: -27px;
		width: 32px;
		height: 70px;
		background: url(pics/motherhood-childbearing/left.png) 0 0 no-repeat;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__img-wrap::after {
		content: "";
		position: absolute;
		top: 35%;
		right: -27px;
		width: 32px;
		height: 70px;
		background: url(pics/motherhood-childbearing/right.png) 0 0 no-repeat;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__img {
		width: 240px;
		height: 240px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}

	&__content-wrap {
		position: relative;
		@media(min-width: 768px){
			padding-left: 20px;
		}
		@media (max-width: 1349px) {
			text-align: center;
		}
	}

	&__text-content {

		display: inline-block;
		max-width: 210px;
		.font(@ff, 13.5px, 1.2);

		@media(min-width: 768px){
			padding-right: 33px;
		}
		@media (max-width: 1349px) {
			padding-left: 0;
		}

		a {
			display: block;
			color: @all-article-7;

			&:hover, &:focus {
				color: lighten(@all-article-7,20%);
				text-decoration: underline;
			}
		}
	}

	&__link {
		position: absolute;
		top: 3px;
		right: 18%;
		display: block;
		width: 30px;
		height: 30px;
		font-size: 0;
		border-radius: 50%;
		border: 2px solid @all-article-6;

		@media (max-width: 991px) {
			right: 15%;
		}

		@media (max-width: 767px) {
			top: 40px;
			left: 50%;
			transform: translateX(-50%);
		}

		&::before {
			content: "";
			position: absolute;
			top: 12px;
			left: 3px;
			width: 20px;
			height: 2px;
			background-color: @all-article-6;
		}

		&::after {
			content: "";
			position: absolute;
			top: 7px;
			right: 4px;
			width: 12px;
			height: 12px;
			border-bottom: 2px solid @all-article-6;
			border-left: 2px solid @all-article-6;
			transform: rotate(225deg);
		}
	}
}