.interesting-facts {
  &__img-wrap::before {
    background-image: url(pics/motherhood-childbearing/img-frame_center.png);
  }
  &__item {
    @media (min-width: 1024px) {
      &:nth-child(odd) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/motherhood-childbearing/img-frame_left.png);
          }
        }
        p {
          &:after {
            left: 0;
          }
        }
      }
      &:nth-child(even) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/motherhood-childbearing/img-frame_right.png);

          }
        }
        p {
          &:after {
            left: initial;
            right: 0;
          }
        }
      }
    }
  }

  &__text-content {

    h3 {
      position: relative;
      margin-top: 7px;
      margin-bottom: 30px;
      .font(@ff, 23px, 1.2);
      color: @all-article-1;

      &:hover {
        color: lighten(@all-article-1, 10%);
      }

      &:active, &:focus {
        color: lighten(@all-article-1, 20%);
      }
    }

    time {
      .font(@ff, 12px, 1.2);
      color: @all-article-2;
    }
    p {
      position: relative;
      font-size: 16px;
      &:after {
        content: "...";
        position: absolute;
        left: 0;
        display: block;
        color: #f665c5;
        font-size: 90px;
        line-height: 0;

        @media (max-width: 767px) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.all-articles {

  padding-top: 50px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: @col-12;
    height: 186px;
    background: url(pics/motherhood-childbearing/motherhood-childbearing-bg.jpg) 0 0 no-repeat;
  }

  &__value {
    width: @col-6;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      width: @col-12;
    }
  }

  &__list {
    text-align: right;
    font-size: 0;

    li {
      position: relative;
      display: inline-block;
      padding: 0 12px;
      vertical-align: top;
      .font(@ff, 14px, 1.2);

      @media (max-width: 480px) {
        display: block;
        .font(@ff, 14px, 1.5);
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: -1px;
        width: 1px;
        height: 13px;
        background-color: @all-article-2;

        @media (max-width: 480px) {
          display: none;
        }
      }
    }

    li:last-child {
      &::after {
        display: none;
      }
    }

    li > a {
      color: @all-article-2;

      &:hover {
        text-decoration: underline;
        color: lighten(@all-article-2, 10%);
      }

      &:active, &:focus {
        color: @all-article-1;
      }
    }
  }
}