.vaccination-table {
	
	margin-top: 33px;
	margin-bottom: 100px;
	
	&__table-list {
		width: @col-12;
		color: @vaccination-table-4;
	}
	
	&__title-row {
		.font(@ff, 20px, 1.2);
		background-color: @vaccination-table-1;
		color: @white;
	}
	
	&__table-row:nth-of-type(2n + 1) {
		background-color: @vaccination-table-2;
	}
	
	&__cell {
		padding: 25px 0;
		.font(@ff, 16px, 1.2, normal, 400);
		
		@media (max-width: 767px) {
			padding: 10px 0;
		}
	}
	
	&__cell-title {
		padding: 22px 0;
		
		@media (max-width: 767px) {
			.font(@ff, 12px, 1.2, normal, 700);
			text-align: center;
		}
	}
	
	&__cell-date, &__cell-title-date {
		width: 35%;
		padding: 10px;
		
		@media (max-width: 767px) {
			padding: 0;
			width: 26%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-left: 5.2%;
			width: 26%;
		}
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-left: 35px;
			width: 26%;
		}
		
		@media (min-width: 1200px) {
			padding-left: 70px;
		}
	}
	
	&__cell-date {
		
		.font(@ff, 16px, 1.2, normal, 700);
		color: @vaccination-table-3;
		
		@media (max-width: 767px) {
			.font(@ff, 12px, 1.2, normal, 400);
			text-align: center;
		}
	}
	
	&__cell-age, &__cell-title-age {
		width: 21%;
		padding: 10px;
		
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	
	&__cell-age {
		@media (max-width: 767px) {
			.font(@ff, 12px, 1.2, normal, 400);
		}
	}
	
	&__cell-vac, &__cell-title-vac {
		width: 44%;
		padding: 10px;
		
		@media (max-width: 767px) {
			padding: 0;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding-right: 5.2%;
		}
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-right: 35px;
		}
		
		@media (min-width: 1200px) {
			padding-right: 70px;
		}
	}
	
	&__cell-vac {
		@media (max-width: 767px) {
			.font(@ff, 12px, 1.2, normal, 400);
		}
	}
	
	&__cell-text:last-of-type {
		margin-bottom: 0;
	}
	
	&__cell-text {
		margin-bottom: 10px;
	}
}