.diagnostics{

  .title(diagnostics, #d58512, #e8bc7d);

  &__contentWrapper{
    position: relative;
    height: auto;
    overflow: hidden;

    @media(min-width: 768px){
      height: 600px;
    }

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      @media(min-width: 1024px){
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:after{
      position: absolute;
      right: 23%;
      top: 0;
      z-index: 0;
      display: block;
      max-width: 1484px;
      width: 100%;
      height: 451px;
      background-repeat: no-repeat;
      background-position: right;
      background-image: url(pics/zhkt-region/zhkt-diagnostics-contBG.png);
      @media(min-width: 1024px){
        content: '';
      }
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-height: 120%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    .link-arrow{
      background-color: #fff;
      margin: 50px auto;
      &:hover,&:active,&:focus{
        background-color: #6699cc;
      }
      @media(min-width: 768px){
        position: absolute;
        z-index: 2;
        top: 420px;
        right: 0;
        left: 0;
        margin: auto;
      }
    }

  }

  &__content{
    position: relative;
    z-index: 1;
    max-width: 1440px;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    ul{
      display: inline-block;
      vertical-align: top;
      max-width: 400px;
      width: 100%;
      li{
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        padding-left: 23px;
        &:before{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          display: block;
          width: 8px;
          height: 8px;
          margin: auto;
          vertical-align: middle;
          background-color: #000;
        }
        &:hover{
          &:before{
            background-color: #9e2346;
          }
        }
        a{
          display: inline-block;
          font-size: 18px;
          white-space: normal;
          vertical-align: middle;
          color: #3b3d45;

        }
      }
    }

    @media(min-width: 768px){
      padding-left: 70px;
      padding-right: 70px;
      white-space: nowrap;
    }

  }

}