.directory{
  .title(directory, #91984b, #c0c69c);
  &__contents{
    margin-bottom: 40px;
    &:before{
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      @media(min-width: 1024px){
        display: none;
      }
    }

    &-desc{
      min-width: 300px;
      max-width: 600px;
      width: 100%;
      padding: 0 15px;
      margin: auto;
      @media(min-width: 992px){
        padding: 0;
      }

    }
    &-title{
      margin-bottom: 20px;
      font-weight: 300;
      font-size: 26px;
      line-height: 35px;
      color: #414141;
      @media(min-width: 768px){
        font-size: 36px;
        line-height: 55px;
      }
    }
  }
}