.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/zhkt-osnovnaya/icons-bg.jpg);
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: #6b8413;
  }
}