.medCentr{
  .title(medCentr, #17a88e, #7fcec0);
  &__or{
    display: block;
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
    color: #336799;

    @media(min-width: 992px){
      margin-top: 15px;
      line-height: 51px;
    }
  }

  &__selectList{
    max-width: 500px;
    width: 100%;
    margin: auto;
    @media(min-width: 992px){
      max-width: 960px;
    }
  }

  &__search{
    display: block;
    width: 46px;
    height: 46px;
    margin: 0 auto 20px auto;
    background-color: #336799;
    border:none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in;
    @media(min-width: 992px){
      margin: 30px auto;
    }
    &:hover{
      box-shadow: 0 0 10px 0 #ccc;
    }
    &:active{
      box-shadow: 0 0 5px 0 #ccc;
    }
  }
  /*~~~custom styles for txt_right~~~*/
  .g-grid{
    max-width: 1440px;
    &._col-2._txt-right .g-grid__li{
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
    &__link{
      max-width: 530px;
    }
    &__img-cont{
      width:  180px;
      height: 180px;
      @media(min-width: 768px){
        width:  140px;
        height: 140px;
      }
      @media(min-width: 992px){
        width:  150px;
        height: 150px;
      }
      @media(min-width: 1200px){
        width:  180px;
        height: 180px;
      }
    }
    &__content{
      @media(min-width: 768px){
        width: ~'calc(100% - 140px)';
      }
      @media(min-width: 992px){
        width: ~'calc(100% - 150px)';
      }
      @media(min-width: 1200px){
        width: ~'calc(100% - 180px)';
      }
    }
  }
  /*~~~END custom styles for txt_right~~~*/
  &__item {
    &-title {
      font-size: 18px;
      color: #181818;
    }
    &-text {
      font-size: 14px;
      color: #666666;
    }
  }
  /*~~~dropdown settings~~~*/
  .drop{
    margin-top: 15px;
    .drop__input{
      border-radius: 50px;
    }
  }
  .drop._select-input._blue-bor {
    .drop__input {
      font-size: 1.2rem;
    }
  }

}

.inpSearch{
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #474747;
  font-size: 16px;
  &__wrap{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin: 20px auto 0 auto;
    overflow: hidden;
    @media(min-width: 1200px){
      width: 90%;
    }
  }
  &__placeholder{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #7d7d7d;
    cursor: pointer;
    &:after{
      display: inline-block;
      width: 34px;
      height: 27px;
      margin-left: 15px;
      background-image: url(pics/zhkt-region/icon-search-inp.jpg);
      background-repeat:no-repeat;
      background-position: center;
      @media(min-width: 375px){
        content: '';
      }
      @media(min-width: 768px){
        margin-left: 40px;
      }
    }
  }
}

.inpSearch:focus + .inpSearch__placeholder{
  display: none;
}
.paginator__item a{
  background-color: transparent;
  border: 1px solid #9e9e9e;
  color: #8c8c8c;
  &:hover{
    background-color: #0492f4;
    border-color: #0492f4;
  }
}