.article-item-1 {
	
	padding-top: 140px;
	padding-bottom: 165px;
	
	@media (max-width: 1199px) {
		padding: 80px 0;
	}
	
	background: 
		url(pics/history-tape/article-item-1-bg.png) top left no-repeat,
		url(pics/history-tape/article-item-1-wp1.png) top right no-repeat,
		url(pics/history-tape/article-item-1-wp2.png) bottom left no-repeat;
	
	@media (max-width: 1199px) {
		background: none;
	}

	&__container {
		.container;
	}
	
	&__content {
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__content-1 {
		margin-bottom: 250px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 0;
		}
		
		@media (max-width: 991px) {
			margin-bottom: 100px;
		}
	}
	
	&__content-block {
		position: relative;
		margin: 0 auto;
		text-align: center;
		background-image: 
      linear-gradient(to right, #d2d8d8 160px, transparent 160px), linear-gradient(to right, #d2d8d8 160px, transparent 160px), linear-gradient(to bottom, #d2d8d8 160px, transparent 160px), linear-gradient(to bottom, #d2d8d8 160px, transparent 160px);
    background-size: 100% 8px, 100% 8px, 8px 100%, 8px 100%;
    background-position: -80px 0%, -80px 100%, 0% -80px, 100% -80px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
		
		h3 {
			margin-bottom: 35px;
			.font(@ff,3.3rem);
			color: #616161;
			
			span {
				.font(@ff,4rem);
				
				@media (max-width: 480px) {
					.font(@ff,2.5rem);
				}
			}
			
			@media (max-width: 480px) {
				.font(@ff,2rem);
			}
		}
		
		a {
			display: inline-block;
			padding: 5px 32px;
			padding-bottom: 8px;
			.font(@ff, 1.1rem);
			border: 1px solid #616161;
			background-color: #fff;
			color: #616161;
			.transition;
			
			&:hover, &:focus {
				background-color: #616161;
				color: #fff;
			}
		}
	}
	
	&__content-block-1 {
		width: @col-12;
		max-width: 495px;
		min-height: 425px;
		
		@media (max-width: 767px) {
			max-width: none;
			min-height: 350px;
		}
		
		&::after {
			.before(auto,auto,330px,248px);
			bottom: -248px;
			right: -230px;
			background: url(pics/history-tape/article-item-1-dec.png) 0 0 no-repeat;
			
			@media (max-width: 1199px) {
				display: none;
			}
		}
	}
	
	&__content-block-2 {
		width: @col-12;
		max-width: 500px;
		min-height: 425px;
		
		@media (max-width: 767px) {
			max-width: none;
			min-height: 350px;
		}
	}
	
	&__text-content {
		position: absolute;
		.center;
		max-width: 350px;
	}
}

