.article-item-3 {

  &__content-block {
    position: relative;
    margin: 0 auto;
    @media(min-width: 414px){
      width: 400px;
    }
    @media(min-width: 768px){
      width: 497px;
      min-height: 426px;
      background-image:
              linear-gradient(to right, #d2d8d8 160px, transparent 160px), linear-gradient(to right, #d2d8d8 160px, transparent 160px), linear-gradient(to bottom, #d2d8d8 160px, transparent 160px), linear-gradient(to bottom, #d2d8d8 160px, transparent 160px);
      background-size: 100% 8px, 100% 8px, 8px 100%, 8px 100%;
      background-position: -80px 0%, -80px 100%, 0% -80px, 100% -80px;
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    }
  }

  &__text-content {
    text-align: center;
    @media(min-width: 768px){
      position: absolute;
      .center;
      width: 400px;
    }

    h3 {
      margin-bottom: 40px;
      .font(@ff, 2rem);
      color: #313232;

      @media (max-width: 767px) {
        .font(@ff, 1.5rem);
      }

      span {
        display: block;
        .font(@ff, 4rem);

        @media (max-width: 767px) {
          .font(@ff, 2.5rem);
        }
      }
    }

    a {
      display: inline-block;
      padding: 5px 32px;
      padding-bottom: 8px;
      .font(@ff, 1.1rem);
      border: 1px solid #616161;
      background-color: #fff;
      color: #616161;
      .transition;

      &:hover, &:focus {
        background-color: #616161;
        color: #fff;
      }
    }
  }
}