.article-item-2 {

	&__text-content {
		width: 400px;
		text-align: center;

		@media (max-width: 767px) {
			width: @col-12;
			max-width: 400px;
			margin: 0 auto;
			padding-top: 80%;
			transform: translate(0,0);
		}

		h3 {
			margin-bottom: 40px;
			.font(@ff,3rem);
			color: #35363a;

			@media (max-width: 767px) {
				.font(@ff,2rem);
			}

			span {
				.font(@ff,3.3rem);

				@media (max-width: 767px) {
					.font(@ff,2.3rem);
				}
			}
		}

		a {
			display: inline-block;
			padding: 5px 32px;
			padding-bottom: 8px;
			.font(@ff, 1.1rem);
			border: 1px solid #616161;
			background-color: #fff;
			color: #616161;
			.transition;

			&:hover, &:focus {
				background-color: #616161;
				color: #fff;
			}
		}
	}
}