.article-item-4 {


	&__text-content {
		width: @col-12;
		text-align: center;
		padding: 25px 0;
		background: rgba(128,46,41,0.9);
		background: -moz-linear-gradient(left, rgba(128,46,41,0.2) 0%, rgba(128,46,41,0.79) 49%, rgba(128,46,41,0.2) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(128,46,41,0.2)), color-stop(49%, rgba(128,46,41,0.79)), color-stop(100%, rgba(128,46,41,0.2)));
		background: -webkit-linear-gradient(left, rgba(128,46,41,0.2) 0%, rgba(128,46,41,0.79) 49%, rgba(128,46,41,0.2) 100%);
		background: -o-linear-gradient(left, rgba(128,46,41,0.2) 0%, rgba(128,46,41,0.79) 49%, rgba(128,46,41,0.2) 100%);
		background: -ms-linear-gradient(left, rgba(128,46,41,0.2) 0%, rgba(128,46,41,0.79) 49%, rgba(128,46,41,0.2) 100%);
		background: linear-gradient(to right, rgba(128,46,41,0.2) 0%, rgba(128,46,41,0.79) 49%, rgba(128,46,41,0.2) 100%);
		a {
			display: inline-block;
			.font(@ff,2rem);
			color: @white;
			opacity: 1;
			border-bottom: 3px solid transparent;
			.transition;

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff,1.7rem);
			}

			@media (min-width: 768px) and (max-width: 991px) {
				.font(@ff,1.5rem);
			}

			@media (max-width: 767px) {
				.font(@ff,1.1rem);
			}

			&:hover, &:focus {
				border-bottom: 3px solid @white;

				@media (max-width: 991px) {
					color: darken(@white,20%);
					border-bottom: 3px solid transparent;
				}
			}
		}
	}
}