.time-tape {
	
	padding-bottom: 50px;
	background: url(pics/history-tape/time-tape_wp.jpg) bottom right no-repeat;
	background-size: contain;
	
	&_faces {
		padding-top: 65px;
		background: url(pics/history-main/time-tape.jpg) top center no-repeat;
		background-size: cover;
		
		@media (max-width: 991px) {
			padding-bottom: 0;
		}
	}
	
	@media (max-width: 991px) {
		background: none;
	}
	
	&__container {
		.container;
		
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	
	&__title {
		margin-bottom: 65px;
		text-align: center;
		.font(@ff,28px);
		color: @reform-5;
	}
	
	&__period {
		position: relative;
		margin-bottom: 70px;
		
		&::before {
			.before(51px,0,100%,7px);
			right: 0;
			background-color: #88a000;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
		
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}
	
	&__period-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: @col-12/5;
		float: left;
		padding-top: 130px;
		cursor: pointer;
		
		@media (max-width: 767px) {
			width: @col-6;
			margin-bottom: 40px;
		}
		
		@media (max-width: 480px) {
			width: @col-12;
		}
		
		&::before {
			.before(0,50%,110px,110px);
			transform: translateX(-50%);
			border: 11px solid #88a000;
			border-radius: 50%;
			background: @white;
		}
		
		&::after {
			.before(26px,50%,152px,58px);
			transform: translateX(-50%);
			background: url(pics/history-tape/item-dec.png) 0 0 no-repeat;
		}
		
		&:hover, &:focus, &.active {
			.time-tape__item-title {
				font-weight: 700;
			}
		}
	}
	
	&__period-item-1:hover, &__period-item-1.active {
		.time-tape__item-title::before {
			.stitches-sprite(-83px, -5px, 68px, 67px);
		}
	}
	
	&__period-item-2:hover, &__period-item-2.active {
		.time-tape__item-title::before {
			.stitches-sprite(-239px, -5px, 68px, 67px);
		}
	}
	
	&__period-item-3:hover, &__period-item-3.active {
		.time-tape__item-title::before {
			.stitches-sprite(-395px, -5px, 68px, 67px);
		}
	}
	
	&__period-item-4:hover, &__period-item-4.active {
		.time-tape__item-title::before {
			.stitches-sprite(-551px, -5px, 68px, 67px);
		}
	}
	
	&__period-item-5:hover, &__period-item-5.active {
		.time-tape__item-title::before {
			 .stitches-sprite(-707px, -5px, 68px, 67px);
		}
	}
	
	&__period-item-5 {
		float: right;
		
		@media (max-width: 767px) {
			float: none;
		}
	}
	
	&__item-title {
		position: relative;
		.font(@ff,15px,1.2,normal,400);
		text-align: center;
		color: #606060;
		
		&::before {
			content: "";
			position: absolute;
			top: -110px;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(pics/history-tape/history-sprite.png);    
			background-repeat: no-repeat;
			.transition;
		}
	}
	
	&__item-title-1 { 
		&::before {
			.stitches-sprite(-5px, -5px, 68px, 67px);
		}
	}
	
	&__item-title-2 { 
		&::before {
			.stitches-sprite(-161px, -5px, 68px, 67px);
		}
	}
	
	&__item-title-3 { 
		&::before {
			 .stitches-sprite(-317px, -5px, 68px, 67px);
		}
	}
	
	&__item-title-4 { 
		&::before {
			.stitches-sprite(-473px, -5px, 68px, 67px);
		}
	}
	
	&__item-title-5 { 
		&::before {
			.stitches-sprite(-629px, -5px, 68px, 67px);
		}
	}
	
	&__history-theme {
		margin-left: 106px;
		
		@media (max-width: 767px) {
			margin-left: 0;
		}
		
		h2 {
			margin-bottom: 50px;
			padding-left: 38px;
			.font(@ff,15px,1.2,normal,700);
			text-transform: uppercase;
			color: #373737;
			
			@media (max-width: 767px) {
				margin-bottom: 40px;
				padding-left: 0;
			}
		}
		
		ul {
			position: relative;
			margin-bottom: 35px;
			padding: 15px 0;
			padding-left: 38px;

			&::before {
				.before(0,0,3px,100%);
				background-color: #88a001;
			}
			
			@media (max-width: 767px) {
				padding-left: 20px;
			}
		}
		
		ul > li {
			position: relative;
			margin-bottom: 50px;
			
			&::before {
				.before(0, -47px, 20px, 20px);
				border: 6px solid #b2cf13;
				border-radius: 50%;
				background-color: #fff;
				
				@media (max-width: 767px) {
					left: -29px;
				}
			}
			
			&:last-of-type {
				margin-bottom: 0;
			}
			
			@media (max-width: 767px) {
				margin-bottom: 40px;
				text-align: left;
			}
		}
		
		ul > li > a {
			.font(@ff,15px);
			color: #585858;
			.transition;

			&:last-of-type {
				margin-bottom: 0;
			}
			
			&:hover, &:focus, &.active {
				font-weight: 700;
			}
		}
	}
}