.time-article {
	overflow: inherit;

	img{
		display: none;
		@media(min-width: 768px){
			top: auto;
			bottom: 0;
			transform: translate(-50%, 0%);
			display: block;
		}
	}

	&__shadow-block-1 {
		position: relative;
		width: 100%;
		min-height: 320px;
		margin: 0 auto;
		@media(min-width: 414px){
			height: 450px;
		}
		@media(min-width: 768px){
			width: 520px;

			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: 10px;
				z-index: 1;
				height: 60%;
				width: 0;
				background-color: @history-quote-4;
				box-shadow: -5px 15px 5px 10px @history-quote-4;
				transform: rotate(-3deg);

				@media (max-width: 767px) {
					display: none;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 35px;
				left: 10px;
				z-index: 1;
				height: 60%;
				width: 0;
				background-color: @history-quote-4;
				box-shadow: -5px 15px 5px 10px @history-quote-4;
				transform: rotate(3deg);

				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	&__shadow-block-2 {
		position: relative;
		width: 100%;
		min-height: 320px;
		@media(min-width: 414px){
			height: 450px;
		}
		@media(min-width: 768px){
			width: 520px;
			&::before {
				content: "";
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 1;
				height: 60%;
				width: 0;
				background-color: @history-quote-4;
				box-shadow: 5px 15px 5px 10px @history-quote-4;
				transform: rotate(3deg);

				@media (max-width: 767px) {
					display: none;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 35px;
				right: 10px;
				z-index: 1;
				height: 60%;
				width: 0;
				background-color: @history-quote-4;
				box-shadow: 5px 15px 5px 10px @history-quote-4;
				transform: rotate(-3deg);

				@media (max-width: 767px) {
					display: none;
				}
			}
		}

	}

	&__title-wrap {
		position: relative;
		z-index: 5;
		width: 100%;
		min-height: 320px;
		background-color: #bad8d2;
		@media(min-width: 414px){
			height: 450px;
		}
		@media(min-width: 768px){
			width: 520px;
		}

		&::after {
			.before(auto, 50%, 36px, 36px);
			bottom: -18px;
			z-index: 1;
			transform: translateX(-50%) rotate(45deg);
			background-color: #bad8d2;
		}

		h2 {
			position: absolute;
			.center;
			.font(@ff,1.5rem);
			white-space: nowrap;
			text-align: center;
			color: @white;

			@media (max-width: 479px) {
				.font(@ff,1.2rem);
			}

			span {
				display: block;
				.font(@ff,3.5rem);

				@media (max-width: 479px) {
					.font(@ff,2.5rem);
				}
			}
		}
	}
}