.page-background {
    background: url(pics/calories/calories_bg.png) no-repeat right 200px;
    position: relative;
    @media (max-width: 991px) {
        background: 0 !important;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1068px;
        background: url(pics/pulse/bg.png);
        background-size: cover;
        z-index: -1;

    }
    @media (max-width: 991px) {
        background: 0;
    }
}