.n-helpful {
	padding: 0 15px;
	&__heading {
		color: #5f5f5f;
		font-size: 31px;
		font-family: CenturyGothic;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
		width: 100%;
		margin-bottom: 0;
	}
	&__table.table {
		border-collapse:separate; 
		border-spacing:0 40px;
		width: 100%;
	}
	&__table.table th {
		border-top: 0;
		padding: 0 40px;	
		font-family: CenturyGothic;
		color: #5f5f5f;
		font-size: 18px;
		font-weight: bold;
	}
	&__header-table {
		@media (max-width:991px) {
			display: none;
		}
	}
	&__table.table td {
		padding: 40px;
		background: #FAFAFA;
		font-size: 24px;
		color: #fff;
		font-family: CenturyGothic;
		border-top: 0;
		font-weight: bold;
		overflow: visible;
		position: relative;
		@media (max-width:991px) {
			padding: 40px 0;
		}
		small {
			display: block;
			font-size: 24px;
			font-weight: normal;
		}

		&:first-child {
			border-radius: 25px 0 0 25px;
			width: 40%;
		}
		&:last-child {
			border-radius: 0px 25px 25px 0;
		}
		.table-round {
			width: 160px;
			height: 160px;
			border-radius: 100%;
			line-height: 130px;
			text-align: center;
			font-size: 30px;
			color: #fff;
			font-family: CenturyGothic;
			font-weight: bold;
			position: absolute;
			border: 18px solid #fff;
			top: -50px;
			right: 0;
		}
	}
	&__table.table .red td {
		background: #b2195a;
		.table-round {
			background: #ff73ae;
		}
	}
	&__table.table .orange td {
		background: #dc5734;
		.table-round {
			background: #dc8734;
		}
	}
	&__table.table .yellow td {
		background: #adaf26;
		.table-round {
			background: #878913;
		}
	}
	&__table.table .green td {
		background: #2cbdb1;
		.table-round {
			background: #17948a;
		}
	}
	&__table.table .light_green td {
		background: #b4d1d2;
		.table-round {
			background: #8eb7bd;
		}
	}
}
@media (max-width:1200px) {
	.n-helpful {
		&__table.table td {
			.table-round {
				width: 120px;
				border-width: 10px;
				height: 120px;
				font-size: 22px;
				line-height: 105px;
				top: -30px;
			}
		}
	}
}
@media (max-width:991px) {
	.n-helpful {
		&__table.table {
			width: 100%;
			th{
				display: block;
				width: 100%;
				text-align: center;
			}
			td {
				display: block;
				width: 100% !important;
				border-radius: 0 !important;
				text-align: center;
				.table-round {
					position: relative;
					top: auto;
					margin: 0 auto;
					margin-top: 30px;
				}			
			}
		}
	}
}