.n-overload {
    padding: 0 15px;
    margin-top: 80px;
    &__tablehead {
        border-bottom: 7px solid #e9f3fc;
        span {
            color: #4c80c7;
            font-size: 24px;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            background: #e9f3fc;
            padding: 11px 0 5px 45px;
            display: inline-block;
            position: relative;
            @media (max-width: 991px) {
                width: 100%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 79px;
                height: 50px;
                .sprite2;
                background-position: 0 -1037px;
                bottom: 0;
                right: -79px;
                opacity: .31;
                @media (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
    &__table.table {
        color: #002b65;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 120px;
        tr:last-child {
            td {
                font-weight: 700;
                background: #82bcee;
                color: #fff;
                padding: 18px 45px;
                &:first-child {
                    color: #002b65;
                }
            }
        }
        td {
            border-top: 0;
            vertical-align: middle;
            padding: 15px 45px;
            text-align: center;
            font-size: 24px;
            &:first-child {
                width: 50%;
                text-align: left;
            }
        }
        .table-head {
            font-size: 24px;
            margin-bottom: 25px;
            font-weight: 700;
            display: inline-block;
            @media (max-width: 991px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
        .table-desc {
            font-size: 18px;
            @media (max-width: 991px) {
                width: 100%;
                font-size: 12px;
            }
        }
        &.table-striped>tbody>tr:nth-of-type(odd) {
            background: #cde4f8;
        }
    }
}

@media (max-width:991px) {
    .n-overload {
        &__table.table {
            td {
                font-size: 12px;
                padding: 10px;
            }
        }
    }
    .n-overload,
    .n-helpful {
        padding: 0;
    }
}