.interesting-facts {

  &__wrapper {
    margin-top: -70px;
    padding-bottom: 50px;

    background:
            url(pics/development/development-articles-wp.jpg) no-repeat,
            url(pics/development/development-articles-bg.jpg) no-repeat;
    background-position: top right, center left;
    background-size: contain;

    @media (max-width: 991px) {
      background: url(pics/development/development-articles-bg.jpg) no-repeat;
      background-position: top right;
      background-size: cover;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 85px;
    .font(@ff, 24px, 1.1, normal, bold);
    text-align: center;
    color: @childhood-diseases-3;

    @media (max-width: 991px) {
      margin-top: 100px;
      margin-bottom: 65px;
    }

    @media (max-width: 480px) {
      margin-top: 100px;
      margin-bottom: 45px;
    }
  }

  &__img-wrap::before {
    background-image: url(pics/history-main/img-frame_center.png);
  }
  &__item {
    @media (min-width: 1024px) {
      &:nth-child(odd) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/history-main/img-frame_left.png);
          }
        }
        p {
          &::after {
            left: -5px;
          }
        }
      }

      &:nth-child(even) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/history-main/img-frame_right.png);

          }
        }
        p {
          &::after {
            left: initial;
            right: -5px;
          }
        }
      }
    }
  }

  &__text-content {
    h3 {
      margin-bottom: 10px;
      padding: 0;
      .font(@ff, 1.5rem, 1.2);
      color: @childhood-diseases-3;
      .transition;

      @media (max-width: 991px) {
        text-align: center;
      }

      @media (max-width: 767px) {
        .font(@ff, 1.3rem, 1.2);
      }

      &:hover {
        color: lighten(@childhood-diseases-3, 10%);
      }

      &:active, &:focus {
        color: lighten(@childhood-diseases-3, 20%);
      }
    }
    p {
      position: relative;
      max-width: 700px;
      margin: 0 auto;
      padding: 0;
      .font(@ff, 1.1rem, 1.2);
      color: @childhood-diseases-4;
      &::after {
        content: "...";
        position: absolute;
        bottom: 0;
        font-size: 60px;
        line-height: 0;
        color: #6082c9;
        left: 50%;
        transform: translateX(-50%);
        @media (min-width: 1024px) {
          left: auto;
          transform: none;
        }
      }
    }
  }

}