.all-news {
	background: #394450;
	margin-bottom: 55px;
	&__nav {
		position: relative;
		min-height:52px;
		background: #669acc;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: 0 15px;

				a {
					display: inline-block;
					padding: 15px 25px;
					font-family: CenturyGothic;
					color: #fff;
					font-size: 18px;
					.transition;
					position: relative;
					&:before {
						background-color: transparent;;
						content: '';
						position: absolute;
						.transition;
						left: 0;
						right: 0;
						top: -8px;
						height: 10px;
					}
					&:hover, &:focus, &.active {
						background: #336799;
						text-decoration: none;
						&:before {
							background: #336799;
						}
					}
				}
			}
		}
	}
	&__big {
		padding-left: 50px;
		
		@media (max-width: 767px) {
			width: @col-12;
			padding: 0;
		}
	}
	&__small {
		@media (max-width: 767px) {
			width: @col-12;
			padding: 0 4.6%;
		}
	}
	&__img-wrap {
		width: @col-12;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	&__img {
		width: @col-12;
	}
	&__text-content {
		padding-left: 25px;
		
		@media (max-width: 767px) {
			padding: 0 4.6%;
		}
	}
	&__eventname-big {
		margin-bottom: 5px;
		.font(@ff,1.4rem);
		color: #010101;
	}
	&__eventdate-big {
		.font(@ff,0.9rem);
		color: #010101;
	}
	&__search {
		font-size: 24px;
		color: #fff;
		position: absolute;
		right: 85px;
		top: 50%;
		transform: translateY(-50%);
		.transition
	}
	&__tile {
		.col-md-6,
		.col-md-4 {
			padding: 0;
			border-right: 1px solid #394450;
			border-bottom: 1px solid #394450;
			&:last-child {
				border-right: 0;
			}
		}
		.col-md-4 {
			border-bottom: 0;
		}
		.col-md-9,
		.col-md-3 {
			padding: 0;
		}
	}
	&__innerimg {
		display: block;
		object-fit:cover;
		width: 100%;
		height: 100%;
	}
	&__innershort {
		background: rgba(58,66,75, .7);
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 15px 30px;
		font-family: CenturyGothic;
		.transition;
	}
	&__inner-news {
		display: block;
		position: relative;
		height: 350px;
		overflow: hidden;
	}
	&__inner-news:hover &__innershort {
		height: auto;
	}
	&__newsname {
		font-size: 18px;
		color: #fff;
	}
	&__newsdate {
		font-size: 13px;
		color: #bdbdbd;
		font-style: italic;
	}
	&__newsdesc {
		margin-top: 20px;
		color: #fff;
		font-size: 14px;
	}
	.col-md-3  {
		padding: 0;
	}
	&__list {
		padding: 20px 35px;
		font-family: CenturyGothic;
	}
	&__listhead {
		color: #fff;
		font-size: 18px;
		margin-bottom: 25px;
	}
	&__listitem {
		margin-bottom: 40px;
		display: block;
	}
	&__listdata{
		color: #9dcbf6;
		font-size: 13px;
	}
	&__listtext {
		font-size: 13px;
		color: #fff;
	}
	&__event {
		display: block;
		margin-top: 30px;
		.pull-right {
			width: ~"calc(100% - 90px)";
		}
	}
	&__eventimg {
		margin-right: 30px;
	}
	&__eventname {
		color: #6e6e6e;
		font-size: 15px;
	}
	&__eventdate {
		font-size: 12px;
		color: #bcbbbb;
		font-style: italic;
	}
	&__link-wrap {
		padding-top: 45px;
	}
}

@media (max-width: 991px) {
	.all-news {
		&__nav {
			ul {
				li {
					display: block;
					text-align: center;
					a:hover:before {
						display: none;
					}
				}
			}
		}
		&__search {
			display: block;
			text-align: center;
			position: relative;
			top: auto;
			text-align: center;
			right: auto;
			padding-bottom: 20px;
			transform: translate(0,0)
		}
		&__innershort {
			text-align: center;
		}
		&__list {
			text-align: center;
		}
	}
}