.news-feed {
	font-family: CenturyGothic;
	h2 {
		.font(@ff,1.7rem);
	}
	&__left-block {
		padding: 0;
		padding-right: 15px;
		
		@media (max-width:991px) { 
			padding: 0;
			padding-bottom: 50px;
		}
	}
	&__right-block {
		padding: 0;
		padding-left: 15px;
		
		@media (max-width:991px) { 
			padding: 0;
		}
	}
	&__title-left {
		
		h2 {
			padding: 10px 0;
			padding-left: 70px;
			background-color: #2ca0d6;
			color: @white;
		}
	}
	&__title-right {
		padding: 0;
		h2 {
			margin-bottom: 25px;
			padding: 10px 35px;
			padding-right: 70px;
			background-color: #c6687c;
			color: @white;
		}
	}
	&__title {
		h3 {
			padding: 15px 35px;
			padding-top: 0;
			.font(@ff,1.4rem);
			color: #222222;
		}
	}
	&__title-1 {
		h3 {
			border-bottom: 5px solid #869713;
		}
	}
	&__title-2 {
		h3 {
			border-bottom: 5px solid #90cbe7;
		}
	}
	&__title-3 {
		h3 {
			border-bottom: 5px solid #bf6e18;
		}
	}
	&__title-4 {
		h3 {
			padding: 16px 35px;
			background-color: #ddd61a;
			color: #020202;
		}
	}
	&__title-5 {
		h3 {
			padding: 16px 35px;
			background-color: #8dd8d6;
			color: @white;
		}
	}
	&__allnews-link-wrap {
		position: relative;
		text-align: center;
	}
	&__allnews-link {
		display: inline-block;
		margin-left: 20px;
		vertical-align: middle;
		color: #c7d0d7;
	}
	&__allnews-arrow {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		font-size: 0;
		border-radius: 50%;
		border: 2px solid #d6e3ee;
		
		&::before {
			content: "";
			position: absolute;
			top: 12px;
			left: 3px;
			width: 20px;
			height: 2px;
			background-color: #d6e3ee;
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 7px;
			right: 4px;
			width: 12px;
			height: 12px;
			border-bottom: 2px solid #d6e3ee;
			border-left: 2px solid #d6e3ee;
			transform: rotate(225deg);
		}
	}
	.page-header.incident-header {
		.header__m(#c6687c, transparent);
		margin-bottom: 10px;
	}
	.page-header.event-header {
		.header__m(#90cbe7, transparent);
		margin-bottom: 10px;
	}
	.page-header.gov-header {
		.header__m(#afbe59, transparent);
		margin-bottom: 10px;
	}
	.page-header.worldnews-header {
		.header__m(#ddd61a, transparent);
		margin-bottom: 10px;
		color: #000;
	}
	.page-header.science-header {
		.header__m(#8dd8d6, transparent);
		margin-bottom: 10px;
	}
	&__list {
		font-size: 16px;
		margin-top: 70px;
		padding-left: 55px;
		padding-bottom: 50px;
	}
	&__listnews {
		display: table;
		margin-bottom: 25px;
		color: #686868;
		&:hover {
			text-decoration: none;
			color: #686868;
		}
	}
	.img &__listimg,
	.img &__listtext {
		display: table-cell; 
		vertical-align: middle; 
		font-size: 16px;
	}
	&__listdate {
		width: 70px;
	}
	&__listdate,
	&__listtext {
		font-size: 12px;
		display: table-cell; 
		vertical-align: top; 
	}
	&__listtext {
		padding-left: 20px;
		font-size: 14px;
	}
	&__allnews {
		max-width: 995px;
		padding-top: 20px;
		padding-right: 35px;
		margin-bottom: 0;
		
		@media (max-width: 767px) {
			padding: 0 4.6%;
			padding-top: 20px;
		}
		
		.slidetext {
			color: #fff;
			font-family: CenturyGothic;
			position: absolute;
			z-index: 10;
		}	
		&.incident {
			.slidetext {
				left: 40px;
				top: 60px;
				b {
					font-size: 36px;
				}
				span {
					font-size: 20px;
				}
			}
		}
		&.event {
			.slidetext {
				right: 0;
				top: 50px;
				span {
					display: block;
					width: 400px;
					background: rgba(204, 148, 123, .65);
					color: #fff;
					font-size: 36px;
					padding: 2px 20px;
					margin-bottom: 10px;
				}
			}
		}
		&.gov {
			.slidetext {
				right: 40px;
				bottom:40px;
				text-align: right;			
				span {
					display: inline-block;
					background: rgba(175, 190, 89, 1);
					color: #fff;
					font-size: 36px;
					padding: 0 20px;
					&.opacity {
						background: rgba(175, 190, 89, .65);
					}
					&.margin {
						margin-right: 20px;
					}
					&.small {
						font-size: 28px;
					}
				}
			}
		}
		&.worldnews {
			.slidetext {
				right: 0;
				bottom: 40px;
				span {
					display: block;
					width: 480px;
					padding: 5px 35px;
					text-align: left;
					margin-bottom: 10px;
					color: #3c3530;	
					background: rgba(221, 214, 26, .40);
					font-size: 26px;
					line-height: 1;
					&.heading {
						font-size: 36px;
						background: rgba(221, 214, 26, .60);
					}
				}
			}
		}
		&.science {
			.slidetext {
				right: 0;
				bottom: 40px;
				span {
					display: block;
					color: #fff;
					width: 540px;
					padding: 0 100px;
					text-align: left;
					margin-bottom: 10px;
					background: rgba(88, 84, 72, .65);
					font-size: 46px;
					&.heading {
						padding: 5px 100px;
						font-size: 30px;
						background: rgba(140, 134, 119, .65);
					}
				}
			}
		}
	}
}
@media (max-width:1199px) {
	.news-feed {
		&__title-left {
			h2 {
				padding-left: 0;
				text-align: center;
			}
		}
	}
}
@media (max-width:991px) {
	.news-feed {
		&__allnews {
			padding: 0;
		}
		&__list {
			padding: 0;
			padding-bottom: 50px;
			margin-top: 20px;
		}
		&__title-left,&__title-right,&__title {
			padding: 0;
		}
	}
	.page-content .news-feed .page-header.inner-header {
		margin-right: 0;
	}
	
	.row {
		margin: 0;
	}
}
@media (max-width:1199px) { 
	.news-feed {
		&__list {
			padding:0 15px;
		}
	}
}
