.n-news__slider {
	height: 440px;
	overflow: hidden;
	.slide {
		position: relative;
		height: 440px;
	}
	img {
		max-height: 440px;
		object-fit:cover;
		width: 100%;
	}
}
@media (max-width: 991px) {
	.n-news__slider {
		height: auto;
		.slidetext {
			span, b, .heading {
				font-size: 16px !important;
			}
		}
	}
}