.adv-block, .partner-block {
	margin: 40px 0;
	.container-fluid {
		max-width: 100%;
		// margin: 0 70px;
	}
	@media (max-width: 991px) {
		padding: 0;
	}
	.col-md-7, .col-md-5, .col-md-6 {
		text-align: center;
		max-height: 300px;
		overflow: hidden;
		@media (max-width: 991px) {
			margin-bottom: 20px;
			display: block;
			margin: 0;
			margin-bottom: 20px;
		}
	}
	img {
		display: block;
		object-fit:cover;
		width: 100%;
	}
}