// .arrow-down {
// 	width: 88px;
// 	height: 88px;
// 	.sprite2;
// 	background-position: 0 -1394px;
// 	margin: 0 auto;
// 	display: block;
// 	.transition;
// 	opacity: .7;
// 	&:hover {
// 		opacity: 1;
// 	}
// }
.arrow-down {
    width: 300px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #6699cc;
    margin: 0 auto;
    display: block;
    position: relative;
    line-height: 70px;
    vertical-align: middle;
    color: #5583d9;
    font-size: 20px;
    padding-left: 40px;
    text-align: left;
    .transition;
    opacity: .7;
    &:hover {
        opacity: 1;
    }
    &:before {
        content: '';
        position: absolute;
        width: 37px;
        height: 37px;
        .sprite2;
        background-position: 0 -1879px;
        top: 15px;
        right: 20px;
    }
    @media (max-width: 640px) {
        max-width: 100%;
        padding: 0 20px;
    }
}