
.baron-all{
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #fff;
  box-shadow:
          0 5px 15px -3px rgba(0, 0, 0, .7),
          0 0 0 1px rgba(0, 0, 0, .05);
}
.baron-all__clipper {
  position: relative;
  overflow: hidden;
}
.baron-all__scroller {
  overflow-y: scroll;
  -ms-overflow-style: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.baron-all__scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.baron-all__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  background-color: #b3cde7;
}
.baron-all._scrollbar .baron-all__track {
  display: block;
}
.baron-all__free {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.baron-all__bar {
  display: none;
  position: absolute;
  right: 0;
  z-index: 22;
  width: 10px;
  height: 100px;
  background: #3c71a7;
  border-radius: 15px;
}
.baron-all._scrollbar .baron-all__bar {
  display: block;
}
.baron-all__control {
  display: none;
}