.breadcrumbs {
    .font(@ff, 0.95rem);
    margin-top: 40px;
    margin-bottom: 60px;
    @media (max-width: 640px) {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    &__wrap {
        a {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            color: darken(#9c9c9c, 20%);
            &:hover,
            &:focus {
                text-decoration: underline;
            }
            &::after {
                content: ">";
                position: absolute;
                top: 50%;
                right: -17px;
                transform: translateY(-50%);
                .font(@ff, 0.95rem);
            }
        }
        span {
            color: #9c9c9c;
        }
    }
}