.checkbox-container {
	margin-bottom: 0;
	font-weight: normal;
	.checkbox-body {
		display: inline-block;
		width: 12px;
		height: 12px;
		border:1px solid #7a7a7a;
		.transition;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"]:checked + .checkbox-body {
		background: #8cb124;
		border-color: #8cb124;
	}
	.checkbox-text {
		color: #585858;
		font-size: 16px;
		font-family: CenturyGothic;
	}
}
.radio-container {
	margin-bottom: 0;
	display: block;
	font-weight: normal;
	@media (max-width:991px) {
		max-width: 250px;
		margin: 0 auto;
	}
	.radio-body {
		display: inline-block;
		width: 12px;
		height: 12px;
		border:1px solid #7a7a7a;
		.transition;
	}
	input[type="radio"] {
		display: none;
	}
	input[type="radio"]:checked + .radio-body {
		background: #8cb124;
		border-color: #8cb124;
	}
	.radio-text {
		color: #585858;
		font-size: 16px;
		font-family: CenturyGothic;
	}
}