
.fixed-link {
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 1000;

	&__element {
		display: block;
		width: 58px;
		height: 58px;
//		line-height: 58px;
//		text-align: center;
		font-size: 18px;
		color: #fff;
		opacity: .8;
		.transition;

		&:hover {
			color: #fff;
			text-decoration: none;
			opacity: 1;
		}

		&.messages {
			background: #83ca06;
		}
		&.cabinet {
			background: #55c49c;
		}
		&.time {
			background: #f67e00;
		}
		&.search {
			background: #77c7f7;
		}
	}
}
@media (max-width: 640px) {
	.fixed-link {
		display: none;
	}
}