
.footer-wrap {
	.container-fluid {
		max-width: 100%;
		padding: 0 15px;
		
		@media (min-width: 1200px) {
			padding-right: 70px;
		}
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	position: relative;
	&__map {
		position: relative;
		margin-top: 50px;
		margin-bottom: 35px;
	}
	&__map-wrap {
		height: 520px;
	}
	.footer-icon {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
		.sprite2;
	}
	.icon-city {
		width: 23px;
		height: 23px;
		background-position: -547px -432px;
	}
	.icon-type {
		width: 28px;
		height: 19px;
		background-position: -542px -413px;
	}
	.icon-area {
		width: 20px;
		height: 22px;
		background-position: -550px -391px;
	}
	.icon-street {
		width: 17px;
		height: 22px;
		background-position: -553px -369px;
	}
	&__filter {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 310px;
		padding: 30px 25px 0 25px;
		background: #3a5372;
		z-index: 200;
	}
	&__label {
		color: #fff;
		font-size: 14px;
		font-family: CenturyGothic;
		font-weight: normal;
		margin-bottom: 7px;
	}
	.form-field {
		&:last-child {
			text-align: center;
		}
	}
	&__filterbtn {
		text-transform: uppercase;
		color: #3a5372;
		font-size: 18px;
		text-align: center;
		width: 100%;
		height: 36px;
		line-height: 36px;
		background: #bdcb60;
		font-family: CenturyGothic;
		border:none;
		margin: 20px 0;
		.transition;
		opacity: .8;
		&:hover {
			opacity: 1;
		}
		.fa {
			margin-left: 10px;
		}
	}
	&__clearfilter {
		font-family: CenturyGothic;
		text-align: center;
		color: #c4c4c4;
		font-size: 14px;
		text-decoration: none;
		.fa {
			margin-right: 10px;
		}
		.link-text {
			border-bottom: 1px solid #c4c4c4;
			.transition;
		}
		&:hover {
			.link-text {
				border-bottom-color: transparent;
			}
			color: #c4c4c4;
			text-decoration: none;
		}
	}
	&__select {
		position: relative;
		display: inline-block;
		width: 100%;
		background: #fff;
		text-align: center;
		height: 40px;
		font-size: 14px;
		font-family: CenturyGothic;
		margin-bottom: 25px;

		.dropdown-btn {
			font-size: 14px;
			text-decoration: none;
			line-height: 40px;
			display: inline-block;
			width: 100%;
			color: #343434;
		}
		.dropdown-menu {
			border-radius: 0;
			width: 100%;
			border:none;
			text-align: center;

			a {
				padding: 3px 10px;
				color: #343434;
			}
		}
		.caret {
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			border-top: 6px solid #bfbfbf;
		    border-top: 4px solid\9;
		    border-right: 6px solid transparent;
		    border-left: 6px solid transparent;
		}
		&.open .dropdown-menu {
			animation: ddAnimate .2s 1;
		}
	}
	&__img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		float: left;
		display: inline-block;
		width: 50px;
		height: 40px;
		
		img,svg {
			position: absolute;
			.center;
		}
	}
	&__nav {
		border-top: 3px solid #4d81c1;
		margin: 0;
		margin-bottom: 20px;
	}
	&__ul {
		list-style: none;
		margin-bottom: 0;
		padding: 15px 0 0 0;
		text-align: center;
	}
	&__li {
		margin: 0 35px;
		display: inline-block;
	}
	&__link {
		color: #4c5c5d;
		font-size: 16px;
		font-family: CenturyGothic;
		border-bottom: 1px solid transparent;
		.transition;
		&:hover {
			color: #4c5c5d;
			text-decoration: none;
			border-bottom-color:#4c5c5d;
		}
	}
	&__social {
		text-align: center;
		margin-bottom: 20px;

		a {
			display: inline-block;
			width: 25px;
			height: 25px;
			line-height: 25px;
			text-align: center;
			color: #fff;
			font-size: 16px;
			margin: 0 5px;
			opacity: .8;
			.transition;
			&:hover {
				opacity: 1;
				text-decoration: none;
			}
			&.fa-facebook {
				background: #315094;
			}
			&.fa-twitter {
				background: #3ec7ef;
			}
			&.fa-instagram {
				background: #35709c;
			}
			&.fa-tumblr {
				background: #253f51;
			}
			&.fa-skype {
				background: #00a6e7;
			}
		}
	}
	&__copy {
		color: #787979;
		font-size: 10px;
		font-family: CenturyGothic;
		margin-top: 25px;
		margin-bottom: 40px;
		text-align: center;
	}
	&__searchresult {
		// padding: 0 55px;
	}
	&__searchresult-header {
		font-family: CenturyGothic;
		font-size: 18px;
		color: #303030;
		padding: 0 0 7px 15px;
		border-bottom: 2px solid #bdcb60;
	}
	&__el-inner {
		height: 430px;
		margin: 20px 0;
		border-left: 3px dotted #2776d7;
		width: 100%;
	}
	&__inner-item {
		margin-bottom: 40px;
	}
	.jspTrack {
		background: #e4f8f9;
		width: 10px;
		border-radius: 50px;
	}
	.jspVerticalBar {
		width: 10px;
		background-color: transparent;
	}
	.jspDrag {
		border-radius: 50px;
		background: #4d81c1;
	}
	.scroll-pane {
		width: 100%;
		height: 430px;
		overflow: hidden;
	}
	&__inner-item {
		padding: 7px 25px;
	}
	&__orgtype,
	&__orgname {
		font-family: CenturyGothic;
		line-height: 1.1;
		color: #3a5372;
		font-size: 16px;
	}
	&__orgtime,
	&__orgtel {
		color: #000;
		font-size: 16px;
		font-family: CenturyGothic;
		margin-top: 7px;

		svg {
			display: inline-block;
			margin-bottom: -2px;
		}
	}
	&__orgtel {
		display: block;
		width: auto;
		border-bottom: 1px solid #000;
		padding-bottom: 10px;
		margin-right: 20%;
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
	&__orgadress {
		position: relative;
		padding-left: 25px;
		margin-bottom: 7px;
		color: #000;
		font-size: 14px;
		line-height: 1.1;
		margin-top: 15px;
		font-family: CenturyGothic;
		
		svg {
			position: absolute;
			top: 0;
			left: 0;
		}

		p {
			display: inline-block;
		}
	}
	&__orgurl {
		display: inline-block;
		margin-left: 25px;
		font-family: CenturyGothic;
		font-size: 14px;
		color: #1c96cf;
		font-weight: bold;
		border-bottom: 1px solid transparent;
		.transition;
		&:hover {
			text-decoration: none;
			color: #1c96cf;
			border-bottom-color: #1c96cf;
		}
	}
	&__orgphoto {
		padding-right: 60px;
		margin: 20px 0;
		position: relative;

		img {
			width: 100%;
			height: auto;
		}
	}
	&__orgotherphoto {
		position: absolute;
		width: 76px;
		height: 76px;
		border-radius: 100%;
		background: #bdcb60;
		right: 20px;
		top: 50%;
		text-align: center;
		font-size: 14px;
		font-family: CenturyGothic;
		display: table;
		color: #fff;
		transform: translateY(-50%);
		.transition;
		opacity: .8;

		&:hover {
			opacity: 1;
			color: #fff;
			text-decoration: none;
		}

		span {
			display: table-cell;
			vertical-align: middle;
		}
	}
	&__orgway {
		background: #bdcb60;
		color: #fff;
		font-family: CenturyGothic;
		font-size: 16px;
		padding: 5px 50px;
		display: inline-block;
		width: auto;
		margin-left: 10px;
		border-radius: 30px;
		.transition;
		opacity: .8;

		&:hover {
			opacity: 1;
			color: #fff;
			text-decoration: none;
		}
	}
	.row {
		counter-reset: num;
	}
	&__elem {
		margin-top: 60px;
		padding-left: 30px;
		position: relative;
		&:after {
			counter-increment: num;
			color: #5f5f5f;
			font-family: CenturyGothic;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.1;
    		content: counter(num) '';
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__el-name,
	&__el-adress {
		color: #303030;
		font-size: 16px;
		font-family: CenturyGothic;
		line-height: 1.1;
	}
	&__el-adress {
		color: #606060;
		margin-bottom: 10px;
	}
	&__el-time {
		font-size: 14px;
		color: #4070ab;
		font-family: CenturyGothic;
		margin-bottom: 20px;
		margin-right: 5px;
		
		img {
			display: inline-block;
			margin-bottom: -2px;
		}
	}
	&__el-icon {
		width: 42px;
		height: 42px;
		display: inline-block;
		margin-right: 16px;
		&:last-child {
			margin-right: 0;
		}
	}
}
@media (max-width: 991px) {
	.footer-wrap {
		&__filter {
			position: relative;
			width: auto;
			top: auto;
			right: auto;
			padding-bottom: 25px;
		}
//		&__map,
//		&__searchresult {
//			padding: 0 15px;
//		}
		&__elem {
			text-align: center;
		}
		&__el-inner {
			border:none;
			border-top: 3px dotted #2776d7;
			margin-top: 20px;
			padding-top: 20px;
			margin-bottom: 50px;
		}
	}
}
.map__hint{
	display: none;
	position: fixed;
	top:50%;
	left: 50%;
	.center;
	width: 300px;
	padding: 20px 0;
	text-align: center;
	color: #373737;
	background-color: rgba(255,255,255,.8);
	border-radius: 5px;
}