
.header-container {
	padding: 0 55px;
	padding-top: 50px;
	.container-fluid {
		max-width: 100%;
		padding: 0 15px;
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	&__logo {
		display: inline-block;
		min-width: 252px;
		height: 65px;
	}
	
	&__social {
		float: right;
	}

	&__selectform {
		font-family: 'Open Sans', sans-serif;
		color: #676e75;
		font-size: 12px;
		padding: 12px 0;
		text-align: center;

		svg{
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: -5px;
		}
	}

	&__selecttext {
		display: inline-block;
		margin-right: 30px;
	}
	&__selectcity {
		position: relative;
		display: inline-block;
		
		.dropdown-btn {
			color: #336799;
			font-size: 14px;
			text-decoration: underline;
		}
		.dropdown-menu {
			border-radius: 0;
			border-color: #336799;

			a {
				padding: 3px 10px;
				color: #336799;
			}
		}
		&.open .dropdown-menu {
			animation: ddAnimate .2s 1;
		}

	}

	&__soclink {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: #69c;
		margin: 0 2px;
		opacity: .5;
		font-size: 18px;
		overflow: hidden;
		.transition;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			opacity: 1;
		}
	}
}
.module-advant {
	padding-left: 70px;
	padding-right: 70px;
	img {
		max-width: 100%;
		height: auto;
	}
}
@media (max-width: 1199px) {
	.header-container {
		&__social {
			width: 50%;
		}
		&__soclink {
			margin-bottom: 5px;
		}
	}
}
@media (max-width: 991px) {
	.header-container {
		text-align: center;

		&__social {
			width: auto;
			text-align: center;
			float: none;
		}
		&__soclink {
			margin-bottom: 0;
		}
	}
}
@media (max-width: 640px) {
	.header-container {
		padding: 30px 0 0 0;
	}
}

.header__link-to-top{
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 20px;
	@media(min-width: 768px){
		bottom: 50px;
	}
	.icon-right-arrow{
		fill:#859dbb;
		width: 50px;
		height: 50px;
		transform: rotate(-90deg);
		opacity:.8;
		transition-property: fill,opacity;
		transition-duration: .3s;
		&:hover{
			opacity: 1;
		}
		@media(min-width: 768px){
			width: 77px;
			height: 77px;
		}
	}
}