.top-nav {
	margin-top: 30px;
	margin-bottom: 40px;
	@media (min-width: 1200px) {
		padding: 0 70px;
	}

	@media (min-width: 640px) and (max-width: 1199px) {
		padding: 0 30px;
	}

	.container-fluid {
		max-width: 1300px;
	}

	&__search {
		background: #69c;
		position: relative;
		padding: 7px 0;
		z-index:3;
	}
	&__searchform {

		font-family: 'Open Sans', sans-serif;
		.form-group {
			margin: 0;
		}
	}
	.navbar-toggle{
		padding: 0;
	}

	&__searchinput {
		width: 100%;
		border:0;
		padding: 0 17px;
		border-radius: 20px;
		height: 24px;
		line-height: 24px;
	}

	&__searchbutton {
		position: absolute;
		top: 3px;
		right: 17px;
		height: 20px;
		border-radius: 20px;
		font-size: 11px;
		padding: 0 20px;
		border:0;
		background: #336799;
		color: #fff;
		line-height: 20px;
		svg{
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;
			margin-top: -3px;
		}
	}

	&__menu {
		background: #336799;
	}

	&__ul.navbar-collapse{
		list-style: none;
		height: auto;
		margin: 0;
		padding: 0;
		font-family: 'Open Sans', sans-serif;
		font-size: 0;
		@media(min-width: 768px){
			height: 50px;
		}
	}
	&__li{
		@media(min-width: 768px){
			display: inline-block;
			vertical-align: middle;
			width: calc(100%/7);
			height: 100%;
			text-align: center;
		}


		&:nth-child(n+2){
			.top-nav__link:hover, .top-nav__link:hover, .top-nav__link:focus,.top-nav__link:active{
				background-color: #fff;
				color: #336799;
				border-bottom-color: #c0c7a8;
				height: ~'calc(100% + 5px)';
			}
		}
	}
	&__link {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 15px;
		color: #fff;
		transition: background,color,height .3s;
		border-bottom: 2px solid transparent;
		@media(min-width: 768px){
			position: relative;
			padding: 0;
			height: 100%;
			z-index: 2;
		}
		img {
			margin: 0 auto;
		}
		.icon-home-nav{
			position: relative;
			left: 20px;
			width: 26px;
			height: 22px;
			@media(min-width: 768px){
				top: 50%;
				transform: translate(0,-50%);
			}
		}
	}
	&__in-txt{
		display: block;
		width: 100%;
		padding-left: 20px;
		text-align: left;
		@media(min-width: 768px){
			position: absolute;
			.vertical-center;
			padding-left: 0;
			text-align: center;

		}
	}
	.navbar-toggle .fa {
		font-size: 18px;
		color: #fff;
	}
}