.nv-slider {
	white-space: nowrap;
	font-size: 0;
	position: relative;
	overflow: hidden;

	&__item {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}


	&__arrow {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		height: 40px;
		width: 40px;
		background: #666;
		cursor: pointer;
		z-index: 3;
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}
}