.page-slider {
	.slide {
		position: relative;
		max-height: 640px;
	}
	&__text {
		position: absolute;
		right: 100px;
		bottom: 170px;
		color: #fff;
		font-family: CenturyGothic;
	}
	&__q {
		font-size: 40px;
	}
	&__a {
		font-size: 24px;
	}
}
.page-slider {
	@media (max-width: 991px) {
		&__text {
			bottom: auto;
			right: auto !important;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			text-align: center;
		}
		&__q,&__a,&__a2,&__link {
			font-size: 18px !important;
			letter-spacing: normal;
		}
		&__subhead {
			padding: 0 30px;
			font-size: 26px;
		}
	}
} 