.page-tags {
	border-top:1px solid #70a0cf;
	border-bottom:1px solid #70a0cf;
	font-family: CenturyGothic;
	margin-bottom: 40px;

	&__link {
		display: inline-block;
		font-size: 18px;
		color: #fff;
		.transition;
		opacity: .7;
		background: #6389af;
		border-radius: 20px;
		padding: 5px 15px;
		margin: 20px 10px;
		
		a {
			color: #fff;
		}
		
		&:hover, &:focus {
			opacity: 1;
			text-decoration: none;
			color: #fff;
			
			a {
				color: #fff;
			}
		}
	}
}
@media (max-width: 991px) {
	.page-tags {
		padding: 0;
	}
}