.pagination-wrap {
	text-align: center;
	margin-bottom: 20px;
}
.pagination {
	width: auto;
	display: inline-block;
	&__pag-ul {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
	}
	&__pag-li {
		display: inline-block;
	}
	&__pag-link {
		display: block;
		width: 36px;
		height: 36px;
		text-align: center;
		line-height: 36px;
		background: #9e9e9e;
		font-family: CenturyGothic;
		font-size: 18px;
		color: #fff;
		border-radius: 100%;
		margin: 0 7px;
		.transition;
		&:hover, &.active {
			background: #51b3f0;
			color: #fff;
			text-decoration: none;
		}
		&.active {
			cursor: default;
		}
		&.next, &.prev {
			width: auto;
			background-color: transparent;
			color: #9e9e9e;
			font-size: 16px;
			margin: 0 10px;
			border-radius: 0;
			.transition;
			&:hover {
				text-decoration: none;
				color: #51b3f0;
			}
		}
	}
}