
.n-quoteblock {
	margin-bottom: 80px;
	padding: 0 55px;

	&__quote {
		// padding-left: 155px;
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 18px;
		position: relative;
		color: #002b65;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -90px;
			width: 56px;	
			height: 52px;
			.sprite2;
			background-position: 0 -22px;
		}
		
		p {
			margin-bottom: 20px;
			.font(@ff,18px);
		}
	}
	
	&_decret {
		@media (max-width: 767px) {
			margin-bottom: 40px;
		}
	}
}