.page-socialprops {
	border-top:1px solid #70a0cf;
	border-bottom:1px solid #70a0cf;
	font-family: CenturyGothic;
	&__thumbup, &__thumbdown {
		padding-left: 80px;
		position: relative;
		display: block;
		line-height: 80px;
		vertical-align: middle;
		font-size: 18px;
		.transition;
		opacity: .7;
		&:hover {
			opacity: 1;
			text-decoration: none;
		}

		&:before {
			content: '';
			position: absolute;
			width: 62px;
			height: 54px;
			.sprite2;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&__thumbup {
		color: #6a84b1;
		&:before {
			background-position: 0 -1088px;
		}
		&:hover {
			color: #6a84b1;
		}
	}
	&__thumbdown {
		color: #af6d6f;
		margin-left: 50px;
		&:before {
			background-position: 0 -1142px;
		}
		&:hover {
			color: #af6d6f;
		}
	}
	&__views, &__comments {
		padding-left: 80px;
		position: relative;
		display: block;
		line-height: 80px;
		vertical-align: middle;
		font-size: 18px;
		color: #6b83b1;
		.transition;
		opacity: .7;
		&:hover {
			opacity: 1;
			text-decoration: none;
			color: #6b83b1;
		}

		&:before {
			content: '';
			position: absolute;
			.sprite2;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&__views {
		&:before {
			width: 65px;
			height: 36px;
			background-position: 0 -1240px;
		}
	}
	&__comments {
		margin-left: 30px;
		&:before {
			width: 53px;
			height: 44px;
			background-position: 0 -1196px;
		}
	}
	&__favorites {
		padding-left: 65px;
		position: relative;
		display: block;
		line-height: 80px;
		vertical-align: middle;
		font-size: 18px;
		color: #6b83b1;
		.transition;
		opacity: .7;
		&:hover {
			opacity: 1;
			text-decoration: none;
			color: #6b83b1;
		}

		&:before {
			content: '';
			position: absolute;
			.sprite2;
			top: 50%;
			width: 50px;
			height: 47px;
			left: 0;
			transform: translateY(-50%);
			background-position: 0 -1276px;
		}
	}


}
@media (max-width: 991px) {
	.page-socialprops {
		padding: 0;
		.pull-right, .pull-left {
			// float:none !important;
		}
		&__favorites {
			float: left !important;
		}
	}
}
@media (max-width: 768px) {
	.page-socialprops {
		.pull-left {
			float: none !important;
			margin: 0;
		}
	}
}