.tabs-news {
	.nav-tabs {
		background: #669acc;
	}
	.container-fluid, .row, .col-md-9, .col-md-3 {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
	&__container {
		height: 500px;
	}
	&__inner {
		overflow: hidden;
		img {
			display: block;
			height: 498px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__li {
		margin: 0;
		padding: 0;
		height: ~'calc(500px/3)';
		width: 100%;
		display: table;
		width: 100%;
		position: relative;
		a {
			display: table-cell; 
			vertical-align: middle; 
			text-align: center; 
			border:none;
			border-radius: 0;
			margin: 0;
			background: #669acc;
			text-transform: uppercase;
			color: #fff;
			padding: 0 40px;
			text-align: left;
			font-size: 14px;
			font-family: CenturyGothic;
			.transition;
			&:hover {
				background: #2a649c;
				color: #fff;
				text-decoration: none;
			}
		}
		&.active {
			&:before {
				content: '';
				left: -40px;
				position: absolute;
				border: 20px solid transparent;
				border-right: 20px solid #2a649c;
				z-index: 20;
				top: 50%;
				transform: translateY(-50%);
			}
			a {
				background: #2a649c;
				color: #fff;
				text-decoration: none;
				cursor: default;
			}
		}
	}
}
@media (max-width: 991px) {
	.tabs-news {
		.container-fluid, .row, .col-md-9, .col-md-3 {
			margin: 0;
			padding: 0;
		}
		&__container {
			height: 498px;
		}
		&__inner {
			overflow: hidden;
			img {
				display: block;
				height: 498px;
				width: 100%;
				object-fit: cover;
				// object-position: 50% 50%;
			}
		}
		&__li {
			margin: 0;
			padding: 0;
			height: auto;
			display: table;
			width: 100%;
			float: left;
			height: auto;
			position: relative;
			a {
				text-transform: none;
				height: 100%;
				height: 80px;
				padding: 10px 15px;
				vertical-align: top;
				br {
					display: none;
				}
			}
			&.active {
				&:before {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 768px){
	.tabs-news {
		&__li {
			width: 100%;
			float: none;
			a {
				height: auto;
				padding: 20px 15px;
			}
		}
	}
}