//@font-face {
//	font-family: CenturyGothic;
//	src: url(../fonts/CenturyGothic.ttf);
//}
// 
.transition {
	-moz-transition: .15s ease-in;
	-ms-transition: .15s ease-in;
	transition: .15s ease-in;
}
.sprite2 {
	background: url(../img/sprite2.png);
}
input:focus, 
button:focus,
select:focus {
	outline: 0;
}
.header__m(@color1, @color2) {
	background: @color1;
	padding: 10px 0;
	padding-left: 70px;
	position: relative;
	margin: 0;
	font-size: 28px;
	color: #fff;
	font-family: CenturyGothic;
	margin-left: -15px;
	margin-right: -15px;
	&:before {
		content: '';
		position: absolute;

		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
		background: @color2;
	}
}
.page-header {
	.header__m(#45c4d2, #d0f2f4);
	border-bottom: 0;
}
.page-header {
	.header__m(#45c4d2, #d0f2f4);
	border-bottom: 0;
}
.page-content {
	&__subhead {
		padding: 0 70px;
		font-family: CenturyGothic;
		color: #336799;
		font-size: 30px;
		margin-top: 0;
		margin-bottom: 10px;
	}
}
.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 30px;
	height: 30px;
	opacity: .6;
	border-radius: 100%;
	border:none;
	font-size: 24px;
	line-height: 30px;
	.transition;
	
	@media (max-width: 480px) {
		width: 20px;
		height: 20px;
	}
	
	&:hover {
		opacity: 1;
	}
	&.slick-next {
		right: 25px;
		
		@media (max-width: 480px) {
			right: 10px;
		}
		
		i {
			margin-left: 3px;
		}
	}
	&.slick-prev {
		left: 25px;
		
		@media (max-width: 480px) {
			left: 10px;
		}
		
		i {
			margin-right: 3px;
		}
	}
}
//
* {
	margin: 0;
	padding: 0;
}
body, html {
	min-height: 100%;
	position: relative;
	min-width: 300px;
}
.dropdown-menu {
	margin: 0;
}
.dropdown-menu li:nth-child(even) {
	background: #ededed;
}
@keyframes ddAnimate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes ddAnimate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}	