.icons{

  &__modal{
    padding: 40px 0;
  }

  &__wrapper{
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(pics/protezirovanie-osnovnaya/icons-bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    @media(min-width: 768px){
      padding-top: 100px;
      padding-bottom: 150px;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(255,255,255,0.9);

      @media(min-width: 1200px){
        display: none;
      }

    }

  }

  &__content{
    @media(min-width: 768px) {
      min-width: 600px;
      width: 50%;
      float: right;
    }
  }
  &__list{

  }
  &__link{
    position: relative;
    display: block;
    margin-bottom: 45px;
    padding-left: 40px;
    line-height: 20px;
    font-size: 18px;
    color: #00679c;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      display: block;
      width: 20px;
      height: 20px;
      margin: auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 4px solid #00679c;
      @media(min-width: 768px) {
        width: 20px;
        height: 20px;
        left: 140px;
      }
    }
    @media(min-width: 768px) {
      padding-left: 185px;
      line-height: 22px;
      font-size: 22px;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 6px;
        display: block;
        width: 134px;
        height: 2px;
        background-color: #00679c;
        margin: auto;
      }
    }
    &:hover{
      color: #d55b00;
      &:before{
        border-color: #d55b00;
      }
      &:after{
        background-color: #d55b00;
      }
    }

  }


  &__item{
    @media(min-width: 768px){

      &:first-child,&:last-child{
        .icons__link{
          &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 8px;
            display: block;
            width: 134px;
            height: 20px;
            margin: auto;
            background-color: transparent;
            background-image: url(pics/protezirovanie-osnovnaya/icons-marker.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            -webkit-background-size: cover;
            background-size: cover;
          }

          &:hover{

            &:after{
              background-image: url(pics/protezirovanie-osnovnaya/icons-marker-active.png);
            }

          }

        }
      }

      &:first-child{
        .icons__link{
          &:after{
            top: -18px;
          }
        }
      }

      &:last-child{
        .icons__link{
          &:after{
            top: 18px;
            transform: scale(1, -1)
          }
        }
      }

    }
  }

}
