//native
.interesting-facts {
  .title(interesting-facts, #46aab5, #99d0d6);
  &__wrapper {
    background-image: url(pics/protezirovanie-osnovnaya/interesting-facts_bg.jpg);
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
  }
  &__img-wrap::before {
    background-image: url(pics/protezirovanie-osnovnaya/img-frame_center.png);
  }
  &__item {
    @media (min-width: 1024px) {
      &:nth-child(odd) {
        .interesting-facts__img-wrap {
          &::before {

            background-image: url(pics/protezirovanie-osnovnaya/img-frame_left.png);
          }
        }
      }

      &:nth-child(even) {
        .interesting-facts__img-wrap {
          &::before {
            background-image: url(pics/protezirovanie-osnovnaya/img-frame_right.png);

          }
        }
      }
    }
  }

  &__text-content {
    line-height: 28px;
    font-size: 16px;
    color: #656565;
    a {
      color: #44a9b4;
      font-size: 20px;
    }
    @media (min-width: 768px) {
      line-height: 34px;
      font-size: 18px;
      a{
        font-size: 24px;
      }
    }

  }

}

