.news-tabs {
  .title(news-tabs, #d55b00,#e8a573);
  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #eca77e;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #eca77e transparent transparent;
        }
      }
    }
  }
  &__content {
    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }
    }
  }
}
