.this-is-interesting {
  .title(this-is-interesting, #46aab5, #99d0d6);
  &__content{
    max-width: 1270px;
    margin: 0 auto;
    padding: 100px 70px 50px;

    @media (max-width: 767px) {
      padding: 50px 4.6%;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 100px 5.2% 50px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 100px 35px 50px;
    }

  }

  &__list{
    position: relative;
    background-image: url(pics/protezirovanie-osnovnaya/this-is-interesting_bg-sm.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    background-size: contain;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.9);
    }

    @media(min-width: 768px){
      height: 400px;
      background-size: auto;
      &:before{
        display: none;
      }
    }
    @media(min-width: 1024px){
      height: 350px;
      background-image: url(pics/protezirovanie-osnovnaya/this-is-interesting_bg.jpg);
      background-size: 60%;
    }
    @media(min-width: 1270px){
      height: 450px;
      background-size: auto;
    }
  }

  &__item{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    z-index: 2;
    &:nth-child(even){
      text-align: right;
    }

    @media(min-width: 768px) {
      position: absolute;
      margin-bottom: 0;
      width: 50%;
      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: 0;
        text-align: right;
      }

      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }

      &:nth-child(4) {
        bottom: 0;
        right: 0;
        text-align: right;
      }
    }


    @media(min-width: 1024px) {
      display: block;
      max-width: 290px;
      width: 100%;
      text-align: left;
      &:nth-child(1) {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 0;
        right: -7%;
        text-align: left;
      }

      &:nth-child(3) {
        bottom: 25%;
        left: 0;
      }

      &:nth-child(4) {
        bottom: 46%;
        right: -7%;
        text-align: left;
      }
    }
  }

  &__link{
    font-size: 18px;
    color: #0a033f;
    transition: all .225s ease;
    &:hover{
      color: #c0516b;
      text-decoration: underline;
    }
  }


}

.this-is-interesting{
  &__baner{
    position: relative;
    height: 400px;
    margin-bottom: 50px;
    overflow: hidden;

    @media(min-width: 768px){
      height: 600px;
    }

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-height: 120%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.6);
      z-index: 1;
      @media(min-width: 1440px){
        display: none;
      }
    }

    &-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: auto;
      display: block;
      width: 100%;
      padding: 30px 4.6%;
      background-color: rgba(161,177,57, 0.6);
      color: #0a033f;
      transition: all .225s ease-in;
      z-index: 2;
      h3{
        font-size: 26px;
        line-height: 34px;
        font-weight: 400;

        @media(min-width: 768px){
          font-size: 34px;
          line-height: 42px;
        }
        @media(min-width: 1024px){
          font-size: 48px;
          line-height: 56px;
        }
      }

      strong{
        font-weight: bold;
      }
      &:hover{
        background-color: rgba(161,177,57, 1);
      }

      @media(min-width: 768px){
        padding: 30px 60px;
      }

      @media(min-width: 1024px){
        padding: 30px 70px 30px 60px;
        top: 70px;
        right: 0;
        bottom: initial;
        left: initial;
        transform: none;
        max-width: 960px;
      }

    }

  }
}