.page-background {
    background: url(pics/ideal_ves/weight_bg.jpg) no-repeat right top;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -300px;
        left: 0;
        right: 0;
        height: 1500px;
        background: url(pics/ideal_ves/bg.png);
        background-size: cover;

        @media (max-width: 991px) {
            background: 0;
        }
    }
    @media (max-width: 991px) {
        background: 0;
    }
}