.clinic-list {
	position: relative;
	&:after {
		content: '';
		width: 682px;
		height: 1256px;
		background: url(pics/countries/sky.png) no-repeat top right;
		position: absolute;
		top: -600px;
		z-index: -2;
		right: 0;
	}
	.see-all {
		width: 300px;
		display: block;
		margin: 0 auto;
		height: 46px;
		text-align: center;
		line-height: 46px;
		border: 1px solid #4b4b4b;
		color: #67736c;
		font-size: 15px;
		margin-top: 40px;
		margin-bottom: 120px;

		@media (max-width:991px) {
			margin-top: 20px;
			margin-bottom: 50px;
		}
	}
	.eye {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		right: 0;
		display: none;
		width: 89px;
		height: 118px;
		background: url(pics/countries/eye.png);
		z-index: 2;
		@media(min-width: 768px){
			display: block;
		}
	}
	&__element {
		padding: 60px 0 90px;
		position: relative;

		@media (max-width:991px) {
			padding: 30px 0 40px 0;
		}

		&:after {
			content: '......................................................................................................';
			letter-spacing: 10px;
			font-size: 56px;
			color: #c8c8c8;
			line-height: 0;
			bottom: 25px;
			right: 0;
			position: absolute;
		}
		&.woafter {
			&:after {
				display: none;
			}
		}
	}
	&__img {
		text-align: center;
		img {
			display: inline-block;
			max-width: 100%;
			padding: 30px;
			background-image: linear-gradient(to right, rgba(210, 215, 217, 0.8) 130px, transparent 130px),
			linear-gradient(to right, rgba(210, 215, 217, 0.8) 130px, transparent 130px),
			linear-gradient(to bottom, rgba(210, 215, 217, 0.8) 130px, transparent 130px),
			linear-gradient(to bottom, rgba(210, 215, 217, 0.8) 130px, transparent 130px);
			background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
			background-position: -65px 0%, -65px 100%, 0% -65px, 100% -65px;
			background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
		}
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
	}
	&__name {
		color: #5c6961;
		font-size: 20px;
		margin-bottom: 5px;
		transition: all .225s;
		&:hover{
			color: darken( #5c6961, 30%);
			text-decoration: underline;
		}
	}
	&__adress {
		color: #898989;
		font-size: 15px;
		margin-bottom: 10px;
	}
	&__rate {
		margin-bottom: 10px;
		.star {
			float: left;
			margin-right: 10px;
			color: #c3c3c2;
			&.star-green {
				color: #b3be08;
			}
		}
	}
	&__desc {
		color: #787878;
		font-size: 15px;
		margin-bottom: 15px;
	}
	&__serv {
		ul {
			list-style: none;
			padding: 10px;
			border-left:4px solid #e7e8e7;
			li {
				color: #67736c;
				font-size: 15px;
			}
		}
	}
}