.page-divider {
	height: 49px;
	width: 100%;
	background: url(pics/law/divider.jpg) no-repeat center;
	margin-bottom: 100px;
}
.some-shit {
	display: none;
}
.therapy-countries {
	&.therapy-inner {
		padding-bottom: 130px;
		@media (max-width:991px) {
			padding-bottom: 60px;
		}
	}
	background: url(pics/therapy/worldmap.png) center 50px no-repeat;
	font-family: CenturyGothic;
	.nav-tabs {
		border-bottom: 0;
		li {
			width: ~'calc(100%/7)';
			text-align: center;
			margin: 0;
			a {
				border:none;
				background: transparent;
				color: #1c4771;
				border-radius: 0;
				padding: 50px;
				position: relative;
				margin: 0;
				display: block;
				img {
					max-width: 100%;
				}
			}
			&.active {
				a {
					border:none;
					background: transparent;
					color: #1c4771;
					background-image: linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px);
					background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
					background-position: -40px 0%, -40px 100%, 0% -40px, 100% -40px;
					background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
				}
			}
		}
	}
	&__tabtext {
		position: absolute;
		font-size: 14px;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__h3 {
		color: #155a83;
		font-size: 25px;
		margin-bottom: 130px;
		margin-top: 30px;
		text-align: center;
		font-family: CenturyGothic;
		@media (max-width:991px) {
			margin-bottom: 20px;
		}
	}
	.tab-content {
		margin-top: 70px;
	}
	&__tabinner {
		color: #626262;
		padding: 20px 0;
		background: #fff;
		background: -moz-linear-gradient(left, #f6fbff 0%, #ffffff 25%, #ffffff 75%, #f6fbff 100%);
		background: -webkit-linear-gradient(left, #f6fbff 0%,#ffffff 25%,#ffffff 75%,#f6fbff 100%);
		background: linear-gradient(to right, #f6fbff 0%,#ffffff 25%,#ffffff 75%,#f6fbff 100%);
		position:relative;
		&:before, &:after {
			content:"";
			position:absolute;
			z-index:-2;
			bottom:15px;
			left:10px;
			width:70%;
			height:20%;
			max-width:400px;
			-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
			-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
			box-shadow:0 15px 10px rgba(0, 0, 0, 0.4);
			-webkit-transform:rotate(-3deg);
			-moz-transform:rotate(-3deg);
			-ms-transform:rotate(-3deg);
			-o-transform:rotate(-3deg);
			transform:rotate(-3deg);
		}
		&:after {
			right:10px;
			left:auto;
			-webkit-transform:rotate(3deg);
			-moz-transform:rotate(3deg);
			-ms-transform:rotate(3deg);
			-o-transform:rotate(3deg);
			transform:rotate(3deg);
		}
	}
	&__tabflag {
		text-align: center;
		@media (max-width:991px) {
			img {
				display: inline-block;
			}
		}
	}
	&__head {
		font-size: 25px;
		margin: 15px 0 20px 0;
	}
	&__p {
		font-size: 15px;
		margin: 0;
		margin-bottom: 40px;
		line-height: 1.8;
		display: block;
	}
	&__subhead {
		font-weight: bold;
		color: #b21b2f;
		font-size: 24px;
		margin-bottom: 30px;
		margin-top: 40px;
	}
	&__list {
		list-style: none;
		margin: 0;
		font-size: 15px;
		margin-bottom: 40px;
		li {
			display: block;
			padding-left: 10px;
			position: relative;
			&:before {
				content: '-';
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	&__quote {
		padding-left: 30px;
		border-left: 6px solid #6699cc;
		color: #69c;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 60px;
	}
}
@media (max-width: 1200px) {
	.some-shit {
		display: block;
	}
	.therapy-countries {
		background: url(pics/therapy/worldmap.png) center 50px no-repeat;
		font-family: CenturyGothic;
		.nav-tabs {
			border-bottom: 0;
			text-align: center;
			li {
				display: inline-block;
				float: none;
				width: auto;
			}
		}
	}
}