.page-header.diagnostics {
	.header__m(#76853e, #dcdfcd);
	margin: 0;
}
.diagnostics {
	padding: 60px 0;
	background: url(pics/countries/diagnostics.png) center center no-repeat;
	@media (max-width:991px) {
		background: 0;
	}
	ul {
		&.text-right {
			text-align: right;
		}
		@media (max-width:991px) {
			text-align: left;
			&.text-right {
				text-align: left;
			}
		}
		li {
			margin: 20px 0;
			a {
				color: #484848;
				font-size: 23px;
				.transition;
				border-radius: 50px;
				padding: 5px 15px 5px 25px;
				display: block;
				&:hover {
					background: #697830;
					color: #fff;
				}
			}
		}
	}
}