.page-header.med-header {
	.header__m(#9bb7c7, #e5ecf1);
	margin: 0;
}

.clinic-img{
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 10px;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		max-height: 100%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
}

.med {
	padding-top: 40px;
	padding-bottom: 40px;
	background: url(pics/countries/blue.png) center center;
	background-size: contain;
	position: relative;
	@media (max-width:991px) {
		padding-bottom: 0;
	}
	&__clinic {
		display: block;
		max-width: 200px;
		margin-bottom: 40px;
		&.pull-center {
			margin: 0 auto;
		}
		&.pull-left, &.pull-right, &.pull-center {
			@media (max-width:991px) {
				margin: 0 auto 40px;
				float: none !important;
			}
		}
		.clinic-desc {
			color: #323232;
			font-size: 15px;
			max-width: 200px;
			text-align: center;
		}
		.clinic-city {
			max-width: 200px;
			text-align: center;
			color: #b1b1b1;
			margin-top: 10px;
			.fa {
				font-size: 24px;
				vertical-align: middle;
			}
		}
	}
}
.map {
	width: 576px;
	height: 302px;
	position: absolute;
	background: url(pics/countries/map1.png) center center;
	background-size: contain;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	@media (max-width:991px) {
		display: none;
	}
}