.page-header.resorts {
	.header__m(#972b0e, #e4c8c1);
	margin: 0;
}
.resorts {
	margin-bottom: 50px;
	.container-fluid {
		max-width: 100%;
		padding: 0;
	}
	.row {
		margin: 0;
	}
	.col-md-6 {
		margin: 0;
		padding: 0;
	}
	&__element {
		overflow: hidden;
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
	}
	&__desc {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 15px 70px;
		background: rgba(0,0,0,.7);
		color: #fff;
		font-size: 15px;
		line-height: 1.1;
		b {
			font-size: 25px;
			font-weight: normal;
		}
		a {
			color: #9dbde6;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}