.page-header.treatment {
	.header__m(#789cb2, #dce5eb);
	margin: 0;
}
.treatment {
	background: url(pics/countries/treatment.png) top right no-repeat;
	background-size: contain;
	padding: 50px 0 100px 0;
	margin-bottom: 50px;
	@media (max-width:991px) {
		background: 0;
		padding-bottom: 0;
	}

	ul {
		li {
			margin: 25px 0;
			font-size: 23px;
			color: #789cb2;

		}
	}
}