.discovery {
	padding-bottom: 50px;
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	&__container {
		@media (min-width: 768px) {
			.container;
		}
	}
	&__title {
		margin-bottom: 30px;
		text-align: center;

		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 60px;
		}

		h2 {
			display: inline-block;
			padding: 0 35px;
			padding-bottom: 3px;
			.font(@ff, 5rem, 1);
			background-color: #6699cc;
			color: @white;

			@media (max-width: 767px) {
				.font(@ff, 2.5rem, 1);
				padding: 3px 35px;
				padding-bottom: 6px;
			}

			span {
				position: relative;
				width: 51px;
				height: 51px;
				color: transparent;

				@media (max-width: 767px) {
					color: @white;
				}

				&::before {
					content: "";
					position: absolute;
					bottom: 18px;
					left: 0;
					background: url(pics/history-main/sprite.png) 0 0 no-repeat;
					.stitches-sprite(-10px, -10px, 51px, 51px);

					@media (max-width: 767px) {
						display: none;
					}
				}
			}
		}

		p {
			.font(@ff, 1.6rem);
			color: #6699cc;

			@media (max-width: 767px) {
				.font(@ff, 1.2rem);
			}
		}
	}
	&__item {
		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 30px;
		}
	}
	&__item-content {
		@media (min-width: 414px) {
			min-width: 400px;
			width: 100%;
		}
		@media (min-width: 768px) {
			width: 700px;
		}
		@media (min-width: 992px) {
			max-width: 900px;
			width: 100%;
		}
		@media (max-width: 767px) {
			background-color: rgba(255, 255, 255, 0.8);
		}
		h3 {
			position: relative;
			margin-bottom: 10px;
			.font(@ff, 2.8rem);
			color: #336799;
			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 1.8rem);
			}
			@media (max-width: 991px) {
				.font(@ff, 1.4rem);
			}
			@media (min-width: 992px) {
				&::before {
					content: "...";
					position: absolute;
					top: 0;
					left: -50px;
					.font(@ff, 2.8rem);
					color: #336799;

					@media (min-width: 992px) and (max-width: 1199px) {
						.font(@ff, 1.8rem);
						left: 0;
					}

					@media (max-width: 991px) {
						.font(@ff, 1.4rem);
						left: 0;
					}
				}
			}
		}
		p {
			margin-bottom: 20px;
			.font(@ff, 1.2rem);
			color: #575b60;
			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 1rem);
			}
			@media (max-width: 991px) {
				.font(@ff, 0.9rem);
			}
		}
		a {
			display: inline-block;
			padding: 12px 25px;
			.font(@ff, 1.2rem);
			border: 1px solid #336799;
			background-color: @white;
			color: #575b60;
			.transition;
			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 1rem);
			}
			@media (max-width: 991px) {
				padding: 10px 25px;
				.font(@ff, 0.9rem);
			}
			@media (max-width: 767px) {
				display: block;
				max-width: 250px;
				margin: 0 auto;
				text-align: center;
				background-color: transparent;
			}

			&:hover, &:focus {
				background-color: #336799;
				color: @white;
			}
		}
	}

	&__link-wrap {
		padding-top: 40px;

		@media (max-width: 767px) {
			padding-top: 0;
		}
	}

	&__paginator {
		@media (max-width: 991px) {
			padding-bottom: 50px;
		}
	}
}