.faces-history {
	
	padding-top: 40px;
	padding-bottom: 50px;
	background: url(pics/history-main/faces-history-wp.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	@media (max-width: 991px) {
		padding-top: 0;
		background: none;
	}
	
	&__container {
		.container;
	}
	
	&__title {
		margin-bottom: 55px;
		text-align: center;
		
		h2 {
			.font(@ff,1.5rem);
			color: #3d3d3d;
		}
	}
	
	&__items {
		width: @col-12;
		margin-bottom: 50px;
		
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	
	&__item {
		float: left;
		width: @col-12/5;
		padding: 0 10px;
		
		@media (min-width: 768px) and (max-width: 991px) {
			width: @col-12/3;
			margin-bottom: 40px;
		}
		
		@media (max-width: 767px) {
			width: @col-12/2;
			margin-bottom: 40px;
		}
		
		@media (max-width: 480px) {
			width: @col-12;
			margin-bottom: 30px;
		}
	}
	
	&__img-wrap {
		margin-bottom: 20px;
	}
	
	&__img {
		width: @col-12;
		height: auto;
		max-width: 200px;
		max-height: 200px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}
	
	&__text-content {
		text-align: center;
		
		h3 {
			.font(@ff,1rem,1.4,normal,bold);
			color: #313131;
		}
		
		p {
			.font(@ff,1rem);
			color: #313131;
		}
		
		a {
			.font(@ff,1rem,1.2,normal,bold);
			color: #304e8d;
		}
	}
}