.icons {
  text-align: center;
  @media (min-width: 768px) {
    background:
            url(pics/history-main/history-main-menu-wp-1.jpg) center left no-repeat,
            url(pics/history-main/history-main-menu-wp-2.jpg) center right no-repeat;
  }

  &__link{
    .font(@ff,1.1rem);
    color: #336799;
    .transition;

    &:hover, &:focus {
      font-weight: bold;

      &::before {
        transform: translateX(-50%) translateY(-7px);

        @media (max-width: 767px) {
          transform: translateY(-50%);
        }
      }
    }
  }
}
@media (max-width: 767px){
  .icons__link-text {
    width: ~"calc(100% - 80px)";
  }
}

