.interesting-facts {

	&__title h2{
		margin-bottom: 60px;
		font-family: CenturyGothic, Arial, sans-serif;
		font-size: 1.5rem;
		text-align: center;
		line-height: 1.2;
		font-style: normal;
		font-weight: 400;
		color: #2b2b2b;
	}

	&__wrapper {
		padding-bottom: 100px;
		background: url(pics/history-facts/interesting-facts-wp.jpg) bottom center no-repeat;
		background-size: contain, cover;
	}
	&__img-wrap::before {
		background-image: url(pics/history-main/img-frame_center.png);
	}
	&__item {
		@media (min-width: 1024px) {
			&:nth-child(odd) {
				.interesting-facts__img-wrap {
					&::before {
						background-image: url(pics/history-main/img-frame_left.png);
					}
				}
			}

			&:nth-child(even) {
				.interesting-facts__img-wrap {
					&::before {
						background-image: url(pics/history-main/img-frame_right.png);
					}
				}
			}
		}
	}

	&__text-content {
		line-height: 28px;
		font-size: 16px;
		color: #656565;
		a {
			font-weight: bold;
			color: #5397d2;
			&:hover{
				text-decoration: underline;
			}
		}
		@media (min-width: 768px) {
			line-height: 34px;
			font-size: 18px;
			a{
				font-size: 24px;
			}
		}

	}

}