.medicine-city {
	
	padding-bottom: 50px;
	
	&__container {
		.container;
	}
	
	&__title {
		margin-bottom: 20px;
		text-align: center;
		
		h2 {
			.font(@ff,1.5rem);
			color: #3d3d3d;
		}
	}
	
	&__block-select {
		margin-bottom: 60px;
		padding: 30px 0;
		background-color: #336799;
	}
	
	&__select {
		position: relative;

		
		@media (max-width: 480px) {
			width: @col-12;
		}
	}
	.city-modal__link{
		min-width: 300px;
		&:hover{
			background-color:#86a5c3;
		}
	}
	
	&__caret {
		float: right;
		margin-top: 7px;
		border-width: 7px;
	}
	
	&__dropdownmenu {
		width: @col-12;
		border-radius: 0;
		border: none;
		
		li > a {
			.font(@ff,1rem);
		}
	}
	
	&__item-img {
		
		@media (max-width: 991px) {
			margin-bottom: 40px;
		}
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__item-content {
		position: relative;
	}
	
	&__img-wrap {
		padding: 0;
	}
	
	&__img {
		width: @col-12;
		max-width: 392px;
		margin: 0 auto;
	}
	
	&__img-title {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: @col-12;
		max-width: 392px;
		padding: 15px;
		background-color: rgba(37,94,156,0.7);
		
		h3 {
			text-align: center;
			.font(@ff,1.4rem);
			color: @white;
		}
	}
	
	&__item-news, &__item-news-1, &__item-news-2 {
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__item-news {
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 0;
		}
	}
	
	&__item-news-1, &__item-news-2 {
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 0 10px;
		}
	}
	
	&__item {
		display: block;
		margin-bottom: 40px;
	}
	
	&__link {
		color: #6f6f6f;
	}
	
	&__text-content {
		width: ~"calc(100% - 90px)";
		
		h4 {
			.font(@ff,0.9rem,1.2,normal,bold);
			color: #272727;
		}
		
		time {
			margin-bottom: 5px;
			.font(@ff,0.8rem,1.2,italic);
			color: #a1a1a1;
		}
		
		p {
			.font(@ff,0.9rem);
			color: #6f6f6f;
		}
	}
	
	&__news-wrap {
		position: relative;
		bottom: 0;
		width: 70px;
		height: 70px;
		margin-top: auto;
		margin-right: 16px;
		vertical-align: bottom;
	}
	
	&__text-link {
		color: #6699cc;
		text-decoration: underline;
		.transition;
		
		&:hover, &:focus {
			color: #336799;
			text-decoration: underline;
		}
	}
	.city-modal__link{
		border: none;
	}
}