.popular-sections {
  padding-bottom: 85px;
  @media (max-width: 767px) {
    padding-bottom: 50px;
  }

  &__container {
    .container;
  }

  &__title {
    margin-bottom: 50px;
    text-align: center;

    h2 {
      margin-bottom: 15px;
      .font(@ff,1.5rem);
      color: #2b2b2b;
    }

    p {
      .font(@ff,0.9rem);
      color: #d2d2d2;
    }
  }

  &__articles {
    width: @col-12;
    text-align: center;
  }

  &__article-item {
    position: relative;
    float: left;
    display: block;
    width: @col-12/5;
    text-align: center;
    .font(@ff,1rem);
    color: #54585a;
    .transition;

    @media (max-width: 767px) {
      width: @col-12/3;
      margin-bottom: 30px;
    }

    @media (max-width: 480px) {
      width: @col-12/2;
    }

    &:hover, &:focus {
      color: #336799;

      .popular-sections__article-item__svg {
        transform: translateY(-7px);
      }
    }
  }

  &__article-item__svg {
    display: block;
    width: 80px;
    height: 115px;
    margin: 0 auto;
    transition: all .225s;
  }

  &__article-item-2 {
    width: 85px;
  }

  &__article-item-3 {
    width: 55px;
  }

  &__article-item-4 {
    width: 75px;
  }
}