.mainBanner{
  &__content{
    max-width: 620px;
    width: 100%;
  }
  h1{
    color: #1d5579;
    font-size: 24px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    @media(min-width: 992px){
      font-size: 32px;
    }
    @media(min-width: 1440px){
      font-size: 36px;
    }

  }

  strong{
    font-size: 36px;
    @media(min-width: 1440px){
      font-size: 40px;
    }
  }

  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    @media(min-width: 1024px){
      content: none;
    }
  }

}


.mainBanner._otherInner{

  .diabetInner__banner{
    &-desc{
      max-width:650px;
      width: 100%;
      margin: auto;
      text-align: center;
    }
    &-text{
      font-size: 28px;
      color: #6699cc;
      margin-bottom: 20px;
      font-weight: bold;
      @media(min-width: 768px){
        font-size: 36px;
        margin-bottom: 35px;
      }
    }
    &-title{
      font-size: 24px;
      color: #3d3d3e;
      margin-bottom: 10px;
      font-weight: bold;
      @media(min-width: 768px){
        font-size: 32px;
        margin-bottom: 20px;
      }

    }
  }
}


.mainBanner{
  &._infoInner{

    .diabetInner__banner{
      &-text{
        max-width:650px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: auto;
        text-align: left;
        font-size: 16px;

        font-weight: 600;
        color: #43719f;
        @media(min-width: 768px){
          font-size: 24px;
          font-weight: normal;
        }
      }
    }
  }

  .btn{
    background-color: #fff;
  }

  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    @media(min-width: 1024px){
      content: none;
    }
  }

}