.notice{
  width: 100%;
  padding: 10px 30px;
  margin-bottom: 20px;
  background-color: #e8f2f4;
  font-size: 0;
  text-align: center;
  @media(min-width: 768px){
    text-align: left;
  }
  @media(min-width: 1024px){
    padding: 10px 70px;
  }

  &__icon{
    display: inline-block;
    width: 80px;
    height: 90px;
    margin-bottom: 10px;

    vertical-align: middle;
    background-image: url(pics/diabet-inner/vrach.png);
    background-repeat:no-repeat;
    background-position: center;
    @media(min-width: 768px){
      margin-right: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
    @media(min-width: 1024px){
      margin-right: 70px;
    }
  }

  &__text{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 18px;
    color: #171b62;
    @media(min-width: 768px){
      width:~"calc(100% - 120px)";
    }
    @media(min-width: 1024px){
      width:~"calc(100% - 150px)";
    }
  }

}