<div class="advice-feedback">
    <div class="advice-feedback__container">
        <div class="advice-feedback__content">
            <div class="advice-feedback__title">
                <h2>Задать вопрос специалисту*</h2>
                <span>(только для зарегистрированных пользователей)</span>
            </div>
            <form action="#" class="advice-feedback__form">
                <input class="advice-feedback__field" type="text" placeholder="ФИО">
                <input class="advice-feedback__field phone" type="text" placeholder="Ваш телефон">
                <textarea class="advice-feedback__field" name="question" rows="7"
                          placeholder="Ваш вопрос"></textarea>
                <input class="advice-feedback__field" type="submit" value="Отправить вопрос">
            </form>
        </div>
    </div>
</div>