<div class="page-content n-interesting-content">
  <div class="n-interesting-content__header">@@title:</div>
  <div class="g-grid _col-3 _cont-cent _txt-outer">
    <ul class="g-grid__ul">
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">На каком пульсе нужно питаться чтобы похудеть</div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">На каком пульсе нужно питаться чтобы похудеть</div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">На каком пульсе нужно питаться чтобы похудеть</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>