	<div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 breadcrumbs__wrap">
					<span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
        <a itemprop="item" title="Главная" href="#">
					<span itemprop="name">Главная</span>
					<meta itemprop="position" content="1">
				</a>
					</span>
					<span>Страница</span>
				</div>
			</div>
		</div>
	</div>