<section id="medCentr" class="medCentr">
  <div class="medCentr__title">
    <h2 class="medCentr__title-content">@@title</h2>
  </div>
  <form action="#">
    <div class="container-fluid">
      <div class="inpSearch__wrap">
        <input type="search" name="search" class="inpSearch" id="inpSearchId">
        <label for="inpSearchId" class='inpSearch__placeholder'>Напишите, что вы хотите найти </label>
      </div>
      <div class="row medCentr__selectList">
        <div class="col-md-5">
          <div class="drop _select-input _blue-bor">
            <input class="drop__input" type="text" placeholder="Выберите район">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul">
                  <li class="drop__li">район 1</li>
                  <li class="drop__li">район 2</li>
                  <li class="drop__li">район 3</li>
                  <li class="drop__li">район 4</li>
                  <li class="drop__li">район 5</li>
                  <li class="drop__li">район 6</li>
                  <li class="drop__li">район 7</li>
                  <li class="drop__li">район 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <span class="medCentr__or">или</span>
        </div>
        <div class="col-md-5">
          <div class="drop _select-input _blue-bor">
            <input class="drop__input" type="text" placeholder="Выберите станцию метро">
            <button type="button" class="drop__toggle">
            </button>
            <div class="baron-all baron-all__clipper baron-all__root  drop__items">
              <div class="baron-all__scroller">
                <ul class="drop__ul">
                  <li class="drop__li">метро 1</li>
                  <li class="drop__li">метро 2</li>
                  <li class="drop__li">метро 3</li>
                  <li class="drop__li">метро 4</li>
                  <li class="drop__li">метро 5</li>
                  <li class="drop__li">метро 6</li>
                  <li class="drop__li">метро 7</li>
                  <li class="drop__li">метро 8</li>
                </ul>
              </div>
              <div class="baron-all__track">
                <div class="baron-all__free">
                  <div class="baron-all__bar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="medCentr__search">
      <svg width="30" height="23">
        <use xlink:href="#icon-search-icon"></use>
      </svg>Поиск
    </button>
  </form>
  <div class="g-grid _col-2 _cont-cent _txt-right">
    <ul class="g-grid__ul">
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
      <li class="g-grid__li">
        <a href="#!" title="some-title" class="g-grid__link">
          <div class="g-grid__img-cont">
            <img src="http://placehold.it/350x350" alt="#">
          </div>
          <div class="g-grid__content">
            <div class="g-grid__txt">
              <div class="medCentr__item-title">ООО "МедТорг СПб"  </div>
              <div class="medCentr__item-text">Магазин медицинского оборудования
                ул. Седова, 11, 617, Санкт-Петербург, 192019
                8 (812) 332-09-45
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  @@include('./paginator.html')

  @@if(context.banners){
  @@include('./banners.html')
  }

</section>