<div class="regions-map__content clearfix">
    <h2 class="regions-map__content-title">
        @@title
    </h2>
    <div class="regions-map__map col-lg-8">
        <img src="img/@@img" alt="">
    </div>
    <div class="regions-map__dropdown-wrap col-lg-4">
        <button id="myBtn" data-url="dynamic-blocks/cities.html" class="regions-map__btn city-modal__link">
            <span class="dropdown-select-text">выберите регион</span>
            <span class="caret regions-map__select-caret"></span>
        </button>
        <div class="regions-map__link-wrap">
            <a href="#" title="подробнее" class="regions-map__link">
                <svg class="icon-right-arrow">
                    <use xlink:href="#icon-right-arrow"></use>
                </svg>
                подробнее
            </a>
        </div>
    </div>
    <div id="myModal" class="city-modal__modal"></div>
    <div id="loading" style="display: none">
        Идет загрузка...
    </div>
</div>