<div class="togo-selectwrap therapy-select">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="togo-selectwrap__h2">Подберите для себя лучшую клинику</h2>
        <h3 class="togo-selectwrap__h3">Выберите интересующую Вас проблему, или направление медицины и получите полную информацию</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="drop _select-input _gray-bor">
          <input class="drop__input" type="text" placeholder="Выберите направление">
          <button type="button" class="drop__toggle">
          </button>
          <div class="baron-all baron-all__clipper baron-all__root  drop__items">
            <div class="baron-all__scroller">
              <ul class="drop__ul">
                <li class="drop__li">направление 1</li>
                <li class="drop__li">направление 2</li>
                <li class="drop__li">направление 3</li>
                <li class="drop__li">направление 4</li>
                <li class="drop__li">направление 5</li>
                <li class="drop__li">направление 6</li>
                <li class="drop__li">направление 7</li>
                <li class="drop__li">направление 8</li>
              </ul>
            </div>
            <div class="baron-all__track">
              <div class="baron-all__free">
                <div class="baron-all__bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <span class="togo-selectwrap__or">или</span>
      </div>
      <div class="col-md-5">
        <div class="drop _select-input _gray-bor">
          <input class="drop__input" type="text" placeholder="Выберите Заболевание">
          <button type="button" class="drop__toggle">
          </button>
          <div class="baron-all baron-all__clipper baron-all__root  drop__items">
            <div class="baron-all__scroller">
              <ul class="drop__ul">
                <li class="drop__li">Заболевание 1</li>
                <li class="drop__li">Заболевание 2</li>
                <li class="drop__li">Заболевание 3</li>
                <li class="drop__li">Заболевание 4</li>
                <li class="drop__li">Заболевание 5</li>
                <li class="drop__li">Заболевание 6</li>
                <li class="drop__li">Заболевание 7</li>
                <li class="drop__li">Заболевание 8</li>
              </ul>
            </div>
            <div class="baron-all__track">
              <div class="baron-all__free">
                <div class="baron-all__bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="drop _select-input _gray-bor">
          <input class="drop__input" type="text" placeholder="Выберите страну">
          <button type="button" class="drop__toggle">
          </button>
          <div class="baron-all baron-all__clipper baron-all__root  drop__items">
            <div class="baron-all__scroller">
              <ul class="drop__ul">
                <li class="drop__li">страна 1</li>
                <li class="drop__li">страна 2</li>
                <li class="drop__li">страна 3</li>
                <li class="drop__li">страна 4</li>
                <li class="drop__li">страна 5</li>
                <li class="drop__li">страна 6</li>
                <li class="drop__li">страна 7</li>
                <li class="drop__li">страна 8</li>
              </ul>
            </div>
            <div class="baron-all__track">
              <div class="baron-all__free">
                <div class="baron-all__bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <a href="" class="togo-selectwrap__submit">
          показать подходящие места >
        </a>
      </div>
    </div>
  </div>
</div>