.diagnostics{
  .title(diagnostics, #ad4f52, #d29ea0);

  &__contentWrapper{
    position: relative;
    overflow: hidden;
    background-repeat:no-repeat;
    @media(min-width: 768px){
      height: 630px;
    }
    @media(min-width: 1024px){
      height: 680px;
    }
    &-bg{
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      min-width: 100%;
      min-height: 100%;
      max-width: 130%;
      max-height: 130%;
      transform: translate(-50%, -50%);
      z-index: -1;
      @media(min-width: 768px){
        display: block;
      }
    }
  }

  &__content{
    max-width:1440px;
    width: 100%;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
    @media(min-width: 768px){
      padding-top: 135px;
    }
    @media(min-width: 1024px){
      padding-top: 90px;
    }
  }

  &__item{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #5d7377;
    transition: color 0.15s ease-in;
    @media(min-width: 768px){
      margin-bottom: 0px;
    }
    &-pic{
      position: relative;
      width: 250px;
      height: 250px;
      margin: 0 auto 10px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 7px solid transparent;
      overflow: hidden;
      transition: border 0.15s ease-in;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
      @media(min-width: 768px){
        margin: 0 auto 50px;
      }
      @media(min-width: 1024px){
        width: 350px;
        height: 350px;
      }

    }
    &-title{
      font-size: 30px;
    }


    &:hover{
      color: #ad4f52;
      .diagnostics__item-pic{
        border-color: #ad4f52;
      }
    }

  }

  .link-arrow{
    margin-top: 50px;
  }

}