.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/plastika/plastica-bg.jpg);
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: #787878;
    &:hover {
      color: darken(#787878, 10%);
    }

    &:active {
      color: darken(#787878, 20%);
    }
  }
}