.history-quote {
	

	padding-bottom: 115px;
	
	@media (min-width: 768px) and (max-width: 991px) {

		padding-bottom: 90px;
		padding-top: 320px;
		background-position: top center;
	}
	

	@media (max-width: 991px) {
		padding-top: 50px;
	}
	

	@media (max-width: 767px) {
		padding-bottom: 60px;
	}
	
	&__container {
		.container;
	}
	

	&__img {
		width: @col-12;
		max-width: 507px;
		margin: 0 auto;
	}
	
	&__block-shadow {
		position: relative;
		
		@media (max-width: 767px) {
			padding: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 80%;
			bottom: 10px;

  		left: 20px;

			z-index: -1;
			width: 50%;
			background-color: @history-quote-4;
			box-shadow: 0 15px 10px @history-quote-4;
			transform: rotate(-2deg);
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 80%;
			bottom: 10px;
  		right: 20px;

			z-index: -1;
			width: 50%;
			background-color: @history-quote-4;
			box-shadow: 0 15px 10px @history-quote-4;
			transform: rotate(2deg);
		}
	}
	
	&__content {
		position: relative;
		margin-top: 50px;
		padding: 30px 0;
		padding-left: 90px;
		padding-right: 170px;
		background-color: @history-quote-1;
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding: 30px 40px;
			padding-right: 170px;
		}
		
		@media (max-width: 767px) {
			padding: 20px 25px;
		}
		
		&:before {
			.before(33px, -85px, 130px, 130px);
			content: "“";
			padding-left: 17px;
			.font(@ff,142px);
			background-color: @history-quote-2;
			border: 10px solid @white;
			border-radius: 50%;
			color: @white;
			
			@media (max-width: 991px) {
				display: none;
			}
		}
		
		&:after {
			.before(-56px, auto, 207px, 338px);
			right: 0;
			background: url(pics/history-city/history-quote-bg.png) 0 0 no-repeat;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	
	&__text-content {
		max-width: 700px;
	}
}