.history-city {
	width: @col-12;
	padding-top: 70px;
	padding-bottom: 170px;
	overflow: hidden;
	background: url(pics/history-city/history-sity-wp.png) bottom center no-repeat;
	background-size: cover;
	
	@media (max-width: 767px) {
		padding-bottom: 70px;
		padding-top: 0;
	}
	
	@media (max-width: 480px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container;
	}
	
	&__slider {
		position: relative;
	}
	
	&__slider-item {
		padding: 0 20px;
		padding-top: 25px;
	}
	
	&__slider-item.slick-current + &__slider-item  {
		padding-top: 0;
		
		.history-city__img-wrap {
			width: 345px;
			height: 345px;
			
			@media (min-width: 992px) and (max-width: 1199px) {
				width: 280px;
				height: 280px;
			}
			
			&::before {
				display: none;
			}
		}
		
		.history-city__item-title {
			.font(@ff,25px);
		}
		
		.history-city__img {
			opacity: 1;
		}
	}
	
	&__img-wrap {
		position: relative;
		width: 230px;
		height: 230px;
		margin: 0 auto;
		margin-bottom: 15px;
		
		@media (max-width: 991px) {
			width: @col-12;
			height: auto;
			max-width: 345px;
			max-height: 345px;
		}
		
		&::before {
			.before(50%,50%,200px,200px);
			z-index: 0;
			transform: translate(-50%,-50%);
			border-radius: 50%;
			overflow: hidden;
			background: url(pics/history-city/history-sity-dec.png) 0 0 no-repeat;
			
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	
	&__img {
		width: @col-12;
		border-radius: 50%;
		overflow: hidden;
		opacity: 0.7;
	}
	
	&__item-title {

		.font(@ff,1rem);
		text-align: center;
		color: @reform-5;
		
		@media (max-width: 991px) {
			.font(@ff,1.5rem);
		}
	}
	
	&__slick-prev, &__slick-next {
		width: 70px;
		height: 70px;
		background: none;
		opacity: 1;
		color: #6699cc;
		.transition;
		
		i {
			font-size: 50px;
		}
		
		&:hover {
			color: darken(#6699cc, 10%);
			
			@media (max-width: 479px) {
				color: transparent;
			}
		}
		
		&:active {
			color: transparent;
		}
	}
	
	&__slick-prev {
		top: 50%;
		left: 50%;
		transform: translate(-240px, -60%);
		
		@media (min-width: 992px) and (max-width: 1199px) {
			transform: translate(-200px, -60%);
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			transform: translate(-240px, -60%);
		}
		
		@media (max-width: 767px) {
			left: -5%;
			transform: translate(0,-60%);
		}
		
		@media (max-width: 480px) {
			top: 45%;
		}
	}
	
	&__slick-next {
		top: 50%;
		right: 50%;
		transform: translate(240px, -60%);
		
		@media (min-width: 992px) and (max-width: 1199px) {
			transform: translate(200px, -60%);
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			transform: translate(240px, -60%);
		}
		
		@media (max-width: 767px) {
			right: -5%;
			transform: translate(0,-60%);
		}
		
		@media (max-width: 480px) {
			top: 45%;
		}
	}
}