.history-hospital {
	
	.title(history-hospital, @online-services-1, @online-services-2);
	
	&__content {
		max-width: 1440px;
		margin: 0 auto;
		padding-top: 70px;
		padding-bottom: 50px;
		
		@media (max-width: 767px) {
			padding-top: 50px;
		}
	}



	&__item {
		margin-bottom: 90px;
		
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
	
	&__item-last {
		margin-bottom: 55px;
	}
	
	&__img-wrap {
		position: relative;
		padding: 0;
		
		&::before {
			.before(50%,-41px,86px,82px);
			transform: translateY(-50%);
			background: url(pics/history-city/history-hospital-dec.png) 0 0 no-repeat;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	
	&__img-wrap-l {
		&::before {
			.before(50%,auto,86px,82px);
			right: -41px;
		}
	}
	
	&__img {
		width: @col-12;
	}
	
	&__img-l {
		border-top-right-radius: 130px;
		border-bottom-right-radius: 130px;
		overflow: hidden;
		
		@media (max-width: 767px) {
			border-radius: 0;
		}
	}
	
	&__img-r {
		border-top-left-radius: 130px;
		border-bottom-left-radius: 130px;
		overflow: hidden;
		
		@media (max-width: 767px) {
			border-radius: 0;
		}
	}
	
	&__text-content {
		padding: 0 75px;
		padding-top: 30px;
		
		@media (max-width: 1199px) {
			padding-top: 10px;
		}
		

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 0 60px;
		}
		
		@media (max-width: 767px) {
			padding: 30px 20px;
		}
	}
	
	&__item-title {
		.font(@ff,26px);
		color: @history-hospital-1;
		
		@media (max-width: 991px) {
			.font(@ff,24px);
		}
		
		@media (max-width: 767px) {
			.font(@ff,22px);
		}
	}
	
	&__item-content {
		.font(@ff,18px);
		color: @history-hospital-2;
		
		@media (max-width: 991px) {
			.font(@ff,16px);
		}
		
		@media (max-width: 767px) {
			.font(@ff,16px);
		}
	}
}