.reform {

	&__container {
		.container;
	}

	&__header {
		position: relative;
		margin: 0 auto;
	}

	&__header-img {
		width: @col-12;
	}

	&__title {
		position: absolute;
		top: 185px;
		left: 250px;
		width: 339px;
		height: 95px;
		background: url(pics/history-city/reform-title.png) 0 0 no-repeat;

		h2 {
			font-size: 0;
		}

		@media (min-width: 768px) and (max-width: 1199px) {
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
		}

		@media (max-width: 767px) {
			top: 20%;
			left: 50%;
			transform: translateX(-50%);
			width: 300px;
			margin: 0 auto;
			background-size: 300px 70px;
		}

		@media (max-width: 480px) {
			display: none;
		}
	}

	&__header-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: @col-12;
		padding: 15px 0;
		background-color: @reform-1;
	}

	&__header-text {
		.font(@ff,18px);
		color: @white;

		@media (max-width: 767px) {
			.font(@ff,16px);
		}
	}

	&__header-link {
		color: @reform-2;

		&:hover {
			text-decoration: underline;
		}

		&:focus {
			color: darken(@reform-2,10%);
			text-decoration: underline;
		}
	}

	&__items {
		padding-top: 30px;
	}

	&__item {
		margin-bottom: 30px;

		&._center{
			.reform__item-text{
				&::before {
					background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.57) 38%, rgba(255, 255, 255, 0.28) 64%, rgba(255, 255, 255, 0.28) 72%), url(pics/history-city/reform-item-dec-r.png);
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					overflow: hidden;
				}
			}
		}
		@media (min-width: 992px) {
			&._left {
				.reform__item-text {
					&::before {
						background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.57) 38%, rgba(255, 255, 255, 0.28) 64%, rgba(255, 255, 255, 0.28) 72%), url(pics/history-city/reform-item-dec-r.png);
					}
				}
			}

			&._right {
				.reform__item-text {
					&::before {
						background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.57) 38%, rgba(255, 255, 255, 0.28) 64%, rgba(255, 255, 255, 0.28) 72%), url(pics/history-city/reform-item-dec.png);
					}
				}
			}
		}
	}

	&__item-text {
		width: @col-12;
		height: 100%;

		@media (min-width: 992px) {
			width: 950px;
		}

		@media (max-width: 767px) {
			position: relative;
		}

		&::before {
			.before(50%,50%,446px,446px);
			transform: translate(-50%,-50%);
			background-repeat: no-repeat;
			background-position: 0 0;


			@media (min-width: 768px) {
				border-radius: 50%;
				background-image: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0.57) 38%, rgba(255,255,255,0.28) 64%, rgba(255,255,255,0.28) 72%), url(pics/history-city/reform-item-dec.png);
				overflow: hidden;
			}

			@media (min-width: 992px){
				border-radius: 0;
				background-image: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,0.57) 38%, rgba(255,255,255,0.28) 64%, rgba(255,255,255,0.28) 72%), url(pics/history-city/reform-item-dec.png);
				overflow: initial;
			}


			@media (max-width: 767px) {
				width: 280px;
				height: 280px;
				background-size: 280px 280px;
			}
		}
	}

	&__item-text-r {
		right: auto;
		left: 0;
		&::before {
			background: url(pics/history-city/reform-item-dec-r.png) 0 0 no-repeat;
		}
	}

	&__text-content {
		text-align: center;
		width: 100%;
		@media(min-width: 414px){
			width: 400px;
			position: absolute;
			.center;
		}
		@media(min-width: 768px){
			max-width: 300px;
			width: 100%;
		}

	}

	&__item-title {
		margin-bottom: 20px;
		font-family: CenturyGothic, Arial, sans-serif;
		font-size: 30px;
		line-height: 1.2;
		font-style: normal;
		font-weight: 400;
		color: @reform-5;
	}



	&__item-link {
		display: inline-block;
		padding: 5px 30px;
		.font(@ff,20px);
		border: 1px solid @reform-5;
		color: @reform-5;
		.transition;

		&:hover, &:focus {
			background-color: @reform-5;
			color: @white;
		}
	}
}