.mud-resort {
	.page-header {
		.header__m(#a3274a, #cc889c);
		margin-bottom: 40px;
		margin-left: 0;
		margin-right: 0;
	}
	.container-fluid {
		max-width: 100%;
		padding: 0;
		.row, .col-md-12 {
			margin: 0;
		}
	}
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 30px;
	}
	.nav-tabs>li {
		width: 50%;
		a.mud-resort__tabhead {
			display: block;
			width: 255px;
			height: 63px;
			text-align: center;
			padding: 10px;
			border:3px solid #969696;
			color: #919191;
			font-size: 30px;
			margin: 0 auto;
			border-radius:0;
			.transition;
			&:hover {
				text-decoration: none;
				color: #b97113;
				border-color:#b97113;
				background: #fff;
			}
		}
	}

	.tab-pane {
		margin: 0 -15px;
	}
	&__el {
		position: relative;
		margin-bottom: 20px;
	}

	&__eldesc {
		background: rgba(0,0,0,.5);
		padding: 14px 120px;
		font-family: CenturyGothic;
		color: #fff;

		.line1 {
			font-size: 30px;
		}
		.line2 {
			font-size: 18px;

			a {
				color: #1ac8c2;
				border-bottom: 1px solid #1ac8c2;
				.transition;
				&:hover {
					color: #1ac8c2;
					text-decoration: none;
					border-bottom-color: transparent;
				}
			}
		}
	}


	.nav-tabs>li.active {
		a {
			text-decoration: none;
			color: #b97113;
			border-color:#b97113;
		}
	}
}
@media (max-width: 991px) {
	.mud-resort {
		&__eldesc {
			padding: 20px;
			.line1 {
				font-size: 18px;
			}
			.line2 {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 768px) {
	.mud-resort {
		.nav-tabs > li {
			width: 100%;
			margin-bottom: 15px;
		}
	}
}