.n-mud {
	padding-top: 40px;
	margin-top: 65px;
	padding-left: 70px;
	padding-right: 70px;
	background: -moz-linear-gradient(top, rgba(237,253,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(237,253,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(237,253,255,1) 0%,rgba(255,255,255,0) 100%);
	position: relative;
	&:before {
		content: '';
		width: 391px;
		height: 264px;
		position: absolute;
		top: 110px;
		left: 0;
		background: url(pics/resort/planes.png) no-repeat;
	}
	h2 {
		margin: 0;
		color: #363636;
		font-size: 2.5vw;
		margin-top: -10px;
	}
	.col-nopadding {
		margin-bottom: 80px;
	}
	.col-nopadding .col-md-6 {
		padding: 0;
	}
	p {
		color: #363636;
		font-size: 18px;
		margin-bottom: 120px;
	}
	&__img {
		height: 415px;
		display: block;
		position: relative;
		border:1px solid #fff;

		img {
			height: 415px;
			width: 100%;
			display: block;
			object-fit:cover;
		}
		&:hover .n-mud__label {
			text-decoration: underline;
		}
	}
	&__label {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		line-height: 90px;
		background: rgba(36,40,39,.73);
		z-index: 10;
		color: #fff;
		font-size: 24px;
		font-family: CenturyGothic;
	}
}

@media (max-width:991px) {
	.n-mud {
		padding: 10px 0;
		h2 {
			margin-top: 20px;
			font-size: 20px;
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 15px;
			font-size: 14px;
		}
		&__label {
			line-height: 1.3;
			font-size: 16px;
			padding: 20px 0;
		}
	}
}