.resort-wrap {
    padding: 60px 55px;
    background: #f7fafc url(pics/resort/resort-bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 450px;
        left: 125px;
        right: 70px;
        height: 245px;
        transform: translate(0, -50%);
        background: url(pics/resort/round-bg.png) no-repeat;
        background-size: 95% auto;
        max-width: 1366px;
        margin: 0 auto;

    }
    .max-width {
        max-width: 1366px;
        margin: 0 auto;
    }
    h1 {
        color: #1a85c7;
        text-align: center;
        margin: 0;
        font-weight: bold;
        font-family: CenturyGothic;
        font-size: 30px;
        margin-bottom: 55px;
    }
    &__roundwrap {
        text-align: center;
        display: block;
        transition: all .25s;
        cursor: pointer;
        &:hover,
        &.active {
            transform: scale(1.1);
        }
    }
    &__round {
        width: auto;
        height: 100%;
        position: relative;
        text-align: center;
        margin: 10px auto;
        img {
            border-radius: 100%;
            object-fit: cover;
            width: 100%;
            padding: 35px;
            height: 100%;
        }
        &:before {
            content: '';
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(pics/resort/round-border.png);
            background-size: 100% 100%;
        }
    }
    &__roundtext {
        color: #224048;
        font-size: 18px;
        font-family: CenturyGothic;
    }
}

@media (max-width:991px) {
    .resort-wrap {
        padding: 20px 0;
    }
    .resort-wrap h1 {
        font-size: 18px;
    }
    .n-mud p {
        font-size: 14px;
    }
    .page-imgheader.resort-innerhead .page-imgheader__desc {
        font-size: 22px;
        height: 70px;
        line-height: 70px;
    }
    .resort-wrap__roundtext {
        font-size: 14px;
    }
    .resort-feed__p {
        font-size: 16px;
        margin: 20px 0;
    }
    .resort-wrap {
        &:after {
            display: none;
        }
        &__roundwrap {
            margin: 20px auto 30px auto !important;
            max-width: 50%;
        }
    }
}

@media (max-width:640px) {
    .resort-wrap {
        &__roundwrap {
            max-width: 100%;
        }
    }
}