.n-menu {
	color: #565656;	
	font-family: CenturyGothic;
	margin-bottom: 80px;
	&__border {
		
		text-align: right;
		position: relative;
		padding: 60px 40px 60px 0;
		z-index: 1;
		&:before {
			background-image: linear-gradient(to right, rgba(210, 215, 217, 0.8) 130px, transparent 130px), 
			linear-gradient(to right, rgba(210, 215, 217, 0.8) 130px, transparent 130px), 
			linear-gradient(to bottom, rgba(210, 215, 217, 0.8) 130px, transparent 130px), 
			linear-gradient(to bottom, rgba(210, 215, 217, 0.8) 130px, transparent 130px);
			background-size: 100% 25px, 100% 25px, 25px 100%, 25px 100%;
			background-position: -65px 0%, -65px 100%, 0% -65px, 100% -65px;
			background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;

		}
		&:after {
			content: '';
			position: absolute;
			width: 344px;
			height: 370px;
			background: url(../img/apple.png);
			top: 15px;
    		left: -166px;
			z-index: -1;
		}
		@media (max-width: 991px) {
			padding: 30px;
		}
	}
	h3 {
		font-size: 57px;
		margin: 0;
		@media (max-width: 640px) {
			text-align: center;
			font-size: 28px;
		}

		.bottom {
			font-size: 54px;
			@media (max-width: 640px) {
				font-size: 24px;
			}
		}
	}
	.bottom2 {
		font-size: 30px;
		@media (max-width: 640px) {
			font-size: 24px;
			text-align: center;
		}
	}
	&__create-link {
		display: inline-block;
		font-size: 20px;
		color: #040404;
		border:1px solid #040404;
		padding: 4px 0;
		display: block;
		width: 185px;
		text-align: center;
		margin: 0 auto;
		margin-top: 35px;
		opacity: .8;
		.transition;
		&:hover {
			text-decoration: none;
			color: #040404;
			opacity: 1;
		}
	}
}