.n-graphresult {
	font-family: CenturyGothic;
	margin-bottom: 90px;
	padding: 0 15px;

	&__graphheader {
		color: #84888f;
		font-size: 30px;
		padding: 0 15px;
	}
	&__graphsubheader {
		font-size: 18px;
		color: #84888f;	
		padding: 0 15px;
	}
	&__container {
		margin-top: 50px;
	}
	&__graphtext {
		color: #1f7eae;
		font-size: 18px;
		line-height: 1;
		height: 36px;
		vertical-align: middle;
		display: table;
		width: 100%;
		span {
			display: table-cell;
			text-align: right;
			vertical-align: middle; 
		}
	}
	&__graphlinewrap {
		padding-right: 70px;
	}
	&__graphline {
		height: 36px;
		background: #b6dcfc;
	}
	&__linetext {
		position: absolute;
		height: 36px;
		width: 70px;
		line-height: 36px;
		text-align: center;
		color: #1f7eae;
		font-size: 18px;
		top: 0;
	}
}
@media (max-width:991px) {
	.n-graphresult {
		&__graphtext {
			margin-bottom: 10px;
			span {
				text-align: center;
			}
		}
	}
}