
.therapy-clinics {
    padding: 40px;
    background: #f4f9fb;
    color: #4c4c4c;
    @media(max-width: 991px) {
        padding: 40px 0;
    }
    h2 {
        color: #155a83;
        font-size: 26px;
        margin-top: 0;
        text-align: center;
        font-weight: normal;
        @media(max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    &__head {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
        &:hover {
            text-decoration: underline;
        }
    }
    /*~~~custom styles for txt_right~~~*/
    .g-grid{
        max-width: 1440px;
        padding-top: 50px;
        &._col-2._txt-right .g-grid__li{
            width: 100%;
            @media (min-width: 1200px) {
                width: 50%;
            }
        }
        &__ul{
            vertical-align: middle;
        }
        &__li{
            vertical-align: middle;
        }
        &__link{
            max-width: 768px;
        }
        &__img-cont{
            width: 200px;
            height: 200px;
            @media(min-width: 992px){
                width: 150px;
                height: 150px;
            }
            @media(min-width: 1440px){
                width: 250px;
                height: 250px;
            }
        }
        &__content{
            padding-top: 0;
            font-size: 1rem;
            color: #4c4c4c;
            @media(min-width: 768px){
                width: ~'calc(100% - 200px)';
            }

            @media(min-width: 992px){
                width: ~'calc(100% - 150px)';
            }
            @media(min-width: 1440px){
                width: ~'calc(100% - 250px)';
            }
        }

    }
    /*~~~END custom styles for txt_right~~~*/
}