.therapy-diseases {
	padding: 20px 0px 30px 0;
	color: #1e6288;
	h2 {
		font-size: 26px;
		margin-bottom: 60px;
		margin-top: 0;
		text-align: center;
		font-weight: normal;
		color: #000;
	}
	&__img {
		margin-bottom: 40px;
		text-align: center;
		img {
			display: inline-block;
		}
	}
	&__head {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
	}
	&__ul {
		max-width: 200px;
		margin: 0 auto;
		list-style: none;
		margin-bottom: 30px;
	}
	&__li {
		position: relative;
		padding-left: 25px;
		margin: 15px 0;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			width: 8px;
			height: 9px;
			background: #1e6288;
		}
	}
	&__link {
		color: #1e6288;
		font-size: 15px;
		border-bottom-color: transparent;
		.transition;
		&:hover {
			border-bottom: 1px solid  #1e6288;
		}
	}
}