.therapy-law {
    margin-bottom: 45px;
    h2 {
        color: #669acc;
        font-size: 25px;
        margin-bottom: 50px;
        margin-top: 60px;
        text-align: center;
        font-weight: normal;
        @media (max-width: 991px) {
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
    ul {
        margin-bottom: 65px;
    }
}

ul.content-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 30px;
    text-align: center;
    @media (max-width: 640px) {
        padding-left: 0;
    }
    li {
        position: relative;
        padding-left: 35px;
        color: #3a7ba7;
        margin: 15px 0;
        display: inline-block;
        width: auto;
        &:after {
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            background: #3a7ba7;
            top: 5px;
            left: 0;
        }
        a {
            color: #3a7ba7;
            border-bottom: 1px solid #3a7ba7;
            text-decoration: none;
            .transition;
            &:hover {
                border-bottom-color: transparent;
            }
        }
    }
}