.news-tabs {

	h2 {
		color: #669acc;
		font-size: 25px;
		margin-bottom: 20px;
		margin-top: 60px;
		text-align: center;
		font-weight: normal;
	}
	&__control {
		&-link {
			color: #434343;
			&:hover, &.active {
				background-color: #669acc;
				color: #fff;
			}
			&.active {
				&::before {
					border-color: transparent #669acc transparent transparent;
				}
			}
		}
	}
	&__content {
		&-link {
			color: #4a4a4a;
			background-color: rgba(255, 255, 255, 0.5);
			&__title {
				font-weight: bold;
				font-size: 25px;
			}
			&__desc {
				font-size: 18px;
			}
		}
	}
}
