.help-slider {
	overflow: hidden;
	.page-slider {
		&__slide {
			background: #eff6ff;
			padding: 75px 100px;
			@media (max-width:991px) {
				padding: 10px;
			}
		}
	}
	&__img {
		width: 300px;
		height: 300px;
		overflow: hidden;
		border-radius: 100%;
		@media (max-width:991px) {
			width: 200px;
			height: 200px;
			display: block;
			margin: 0 auto;
			margin-bottom: 30px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__text {
		color: #3b4651;
		font-size: 20px;
		@media (max-width:991px) {
			font-size: 14px;
		}
		.name {
			font-size: 38px;
			@media (max-width:991px) {
				font-size: 18px;
			}
		}
		.city {
			font-size: 18px;
			font-style: italic;
			display: inline-block;
			margin-bottom: 25px;
			@media (max-width:991px) {
				font-size: 12px;
			}
		}
		.link {
			display: inline-block;
			color: #3a7ba7;
			border-bottom: 1px solid  #3a7ba7;
			text-decoration: none;
			margin-bottom: 25px;
			@media (max-width:991px) {
				font-size: 14px;
			}
			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
	.slick-arrow {
		background: #74a8d5;
		color: #fff;
	}
}

.therapy-inner-slider {
	.page-slider {
		.slide {
			max-height: 577px;
		}
		&__text {

		}
		&__q {
			color: #364045;
			font-size: 36px;
		}
	}

	&__content{
		@media(min-width: 414px){
			min-width: 400px
		}
		@media(min-width: 768px){
			min-width: 600px;
		}
	}

}