.therapy-tech {
	h2 {
		color: #669acc;
		font-size: 25px;
		margin-bottom: 20px;
		margin-top: 60px;
		text-align: center;
		font-weight: normal;
	}
	&__inner {

	}
	&__innertext {
		display: block;
		color: #fff;
		width: 100%;
		text-align: right;
		@media (min-width: 414px) {
			width: 400px;
		}
		@media (min-width: 470px) {
			width: 470px;
		}

		@media (max-width: 991px) {
			color: #fff;
			text-align: center;
		}
		span {
			background: #2a649c;
			display: inline-block;
			height: 56px;
			line-height: 56px;
			padding: 0 20px;
			margin-bottom: 10px;
			@media (max-width: 991px) {
				display: block;
			}
			&.row1 {
				font-size: 38px;
				width: 470px;
				@media (max-width: 991px) {
					font-size: 24px;
					width: auto;
					padding: 0 5px;
				}
			}
			&.row2 {
				font-size: 30px;
				@media (max-width: 991px) {
					font-size: 18px;
				}
			}
		}
	}
}