.decret-result {
	
	padding-bottom: 65px;
	
	&__container {
		.container;
	}
	
	&__content {
		width: 500px;
		margin: 0 auto;
		text-align: center;
		
		@media (max-width: 767px) {
			width: @col-12;
		}
		
		h2 {
			margin-bottom: 50px;
			.font(@ff,1.5rem);
			color: #4f5764;
			
			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
	}
	
	&__input-wrap {
		position: relative;
		min-width: 425px;
		height: 245px;
		background: url(pics/calc-decret/decret-result-dec.jpg) center center no-repeat;
		
		@media (max-width: 767px) {
			min-width: 0;
			height: auto;
			background: none;
		}
	}
	
	&__input {
		position: absolute;
		.center;
		top: 55%;
		text-align: center;
		border: none;
		outline: none;
		.font(@mp,2.2rem);
		color: #002b65;
		
		@media (max-width: 767px) {
			position: relative;
			top: 0;
			left: 0;
			padding: 10px;
			border: 1px solid #002b65;
			border-radius: 20px;
			transform: none;
			.font(@mp,1.4rem);
		}
	}
}