.decret-wrap {
	background: 
		url(pics/calc-decret/decret-wrap-1.jpg) center left no-repeat,
		url(pics/calc-decret/decret-wrap-2.jpg) top right no-repeat;
		
	
	@media (max-width: 991px) {
		background: none;
	}
}

