.decret-block {
	margin-bottom: 75px;
	&__text-content {
		text-align: right;
		@media (min-width: 414px) {
			min-width: 400px;
		}
		@media (max-width: 991px) {
			padding: 20px 10px;
			padding-bottom: 30px;
			text-align: center;
			background-color: rgba(255,255,255,0.7);
		}

		h3 {
			margin-bottom: 15px;
			.font(@h,2rem,1.2);
			color: #359281;

			@media (max-width: 767px) {
				.font(@h,2.3rem,1);
			}
		}

		p {
			margin-bottom: 25px;
			.font(@h,2rem,1.25rem);
			color: #359281;

			@media (max-width: 767px) {
				.font(@h,1.3rem);
			}
		}

		a {
			padding: 3px 20px;
			padding-bottom: 7px;
			.font(@h,1.5rem);
			color: #359281;
			border: 1px solid #359281;
			.transition;

			&:hover, &:focus {
				background-color: #359281;
				color: @white;
			}
		}
	}
}
