.decret-form {

	&__container {
		.container;
	}

	&__form {
		text-align: center;
	}

	&__block-1 {
		display: table;
		margin: 0 auto;
		margin-bottom: 110px;

		@media (max-width: 991px) {
			display: block;
			margin-bottom: 30px;
		}
	}

	&__field-3, &__field-4, &__field-5 {
		margin-bottom: 50px;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}

	&__field-1, &__field-2 {
		display: table-row;

		@media (max-width: 991px) {
			display: block;
			margin-bottom: 30px;
		}
	}

	&__field-6 {
		margin-bottom: 35px;
	}

	&__label {
		display: block;
		margin-bottom: 50px;
		.font(@h,30px);
		color: #5a5a5a;

		@media (max-width: 991px) {
			.font(@h,1.2rem);
			margin-bottom: 10px;
		}

		&_table {
			display: table-cell;
			margin-bottom: 0;
			padding-top: 50px;
			padding-right: 120px;
			text-align: right;

			@media (max-width: 991px) {
				display: block;
				margin-bottom: 10px;
				padding: 0;
				text-align: center;
			}
		}
	}

	&__dashed {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__select {
		position: relative;
		display: inline-block;

		&_table {
			display: table-cell;

			@media (max-width: 991px) {
				display: block;
			}
		}

		&_dashed {
			margin: 0 57px;

			@media (max-width: 767px) {
				float: left;
				width: @col-6;
				margin: 0;
			}

			@media (min-width: 768px) and (max-width: 991px) {
				margin: 0 37px;
			}
		}
	}

	&__dropdownbtn {
		position: relative;
		display: inline-block;
		width: 230px;
		padding: 6px 30px;
		.font(@m,1.5rem);
		border: 1px solid #a1a1a1;
		background-color: #fff;
		color: #424242;

		@media (max-width: 767px) {
			width: @col-12;
		}

		&_long {
			width: 335px;
			text-align: left;

			@media (max-width: 767px) {
				width: @col-12;
			}
		}
	}

	&__caret {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		border-width: 7px;
	}

	&__dropdownmenu {
		width: @col-12;
		margin-top: -1px;
		.font(@m,1.2rem);
		text-align: center;
		border-radius: 0;
		z-index: 1000;

		&_left {
			text-align: left;

			li {
				padding-left: 15px;
			}
		}

		@media (max-width: 767px) {
			min-width: 0;
		}
	}

	&__input {
		width: 230px;
		margin: 0 67px;
		padding: 6px 30px;
		.font(@m,1.5rem);
		border: 1px solid #a1a1a1;
		text-align: center;
		background-color: #fff;
		color: #424242;

		@media (min-width: 768px) and (max-width: 991px) {
			margin: 0 47px;
		}

		@media (max-width: 767px) {
			float: left;
			width: @col-6;
			margin: 0;
		}

		&_value {
			@media (max-width: 767px) {
				float: none;
				width: @col-12;
			}
		}
	}

	&__btn {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		padding: 10px 90px;
		.font(@ff,1.9rem);
		cursor: pointer;
		outline: none;
		border: none;
		background-color: #b3d948;
		color: #fff;
		.transition;

		&:hover, &:focus {
			background-color: darken(#b3d948,10%);
		}

		@media (max-width: 767px) {
			width: @col-12;
			padding: 10px;
			.font(@ff,1.5rem);
		}
	}

	&__reset {
		.font(@ff,14px);
		cursor: pointer;
		outline: none;
		border: none;
		background: none;
		color: #666666;
		border-bottom: 1px dashed transparent;
		.transition;

		&:hover, &:focus {
			border-bottom: 1px dashed #666666;
			color: darken(#666666,15%);
		}
	}
}