.alphabet {
	margin-bottom: 50px;
	text-align: center;
	
	&._urology {
		margin-bottom: 0;
		@media(min-width: 992px){
			margin-bottom: 100px;
		}
		li > a:hover, li > a:focus {
			
			&::before {
				background-color: #841635;
			}
		}
	}
		
	li {
		display: inline-block;
	}
	
	&__item {
		position: relative;
		z-index: 10;
		display: block;
		margin: 5px 0;
		padding: 7px 12px;
		.font(@ff,1.4rem);
		color: #373737;
		.transition;
		
		&:hover, &:focus {
			color: @white;
			
			&::before {
				background-color: #336799;
			}
		}
		
		&::before {
			.before(50%,50%,40px,40px);
			z-index: -1;
			transform: translate(-50%, -50%);
			background-color: transparent;
			.transition;
		}
	}
	
	&_history-faces {
		
		.alphabet__item {
			color: #336799;
			
			&:hover, &:focus {
				color: @white;
			}
		}
		
		&::before {
			position: relative;
		}
	}
}