.btn{
  display: inline-block;
  padding: 10px 40px;
  transition-property: background, border,color;
  transition-duration: .5s;
  cursor: pointer;

  &._blue{
    background-color: @btn-blue-color;
    color: @white;
    &:hover{
      background-color: @btn-blue-hov-color
    }
  }
  &._yellow{
    background-color: #efad44;
    color: @white;
    &:hover{
      background-color: #f5edc9;
      color: #efad44;
    }
  }
  &._tran{
    &._white{
      color: #fff;
      border: 1px solid #fff;
      &:hover{
        border-color: #BFBFBF;
      }
    }
    &._black{

      color: @black;
      border: 1px solid @black;
      &:hover{
        border-color: #BFBFBF;
      }
    }

    &._gray{
      color: @gray;
      border: 1px solid @gray;
      &:hover{
        color: @black;
        border-color: transparent;
      }
    }

    &._red{
      color: @orange;
      border: 1px solid @orange;
      &:hover{
        color: @white;
        background-color: @btn-orange-hov-color;
        border-color: transparent;
      }
    }

    &._dark-green {
      color: #4b5e43;
      border: 1px solid #00381d;
      &:hover {
        color: @white;
        background-color: #00381d;
        border-color: transparent;
      }
    }

  }


}