.n-calcform {
    margin-top: 70px;
    padding: 0 15px;
    @media (max-width: 991px) {
        padding: 0;
        margin-top: 40px;
    }
    &__formula {
        max-width: 255px;
        @media (max-width: 991px) {
            margin: 40px 0;
            max-width: 100%;
        }
        &:first-child {
            margin-top: 40px;
        }
        color: #002b65;
        font-size: 18px;
        font-family: CenturyGothic;
        margin-top: 200px;
        margin-left: 50px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 436px;
            height: 436px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url(pics/calories/text-bg.jpg);
            z-index: -1;
            @media (max-width: 991px) {
                display: none;
            }
        }
        &:first-child {
            &:after {
                width: 350px;
                height: 106px;
                position: absolute;
                content: '';
                bottom: -60px;
                left: -277px;
                background: url(pics/calories/pinktir1.png) no-repeat;

            }
        }
        &:last-child {
            &:after {
                width: 350px;
                height: 106px;
                position: absolute;
                content: '';
                top: -90px;
                right: -140px;
                background: url(pics/calories/pinktir2.png) no-repeat;

            }
        }
    }
    &__h2 {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 36px;
        color: #424242;
        margin-top: 0;
        margin-bottom: 30px;
        @media (max-width: 640px) {
            line-height: 1;
            margin: 0 0 20px;
            font-size: 30px;
        }
    }
    &__form {
        margin-left: 50px;
        width: 100%;
        max-width: 635px;
        text-align: center;
        @media (max-width: 991px) {
            margin: 0 auto;
        }
        .form-border {
            background-image: linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to right, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px), linear-gradient(to bottom, #9fd5e2 80px, transparent 80px);
            background-size: 100% 5px, 100% 5px, 5px 100%, 5px 100%;
            background-position: -40px 0%, -40px 100%, 0% -40px, 100% -40px;
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            padding: 35px 0;
        }
        .form-group {
            position: relative;
            margin-bottom: 25px;
        }
    }
    &__input,
    &__select {
        font-family: CenturyGothic;
        color: #5a626c;
        font-size: 16px;
        padding: 13px 10px;
        border: 1px solid #545454;
        width: 100%;
    }
    &__leftcaption,
    &__rightcaption {
        font-family: CenturyGothic;
        color: #424242;
        font-size: 18px;
        text-align: right;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 30%;
        word-wrap: break-word;
        @media (max-width: 991px) {
            margin: 0 0 7px;
        }
    }
    &__rightcaption {
        right: 0;
        left: auto;
        text-align: left;
        @media (max-width: 991px) {
            position: relative;
            width: 100%;
            text-align: center;
            top: auto;
            transform: none;
            right: auto;
        }
    }
    &__leftcaption {
        @media (max-width: 991px) {
            position: relative;
            width: 100%;
            text-align: center;
            top: auto;
            transform: none;
        }
    }
    &__button {
        padding: 9px 40px;
        background: #b3d948;
        border: none;
        font-family: CenturyGothic;
        font-size: 30px;
        color: #fff;
        opacity: .8;
        .transition;
        margin-top: 45px;
        margin-bottom: 70px;
        &:hover {
            opacity: 1;
        }
    }
    &__caption {
        font-weight: bold;
        font-family: CenturyGothic;
        color: #313131;
        font-size: 31px;
    }
    &__map {
        margin-top: 90px;
    }
    &__mapheader {
        color: #002b65;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__mapelement {
        height: 410px;
        border: 5px solid #d0e5e8;
        width: 100%;
    }
}