.city-modal {
	&__link-wrap {
		position: relative;
		height: 100%;
	}
	
	&__link {
		position: absolute;
		.center;
		display: inline-block;
		min-width: 420px;
		padding: 10px 50px;
		padding-right: 37px;
		.font(@ff,1.1rem);
		cursor: pointer;
		border: 1px solid #336799;
		border-radius: 30px;
		background-color: @white;
		color: #336799;
		.transition;
		
		@media (max-width: 480px) {
			width: @col-11;
			min-width: 0;
		}
		
		&:hover {
			background-color: #336799;
			color: @white;
			
			span {
				color: @white;
			}
		}
		
		&_weather {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			width: @col-12;
			min-width: 0;
			padding: 5px 25px;
			white-space: nowrap;
			.font(@ff,1rem);
			border: none;
			color: #5d5d5d;
			
			&:hover {
				background-color: #5d5d5d;
				color: @white;

				span {
					color: @white;
				}
			}
		}
	}
	
	&__link_edu {
		padding: 5px 150px;
		.font(@ff,1.8rem);
		border: 2px solid #fff;
		background-color: transparent;
		color: #d1d1d1;
		
		@media (max-width: 1199px) {
			padding: 5px 20px;
			.font(@ff,1.1rem);
		}
		
		span {
			display: block;
			margin-left: 20px;
			border-top-color: #d1d1d1;
		}
		
		&:hover {
			background-color: #fff;
			color: #657168;
			
			span {
				border-top-color: #657168;
			}
		}
	}
	
	&__caret {
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
		border-width: 8px;
		.transition;
	}
	&__modal {
		display: none;
		position: fixed;
    z-index: 20; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
	}
	
	&__modal-content {
		min-width: 600px;
		padding: 30px 50px 50px 50px;
		background-color: @white;
		animation: fadeEffect 0.4s;
		
		@media (max-width: 767px) {
			min-width: 0;
			width: @col-9;
		}
		
		@media (max-width: 480px) {
		  padding: 30px;
			width: @col-12;
		}
		
		h3 {
			margin-bottom: 25px;
			.font(@ff,1.5rem);
			text-align: center;
			color: #474747;
		}
	}
	&__ok-btn-cont{
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
		max-width: 600px;
		width: 95%;
		height: 50px;
		background-color: #fff;
	}
	&__ok-btn{
		position: absolute;
		.center;
		display: block;
		width: 200px;
		height: 35px;
		padding-top: 7px;
		text-align: center;
		color: #fff;
		background-color: #3c71a7;
		border-radius: 5px;
		transition-property: background;
		transition-duration: .5s;
		cursor: pointer;
		&:hover{
			background-color: #b3cde7;
		}

	}
	&__closebtn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(330px, -230px);
		z-index: 20;
		cursor: pointer;
		.font(@ff,3rem);
		font-weight: bold;
		color: @white;
		.transition;
		
		@media (max-width: 767px) {
			left: 88%;
			transform: translate(0, -250px);
		}
		
		&:hover {
			opacity: 0.6;
		}
	}
	
	&__modal-search {
		width: @col-12;
		margin-bottom: 40px;
		padding: 8px;
		.font(@ff,1rem);
		outline: none;
		border: 1px solid #a2a2a2;
		.transition;
		
		&:hover {
			box-shadow: 0 0 5px 0 #a2a2a2;
		}
		
		&:focus {
			box-shadow: 0 0 6px 0 #a2a2a2;
		}
	}
	
	&__modal-city {
		height: 225px;
	}
	
	&__modal-col {
		padding-left: 50px;
		padding-bottom: 50px;
		column-count: 2;
		column-gap: 30px;
		
		@media (max-width: 767px) {
		  padding-left: 0;
			column-count: 1;
		}
		
		ul > li > a {
			.font(@ff,1rem,2);
			color: #444f5b;
			.transition;
			cursor: pointer;
			&:hover, &:focus {
				text-decoration: underline;
			}
			
			span {
				.font(@ff,1rem,2,normal,bold);
				color: #3c71a7;
				.transition;
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;  
	width: 6px; 
	height: 100%;
  background: #b1cbe4;
}

.jspTrack {
	background: #b1cbe4;  
  position: relative;
}

.jspDrag {
	background: #2970b5;   
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}


@keyframes fadeEffect {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/*~~~ Baron and autocomplete ~~~*/

.baron {
	display: block;
	position: relative;
	overflow: hidden;
	.center;
	width: 95%;
	max-width: 600px;
	height: 400px;
	background: #fff;
	box-shadow:
					0 5px 15px -3px rgba(0, 0, 0, .7),
					0 0 0 1px rgba(0, 0, 0, .05);
}
.baron__clipper {
	position: relative;
	overflow: hidden;
}
.baron__scroller {
	overflow-y: scroll;
	-ms-overflow-style: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}
.baron__scroller::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.baron__track {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 11px;
	background-color: #b3cde7;
}
.baron._scrollbar .baron__track {
	display: block;
}
.baron__free {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}
.baron__bar {
	display: none;
	position: absolute;
	right: 0;
	z-index: 22;
	width: 10px;
	height: 100px;
	background: #3c71a7;
	border-radius: 15px;
}
.baron._scrollbar .baron__bar {
	display: block;
}
.baron__control {
	display: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }