.n-interesting-content {
    text-align: center;
    &__header {
        display: inline-block;
        margin-bottom: 55px;
        font-size: 31px;
        color: #4f5764;
        text-align: center;
        border-bottom: 3px dotted #898e97;
    }
    .g-grid{
        max-width: 1440px;
        &__link{
            &:hover{
                text-shadow: 0 0 1px #496dc1, 0 0 0 #496dc1;
            }
        }
        &__img-cont{
            width:  300px;
            height: 300px;
            @media(min-width: 768px){
                width:  250px;
                height: 250px;
            }
            @media(min-width: 1200px){
                width:  330px;
                height: 330px;
            }
        }
        &__content{
            max-width: 300px;
            font-size: 18px;
            color: #496dc1;
            transition: text-shadow .15s ease-in;
            @media(min-width: 768px){
                max-width: 325px;
            }
            @media(min-width: 1200px){
                max-width: 330px;
            }
        }
    }
}
