.link-arrow {
	position: relative;
	display: block;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0.9rem;
	.font(@ff,1.2rem);
	text-align: center;
	color: @arrow;
	border: 1px solid @arrow;
	border-radius: 3rem;
	.transition;
	
	&::after {
		.before(50%,auto,15px,15px);
		right: 30px;
		border-bottom: 1px solid @arrow;
		border-right: 1px solid @arrow;
		transform: translateY(-50%) rotate(-45deg);
		.transition;
	}
	
	&:hover, &:active, &:focus {
		background-color: @arrow;
		color: @white;
		
		&::after {
			border-bottom: 1px solid @white;
			border-right: 1px solid @white;
		}
	}
	
	@media (max-width: 767px) {
		.font(@ff,1rem);
	}
	
	@media (max-width: 480px) {
		width: @col-12;
	}
	
	// green
	
	&_green {
		color: darken(@arrow-green,30%);
		border-color: @arrow-green;
		
		&:hover, &:active, &:focus {
			background-color: @arrow-green;
		}
		
		&::after {
			border-bottom: 1px solid @arrow-green;
			border-right: 1px solid @arrow-green;
		}
	}
	
	// pink 
	
	&_pink {
		color: @fitness-children-1;
		border-color: @fitness-children-1;
		
		&:hover, &:active, &:focus {
			background-color: @fitness-children-1;
		}
		
		&::after {
			border-bottom: 1px solid @fitness-children-1;
			border-right: 1px solid @fitness-children-1;
		}
	}
	
	// orange
	
	&_orange {
		color: @arrow-orange;
		border-color: @arrow-orange;
		
		&:hover, &:active, &:focus {
			background-color: @arrow-orange;
		}
		
		&::after {
			border-bottom: 1px solid @arrow-orange;
			border-right: 1px solid @arrow-orange;
		}
	}
		
	// gray
		
	&_gray {
		color: @arrow-gray;
		border-color: @arrow-gray;
		
		&:hover, &:active, &:focus {
			background-color: @arrow-gray;
		}
		
		&::after {
			border-bottom: 1px solid @arrow-gray;
			border-right: 1px solid @arrow-gray;
		}
	}

	&._inline-cent{
		.horizontal-center;
		display: inline-block;
		margin-top: 30px;
		padding: 15px 50px 20px 50px;
	}
	&._inline{
		display: inline-block;
		margin-top: 30px;
		padding: 15px 50px 20px 50px;
	}

	&._whiteBG{
		background-color: #fff;
		&:hover{
			background-color: #6699cc;
		}
	}

}

