.paginator {
  margin-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media (max-width: 767px) {
    margin-top: 40px;
  }

  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  &__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    padding-top: 8px;
    .font(@ff, 18px, 1);
    border-radius: 50%;
    background-color: @all-article-8;
    color: @white;
    .transition;

    &:hover {
      background-color: darken(@all-article-9, 20%);
      color: @white;
    }
  }

  &__arrow {
    .font(@ff, 18px, 1);
    color: @all-article-3;
    .transition;

    @media (max-width: 767px) {
      .font(@ff, 14px, 1);
    }

    &:hover {
      color: darken(@all-article-9, 20%);
    }
  }

  &__prev  {
    display: block;
    margin-right: 25px;

    @media (max-width: 767px) {
      margin-right: 10px;
    }
  }

  &__next  {
    display: block;
    margin-left: 25px;

    @media (max-width: 767px) {
      margin-left: 10px;
    }
  }
  &._white {
    clear: left;
    .paginator {
      &__item a {
        color: @rare-encycl-paginator-color;
        background-color: transparent;
        border: 1px solid @rare-encycl-paginator-color;

        &:hover {
          background-color: @rare-encycl-font-search-color;
          border-color: transparent;
          color: @white;
        }
      }
    }

  }
}

