.promo-banner {
    margin-bottom: 30px;
    @media (min-width: 768px){
        margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
        padding: 0 70px;
    }
    &__item {
        @media (max-width: 991px) {
            width: @col-12;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__img {
        width: @col-12;
        @media (max-width: 991px) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: 633px;
        }
    }
    &__item-1 {
        display: inline-block;
        float: left;
        width: 54%;
        vertical-align: top;
        @media (max-width: 1199px) {
            float: none;
        }
        @media (max-width: 991px) {
            width: @col-12;
        }
    }
    &__item-2 {
        display: inline-block;
        float: right;
        width: 43%;
        vertical-align: top;
        @media (max-width: 1199px) {
            float: none;
        }
        @media (max-width: 991px) {
            width: @col-12;
        }
    }
    &__item-3 {
        display: inline-block;
        width: @col-6 - 1%;
        float: left;
        vertical-align: top;
        @media (max-width: 1199px) {
            float: none;
        }
        @media (max-width: 991px) {
            width: @col-12;
        }
    }
    &__item-4 {
        display: inline-block;
        width: @col-6 - 1%;
        float: right;
        vertical-align: top;
        @media (max-width: 1199px) {
            float: none;
        }
        @media (max-width: 991px) {
            width: @col-12;
        }
    }
}