.n-quoteblock {
    margin-bottom: 80px;
    padding: 0 55px;
    @media (max-width: 991px) {
        padding: 0;
        margin-bottom: 30px;
    }
    &__quote {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 18px;
        position: relative;
        color: #002b65;
        padding: 0;
        @media (max-width: 991px) {
            font-size: 16px;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -70px;
            width: 56px;
            height: 52px;
            .sprite2;
            background-position: 0 -22px;
            @media (max-width: 991px) {
                display: none;
            }
        }
    }
}