.weather {
	margin-bottom: 38px;
	padding: 15px 0;
	background-color: #edf3f8;
	
	&._pink {
		background-color: #feebed;
	}
	
	&__container {
		.container;
		position: relative;
	}
	
	&__values {
		padding: 5px 0;
	}
	
	&__item {
		position: relative;
		float: left;
		display: inline-block;
		width: @col-12/5;
		height: 100%;
		padding-right: 15px;
		
		@media (max-width: 1199px) {
			margin-bottom: 30px;
		}
		
		@media (max-width: 767px) {
			width: @col-4;
		}
		
		@media (max-width: 480px) {
			width: @col-6;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url(pics/sprite-weather.png) 0 0 no-repeat;
		}
	}
	
	&__temperature {
		padding-left: 37px;
		
		@media (min-width: 1200px) {
			max-width: 130px;
		}
		
		&::before {
			.stitches-sprite(-10px, -10px, 27px, 25px);
		}
	}
	
	&__cloudiness {
		padding-left: 53px;
		
		&::before {
			.stitches-sprite(-57px, -10px, 41px, 30px);
		}
	}
	
	&__pressure {
		padding-left: 31px;
		
		&::before {
			.stitches-sprite(-118px, -10px, 15px, 31px);
		}
	}
	
	&__wind {
		padding-left: 45px;
		
		&::before {
			.stitches-sprite(-153px, -10px, 26px, 32px);
		}
	}
	
	&__time {
		padding-left: 46px;
		
		&::before {
			.stitches-sprite(-199px, -10px, 31px, 31px);
		}
	}
	
	&__city-wrap {
		@media (max-width: 1199px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
}