.page-background {
    background: url(pics/physic/phys_calc.png) no-repeat top right;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4149px;
        background: url(pics/physic/bg.png) no-repeat;
        background-size: cover;

        z-index: -1;
    }
    @media (max-width: 1366px) {
        background: url(pics/physic/phys_calc.png) no-repeat 0 0;
    }
    @media (max-width: 991px) {
        background: 0;
        margin-top: 30px;
    }
}