.n-ratio {
    margin-top: 30px;
    margin-bottom: 120px;
    position: relative;
    @media (max-width: 991px) {
        margin: 30px 0;
    }
    &.left:before {
        content: '';
        position: absolute;
        width: 50%;
        z-index: -1;
        height: 10px;
        background: #badaf5;
        top: 50%;
        left: 0;
        margin-top: -5px;
    }
    &.right:before {
        content: '';
        position: absolute;
        width: 50%;
        z-index: -1;
        height: 10px;
        background: #badaf5;
        top: 50%;
        right: 0;
        margin-top: -5px;
    }
    &__result {
        width: 100%;
        border-radius: 100px;
        background: #e9f5ff;
        border: 10px solid #badaf5;
        text-align: center;
        color: #002b65;
        font-size: 24px;
        font-family: CenturyGothic;
        vertical-align: middle;
        position: relative;
        b {
            font-weight: 700;
            margin-left: 25px;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 95px;
            vertical-align: middle;
            line-height: 110px;
            @media (max-width: 991px) {
                font-size: 28px;
                line-height: 1.4;
            }
        }
        @media (max-width: 991px) {
            padding: 10px;
            font-size: 18px;
        }
        @media(max-width:640px) {
            font-size: 16px;
            border-width: 5px;
            padding: 10px;
            b {
                margin-left: 5px;
            }
        }
    }
    .left &__result:before {
        content: '';
        position: absolute;
        border: 20px solid transparent;
        border-right: 50px solid #badaf5;
        left: -70px;
        top: 50%;
        margin-top: -20px;
    }
    .right &__result:before {
        content: '';
        position: absolute;
        border: 20px solid transparent;
        border-left: 50px solid #badaf5;
        right: -70px;
        top: 50%;
        margin-top: -20px;
    }
}

.second-bg {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 934px;
        background: url(pics/physic/second.png) no-repeat;
        background-size: cover;

        @media (max-width: 991px) {
            opacity: .3;
        }
    }
}

.third-bg {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        height: 668px;
        background: url(pics/physic/third.png) no-repeat;

        @media (max-width: 991px) {
            display: none;
        }
    }
}

.pulse {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        height: 720px;
        background: url(pics/physic/pulse.png) no-repeat;
        background-size: cover;

        @media (min-width: 1500px) {
            top:-200px;
        }
    }
}

@media (max-width:991px) {
    .n-ratio {
        &:before {
            display: none;
        }
        &__result {
            &:before {
                display: none;
            }
        }
    }
}