.n-btype {
    &__element {
        color: #002b65;
        font-size: 24px;
        font-family: CenturyGothic;
        margin-bottom: 110px;
        @media (max-width: 991px) {
            margin-bottom: 35px;
        }
        h3 {
            font-size: 64px;
            @media (max-width: 991px) {
                font-size: 24px;
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
    }
}