.g-grid {

  &._col-4 {
    .g-grid {
      &__li {
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
        }
        @media (min-width: 992px) {
          width: 25%;
        }
      }
    }
  }
}