.g-grid {

  &._col-3 {
    .g-grid {
      &__li {
        width: 100%;
        @media (min-width: 768px) {
          width: 50%;
        }
        @media (min-width: 992px) {
          width: 33.33333%;
        }
      }
    }
    &._txt-right {
      .g-grid {
        &__li {
          width: 100%;
          @media (min-width: 768px) {
            width: 50%;
          }
          @media (min-width: 992px) {
            width: 33.33333%;
          }
        }
      }
    }
  }
}