.g-grid {
  &._col-2 {
    .g-grid {
      &__li {
        width: 100%;
        @media (min-width: 992px) {
          width: 50%;
        }
      }
    }
    &._txt-right {
      .g-grid {
        &__li {
          width: 100%;
          @media (min-width: 992px) {
            width: 50%;
          }
        }
      }
    }
  }
}