.g-grid {
  &._cont-cent {
    .g-grid {
      &__link {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &._cont-right {
    .g-grid {
      &__link {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}