.g-grid{
  &._col-2._cont-around {
    @media (min-width: 992px) {
      .g-grid {
        &__li:nth-child(odd) {
          .g-grid__link {
            margin-left: 0;
            margin-right: auto;
          }
        }
        &__li:nth-child(even) {
          .g-grid__link {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }
  }
}