.g-grid {
  &._txt-outer {
    .g-grid {
      &__img-cont {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 30px;
        }
      }
      &__content {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }
}