.g-grid{
  &._txt-right{
    .g-grid{
      &__link{
        &:after{
          content: '';
          display: block;
          clear: both;
        }
      }
      &__img-cont{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        @media(min-width: 768px){
          float:left;
          margin: 0;
        }
      }
      &__content{
        @media(min-width: 768px){
          float: left;
          text-align: left;
        }
      }
      &__txt{

      }
    }
  }
}