.g-grid {
  &._txt-inner {
    .g-grid {
      &__img-cont {
        width: 100%;
        height: 100%;
      }
      &__content {
        position: absolute;
        z-index: 3;
        width: 100%;
        text-align: center;
      }
    }
  }
}