.g-grid{
  width: 95%;
  margin: auto;
  &__ul {
    font-size: 0;
    text-align-last: center;
  }
  &__li {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
    @media (min-width: 768px) {
      margin-bottom: 60px;
    }
  }
  &__link {
    position: relative;
    display: block;
    font-size: 1.25rem;
  }
  &__img-cont {
    position: relative;
    z-index: 2;
    overflow: hidden;
    img {
      position: absolute;
      z-index: 1;
      .center;
      height: 100%;
    }
  }
  &__content {
    padding: 10px;
    text-align-last: auto;
    text-align: center;
  }
  &__txt {
  }
}