.arrow-to-bottom{
  position: relative;
  border: 6px solid @arrow-to-bottom-color;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  opacity: 0.51;
  transition-property: width, height, box-shadow;
  transition-duration: 0.3s;

  &:hover{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
  }
}