
.blood-circulation {
  height: 620px;
  background: url(pics/childhood-diseases-all/blood-circulation/blood-circulation-bg.jpg) no-repeat;
  background-position: right @title-height;
  background-size: auto;
  .title(blood-circulation, @blood-circulation-title-bg-color, @blood-circulation-title-bg-after-color);

  @media (max-width: 1199px)and(min-width: 992px) {
    background-position: right center;
    background-size: 45%;
  }

  @media (max-width: 991px)and(min-width: 768px) {
    background: url(pics/childhood-diseases-all/blood-circulation/blood-circulation-bg-sm.jpg) no-repeat center @title-height;
    background-size: 90%;

  }

  @media (max-width: 767px){
    background: url(pics/childhood-diseases-all/blood-circulation/blood-circulation-bg-sm.jpg) no-repeat center;
    background-size: contain;
    @media (max-width: 767px){
      height: auto;
    }
  }

  &__dis-list{
    margin-left: 8%;
    margin-top: 130px;

    @media (max-width: 767px){
      margin-left: 0;
    }
  }

  &__dis-item{
    margin-bottom: 23px;
  }

  .link-arrow._blood{
    margin-top: 50px;
  }
}

