.childhood-infections {

  position: relative;
  background: url(pics/childhood-diseases-all/childhood-infections/childhood-infections-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 @title-height;
  .title(childhood-infections, @childhood-infections-title-bg-color, @childhood-infections-title-bg-after-color);

  @media (max-width: 991px){
    background: url(pics/childhood-diseases-all/childhood-infections/childhood-infections-bg-sm.jpg) no-repeat;
    background-attachment: fixed;
  }
  &__gallery{
    padding-bottom: 1px;
    @media (max-width: 1199px)and(min-width: 992px){
      padding-bottom: 150px;
    }
    @media (max-width: 991px){
      padding-bottom: 20px;
    }
  }

  &__row{
    margin-top:95px;
    margin-bottom: 50px;
  }
  &__col{
    margin-bottom: 100px;
  }

  &__disease-cont{
    max-width: 325px;

    @media (max-width: 991px)and(min-width: 768px) {
      width: auto;
      height: auto;
    }
  }
  &__disease-cont:hover{
    background-color: @childhood-infections-title-bg-color;
  }

  &__disease-cont:hover &__disease-name{
     color: @white;
   }
  &__disease-cont:hover &__disease-description{
    background-color: @childhood-infections-title-bg-color;
  }

  &__img-cnt{
    height: 193px;
    @media (max-width: 991px)and(min-width: 768px) {

    }
  }


  &__disease-name{
    color: @childhood-infections-description-color;
  }
  &__disease-description{
    color:@childhood-infections-description-color;
  }
}