
.dermatology {
  background-color: @dermatology__bg-color;
  background: url(pics/childhood-diseases-all/dermatology/dermatology-bg.jpg) no-repeat;
  background-position: right @title-height;
  background-color: #f6f6f6;

  .title(dermatology, @dermatology-title-bg-color, @dermatology-title-bg-after-color);

  @media (max-width: 991px) {
    background: url(pics/childhood-diseases-all/dermatology/dermatology-bg-sm.jpg) no-repeat;
  }

  &__cont{
    position: relative;
    height: 519px;
    @media (max-width: 767px) {
      height: auto;
      width: auto;
    }
  }

  &__list{
    position: absolute;
    width: 43%;
    left: 7%;
    .vertical-center;
    @media (max-width: 991px) {
      width: auto;
    }
    @media (max-width: 767px) {
      position: relative;
      width: auto;
      top: 20px;
      left: 0;
      transform: none;
    }
  }

  &__ul{
    @media (max-width: 767px) {
      position: relative;
      display: inline-block;
      .horizontal-center;
    }

  }

  &__link{
    color:@dermatology__link-color;
    font-size: 20px;
  }

  &__link:hover{
    color:@dermatology-title-bg-color;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @dermatology-title-bg-color;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @dermatology-title-bg-color;
  }


  &__text:before{
    background-color: @dermatology-title-bg-color;
  }

  &__image{
    height: 100%;
  }

  .link-arrow._derm{
    margin-top: 30px;
  }

}