
.dis-list{

  &_first{
    padding-left: 45%;


    @media (max-width: 1199px)and(min-width: 992px) {
      padding-left: 30%;
    }

    @media (max-width: 991px)and(min-width: 768px) {
      padding-left: 10%;
    }
    @media (max-width: 767px) {
          padding-left: 5%;
    }


    &__list-item{
      height: 56px;
    }
  }

  &_second{
    padding-left: 15%;

    @media (max-width: 1199px) and(min-width: 992px){
      padding-left: 15%;
    }

    @media (max-width: 991px)and(min-width: 768px) {
      padding-left: 10%;
    }

    @media (max-width: 767px) {
      padding-left: 5%;
    }
    &__list-item{
      height: 49px;
    }
    &__list-item_first{
      margin-top: 3px;
    }
  }



  &__link:hover .dis-list__circle_in{
    display: block;
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    color:@notebook-font-color;
    font-size:@notebook-font-size;

    @media (max-width: 767px) {
      font-size:1rem;
    }
  }

  &__circle{

    border-radius: 50%;


    &_out{
      position: relative;
      box-sizing: border-box;
      width: 38px;
      height: 38px;
      top:50%;
      transform: translate(0,-50%);
      margin-right: 20px;
      border: 3px solid red;
      float: left;

    }
    &_in{
      display: none;
      position: absolute;
      left: 50%;
      top:50%;
      transform: translate(-50%,-50%);
      background: red;
      width: 15px;
      height: 15px;
    }
  }

  &__circle{

    &_out{

    }
  }

  &__diseases-name-cont{
    position: relative;
    height: 100%;

  }

  &__diseases-name{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    transition-property: color;
    transition-duration: .3s;
  }
  &__diseases-name:first-letter{
    text-transform: uppercase;
  }
}

//awesome notebook rainbow
.dis-list__circle_out_color1 {border-color:@notebook-1 };
.dis-list__circle_out_color2 {border-color:@notebook-2 };
.dis-list__circle_out_color3 {border-color:@notebook-3 };
.dis-list__circle_out_color4 {border-color:@notebook-4 };
.dis-list__circle_out_color5 {border-color:@notebook-5 };
.dis-list__circle_out_color6 {border-color:@notebook-6 };
.dis-list__circle_out_color7 {border-color:@notebook-7 };
.dis-list__circle_out_color8 {border-color:@notebook-8 };
.dis-list__circle_out_color9 {border-color:@notebook-9 };
.dis-list__circle_out_color10{border-color:@notebook-10};
.dis-list__circle_out_color11{border-color:@notebook-11};
.dis-list__circle_out_color12{border-color:@notebook-12};
.dis-list__circle_out_color13{border-color:@notebook-13};
.dis-list__circle_out_color14{border-color:@notebook-14};
.dis-list__circle_out_color15{border-color:@notebook-15};
.dis-list__circle_out_color16{border-color:@notebook-16};
.dis-list__circle_out_color17{border-color:@notebook-17};

.dis-list__circle_in_color1 {background-color: @notebook-1 };
.dis-list__circle_in_color2 {background-color: @notebook-2 };
.dis-list__circle_in_color3 {background-color: @notebook-3 };
.dis-list__circle_in_color4 {background-color: @notebook-4 };
.dis-list__circle_in_color5 {background-color: @notebook-5 };
.dis-list__circle_in_color6 {background-color: @notebook-6 };
.dis-list__circle_in_color7 {background-color: @notebook-7 };
.dis-list__circle_in_color8 {background-color: @notebook-8 };
.dis-list__circle_in_color9 {background-color: @notebook-9 };
.dis-list__circle_in_color10{background-color: @notebook-10};
.dis-list__circle_in_color11{background-color: @notebook-11};
.dis-list__circle_in_color12{background-color: @notebook-12};
.dis-list__circle_in_color13{background-color: @notebook-13};
.dis-list__circle_in_color14{background-color: @notebook-14};
.dis-list__circle_in_color15{background-color: @notebook-15};
.dis-list__circle_in_color16{background-color: @notebook-16};
.dis-list__circle_in_color17{background-color: @notebook-17};

.dis-list__link:hover .dis-list__diseases-name_color1{color: @notebook-1 };
.dis-list__link:hover .dis-list__diseases-name_color2{color: @notebook-2 };
.dis-list__link:hover .dis-list__diseases-name_color3{color: @notebook-3 };
.dis-list__link:hover .dis-list__diseases-name_color4{color: @notebook-4 };
.dis-list__link:hover .dis-list__diseases-name_color5{color: @notebook-5 };
.dis-list__link:hover .dis-list__diseases-name_color6{color: @notebook-6 };
.dis-list__link:hover .dis-list__diseases-name_color7{color: @notebook-7 };
.dis-list__link:hover .dis-list__diseases-name_color8{color: @notebook-8 };
.dis-list__link:hover .dis-list__diseases-name_color9{color: @notebook-9 };
.dis-list__link:hover .dis-list__diseases-name_color10{color: @notebook-10};
.dis-list__link:hover .dis-list__diseases-name_color11{color: @notebook-11};
.dis-list__link:hover .dis-list__diseases-name_color12{color: @notebook-12};
.dis-list__link:hover .dis-list__diseases-name_color13{color: @notebook-13};
.dis-list__link:hover .dis-list__diseases-name_color14{color: @notebook-14};
.dis-list__link:hover .dis-list__diseases-name_color15{color: @notebook-15};
.dis-list__link:hover .dis-list__diseases-name_color16{color: @notebook-16};
.dis-list__link:hover .dis-list__diseases-name_color17{color: @notebook-17};

