.endocrinology{
  position: relative;
  padding-bottom: 1px;
  background: url(pics/childhood-diseases-all/endocrinology/endocrinology-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 @title-height;
  .title(endocrinology, @endocrinology-title-bg-color, @endocrinology-title-bg-after-color);

  @media (max-width: 991px) {
    background: url(pics/childhood-diseases-all/endocrinology/endocrinology-bg-sm.jpg) no-repeat;
    background-position: center 0;
    background-attachment: fixed;
  }

  &__col{
    height: 664px;
    width: 55%;
    margin-left: 40%;
    padding: 0;
    float: none;
    padding-top: 70px;
    @media (max-width: 1199px)and(min-width: 992px) {
      width: 80%;
      margin: auto;
    }
    @media (max-width: 991px) {
      width: 90%;
      height: auto;
      margin: auto;
    }

  }
  &__list{
    @media (max-width: 991px) {
      width: 90%;
      margin: auto;
    }
  }
  &__list-double{
    width: 80%;
  }

  &__list-item{
    position: relative;
    margin-bottom: 45px;
  }

  &__link{
    color:@endocrinology-link-color;
    font-size: 20px;
  }

  &__link:hover{
    color:@endocrinology-title-bg-color;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @endocrinology-title-bg-color;
  }

  &__text:before{
    width: 22px;
    height: 22px;
    background-color: @white;
    border-radius: 50%;
    border: 1px solid @endocrinology-circle-border-color;
    z-index: 1;
  }

  &__plus{
    position: absolute;
    z-index: 2;
    left: 4.6px;
    .vertical-center;
    color: @endocrinology-title-bg-color;
  }

}