.frame{
position: relative;
  &:after{
    content:'';
    position: absolute;
    left: 50%;
    top:42%;
    width:  360px;
    height: 360px;
    transform: translate(-50%,-50%) rotate(45deg);
    @media (max-width: 991px)and(min-width: 768px) {
      top:35%;
      width:  300px;
      height: 300px;
      display: block;
    }

    @media(max-width: @xs) {
      display: none;
    }

    background-image:
            linear-gradient(to right,  @frame-color 160px, transparent 160px),
            linear-gradient(to right,  @frame-color 160px, transparent 160px),
            linear-gradient(to bottom, @frame-color 160px, transparent 160px),
            linear-gradient(to bottom, @frame-color 160px, transparent 160px);
    background-size: 100% 8px, 100% 8px, 8px 100%, 8px 100%;
    background-position: -80px 0, -80px 100%, 0 -80px, 100% -80px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }
}

