.gastroenterology {
  position: relative;
  height: 890px;

  background: url(pics/childhood-diseases-all/gastroenterology/gastroenterology-bg.jpg) no-repeat;
  background-position: left @title-height;
  .title(gastroenterology, @gastroenterology-title-bg-color, @gastroenterology-title-bg-after-color);
  @media (max-width: 767px){
   height: auto;
  }
  &__list-dis{
    margin-left: 8%;
    margin-top: 50px;

    @media (max-width: 767px){
     margin-left: 0;
    }
  }

  &__dis-item{
    margin-bottom: 38px;
    width: 100%;

    &_last{
      margin-bottom: 0;
    }
  }

  &__name-cont{
    float: right;
    @media (max-width: 767px){
      float: none;
    }
  }

}