.hematology {
  position: relative;
  height: 760px;
  background: url(pics/childhood-diseases-all/hematology/hematology-bg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  .title(hematology, @hematology-title-bg-color, @hematology-title-bg-after-color);
  @media (max-width: 991px) {
    height: auto;
    padding-bottom: 1px;
  }

  &__row{
    margin: 0;
  }
  &__col{
    padding: 0;
  }
  &__links-cont{
    margin-top:200px;
    text-align: center;
    @media (max-width: 1199px)and(min-width: 992px) {
      margin-top:180px;
    }
    @media (max-width: 991px) {
      margin:0;
    }
    &_first{
      margin-left:70px;
      @media (max-width: 1199px)and(min-width: 992px) {
        margin-left: 80px;
      }
      @media (max-width: 991px){
        margin-left: 0;
      }
    }
    &_last{
      margin-left: 60px;
      @media(max-width: @lg) {
        margin-left: 0;
      }
      @media(max-width: @sm) {
        margin-top: 0;
      }
    }
  }

  &__single-link-cont{
    margin-bottom: 50px;
    @media (max-width: 1199px)and(min-width: 992px) {
      margin-bottom: 140px;
    }
  }

  &__link:hover &__disease{
    border-bottom: 1px solid @hematology-link-color;
  }

  &__disease{
    display: inline-block;
    color: @hematology-link-color;
    font-size: 30px;
    .trans-bor-col;

  }

  &__hid{
    overflow-x: hidden;
  }

  &__image{
    position: relative;
    margin-top: 90px;
    margin-bottom: 20px;
    .horizontal-center;

    @media(max-width: @sm) {
      margin:0;
    }
  }

}