.hypovitaminosis {
  .title(hypovitaminosis, @hypovitaminosis-title-bg-color, @hypovitaminosis-title-bg-after-color);
  &__content{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @media(min-width: 768px){
      width: 700px;
      text-align: center;
    }
    @media(min-width: 992px){
      width: 900px;
      text-align: center;
    }

  }
  &__link{
    color: inherit;
    transition-property: color;
    transition-duration: .5s;
  }

  &__link:hover{
    color: @black;
  }

  &__content-title{
    display: block;
    font-size: 43px;
    @media(min-width: 768px){
      float: left;
      width: 45%;
      font-size: 86px;
    }
  }

  &__content-description{
    display: block;
    font-size: 18px;
    margin-top: 15px;
    @media(min-width: 768px){
      float: left;
      width: 55%;
      margin-top: 25px;
      margin-bottom: 50px;
      font-size: 29px;
    }
  }
}