.items-gallery{

  &__item-cont:hover &__description-cont{
    min-height: 200px;
  }

  &__item-cont{
    position: relative;
    margin: auto;
    padding: 15px 15px 0 15px;
    transition-property: background-color;
    transition-duration: 1s;
    text-align: center;

    &_circle{
      padding: 0;
    }

  }
  &__img-cnt{
    overflow: hidden;
    margin-bottom:20px;
  }

  &__image{
    position: relative;
    .center;

    &_circle{
      border-radius: 50%;
      border: 6px solid transparent;
      transition-property: border-color;
      transition-duration: .5s;
    }
  }

  &__name{
    display: inline-block;
    font-size: 22px;
    margin-bottom: 10px;
  }

  &__description-cont{
    position: absolute;
    width: 100%;
    left: 0;
    top:100%;
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
    z-index: 2;
  }

  &__description{
    font-size: 15px;
    background-color: transparent;
    transition-property: background-color;
    transition-duration: 1s;
    padding: 0 15px 15px 15px;
  }
}

