
.list-dis{


  &__list_double{
    column-count: 2;

    @media (max-width: 767px) {
      column-count: 1;
    }
  }

  &__text{
    position: relative;
    display: inline;
    .trans-bor-col;
  }

  &__text:before{
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    .vertical-center;
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }

  &__list-item{
    margin-bottom: 30px;
  }

  &__list-item{
    padding-left: 30px;
    margin-bottom: 30px;

  }

}