
.list-dis-arrow{


  @media (max-width: 767px) {
    &__dis-item{
      height: 50px;
    }


    &__sh-1_left, &__sh-1_right, &__sh-2_left,
    &__sh-2_right,&__sh-2_left:after,&__sh-2_right:after
    {
      display: none;
    }
    &__dis-cont {
      width: 90%;
      margin: auto;
      float: none;
      border-radius: 5px;
      text-align: center;
    }
    &__dis-name {
      .center;
      min-width: 80%;
    }

  }

  &__dis-item{
    height: 76px;
  }

  &__dis-link:hover &__sh-1_left{
    width: 110px;
    right: -163px;
  }

  &__dis-link:hover &__sh-2_left{
    right: -230px;
  }

  &__dis-link:hover &__sh-1_right{
    width: 110px;
    left: -163px;
  }

  &__dis-link:hover &__sh-2_right{
    left: -230px;
  }

  &__dis-link:hover &__sh-1_left_glued{
    width: 110px;
    right: -110px;
  }

  &__dis-link:hover &__sh-2_left_glued{
    right: -162px;
  }

  &__dis-link:hover &__sh-1_right_glued{
    width: 110px;
    left: -163px;
  }

  &__dis-link:hover &__sh-2_right_glued{
    left: -230px;
  }

  &__dis-cont {
    position: relative;
    width: 73%;
    height: 100%;
    float: left;
    @media (max-width: 767px){
      float: none;
    }
  }
  &__dis-name {
    position: absolute;
    left: 10%;
    top:50%;
    transform: translate(0,-50%);
    color: @white;
    font-size: 18px;
    @media (max-width: 767px){
      .center;
    }
  }

  &__dis-name:first-letter{
    text-transform: uppercase;
  }

  &__sh-1_left {
    position: absolute;
    right: -110px;
    width: 63px;
    height: 100%;
    transition-property: width, right;
    transition-duration: .5s;
    &_glued{
      right: -63px;
    }
  }



  &__sh-1_left:after {
    position: absolute;
    right: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 0 38px 30px;

  }

  &__sh-2_left {
    position: absolute;
    right: -162px;
    width: 20px;
    height: 38px;
    transform: skew(38deg);
    transition-property:  right;
    transition-duration: .5s;
    &_glued{
      right: -20px;
    }

  }

  &__sh-2_left:after {
    content: "";
    position: absolute;
    right: 30px;
    top: 38px;
    width: 20px;
    height: 38px;
    transform: skew(-57deg);

  }

  &__sh-1_right {
    position: absolute;
    left: -110px;
    width: 63px;
    height: 100%;
    transition-property: width, left;
    transition-duration: .5s;
  }

  &__sh-1_right:after {
    position: absolute;
    left: -30px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 30px 38px 0;

  }

  &__sh-2_right {
    position: absolute;
    left: -162px;
    width: 20px;
    height: 38px;
    transform: skew(-38deg);
    transition-property:  left;
    transition-duration: .5s;
  }

  &__sh-2_right:after {

    content: "";
    position: absolute;
    right: -30px;
    top: 38px;
    width: 20px;
    height: 38px;
    transform: skew(57deg);

  }




  &__dis-cont_color-1, &__sh-1_color-1, &__sh-2_color-1, &__sh-2_color-1:after {background-color: @blood-circulation__disease-item-color-1}
  &__dis-cont_color-2, &__sh-1_color-2, &__sh-2_color-2, &__sh-2_color-2:after {background-color: @blood-circulation__disease-item-color-2}
  &__dis-cont_color-3, &__sh-1_color-3, &__sh-2_color-3, &__sh-2_color-3:after {background-color: @blood-circulation__disease-item-color-3}
  &__dis-cont_color-4, &__sh-1_color-4, &__sh-2_color-4, &__sh-2_color-4:after {background-color: @blood-circulation__disease-item-color-4}
  &__dis-cont_color-5, &__sh-1_color-5, &__sh-2_color-5, &__sh-2_color-5:after {background-color: @blood-circulation__disease-item-color-5}
  &__dis-cont_color-6, &__sh-1_color-6, &__sh-2_color-6, &__sh-2_color-6:after {background-color: @blood-circulation__disease-item-color-6}
  &__dis-cont_color-7, &__sh-1_color-7, &__sh-2_color-7, &__sh-2_color-7:after {background-color: @blood-circulation__disease-item-color-7}
  &__dis-cont_color-8, &__sh-1_color-8, &__sh-2_color-8, &__sh-2_color-8:after {background-color: @blood-circulation__disease-item-color-8}
  &__dis-cont_color-9, &__sh-1_color-9, &__sh-2_color-9, &__sh-2_color-9:after {background-color: @blood-circulation__disease-item-color-9}

  &__dis-cont_grad-1{background-image:linear-gradient(to right,  @notebook-gradient-start-1, @notebook-gradient-end-1)}
  &__sh-1_gr-1, &__sh-2_gr-1, &__sh-2_gr-1:after{background-color: @notebook-gradient-end-1}


  &__sh-1_left_color-1:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-1;}
  &__sh-1_left_color-2:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-2;}
  &__sh-1_left_color-3:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-3;}
  &__sh-1_left_color-4:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-4;}
  &__sh-1_left_color-5:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-5;}
  &__sh-1_left_color-6:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-6;}
  &__sh-1_left_color-7:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-7;}
  &__sh-1_left_color-8:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-8;}
  &__sh-1_left_color-9:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-9;}
  &__sh-1_left_color-9:after{ border-color: transparent transparent transparent @blood-circulation__disease-item-color-9;}

  &__sh-1_left_gr-1:after{ border-color: transparent transparent transparent @notebook-gradient-end-1;}

  &__sh-1_right_color-1:after{border-color: transparent @blood-circulation__disease-item-color-1 transparent transparent;}
  &__sh-1_right_color-2:after{border-color: transparent @blood-circulation__disease-item-color-2 transparent transparent;}
  &__sh-1_right_color-3:after{border-color: transparent @blood-circulation__disease-item-color-3 transparent transparent;}
  &__sh-1_right_color-4:after{border-color: transparent @blood-circulation__disease-item-color-4 transparent transparent;}
  &__sh-1_right_color-5:after{border-color: transparent @blood-circulation__disease-item-color-5 transparent transparent;}
  &__sh-1_right_color-6:after{border-color: transparent @blood-circulation__disease-item-color-6 transparent transparent;}
  &__sh-1_right_color-7:after{border-color: transparent @blood-circulation__disease-item-color-7 transparent transparent;}
  &__sh-1_right_color-8:after{border-color: transparent @blood-circulation__disease-item-color-8 transparent transparent;}
  &__sh-1_right_color-9:after{border-color: transparent @blood-circulation__disease-item-color-9 transparent transparent;}
  &__sh-1_right_color-9:after{border-color: transparent @blood-circulation__disease-item-color-9 transparent transparent;}

  &__sh-1_right_gr-1:after{border-color: transparent @notebook-gradient-end-1 transparent transparent;}
}