.neurology{
  padding-bottom: 1px;
  background: url(pics/childhood-diseases-all/neurology/neurology-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 44px;

  @media(min-width: 1200px){
    height: 727px;
  }

  .title(neurology, @neurology-title-bg-color, @neurology-title-bg-after-color);

  &__list-cont{
    width: 50%;
    @media (max-width: 767px) {
      width: auto;
    }
  }
  &__list{
    width: 270px;
    margin: 70px auto 0 auto;
    @media (max-width: 767px) {
      width: 80%;
    }
  }

  &__list-item{
    position: relative;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @neurology-title-bg-color;
  }

  &__link{
    color:@neurology-title-bg-color;
    font-size: 20px;
  }

  &__text:before{
    background-color: @neurology-title-bg-color;
  }

  .link-arrow._neur{
    margin-top: 50px;
  }
}