
.notebook{
  height: 700px;
  max-width: 1920px;
  margin: auto;

  @media (max-width: 991px)and(min-width: 768px) {
    height: 600px;
  }

  @media (max-width: 767px){
    height: auto;
    padding-bottom: 20px;
  }
  &__cont{
    height: 100%;
    padding-top: 90px;
    background: url(pics/childhood-diseases-all/notebook/notebook-bg.jpg) no-repeat;
    background-size:  cover;
    background-position: center;
    @media (max-width: 1440px)and(min-width: 992px) {
      background-size:  110% 100%;
    }
    @media (max-width: 991px) {
      background-size:  150% 120%;
      background-position: top;
    }

    @media (max-width: 767px) {
      background:  none;
      padding-top: 0;
    }



  }
}

