.oncology {
  .title(oncology, @oncology-infections-title-bg-color, @oncology-infections-title-bg-after-color);

  &-banner{
    margin-bottom: 30px;
  }
  &-banner__content{
    color: #f5d4b6;
    @media(min-width: 414px){
      min-width: 400px;
    }
  }
  &-banner__header{
    font-family: CenturyGothic, Arial, sans-serif;
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &-banner__text {
    font-family: CenturyGothic, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 25px;
  }

  &-banner__link {
    font-family: CenturyGothic, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 400;
    color: #f5d4b6;
    border-color: #f5d4b6;
    padding: 3px 20px;
    padding-bottom: 7px;
    transition: 0.15s ease-in;
    border: 1px solid;
    &:hover{
      background-color: #fa9145;
      color: #2c1c0d;
    }
  }
}