.ophthalmology {
  position: relative;
  background: url(pics/childhood-diseases-all/ophthalmology/ophthalmology-bg.jpg) no-repeat;
  background-size: cover;
  background-position: right;
  .title(ophthalmology, @ophthalmology-title-bg-color, @ophthalmology-title-bg-after-color);
  @media (max-width: 1199px)and(min-width:768px) {
    background: url(pics/childhood-diseases-all/ophthalmology/ophthalmology-bg-md.jpg) no-repeat;
    background-position: right @title-height;
  }
  @media (max-width: 767px) {
    background: url(pics/childhood-diseases-all/ophthalmology/ophthalmology-bg-sm.jpg) no-repeat;
    background-attachment: fixed;
  }
  &__row{
    height: 564px;
    margin: 0;
    @media (max-width: 767px) {
     height: auto;
    }
  }

  &__col{
    height: 100%;
    padding: 0;
    overflow: hidden;
  }
  &__list{
    position: absolute;
    width: 90%;
    .center;

    @media (max-width: 767px) {
      position: static;
      transform: none;
      margin-top: 50px;
    }
  }
  &__list_first{
    margin-left: 20px;
  }
  &__list_second{
    margin-left: 80px;
  }

  &__link{
    color:@dermatology__link-color;
    font-size: 18px;
  }

  &__link:hover{
    color:@ophthalmology-title-bg-color;
  }

  &__link:hover &__text:before{
    opacity: 1;
    color:@ophthalmology-title-bg-color;
  }

  &__text:before{
    content: "";
    opacity: 0;
    width: 4px;
    height: 25px;
    top: 12px;
    transition-property: opacity;
    transition-duration: .3s;
    background-color: @ophthalmology-title-bg-color;
  }
  .link-arrow._ophtal{
    top:75%;
  }
}