.otorhinolaryngology {
  position: relative;
  background-image: url(pics/childhood-diseases-all/otorhinolaryngology/otorhinolaryngology-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center @title-height;
  .title(otorhinolaryngology, @otorhinolaryngology-title-bg-color, @otorhinolaryngology-title-bg-after-color);
  @media (max-width: 991px)and(min-width: 768px) {
    background-image: url(pics/childhood-diseases-all/otorhinolaryngology/otorhinolaryngology-bg-md.jpg);
  }
  @media (max-width: 767px) {
    background-image: url(pics/childhood-diseases-all/otorhinolaryngology/otorhinolaryngology-bg-sm.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: auto 120%;
  }
  &__gallery{
    position: relative;
    height: 576px;
    width: 50%;
    margin-left: 50%;
    padding-top: 50px;
    padding-bottom: 30px;
    @media (max-width: 991px) {
      width: 80%;
      height: auto;
      margin:auto;

    }
  }





  &__img-cnt{
    height: 143px;

  }

  &__disease-cont:hover &__image{
    border-color: @otorhinolaryngology-title-bg-color;
  }
  &__disease-cont:hover &__disease-name{
    border-bottom-color: @otorhinolaryngology-title-bg-color;
  }

  &__disease-cont:hover &__disease-name{
    border-bottom-color: @otorhinolaryngology-title-bg-color;
  }


  &__disease-name{
    font-size: 15px;
    color: @otorhinolaryngology-title-bg-color;
    border-bottom: 1px solid transparent;
    .trans-bor-col;
    @media (max-width: 991px) {
      color: @otorhinolaryngology-font-color-sm;
    }
  }
  .link-arrow._otorhino{
    margin-top: 30px;
    margin-bottom: 0;
  }
}