.parasitology{

  position: relative;
  background: url(pics/childhood-diseases-all/parasitology/parasitology-bg.jpg) no-repeat;

  padding-bottom: 1px;
  background-position: right bottom;
  .title(parasitology, @parasitology-title-bg-color, @parasitology-title-bg-after-color);

  @media (min-width: 992px) {
    height: 555px;
  }

  @media (max-width: 991px) {
    background: url(pics/childhood-diseases-all/parasitology/parasitology-bg-sm.jpg) no-repeat;
  }
  &__list-cont{
    width: 50%;
    @media (max-width: 991px) {
     width:90%;
      margin: auto;
    }
  }
  &__list{
    position: relative;

    display: inline-block;
    .horizontal-center;
    margin: 70px auto 0 auto;
  }

  &__link{
    color:@gray;
    font-size: 20px;
  }

  &__link:hover{
    color:@parasitology-title-bg-color;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @parasitology-title-bg-color;
  }

  &__text:before{
    background-color: @parasitology-title-bg-color;
  }
}