.psychiatry {
  background: url(pics/childhood-diseases-all/psychiatry/psychiatry-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 @title-height;
  .title(psychiatry, @psychiatry-title-bg-color, @psychiatry-title-bg-after-color);

  @media (min-width: 992px) {
    padding-bottom: 150px;
    height: 897px;
  }

  @media (max-width: 991px) {
    background: url(pics/childhood-diseases-all/psychiatry/psychiatry-bg-sm.jpg) no-repeat;

  }
  &__content{
    @media (min-width: 992px) {
      margin-top: 95px;
    }
  }

  &__list-item{
    margin-bottom: 14px;
  }

  &__link{
    border-radius: 16px;
    display: inline-block;
    padding: 4px 20px;
    font-size: 22px;
    color:@gray;
    transition-property: background;
    transition-duration: .3s;
  }
  &__link:hover{
    background: @psychiatry-title-bg-color;
    color:@white
  }
}