.stomatology {
  .title(stomatology, @stomatology-title-bg-color, @stomatology-title-bg-after-color);

  &__content {
    @media (min-width: 414px) {
      width: 400px;
    }
    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 992px) {
      width: 900px;
      padding-left: 170px;
    }
  }

  @media (min-width: 992px) {
    &__list {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100px;
        display: block;
        width: 89px;
        height: 91px;
        margin: auto;
        background-image: url(../img/childhood-disease-all/stomatology/tooth.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
  &__list-item {
    margin-bottom: 14px;
  }

  &__link {
    display: inline-block;
    padding: 4px 20px;
    font-size: 30px;
    color: @stomatology-title-bg-color;
    @media (max-width: 767px) {
      font-size: 25px;
    }
  }
  &__link:hover &__disease {
    border-bottom: 1px solid @stomatology-title-bg-color;
  }
  &__disease {
    .trans-bor-col;
    @media (max-width: 767px) {
      display: inline-block;
    }
  }
}