

.surgery {
  position: relative;
  height: 640px;
  background: url(pics/childhood-diseases-all/surgery/surgery-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center @title-height;
  .title(surgery, @surgery-title-bg-color, @surgery-title-bg-after-color);
  @media (max-width: 767px){
    height: auto;
    padding-bottom: 60px;
    background: url(pics/childhood-diseases-all/surgery/surgery-bg-sm.jpg) no-repeat;
  }
  &__list-dis{
    margin-top: 65px;
    margin-left: 120px;
    @media (max-width: 767px){
      margin-left: 0;
    }
  }

  &__dis-item{
    @media (max-width: 767px){
      height: 70px;
    }

    margin-bottom: 20px;
  }

  &__dis-cont{
    width: 340px;
  }
  &__dis-name{
    font-size: 24px;
    @media (max-width: 767px){
      font-size: 20px;
    }
    border-bottom: 2px solid;
    .trans-bor-col;
  }

  &__link:hover &__dis-name{
    border-bottom-color: @white;
  }
  .link-arrow._surge{
    margin-left: 7%;
    margin-top: 30px;
    @media (max-width: 767px){
      margin: auto;
    }
  }
}