.urology {
  position: relative;
  height: 560px;
  background: url(pics/childhood-diseases-all/urology/urology-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 @title-height;
  .title(urology, @urology-title-bg-color, @urology-title-bg-after-color);
  @media (max-width: 991px) {
    height: auto;
    background: url(pics/childhood-diseases-all/urology/urology-bg-sm.jpg) no-repeat;
    background-position: center @title-height;
    background-size: auto 100%;
  }


  &__list{
    margin-top: 135px;
    @media (max-width: 991px)and (min-width: 768px){
     width: 80%;
      margin: 100px auto 0 auto;

    }
    @media (max-width:767px) {
      width: 90%;
      margin: 50px auto 0 auto;
    }
  }

  &__list-second{
    margin-top: 20px;
  }

  &__list-item{
    padding-left: 50px;
  }

  &__sec-col{
    margin-top: 20px;
  }

  &__link{
    color:@urology-link-color;
    font-size: 30px;
    display: inline-block;
  }

  &__link:hover{
    color:@urology-title-bg-color;
  }

  &__link:hover &__text{
    border-bottom: 1px solid @urology-title-bg-color;
  }

  &__text:before{
    left: -50px;
    width: 30px;
    height:30px;
    background-image:
            linear-gradient(to right,  @urology-cquare-color 8px, transparent 8px),
            linear-gradient(to right,  @urology-cquare-color 8px, transparent 8px),
            linear-gradient(to bottom, @urology-cquare-color 8px, transparent 8px),
            linear-gradient(to bottom, @urology-cquare-color 8px, transparent 8px);
    background-size: 100% 8px, 100% 8px, 8px 100%, 8px 100%;
    background-position: -4px 0, -4px 100%, 0 -4px, 100% -4px;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  }

}