.facts-main {
	height: 700px;
	margin-bottom: 90px;
	background: 
		url(pics/history-facts/facts-main-bg.png) center center no-repeat,
		url(pics/history-facts/facts-main.jpg) center left no-repeat;
	background-size: contain, cover;
	
	@media (max-width: 1199px) {
		height: auto;
		margin-bottom: 0;
		padding-bottom: 50px;
		background: none;
	}
	
	&__container {
		.container;
	}
	
	&__block-left, &__block-right {
		position: relative;
		height: 700px;
		padding: 0;
		
		@media (max-width: 1199px) {
			height: auto;
		}
	}
	
	&__item {
		position: absolute;
		padding: 0;
		.font(@ff,1.1rem);
		color: #545454;
		
		@media (max-width: 1199px) {
			position: relative;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 50px;
			text-align: center;
		}
		
		span {
			.font(@ff,2.3rem);
			color: #2a6493;
		}
	}
	
	&__item-1 {
		top: 125px;
		right: 260px;
		text-align: center;
		
		@media (max-width: 1199px) {
			top: auto;
			right: auto;
		}
		
		span {
			display: block;
		}
	}
	
	&__item-2 {
		bottom: 180px;
		right: 310px;
		
		@media (max-width: 1199px) {
			bottom: auto;
			right: auto;
		}
	}
	
	&__item-3 {
		top: 135px;
		left: 360px;
		
		@media (min-width: 1350px) {
			width: @col-6;
		}
		
		@media (max-width: 1199px) {
			top: auto;
			left: auto;
		}
		
		span {
			.font(@ff,1.2rem);
		}
	}
	
	&__item-4 {
		bottom: 170px;
		left: 360px;
		
		@media (max-width: 1199px) {
			bottom: auto;
			left: auto;
		}
		
		@media (min-width: 1350px) {
			width: @col-6;
		}
		
		span {
			display: block;
		}
	}
}