.children-institutions {

  .title(children-institutions,#9b0367, #d595bf);

  &__blocks {
    margin-bottom: 90px;
    padding-top: 5px;

    @media (max-width: 991px) {
      padding-top: 0;
    }
  }

  &__block {
    margin-bottom: 5px;
  }

  &__block-1 {
    & a > span {
      white-space: nowrap;
    }
  }



  &__link {
    position: absolute;
    right: 0;
    top: 50%;
    left: initial;
    transform: translate(0%, -50%);
    display: block;
    padding-right: 70px;
    width: 400px;
    height: 87px;
    .font(@ff,1.7rem,0.9);
    color: #fff;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    background-image: linear-gradient(to right, #c04c31, #d27f3c);
    .transition;

    @media (max-width: 767px) {
      width: @col-12;
      height: 60px;
      .font(@ff,1.2rem,0.9);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:hover, &:focus {
      @media (min-width: 768px) {
        border: 2px solid #fff;
      }

      @media (max-width: 767px) {
        opacity: 0.9;
      }

      span::before, span::after {
        transform: translateY(-50%) translateX(10px);
      }
    }

    span {
      position: absolute;
      display: inline-block;
      padding-right: 55px;
      .center;

      &::before {
        .before(50%,auto,33px,33px);
        right: 0;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: #fff;
        .transition;
      }

      &::after {
        .before(50%,auto,28px,14px);
        right: -6px;
        transform: translateY(-50%);
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 14px solid #cf7539;
        border-right: 14px solid transparent;
        .transition;
      }
    }
  }
}