.courses {
	
	padding-bottom: 50px;
	
	@media (max-width: 767px) {
		padding-bottom: 0;
	}
	
	.title(courses,#31b4d0,#caecf3);
	
	&__container {
		.container;
	}
	
	&__items {
		padding-top: 50px;
	}
	
	&__item {
		display: block;
		margin-bottom: 60px;
		.font(@ff,1.1rem,1.5);
		color: #3e3e3e;
		
		&:hover, &:focus {
			.courses__img-wrap {
				opacity: 0.8;
			}
		}
	}
	
	&__img-wrap {
		.transition;
	}
	
	&__img {
		width: @col-12;
		
		@media (max-width: 1199px) {
			height: auto;
		}
		
		@media (max-width: 767px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}
	
	&__text-content {
		padding-top: 30px;
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 0;
		}
		
		div {
			.font(@ff,1.1rem,1.5);
			color: #3e3e3e;
			
			@media (max-width: 991px) {
				.font(@ff,1rem,1.2);
			}
			
			@media (max-width: 480px) {
				.font(@ff,0.9rem,1.2);
			}
		}
		
		span {
			font-weight: 700;
		}
	}
}