.education-menu {
	
	margin-bottom: 75px;
	padding-top: 40px;
	padding-bottom: 140px;
	background: url(pics/education/education-menu-wp.jpg) 0 0 no-repeat;
	background-size: cover;
	
	@media (max-width: 1199px) {
		margin-bottom: 30px;
		padding-bottom: 50px;
	}
	
	&__container {
		.container;
	}
	
	&__title {
		margin-bottom: 55px;
		
		h1 {
			.font(@ff,1.9rem);
			text-align: center;
			color: #fff;
		}
	}
	
	&__content {
		margin-top: 190px;
		
		@media (max-width: 991px) {
			margin-top: 120px;
		}
	}
	
	&__list {
		text-align: center;
		
		li {
			display: inline-block;
			vertical-align: top;
			
			@media (max-width: 1199px) {
				margin-bottom: 40px;
			}
		}
	}
	
	&__list-item {
		position: relative;
		display: block;
		width: 250px;
		padding-top: 210px;
		.font(@ff,1.2rem);
		text-align: center;
		color: #fff;
		.transition;
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background: url(pics/education/sprite.png) 0 0 no-repeat;
			.transition;
		}
		
		&:hover {
			font-weight: 700;
			
			@media (min-width: 768px) {
				&::before {
					transform: translateX(-50%) translateY(-10px);
				}
			}
		}
	}
	
	&__list-item-1 {
		&::before {
			.stitches-sprite(-10px, -10px, 195px, 196px);
		}
	}
	
	&__list-item-2 {
		&::before {
			 .stitches-sprite(-225px, -10px, 194px, 196px);
		}
	}
	
	&__list-item-3 {
		&::before {
			.stitches-sprite(-439px, -10px, 195px, 196px);
		}
	}
	
	&__list-item-4 {
		&::before {
			.stitches-sprite(-654px, -10px, 194px, 196px);
		}
	}
}