.universities {

	&__container {
		.container;
	}
	
	.title(universities,#53b6a9,#d2ece9);
	
	&__items {
		margin-bottom: 35px;
		padding-top: 29px;
	}
	
	&__item {
		display: block;
		margin-bottom: 30px;
		.transition;
		
		@media (max-width: 767px) {
			max-width: 500px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		
		&:hover, &:focus {
			opacity: 0.9;
		}
	}
	
	&__item-content {
		position: relative;
	}
	
	&__img {
		width: @col-12;
		height: auto;
	}
	
	&__text-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: @col-12;
		min-height: 87px;
		padding: 20px 50px;
		background-color: rgba(15,69,62,0.8);
		
		@media (max-width: 1199px) {
			min-height: 70px;
			padding: 10px 20px;
		}
		
		h3 {
			.font(@ff,1.2rem);
			color: #fff;
			
			@media (max-width: 1199px) {
				.font(@ff,1rem);
				text-align: center;
			}
		}
	}
	
	&__link {
		display: block;
		.font(@ff,1.1rem);
		text-align: center;
		text-decoration: underline;
		color: #427a9b;
	}
}