.advices{
  &__each-cont{
    &._2{
      max-width: 720px;
      padding-top: 35px;
    }
  }

  .ul-doc{
    &__img-cont-big{
      position: relative;
      z-index: 2;
      width: 100%;
      height: 320px;
      overflow: hidden;
      border: 3px solid transparent;
      transition-property: border-color;
      transition-duration: .5s;
      @media(max-width: 767px){
        margin: auto;
      }
      img {
        position: absolute;
        z-index: 1;
        .center;
        min-width: 100%;
        max-width: 120%;
      }
    }
  }


}