
.where-apply{
  .title(where-apply, #e78a00, #f2bf73);
  &__cont{
    width: 90%;
    max-width: 1700px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    @media(min-width: 768px){
      padding-top: 100px;
    }
  }


  &__inner-grid{
    font-size: 0;
    text-align: center;
  }
  &__inner-col{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    vertical-align: top;
    font-size: 1.5rem;
    @media(min-width: 768px){
      height: auto;
      width:33.333%;
    }
    @media(min-width: 992px){
      width: 20%;
    }
    @media(min-width: 1200px){
      width: 20%;
    }
  }
  &__link{
    &:hover .where-apply__ico{
      transform:  translateY(-7px);
    }
  }
  &__h3-ico{
    position: absolute;
    .vertical-center;
    display: block;
    padding-left: 60px;
    text-align: left;
    font-weight: 300;
    color: #000;
    @media(min-width: 768px){
      position: relative;
      left: auto;
      top: auto;
      transform: none;
      padding-left: 0;
      text-align: center;
      margin-top: 20px;
    }
    @media(max-width: 1440px){
      font-size: 1.3rem;
    }
  }
  &__ico{
    float: left;
    width:  50px;
    height: 50px;
    background-image: url(pics/pravovaya-regiony/where-apply/icons-sprite.jpg);
    background-size: auto 100%;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: .3s;
    @media(min-width: 768px){
      float: none;
      margin: auto;
      width:  150px;
      height: 150px;
    }
    @media(min-width: 1200px){
      width:  200px;
      height: 200px;
    }
    @media(min-width: 1441px){
      width:  250px;
      height: 250px;
    }
    &._1{background-position-x: 0}
    &._2{background-position-x: 400%}
    &._3{background-position-x: 300%}
    &._4{background-position-x: 200%}
    &._5{background-position-x: 100%}
  }
}