
.calc-head{
  height: 890px;
  padding-top: 75px;
  background-image: url(pics/right-food/calc-head/calc-head-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  @media(max-width: 767px){
    height: auto;
  }
  &__cont{
    width: 95%;
    max-width: 1100px;
    margin: auto;
    color: #454545;
    padding-bottom: 1px;
  }
  &__head{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    color: #272727;
  }
  &__switch-cont{
    position: relative;
    width: 325px;
    height:455px;
    margin: 0 auto 70px auto;
    @media(max-width: 767px){
      width: 150px;
      height:210px;
      margin-bottom:135px;
    }

  }
  &__people-cont{
    position: absolute;
    .vertical-center;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    @media(max-width: 767px){
      top: 110%;
    }
  }
  &__man-cont{
    left: 0;
    width: 47%;
    height: 100%;
    background-image: url(pics/right-food/calc-head/man.png);
    background-position: 100%;
    &._active{
      background-position: 0;
    }
  }
  &__woman-cont{
    right: 0;
    width: 46.15%;
    height: 96%;
    background-image: url(pics/right-food/calc-head/woman.png);
    background-position: 100%;
    &._active{
      background-position: 1px;
    }
  }
  &__btn{
    position: absolute;
    top: 30%;
    width: 290px;
    height: 75px;
    padding-top: 12px;
    text-align: center;
    font-size: 1.875rem;
    border: 5px solid #818181;
    background-color: transparent;
    transition-property: border, background,opacity;
    transition-duration: .5s;
    &:before{
      content: '';
      position:absolute;
      .horizontal-center;
      bottom: -24px;
      opacity: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 17.5px 0 17.5px;
      border-color: #71a3d7 transparent transparent transparent;
      transition-property: opacity;
      transition-duration: .5s;
      @media(max-width: 767px){
        display: none;
      }
    }
    &:hover,&._active{
      background-color: #71a3d7;
      border-color: #71a3d7;
    }
    &:hover:before,&._active:before{
      opacity: 1;
    }
  }
  &__man-btn{
    right: 120%;
  }
  &__woman-btn{
    left: 120%;
  }
  @media(max-width: 1199px)and(min-width: 992px){
    &__woman-btn {
      left: 110%;
    }
    &__man-btn{
      right: 110%;
    }
  }
  @media(max-width: 991px)and(min-width: 768px){
    &__woman-btn {
      left: 100%;
    }
    &__man-btn{
      right: 100%;
    }
    &__woman-btn,&__man-btn{
      width: 200px;
      height: 50px;
      padding-top: 7px;
      font-size: 1.3rem;
    }
  }
  @media(max-width: 767px){
    &__woman-btn,&__man-btn{
      position: relative;
      .horizontal-center;
      top: auto;
      width: 200px;
      height: 50px;
      margin-bottom: 10px;
      padding-top: 7px;
      font-size: 1.3rem;
    }
  }
  &__input-cont{
    margin-bottom: 28px;
    text-align: center;
    font-size: 1.5rem;
  }
  &__label{
    display: inline-block;
    width: 160px;
    text-align: left;
    @media(max-width: 767px){
      width: auto;
    }
  }
  &__input{
    display: inline-block;
    width: 250px;
    height: 60px;
    padding-left: 10px;
    font-size: 1.875rem;
    color: #fff;
    border: none;
    background-color: #a3aab0;
    @media(max-width: 767px){
      height: 40px;
    }
  }
  &__units{
    display: inline-block;
    width: 50px;
  }
}