
.calc-lose-weight{
  position: relative;
  background-image: url(pics/right-food/calc-lose-weight/calc-lose-weight-2.jpg);
  background-repeat: no-repeat;
  background-position:  0 80%;
  @media(max-width: 1440px)and(min-width: 1200px){
    background-position:  -100px 80%;
  }
  @media(max-width: 1199px){
    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .5);
    }

    @media(max-width: 767px){
      background-color: rgba(255, 255, 255, .8);
    }
  }
  .title(calc-lose-weight, #48b0c0, #48b0c0);
  &__cont{
    width: 95%;
    max-width: 1250px;
    margin: auto;
    padding-top: 65px;
    @media(max-width: 767px){
      padding-top: 40px;
    }
  }
  &__frame-txt{
    position: relative;
    margin-bottom: 200px;
    @media(max-width: 991px){
      margin-bottom: 100px
    }
    @media(max-width: 767px){
      margin-bottom: 40px;
    }
  }
  &__txt-cont{
    position: relative;
    width: 95%;
    max-width: 640px;
    min-height: 330px;
    text-align: center;
    padding: 70px 40px;
    z-index: 1;
    @media(max-width: 767px){
      min-height: 250px;
      padding: 20px 10px;
    }
    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media(max-width: 767px){
        display: none;
      }
    }
  }
  &__head{
    font-size: 2.8rem;
    font-weight: 300;
    color: #565656;
    margin-bottom: 30px;
    @media(max-width: 992px){
      font-size: 2.2rem;
    }
    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media(max-width: 992px){
        display: none;
      }
    }
  }
  &__big{
    font-size: 3.3rem;
    text-transform: uppercase;

  }
  &__txt{
    color: #969696;
    margin-bottom: 20px;
  }
  &__btn{
    font-size: 1.7rem;
    font-family: MyriadPro, Arial, sans-serif;
    @media(max-width: 767px){
      padding: 10px 30px;
      font-size: 1.2rem;
    }
  }
  &__link{
    font-size: 2.1rem;
    font-family: MyriadPro, Arial, sans-serif;
    color: #d88124;
    border-bottom: 2px solid #d88124;
  }
  &__cont>div:nth-child(odd){
    .calc-lose-weight__txt-cont{
      left:5%;
      @media(max-width: 991px){
        .horizontal-center;
      }
      @media(max-width: 1199px)and(min-width: 768px){
        padding-right: 230px;
      }

      &:before{
        width: 500px;
        height: 350px;
        left: 110%;
        top:0;
        background-image: url(pics/right-food/calc-lose-weight/calc-lose-weight.jpg);
        @media(max-width: 1199px)and(min-width: 768px){
          left: 50%;
        }
        @media(max-width: 767px){
          .horizontal-center;
        }
      }
    }
    .calc-lose-weight__head{
      &:before {
        top: -70px;
        right: -260px;
        width: 220px;
        height: 150px;
        background-image: url(pics/right-food/calc-lose-weight/dotted-4.png);
      }
    }
    .calc-lose-weight__txt{
      font-size: 1.8rem;
    }
  }
  &__cont>div:nth-child(even){
    .calc-lose-weight__txt-cont{
      left: 50%;
      @media(max-width: 1440px)and(min-width: 1200px){
        left: 35%;
      }
      @media(max-width: 1199px){
        left: 30%;
      }
      @media(max-width: 991px){
        .horizontal-center;
      }
    }
    .calc-lose-weight__head{
      &:after{
        bottom: -175px;
        left: -130px;
        width: 250px;
        height: 175px;
        background-image: url(pics/right-food/calc-lose-weight/dotted-5.png);
      }
    }
    .calc-lose-weight__txt{
      font-size: 1.25rem;
    }
  }
  @media(max-width: 992px){
    &__cont>div:nth-child(odd),&__cont>div:nth-child(even){
      .calc-lose-weight__text-cont{
        .horizontal-center;
      }
    }
  }
  @media(max-width: 767px) {
    &__cont > div:nth-child(odd) {
      .calc-lose-weight__head {
        font-size: 2rem;
      }
    }
    &__cont > div:nth-child(even) {
      .calc-lose-weight__head {
        font-size: 1.8rem;
      }
    }
    &__cont > div:nth-child(odd), &__cont > div:nth-child(even) {
      font-size: 1.5rem;
    }
    &__big {
      font-size: 2.2rem;
    }
  }

  &._nobg{
    background-image: none;
  }
  &._bg-center{
    background-position: -100px 30%;
    .calc-lose-weight__cont{
      padding-top: 140px;
    }
  }
}