.calc-puls{
  position: relative;
  height: 800px;
  background-image: url(pics/right-food/calc-puls/clock-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  @media(max-width: 767px){
    background-size: auto 70%;
    background-position: 25% top;
    height: auto;
    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .8);
    }
  }

  &__cont{
    position: relative;
    .vertical-center;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    @media(max-width: 767px){
      transform:none;
    }
  }
  &__txt-cont{
    position: relative;
    left: 50%;
    margin-bottom: 100px;
    @media(max-width: 991px){
      left: 35%;
    }
    @media(max-width: 767px){
      left: 0;
      margin-bottom: 50px;
      text-align: center;
    }
  }
  &__ul{
    max-width:490px;
    padding-left: 35px;
    @media(max-width: 767px){
      margin: auto;
    }
    li{
      position: relative;
      margin-bottom: 60px;
      font-size: 1.25rem;
      &:before{
        content:'';
        position: absolute;
        .vertical-center;
        display: block;
        left: -35px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #a4c6e9;
      }
    }
  }
  &__btn{
    font-size: 1.7rem;
    padding-left: 70px;
    padding-right: 70px;
    @media(max-width: 767px){
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.4rem;
    }
  }
}
