
.calory-info{
  height: 620px;
  background-color: #f1f4f9;
  @media(max-width: 991px){
    height: auto;
    padding-bottom: 40px;
  }
  &__cont{
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }
  &__txt-cont{
    position: relative;
    z-index: 1;
    padding: 165px 0 0 315px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top:0;
      z-index: -1;
      display: block;
      width: 300px;
      height: 620px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url(pics/right-food/calory-info/girl-bg.jpg);
      @media(max-width: 991px){
        display: none;
      }
    }
    @media(max-width: 991px){
      padding: 40px 0 0 0;
      text-align: center;
    }
  }
  &__ul{
    font-size: 2.2rem;
    font-family: MyriadPro, Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 60px;
    & li:nth-child(1){
      color: #cd65ff;
    }
    & li:nth-child(2){
      color: #5dd7ae;
    }
    & li:nth-child(3){
      color: #d95aa9;
    }
    & li:nth-child(4){
      color: #fdaa04;
    }

    @media(max-width: 1200px)and(min-width: 992px){
      font-size: 1.8rem;
    }
    @media(max-width: 991px){
      font-size: 1.2rem;
    }

  }
  &__li{
    margin-bottom: 16px;
    @media(max-width: 1200px){
      margin-bottom: 27px;
    }
  }
  &__btn{
    margin-left: 70px;
    font-size: 1.7rem;
    font-family: MyriadPro, Arial, sans-serif;
    letter-spacing: 1px;
    @media(max-width: 991px){
      margin-left: 0;
      font-size: 1.2rem;
    }
  }
}