.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/right-food/icons/icons-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
    padding-bottom: 180px;
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: #6b8413;
  }

  &__list{
    @media (min-width: 768px) {
      text-align: center;
    }
  }

}