
.menu{
  position: relative;
  background-image: url(pics/right-food/menu/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: center @title-height;
  @media(max-width: 1199px) and (min-width: 992px){
    background-position: 20% @title-height;
  }
  @media(max-width: 991px) {
    background-position: left @title-height;
    &:before {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .8)
    }
  }
  .title(menu, #36d0ae, #c2f1e6);
  &__cont{
    position: relative;
    width: 95%;
    max-width: 1350px;
    margin: auto;
    padding: 70px 0 100px 0;
  }
  &__head{
    font-weight: 300;
    font-size: 1.5rem;
    color: #12b0c7;
    @media(max-width: 767px){
      text-align: center;
    }
  }
  &__txt{
    font-size: 1.25rem;
    color: #979797;
    margin-bottom: 70px;
    @media(max-width: 767px){
      color: #424242;
      text-align: justify;
    }
  }
  &__list-cont{
    max-width: 650px;
    margin-left: 45%;
    @media(max-width: 1199px)and (min-width: 992px){
      margin-left:25%;
    }
    @media(max-width: 991px){
      margin: auto;
    }
  }
  &__ul{
    padding-left: 90px;
    @media(max-width: 767px){
      padding-left: 63px;
    }
  }
  &__li{
    position: relative;
    margin-bottom: 90px;
    font-size: 1.5rem;
    color: #525252;
    @media(max-width: 767px){
      font-size: 1rem;
    }
    &._1:before{content:'1.'}
    &._2:before{content:'2.'}
    &._3:before{content:'3.'}
    &._4:before{content:'4.'}
    &:before{
      position: absolute;
      left: -85px;
      .vertical-center;
      display: block;
      width: 70px;
      height: 70px;
      padding-top: 5px;
      text-align: center;
      font-size: 2.8rem;
      color: #fff;
      background-color: #929f31;
      @media(max-width: 767px){
        left: -73px;
      }
    }
  }
  &__btn{
    font-size: 1.8rem;
    color: #fff;
    background-color: #12b0c7;
    padding-left: 80px;
    padding-right: 80px;
    @media(max-width: 767px){
      display: block;
      padding-left:  10px;
      padding-right: 10px;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}