
.recipes{
  background-image: url(pics/right-food/recipes/recipes-bg.jpg);
  background-repeat: no-repeat;
  background-position: center @title-height;
  @media(max-width: 767px){
    background: none;
  }
  .title(recipes, #36d0ae, #c2f1e6);

  &__cont{
    padding-top: 60px;
  }
  &__each-cont{
    margin-bottom: 60px;
  }
  &__link{
    &:hover .recipes__head span{
      color: #0e7c64;
      border-color: #0e7c64;
    }
  }
  &__img-cont{
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    z-index: 1;
    img{
      position: absolute;
      .center;
      z-index: 0;
      min-width: 100%;
      min-height: 100%;
      max-width: 130%;
      max-height: 130%;
    }
    @media(max-width: 767px){
      width:  300px;
      height: 270px;
      margin: auto;
    }
  }
  &__head{
    max-width: 230px;
    margin: auto;
    text-align: center;
    font-weight: 300;
    font-size: 1.375rem;
    color:#3f3f3f;

    span{
      padding-bottom: 3px;
      border-bottom: 1px solid transparent;
      transition-property: border-color, color;
      transition-duration: .5s;
    }
  }
}