.right-food{
  background-image: url(pics/right-food/right-food/right-food-bg.jpg);
  background-repeat: no-repeat;
  background-position: right @title-height;
  padding-bottom: 50px;
  .title(right-food, #efad44, #f5edc9);

  &__cont{
    width: 90%;
    max-width: 1350px;
    margin: auto;
    padding-top: 50px;

    /*~~~dropdown settings~~~*/
    .drop {
      width: 100%;
      max-width: 400px;
      @media(min-width: 768px){
        float: left;
      }

      &__toggle {
        font-size: 1rem;
        color: #75797d;
        background-color: #fff;
        border-color: #f5edc9;
      }
      &__items{
        max-height: 200px;
        background-color: white;
        border-color: #f5edc9;
      }
      &__li{
        padding: 2px 5px 2px 0;
        cursor: pointer;
        &:hover{
          background-color: #f5edc9;
        }
        &:nth-child(even){
          background-color: #FFF9EB;
          &:hover{
            background-color: #f5edc9;
          }
        }
      }
    }
    .baron-all__bar {
      background-color: #efad44;
    }
    .baron-all{
      height: 400px;
    }
    .baron-all__track {
      background-color: transparent;
    }
    /*~~~end dropdown settings~~~*/
  }
  .diag-form{
    &__input-group{
      max-width: 610px;
      margin: 0 auto 60px auto;
    }
    &__label{
      margin-bottom: 40px;
      font-family: MyriadPro, Arial, sans-serif;
      font-size: 1.125rem;
      color: #2d536f;
    }
  }

  &__btn{
    display: block;
    min-width: 210px;
    height: 50px;
    padding: 15px;
    float: left;
    font-size: 1.125rem;
    text-align: center;
    @media(max-width: 767px){
      float: none;
      margin: 20px auto 20px auto;
    }
  }
  &__bot-cont{
    position: relative;
    clear: left;
  }
  &__grid-cont{
    max-width: 970px;
    @media(max-width: 1440px){
      margin: auto;
    }

    .grid-cont {
      &__each-cont {
        position: relative;
        padding: 0 25px 25px 25px;

        h3{
          margin-bottom: 5px;
          padding-left: 30px;
          font-family: MyriadPro, Arial, sans-serif;
          color: #294a6f;
        }
      }

      &__ul {
        position: relative;
        z-index: 0;
        font-size: 0.875rem;
        padding: 15px 5px 25px 45px;
        list-style: disc;
        color: #294a6f;

        &:before{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          background-color: #6fc3ff;
        }

        &:after {
          content: '';
          position: absolute;
          .vertical-center;
          z-index: 1;
          display: block;
          left: -25px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-size: 100% 100%;
          background-position: center;
        }
        &._1:after {
          background-image: url(pics/right-food/right-food/right-food-1.jpg);
        }
        &._2:after {
          background-image: url(pics/right-food/right-food/right-food-2.jpg);
        }
        &._3:after {
          background-image: url(pics/right-food/right-food/right-food-3.jpg);
        }
        &._4:after {
          background-image: url(pics/right-food/right-food/right-food-4.jpg);
        }
        &._5:after {
          background-image: url(pics/right-food/right-food/right-food-5.jpg);
        }
      }
      &__circle-cont{
        padding-top: 28px;
        a:hover .grid-cont__circle:after{
          border-color: transparent transparent transparent #6fc3ff;
        }
      }
      &__circle{
        position: relative;
        margin: auto;
        height: 90px;
        width: 90px;
        margin-bottom: 10px;
        border-radius: 50%;
        background-color: #a7d3f2;
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 23px;
          border-color: transparent transparent transparent #fff;
          transition-property: border-color;
          transition-duration: .5s;
        }
        &:hover &:after{

        }
      }
      &__txt{
        display: block;
        text-align: center;
        color: #7bb2ec;
        font-family: MyriadPro, Arial, sans-serif;
      }
    }

  }
  &__img-cont{
    position: absolute;
    right: 0;
    top:30px;
    display: inline-block;
    @media(max-width: 1440px){
      position: relative;
      .horizontal-center;
    }
  }

  &__bg._card {
    background: url(pics/kardiologia-main/food.jpg) 0 0 no-repeat;
    background-size: cover;
  }
}
