.secrets{
  background-image: url(pics/right-food/secrets/secrets-bg.jpg);
  background-repeat: no-repeat;
  background-position: right @title-height;

  .title(secrets, #c6db60, #e8f1c2);
  &__cont{
    width: 90%;
    max-width: 580px;
    margin: auto;
  }
  &__how-to{
    margin-top: 110px;
    list-style: disc;
    font-size: 2rem;
    color:#3f3f3f;
    @media(max-width: 1200px) {
      text-align: center;
      list-style: none;
    }
    @media(max-width: 767px){
      margin-top: 20px;
    }
    li{
      position: relative;
      margin-bottom: 160px;
      padding-left: 10px;
      @media(max-width: 767px){
        margin-bottom: 80px;
      }
      &:before{
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }

      &._1:before{
        content:'';
        position:absolute;
        width: 215px;
        height: 215px;
        left: -215px;
        .vertical-center;
        display: block;
        border-radius: 50%;
        background-image: url(pics/right-food/secrets/secret-img-1.jpg);

      }
      &._2:before{
        content:'';
        position:absolute;
        width: 350px;
        height:350px;
        right: -300px;
        .vertical-center;
        display: block;
        border-radius: 50%;
        background-image: url(pics/right-food/secrets/secret-img-2.jpg);

      }
      &._3:before{
        content:'';
        position:absolute;
        width:  315px;
        height: 315px;
        left: -315px;
        .vertical-center;
        display: block;
        border-radius: 50%;
        background-image: url(pics/right-food/secrets/secret-img-3.jpg);
      }
      @media(max-width: 991px){
        text-align: center;
        &._1:before,&._3:before{
          transform: none;
        }
        &._1:before{
          width: 165px;
          height: 165px;
          left: -115px;
        }
        &._2:before{
          width: 300px;
          height:300px;
          right: -240px;
        }
        &._3:before{
          width:  265px;
          height: 265px;
          left: -115px;
          top: 80%;
        }
      }
      @media(max-width: 767px){
        &._1:before,&._2:before,&._3:before{
          display: none;
        }
      }
    }
  }
  &__link{
    color: #3f3f3f;
    font-size: 1.7rem;
    @media(max-width: 767px){
      font-size: 1.5rem;
    }
  }
  &__big{
    display: block;
    font-size: 2.7rem;
    @media(max-width: 767px){
      font-size: 2rem;
    }
  }
}