.services{
  .title(services, #12b0c7, #c2ebf1);
  &__cont{
    width: 95%;
    max-width: 1250px;
    margin: auto;
    padding: 135px 0 40px 0;
    @media(max-width: 767px){
      padding: 20px 0;
    }
  }
  &__frame-txt{
    position: relative;
    margin-bottom: 50px;
  }
  &__txt-cont{
    position: relative;
    width: 95%;
    max-width: 640px;
    min-height: 410px;
    @media(max-width: 767px){
      text-align: center;
      min-height: 250px;
    }
    &:before{
      content: '';
      position: absolute;
      top:10px;
      z-index: 0;
      display: block;
      width: 270px;
      height: 305px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media(max-width: 767px){
        display: none;
      }
    }
  }
  &__head{
    font-size: 3.75rem;
    font-weight: 300;
    color: #565656;
    line-height: 55px;
    @media(max-width: 991px){
      font-size: 2.8rem;
    }

    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media(max-width: 991px){
        display: none;
      }
    }
  }

  &__big{
    font-size: 3.3rem;
    text-transform: uppercase;
  }
  &__txt{
    color: #969696;
    margin-bottom: 20px;
  }
  &__btn{
    padding: 5px 15px;
    font-size: 1.5rem;
  }
  &__link{
    font-size: 2.1rem;
    font-family: MyriadPro, Arial, sans-serif;
    color: #d88124;
    border-bottom: 2px solid #d88124;
  }
  @media(max-width: 767px){
    &__head{
      font-size: 2rem;
    }

    &__big{
      font-size: 2.2rem;
    }
    &__txt{
      &._left,
      &._right{
        font-size: 1.5rem;
      }
    }
  }
  &.chess{
    .services__cont>div:nth-child(odd){
      .services__txt-cont{
        left:5%;
        padding: 115px 0 0 225px;
        &:before{
          left: -50px;
          background-image: url(pics/right-food/services/apple-1.jpg);
        }
        @media(max-width: 991px){
          .horizontal-center;
        }
        @media(max-width: 767px){
          padding:20px 10px 20px 10px
        }
      }
      .services__head{
        &:before {
          top: -103px;
          right: -290px;
          width: 310px;
          height: 125px;
          background-image: url(pics/right-food/services/dotted-1.png);
        }
        &:after{
          bottom: -80px;
          right: 100px;
          width: 215px;
          height: 130px;
          background-image: url(pics/right-food/services/dotted-2.png);
          @media(max-width: 1440px)and (min-width: 1200px){
            right: 150px;
          }
        }
      }
      .services__txt{
        font-size: 1.8rem;
      }
    }

    .services__cont>div:nth-child(even){
      .services__txt-cont{
        left: 50%;
        padding: 145px 0 0 80px;
        &:before{
          left: -225px;
          background-image: url(pics/right-food/services/apple-2.jpg);

          @media(max-width: 991px){
            left: -50px;
          }
        }
        @media(max-width: 1400px){
          left: 40%;
        }
        @media(max-width: 1199px){
          left: 30%;
        }
        @media(max-width: 991px){
          .horizontal-center;
        }
        @media(max-width: 991px)and (min-width: 768px){
          padding: 115px 0 0 225px;
        }
        @media(max-width: 767px){
          padding:20px 10px 20px 10px
        }
      }
      .services__head{
        &:after{
          bottom: -85px;
          left: -260px;
          width: 295px;
          height: 80px;
          background-image: url(pics/right-food/services/dotted-3.png);
        }
      }
      .services__txt{
        font-size: 1.25rem;
      }
    }
  }

}