

.service-group{
  &__each-cont{
    background-repeat: no-repeat;
    @media(max-width: 991px){
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .7);
      }

      @media(max-width: 767px){
        background-color: rgba(255, 255, 255, .8);
      }
    }
  }
  &__frame-txt{
    .vertical-center;
    width: 95%;
    max-width: 1250px;
    position: relative;
    margin: auto;

    @media(max-width: 767px){
      top: 0;
      transform: none;
    }
  }
  &__txt-cont{
    position: relative;
    width: 95%;
    padding: 40px;
    text-align: center;
    @media(max-width: 767px){
      padding: 30px 10px;
    }
  }

  &__head{
    font-weight: 300;
    color: #747474;
    line-height: 55px;

    &:before, &:after{
      content: '';
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      @media(max-width: 991px){
        display: none;
      }
    }
    @media(max-width: 991px){
      line-height: normal;
    }
  }

  &__big{
    font-size: 3.3rem;
  }
  &__txt{
    color: #969696;
    margin-bottom: 20px;
  }
  &__btn{
    font-size: 1.7rem;
    padding: 10px 40px;
    @media(max-width: 767px){
      font-size: 1.4rem;
      padding: 10px 20px;
    }
  }

  @media(max-width: 767px){
    &__head{
      font-size: 2rem;
    }

    &__big{
      font-size: 2.2rem;
    }
    &__txt{
      &._left,
      &._right{
        font-size: 1.5rem;
      }
    }
  }

  &__cont>div:nth-child(odd){
    .service-group__txt-cont{
      left:5%;
      @media(max-width: 991px){
        .horizontal-center;
      }
    }
    .service-group__head{


    }
    .service-group__txt{
      font-size: 1.8rem;
    }
  }

  &__cont>div:nth-child(even){
    .service-group__txt-cont{
      left: 50%;

      @media(max-width: 1400px){
        left: 40%;
      }
      @media(max-width: 1199px){
        left: 30%;
      }
      @media(max-width: 991px){
        .horizontal-center;
      }

    }
  }
}
.service-group__each-cont._fitness{
  height:895px;
  background-image: url(pics/right-food/fitness/fitness-bg.jpg);
  background-position: center;
  @media(max-width: 991px){
    background-position: 75% 0;
  }
  @media(max-width: 767px){
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__txt-cont{
      max-width: 490px;
      height: 430px;
      @media(max-width: 767px){
        height: auto;
      }
    }

    &__head{
      font-size: 2.5rem;
      padding-bottom: 10px;
      &:before {
        top: -280px;
        right: 40%;
        width: 78px;
        height: 270px;
        background-image: url(pics/right-food/fitness/dotted-6.png);
      }
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
    }

    &__big{
      display: block;
      font-size: 3.4rem;
      @media(max-width: 767px){
        font-size: 1.8rem;
      }
    }
  }
}
.service-group__each-cont._physical{
  height: 600px;
  background-image: url(pics/right-food/fitness/physical-bg.jpg);
  background-position: center;
  @media(max-width: 767px){
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__txt-cont{
      max-width: 490px;
      height: 430px;
      @media(max-width: 767px){
        height: auto;
      }
    }

    &__head{
      font-size: 1.875rem;
      padding-bottom: 10px;
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
      &:after{
        bottom: -186px;
        right: 90%;
        width: 250px;
        height: 176px;
        background-image: url(pics/right-food/runner/dotted-7.png);
        @media(max-width: 1440px)and (min-width: 1200px){
          right: 150px;
        }
      }
    }

    &__big{
      display: block;
      font-size: 3.4rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }

    &__green{
      color: #a8b25c;
    }
  }
}
.service-group__each-cont._runner{
  height: 700px;
  background-image: url(pics/right-food/runner/runner-bg.jpg);
  background-position: center;
  @media(max-width: 767px){
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__txt-cont{
      max-width: 490px;
      padding: 95px 30px 60px 30px;
      @media(max-width: 767px){
        height: auto;
        padding: 30px 10px;
      }
    }

    &__head{
      font-size: 1.875rem;
      padding-bottom: 10px;
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
    }

    &__big{
      display: block;
      font-size: 3.4rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
    &__medium{
      font-size: 3rem;
      @media(max-width: 767px){
        font-size: 1.9rem;
      }
    }
    &__small{
      font-size: 2.5rem;
      @media(max-width: 767px){
        font-size: 1.8rem;
      }
    }
    &__green{
      color: #a8b25c;
    }
  }
}
