
.sport{
  padding-bottom: 50px;
  .title(sport, #ac3597, #eacbe4);

  &__img-bg-cont{

    @media(max-width: 991px){
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .5);
      }

      @media(max-width: 767px){
        background-color: rgba(255, 255, 255, .8);
      }
    }
    @media(max-width: 767px){
      height: 250px;
    }

  }
  &__txt-cont{
    max-width: 760px;

    @media(max-width: 767px){
      text-align: center;
    }
    @media(min-width: 414px){
      width: 400px;
    }
    @media(min-width: 768px){
      width: 760px;
    }
  }
  &__link{
    color: #ac3597;
  }
  &__big{
    margin-right: 10px;
    float: left;
    font-size: 11rem;
    @media(max-width: 767px){
      float: none;
      font-size: 3rem;

    }
  }
  &__medium{
    padding-top: 40px;
    font-size: 3rem;
    @media(max-width: 767px){
      font-size: 2rem;
      padding-top: 2px;
    }
  }
  &__small{
    font-size: 1.6rem;
    @media(max-width: 767px){
      font-size: 1rem;
    }
  }

}