.plastikaInner{

  margin-bottom: 50px;

  h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #43719f;
    font-size: 22px;
    font-weight: bold;
    @media(min-width: 768px){
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 30px;
  }

  &__wrap{
    .container;
  }
}
.plastikaInner__baner{
  margin-bottom: 50px;


  &-text{
    max-width: 860px;
    width: 100%;
    padding: 0 15px;
    font-size: 18px;
    line-height: 28px;
    color: #33313e;
    text-align: left;
    @media(min-width: 600px){

      padding: 0 70px 0 15px;
    }
    @media(min-width: 768px){
      padding: 0 70px;
      font-size: 20px;
      line-height: 30px;
    }
    @media(min-width: 1024px){
      padding: 0;
      font-size: 24px;
      line-height: 35px;
    }
  }
}
