.plastikaInner__popularIner{
  margin-top: 30px;
  &-title{
    position: relative;
    max-width: 380px;
    width: 100%;
    margin-left: -5%;
    padding-left: 5%;
    margin-bottom: 45px;
    background-color: #66cfe1;
    text-align: left;
    font-size: 20px;
    line-height: 45px;
    color: #ffffff;
    @media(min-width: 768px) {
      margin-left: -6%;
      padding-left: 6%;
    }
    @media(min-width: 992px){
      font-size: 24px;
      margin-left: -35px;
      padding-left: 35px;
    }
    @media(min-width: 1200px){
      margin-left: -70px;
      padding-left: 70px;
    }
    &:after{
      content: '';
      position: absolute;
      top: 20px;
      left: 4px;
      z-index: -1;
      display: block;
      width: 96%;
      height: 20px;
      box-shadow: 6px 5px 5px 2px #92968a;
      transform: rotate(0.5deg);
    }
  }
  .g-grid{
    width: 100%;
    &__img-cont{
      width:  270px;
      height: 270px;
      @media(min-width: 992px)and(max-width: 1439px){
        width:  200px;
        height: 200px;
      }
    }
    &__content{
      max-width: 310px;
      font-size: 16px;
      color: #336799;
      @media(min-width: 992px){
        max-width: none;
        font-size: 20px;
      }
      @media(min-width: 1200px){
        font-size: 24px;
      }
    }
  }
}