
.sovetVracha{



  &__wrap{
    padding: 20px 0;
    margin-bottom: 50px;
    background-color: #f2f9fd;
    h2{
      padding: 0;
      margin-top: 0;
      margin-bottom: 20px;
      color: #43719f;
      font-size: 22px;
      font-weight: bold;
      @media(min-width: 768px){
        font-size: 30px;
      }
    }
  }

  &__left{
    text-align: center;
    margin-bottom: 20px;
    @media(min-width: 768px){
      text-align: left;
      margin-bottom: 0;
      padding-right: 10px;
    }
  }

  &__right{
    position: relative;
    @media(min-width: 768px){
      padding-left: 60px;
    }
    @media(min-width: 992px){
      padding-left: 105px;
    }
    &:before{
      position: absolute;
      top: 0;
      width: 35px;
      height: 28px;
      background-image: url(pics/svg/svg-plastika-inner/quotes.png);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      @media(min-width: 768px){
        content: '';
        left: 10px;
        display: block;
      }
      @media(min-width: 992px){
        left: 20px;
        width: 60px;
        height: 49px;
      }
      @media(min-width: 1440px){
        left: 0;
        width: 85px;
        height: 69px;
      }
    }
  }

  &__img{
    position: relative;
    max-width: 260px;
    width: 100%;
    height: 260px;
    overflow: hidden;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-height: 120%;
      transform: translate(-50%, -50%);
    }
    @media(max-width: 767px){
      margin: 0 auto 15px;
    }
    @media(min-width: 768px){
      height: 160px;
      margin-bottom: 15px;
    }
    @media(min-width: 992px){
      height: 260px;
    }
  }

  &__title{
    margin-bottom: 10px;
    font-size: 20px;
    color: #454545;
    b{
      display: block;
    }

  }

  &__desc{
    font-size: 14px;
  }

  &__text{
    font-size: 18px;
    line-height: 24px;
    color: #454545;
    text-align: justify;
    @media(min-width: 768px){
      text-align: left;
    }
    @media(min-width: 1440px){
      font-size: 24px;
      line-height: 36px;
    }
  }

}