.conception {
	padding-bottom: 70px;
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
	@media (max-width: 767px) {
		padding-bottom: 30px;
	}
	.title(conception, @conception-1, @conception-2);
	.g-grid{
		padding-top: 50px;
		max-width: 1300px;
		&__link{
			color: #6b6767;
			&:hover,&:active {
				color: #2979bd;
			}
		}
		&__img-cont{
			width:  300px;
			height: 300px;
			border-radius: 50%;
			@media(min-width: 992px)and(max-width: 1439px){
				width:  275px;
				height: 275px;
			}
		}
		&__content{
			max-width: 350px;
			@media(min-width: 992px)and(max-width: 1439px){
				max-width: 300px;
			}
		}
	}
}