.diagnostics {
	
	padding-bottom: 60px;
	
	&__container {
		.container();
	}
	
	.title(diagnostics, @diagnostics-1, @diagnostics-2);
	
	&__content {
		padding-top: 35px;
		overflow: hidden;
	}
	
	&__usr {
		position: relative;
		padding: 0;
		padding-right: 30px;
		
		@media (max-width: 991px) {
			max-width: 691px;
			margin: 0 auto;
			padding: 0;
		}
	}
	
	&__blood {
		position: relative;
		margin-top: 80px;
		padding: 0;
		padding-left: 30px;
		
		@media (max-width: 991px) {
			max-width: 691px;
			margin: 0 auto;
			margin-top: 60px;
			padding: 0;
		}
	}
	
	&__usr-img {
		width: @col-12;
	}
	
	&__blood-img {
		width: @col-12;
	}
	
	&__blood-content, &__usr-content {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: @diagnostics-3;
		padding: 0 40px;
		.transition;
		
		@media (max-width: 767px) {
			position: relative;
		}
		
		&:hover {
			background-color: darken(@diagnostics-3,2%);
		}
		
		&:focus {
			background-color: darken(@diagnostics-3,5%);
		}
	}
	
	&__usr-content {
		display: block;
		min-height: 135px;
		margin-right: 30px;
		padding-left: 70px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 10px 35px;
		}
		
		@media (max-width: 991px) {
			margin-right: 0;
			padding: 10px 4.6%;
		}
		
		&:hover, &:focus {
			.diagnostics__usr-title {
				text-decoration: underline;
			}
		}
	}
	
	&__blood-content {
		display: block;
		width: @col-12;
		min-height: 135px;
		margin-left: 30px;
		padding-right: 70px;
		padding-top: 45px;
		padding-bottom: 30px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 10px 35px;
			padding-top: 30px;
		}
		
		@media (max-width: 991px) {
			margin-left: 0;
			padding: 30px 4.6%;
		}
		
		&:hover, &:focus {
			.diagnostics__blood-title {
				text-decoration: underline;
			}
		}
	}
	
	&__usr-title, &__blood-title {
		margin: 0;
		.font(@ff,41px);
		text-transform: uppercase;
		color: @white;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,30px);
		}
		
		@media (max-width: 767px) {
			.font(@ff,26px);
		}
	}
	
	&__usr-text-content, &__blood-text-content {
		padding: 10px 0;
		.font(@ff,20px);
		color: @white;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,16px);
		}
		
		@media (max-width: 767px) {
			.font(@ff,16px);
		}
	}
}