.eco-slider {

	margin-bottom: 55px;

	&__container {
		.container();
	}

	&__content {

		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}
	}

	&__link {
		text-shadow: 1px 1px 1px darken(@online-services-1, 20%);
		.transition;

		h3 {
			.font(@ff, 140px, 0.8);
			color: @white;
			.transition;

			@media (max-width: 767px) {
				.font(@ff, 90px, 0.8);
				text-align: center;
			}
		}

		p {
			.font(@ff, 40px, 1);
			color: @white;
			.transition;

			@media (max-width: 767px) {
				.font(@ff, 30px, 1);
				text-align: center;
			}
		}

		&:hover {

			h3, p {
				opacity: 0.9;
			}
		}

		&:focus {
			outline: none;

			h3, p {
				opacity: 0.8;
			}
		}
	}
}