.gynecology {
	
	padding-bottom: 70px;
	
	@media (max-width: 767px) {
		padding-bottom: 40px;
	}
	
	&__container {
		.container();
	}
	
	.title(gynecology, @gynecology-1, @gynecology-2);
	
	&__content {
		padding-top: 70px;
	}
	
	&__items {
		margin-bottom: 60px;
		
		@media (max-width: 767px) {
			margin-bottom: 0;
		}
	}
	
	&__item {
		position: relative;
		text-align: center;
		
		@media (max-width: 991px) {
			margin-bottom: 80px;
		}
		
		@media (max-width: 480px) {
			margin-bottom: 50px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: -22px;
			left: 50%;
			transform: translateX(-50%);
			width: 350px;
			height: 318px;
			.corner(#d2d2d2,82px,5px);
			.transition;
			
			@media (min-width: 992px) and (max-width: 1249px) {
				display: none;
			}
			
			@media (max-width: 480px) {
				display: none;
			}
		}
		
		&:hover, &:focus {
			cursor: pointer;
		}
		
		a {
			display: inline-block;
			max-width: 350px;
			.font(@ff, 21px);
			color: @gynecology-3;
			.transition;

			@media (max-width: 480px) {
				.font(@ff, 18px);
			}

			&:focus {
				text-decoration: underline;
				color: darken(@gynecology-3, 20%);
			}
		}
		
		&:hover a {
			text-decoration: underline;
			color: darken(@gynecology-3, 10%);
		}
		
		&:active a {
			text-decoration: underline;
			color: darken(@gynecology-3, 20%);
		}
		
		&:hover::before {
			.corner(#b8b8b8,82px,5px);
		}
		
		&:active::before {
			.corner(#9e9e9e,82px,5px);
		}
	}
	
	&__img {
		margin: 0 auto;
		margin-bottom: 45px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-12;
			max-width: 308px;
		}
		
		@media (max-width: 480px) {
			width: @col-12;
			max-width: 308px;
			margin-bottom: 20px;
		}
	}
	
	&__link {
		display: block;
		text-align: center;
		text-decoration: underline;
		color: @gynecology-1;
		.transition;
		
		&:hover {
			text-decoration: underline;
			color: darken(@gynecology-1, 10%);
		}
		
		&:focus {
			text-decoration: underline;
			color: darken(@gynecology-1, 15%);
		}
	}
}