.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/pregnancy-planning/pregnancy-planning-wp.png);
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: @birth-8;
    &:hover {
      text-decoration: underline;
      color: darken(@birth-8, 10%);

      &::before {
        transform: translateX(-50%) translateY(-7px);

        @media (max-width: 767px) {
          transform: translateY(-50%);
        }
      }
    }

    &:active {
      text-decoration: underline;
      color: darken(@birth-8, 20%);
    }
  }
}