.infertility-treatment {
	
	&__container {
		.container();
	}
	
	.title(infertility-treatment, @infertility-treatment-1, @infertility-treatment-2);
	
	&__content {
		margin-top: -10px;
		padding-top: 60px;
		background: url(pics/pregnancy-planning/infertility-treatment-wp.jpg) 0 0 no-repeat;
		background-size: cover;
	}
	
	&__text-content {
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__list {
		margin-bottom: 40px;
		
		li {
			margin-bottom: 20px;
		}
		
		li > a {
			position: relative;
			display: block;
			padding-left: 40px;
			.font(@ff, 20px);
			color: @infertility-treatment-3;

			@media (max-width: 480px) {
				.font(@ff, 18px);
			}

			&::before {
				content: "";
				position: absolute;
				top: 5px;
				left: 0;
				width: 14px;
				height: 14px;
				background-color: @infertility-treatment-4;
			}

			&:hover {
				text-decoration: underline;
				color: lighten(@infertility-treatment-3, 5%);

				&::before {
					background-color: lighten(@infertility-treatment-4, 5%);
				}
			}

			&:focus {
				text-decoration: underline;
				color: lighten(@infertility-treatment-3, 10%);

				&::before {
					background-color: lighten(@infertility-treatment-4, 10%);
				}
			}
		}
	}
	
	&__link-wrap {
		margin-bottom: 65px;
		
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}