.man-health {
	
	padding-bottom: 10px;
	
	&__container {
		.container();
	}
	
	.title(man-health, @man-health-1, @man-health-2);
	
	&__content {
		margin-top: -10px;
		padding-top: 70px;
		background: url(pics/pregnancy-planning/man-health-wp.jpg) 0 0 no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			background: url(pics/pregnancy-planning/man-health-wp-mob.jpg) 0 0 no-repeat;
			background-size: contain;
		}
	}
	
	&__text-content {
		@media (max-width: 480px) {
			padding: 0;
		}
	}
	
	&__list {
		
		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
		
		@media (max-width: 767px) {
			padding-top: 87%;
		}
		
		@media (max-width: 480px) {
			padding-top: 80%;
		}
		
		li {
			margin-bottom: 60px;
			
			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
		}
		
		li > a {
			position: relative;
			display: block;
			.font(@ff,26px);
			color: @man-health-3;
			.transition;

			@media (max-width: 767px) {
				color: @gray;
			}

			@media (max-width: 480px) {
				.font(@ff,18px);
			}

			&::before {
				.before(50%,-80px,43px,43px);
				transform: translateY(-50%);
				background: url(pics/pregnancy-planning/arrow.png) 0 0 no-repeat;
				.transition;

				@media (max-width: 767px) {
					display: none;
				}
			}

			&:hover {
				text-decoration: underline;
				color: darken(@man-health-3, 10%);

				&::before {
					left: -75px;
				}
			}

			&:focus {
				text-decoration: underline;
				color: darken(@man-health-3, 20%);

				&::before {
					left: -75px;
				}
			}
		}
	}
	
	&__link-wrap {
		margin-bottom: 40px;
		
		@media (max-width: 991px) {
			margin-bottom: 20px;
		}
	}
}