.medications {
	
	padding-bottom: 30px;
	
	&__container {
		.container();
	}
	
	.title(medications, @medications-1, @medications-2);
	
	&__content {
		padding-top: 20px;
	}
	
	&__content-box {
		position: relative;
		margin-bottom: 50px;
		
		@media (max-width: 1199px) {
			padding-top: 170px;
		}
		
		&::before {
			.before(13%,50%,626px,362px);
			transform: translateX(-50%);
			background: url(pics/pregnancy-planning/medications-wp.png) 0 0 no-repeat;
			
			@media (max-width: 1199px) {
				top: -20px;
				width: 313px;
				height: 181px;
				background-size: contain;
			}
		}
	}
	
	&__text-content-left, &__text-content-right {
		padding: 0;
	}
	
	&__content-title {
		margin-bottom: 50px;
		.font(@ff,30px,1.2,normal,bold);
		text-align: center;
		color: darken(@medications-1, 20%);
		
		@media (max-width: 480px) {
			.font(@ff,26px,1.2,normal,bold);
		}
	}
	
	&__list {
		
		li {
			margin-bottom: 45px;
			
			@media (max-width: 991px) {
				margin-bottom: 20px;
			}
			
			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
		}
		
		li > a {
			position: relative;
			display: inline-block;
			padding: 10px 20px;
			padding-left: 50px;
			.font(@ff, 23px);
			color: @medications-3;
			.transition;

			@media (max-width: 480px) {
				display: block;
				padding-left: 40px;
				.font(@ff, 18px);
			}

			&::before {
				.before(20px,17px,8px,8px);
				background-color: @medications-3;
				border-radius: 50%;
				.transition;

				@media (max-width: 767px) {
					top: 16px;
				}
			}

			&:hover, &:focus {
				background-color: @medications-1;
				color: @white;

				&::before {
					background-color: @white;
				}
			}
		}
	}
}