.online-services {
	
	&__container {
		.container();
	}
	
	.title(online-services, @online-services-1, @online-services-2);
	
	&__content {
		padding-top: 80px;
		padding-bottom: 70px;
		
		@media (max-width: 991px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	
	&__calendar {
		margin-bottom: 100px;
		
		@media (max-width: 1199px) {
			margin-bottom: 150px;
		}
		
		@media (max-width: 991px) {
			margin-bottom: 0;
		}
	}
	
	&__decipher {
		width: @col-6;
		margin-bottom: 200px;
		padding-right: 30px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-12;
		}
		
		@media (max-width: 991px) {
			width: @col-12;
			margin-bottom: 60px;
			padding-right: 0;
		}
	}
	
	&__calendar-block {
		max-width: 460px;
		margin-left: 40px;
		
		@media (max-width: 1199px) {
			margin: 0 auto;
		}
	}
	
	&__calendar-content {
		padding-right: 30px;
		
		@media (max-width: 991px) {
			padding: 0;
		}
	}
	
	&__decipher-content {
		position: relative;
		max-width: 460px;
		margin-left: auto;
		padding-top: 50px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-left: 10%;
		}
		
		@media (max-width: 991px) {
			width: @col-12;
			margin: 0 auto;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 120px;
		}
		
		&::before {
			.before(0,0,459px,318px);

			background: url(pics/pregnancy-planning/online-services-block.png) 0 0 no-repeat;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 20px;
			right: -376px;
			width: 376px;
			height: 367px;
			background: url(pics/pregnancy-planning/online-services-blood.png) 0 0 no-repeat;
			
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	
	&__calendar-text {
		position: relative;
		max-width: 410px;
		margin-left: auto;
		padding-top: 190px;
		.font(@ff,18px);
		color: darken(@online-services-5, 10%);
		
		@media (max-width: 1199px) {
			margin: 0 auto;
			margin-bottom: 80px;
			padding-top: 0;
		}
		
		@media (max-width: 991px) {
			padding: 0;
			margin: 0 auto;
			.font(@ff,16px);
		}
		
		&::before {
			.before(-260px,120px,394px,473px);
			background: url(pics/pregnancy-planning/online-services-bg.png) 0 0 no-repeat;
			
			@media (max-width: 1199px) {
				display: none;
			}
		}
	}
	
	&__calendar-block {
		position: relative;
		padding: 0;
		padding-top: 50px;
		
		@media (max-width: 1199px) {
			margin: 0 auto;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-top: 60px;
			margin-bottom: 140px;
		}
		
		&::before {
			.before(0,0,459px,318px);

			.corner(#d2d2d2, 82px, 5px);
			.transition;
			
			@media (max-width: 767px) {
				display: none;
			}
		}
		
		&::after {
			content: "";
			position: absolute;
			top: 140px;
			right: -137px;
			width: 137px;
			height: 137px;
			background: url(pics/pregnancy-planning/online-services-dec.png) 0 0 no-repeat;
			
			@media (min-width: 1200px) and (max-width: 1350px) {
				display: none;
			}
			
			@media (max-width: 991px) {
				display: none;
			}
		}
	}
	
	&__calendar-title {
		margin: 0;
		width: 459px;
		margin-bottom: 15px;
		.font(@ff,56px);
		text-align: center;
		color: @online-services-4;
		
		@media (max-width: 767px) {
			width: @col-12;
			max-width: 350px;
			margin: 0 auto;
			margin-bottom: 40px;
			.font(@ff,32px);
		}
	}
	
	&__decipher-title {
		margin: 0;
		width: 459px;
		margin-bottom: 40px;
		.font(@ff,44px,1);
		text-align: center;
		color: @online-services-4;
		
		@media (max-width: 767px) {
			width: @col-12;
			max-width: 350px;
			margin: 0 auto;
			margin-bottom: 40px;
			.font(@ff,30px,1);
		}
		
		span {
			.font(@ff,72px,1);
			
			@media (max-width: 767px) {
				.font(@ff,34px,1);
			}
		}
	}
	
	&__calendar-link, &__decipher-link {
		display: block;
		width: 315px;
		margin: 0 auto;
		padding-top: 3px;
		padding-bottom: 10px;
		.font(@ff,28px, 1.2, normal,bold);
		text-align: center;
		cursor: pointer;
		background-color: @online-services-3;
		color: @white;
		.transition;
		
		@media (max-width: 767px) {
			width: @col-12;
			max-width: 350px;
		}
		
		&:hover {
			background-color: darken(@online-services-3, 5%);
			color: @white;
		}
		
		&:focus {
			background-color: darken(@online-services-3, 10%);
			color: @white;
		}
	}
	
	&__decipher-link {
		width: 380px;
		
		@media (max-width: 767px) {
			width: @col-12;
			max-width: 350px;
		}
	}
}