.pregnancy-symptoms-slider {

	&__item {
		position: relative;
	}

	&__img {
		.slider(567px);
	}

	&__link {
		display: block;
		background-color: @pregnancy-symptoms-4;

		max-width: 700px;

		.transition;

		&:hover {

			.pregnancy-symptoms-slider__title {
				text-decoration: underline;
				color: lighten(@pregnancy-symptoms-3, 15%);
			}
		}

		&:focus {
			outline: none;

			pregnancy-symptoms-slider__title {
				text-decoration: underline;
				color: lighten(@pregnancy-symptoms-3, 20%);
			}
		}

		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}

		h3 {
			padding: 20px 100px;
			.font(@ff,42px);
			color: @pregnancy-symptoms-3;
			.transition;

			@media (max-width: 767px) {
				width: @col-12;
				padding: 0;
				.font(@ff,26px);
				text-align: center;
			}

			@media (max-width: 480px) {
				.font(@ff,22px);
			}

			span {
				.font(@ff,50px);

				@media (max-width: 767px) {
					.font(@ff,30px);
				}

				@media (max-width: 480px) {
					.font(@ff,24px);
				}
			}
		}
	}
}