.about-pregnancy-slider {

	&__item {
		position: relative;
	}

	&__item-content {
		padding-right: 70px;
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}

		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(0,0,0,0.3);
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}

		h3 {
			margin-bottom: 20px;
			.font(@ff,41px);
			color: @white;

			@media (max-width: 767px) {
				.font(@ff,30px);
				margin-top: 0;
			}

			@media (max-width: 480px) {
				margin-bottom: 0;
				.font(@ff,20px);
			}
		}

		p {
			margin-bottom: 30px;
			.font(@ff,25px);
			color: @white;

			@media (max-width: 767px) {
				.font(@ff,18px);
				margin-bottom: 20px;
			}

			@media (max-width: 480px) {
				.font(@ff,16px);
			}
		}
	}

	&__item-link {
		display: inline-block;
		padding: 10px 20px;
		.font(@ff,25px);
		border: 1px solid @white;
		background-color: rgba(255,255,255,0.4);
		color: @white;
		.transition;

		&:hover {
			background-color: rgba(255,255,255,0.5);
			color: @gray;
		}

		&:focus {
			background-color: rgba(255,255,255,0.6);
			color: @gray;
			outline: none;
		}

		@media (max-width: 767px) {
			.font(@ff,18px);
		}

		@media (max-width: 480px) {
			padding: 0;
			.font(@ff,14px);
			text-decoration: underline;
			background-color: transparent;
			border: none;
		}
	}
}