.adolescent-psychology {
	padding-top: 10px;

	&__container {
		.container;
	}

	&__title {
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}

	&__link:hover > h3, &__link:focus > h3, &__link:hover > p, &__link:focus > p {
		text-decoration: underline;
	}

	&__item-content {
		padding-right: 70px;
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}
		@media (max-width: 991px) {
			padding: 20px;
			text-align: center;
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}

		h3 {
			display: inline-block;
			margin: 0;
			margin-bottom: 8px;
			padding: 7px 20px;
			.font(@ff,40px);
			background-color: @adolescent-psychology-1;
			color: @white;

			@media (max-width: 767px) {
				margin-bottom: 5px;
				padding: 3px 10px;
				.font(@ff,34px);
				background-color: none;
			}

			@media (max-width: 480px) {
				.font(@ff,20px);
			}
		}

		p {
			display: inline-block;
			margin: 0;
			padding: 7px 20px;
			.font(@ff,28px);
			background-color: @adolescent-psychology-1;
			color: @white;

			@media (max-width: 767px) {
				margin-bottom: 5px;
				padding: 3px 10px;
				.font(@ff,28px);
				background-color: none;
			}

			@media (max-width: 480px) {
				.font(@ff,16px);
			}
		}
	}
}