.calculation-menu {
	
	&__container {
		.container();
	}
	
	&__link {
		padding: 0;
	}
	
	&__link-l {
		padding-right: 29px;
		
		@media (max-width: 991px) {
			padding: 0;
		}
	}
	
	&__link-r {
		padding-left: 29px;
		
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	
	&__item {
		position: relative;
		max-width: 621px;
		margin-bottom: 58px;
		padding: 0;
		
		@media (max-width: 991px) {
			width: col-12;
			max-width: 621px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		
		&:hover {
			
			&::before {
				opacity: 0;
			}
			
			.calculation-menu__title {
				background-color: @calculation-menu-2;
			}
			
			.calculation-menu__title::before {
				background-color: transparent;
			}
			
			.calculation-menu__title::after {
				background-color: transparent;
			}
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: @calculation-menu-1;
			.transition;
		}
	}
	
	&__img {
		width: @col-12;
	}
	
	&__title {
		position: absolute;
		min-width: 327px;
		margin: 0;
		padding: 11px 20px;
		padding-bottom: 14px;
		.center;
		.font(@ff,25px,1.2,normal,bold);
		white-space: nowrap;
		text-align: center;
		color: @white;
		.transition;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			min-width: 0;
			width: col-12;
			padding: 11px 10px;
			padding-bottom: 14px;
			.font(@ff,18px,1.2,normal,bold);
		}
		
		@media (max-width: 767px) {
			min-width: 0;
			width: col-12;
			padding: 11px 10px;
			padding-bottom: 14px;
			.font(@ff,18px,1.2,normal,bold);
		}
		
		@media (max-width: 480px) {
			white-space: pre-wrap;
		}
		
		&::before {
			.before(0,50%,326px,3px);
			transform: translateX(-50%);
			background-color: @white;
			.transition;
			
			@media (min-width: 992px) and (max-width: 1199px) {
				width: col-12;
				max-width: 326px;
			}
			
			@media (max-width: 767px) {
				width: col-12;
				max-width: 326px;
			}
		}
		
		&::after {
			.before(auto,50%,326px,3px);
			bottom: 0;
			transform: translateX(-50%);
			background-color: @white;
			.transition;
			
			@media (min-width: 992px) and (max-width: 1199px) {
				width: col-12;
				max-width: 326px;
			}
			
			@media (max-width: 767px) {
				width: col-12;
				max-width: 326px;
			}
		}
	}
}