.childhood-diseases-menu {

	padding-top: 40px;
	
	@media (max-width: 991px) {
		padding-top: 0;
	}

	&__container {
		.container();
	}

	&__title {
		margin: 0;
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;

		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}
	/*~~~custom styles for txt inner~~~*/

	.g-grid{
		width: 100%;
		max-width: 1440px;
		&__link{
			width: 290px;
			height: 199px;
			@media(min-width: 768px){
				width: 540px;
				height: 370px;
			}
			@media(min-width: 992px){
				width:  400px;
				height: 275px;
			}
			@media(min-width: 1200px){
				width:  470px;
				height: 323px;
			}
			@media(min-width: 1440px){
				width: 540px;
				height: 370px;
			}
		}

		&._txt-inner {
				.g-grid__content{

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: auto;
				max-width: 300px;
				padding: 15px 25px;
				text-align: center;
				background-color: rgba(255, 255, 255, 0.7);
				color: #2f2f2f;
				h3{
					font-weight: normal;
					font-size:30px;
				}
			}
		}
	}
	/*~~~ END custom styles for txt inner~~~*/
}