.children-list {
	&__container {
		.container();
	} 
	
	&__items {
		padding-top: 90px;
		padding-bottom: 40px;
		
		@media (max-width: 991px) {
			padding-top: 70px;
			padding-bottom: 20px;
		}
	}
	
	&__link {
		position: relative;
		display: block;
		padding-top: 145px;
		.font(@ff,20px);
		color: @gray;
		text-align: center;
		color: darken(@gray, 10%);
		
		@media (min-width: 768px) and (max-width: 991px) {
			display: inline-block;
			width: @col-6 - 1%;
			margin-bottom: 50px;
		}
		
		@media (min-width: 481px) and (max-width: 767px) {
			width: @col-12;
			margin-bottom: 50px;
		}
		
		@media (max-width: 480px) {
			.font(@ff,18px);
			margin-bottom: 50px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(pics/motherhood/sprite-menu-2.jpg);
			background-repeat: no-repeat;
			.transition;
		}
		
		&:hover {
			text-decoration: underline;
			color: lighten(@gray, 10%);
			
			&::before {
				transform: translate(-50%, -10px);
			}
		}
		
		&:focus {
			text-decoration: underline;
			color: lighten(@gray, 20%);
		}
	}
	
	&__link-1 {
		&::before {
			.stitches-sprite(-30px, -30px, 58px, 127px);
		}
	}
	
	&__link-2 {
		&::before {
			.stitches-sprite(-148px, -30px, 106px, 114px);
		}
	}
	
	&__link-3 {
		&::before {
			.stitches-sprite(-314px, -30px, 113px, 105px);
		}
	}
	
	&__link-4 {
		&::before {
			.stitches-sprite(-487px, -30px, 124px, 91px);
		}
	}
}