.children-menu {
	
	background: url(pics/motherhood/children-menu-wp.png) 0 0 no-repeat;
	background-size: cover;
	
	@media (max-width: 991px) {
		background: none;
	}
	
	&__container {
		.container;
	}
	
	&__content {
		padding-top: 165px;
		padding-bottom: 205px;
		
		@media (max-width: 991px) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	
	&__title {
		margin: 0;
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;
		
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}
	
	&__age {
		
		text-align: right;
		
		li {
			display: inline-block;
			vertical-align: top;
			margin-left: -5px;
			
			@media (max-width: 1350px) {
				margin: 0;
				margin-bottom: 20px;
			}
		}
		
		@media (max-width: 1350px) {
			max-width: 600px;
			margin: 0 auto;
			text-align: center;
		}
	}
	
	&__age-item {
		display: block;
		padding: 20px;
		.font(@ff,23px, 1.2, normal, bold);
		background-color: @children-menu-1;
		color: @white;
		.transition;
		
		@media (max-width: 1350px) {
			padding: 20px 40px;
			border-radius: 50px;
		}
		
		&_first {
			padding-left: 40px;
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}
		
		&_last {
			padding-right: 40px;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}
		
		&:hover {
			background-color: @children-menu-2;
			color: @white;
		}
		
		&:focus {
			background-color: darken(@children-menu-2,10%);
			color: @white;
		}
	}
}