.documents-laws {
	
	padding-top: 20px;
	padding-bottom: 45px;
	
	@media (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 25px;
	}
	
	&__container {
		.container();
	} 
	
	&__title {
		margin-bottom: 50px;
		.font(@ff,25px);
		text-align: center;
		color: @experts-1;
		
		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}
	
	&__list-block {
		margin-bottom: 10px;
	}
	
	&__list {
		
		padding: 0;
		padding-right: 40px;
		
		@media (max-width: 767px) {
			padding-right: 0;
		}
		
		li {
			position: relative;
			padding-left: 30px;
			margin-bottom: 20px;
			
			&::before {
				.before(5px,0,12px,12px);
				background-color: @documents-laws;
			}
		}
		
		li > a {
			.font(@ff,18px);
			color: @documents-laws;

			@media (max-width: 767px) {
				.font(@ff,16px);
			}

			&:hover {
				text-decoration: underline;
				color: darken(@documents-laws,10%);
			}

			&:focus {
				text-decoration: underline;
				color: darken(@documents-laws,20%);
			}
		}
	}
}