.events {
	
	padding-top: 10px;
	padding-bottom: 25px;
	background-color: @events-1;
	
	&__container {
		.container();
	} 
	
	&__title {
		margin-bottom: 35px;
		.font(@ff,25px);
		text-align: center;
		color: @experts-1;
	}
	
	&__menu-block {
		margin-bottom: 20px;
		
		@media (max-width: 767px) {
			margin-bottom: 0;
		}
	}
	
	&__city {
		padding: 0;
		
		@media (min-width: 768px) and (max-width: 991px) {
			margin-bottom: 20px;
			text-align: center;
		}
	}
	
	&__city-text {
		display: inline-block;
		vertical-align: top;
		.font(@ff,20px);
		padding-right: 10px;
		color: @experts-1;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,16px);
		}
		
		@media (max-width: 767px) {
			display: block;
			margin-bottom: 15px;
			text-align: center;
		}
	}
	
	&__select {
		position: relative;
		display: inline-block;
		.font(@ff,20px);
		
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,16px);
		}
		
		@media (max-width: 767px) {
			display: block;
			margin-bottom: 40px;
			text-align: center;
		}
	}
	
	&__dropdownbtn {
		padding: 3px 35px;
		padding-right: 25px;
		border-radius: 30px;
		background-color: @events-2;
		color: @experts-1;
		.transition;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 3px 15px;
		padding-right: 5px;
		}
		
		&:hover {
			background-color: darken(@events-2,5%);
			color: @experts-1;
		}
		
		&:focus {
			background-color: darken(@events-2,10%);
			color: @experts-1;
		}
	}
	
	&__caret {
		font-size: 30px;
	}
	
	&__dropdownmenu {
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
		.font(@ff,20px);
		color: @experts-1;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,16px);
		}
	}
	
	&__menu-items {
		padding: 0;
		
		@media (max-width: 991px) {
			text-align: center;
		}
		
		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
			padding: 0 10px;
			padding-bottom: 2px;
			.font(@ff,14px);
			border: 1px solid @events-3;
			background-color: @white;
			color: @events-3;
			.transition;

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}

			&:hover {
				background-color: @events-4;
				border: 1px solid @events-4;
				color: @white;
			}

			&:focus {
				background-color: lighten(@events-4,10%);
				border: 1px solid lighten(@events-4,10%);
				color: @white;
			}
		}
	}
	
	&__items {
		margin-bottom: 45px;
		padding: 0;
		
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
	
	&__item {
		max-width: 415px;
		margin: 0 auto;
		padding: 0 7px;
		
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
		
		&:hover > .events__img-wrap::before {
			background-color: rgba(0,0,0,0.1);
		}
		
		&:active > .events__img-wrap::before {
			background-color: rgba(0,0,0,0.2);
		}
		
		h3 {
			margin: 0;
			.font(@ff,20px);
			color: @experts-1;

			@media (max-width: 767px) {
				.font(@ff,18px);
			}
		}
		
		time {
			margin: 0;
			margin-top: 10px;
			.font(@ff,16px);
			color: @events-5;

			@media (max-width: 767px) {
				.font(@ff,14px);
			}
		}
		
		p {
			margin: 0;
			margin-bottom: 5px;
			.font(@ff,16px);
			color: @events-5;

			@media (max-width: 767px) {
				.font(@ff,14px);
			}
		}
	}
	
	&__img-wrap {
		position: relative;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0);
			.transition;
		}
	}
	
	&__img {
		width: @col-12;
		max-width: 415px;
		margin: 0 auto;
	}
	
	&__link {
		display: block;
		.font(@ff,14px);
		text-align: center;
		text-decoration: underline;
		color: @events-6;
		.transition;
		
		&:hover {
			text-decoration: underline;
			color: lighten(@events-6,10%);
		}
		
		&:focus {
			text-decoration: underline;
			color: lighten(@events-6,20%);
		}
	}
}