.experts {
	
	&__container {
		.container();
	} 
	
	&__title {
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @experts-1;
	}
	
	&__content {
		padding: 19px 0;
		background-color: @experts-3;
	}
	
	&__img {
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		
		@media (max-width: 480px) {
			width: @col-12;
			max-width: 338px;
		}
	}
	
	&__text-block {
		padding: 35px 50px;
		
		@media (max-width: 767px) {
			padding: 30px 0;
		}
	}
	
	&__text-content {
		margin-bottom: 20px;
		.font(@ff,18px);
		color: @experts-2;
		
		span {
			display: block;
			.font(@ff,30px);
		}
		
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	
	&__quote {
		position: relative;
		padding: 0;
		border: none;
		.font(@ff,46px,1);
		color: @experts-1;
		
		&::before {
			content: "“";
			position: absolute;
			top: -8px;
			left: -55px;
			.font(@ff,94px);
			color: @experts-1;
			
			@media (max-width: 767px) {
				top: -15px;
				left: 0;
				.font(@ff,74px);
			}
		}
		
		@media (max-width: 767px) {
			max-width: 600px;
			margin: 0 auto;
			margin-bottom: 20px;
			padding-left: 45px;
			.font(@ff,28px,1);
		}
	}
	
	&__link {
		.font(@ff, 30px);
		color: @experts-2;
		.transition;
		
		&:hover {
			text-decoration: underline;
			color: darken(@experts-2,10%);
		}
		
		&:focus {
			text-decoration: underline;
			color: darken(@experts-2,20%);
		}
		
		@media (max-width: 767px) {
			display: block;
			.font(@ff,20px);
			text-align: center;
		}
	}
}