.help-parents {
	
	padding-top: 10px;
	
	@media (max-width: 991px) {
		padding-top: 0;
	}
	
	&__container {
		.container();
	} 
	
	&__title {
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;
		
		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}
	
	&__link {
		display: block;
		
		@media (max-width: 480px) {
			padding: 0;
		}
	}
	
	&__item {
		position: relative;
		max-width: 540px;
		margin: 0 auto;
		margin-bottom: 65px;
		padding: 0;
		
		&:hover::before {
			background-color: rgba(0,0,0,0.1);
		}
		
		&:active::before {
			background-color: rgba(0,0,0,0.2);
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0);
			.transition;
		}
		
		@media (max-width: 767px) {
			width: col-12;
			max-width: 540px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
	
	&__item-img {
		width: @col-12;
		max-width: 540px;
		margin: 0 auto;
	}
	
	&__content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: @col-12;
		padding: 15px 25px;
		background-color: rgba(255,255,255,0.7);
		color: @childhood-diseases-menu-1;
		
		h3 {
			margin: 0;
			.font(@ff,20px);

			@media (max-width: 480px) {
				.font(@ff,16px);
			}
		}
	}
	
	&__link-wrap {
		margin-bottom: 55px;
		
		@media (max-width: 767px) {
			margin-bottom: 30px;
		}
	}
}