.hobby {

	&__container {
		.container();
	}

	&__title {
		margin-bottom: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}

	&__slider {
		margin-bottom: 40px;
	}
	&__item-content {
		padding-left: 120px;
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}

		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: @women-block-1;
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}
	}

	&__link {

		h3 {
			margin: 0;
			padding: 5px 32px;
			.font(@ff,41px);
			color: @white;

			@media (max-width: 991px) {
				background-color: transparent;
			}

			@media (max-width: 767px) {
				.font(@ff,30px);
				margin-top: 0;
			}

			@media (max-width: 480px) {
				margin-bottom: 0;
				.font(@ff,20px);
			}
		}

		p {
			margin: 0;
			padding: 12px 32px;
			.font(@ff,25px);
			color: @white;

			@media (max-width: 991px) {
				background-color: transparent;
			}

			@media (max-width: 767px) {
				.font(@ff,18px);
			}

			@media (max-width: 480px) {
				.font(@ff,16px);
			}
		}
	}
}