.home {
	
	padding-top: 35px;
	
	&__content {
		min-height: 561px;
		background: url(pics/motherhood/home-wp.jpg) 0 0 no-repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			padding-top: 70%;
			padding-bottom: 1px;
			background: @home-1 url(pics/motherhood/home-wp-mob.jpg) 0 0 no-repeat;
			background-size: contain;
		}
	}
	
	&__text-content {
		padding-top: 35px;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			background-color: @home-2;
		}
	}
	
	&__title {
		margin: 0;
		margin-bottom: 80px;
		padding-left: 120px;
		.font(@ff,24px);
		color: @white;
		
		@media (max-width: 767px) {
			margin-bottom: 40px;
			padding-left: 0;
			text-align: center;
		}
	}
	
	&__list {
		
		@media (max-width: 767px) {
			max-width: 400px;
			margin: 0 auto;
		}
		
		li {
			margin-bottom: 60px;
		}
	}
	
	&__list-item {
		position: relative;
		display: block;
		padding-left: 100px;
		.font(@ff,24px);
		color: @white;
		
		@media (max-width: 767px) {
			padding-left: 80px;
			.font(@ff,18px);
		}
		
		&:hover, &:focus {
			text-decoration: underline;
			color: @white;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: -10px;
			left: 0;
			background-image: url(pics/motherhood/sprite-home.png);
			background-repeat: no-repeat;
			
			@media (max-width: 767px) {
				top: -20px;
			}
		}
	}
	
	&__list-item-1::before {
		.stitches-sprite(-10px, -10px, 53px, 53px);
	}
	
	&__list-item-2::before {
		.stitches-sprite(-83px, -10px, 58px, 54px);
	}
	
	&__list-item-3::before {
		.stitches-sprite(-161px, -10px, 50px, 49px);
	}
	
	&__list-item-4::before {
		top: -5px;
		left: 20px;
		.stitches-sprite(-231px, -10px, 20px, 32px);
	}
}