.hospital-slider {


	&__text-wrapper{
		background-color: @hospital-slider-1;
	}

	&__text-content {
		padding: 30px 75px;
		padding-right: 100px;
		color: @white;
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}
		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}

		h3 {
			margin: 0;
			margin-bottom: 10px;
			.font(@ff,34px);

			@media (max-width: 767px) {
				.font(@ff,30px);
			}

			@media (max-width: 480px) {
				.font(@ff,20px);
			}
		}
	}

	&__item-link {
		.font(@ff,24px);
		text-decoration: underline;
		color: @hospital-slider-2;
		.transition;

		@media (max-width: 767px) {
			.font(@ff,18px);
		}

		@media (max-width: 480px) {
			.font(@ff,16px);
		}

		&:hover {
			text-decoration: underline;
			color: darken(@hospital-slider-2,10%);
		}

		&:focus {
			text-decoration: underline;
			color: darken(@hospital-slider-2,20%);
			outline: none;
		}
	}
}