.instruments {
	
	padding-bottom: 100px;
	background: url(pics/motherhood/instruments-wp.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 50px;
	
	@media (max-width: 991px) {
		padding-bottom: 0;
	}
	
	&__container {
		.container();
	} 
	
	&__title {
		margin-top: 20px;
		margin-bottom: 50px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;
		
		@media (max-width: 991px) {
			margin-bottom: 30px;
		}
	}
	
	&__content-left {
		@media (max-width: 767px) {
			padding-right: 0;
		}
	}
	
	&__content-title {
		.font(@ff,20px,1.2);
		text-align: center;
		color: @instruments-6;
	}
	
	&__content-subtitle {
		margin-bottom: 50px;
		.font(@ff,16px,1);
		text-align: center;
		color: @instruments-2;
		
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	
	&__block {
		position: relative;
		width: 445px;
		min-height: 405px;
		margin: 0 auto;
		padding: 0 20px;
		padding-top: 60px;
		border: 1px solid rgb(145, 145, 145);
		border-radius: 10px;
		background-color: @white;
		
		@media (max-width: 991px) {
			width: @col-12;
			max-width: 445px;
			height: auto;
			min-height: 405px;
			margin: 0 auto;
			margin-bottom: 50px;
			padding-top: 70px;
		}
		
		@media (max-width: 767px) {
			padding: 0 10px;
			padding-top: 60px;
		}
	}
	
	&__block-title {
		position: absolute;
		top: -1px;
		left: -3px;
		width: 449px;
		margin: 0;
		padding: 12px 0;
		.font(@ff,25px);
		text-align: center;
		border-radius: 10px;
		box-shadow: 1px 0 2px 0 @gray;
		background-color: @instruments-3;
		color: @white;
		
		@media (max-width: 767px) {
			width: @col-12;
			left: 0;
			.font(@ff,20px);
		}
	}
	
	&__list {
		min-height: 90px;
		margin-bottom: 20px;
		
		li {
			display: inline-block;
		}
	}
	
	&__list-item {
		.font(@ff,24px, 1.8);
		padding: 10px 10px;
		color: @instruments-1;
		.transition;
		
		@media (max-width: 767px) {
			padding: 10px 10px;
			.font(@ff,18px,1.8);
		}
		
		&:hover {
			border-radius: 50%;
			background-color: @instruments-4;
			color: @white;
		}
		
		&:focus {
			background-color: lighten(@instruments-4,10%);
			color: @white;
		}
	}
	
	&__trimester {
		position: absolute;
		left: -64px;
		padding: 4px 7px;
		padding-bottom: 6px;
		.font(@ff,15px);
		color: @white;
		transform: rotate(-90deg);
	}
	
	&__trimester-1 {
		top: 96px;
		background-color: @instruments-3;
	}
	
	&__trimester-2 {
		top: 206px;
		background-color: @instruments-4;
	}
	
	&__trimester-3 {
		top: 316px;
		background-color: @instruments-5;
	}
	
	&__content-right {
		max-width: 350px;
		
		@media (max-width: 991px) {
			margin: 0 auto;
		}
	}
	
	&__content-block-r {
		max-width: 350px;
		padding: 15px 10px;
		padding-bottom: 55px;
		text-align: center;
		background-color: @white;
	}
	
	&__r-block-title {
		margin: 0;
		margin-bottom: 20px;
		.font(@ff, 20px);
		text-transform: uppercase;
		color: @instruments-6;
	}
	
	&__r-block-text {
		margin-bottom: 15px;
		.font(@ff, 13px,1.6);
	}
	
	&__r-block-input {
		margin-bottom: 10px;
		padding: 3px 8px;
		border-radius: 5px;
		border: 1px solid @instruments-7;
		outline: none;
	}
	
	&__r-block-time {
		display: inline-block;
		width: 80px;
		height: 80px;
		padding-top: 15px;
		.font(@m, 20px);
		border-radius: 50%;
		background-color: @instruments-3;
		color: @white;
		
		span {
			display: block;
			.font(@m, 50px,0.6);
		}
		
		&:first-of-type {
			position: relative;
			margin-right: 40px;
			
			&::after {
				content: "\2248";
				position: absolute;
				top: 0;
				right: -39px;
				.font(@m, 60px);
				color: @black;
			}
		}
	}
}