.motherhood-video {
	
	&_index {
		padding-top: 15px;
		background: url(pics/index/motherhood-video-wp.jpg) 0 0 no-repeat;
		
		@media (max-width: 991px) {
			background: url(pics/index/motherhood-video-wp-mob.jpg) 0 0 repeat;
		}
	}
	
	&__container {
		.container();
	} 
	
	&__title {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		margin-right: 30px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;
		
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	
	&__menu-items {
		display: inline-block;
		vertical-align: top;
		padding: 0;
		padding-top: 14px;
		
		a {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
			padding: 0 10px;
			padding-bottom: 2px;
			.font(@ff,14px);
			border: 1px solid @events-3;
			background-color: @white;
			color: @events-3;
			.transition;

			@media (max-width: 767px) {
				margin-bottom: 10px;
			}

			&:hover {
				background-color: @events-4;
				border: 1px solid @events-4;
				color: @white;
			}

			&:focus {
				background-color: lighten(@events-4,10%);
				border: 1px solid lighten(@events-4,10%);
				color: @white;
			}
		}
	}
	
	&__items {
		padding-top: 30px;
		padding-bottom: 100px;
		
		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
	}
	
	&__item {
		height: 260px;
		
		@media (max-width: 991px) {
			max-width: 600px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		
		@media (max-width: 767px) {
			padding: 0;
		}
		
		iframe {
			width: @col-12;
			height: 250px;
		}
	}
	
	&__item-content {
		position: relative;
		width: @col-12;
		height: 242px;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			margin: 0;
			width: @col-12;
			padding: 10px 18px;
			.font(@ff,14px);
			background-color: @my-baby-1;
			color: @white;

			@media (max-width: 1199px) {
				width: @col-12;
			}

			@media (max-width: 767px) {
				position: relative;
			}
		}
	}
	
	&__play {
		.before(50%,50%,110px,109px);
		transform: translate(-50%, -50%);
		cursor: pointer;
		background: url(pics/motherhood/play.png) 0 0 no-repeat;
	}
}