.motherhood-menu {
	
	&__container {
		.container();
	} 
	
	&__items {
		padding-top: 90px;
		padding-bottom: 40px;
		
		@media (max-width: 991px) {
			padding-top: 70px;
			padding-bottom: 20px;
		}
	}
	
	&__link {
		position: relative;
		display: block;
		padding-top: 145px;
		.font(@ff,20px);
		color: @gray;
		text-align: center;
		color: darken(@gray, 10%);
		
		@media (min-width: 768px) and (max-width: 991px) {
			display: inline-block;
			width: @col-6 - 1%;
			margin-bottom: 50px;
		}
		
		@media (min-width: 481px) and (max-width: 767px) {
			width: @col-12;
			margin-bottom: 50px;
		}
		
		@media (max-width: 480px) {
			.font(@ff,18px);
			margin-bottom: 50px;
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			background-image: url(pics/motherhood/sprite-menu.jpg); background-repeat: no-repeat;
			.transition;
		}
		
		&:hover {
			text-decoration: underline;
			color: lighten(@gray, 10%);
			
			&::before {
				transform: translate(-50%, -10px);
			}
		}
		
		&:focus {
			text-decoration: underline;
			color: lighten(@gray, 20%);
		}
	}
	
	&__link-1 {
		&::before {
			.stitches-sprite(-30px, -30px, 120px, 120px);
		}
	}
	
	&__link-2 {
		&::before {
			.stitches-sprite(-210px, -30px, 120px, 120px);
		}
	}
	
	&__link-3 {
		&::before {
			.stitches-sprite(-390px, -30px, 119px, 119px);
		}
	}
	
	&__link-4 {
		&::before {
			.stitches-sprite(-569px, -30px, 137px, 113px);
		}
	}
}