.my-baby {
	
	width: @col-12;
	
	&__container {
		max-width: 1440px;
		margin: 0 auto;
	}
	
	&__title {
		margin-top: 30px;
		margin-bottom: 50px;
		.font(@ff,25px);
		text-align: center;
		color: @children-menu-3;
		
		@media (max-width: 991px) {
			margin-bottom: 50px;
		}
	}
	
	&__link {
		display: block;
		padding: 0 7px;
		
		@media (max-width: 991px) {
			max-width: 470px;
			margin: 0 auto;
		}
	}
	
	&__item {
		position: relative;
		
		&:hover::before {
			background-color: rgba(0,0,0,0.1);
		}
		
		&:active::before {
			background-color: rgba(0,0,0,0.2);
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0);
			.transition;
		}
		
		@media (max-width: 991px) {
			margin-bottom: 20px;
		}
		
		h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 10;
			margin: 0;
			padding: 20px 35px;
			.font(@ff,24px);
			background-color: @my-baby-1;
			color: @white;

			@media (min-width: 992px) and (max-width: 1199px) {
				width: @col-12;
				padding: 10px 15px;
				.font(@ff,16px);
			}

			@media (max-width: 767px) {
				width: @col-12;
				padding: 15px 25px;
				.font(@ff,20px);
			}

			@media (max-width: 480px) {
				padding: 10px 15px;
				.font(@ff,16px);
			}
		}
	}
	
	&__item-img {
		width: @col-12;
	}
}