.tuberculosis-slider {
	padding-top: 25px;

	&__item-content {
		padding-right: 70px;
		min-width:300px;
		max-width: 600px;
		width: 100%;

		@media (min-width: 414px) {
			min-width:400px;
		}

		@media (max-width: 991px) {
			padding: 20px;
			text-align: center;
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}
	}

	&__link {

		&:hover > h3, &__link:focus > h3, &:hover > p, &__link:focus > p {
			text-decoration: underline;
		}

		h3, p {
			display: inline-block;
			margin: 0;
			margin-bottom: 5px;
			padding: 7px 20px;
			.font(@ff,45px);
			background-color: @tuberculosis-slider-1;
			color: @white;

			@media (max-width: 767px) {
				margin-bottom: 5px;
				padding: 3px 10px;
				.font(@ff,28px);
				background-color: none;
			}

			@media (max-width: 480px) {
				.font(@ff,20px);
			}
		}
	}
}