@import url(includes/preset/variables);
@import url(includes/preset/mixins);
@import url(main.less);




/*~~~custom styles for _col-4 _cont-cent _txt-outer~~~*/
.g-grid{
  &__ul{

  }
  &__li{

  }
  &__link{

  }
  &__img-cont{
    width: 250px;
    height: 250px;
    @media(min-width: 992px)and(max-width: 1439px){
      width: 150px;
      height: 150px;
    }
  }
  &__content{
    background-color: palevioletred;
  }
  &__txt{}
}

/*~~~END custom styles for _col-3 _cont-cent _txt-outer~~~*/

/*~~~custom styles for _col-3 _cont-cent _txt-outer~~~*/
  /*.g-grid{
  &__ul{

  }
  &__li{

  }
  &__link{

  }
  &__img-cont{
    width: 250px;
    height: 250px;
    @media(min-width: 992px)and(max-width: 1439px){
      width: 150px;
      height: 150px;
    }
  }
  &__content{
    background-color: palevioletred;
    @media(min-width: 768px){
      width: ~'calc(100% - 250px)';
    }
    @media(min-width: 992px)and(max-width: 1440px){
      width: ~'calc(100% - 150px)';
    }
  }
  &__txt{}
}
*/
/*~~~END custom styles for _col-3 _cont-cent _txt-outer~~~*/

/*~~~custom styles for _col-3 _cont-cent _txt-outer~~~*/
/*.g-grid{
  &__ul{

  }
  &__li{

  }
  &__link{

  }
  &__img-cont{
    width: 350px;
    height: 350px;
    @media(min-width: 992px)and(max-width: 1439px){
      width:  200px;
      height: 200px;
    }
  }
  &__content{
    max-width: 450px;
    @media(min-width: 992px)and(max-width: 1439px){
      max-width: 350px;
    }
    background-color: palevioletred;
  }
  &__txt{}
}*/
/*~~~END custom styles for _cont-around txt_right~~~*/


/*~~~custom styles for _cont-around txt_right~~~*/
/*.g-grid{
  &__ul{

  }
  &__li{

  }
  &__link{
    @media(min-width: 992px) {
      width: 80%;
    }
  }
  &__img-cont{
    width: 250px;
    height: 250px;
    @media(min-width: 992px)and(max-width: 1439px){
      width: 150px;
      height: 150px;
    }
  }
  &__content{
    background-color: palevioletred;
    @media(min-width: 768px){
      width: ~'calc(100% - 250px)';
    }
    @media(min-width: 992px)and(max-width: 1439px){
      width: ~'calc(100% - 150px)';
    }
  }
  &__txt{}
}*/
/*~~~END custom styles for _cont-around txt_right~~~*/

/*~~~custom styles for txt_right~~~*/
/*.g-grid{
  max-width: 1440px;
  &__ul{

  }
  &__li{

  }
  &__link{

  }
  &__img-cont{
    width: 250px;
    height: 250px;
    @media(min-width: 992px)and(max-width: 1199px){
      width: 150px;
      height: 150px;
    }

  }
  &__content{
    background-color: palevioletred;
    @media(min-width: 768px){
      width: ~'calc(100% - 250px)';
    }
    @media(min-width: 992px)and(max-width: 1199px){
      width: ~'calc(100% - 150px)';
    }
  }
  &__txt{}
}*/
/*~~~END custom styles for txt_right~~~*/

/*~~~custom styles for txt inner~~~*/
/*.g-grid{
  max-width: 1440px;
  &__ul{

  }
  &__li{

  }
  &__link{
    width: 350px;
    height: 350px;
  }
  &__img-cont{

  }
  &__content{
    bottom: 0;

  }
  &__txt{}
}*/
/*~~~ END custom styles for txt inner~~~*/



/*~~~custom styles for txt-outer~~~*/
/*.g-grid{
  max-width: 1440px;
  &__ul{

  }
  &__li{

  }
  &__link{

  }
  &__img-cont{
    width: 350px;
    height: 350px;
  }
  &__content{
    max-width: 450px;
    background-color: palevioletred;
  }
  &__txt{}
}*/
/*~~~ END custom styles for txt-outer~~~*/
