@import url(includes/preset/variables);
@import url(includes/preset/mixins);
@import url(includes/blocks/btn.less);
@import url(includes/blocks/row-common.less);
@import url(includes/blocks/pitanie-spisok-statey/art-common.less);


.articles{
  position: relative;

  &__h1{
    position: absolute;
    right: 52%;
    top: -25px;
    z-index: 2;
    width: 95%;
    max-width: 570px;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 40px;
    color: #6699cc;
    text-align: center;
    span{
      display: block;
      border-top: 1px solid #9fd5e2;
      font-size: 1.35rem;
      letter-spacing: 4px;
      color: #8ed5e6;
      @media(max-width: 767px){
        font-size: 1rem;
        line-height: normal;
      }
    }
    @media(max-width: 1440px){
      font-size: 2.25rem;
      max-width: 450px;
    }
    @media(max-width: 991px){
      right:30%;
    }
    @media(max-width: 767px){
      position: relative;
      .horizontal-center;
      font-size: 1.5rem;
    }
  }

  & > div:nth-child(even){
     .each-article__snake-piece{
      left: 50%;
      &:after{
        transform: translate(-50%,-50%);
      }
    }

      @media(max-width: 1199px){
        .each-article__img-cont{
          left: 62%;
        }
      }
    @media(max-width: 991px){
      .each-article__img-cont{
        left: 80%;
      }
    }
    @media(max-width: 767px){
      .each-article__txt-cont,.each-article__img-cont{
        position: relative;
        .horizontal-center;
      }
    }
  }
  & > div:nth-child(odd){
    .each-article__snake-piece{
      right: 50%;
      &:after{
        transform: translate(0,-50%);
      }
    }
    .each-article__txt-cont{
      left: ~"calc(50% + 150px)";
    }
    @media(max-width: 1199px){
      .each-article__txt-cont{
        left: ~"calc(37% + 150px)";
      }

      .each-article__img-cont{
        left: 38%;
      }
    }
    @media(max-width: 991px){
      .each-article__txt-cont{
        left: ~"calc(17% + 150px)";
      }
      .each-article__img-cont{
        left: 17%;
      }
    }
    @media(max-width: 767px){
      .each-article__txt-cont,.each-article__img-cont{
        position: relative;
        .horizontal-center;
      }
    }

  }

}
.each-article{
  position: relative;
  @media(max-width: 1199px){
    &:after{
      content: '';
      position: absolute;
      z-index: 0;
      display: block;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.8) ;
    }
  }
  &._last{
    padding-bottom: 50px;
    @media(max-width: 991px){
      .each-article__cont{
        display: none;
      }
    }

  }
  &._bg{
    &:before{
      content: '';
      position: absolute;
      z-index: -1;

      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &._bg-left-1{
    &:before{
      left: 0;
      bottom: -100px;
      width: 520px;
      height: 600px;
      background-image: url(pics/pitanie-spisok-statey/bg-left-1.jpg);
    }
  }
  &._bg-right-1{
    &:before{
      right: 0;
      top:-200px;
      width: 240px;
      height: 350px;
      background-image: url(pics/pitanie-spisok-statey/bg-right-1.jpg);
    }
  }


  &._bg-left-2{
    &:before{
      left: 0;
      .vertical-center;
      width: 560px;
      height: 485px;
      background-image: url(pics/pitanie-spisok-statey/bg-left-2.jpg);
    }
  }
  &._bg-right-2{
    &:before{
      right: 0;
      .vertical-center;
      width: 270px;
      height: 485px;
      background-image: url(pics/pitanie-spisok-statey/bg-right-2.jpg);
    }
  }

  &._bg-left-3{
    &:before{
      left: 0;
      bottom: 0;

      width: 700px;
      height: 500px;
      background-image: url(pics/pitanie-spisok-statey/bg-left-3.jpg);
      @media(max-width: 1199px)and(min-width: 992px){
        transform: rotate(-90deg);
        left: auto;
        right: 0px;
        width: 600px;
        height: 600px;
      }
      @media(max-width: 1199px){
        width: 600px;
        height: 600px;
      }
    }
  }


  &__cont{
    position: relative;
    height: 321px;
    width: 95%;
    max-width: 1400px;
    margin: auto;
    @media(max-width: 1440px){
      max-width: 1250px;
    }
    @media(max-width: 767px){
      height: auto;
    }
  }

  &__snake-piece{
    position: absolute;
    width: 165px;
    height: 330px;
    overflow: hidden;
    z-index: 100;
    @media(max-width: 1199px){
      width: 280px;
    }
    @media(max-width: 991px){
      display: none;
    }
    &:after{
      content:'';
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      height: 330px;
      width:200%;
      border: 9px solid #c2e4ec;
      border-radius: 180px;
    }

    &._last{
      &:before{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 330px;
        width:100%;
        z-index: 101;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 52%,rgba(255,255,255,1) 80%);
      }
    }
  }

  &__img-cont{
    position: absolute;
    .center;
    width: 225px;
    height: 225px;
    overflow: hidden;
    z-index: 103;
    border-radius: 50%;
    img{
      position: absolute;
      .center;
      z-index: 102;
      max-width: 120%;
      max-height: 120%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__txt-cont{
    position: absolute;
    z-index: 2;
    .vertical-center;
    width: 95%;
    max-width: 550px;
    @media(max-width: 1440px){
      max-width: 450px;
    }
    @media(max-width: 767px){
      padding-bottom: 20px;
    }
  }
  &__head{
    font-size: 1.4rem;
    color: #616569;
    @media(max-width: 1440px){
      font-size: 1.125rem;
    }
    @media(max-width: 991px){
      color: #2c313a;
    }
    @media(max-width: 767px){
      text-align: center;
    }
  }
  &__txt{
    font-size: 1.2rem;
    color: #7d8d9e;
    @media(max-width: 1440px){
      font-size: 0.9rem;
    }
    @media(max-width: 991px){
      color: #2c313a;
    }
    @media(max-width: 767px){
      text-align: justify;
    }
  }
}