@import url(includes/preset/variables);
@import url(includes/preset/mixins);

@import url(includes/blocks/btn.less);
@import url(includes/blocks/row-common.less);
@import url(includes/blocks/diagramm-canvas.less);

@import url(includes/blocks/city-modal.less);
@import url(includes/blocks/education/education-menu.less);

.reg-universities{
  .title(reg-universities,#0094b3, #bde3eb);
  &__cont{
    width: 95%;
    max-width: 1300px;
    margin: auto;
  }

  &__item{}
  &__img-cont{
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 500px;
    @media(min-width: 992px){
      height: 620px;
    }
  }
  &__img{
    position: absolute;
    z-index: 1;
    .center;
  }
  &__img-txt{
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100%;
    min-height: 115px;
    padding:40px 0 30px 50px;


    background-color: rgba(255,255,255,.5);
  }
  &__img-link{
    color:#343434;
    font-size: 1.2rem;
    display: block;
    @media(min-width: 1200px){
      font-size: 1.75rem;
    }
  }

  &__art-cont{

    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 0;
  }
  &__diagramm{
    position: relative;

    display: block;
    width: 100%;
    font-size: 1rem;
    vertical-align: middle;
    @media(min-width: 992px){
      width: 50%;
      display: inline-block;
    }
  }

  &__art{
    display: block;
    width: 100%;
    vertical-align: middle;
    font-size: 0.9rem;
    line-height: 22px;
    @media(min-width: 992px){
      font-size: 1rem;
      line-height: 30px;
      display: inline-block;
      width: 50%;
    }
    p{
      margin-bottom: 40px;
    }
    address{
      font-style: normal;
    }
  }
}

.chart{
  display: block;
  margin: auto;
  @media(min-width: 992px){
    position: absolute;
    .center;
  }
}

.chartData{
  display: none;
}



.reg-courses{
  .title(reg-courses, #0094b3, #bde3eb);

  &__cont{
    width: 95%;
    max-width: 1300px;
    margin: auto;
    padding-top: 50px;
    counter-reset: heading;
  }
  &__item-cont{
    margin-bottom: 30px;
    @media(min-width: 768px){
      margin-bottom: 100px;
    }

  }

  &__grid{
    font-size: 0;
  }

  &__col{
    display: inline-block;
    font-size: 1.125rem;
    &._1, &._2, &._3{
      vertical-align: middle;
      width: 100%;
    }
    @media(min-width: 768px){
      &._1{
        width: 100%;
      }
      &._2{
        width: 50%;
      }
      &._3{
        width: 50%;
        vertical-align: top;
      }
    }

    @media(min-width: 1200px){
      &._1{
        width: 28%;
      }
      &._2{
        width: 44%;

        border-style: solid;
        border-width: 0 4px 0 0;
        border-image: url(pics/regions-education/border.jpg) 0 4 0 0 fill repeat;
      }
      &._3{
        width: 28%;
      }
    }
  }
  &__h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
    color: #666;
    @media(min-width: 768px){
      margin-bottom: 50px;
      text-align: left;
      font-size: 1.7rem;

    }
    &:before{
      counter-increment: heading;
      content: counter(heading)". " ;
    }
  }
  &__img-cont{
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 300px;
    height:205px;
    margin: 0 auto 30px auto;
    @media(min-width: 768px){
      width: 360px;
      height:247px;
    }
    @media(min-width: 1200px){
      margin: 0;
    }
    img{
      position: absolute;
      z-index: 1;
      .center;
      max-width: 100%;
      min-width: 80%;
      max-height: 100%;
      min-height: 80%;
    }
  }
  &__ul-cont{

    width: 95%;
    max-width: 410px;
    margin: auto;
    color: #3d3d3d;


  }
  &__ul-head{
    margin-bottom: 25px;
    font-size: 1.25rem;
  }
  &__ul{
    list-style: disc;
    margin-left: 10px;
    @media(min-width: 768px){
      margin-left: 0;
    }
  }

  &__li{
   margin-bottom: 20px;
  }

  &__contact-cont{
    width: 95%;
    max-width: 300px;
    margin: auto;
  }

  &__contact-head{
    margin-bottom: 30px;
    font-size: 1.25rem;
  }
  &__address{
    margin-bottom: 20px;
  }
  &__phone{
    display: block;
    font-size: 1.75rem;
    margin-bottom: 5px;
  }
  &__link-cont{
    margin-top: 20px;
  }
  &__link{
   color:#007dc7;
  }


}