@import url(includes/preset/variables);
@import url(includes/preset/mixins);
@import url(includes/blocks/btn.less);
@import url(includes/blocks/native/advices.less);
@import url(includes/blocks/city-modal.less);
@import url(includes/blocks/weather.less);
@import url(includes/blocks/alphabet.less);

@import url(includes/blocks/native/main-banner.less);
@import url(includes/blocks/native/news-tabs.less);

@import url(includes/blocks/urologia/urologia-menu.less);
@import url(includes/blocks/urologia/clinic-block.less);
@import url(includes/blocks/urologia/common-diseases.less);
@import url(includes/blocks/urologia/directions-urology.less);
@import url(includes/blocks/urologia/diseases-block.less);
@import url(includes/blocks/urologia/diseases-symptoms.less);
@import url(includes/blocks/urologia/kidney-stones.less);
@import url(includes/blocks/urologia/news-tabs.less);
@import url(includes/blocks/diabet-osnovnaya/diagnostic.less);
@import url(includes/blocks/urologia/urology-diagnostic.less);
@import url(includes/blocks/native/drop.less);
@import url(includes/blocks/native/drop-blue.less);

.advices{
  @media(max-width: 991px){
    padding-bottom: 0;
  }
}





