.motherhood-article{

  &__wrap{
    font-size: 0;
    text-align: left;
  }

  &__link{

    &-wrap{
      display: block;
      padding: 15px;
      text-align: center;
      background-color: #f7f7f7;
      transition: all 0.175s ease-out;
      &:after{
        content: '...';
        display: block;
        text-align: center;
        line-height: 60px;
        color: #ed26df;
        font-size: 42px;
      }

      &:hover{
        background-color: darken(#f7f7f7,5%);
      }

    }

    &-img{
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 15px;
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
      }
    }

    &-content{

    }

    &-time{
      display: block;
      margin-bottom: 10px;
      font-size: 12px;
      color: #838d94;
    }

    &-title{
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 20px;
      color: #34393d;
    }

    &-desc{
      overflow: hidden;
      font-size: 15px;
      color: #79797a;
    }

  }

  &__item{
    padding: 15px 0;
    @media(min-width: 600px){
      width: 50%; display: inline-block;
      padding: 15px;
      vertical-align: top;
    }
    @media(min-width: 1024px){
      width: 33%;
    }
  }
}

