/*~~~ Baron ~~~*/

.baron-calendar {
  display: block;
  position: relative;
  overflow: hidden;
  .center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background: #fff;
}
.baron-calendar__clipper {
  position: relative;
  overflow: hidden;
}
.baron-calendar__scroller {
  overflow-y: scroll;
  -ms-overflow-style: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
.baron-calendar__scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.baron-calendar__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 11px;
  background-color: #b3cde7;
}
.baron-calendar._scrollbar .baron-calendar__track {
  display: block;
}
.baron-calendar__free {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.baron-calendar__bar {
  position: absolute;
  right: 0;
  z-index: 22;
  width: 10px;
  height: 100px;
  background: #3c71a7;
  border-radius: 15px;
}
.baron-calendar._scrollbar .baron-calendar__bar {
  display: block;
}
.baron-calendar__control {
  display: none;
}