.children-banner{
  margin-bottom: 50px;
  &__content {
    position: relative;
    padding: 15px;
    text-align: center;
    @media(min-width:414px){
      min-width: 400px;
    }
    @media(min-width:768px){
      width: 600px;
      padding: 45px 4%;
      padding-bottom: 65px;
      .corner(@mixture-2,83px,5px);
    }
  }
  &__title {
    .font(@ff, 40px, 1.2);
  }
  &__text {
    margin-bottom: 27px;
    .font(@ff, 28px, 1.3);
  }
  &__link {
    display: block;
    margin-right: 20px;
    margin-left: 25px;
    margin-bottom: 8px;
    padding: 12px 15px;
    padding-top: 10px;
    .font(@ff, 20px, 1.3, normal, 700);
    background-color: @mixture-1;
    color: @white;
    .transition;

    @media (min-width: 768px) {
      .font(@ff, 28px, 1.3, normal, 700);
    }

    &:hover {
      background-color: darken(@mixture-1, 10%);
      color: @white;
    }

    &:active, &:focus {
      background-color: darken(@mixture-1, 20%);
      color: @white;
    }
  }
}