.childcare {
	
	
	padding-bottom: 112px;
	background: transparent url(pics/children/childcare-wp.jpg) 0 0 no-repeat;
	
	@media (max-width: 991px) { 
		padding-bottom: 62px;
	}
	
	.title(childcare, @childcare-1, @childcare-2);
	
	&__container {
		.container();
	}
	
	&__city {
		padding-top: 22px;
	}
	
	&__city-text {
		display: inline-block;
		margin-right: 10px;
		vertical-align: middle;
		.font(@ff, 23px, 1.2);
		
		@media (max-width: 991px) { 
			display: block;
			text-align: center;
		}
	}
	
	&__select {
		position: relative;
		display: inline-block;
		margin-left: 12px;
		vertical-align: baseline;
		.font(@ff, 28px, 1.2);
		text-decoration: underline;
		.transition;
		
		@media (max-width: 1199px) {
			margin-left: 0;
		}
		
		@media (max-width: 991px) { 
			left: 50%;
			transform: translateX(-50%);
		}
		
		@media (max-width: 480px) { 
			.font(@ff, 24px, 1.2);
		}
	}
	
	&__dropdownbtn {
		color: @childcare-4;
		.transition;
		
		&:hover, &:active, &:focus {
			color: darken(@childcare-4, 10%);
		}
	}
	
	&__dropdownmenu {
		top: 33px;
		left: -3px;
		background: transparent;
		.transition;
		
		li {
			.font(@ff, 24px, 1.2);
			padding: 0 7px;
		}
		
		li:hover {
			opacity: 0.6;
		}
	}
	
	&__caret {
		border-width: 8px;
	}
	
	&__list {
		
		margin-top: 157px;
		
		@media (max-width: 991px) { 
			margin-top: 87px;
		}
		
		li > a {
			display: block;
			width: 434px;
			margin: 0 auto;
			margin-bottom: 36px;
			padding: 11px 0;
			.font(@ff, 20px, 1.2);
			text-align: center;
			border: 2px solid @childcare-4;
			border-radius: 30px;
			transition: 0.3s ease;
			color: @childcare-4;
			.transition;

			@media (max-width: 991px) { 
				float: none;
				width: @col-12;
				max-width: 434px;
				margin: 0 auto;
				margin-bottom: 26px;
				border-color: darken(@childcare-4, 20%);
				color: darken(@childcare-4, 20%);
			}
			
			&:hover {
				text-decoration: none;
				background-color: @childcare-1;
				border-color: @childcare-1;
				color: @white;
			}
		}
	}
}