.children-products {
	
	background: url(pics/children/children-products-bg.png) top right no-repeat;
	background-size: cover;
	
	@media (max-width: 1199px) { 
		background: none;
	}
	
	.title(children-products, @children-products-1, @children-products-2);
	
	&__container {
		.container();
	}
	
	&__content {
		padding-bottom: 73px;
	}
	
	&__inner {
		padding-top: 26px;
		padding-bottom: 8px;
		
		@media (max-width: 1199px) { 
			padding-top: 56px;
		}
	}
	
	&__list {
		@media (max-width: 1199px) { 
			padding: 0;
		}
	}
	
	&__list-item {
		height: 340px;
		background: url(pics/children/children-products-img.png) bottom center no-repeat;
		
		@media (min-width: 991px) and (max-width: 1199px) { 
			height: 400px;
			background-size: contain;
		}
		
		@media (min-width: 768px) and (max-width: 991px) { 
			height: 370px;
			background-size: contain;
		}
		
		@media (max-width: 767px) { 
			height: 360px;
			background-size: contain;
		}
	}
	
	&__list-item:hover > &__img-wrap::before { 
		display: block;
		
		@media (max-width: 480px) { 
			display: none;
		}
	} 

	&__list-item:hover &__text-content-1,
	&__list-item:hover &__text-content-2,
	&__list-item:hover &__text-content-3 {
		text-decoration: underline;
		color: @children-products-1;
		.transition;
	}
	
	&__list-item:active &__text-content-1,
	&__list-item:active &__text-content-2,
	&__list-item:active &__text-content-3 {
		text-decoration: underline;
		color: darken(@children-products-1, 10%);
		.transition;
	}
	
	&__list-item:last-of-type {
		height: 398px;
	}
	
	&__img-wrap {
		position: relative;
		height: 258px;
		
		&:hover::before, &:focus::before {
			display: block;
		}
	}
	
	&__img-wrap-1 {
		background: url(pics/children/children-products-1.png) center center no-repeat;
	}
	
	&__img-wrap-2 {
		background: url(pics/children/children-products-2.png) center center no-repeat;
	}
	
	&__img-wrap-3 {
		background: url(pics/children/children-products-3.png) center bottom no-repeat;
		background-size: contain;
	}
	
	&__img-wrap-1::before {
		content: "";
		display: none;
		position: absolute;
		.center;
		width: 251px;
		height: 224px;
		background: url(pics/children/ramka1.png) 0 0 no-repeat;
	}
	
	&__img-wrap-2::before {
		content: "";
		display: none;
		position: absolute;
		z-index: 10;
		.center;
		width: 355px;
		height: 224px;
		background: url(pics/children/ramka2.png) 0 0 no-repeat;
	}
	
	&__img-wrap-3::before {
		content: "";
		display: none;
		position: absolute;
		z-index: 10;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 426px;
		height: 253px;
		background: url(pics/children/ramka3.png) 0 0 no-repeat;
		
		@media (max-width: 1199px) { 
			top: 10px;
		}
	}
	
	&__text-wrap-1 {
		padding-top: 95px;
		padding-left: 18px;
		
		@media (max-width: 1199px) { 
			width: @col-12;
			max-width: 700px;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}
	}
	
	&__text-wrap-2 {
		padding-top: 16px;
		padding-left: 115px;
		
		@media (max-width: 1199px) { 
			width: @col-12;
			max-width: 700px;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}
	}
	
	&__text-wrap-3 {
		padding-top: 100px;
		
		@media (max-width: 1199px) { 
			width: @col-12;
			max-width: 700px;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}
	}
	
	&__text-content {
		display: block;
		width: 280px;
		margin: 0 auto;
		.font(@ff, 25px, 1.2);
		color: @children-products-4;
		.transition;
		
		@media (min-width: 480px) and (max-width: 991px) { 
			.font(@ff, 22px, 1.2);
		}
		
		@media (max-width: 479px) { 
			.font(@ff, 20px, 1.2);
		}
		
		&:focus {
			text-decoration: underline;
			color: darken(@children-products-1, 10%);
		}
	}
	
	&__text-content-3 {
		width: @col-12;
		max-width: 700px;
	}
	
	&__text-content-l {
		width: @col-12;
	}
	
}