.development {

	background: 
		url(pics/children/development-bg.jpg) center right no-repeat,
		url(pics/children/development-wp.jpg) center left no-repeat;
	
	@media (max-width: 767px) {
		background: 
		url(pics/children/development-wp.jpg) top 70px center no-repeat;
		background-size: 470px 428px;
		
		_::-moz-svg-foreign-content, :root & {
			background: url(pics/children/development-wp.jpg) no-repeat;
			background-position: 50% 17%;
		}
	}
	
	@media (min-width: 768px) and (max-width: 1199px) {
		background: 
		url(pics/children/development-wp.jpg) top 70px left no-repeat;
		
		_::-moz-svg-foreign-content, :root & {
			background: url(pics/children/development-wp.jpg) no-repeat;
			background-position: 0 77%;
		}
	}
	
	.title(development, @development-1, @development-2);
	
	&__container {
		.container();
	}

	&__age {
		padding-top: 215px;
		padding-bottom: 318px;
		text-align: center;
		
		@media (max-width: 480px) {
			padding-top: 110%;
			padding-bottom: 20px;
		}
		
		@media (min-width: 481px) and (max-width: 767px) {
			padding-top: 450px;
			padding-bottom: 20px;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-top: 150px;
			padding-bottom: 150px;
		}
	}
	
	&__age li {
		display: inline-block;
		float: left;
		vertical-align: top;
		font-size: 0;
		
		@media (max-width: 1199px) {
			float: none;
		}
	}
	
	&__age-item {
		display: block;
		min-width: 180px;
		min-height: 52px;
		margin-right: 11px;
		margin-bottom: 15px;
		padding-top: 9px;
		.font(@ff, 26px, 1.3, normal, 700);
		text-align: center;
		color: @white;
		background-color: @development-3;
		border-radius: 30px;
		.transition;
		
		@media (max-width: 450px) {
			margin-right: 0;
		}
		
		&:hover {
			background-color: @development-1;
			color: @white;
		}
		
		&:active, &:focus {
			background-color: darken(@development-1, 10%);
			color: @white;
		}
	}
}