.fitness-children {
	
	background: url(pics/children/fitness-children-wp.jpg) top left no-repeat;
	background-size: cover;
	
	@media (min-width: 768px) and (max-width: 991px) { 
		background: url(pics/children/fitness-children-wp-mobile.jpg) top left no-repeat;
		background-size: contain;
	}
	
	@media (max-width: 767px) { 
		background: url(pics/children/fitness-children-wp-mobile.jpg) top left no-repeat;
		background-size: contain;
	}
	
	.title(fitness-children, @fitness-children-1, @fitness-children-2);
	
	&__container {
		.container();
	}
	
	&__content {
		padding-bottom: 95px;
		
		@media (max-width: 767px) { 
			margin-top: 85%;
		}
		
		@media (max-width: 1199px) { 
			padding-bottom: 35px;
		}
		
		@media (min-width: 768px) and (max-width: 991px) { 
			margin-top: 77%;
		}
		
		@media (min-width: 992px) and (max-width: 1199px) { 
			padding-left: 8%;
		}
	}
	
	&__inner {
		margin-bottom: 15px;
		padding-top: 90px;
		padding-left: 7%;
		
		@media (max-width: 991px) { 
			margin-bottom: 35px;
			padding-top: 0;
		}
	}
	
	&__list {
		padding: 0 4%;
		
		li {
			position: relative;
			margin-bottom: 35px;

			@media (max-width: 767px) { 
				margin-bottom: 10px;
			}

			@media (min-width: 768px) and (max-width: 1199px) { 
				margin-bottom: 20px;
			}
		}
		
		li > a {
			.font(@ff, 28px, 1.2);
			color: @fitness-children-1;
			.transition;

			@media (max-width: 767px) { 
				.font(@ff, 22px, 1.2);
			}

			&:hover {
				text-decoration: underline;
				color: darken(@fitness-children-1, 10%);
			}

			&:active, &:focus {
				text-decoration: underline;
				color: darken(@fitness-children-1, 15%);
			}
		}
	}
	
	&__list li::before {
		content: "";
		position: absolute;
		top: 14px;
		left: -30px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: @fitness-children-1;
		
		@media (max-width: 767px) { 
			top: 9px;
		}
	}
	
	&__list li:hover::before {
		background: darken(@fitness-children-1, 10%);
	}
	
	&__list li:active::before, &__list li:focus::before {
		background: darken(@fitness-children-1, 15%);
	}
}