.food {

	position: relative;

	@media(min-width: 1200px){
		padding-bottom: 47px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 100px;
		left: 50%;
		z-index: 10;
		transform: translateX(-52.5%);
		width: 977px;
		height: 844px;

		background: url(pics/children/food-wp.png) top center no-repeat;

		@media (max-width: 991px) {
			width: @col-12;
			height: 500px;
			background-size: contain;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-12;
			height: 700px;
			background-size: contain;
		}
	}

	.title(food, @food-1, @food-2);

	&__container {
		.container();
	}

	&__list {
		margin-top: 105px;
		margin-bottom: 230px;

		@media (max-width: 1199px) {
			margin-bottom: 50px;
		}

		@media (max-width: 767px) {
			margin-top: 100%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			margin-top: 500px;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			margin-top: 660px;
		}

		li {
			padding: 0;
		}
	}

	&__list-item {
		position: relative;
		z-index: 10;
		display: block;
		padding: 29px 0;
		color: @white;
		.transition;

		@media (max-width: 1199px) {
			display: block;
			width: @col-12;
			max-width: 600px;
			margin: 0 auto;
			margin-bottom: 10px;
			padding: 15px;
		}

		&:hover {
			color: @white;
			text-decoration: underline;
			.transition;
		}

		&:active, &:focus {
			color: darken(@text-gray, 40%);
			text-decoration: underline;
			.transition;
		}
	}

	&__list-item-2, &__list-item-4 {
		padding-left: 64px;
		text-align: left;
		font-size: 28px;

		@media (max-width: 1350px) {
			padding-left: 15px;
			font-size: 20px;
		}
	}

	&__list-item-1, &__list-item-3 {
		padding-right: 36px;
		text-align: right;
		font-size: 23px;

		@media (max-width: 1350px) {
			padding-right: 15px;
			font-size: 19px;
		}

		@media (max-width: 1199px) {
			padding-right: 15px;
			float: none;
			text-align: left;
			font-size: 20px;
		}
	}

	&__list-item-1 {
		background-color: @food-3;

		@media (max-width: 1199px) {
			margin-top: 10px;
		}
	}

	&__list-item-2 {
		margin-top: -20px;
		background-color: @food-4;

		@media (max-width: 1199px) {
			margin-top: 10px;
		}
	}

	&__list-item-3 {
		margin-top: 3px;
		background-color: @food-5;

		@media (max-width: 1199px) {
			margin-top: 10px;
		}
	}

	&__list-item-4 {
		margin-top: 49px;
		padding: 10px 64px;
		padding-right: 45%;
		background-color: @food-6;

		@media (max-width: 1350px) {
			padding-left: 15px;
			padding-right: @col-6;
		}

		@media (max-width: 1199px) {
			padding: 15px;
			margin-top: 10px;
		}
	}

	&__link {
		position: relative;
		z-index: 10;
		margin: 0 auto;
	}
}