.health {
	position: relative;
	@media (min-width: 768px) {
		background-image: url(pics/children/health-wp.jpg);
		background-repeat: no-repeat;
		background-position: right -50px top 85px;
		&:before{
			content: '';
			position: absolute;
			top:0;
			left: 0;
			z-index: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,.6);
		}
	}
	@media (min-width: 1200px) {
		background-position: right 9% top 85px;
		&:before{
			display: none;
		}
	}
	
	.title(health, @health-1, @health-2);

	&__container {
		.container();
	}

	.frame-grid-float{
		padding-bottom: 30px;
		&__content{
			@media(min-width: 768px){
				margin-left: 10%;
				padding-top:50px;
			}
		}
		&__link{
			max-width: 150px;
			margin: auto;
			width: 100%;
			@media(min-width: 768px){
				max-width: 700px;
				margin-left: 0;
				text-align: left;
			}
			&:after{
				top: -10px;
				left: -10px;
				width: 170px;
				height: 170px;
				background-image: linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
				linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
				linear-gradient(to bottom, #d5d6d6 8px, transparent 8px),
				linear-gradient(to bottom, #d5d6d6 8px, transparent 8px);
				background-size: 100% 100px, 100% 100px, 100px 100%, 100px 100%;
				background-position: -4px -60%, -4px 160%, -60% -4px, 160% -4px;
				background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
			}
			&:hover{
				&:after{
					background-image: linear-gradient(to right,  #f3c478 8px, transparent 8px),
					linear-gradient(to right,  #f3c478 8px, transparent 8px),
					linear-gradient(to bottom, #f3c478 8px, transparent 8px),
					linear-gradient(to bottom, #f3c478 8px, transparent 8px);
				}
				.frame-grid-float__desc{
					color: #f3c478;
				}
			}
		}
		&__pic, &__desc {
			@media(min-width: 768px){
				display: inline-block;
				vertical-align: middle;
			}
		}
		&__pic{
			margin-bottom: 20px;
			max-width: 150px;
			height: 150px;
			@media(min-width: 768px){
				margin-bottom: 0;
			}
		}
		&__desc{
			font-size: 21px;
			font-style: normal;
			font-weight: 700;
			color: #716f6f;
			@media(min-width: 768px){
				margin-left: 50px;
			}
		}
	}
}