.icons {
  @media (min-width: 768px) {
    background-image: url(pics/children/children-wp.jpg);
  }
  @media (min-width: 992px) {
    text-align: right;
  }

  &__icon-svg{
    @media(max-width: 767px){
      width: 90px;
      height: 90px;
    }
  }

  &__link{
    .font(@ff, 15px, 1.4, normal, 400);
    text-align: center;
    color: @gray-text;
    .transition;
    &:hover {
      @media(min-width: 768px){
        text-decoration: underline;
      }
      color: darken(@gray-text, 10%);
    }

    &:active {
      @media(min-width: 768px){
        text-decoration: underline;
      }
      color: darken(@gray-text, 20%);
    }

    &-text{
      @media(max-width: 767px){
        width: ~"calc(100% - 80px)";
      }
    }

  }

  &__list{
    @media(min-width: 768px){
      text-align: center;
    }
  }

}


.children {
  &__age {
    display: inline-block;
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  &__age li {
    display: inline-block;
  }

  &__age-item {
    display: block;
    min-width: 63px;
    min-height: 27px;
    margin-right: 4px;
    margin-bottom: 10px;
    padding-top: 5px;
    .font(@ff, 13px, 1.3, normal, 400);
    text-align: center;
    color: @gray-text;
    background-color: @light-blue;
    border-radius: 30px;
    .transition;

    &:hover {
      background-color: @development-1;
      color: @white;
    }

    &:active, &:focus {
      background-color: darken(@development-1, 10%);
      color: @white;
    }
  }
}