.psychology {
	
	background: url(pics/children/psychology-wp.jpg) top -76px right no-repeat;
	
	_::-moz-svg-foreign-content, :root & { 
		background: url(pics/children/psychology-wp.jpg) no-repeat;
		background-position: top right;
	}
	
	@media  (max-width: 991px) { 
		background: url(pics/children/psychology-wp.jpg) top center no-repeat;
		background-size: 457px 500px;
		
		_::-moz-svg-foreign-content, :root & { 
			background: url(pics/children/psychology-wp.jpg) no-repeat;
			background-position: top center;
			background-size: 457px 500px;
		}
	}
	
	@media (min-width: 992px) and (max-width: 1199px) { 
		background: url(pics/children/psychology-wp.jpg) top right -100px no-repeat;
		
		_::-moz-svg-foreign-content, :root & { 
			background: url(pics/children/psychology-wp.jpg) no-repeat;
			background-position: top right;
		}
	}
	
	.title(psychology, @psychology-1, @psychology-2);
	
	&__container {
		.container();
	}
	
	&__content {
		@media (max-width: 480px) { 
			padding-left: 10px;
		}
	}
	
	&__inner {
		margin-bottom: 15px;
		padding-top: 110px;
		
		@media  (max-width: 991px) { 
			margin-top: 300px;
		}
	}
	
	&__list {
		padding-left: 7.7%;
		padding-right: 1.5%;
		
		li {
			margin-bottom: 28px;
		}
		
		li > a {
			position: relative;
			.font(@ff, 23px, 1.2);
			color: @psychology-3;
			.transition;
			
			@media (max-width: 480px) { 
				.font(@ff, 1.1rem, 1.2);
			}

			&:hover {
				text-decoration: underline;
				color: @psychology-4;
			}

			&:active, &:focus {
				text-decoration: underline;
				color: darken(@psychology-4, 10%);
			}
			
			&::before {
				content: "";
				position: absolute;
				top: 11px;
				left: -32px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background: @psychology-3;
				.transition;
			}
			
			&:hover::before {
				background: @psychology-4;
			}
			
			&:active::before, &:focus::before {
				background: darken(@psychology-4, 10%);
			}
		}
	}
	
	&__link-wrap {
		margin-bottom: 35px;
	}
}