.vaccination-calendar {

  background:
          url(pics/children/vaccination-2.jpg) top right no-repeat,
          @vaccination-calendar-1 url(pics/children/vaccination-1.jpg) top left no-repeat;

  @media (max-width: 991px) {
    background: @vaccination-calendar-1;
  }

  &__container {
    .container();
  }

  &__content {
    padding: 10px 0;
    padding-left: 20px;
    padding-bottom: 22px;
    text-align: center;

    @media (max-width: 767px) {
      padding-left: 0;
    }
  }

  &__title {
    .font(@ff, 24px, 1);
    letter-spacing: 1px;
    color: @black;
  }

  &__text {
    margin-bottom: 16px;
    .font(@ff, 16px, 1.4);
  }

  &__flex-select {
    margin-bottom: 18px;
    margin-left: 30px;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  &__select {
    position: relative;
    display: inline-block;
  }

  &__dropdownbtn {
    display: inline-block;
    margin-right: 3px;
    padding: 6px 0;
    .font(@ff, 18px, 1.2);
    background-color: @white;
    color: @vaccination-calendar-3;

    @media (max-width: 767px) {
      margin-bottom: 6px;
    }

    &:hover, &:active, &:focus {
      color: darken(@vaccination-calendar-3, 20%);
    }
  }

  &__dropdownbtn-day {
    width: 100px;

    @media (max-width: 767px) {
      width: 50px;
    }
  }

  &__dropdownbtn-month {
    width: 200px;

    @media (max-width: 767px) {
      width: 100px;
    }
  }

  &__dropdownbtn-year {
    width: 150px;

    @media (max-width: 767px) {
      width: 100px;
    }
  }

  &__caret {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
  }

  &__dropdownmenu {
    top: 27px;
    left: 0;
    z-index: 1000;
    min-width: 100px;
    height: 200px;
    overflow: hidden;
    border-radius: 0;
    border: none;

    &-list{
      a{
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
      }
    }

    li {
      text-align: center;

      a {
        color: @vaccination-calendar-3;
      }

      &:hover {
        background: lighten(@development-2, 5%);
      }
    }
  }

  &__dropdownmenu-day {
    width: 100px;

    @media (max-width: 767px) {
      width: @col-12 - 0.5%;
    }
  }

  &__dropdownmenu-month {
    width: 200px;

    @media (max-width: 767px) {
      width: @col-12 - 0.5%;
    }
  }

  &__dropdownmenu-year {
    width: 150px;

    @media (max-width: 767px) {
      width: @col-12 - 0.5%;
    }
  }

  &__submit {
    width: 200px;
    height: 36px;
    margin-right: 23px;
    .font(@ff, 18px, 1.2);
    background-color: @vaccination-calendar-2;
    color: @black;
    border: none;

    @media (max-width: 767px) {
      margin-right: 0;
    }

    &:hover {
      background-color: darken(@vaccination-calendar-2, 10%);
    }

    &:active, &:focus {
      background-color: darken(@vaccination-calendar-2, 20%);
    }
  }
}

.jspVerticalBar {
  width: 10px;
}

.jspTrack {
  background: @development-2;
}

.jspDrag {
  background: @development-1;
  border-radius: 5px;
}