
.visit-doctor {

	padding-bottom: 30px;

	.title(visit-doctor, @visit-doctor-1, @visit-doctor-2);

	&__container {
		.container();
	}

	&__content {

		@media(min-width: 414px){
			width: 400px;
		}
		@media(min-width: 768px){
			width: 700px;
		}
	}

	&__text-content {

	}

	&__quote {
		position: relative;
		margin-bottom: 30px;
		color: #6C866D;
		font-size: 30px;
		line-height: 30px;
		font-style: normal;
		font-weight: 400;
		@media(min-width: 768px){
			font-size: 30px;
			line-height: 30px;
		}
		@media(min-width: 992px){
			font-size: 60px;
			line-height: 60px;
		}

		&::after {
			content: "”";
			position: absolute;
			top: 0;
			left: -90px;
			.font(@ff,164px,0.8);

			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	&__advice {
		margin-bottom: 25px;
		color: #6C866D;
		font-size: 22px;
		line-height: 1.2;
		font-style: normal;
		font-weight: 400;
		@media(min-width: 768px){
			margin-bottom: 50px;
			font-size: 28px;
			line-height: 34px;
		}
		@media(min-width: 992px){
			font-size: 36px;
			line-height: 42px;
		}

	}

	&__links {

	}

	&__link {
		margin-bottom: 10px;
	}

	&__link-text {
		display: block;
		text-align: center;
		color: #6C866D;
		.transition;

		&:hover {
			color: #29B12C;
			text-decoration: underline;
		}

		&:active, &:focus {
			color: darken(#29B12C, 5%);
			text-decoration: underline;
		}
	}
}