.advice-article {
	
	padding-top: 65px;
	background: url(pics/sovet-inner/advice-article-wp.jpg) bottom right no-repeat;
	
	@media (max-width: 991px) {
		background: none;
	}
	
	&__container {
		.container;
	}
	
	&__img-wrap {
		float: left;
		max-width: 300px;
		max-height: 300px;
		margin-bottom: 80px;
		margin-right: 80px;
		
		@media (min-width: 768px) and (max-width: 1199px) {
			margin-bottom: 30px;
			margin-right: 30px;
		}
		
		@media (max-width: 767px) {
			float: none;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		
		&_spec {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 0;
			
			@media (max-width: 767px) {
				position: relative;
			}
		}
	}
	
	&__img {
		width: @col-12;
		height: auto;
	}
	
	&__text-content {
		
		div {
			margin-bottom: 40px;
			.font(@ff,1rem,30/16);
			color: #336799;
			
			h2 {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
				line-height: 30px;
				
				@media (min-width: 768px) and (max-width: 1199px) {
					.font(@ff,1.6rem,1,normal,bold);
				}
				
				@media (max-width: 767px) {
					.font(@ff,1.2rem,1,normal,bold);
				}
			}
			
			@media (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 30px;
				.font(@ff,1rem,1.6);
			}
			
			@media (max-width: 767px) {
				margin-bottom: 20px;
				.font(@ff,15px,1.4);
			}
		}
		
		h2 {
			margin-top: 40px;
			margin-bottom: 20px;
			padding: 0;
			font-weight: 700;
			color: #336799;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				.font(@ff,1.6rem,1,normal,bold);
			}
			
			@media (max-width: 767px) {
				.font(@ff,1.4rem,1.2,normal,bold);
			}
		}
		
		p {
			margin-bottom: 30px;
			.font(@ff,1rem,30/16);
			color: #4a494d;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 20px;
				.font(@ff,1rem,1.6);
			}
			
			@media (max-width: 767px) {
				margin-bottom: 20px;
				.font(@ff,15px,1.4);
			}
		}
		
		blockquote {
			position: relative;
			width: @col-10;
			margin-top: 65px;
			margin-bottom: 85px;
			margin-left: @col-2;
			padding-left: 50px;
			.font(Times New Roman,2.1rem);
			color: #15688b;
			
			&::before {
				.before(0,0,5px,100%);
				background-color: #15688b;
			}
			
			@media (min-width: 768px) and (max-width: 1199px) {
				margin: 50px 0;
				margin-left: @col-2;
				padding-left: 35px;
				font-size: 1.4rem;
			}
			
			@media (max-width: 767px) {
				width: @col-12;
				margin: 40px 0;
				padding-left: 25px;
				font-size: 1.2rem;
			}
		}
		
		h3 {
			margin-bottom: 20px;
			margin-top: 30px;
			padding-bottom: 10px;
			.font(@ff,1rem,30/16,normal,bold);
			color: #15688b;
			
			@media (max-width: 767px) {
				margin-bottom: 5px;
				line-height: 1.4;
			}
		}
		
		ul {
			width: @col-10;
			
			@media (max-width: 991px) {
				width: @col-12;
			}
		}
		
		&_spec {
			padding-bottom: 10px;
			padding-right: 40px;
			
			h2 {
				margin-top: 0;
			}
			
			@media (max-width: 767px) {
				padding: 0;
			}
		}
	}
	
	&__special-block {
		margin: 45px 0;
		padding-top: 20px;
		background-color: #e1edf8;
	}
	
	&__content {
		position: relative;
	}
	
	&__img-spec {
		width: @col-12;
		max-width: 430px;
		margin: 0 auto;
		
		@media (min-width: 768px) and (max-width: 991px) {
			display: none;
		}
	}
}