.mainBanner{


	h1 {
		.font(@ff,2.6rem);
		color: #336799;

		@media (min-width: 992px) and (max-width: 1199px) {
			.font(@ff,2rem);
		}

		@media (max-width: 767px) {
			.font(@ff,1.8rem);
		}

		@media (max-width: 480px) {
			.font(@ff,1.4rem);
		}
	}
}
