.advice-specialist {
	
	padding-bottom: 90px;
	.title(advice-specialist,#529d9e,#d2e6e6);
	
	@media (max-width:991px) {
		padding-bottom: 0;
	}
	
	&._advice {
		padding-bottom: 0;
	}
	
	&__month-block {
		position: relative;
		min-height: 300px;
		margin-top: 35px;
		margin-bottom: 25px;
		background: url(pics/regions-2/advices-2-wp.jpg) 0 0 no-repeat;
		background-size: cover;
	}
	
	&__month-title {
		position: absolute;
		top: -6px;
		left: 50%;
		transform: translateX(-50%);
		padding: 12px 0;
		.font(@ff,1.1rem);
		color: #fff;
		
		&::before {
			.before(50%,50%,306px,43px);
			z-index: -1;
			transform: translate(-50%, -50%);
			background: url(pics/regions-2/advice-dec.png) 0 0 no-repeat;
		}
	}
	
	&__month-content {
		position: relative;
		padding: 40px 0;
	}
	
	&__month-img-wrap {
		@media (max-width:991px) {
			padding: 20px 0;
		}
	}
	
	&__month-img {
		width: @col-12;
		max-width: 280px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
		
		@media (max-width:1199px) {
			 width: @col-6;
			height: auto;
		}
	}
	
	&__month-text {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		
		@media (max-width:767px) {
			position: relative;
			top: 0;
			transform: none;
			padding: 0 5.2%;
			text-align: center;
		}
		
		h4 {
			margin-bottom: 5px;
			.font(@ff,1.1rem,1.4);
			color: #3a3a3a;
			
			span {
				display: block;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		
		div {
			margin-bottom: 25px;
			.font(@ff,0.9rem);
			color: #686868;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 15px;
			}
		}
		
		blockquote {
			position: relative;
			margin-bottom: 35px;
			padding-left: 65px;
			.font(@ff,1.5rem,1.2,normal,bold);
			color: #529d9e;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				margin-bottom: 20px;
			}
			
			@media (max-width: 991px) {
				padding-left: 0;
				.font(@ff,1.1rem,1.2,normal,bold);
			}
			
			&::before {
				.before(0,-10px,65px,65px);
				content: "”";
				.font(@ff,151px,0.8,normal,bold);
				color: #529d9e;
				
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
		
		a {
			display: inline-block;
			padding: 8px 15px;
			.font(@ff,1.1rem,1.4);
			color: #3a3a3a;
			border: 1px solid #3a3a3a;
			.transition;
			
			&:hover, &:focus {
				background-color: #3a3a3a;
				color: #fff;
			}
		}
	}
	
	&__wrap {
		max-width: 1560px;
		margin: 0 auto;
	}
	
	&__tab-items {
		position: relative;
		width: 265px;
		padding: 30px 0;
		background-image: linear-gradient(to right, #a6d6d6, #beecec);
		box-shadow: 0 12px 10px -10px #949494;
		
		&::before {
			.before(auto,auto,80%,20px);
			bottom: 20px;
			right: 5px;
			z-index: -1;
			box-shadow: 0 20px 10px 0 #949494;
			transform: rotate(6deg);
			
			@media (max-width:991px) {
				display: none;
			}
		}
		
		@media (max-width:991px) {
			width: @col-12;
			background: none;
			padding: 20px;
			text-align: center;
		}
	}
	
	&__tab-item {
		position: relative;
		z-index: 10;
		display: block;
		padding: 17px;
		padding-left: 75px;
		.font(@ff,1rem);
		color: #3c7172;
		.transition;
		
		&:hover, &:focus, &.active {
			color: #fff;
			
			&::before {
				box-shadow: 0 5px 10px -5px #141414;
				background-color: #00b5f4;
			}
			
			&::after {
				border-left: 8px solid #fff;
			}
			
			@media (max-width:991px) {
				background-color: #00b5f4;
			}
		}
	
		&::before {
			.before(0,0,275px,53px);
			z-index: -1;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			background-color: transparent;
			.transition;
			
			@media (max-width:991px) {
				display: none;
			}
		}
		
		&::after {
			.before(50%, 55px, 0,0);
			transform: translateY(-50%);
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			.transition;
			
			@media (max-width:991px) {
				display: none;
			}
		}
		
		@media (max-width:991px) {
			display: inline-block;
			margin: 0 7px;
			margin-bottom: 10px;
			padding: 5px 15px;
			background-color: #a6d6d6;
			border-radius: 20px;
		}
	}
	
	&__tab-content {
		width: ~"calc(100% - 265px)";
		padding: 0 70px;
		
		@media (max-width:991px) {
			float: none;
			width: @col-12;
			padding: 0 5.2%;
			padding-top: 30px;
		}
	}
	
	&__inner-tab-items {
		margin-bottom: 45px;
		text-align: center;
	}
	
	&__inner-tab-item {
		display: inline-block;
		margin: 0 24px;
		padding: 5px 55px;
		border-radius: 20px;
		background-color: #dbf0f0;
		color: #506d73;
		.transition;
		
		@media (max-width:480px) {
			margin-bottom: 15px;
		}
		
		&:hover, &:focus, &.active {
			background-color: #95b5bc;
			color: #fff;
		}
	}
}