
// native
.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/regions-2/regions-menu-wp.jpg);
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__list{
    @media (min-width: 768px) {
      text-align: center;
    }
  }
  &__link{
	  color: #4479b2;
	  &:hover {
		  font-weight: 700;
		  color: darken(#4479b2, 10%);


	  }

	  &:active {
		  color: darken(#4479b2, 20%);
	  }
  }
}