.news-tabs {
	
	.title(news-tabs, #00cdd3, #bdf2f4);
	
	&__container {
		.container;
	}

	&__block {
		margin-bottom: 50px;
	}
	
	&__block-item {
		display: block;
		.transition;
		
		@media (max-width:991px) {
			margin-bottom: 30px;
		}
		
		@media (min-width:480px) and (max-width:991px) {
			float: left;
			width: @col-6;
			max-width: none;
			padding: 0 15px;
		}
		
		&:hover, &:focus {
			opacity: 0.8;
		}
	}
	
	&__item-wrap {
//		max-width: 280px;
		margin: 0 auto;
		
		@media (max-width:991px) {
			max-width: none;
		}
	}
	
	&__img-wrap {
		margin-bottom: 16px;
	}
	
	&__img {
		width: @col-12;
		max-width: 280px;
		height: auto;
		margin: 0 auto;
	}
	
	&__text-content {
		
		time {
			.font(@ff,0.9rem,1.2,italic);
			color: #939799;
		}
		
		div {
			.font(@ff,1rem);
			color: #293741;
			
			@media (max-width:1199px) {
				font-size: 15px;
			}
		}
		
		@media (min-width:480px) and (max-width:991px) {
			max-width: 280px;
			margin: 0 auto;
		}
	}
}

.news-tabs {

	&__control {
		&-link {
			color: #434343;
			&:hover, &.active {
				background-color: #00cdd3;
				color: #fff;
			}
			&.active {
				&::before {
					border-color: transparent #00cdd3 transparent transparent;
				}
			}
		}
	}

	&__content {

		&-link {
			color: #4a4a4a;
			background-color: rgba(255, 255, 255, 0.5);
			&__title {
				font-weight: bold;
				font-size: 25px;
			}
			&__desc {
				font-size: 18px;
			}

		}
	}

}