.region-events {
	
	.title(region-events,#cc550e,#f2d3c1);
	
	&__container {
		.container;
	}
	
	&__content {
		margin-bottom: 40px;
		padding-top: 115px;
		
		@media (max-width:1199px) {
			padding-top: 60px;
		}
	}
	
	&__item-nav {
		padding: 0;
		padding-top: 15px;
		
		@media (max-width:1199px) {
			text-align: center;
		}
	}
	
	&__nav-link {
		position: relative;
		display: block;
		margin-bottom: 45px;
		margin-right: 100px;
		padding: 15px;
		.font(@ff,1.1rem);
		background-color: #ea5503;
		color: #fff;
		.transition;
		
		@media (max-width:1199px) {
			display: inline-block;
			margin: 0 10px;
			margin-bottom: 20px;
			border-radius: 30px;
		}
		
		.svg {
			position: absolute;
			top: -8px;
			right: -100px;
			width: 93px;
			height: 65px;
			fill: #ea5503;
			.transition;
			
			@media (max-width:1199px) {
				display: none;
			}
		}
		
		&:hover, &:focus {
			background-color: #00a0a0;
			
			.svg {
				fill: #00a0a0;
			}
		}
	}
	
	&__content-block {
		padding: 0;
		padding-left: 20px;
		
		@media (max-width:991px) {
			padding: 0;
		}
	}
	
	&__content-item {
		padding: 0;
	}
	
	&__item-wrap {
		padding: 15px;
		background-color: #fcfcfc;
		border-radius: 5px;
	}
	
	&__img-wrap {
		margin-bottom: 15px;
	}
	
	&__img {
		width: @col-12;
		
		@media (max-width:767px) {
			display: none;
		}
	}
	
	&__text-content {
		h3 {
			margin-bottom: 20px;
			.font(@ff,1.1rem);
			color: #3d3d3d;
		}
		
		div {
			margin-bottom: 20px;
			.font(@ff,1rem);
			color: #9a9a9a;
			
			@media (max-width:1199px) {
				font-size: 15px;
			}
		}
	}
	
	&__item-place, &__item-date {
		position: relative;
		margin-bottom: 10px;
		padding-left: 27px;
		.font(@ff,0.9rem);
		color: #222222;
		
		&::before {
			.before(0,0,15px,20px);
		}
	}
	
	&__item-place::before {
		background: url(pics/svg/svg-regions/search_afisha.svg) 0 0 no-repeat;
		background-size: 15px 20px;
	}
	
	&__item-date::before {
		background: url(pics/svg/svg-regions/date_afisha.svg) 0 0 no-repeat;
		background-size: 15px 20px;
	}
}