.region-education {
	
	.title(region-education, #1ca98d, #c4e9e1);
	
	&__wrap {
		max-width: 1460px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	&__container {
		.container;
	}
	
	&__menu-block {
		margin-bottom: 60px;
		padding-top: 60px;
		text-align: right;
		
		@media (max-width:991px) {
			margin-bottom: 0;
			padding-top: 40px;
			text-align: center;
		}
	}
	
	&__menu-item {
		display: inline-block;
		margin: 0 10px;
		padding: 7px 20px;
		padding-bottom: 9px;
		border-radius: 20px;
		.font(@ff,1.2rem);
		color: #3b3b3b;
		.transition;
		
		&:hover, &:focus {
			background-color: #1ca98d;
			color: #fff;
		}
	}
	
	&__items {
		overflow: hidden;
	}
	
	&__item {
		position: relative;
		
		&::before {
			.before(35px,-6px,70px,55px);
			background: url(pics/svg/svg-regions/eye_icon.svg) 0 0 no-repeat;
			background-size: 70px 55px;
			
			@media (max-width:767px) {
				display: none;
			}
		}
	}
	
	&__item-wrap {
		padding: 45px 0;
		border-bottom: 2px dotted #666666;
	}
	
	&__img-wrap {
		padding-left: 70px;
		padding-right: 35px;
		
		@media (max-width:767px) {
			display: none;
		}
	}
	
	&__text-content {
		width: ~"calc(100% - 255px)";
		max-width: 850px;
		
		@media (max-width:767px) {
			float: none;
			width: @col-12;
		}
		
		h3 {
			margin-bottom: 10px;
			.font(@ff,1.2rem,1);
			color: #1ca98d;
		}
		
		a {
			display: block;
			margin-bottom: 14px;
			.font(@ff,15px);
			color: #3f3f3f;
		}
		
		div {
			margin-bottom: 10px;
			.font(@ff,15px);
			color: #6f8581;
		}
		
		address {
			.font(@ff,15px);
			color: #3f3f3f;
		}
	}
}