.useful-sections {
	
	.title(useful-sections,#0b6c6d, #c0d9d9);
	
	&__container {
		.container;
	}
	
	&__content {
		padding-top: 60px;
		padding-bottom: 80px;
		
		@media (max-width:767px) {
			padding-bottom: 0;
		}
	}
	
	&__title-content {
		margin-bottom: 60px;
		text-align: center;
		
		h3 {
			margin-bottom: 15px;
			.font(@ff,1.8rem);
			color: #0b6c6d;
		}
		
		p {
			.font(@ff,15px);
			color: #5c6363;
		}
	}
	
	&__item {
		margin-bottom: 50px;
		
		@media (max-width:767px) {
			padding: 0;
		}
	}
	
	&__link {
		display: block;
		max-width: 350px;
		margin: 0 auto;
		
		&:hover {
			.useful-sections__img-wrap::before {
				background-color: transparent;
			}
			
			.useful-sections__img-wrap::after {
				background-color: rgba(39,114,168,0.8);
			}
			
			.useful-sections__text-content {
				border: none;
			}
		}
	}
	
	&__item-content {
		position: relative;
		max-width: 350px;
		margin: 0 auto;
	}
	
	&__img-wrap {
		position: relative;
		
		&::before {
			.before(0,0,100%,100%);
			background-color: rgba(116,142,130,0.6);
			.transition;
		}
		
		&::after {
			.before(50%,50%,225px,225px);
			transform: translate(-50%, -50%);
			background-color: transparent;
			.transition;
		}
	}
	
	&__img {
		width: @col-12;
		max-width: 350px;
		height: 350px;
		
		@media (min-width:992px) and (max-width:1199px) {
			height: 300px;
			object-fit: cover;
		}
		
		@media (min-width:768px) and (max-width:991px) {
			height: 250px;
			object-fit: cover;
		}
		
		@media (max-width:767px) {
			height: 200px;
			object-fit: cover;
		}
	}
	
	&__text-content {
		position: absolute;
		.center;
		padding: 15px 40px;
		.font(@ff,0.9rem);
		text-align: center;
		white-space: nowrap;
		border: 3px solid #fff;
		color: #fff;
		.transition;
	}
}