.cake{
  .title(cake, #d96304, #eaa975);
  &.chess-1{
    .chess-1{
      &__item-container{
        @media(min-width: 992px){
          &:nth-child(4n+1){background-image: url(pics/recepty/cake/cake-bg-1.jpg);background-position: right center;}
          &:nth-child(4n+2){background-image: url(pics/recepty/cake/cake-bg-2.jpg);background-position: left top ; background-size: auto 100%}
        }
      }

      &__item {
        max-width: 1024px;
        margin-bottom: 25px;
        @media (min-width: 768px) {
          margin-bottom: 80px;
        }
      }

      &__in_1,&__in_2{
        margin-bottom: 50px;
      }

      &__img-wrap {
        width: 280px;
        height: 250px;
        @media (min-width: 768px) {
          width: 450px;
          height: 400px;
        }
        &::before {
          @media (min-width: 768px) {
            .corner(#eaa975, 82px, 5px);
          }
        }
      }
      &__text{
        position: relative;
        max-width: 500px;
        text-align: left;
        color:#434343;
        @media(min-width: 992px){
          margin-top: 100px;
        }
      }
    }
  }

  &__content{
    padding-top: 50px;
    @media(min-width: 992px){
      padding-top: 100px;
    }
  }

  &__h3{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
    color: #d96304;
    @media(min-width: 992px){
      margin-bottom: 30px;
    }
  }
  &__big{
    display: block;
    font-size: 3.25rem;
    @media(min-width: 768px){
      font-size: 4.25rem;
    }
  }
  &__btn{
    position: relative;
    .horizontal-center;
  }
}