.desert{
  position: relative;
  @media(min-width: 1200px){
    background-image: url(pics/recepty/desert/desserts-bg-1.jpg);
    background-repeat: repeat-y;
    background-position: left top;
  }

  .title(desert, #e750a1, #f2a0cc);

  &:before,&:after{
    content: '';
    position: absolute;
    right: 0;
    top:0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  &:after{
    background-color: transparent;
  }
  @media(min-width: 1200px){
    &:after{
      background-color: transparent;
    }
  }
  @media(min-width: 1200px){
    &:before{
      background-image: url(pics/recepty/desert/desserts-bg-2.jpg);
      background-repeat: repeat-y;
      background-position: right top;
    }
  }

  &__container{
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 860px;
    margin: auto;
    padding-top: 30px;
    @media(min-width:1200px){
      padding-top: 180px;
    }
  }
  &__item-cont{
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 20px;
    @media(min-width: 768px){
      margin-bottom: 130px;
      padding-bottom: 30px;
    }
    @media(min-width:1200px){
      margin-bottom: 170px;
      padding-bottom: 70px;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -70px;
      width: 100%;
      height: 40px;

      background-image: url(pics/recepty/desert/desert-baget.jpg);
      background-size: 100% 100%;
      @media(min-width: 768px){
        height: 70px;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }

  &__img-frame{
    width: 300px;
    height: 280px;
    margin: 0 auto 20px auto;
    @media(min-width: 768px){
      width: 500px;
      height: 450px;
      margin: 0 auto 70px auto;
    }
  }
  &__image-cont{
    position: relative;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img{
      position: absolute;
      z-index: -1;
      .center;
      min-width: 80%;
      min-height: 80%;
      max-width: 100%;
      max-height: 100%;
    }

  }
  &__txt-cont{
    text-align: center;
  }
  &__h3{
    margin-bottom: 28px;
    font-weight: 300;
    font-size: 1.5rem;
    color: #9d2237;

  }
  &__ul{margin-bottom: 30px}

}