.first-dish{
  padding-bottom: 50px;
  @media(min-width: 768px){
    background-image: url(pics/recepty/first-dish/first-bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 60% auto;
  }
  .title(first-dish, #c7ae09, #efdc77);
  &__cont{
    width: 95%;
    max-width: 1300px;
    margin: auto;
    padding-top: 100px;
  }

  &__pan{
    position: relative;
    .horizontal-center;
    width: 310px;
    height: 250px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: GoodVibesPro, "Open Sans", sans-serif;
    color: #fff;
    background-size: 100% 90%;
    background-image: url(pics/recepty/first-dish/pan.png);
    background-repeat: no-repeat;
    background-position-y: 70px;

    @media(min-width: 768px){
      background-position-y: 110px;
      width: 400px;
      height: 350px;
    }
    @media(min-width: 1200px){
      width: 500px;
      height: 410px;
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 70px;
      background-image: url(pics/recepty/first-dish/cap.png);
      background-size: 100% 100%;
      transform-origin: 0 0;
      transition-property: transform;
      transition-duration: .5s;
      @media(min-width: 768px){
        height: 110px;
      }
    }
    &.active,&:hover,&:active{
      &:before{
        transform: rotate(-10deg) translate(-17px,6px);
      }
    }
    @media(min-width: 992px){
      margin-bottom: 80px;
      transform: none;
      &._1{left: 0}
      &._2{left: ~"calc(100% - 500px)"}
      &._3{left: 0}
    }

  }
  &__name{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media(min-width: 768px){
      top: 55%;
    }
    @media(min-width: 1200px){
      top: 50%;
    }
  }

  &__recipe-cont{
    position: relative;
    z-index: 2;
    width: 95%;
    max-width: 520px;
    margin: 50px auto 0 auto;
    padding: 30px 0;
    background: linear-gradient(to right, rgb(246, 245, 237) 0%, rgb(252, 251, 245) 15%, rgb(252, 251, 245) 85%, rgb(246, 245, 237) 100%);
    @media(min-width: 768px){
      padding: 50px 30px;
    }
  }
  &__shadow{
    position: absolute;
    .horizontal-center;
    bottom: 45px;
    z-index: 0;
    width: 90%;
    max-width: 515px;
    height: 50px;
    &:before,&:after{
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      box-shadow: 0 50px 10px -8px rgba(0,0,0,0.75);
      background-color: #5c5c5c;
    }
    &:before{
      transform: translate(-50%,0) rotate(-3deg) ;
    }
    &:after{
      transform: translate(-50%,0) rotate(3deg) ;
    }
  }
  &__h3{
    margin-bottom: 20px;
    text-align: center;
    font-family: @gv,"Open Sans",sans-serif;
    font-weight: 300;
    font-size: 2rem;
    @media(min-width: 768px){
      font-size: 3rem;;
    }
  }


  &__ul-main{
    padding-left: 50px;
    font-size: 1.125rem;
  }
  &__li-main{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -50px;
      display: block;
      width: 35px;
      height: 35px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &._1{
      margin-bottom: 15px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-1.jpg);top: -10px}
    }
    &._2{
      margin-bottom: 35px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-2.jpg);.vertical-center;}
    }
    &._3{
      margin-bottom: 35px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-3.jpg);.vertical-center;}
    }
  }
  &__ul-in{
    font-size: 0.975rem;
    color: #747474;
  }
  &__li-in{
    margin-top: 30px;
  }

  &__colored{
    &._easy{
      color: #717d16;
    }
    &._medium{
      color: #c26519;
    }
    &._hard{
      color: #ff0000;
    }
  }
  &__manual{
    margin-bottom: 30px;
    font-size: 1rem;
    padding-left: 40px;
    line-height: 30px;
  }
  &__footer{
    height: 110px;
    text-align: center;
    line-height: 55px;
    font-size: 2.4rem;
    font-family: @gv,"Open Sans",sans-serif;
    background-image: url(pics/recepty/first-dish/baget-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    @media(min-width: 768px){
      font-size: 3.4rem;
    }
  }
}