
.icons {
  position: relative;
  @media (min-width: 992px) {
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: url(pics/recepty/icons/icons-bg-left.jpg);
      background-position: left top;
      background-repeat: no-repeat;
    }

  }
  &:after{
    @media (min-width: 1200px) {
      background: none;
    }

  }

  @media (min-width: 768px) {
    padding-top: 80px;
    background-image: url(pics/recepty/icons/icons-bg-right.jpg);
    background-position: right top;
    background-repeat: no-repeat;
  }
  &__content{
    float: none;
    margin: auto;
  }
  &__list{
    text-align-last: center;
  }
  &__link{
    color: #4e4d4e;
    &:before{
      background-image: url(pics/recepty/icons/icons-sprite.jpg);
      background-size: auto 100%;
      border-radius: 50%;
      @media (max-width: 767px) {
        width: 50px;
        height:50px;
        background-size: auto 100%;
      }
    }
  }

  &__link-1::before  {background-position: 0}
  &__link-2::before  {background-position: 16.66666%}
  &__link-3::before  {background-position: 33.33333%}
  &__link-4::before  {background-position: 49.99999%}
  &__link-5::before  {background-position: 66.66666%}
  &__link-6::before  {background-position: 83.33333%}
  &__link-7::before  {background-position: 100%}
}