.multi{
  position: relative;
  .title(multi, #530201, #a17474);

  &__cont{
    position: relative;
    height: 400px;
    background-image: url(pics/recepty/multi/multi-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @media(min-width: 768px){
      height: 720px;
    }
  }
  &__link{
    position: absolute;
    bottom: 30px;
    .horizontal-center;
    display: block;
    width: 95%;
    max-width: 380px;
    height: 110px;
    padding-top: 35px;
    padding-left: 40px;
    color: #c6ca1c;
    background-color: #5c5454;
    @media(min-width: 768px){
      left: auto;
      right: 0;
      .vertical-center;
    }
    &:hover{
      .multi__txt-link{
        text-decoration: underline;
      }
    }
  }
  &__txt{
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }
}