.recipe-day{
  .title(recipe-day,#a32564, #cc87aa);
  &__cont{
    width: 1440px;
    height: 1400px;
    margin: auto;
    background-image: url(pics/recepty/recipe-day/recipe-day.jpg);
    background-size: cover;
    background-position: top;
  }
}