.salad{
  .title(salad, #9ea70a, #cacf78);
  &.chess-1{
    .chess-1{
      &__item-container{
        @media(min-width: 992px){
          &:nth-child(4n+1){background-image: url(pics/recepty/salad/salad-bg-1.jpg);background-position: right bottom;}
          &:nth-child(4n+2){background-image: url(pics/recepty/salad/salad-bg-2.jpg);background-position: left center ; background-size: auto 100%}
          &:nth-child(4n+3){background-image: url(pics/recepty/salad/salad-bg-3.jpg);background-position: right center; background-size: auto 100%}
          &:nth-child(4n+4){background-image: url(pics/recepty/salad/salad-bg-4.jpg);background-position: left center ; background-size: auto 100%}
        }
      }

      &__item {
        max-width: 1024px;
        margin-bottom: 25px;
        @media (min-width: 768px) {
          margin-bottom: 80px;
        }
      }

      &__in_1,&__in_2{
        margin-bottom: 50px;
      }

      &__img-wrap {
        width: 280px;
        height: 250px;
        @media (min-width: 768px) {
          width: 450px;
          height: 400px;
        }
        &::before {
          @media (min-width: 768px) {
            .corner(#d2d7d8, 82px, 5px);
          }
        }
      }
      &__text{
        max-width: 500px;
        text-align: left;
        color:#434343;
      }
    }
  }

  &__content {
    padding-top: 100px;
    @media (max-width: 767px) {
      padding-top: 70px;
    }
  }

  &__h3{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    @media(min-width: 768px){
      text-align: left;
      font-size: 1.875rem;
    }

  }
  &__ul-main{
    padding-left: 50px;
    font-size: 1rem;
  }
  &__li-main{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -50px;
      display: block;
      width: 35px;
      height: 35px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &._1{
      margin-bottom: 15px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-1.jpg);top: -10px}
    }
    &._2{
      margin-bottom: 30px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-2.jpg);.vertical-center;}
    }
    &._3{
      margin-bottom: 30px;
      &:before{  background-image: url(pics/recepty/salad/salad-ico-3.jpg);.vertical-center;}
    }
  }
  &__ul-in{
    list-style: disc;
    margin-left: 20px;
    font-size: 0.975rem;
    color: #747474;
  }
  &__li-in{
    margin-top: 7px;
    padding-left: 15px;
  }
  &__colored{
    &._easy{
      color: #717d16;
    }
    &._medium{
      color: #c26519;
    }
    &._hard{
      color: #ff0000;
    }
  }
  &__go-to{
    font-size: 1.125rem;
    color: #4a6115;
    border-bottom: 1px solid #4a6115;
  }
}