.second-dish{
  .title(second-dish, #b74624, #d79987);
  &__cont{
    position: relative;
    height: 600px;
    background-image: url(pics/recepty/second-dish/second-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    @media(min-width: 768px){
      height: 860px;
    }
  }
  &__viewport-cont{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(35,29,27,.6);
  }
  &__viewport{
    position: relative;
    width: 95%;
    max-width: 1440px;
    height: 400px;
    margin: auto;
  }
  &__item-cont{
    height: 400px;
    padding: 20px 20px;
    @media(min-width: 768px){
      padding: 20px 10px;
    }
    @media(min-width: 992px){
      padding: 20px 30px;
    }

  }
  &__link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px;
    color: #4b4d40;
    background: #fff;
    text-align: center;
  }
  &__img-cont{
    position: relative;
    max-width: 160px;
    width: 95%;
    height: 145px;
    margin: 0 auto 15px auto;
    overflow: hidden;

  }
  &__h3{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  &__txt{

  }
  &__slick-prev{
    left: -2%;
  }
  &__slick-next{
    right: -2%;
  }

  &__slick-prev, &__slick-next{
    width: 40px;
    height: 100px;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top:50%;
      display: block;
      width: 30px;
      height: 30px;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
  &__slick-prev{
    &:before{
      border-left: 4px solid #fff;
      border-bottom: 4px solid #fff;
    }
  }
  &__slick-next{
    &:before{
      border-right: 4px solid #fff;
      border-top: 4px solid #fff;
    }
  }
}