.directory{
  .title(directory, #00b454, #73d6a1);
  &__contents{
    margin-bottom: 40px;

    &:before{
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      @media(min-width: 1024px){
        display: none;
      }
    }
    &-desc{
      max-width: 670px;
      width: 100%;
      margin: auto;
      background-color: rgba(0,100,141,0.6);
      font-size: 0;
      white-space: nowrap;
      @media(min-width: 414px){
        min-width: 400px;
      }
      @media(min-width: 992px){
        min-height: 180px;
        &:after{
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 150px;
          height: 180px;
          background-color: #0b6b92;
        }
      }
    }
    &-wrap{
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      @media(min-width: 640px){
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;
      }
      @media(min-width: 992px){
        width:~"calc(100% - 80px)";

      }
    }
    &-title{
      display: block;
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 10px;
      color: #fff;
      @media(min-width: 640px){
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 20px;
      }
    }
    .btn{
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      transition: all .15s ease-in-out;
      @media(min-width: 640px){
        font-size: 24px;
      }
      &:hover{
        background-color: #fff;
        color: rgb(0,100,141);
        border-color: rgb(0,100,141);
      }
    }
  }

}