.icons {
  position: relative;
  padding-top: 80px;
  padding-bottom: 55px;
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 0;

  @media (min-width: 768px) {
    background-image: url(pics/stomatologiya-region/icons-bg.jpg);
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  @media (max-width: 767px) {
    padding-bottom: 28px;
    background: none;
  }

  &__container {
    .container;
    position: relative;
    z-index: 2;
  }

  &__content {
    max-width: 700px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 767px) {
      margin-top: -30px;
    }
    @media(min-width: 1024px){
      margin-left: 25%;
      width: 75%;
      float: left;
    }
  }
  &__list{
    font-size: 0;
  }
  &__item{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 40px;
    text-align: left;
    @media (min-width: 768px) {
      width: 33.3333333%;
      margin-bottom: 0;
      text-align: center;
    }
  }
  &__link{
    position: relative;
    display: block;
    padding-left: 70px;
    color: #67757a;
    font-size: 16px;
    &::before {
      content: "";
      position: absolute;
      top: -120px;
      left: 50%;
      width: 110px;
      height: 110px;
      background-size: 110px 110px;
      background-position: center;
      transform: translateX(-50%);
      .transition;
      @media (max-width: 767px){
        top: 0;
        left: 30px;
        bottom: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        background-size: 90px 90px;
      }
    }

    &:hover {
      text-decoration: underline;
      color: darken(#67757a, 10%);

      &::before {
        transform: translateX(-50%) translateY(-7px);
      }
    }

    &:active {
      text-decoration: underline;
      color: darken(#67757a, 20%);
    }

    @media (min-width: 768px) {
      margin-top: 145px;
      padding-left: 0;
    }

  }

}
// icons list
.icons {

  &__link{
    &._news::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-news.png);
    }
    &._spravochnik::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-spravochnik.png);
    }
    &._sovetVracha::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-vrach.png);
    }
    &._medCentr::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-clinica.png);
    }

    &._diagnostika::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-diagnostika.png);
    }

    &._search::before {
      background-image: url(pics/svg/svg-stomatologiya-region/icons-search.png);
    }
  }
}