.medCentr{
  .title(medCentr, #d74a0d, #e99c7a);
  &__content{
    @media(min-width: 1024px)
    {
      background-image: url(pics/stomatologiya-region/medCentr-bg.jpg);
      background-repeat: no-repeat;
      background-position: top;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
}