.page-header.therapy-cancer-h {
    .header__m(#779401, #c9eec4);
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

.therapy-cancer {
    font-family: CenturyGothic;
    &__clinic {
        .row {
            @media (max-width: 991px) {
                margin-bottom: 30px;
            }
        }
    }
    &__clinic-head {
        display: block;
        color: #373737;
        font-size: 20px;
        font-weight: bold;
        background: #edf5f9;
        margin-bottom: 15px;
        padding: 11px 70px;
        @media (max-width: 991px) {
            padding:10px;
        }
    }
    &__search-result {
        font-size: 28px;
        font-weight: bold;
        color: #000;
        margin-bottom: 30px;
    }
    &__clinic-location {
        padding-left: 50px;
        position: relative;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            padding-left: 0;
        }
        .icon-map-marker {
            position: absolute;
            width: 22px;
            height: 30px;
            top: 0;
            left: 0;
            .sprite2;
            background-position: 0 -1482px;
            @media (max-width: 991px) {
                left: 80px;
            }
        }
        .country {
            color: #373737;
            font-size: 18px;
            margin-bottom: 15px;
        }
        .desc {
            color: #929292;
            font-size: 16px;
        }
    }
    &__clinic-profile {
        padding-left: 50px;
        position: relative;
        margin-bottom: 30px;
        .icon-tablet {
            position: absolute;
            width: 23px;
            height: 32px;
            top: 0;
            left: 0;
            .sprite2;
            background-position: 0 -1512px;
        }
        .profile {
            color: #373737;
            font-size: 18px;
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                color: #7c7c7c;
                font-size: 16px;
                display: block;
                margin: 5px 0;
                a {
                    color: #2587d4;
                    border-bottom: 1px solid #2587d4;
                    .transition;
                    &:hover {
                        text-decoration: none;
                        color: #2587d4;
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
    &__clinic-contacts {
        padding-left: 50px;
        font-size: 18px;
        margin-bottom: 80px;
        position: relative;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        .icon-tel {
            position: absolute;
            width: 24px;
            height: 30px;
            .sprite2;
            background-position: 0 -1544px;
            top: 0;
            left: 0;
        }
        .tel {
            color: #1b1c1f;
            text-decoration: none;
        }
        .url {
            color: #2587d4;
            border-bottom: 1px solid #2587d4;
            .transition;
            &:hover {
                text-decoration: none;
                color: #2587d4;
                border-bottom-color: transparent;
            }
        }
    }
    &__clinic-img {
        display: block;
        text-align: center;
        padding-top: 55px;
        @media (max-width: 991px) {
            margin: 0 -15px;
            padding-top: 10px;
        }
        img {
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}