.therapy-question {
	&__text {
		display: block;
		padding: 15px 20px;
		background: rgba(255, 255, 255, 0.8);
		color: #274a61;
		font-size: 18px;
		line-height: 1.2;

		@media(min-width: 414px){
			min-width: 400px
		}
		@media(min-width: 768px){
			min-width: 700px;
			padding: 15px 40px 15px 40px;
		}

		@media(min-width: 992px){
			margin-right: -70px;
			padding: 15px 70px 15px 40px;
			font-size: 30px;
		}
	}
}