.page-divider {
	height: 49px;
	width: 100%;
	background: url(pics/law/divider.jpg) no-repeat center;
	margin-bottom: 80px;
	margin-top: -40px;
	@media (max-width: 991px) {
		margin-bottom: 30px;
	}
}
.therapy-select {
	font-family: CenturyGothic;
	background: url(pics/therapy_inner2/clinc-search.png) no-repeat;
	background-size: cover;
	color: #155a83;
	padding-bottom: 120px;
	margin-bottom: 60px;
	&__h2 {
		margin: 0;
		font-size: 25px;
		text-align: center;
		margin-bottom: 20px;
	}
	&__h3 {
		margin: 0;
		text-align: center;
		font-size: 16px;
		margin-bottom: 45px;
	}
	&__select {
		position: relative;
		display: inline-block;
		width: 100%;
		background: #fff;
		// text-align: center;
		height: 40px;
		font-size: 14px;
		font-family: CenturyGothic;
		margin-bottom: 25px;
		padding-left: 25px;
		border:1px solid #307ba6;

		.dropdown-btn {
			font-size: 14px;
			text-decoration: none;
			line-height: 40px;
			display: inline-block;
			width: 100%;
			color: #343434;

		}
		.dropdown-menu {
			border-radius: 0;
			width: 100%;
			border:none;

			a {
				padding: 3px 10px;
				color: #343434;
			}
		}
		.caret {
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			border-top: 8px solid #005d91;
		    border-top: 6px solid\9;
		    border-right: 8px solid transparent;
		    border-left: 8px solid transparent;
		}
		&.open .dropdown-menu {
			animation: ddAnimate .2s 1;
		}
	}
	&__button {
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #fff;
		font-size: 22px;
		background: #72c1f4;
		.transition;
		opacity: .7;
		border:0;
		&:hover {
			opacity: 1;
		}
	}
}