.therapy-cancer-h {
  margin-left: 0;
  margin-right: 0;
}
.therapy-slider {
  .page-slider {
    .slide {
      max-height: 577px;
    }
    &__text {

    }
    &__q {
      color: #364045;
      font-size: 36px;
    }
  }

  &__content{
    @media(min-width: 414px){
      min-width: 400px
    }
    @media(min-width: 768px){
      min-width: 600px;
    }
  }

}
