.page-header.treatments {
	.header__m(#a0c341, #e6efce);
	margin-bottom: 40px;
	margin-left: 0;
	margin-right: 0;
	&:before {
		width: 30%;
	}
}
.popular-treatments {
	margin-bottom: 40px;
	font-family: CenturyGothic;
	&__ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 25px 0;
			color: #414040;
			font-size: 18px;
			line-height: 55px;
			vertical-align: middle;
			img {
				float: left;
				display: inline-block;
				margin-right: 15px;
			}
		}
	}
}