<span class="city-modal__closebtn closebtn">&times;</span>
<div class="baron baron__root baron__clipper">
  <div class="baron__scroller">
    <div class="city-modal__modal-content">
      <h3>Выберите свой город</h3>
      <input type="search" name="country" id="autocomplete" class="city-modal__modal-search">
      <div class="city-modal__modal-city scroll-pane clearfix">
        <div class="city-modal__modal-col">
          <ul>
            <li><a class="link"><span>Москва</span></a></li>
            <li><a class="link"><span>Санкт-Петербург</span></a></li>
            <li><a class="link">Нижневартовск</a></li>
            <li><a class="link">Саратов      </a></li>
            <li><a class="link">Новосибирск  </a></li>
            <li><a class="link">Казань       </a></li>
            <li><a class="link">Сочи         </a></li>
            <li><a class="link">Новосибирск  </a></li>
            <li><a class="link">Казань       </a></li>
            <li><a class="link">Сочи         </a></li>
            <li><a class="link">Уфа          </a></li>
            <li><a class="link">Волгоград    </a></li>
            <li><a class="link">Пермь        </a></li>
            <li><a class="link">Астрахань    </a></li>
            <li><a class="link">Воронеж      </a></li>
            <li><a class="link">Красноярск   </a></li>
            <li><a class="link">Сочи         </a></li>
            <li><a class="link">Воронеж      </a></li>
            <li><a class="link">Красноярск   </a></li>
            <li><a class="link">Сочи         </a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="baron__track">
    <div class="baron__free">
      <div class="baron__bar"></div>
    </div>
  </div>
  <div class="city-modal__ok-btn-cont">
    <a class="city-modal__ok-btn">Выбрать</a>
  </div>
</div>




















