
<section class="diam-list">

    <section class="diam-list__cont-1 _analyzes">
        <ul class="diam-list__ul _left">

            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кадмий в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Калий, натрий, хлориды</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Калий, натрий, хлориды в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций ионизированный</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальцитонин в крови</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кандидоз, качественное определение</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Канцероэмбриональный антиген (CEA)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Карбамазепин</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кардиотокография</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кетамин</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кислая фосфатаза общая</a></li>



        </ul>

        <div class="diamonds diam-list__diam-1">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 diam-list__analyzes-pic-1"></div>
                <div class="diamonds__pic-2 diam-list__analyzes-pic-2 _border"></div>
                <div class="diamonds__pic-3 diam-list__analyzes-pic-3"></div>
            </div>

        </div>
    </section>

    <section class="diam-list__cont-2 _analyzes">
        <ul class="diam-list__ul _right">

            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кобальт в крови</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кольпоскопия</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кадмий в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Калий, натрий, хлориды</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Калий, натрий, хлориды в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций в моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальций ионизированный</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кальцитонин в крови</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кандидоз, качественное определение</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Канцероэмбриональный антиген (CEA)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Карбамазепин</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кардиотокография</a></li>

        </ul>

        <div class="diamonds diam-list__diam-2">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 _opacity diam-list__analyzes-pic-4"></div>
                <div class="diamonds__pic-2 diam-list__analyzes-pic-5 _border"></div>
                <div class="diamonds__pic-3 _opacity diam-list__analyzes-pic-6"></div>
            </div>
        </div>
    </section>
    <section class="diam-list__cont-3 _analyzes">
        <ul class="diam-list__ul _left _last">
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кетамин</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кислая фосфатаза общая</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кобальт в крови</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кольпоскопия</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Креатинин в первой утренней</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Креатинин в суточной моче</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Креатинкиназа (СК)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Креатинкиназа (СК-МВ)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кремний в крови</a></li>
        </ul>

        <div class="diamonds diam-list__diam-3">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 diam-list__analyzes-pic-7"></div>
                <div class="diamonds__pic-2 diam-list__analyzes-pic-8 _border"></div>
                <div class="diamonds__pic-3 diam-list__analyzes-pic-9"></div>
            </div>

        </div>
        @@include('../templates/paginator.html')
    </section>

</section>