<section class="diam-list">

    <section class="diam-list__cont-1 _anatomy">
        <ul class="diam-list__ul _left">

            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кадык (адамово яблоко)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Капилляры</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Квадратная мышца поясницы</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кисть</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кишечник</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Клапан аорты</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Клетка</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Клетчатка глазницы</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Клиновидная кость</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Клитор</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Ключица</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кожа</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Коленный сустав</a></li>



        </ul>

        <div class="diamonds diam-list__diam-1">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 diam-list__anatomy-pic-1"></div>
                <div class="diamonds__pic-2 diam-list__anatomy-pic-2 _border"></div>
                <div class="diamonds__pic-3 diam-list__anatomy-pic-3"></div>
            </div>

        </div>
    </section>

    <section class="diam-list__cont-2 _anatomy">
        <ul class="diam-list__ul _right">

            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Колено</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Конечный мозг</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Конъюнктива глаза</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Копчик</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Копчиковое сплетение</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Копчиковые позвонки</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кора головного мозга (плащ)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости голени</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости запястья</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости кисти</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости лица</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости пальцев кисти</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости пальцев стопы (фаланги)</a></li>

        </ul>

        <div class="diamonds diam-list__diam-2">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 _opacity diam-list__anatomy-pic-4"></div>
                <div class="diamonds__pic-2 diam-list__anatomy-pic-5 _border"></div>
                <div class="diamonds__pic-3 _opacity diam-list__anatomy-pic-6"></div>
            </div>
        </div>
    </section>

    <section class="diam-list__cont-3 _anatomy">
        <ul class="diam-list__ul _left _last">
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости предплечья</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кости стопы</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Костная ткань</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Костный лабиринт</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кость</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Крайняя плоть (препуций)</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Красный костный мозг</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Крестец</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Крестцовое сплетение</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кровеносные капилляры</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кровеносные сосуды</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кровобращение плода</a></li>
            <li class="diam-list__li"><a title="Органы человека" href="#!" class="diam-list__link ">Кровь</a></li>

        </ul>

        <div class="diamonds diam-list__diam-3">
            <div class="diamonds__pics-cont">
                <div class="diamonds__pic-1 diam-list__anatomy-pic-7"></div>
                <div class="diamonds__pic-2 diam-list__anatomy-pic-8 _border"></div>
                <div class="diamonds__pic-3 diam-list__anatomy-pic-9"></div>
            </div>
        </div>
        @@include('../templates/paginator.html')
    </section>



</section>

