<section id="definition" class="definition">
    <div class="definition__title">
        <h2 class="definition__title-content">Определение:</h2>
    </div>
    <div class="definition__cont row">
        <div class="col-sm-6 definition__col ">
            <div class="definition__img-cont">
                <img src="img/inner-diseases/definition/definition.jpg" alt="Печень">
            </div>
        </div>
        <div class="col-sm-6 definition__col">
            <div class="definition__def-cont frame-bord _def">
                <h2>Печень</h2>
                <div class="definition__def-txt ">
                    (лат. jecur, jecor, hepar, др.-греч.)
                    — жизненно важная железа внешней
                    секреции позвоночных животных, в
                    том числе и человека, находящаяся
                    в брюшной полости (полости живота)
                    под диафрагмой и выполняющая
                    большое количество различных фи-
                    зиологических функций. Печень явля-
                    ется самой крупной железой позво-
                    ночных.</div>
            </div>
        </div>
    </div>
</section>
<section id="articles" class="articles">
    <div class="articles__title">
        <h2 class="articles__title-content">Статьи:</h2>
    </div>
    <section class="articles__gallery-cont">
        <div class="items-gallery _circle art-gallery">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-1.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Функции печени</div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-2.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Кожа при заболеваниях печени</div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-3.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Причины болезней печени</div>
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-4.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Функции печени</div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-5.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Кожа при заболеваниях печени</div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#!" class="items-gallery__link">
                        <div class="items-gallery__img-cont">
                            <img src="img/inner-diseases/articles/articles-item-6.jpg" alt="Печень">
                        </div>
                        <div class="items-gallery__name">Причины болезней печени</div>
                    </a>
                </div>
            </div>
            <a href="#!" class="link-arrow  link-arrow_blue _articles">перейти в раздел</a>
        </div>
    </section>
    <section class="mainBanner _right">

        <span data-picture="" data-alt="Камни в почках">
            <span data-src="http://placehold.it/414x414"></span>
            <span data-src="http://placehold.it/992x450" data-media="(min-width: 414px)"></span>
            <span data-src="http://placehold.it/1920x450" data-media="(min-width: 992px)"></span>
            <noscript>
                <img src="http://placehold.it/1920x450" alt="">
            </noscript>
        </span>


            <a href="#!" title="информация о контагиозном моллюске" class="mainBanner__content banner__content">
                <div class="banner__txt">Боли в области печени:</div>
                <div class="banner__txt-2">что это может быть?</div>
            </a>

    </section>
</section>
<section id="in-diseases" class="in-diseases">
    <div class="in-diseases__title">
        <h2 class="in-diseases__title-content">Болезни:</h2>
    </div>
    <div class="in-diseases__cont">
        <ul class="list-dis__list_double in-dis-list">
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Алкоголь и печень</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Аутоимунный гепатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Билиарный панкреатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Болезни накопления</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Болезнь Бадда-Киари</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гемангиома печени</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатоз (Стеатоз)</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатомегалия</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Дети и заболевания печени</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Дискинезия желчевыводящих путей</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Диффузные изменения печени</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Алкоголь и печень</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Аутоимунный гепатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Билиарный панкреатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Болезни накопления</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Болезнь Бадда-Киари</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гемангиома печени</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатит</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатоз (Стеатоз)</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Гепатомегалия</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Дети и заболевания печени</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Дискинезия желчевыводящих путей</span></a></li>
            <li class="list-dis__list-item"><a href="#!" class="list-dis__link"><span class="list-dis__text">Диффузные изменения печени</span></a></li>
        </ul>
        <ul class="paginator _white">
            <li><a href="#!" class="paginator__prev paginator__arrow">назад</a></li>
            <li><a href="#!" class="paginator__item">1</a></li>
            <li><a href="#!" class="paginator__item">2</a></li>
            <li><a href="#!" class="paginator__item">3</a></li>
            <li><a href="#!" class="paginator__next paginator__arrow">вперед</a></li>
        </ul>
    </div>
</section>
<section id="food" class="food">
    <div class="food__title">
        <h2 class="food__title-content">Питание при заболеваниях печени:</h2>
    </div>
    <div class="food__cont">
        <div class="food__txt">В последние годы сильно возрос интерес к рациональному питанию, но многие люди путают,
            рациональное и диетическое питание. Рациональное питание предназначено для поддержания
            наилучшего обмена веществ в здоровом организме, в то время как диетическое питание
            назначается врачом как дополнительное средство лечения некоторых заболеваний
        </div>
        <div class="in-group food__in-group">
            <label class="in-group__label" for="choose">Опишите, что Вы ищете, и мы постараемся Вам помочь</label>
            <div class="row in-group__in-cont">
                <input id="choose" type="text" class="in-group__in col-sm-8" placeholder="питание болезней при диабете">
                <a class="btn in-group__btn col-sm-4" title="подобрать питание" >подобрать</a>
            </div>
        </div>
        <div class="food__list-cont">
            <span class="food__ul-head">По Вашему запросу мы нашли:</span>
            <ul>
                <li><a href="#!" title="диета" class="food__link">Диетический стол #5</a></li>
                <li><a href="#!" title="диета" class="food__link">Гиполипидемическая диета</a></li>
                <li><a href="#!" title="диета" class="food__link">Диета после удаления желчного пузыря</a></li>
                <li><a href="#!" title="диета" class="food__link">Диета при заболеваниях печени</a></li>
                <li><a href="#!" title="диета" class="food__link">Рецепты</a></li>
            </ul>

            <a href="#!" title="Показать заболевание" class="btn _tran _black _food">перейти в раздел</a>
        </div>
    </div>
</section>
<section class="diagnostycs" id="diagnostycs">
    <div class="diagnostycs__title">
        <h2 class="diagnostycs__title-content">Диагностика:</h2>
    </div>
    <div class="diagnostycs__cont">
        <div class="row">
            <div class="col-sm-6">
                <a href="#!" title="Виды диагностики" class="diagnostycs__btn btn _tran _gray">Виды диагностики</a>
            </div>
            <div class="col-sm-6">
                <a href="#!" title="Диагностические центры" class="diagnostycs__btn btn _tran _red">Диагностические центры</a>
            </div>
        </div>
        <div class="diagnostycs__txt">Узнайте, какие исследования Вам нужно пройти, и к каким специалистам обратиться при определенных симптомах и заболеваниях</div>
        <section class="diag-form">
            <form action="#" class="diag-form__input-group clearfix">
                <h2 class="diamonds-diagnostics__head">Диагностика:</h2>
                <div class="drop _select-input _blue">
                    <input class="drop__input" type="text" placeholder="Выберите направление">
                    <button type="button" class="drop__toggle">
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">направление 1</li>
                                <li class="drop__li">направление 2</li>
                                <li class="drop__li">направление 3</li>
                                <li class="drop__li">направление 4</li>
                                <li class="drop__li">направление 5</li>
                                <li class="drop__li">направление 6</li>
                                <li class="drop__li">направление 7</li>
                                <li class="drop__li">направление 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="drop _select-input _blue">
                    <input class="drop__input" type="text" placeholder="Заболевание">
                    <button type="button" class="drop__toggle">
                    </button>
                    <div class="baron-all baron-all__clipper baron-all__root  drop__items">
                        <div class="baron-all__scroller">
                            <ul class="drop__ul">
                                <li class="drop__li">заболевание 1</li>
                                <li class="drop__li">заболевание 2</li>
                                <li class="drop__li">заболевание 3</li>
                                <li class="drop__li">заболевание 4</li>
                                <li class="drop__li">заболевание 5</li>
                                <li class="drop__li">заболевание 6</li>
                                <li class="drop__li">заболевание 7</li>
                                <li class="drop__li">заболевание 8</li>
                            </ul>
                        </div>
                        <div class="baron-all__track">
                            <div class="baron-all__free">
                                <div class="baron-all__bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn _tran _black diag-form__show-btn" title="Показать заболевание">показать</button>
            </form>
            <div class="diag-form__cont">
                <ul>
                    <li>Необходимая диагностика</li>
                    <li>
                        <ol>
                            <li><a href="#">К эндокринологу</a></li>
                        </ol>
                    </li>
                    <li>К каким специалистам необходимо обратиться?</li>
                    <li>
                        <ol>
                            <li><a href="#">Гормональное исследование крови</a></li>
                            <li><a href="#">Биохимическое исследование крови</a></li>
                            <li><a href="#">Рентгенологическое исследование</a></li>
                            <li><a href="#">Компьютерная томография щитовидной железы</a></li>
                        </ol>
                    </li>
                </ul>
                <a href="#!" title="Показать заболевание" class="btn _tran _black">Перейти в раздел</a>
            </div>
        </section>
    </div>
</section>
<section class="advices">
    <div class="advices__title">
        <h2 class="advices__title-content">Советы специалистов</h2>
    </div>
    <div class="advices__cont row">
        <div class="col-sm-6">
            <div class="advices__img-cont">
                <img src="img/encyclopedia/advices/doc.jpg" alt="doctor photo" class="advices__img">
            </div>
        </div>
        <div class="advices__txt-cont col-sm-6">
            <div class="advices__slogan">Лечим келоидные рубцы</div>
            <div class="advices__surname">Авраамов</div>
            <div class="advices__name">Федор Павлович</div>
            <div class="advices__post">врач-терапевт</div>
            <div class="advices__address">г. Москва</div>
            <div class="advices__more"><a title="информация о специалисте" href="#!" class="advices__link">Узнать больше</a></div>
            <div class="advices__arrow"></div>
        </div>
    </div>
</section>
<section class="ask">
    <a href="#!" title="Показать заболевание" class="btn _gray _ask">задать вопрос врачу</a>
</section>
