
.icons {
  text-align: center;
  @media (min-width: 768px) {
    background-image: url(pics/kosmetologia-region/kosmetologia-region-iconsBG.jpg);
  }
  @media (min-width: 992px) {
    text-align: right;
  }
  &__link{
    color: #787878;
    &:hover{
      color: darken(#787878, 10%);
    }
  }
}