.problem{
  .title(problem, #ad4f52, #d29ea0);

  &__toggle{
    &.active{
      .problem__pic{
        &:after{
          background-image: linear-gradient(to right, #ad4f52 10px, transparent 10px), linear-gradient(to right, #ad4f52 10px, transparent 10px), linear-gradient(to bottom, #ad4f52 10px, transparent 10px), linear-gradient(to bottom, #ad4f52 10px, transparent 10px);
        }
      }
      .problem__desc{
        background-color: #ad4f52;
        &:after{
          border-color: #ad4f52 transparent transparent transparent;
        }
      }
    }
    &:hover{
      .problem__pic{
        &:after{
          background-image: linear-gradient(to right, #ad4f52 10px, transparent 10px), linear-gradient(to right, #ad4f52 10px, transparent 10px), linear-gradient(to bottom, #ad4f52 10px, transparent 10px), linear-gradient(to bottom, #ad4f52 10px, transparent 10px);
        }
      }
      .problem__desc{
        background-color: #ad4f52;
      }
    }
  }
}