.container {
	
	max-width: 1440px;
  margin: 0 auto;
	padding: 0 70px;
	
	@media (max-width: 767px) {
    padding: 0 4.6%;
  }

	@media (min-width: 768px) and (max-width: 991px) {
    padding: 0 5.2%;
  }
	
	@media (min-width: 992px) and (max-width: 1199px) {
    padding: 0 35px;
  }	
}

.font(@f-family, @f-size, @l-height: 1.2, @f-style: normal, @f-weight: 400) {
  font-family: @f-family, Arial, sans-serif;
  font-size: @f-size;
  line-height: @l-height;
	font-style: @f-style;
	font-weight: @f-weight;
}

.title(@class, @color-1, @color-2) {

	.@{class}__title {
		position: relative;
		padding-left: 70px;
		background-color: @color-1;
		
		h1,h2 {
			width: @col-6;
			padding-right: 2%;
		}
		
		@media (max-width: 767px) {
			padding: 0 4.6%;
		}

		@media (min-width: 768px) and (max-width: 991px) {
			padding: 0 5.2%;
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			padding: 0 35px;
		}
	}
	
	.@{class}__title::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: @col-6;
		height: @col-12;
		background-color: @color-2;
		opacity: 0.8;
		
		@media (max-width: 991px) {
			opacity: 0.3;
		}
	}
}

.transition {
	transition: 0.15s ease-in;
}

.center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vertical-center{
	top: 50%;
	transform: translate(0, -50%);
}

.horizontal-center{
	left: 50%;
	transform: translate(-50%, 0);
}

.before(@t,@l,@w,@h) {
	content: "";
	position: absolute;
	top: @t;
	left: @l;
	width: @w;
	height: @h;
}

.slider(@h) {
	width: @col-12;
//	height: @h;
//	object-fit: cover;
	object-fit: contain;
		
	@media (max-width: 767px) {
		height: auto;
		object-fit: contain;
	}
}

.corner(@color,@h,@w) {
  background-image:
      linear-gradient(to right, @color @h*2, transparent @h*2), linear-gradient(to right, @color @h*2, transparent @h*2), linear-gradient(to bottom, @color @h*2, transparent @h*2), linear-gradient(to bottom, @color @h*2, transparent @h*2);
  background-size: 100% @w, 100% @w, @w 100%, @w 100%;
  background-position: -@h 0%, -@h 100%, 0% -@h, 100% -@h;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}





.trans-bor-col{
	border: 1px solid transparent;
	transition-property: border-color;
	transition-duration: 1s;
}


.svg-fill{

	&_social-icon-header{
		fill: #69c;
	}

	&_blue-gray{
		fill:#859dbb;
	}
	&_gray{
		fill: #656263;
		&-light{
			fill: #c0c0c0;
		}
	}

	&_blue{
		fill: #1171af;
	}

	&_white{
		fill: #fff;
	}

	&_fb{
		fill: #5a73a9;
	}

	&_ok{
		fill: #f58220;
	}

	&_vk{
		fill: #5075a5;
	}

	&_inst{
		fill: #5d8caf;
	}

	&_tumblr{
		fill: #314358;
	}

	&_skype{
		fill: #15ACE5;
	}

	&_tw{
		fill: #64d2f2;
	}

}