

html {
  box-sizing: border-box;
	font-size: 16px;
} 

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
	max-width: 1920px;
	margin:auto;
	background-color: @white;
	font-family: CenturyGothic, sans-serif;
}

img {
  display: block;
}

h2 {
	.font(@ff, 30px, 40px, normal, 400);
	padding: 8px 0;
	color: @white;
	
	@media (max-width: 991px) { 
		.font(@ff, 18px, 1.6, normal, 400);
	}
}

ul {
	list-style: none;
}

a, a:hover, a:active, a:focus, a:visited {
	text-decoration: none;
}

.wrap {
	.container();
}

button {
	cursor: pointer;
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: normal;
	overflow: visible;
	-webkit-appearance: button; /* for input */
	-webkit-user-select: none; /* for button */
	-moz-user-select: none;
	-ms-user-select: none;
}
select {
	-webkit-appearance: none;
	background-image: url('./pics/down-arrow.svg');
	background-position: ~"calc(100% - 5px)" center;
	background-repeat: no-repeat;
	background-size: 10px;
	background-color: #fff;
	line-height: 1em;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}
select::-ms-expand {
	display: none;
}


