/* "CenturyGothicBold" */
@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/CenturyGothic/CenturyGothicBold.eot");
    src: url("../fonts/CenturyGothic/CenturyGothicBold.woff") format("woff"),
    url("../fonts/CenturyGothic/CenturyGothicBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/* "CenturyGothicRegular" */
@font-face {
    font-family: "CenturyGothic";
    src: url("../fonts/CenturyGothic/CenturyGothicRegular.eot");
    src: url("../fonts/CenturyGothic/CenturyGothicRegular.woff") format("woff"),
    url("../fonts/CenturyGothic/CenturyGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* "OpenSansRegular" */
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans/OpenSansRegular.eot");
    src: url("../fonts/OpenSans/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* "AzoftSans" */
//@font-face {
//    font-family: "AzoftSans";
//    src: url("../fonts/AzoftSans.eot");
//    src: url("../fonts/AzoftSans.woff") format("woff"),
//    url("../fonts/AzoftSans.ttf") format("truetype");
//    font-style: normal;
//    font-weight: 400;
//}

/* "Slick" */
@font-face {
    font-family: "Slick";
    src: url("../fonts/slick/slick.eot");
    src: url("../fonts/slick/slick.woff") format("woff"),
    url("../fonts/slick/slick.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

// MyriadPro Cond

@font-face {
    font-family: "MyriadProCondRegular";
    src: url("../fonts/MyriadProCond/MyriadProCondRegular.eot");
    src: url("../fonts/MyriadProCond/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProCond/MyriadProCondRegular.woff") format("woff"),
    url("../fonts/MyriadProCond/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

// HeliosCondLight

@font-face {
    font-family: "HeliosCondLight";
    src: url("../fonts/HeliosCondLight/HeliosCondLight.eot");
    src: url("../fonts/HeliosCondLight/HeliosCondLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosCondLight/HeliosCondLight.woff") format("woff"),
    url("../fonts/HeliosCondLight/HeliosCondLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* font-family: "MyriadProRegular"; */

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

/* font-family: "GoodVibesPro"; */
@font-face {
    font-family: "GoodVibesPro";
    src: url("../fonts/GoodVibesPro/GoodVibesPro.eot");
    src: url("../fonts/GoodVibesPro/GoodVibesPro.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GoodVibesPro/GoodVibesPro.woff") format("woff"),
    url("../fonts/GoodVibesPro/GoodVibesPro.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


