//media points
@uLg:1920px;
@lg:1439px;
@md:1199px;
@sm:991px;
@xs:767px;


@white: #ffffff;
@black: #000000;
@blue: #6699cc;
@light-blue: #c4defb;
@text-blue: #4479b2;
@dark-blue: #336799;
@gray: #676666;
@gray-text: #646464;
@light-gray: #a5a8a7;
@dark-gray: #7b7b7b;
@text-gray: #9c9c9c;
@orange: #d23600;

// bg-color 

@promo: #ededed;

@children-1: #d67a37;
@children-2: #72b82f;
@children-3: #5b9ee9;
@children-4: #d19540;
@children-5: #b865af;
@children-6: #3c71a4;
@children-7: #db7256;
@children-8: #29b12c;
@children-9: #319997;
@children-10: #50d7d6;

@development-1: #5b9ee9;
@development-2: #d5e6f9;
@development-3: #abd2fd;

@health-1: #efad44;
@health-2: #f5ecc9;
@health-3: #716f6f;
@health-4: #d2d7d8;

@visit-doctor-1: #29b12c;
@visit-doctor-2: #c8ebc8;
@visit-doctor-3: #6c866d;

@arrow: #6699cc;
@arrow-green: #b4ef9d;
@arrow-orange: #dfac8b;
@arrow-purpur: #c6c7c8;
@arrow-gray: #444444;

@food-1: #db7256;
@food-2: #f6dbd3;
@food-3: #bee2f1;
@food-4: #fee26d;
@food-5: #f6702c;
@food-6: #c8d023;

@vaccination-calendar-1: #adceef;
@vaccination-calendar-2: #e0f3b3;
@vaccination-calendar-3: #3c3c3c;

@mixture-1: #86b7e7;
@mixture-2: #d2d2d2;

@fitness-children-1: #b865af;
@fitness-children-2: #edd7ea;
@fitness-children-3: #f7f3f0;

@psychology-1: #d67a37;
@psychology-2: #f4ddcb;
@psychology-3: #3f3f3f;
@psychology-4: #1eccca;

@children-products-1: #1eccca;
@children-products-2: #c5f2f1;
@children-products-3: rgba(116, 179, 178, 0.8);
@children-products-4: #515151;

@childcare-1: #77bb37;
@childcare-2: #dcedcb;
@childcare-3: #efe7db;
@childcare-4: #5e5e5c;

@vaccination-table-1: #8bbae8;
@vaccination-table-2: #e4f2ff;
@vaccination-table-3: #4a4a4a;
@vaccination-table-4: #5e6266;

@article-1: #566b7f;
@article-2: #838689;
@article-3: #f9fcfe;
@article-4: #5679d2;
@article-5: #c7dcf1;
@article-6: #23486e;
@article-7: #69747e;

@all-article-1: #5589c3;
@all-article-2: #738393;
@all-article-3: #838689;
@all-article-4: #d865c1;
@all-article-5: #86a0b7;
@all-article-6: #f9b5eb;
@all-article-7: #782076;
@all-article-8: #9e9e9e;
@all-article-9: #b7d1e8;

@childhood-diseases-1: #f3c478;
@childhood-diseases-2: #df9a2d;
@childhood-diseases-3: #5588c1;
@childhood-diseases-4: #86888e;

@birth-1: #f492ce;
@birth-2: #62c1dd;
@birth-3: #1f70cb;
@birth-4: #1eccca;
@birth-5: #f249a6;
@birth-6: #f26050;
@birth-7: #73cc3b;
@birth-8: #646464;

@preparation-1: #f492ce;
@preparation-2: #fce3f2;
@preparation-3: #bc488f;
@preparation-4: #6e6e6e;
@preparation-5: #c4cbcd;

@delivery-beginning-1: #8cba70;
@delivery-beginning-2: #dbf3cd;
@delivery-beginning-3: #494949;

@obstructed-labor-1: #1eccca;
@obstructed-labor-2: #c5f2f1;
@obstructed-labor-3: #19adab; // text
@obstructed-labor-4: #757575;
@obstructed-labor-5: #767676; // arrow

@caesarian-1: #d66a60;
@caesarian-2: #f4d8d6;
@caesarian-3: #404d34;
@caesarian-4: #eaf6fa;

@breast-feeding-1: #cc4c85;
@breast-feeding-2: #f2d1df;
@breast-feeding-3: #d05d8f; // text

@postpartum-1: #62c1dd;
@postpartum-2: #d6eff6;
@postpartum-3: #716f6f;

@note-1: #2776cd;
@note-2: #d5e6f9;
@note-3: rgba(120, 93, 84, 0.73);
@note-4: rgba(61, 43, 34, 0.73);

@women-world-1: #336799;
@women-world-2: #c73b87;
@women-world-3: #f492ce;
@women-world-4: #1eccca;
@women-world-5: #2ca0d6;
@women-world-6: #93db74;
@women-world-7: #646464;


@women-psychology-1: #f492ce;
@women-psychology-2: #fce3f2;
@women-psychology-3: #8c2f68;
@women-psychology-4: #494b4b;

@women-health-1: #1eccca;
@women-health-2: #c7f2f1;
@women-health-3: #737373;

@women-food-1: #abc838;
@women-food-2: #e3f6db;
@women-food-3: #718521;

@sport-1: #2ca0d6;
@sport-2: #c8e6f4;

@beauty-1: #c73b87;
@beauty-2: #f2d1df;
@beauty-3: #d7dfeb;
@beauty-4: #4f3b3b;
@beauty-5: #404040;
@beauty-6: rgba(255,255,255,0.66);
@beauty-7: #a39190;

@feeding-1: #efae46;
@feeding-2: #f3eecc;
@feeding-3: #3a9eb7;
@feeding-4: #50b2cb;

@mixed-feeding-1: #37d2d0;
@mixed-feeding-2: #d3f5f5;
@mixed-feeding-3: #4a4e55;

@baby-food-1: #a1b806;
@baby-food-2: #e8eec7;

@pregnancy-planning-1: #b7ca19;
@pregnancy-planning-2: #52960f;
@pregnancy-planning-3: #8ed5ea;
@pregnancy-planning-4: #5b9ee9;
@pregnancy-planning-5: #d67a37;
@pregnancy-planning-6: #b865af;
@pregnancy-planning-7: #a44ccc;
@pregnancy-planning-8: #d25245;
@pregnancy-planning-9: #2e679e;
@pregnancy-planning-10: #319997;
@pregnancy-planning-11: #1eccca;
@pregnancy-planning-12: #7ad245;

@planning-1: #319997;
@planning-2: #cae5e4;
@planning-3: #6eb7b6;
@planning-4: rgba(49,153,151,0.7);

@gynecology-1: #b865af;
@gynecology-2: #edd7ea;
@gynecology-3: #716f6f;

@conception-1: #d67a37;
@conception-2: #f4ddcb;
@conception-3: #4f4f4f;

@infertility-treatment-1: #a44ccc;
@infertility-treatment-2: #e7d1f2;
@infertility-treatment-3: #294d6b;
@infertility-treatment-4: #152f3e;

@medications-1: #52960f;
@medications-2: #d2e4c1;
@medications-3: #404d34;

@man-health-1: #5b9ee9;
@man-health-2: #d5e6f9;
@man-health-3: #d5e6f9;

@pregnancy-symptoms-1: #8ed5ea;
@pregnancy-symptoms-2: #e2f4fa;
@pregnancy-symptoms-3: #7a331b;
@pregnancy-symptoms-4: rgba(255,255,255,0.45);

@diagnostics-1: #b7ca19;
@diagnostics-2: #ecf1c3;
@diagnostics-3: rgba(183,202,25,0.8);

@online-services-1: #1eccca;
@online-services-2: #c5f2f1;
@online-services-3: #bdd6ef;
@online-services-4: #636363;
@online-services-5: #878787;

@hospital-slider-1: rgba(36,88,123,0.7);
@hospital-slider-2: #c4f7ff;

@instruments-1: #172328;
@instruments-2: #9e9e9e;
@instruments-3: #68c5ee;
@instruments-4: #ffae00;
@instruments-5: #f262e6;
@instruments-6: #383838;
@instruments-7: #919191;

@calculation-menu-1: rgba(143,214,242,0.6);
@calculation-menu-2: rgba(101,98,96,0.7);

@children-menu-1: #3fa1e6;
@children-menu-2: #99dffc;
@children-menu-3: #16475c;

@my-baby-1: rgba(74,129,181,0.7);

@childhood-diseases-menu-1: #2f2f2f;
@childhood-diseases-menu-2: #717171;

@tuberculosis-slider-1: #b4c4a2;

@adolescent-psychology-1: rgba(71,63,49,0.7);

@experts-1: #515151;
@experts-2: #5d8dae;
@experts-3: #eff7fd;

@documents-laws: #2274b9;

@events-1: #eff7fd;
@events-2: #cce3f5;
@events-3: #458dd8;
@events-4: #336799;
@events-5: #7d7d7d;
@events-6: #02173a;

@home-1: #978f8c;
@home-2: rgba(151,143,140,0.7);

@women-block-1: rgba(59,58,51,0.7);

@history-quote-1: #f0f0f0;
@history-quote-2: #6699cc;
@history-quote-3: #716a6a;
@history-quote-4: #545454;

@reform-1: rgba(30,30,30,0.8);
@reform-2: #59cfed;
@reform-3: #3799bd;
@reform-4: #b2bfd6;
@reform-5: #474642;
@reform-6: #848484;
@reform-7: rgba(255,255,255,0.8);

@history-hospital-1: #656464;
@history-hospital-2: #949393;

@index-1: #336799;
@index-2: #54355e;
@index-3: #767528;
@index-4: #88363a;
@index-5: #635459;
@index-6: #2b4877;
@index-7: #4a4240;
@index-8: #705543; // link
@index-9: #654f42; // border
@index-10: rgba(116,150,184,0.5);
@index-11: rgba(72,97,117,0.6);
@index-12: #336799;
@index-13: #458dd8;
@index-14: #5a4035;
@index-15: #515814;
@index-16: #acba27;
@index-17: #f6facc;
@index-18: #464a4e;
@index-19: #869218;
@index-20: #4c5e70;
@index-21: #6699cc;
@index-22: rgba(102,153,204,0.6);

// font-size

@p: 18px;

// font 
@gv: GoodVibesPro;
@ff: CenturyGothic;
@os: OpenSans;
@m: MyriadProCondRegular;
@mp: MyriadPro;
@h: HeliosCondLight;

// grid

@col-1: 8.3333333%;
@col-2: 16.6666667%;
@col-3: 25%;
@col-4: 33.33333333%;
@col-5: 41.66666667%;
@col-6: 50%;
@col-7: 58.33333333%;
@col-8: 66.66666667%;
@col-9: 75%;
@col-10: 83.33333333%;
@col-11: 91.66666667%;
@col-12: 100%;


//childhood-diseases-all

@title-height: 56px;

//notebook

@notebook-font-size: 20px;
@notebook-font-color: #3b3b38;

//awesome notebook rainbow
@notebook-1: #e82439;
@notebook-2: #49c991;
@notebook-3: #efa13b;
@notebook-4: #83c01a;
@notebook-5: #1ac070;
@notebook-6: #1ac0a3;
@notebook-7: #1b74c0;
@notebook-8: #e549c2;

@notebook-9: #ff6c00;
@notebook-10: #49c991;
@notebook-11: #c9dea5;
@notebook-12: #0d5a0a;
@notebook-13: #1ac0a3;
@notebook-14: #4351a3;
@notebook-15: #ff8021;
@notebook-16: #1ac01e;
@notebook-17: #e548c2;

@notebook-gradient-end-1:#057f8c;
@notebook-gradient-start-1:#37b6bd;

// blood-circulation

@blood-circulation-title-bg-color:#e34859;
@blood-circulation-title-bg-after-color:#f09ba4;

@blood-circulation__disease-item-color-1:#00ba00;
@blood-circulation__disease-item-color-2:#00a1ba;
@blood-circulation__disease-item-color-3:#ba004a;
@blood-circulation__disease-item-color-4:#00bba8;
@blood-circulation__disease-item-color-5:#1cba00;
@blood-circulation__disease-item-color-6:#b0b702;
@blood-circulation__disease-item-color-7:#b9006a;
@blood-circulation__disease-item-color-8:#02a1b7;
@blood-circulation__disease-item-color-9:#026ab7;

// arrow-to-bottom

@arrow-to-bottom-color:#919191;


//gastroenterology

@gastroenterology-title-bg-color:#49c991;
@gastroenterology-title-bg-after-color:#9be1c3;

//hematology

@hematology-title-bg-color:#ef9c30;
@hematology-title-bg-after-color:#f4ca93;

@hematology-link-color:#3581b8;

//frame

@frame-color:#52acce;
@frame-color-2:#aaccde;

//hypovitaminosis

@hypovitaminosis-title-bg-color:#83c01a;
@hypovitaminosis-title-bg-after-color:#badc81;

@hypovitaminosis-text-color:#545454;

//dermatology

@dermatology-title-bg-color:#1ac070;
@dermatology-title-bg-after-color:#81dcb0;

@dermatology__bg-color:#f6f6f6;
@dermatology__link-color:#5d5d5d;

@dermatology-arrow-color:#d6e3ee;

//childhood-infections

@childhood-infections-title-bg-color:#1ac0a3;
@childhood-infections-title-bg-after-color:#81dccc;

@childhood-infections-description-color:#4b524f;

//neurology

@neurology-title-bg-color:#1a74c0;
@neurology-title-bg-after-color:#81b3dc;

//oncology
@oncology-font-color:#f5d4b6;
@oncology-font-color-sm:#2c1c0d;

@oncology-infections-title-bg-color:#fa9145;
@oncology-infections-title-bg-after-color:#fcc399;

//ophthalmology
@ophthalmology-title-bg-color:#ed5acc;
@ophthalmology-title-bg-after-color:#f5a4e3;

//otorhinolaryngology

@otorhinolaryngology-title-bg-color:#44b483;
@otorhinolaryngology-title-bg-after-color:#9be1c3;

@otorhinolaryngology-font-color-sm:#256247;


//parasitology

@parasitology-title-bg-color:#95c83e;
@parasitology-title-bg-after-color:#c5e195;

//psychiatry
@psychiatry-title-bg-color:#2a751d;
@psychiatry-title-bg-after-color:#8ab383;

//stomatology
@stomatology-title-bg-color:#3164b3;
@stomatology-title-bg-after-color:#8da9d5;

//urology
@urology-title-bg-color:#ff8021;
@urology-title-bg-after-color:#ffb985;

@urology-cquare-color:#6f828f;
@urology-link-color:#385264;

//surgery
@surgery-title-bg-color:#47ae0f;
@surgery-title-bg-after-color:#9ad37b;


//endocrinology
@endocrinology-title-bg-color:#ed5acc;
@endocrinology-title-bg-after-color:#f5a4e3;

@endocrinology-circle-border-color:#3e99c5;
@endocrinology-link-color:#1a546f;


//page encyclopedia

//alphabet
@alphabet-char-color: #072c52;
@alphabet-font-color: #104578;
@alphabet-char-bg-color: #3b6799;

@alphabet-bg-circle-color: #1787c7;


// all-true
@all-true-bg-link-color: #aa1a36;

// diseases-list-nav
@diseases-link-font-color: #8d8d8d;
@diseases-list-bg-link-color: #1787c7;

// dis-list
@dis-list-font-color:#537597;

//dis-list awesome rainbow

@dis-list-bg-end-color-1:#f5f9da;
@dis-list-bg-end-color-2:#e7f1d4;
@dis-list-bg-end-color-3:#e3f4de;
@dis-list-bg-end-color-4:#d8f5e9;
@dis-list-bg-end-color-5:#d7e9f4;
@dis-list-bg-end-color-6:#e4f1ff;


//@advices-title-bg-color
@advices-title-bg-color: #529d9e;
@advices-title-bg-after-color: #d2e6e6;

@advices-surname-color: #3a3a3a;
@advices-post-color: #6f6f6f;


//specialties
@specialties-title-bg-color: #c6d333;
@specialties-title-bg-after-color: #f0f4ca;

@specialties-font-color: #a0ab24;

//med-sec

@med-sec-title-bg-color: #80b3e5;
@med-sec-title-bg-after-color: #deebf8;

@med-sec-link-color: #af3a9d;
@med-sec-desc-color: #506c88;



//anatomy
@anatomy-font-color:#303030;



//diamond
@diamond-frame-color:#3581b6;


//rare page

//icons

@icons-font-color:#336799;
@icons-color:#76a9d8;
@icons-border-color:#aacef0;

//news

@news-title-bg-color:#afd018;
@news-title-bg-after-color:#d3e580;

//tab-native
@tab-native-dark-color:#373940;
@tab-native-light-color:#f4f6f6;

//articles
@articles-title-bg-color:#e65789;
@articles-title-bg-after-color:#f1a3be;


@articles-font-color:#6a3012;
@articles-font-color2:#2d2d2d;
@articles-text-bg-color:#c7b9a7;

//rare-encyclopedia
@rare-encycl-title-bg-color:#ffad2c;
@rare-encycl-title-bg-after-color:#ffeb8b;

@rare-encycl-note-circle-color:#becbc6;
@rare-encycl-font-color:#5c5b5b;
@rare-encycl-font-color2:#303030;
@rare-encycl-search-color:#d3e8fd;
@rare-encycl-font-search-color:#1787c7;

@rare-encycl-paginator-color:#8c8c8c;
//diagnostycs

@diagnostycs-title-bg-color:#c6d333;
@diagnostycs-title-bg-after-color:#f0f4ca;

//btn
@btn-orange-hov-color: #d28a00;
@btn-black-hov-color: #282828;
@btn-blue-color: #7aade0;
@btn-blue-hov-color: #3399ff;

//diag-form
@diag-form-bg-in-color:#cde6ff;
@diag-form-bg-in-color-2:#b6dbff;
@diag-triangle-color:#005d91;

//rare-history
@rare-history-title-bg-color:#23a159;
@rare-history-title-bg-after-color:#86cba4;

//handbook
@handbook-header-color:#336799;

//mans
@mans-link-color:#82b1e7;
@mans-plus-hov-color:#569933;

//definitiom
@definition-title-bg-color:#50b2cb;
@definition-title-bg-after-color:#9fd5e2;

@definition-txt-color:#565656;

//articles
@articles-title-bg-color:#8eae05;
@articles-title-bg-after-color:#c1d376;

@articles-font-color:#2a2a2a;

@articles-font-bg-color:#614635;

//in-diseases
@in-diseases-title-bg-color:#d48a33;
@in-diseases-title-bg-after-color:#e7bf8f;

@in-diseases-font-color:#060606;

//food
@food-title-bg-color:#e72f6b;
@food-title-bg-after-color:#f28dae;
