.history-cesarian {

	&__block {
		position: relative;

		@media (min-width: 1199px) {
			max-height: 500px;
		}
	}

	&__img-wrap {
		padding: 0;
		height: 100%;

		@media (min-width: 1199px) {
			max-height: 500px;
		}
	}

	&__img {
		height: 100%;
		background-size: contain;

		@media (max-width: 1199px) {
			display: none;
		}
	}

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		left: auto;
		width: @col-5 + 5%;
		height: 100%;
		padding: 50px 70px 40px 100px;
		background-color: #d3a895;
		color: @white;

		@media (max-width: 1199px) {
			position: relative;
			width: @col-12;
			padding: 4.6%;
		}

		@media (max-width: 480px) {
			padding: 15px;
		}

		a {
			position: absolute;
			top: 50%;
			left: -64px;
			transform: translateY(-50%);
			width: 128px;
			height: 128px;
			font-size: 0;
			background-color: #965a35;
			border: 13px solid @white;
			border-radius: 50%;

			@media (max-width: 1199px) {
				display: none;
			}

			&::after {
				content: "";
				position: absolute;
				.center;
				left: 37px;
				border-bottom: 24px solid transparent;
				border-right: 22px solid @white;
				border-left: 22px solid transparent;
				border-top: 24px solid transparent;

				@media (max-width: 1199px) {
					display: none;
				}
			}
		}
	}

	&__text-content {
		max-width: 510px;

		@media (max-width: 1199px) {
			width: @col-12;
			max-width: none;
		}

		h3 {
			margin-bottom: 20px;
			.font(@ff,2.2rem,1);

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff,1.8rem);
			}

			@media (max-width: 991px) {
				.font(@ff,1.4rem);
			}
		}

		p {
			.font(@ff,1.2rem);

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff,1rem);
			}

			@media (max-width: 991px) {
				.font(@ff,0.9rem);
			}
		}
	}
}