.stethoscope {


	&__text-content {
		width: 550px;

		@media (max-width: 991px) {
			width: @col-12;
			padding: 20px 10px;
			padding-bottom: 30px;
			text-align: center;
			background-color: rgba(255,255,255,0.8);
		}

		h3 {
			margin-bottom: 5px;
			.font(@ff,1.5rem);
			color: #3a6799;

			@media (min-width: 768px){
				margin-bottom: 5px;
				.font(@ff,1.8rem);
			}
			@media (min-width: 992px){
				.font(@ff,3rem);
			}
		}

		p {
			margin-bottom: 20px;
			.font(@ff,0.9rem);
			color: #4e5154;
			@media (min-width: 768px){
				.font(@ff,1rem);
			}

			@media (min-width: 992px){
				margin-bottom: 35px;
				.font(@ff,1.2rem);
			}
		}

		a {
			padding: 8px 20px;
			padding-bottom: 12px;
			.font(@ff,1.4rem);
			background-color: @white;
			color: #4e5154;
			border: 1px solid #3a6799;
			.transition;

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff,1rem);
			}

			@media (max-width: 991px) {
				padding: 10px 25px;
				.font(@ff,0.9rem);
			}

			@media (max-width: 767px) {
				display: block;
				max-width: 250px;
				margin: 0 auto;
			}

			&:hover, &:focus {
				background-color: #3a6799;
				color: @white;
			}
		}
	}
}