.n-result {
	margin-top: 55px;
	position: relative;
	margin-bottom: 130px;
	@media (max-width: 991px) {
		margin-bottom: 70px;
	}

	&__block {
		width: 100%;
		padding: 50px 0;
		border:2px dashed #000;
		border-radius:20px;
		font-size: 24px;
		color: #002b65;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		&:before {
			content: '';
			position: absolute;
			width: 67px;
			height: 49px;
			.sprite2;
			background-position: 0 -175px;
			top: -25px;
			left: 225px;
		}

		&.table {
			color: #383838;
			font-size: 22px;
			font-family: CenturyGothic;
			text-align: left;
			padding-left: 20px;
			padding-right: 20px;

			table {
				width: 100%;
			}

			td, th {
				border:0;
			}
		}
	}
	&__el {
		font-size: 72px;
		font-weight: 600;
		span {
			font-size: 24px;
			font-weight: normal;
		}
	}
	&__button {
		background-color: transparent;
		border: 0;
		position: absolute;
		left: 40%;
		bottom: -82px;
		cursor: pointer;
		z-index: 10;
		@media (max-width: 991px) {
			position: relative;
			left: auto;
			top: auto;
			bottom: auto;
			right: auto;
			margin-top: -20px;
		}
		&.position-left {
			bottom: auto;
			left: auto;
			right: -235px;
			top: 50%;
			margin-top: -50px;
			@media (max-width: 991px) {
				position: relative;
				left: auto;
				top: auto;
				bottom: auto;
				right: auto;
				margin-top: -40px;
			}
		}

		.btn-icon {
			display: block;
			width: 97px;
			height: 101px;
			.sprite2;
			background-position: 0 -74px;
			vertical-align: middle;
			float: left;
		}
		.btn-text {
			text-align: left;
			color: #81a0b8;
			font-size: 18px;
			font-family: CenturyGothic;
			font-weight: bold;
			float: left;
			margin: 20px 0;
		}
	}
	&__caption {
		text-align: left;
		font-size: 16px;
		color: #002b65;
		font-family: 'Open Sans', sans-serif;
		padding-top: 40px;
		.icon-scale {
			position: absolute;
			width: 132px;
			height: 138px;
			.sprite2;
			background-position: 0 -224px;
			top: -120px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
.radio-container {
	@media (max-width: 1366px) {
		float: none !important;
		display: block;
		text-align: left;
	}
	@media (max-width: 991px) {
		display: inline-block;
		text-align: center;
		margin: 10px 15px 0 15px;
	}
}
.n-quoteblock {
    @media (max-width: 991px) {
		margin-bottom: 40px;
	}
}