.calc-food{
  background-image: url(pics/calculator-2-uroven/hand/hand-bg.jpg);
  background-repeat: no-repeat;
  background-position: right 65px ;
  @media(max-width: 767px){
    background-position: ~"calc(100% + 215px)" 0;
  }
  .title(calc-food, #25cecc, #25cecc);
  &__five-reasons-cont{
    position: relative;
    height: 750px;
  }
}