.col-sm-3,.col-xs-6{
  padding: 0;
}

.calc-menu{
  height: 570px;
  padding-top: 80px;
  background-image: url(pics/calculator-2-uroven/menu/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @media(max-width: 1199px){
    background-position: left center;
  }
  @media(max-width: 767px){
    background-position: center;
  }
  &__cont{
    @media(min-width: 768px){
      width: 85%;
    }
    max-width: 920px;
    margin: auto;
  }
  &__link{
    @media(min-width: 768px){
      &:hover{
        .calc-menu__head-in{
          color: #4479b2;
          border-bottom-color: #4479b2;
        }
        .calc-menu__hidden-txt{
          display: block;
        }
      }
    }
  }
  &__img-cont{
    position: relative;
    z-index: 1;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    border-radius: 50%;
    img{
      position: absolute;
      .center;
      z-index: -1;
      min-height: 100%;
      min-width: 100%;
      max-height: 120%;
    }
  }
  &__head{
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    color: #4c4e4e;
  }
  &__head-in{
    border-bottom: 1px solid transparent;
    transition-property: color, border;
    transition-duration: .5s;
  }
  &__hidden-cont{
    position: relative;
  }
  &__hidden-txt{
    position: absolute;
    .horizontal-center;
    display: none;
    width: 260px;
    text-align: justify;
    font-size: 0.9rem;
    color: #1e4c7e;
  }
}