.five-reasons{
  position: absolute;
  right: 265px;
  top: 185px;
  transform: rotate(-14.4deg);
  width: 230px;
  height: 400px;
  padding: 15px;
  @media(max-width: 767px){
    right: 40px;
    top: 135px;
  }

  &__reason-h2{
    margin-bottom: 20px;
    font-size: 2.6rem;
    line-height: 25px;
    color: #fff;
  }
  &__sm{
    font-size: 1.3rem;
    line-height: 15px;
    &._green{
      color: #d5ed77;
    }
  }
  &__reas-list{
    color: #fff;
    padding-left: 20px;
  }
  &__li{
    margin-bottom: 33px;
  }
}

.services{
  .frame-bord{
    &._gray-5px{
      &:after{
        z-index: 1;
      }
    }
  }
}