
.for-moms{
  .title(for-moms, #25cecc, #25cecc);
}

.for-child{
  &__head-cont{
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 1200px;
    height: 400px;
    margin: auto;
    background-image: url(pics/calculator-2-uroven/for-child/baby-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    @media(max-width: 991px){
      background-position: left;
      &:before{
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.5);
      }
    }
    @media(max-width: 767px) {
      background-size: 250%;
      height: 300px;
    }
  }

  &__head{
    position: absolute;
    left: 40%;
    top: 50%;
    font-size: 2.8rem;
    color: #5e9edf;
    @media(max-width: 991px){
      position: relative;
      left: 0;
      top: ~"calc(100% - 100px)";
      width: 100%;
      text-align: center;
    }
    @media(max-width: 991px){
      .center;
    }
  }
}
