
.service-group{
  @media(max-width: 767px){
    &__cont{
      padding-top: 10px;
    }
  }
  &__txt-cont{
    max-width: 490px;
    padding: 60px 30px;
    @media(max-width: 1440px){
      padding: 40px 30px;
    }
    @media(max-width: 767px){
      padding: 30px 10px;
    }
  }
  &__head{
    margin-bottom: 30px;

  }
  &__big {
    display: block;
  }
  &__small {
    display: block;
  }
}


.service-group__each-cont._calendar-pregnancy{
  height: 550px;
  background-image: url(pics/calculator-2-uroven/calendar-pregn/mom-bg.jpg);
  background-position: 70% center;
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 20px;
  }
  .service-group{
    &__head{
      font-size: 3rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
      &:before {
        top: -115px;
        right: -70px;
        width: 225px;
        height: 130px;
        background-image: url(pics/calculator-2-uroven/dotted/dotted-1.png);
      }
      &:after {
        bottom: 0;
        right: -150px;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background-image: url(pics/calculator-2-uroven/calendar-pregn/calendar-pregency.jpg);
      }
    }
  }
}

.service-group__each-cont._pregnancy-age{
  height: 600px;
  background-image: url(pics/calculator-2-uroven/calc-pregnancy/calc-pregnancy-bg.jpg);
  background-position: right center;
  @media(max-width: 1199px){
    background-position: 75% center;
  }
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }

  .service-group{

    &__txt-cont._more-right{
      left: 60%;
      @media(max-width: 1400px){
        left: 40%;
      }
      @media(max-width: 1199px){
        left: 30%;
      }
      @media(max-width: 991px){
        .horizontal-center;
      }
    }
    &__head{
      font-size: 2.5rem;
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
      &:before {
        top: -220px;
        left: -190px;
        width: 230px;
        height: 155px;
        background-image: url(pics/calculator-2-uroven/dotted/dotted-2.png);
      }
      &:after{
        bottom: -100px;
        left: -300px;
        width: 330px;
        height: 100px;
        background-image: url(pics/calculator-2-uroven/dotted/dotted-3.png);
        @media(max-width: 1440px)and (min-width: 1200px){
          right: 150px;
        }
      }
    }

    &__big{
      font-size: 3.4rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
  }
}

.service-group__each-cont._decret-calc{
  height: 620px;
  background-image: url(pics/calculator-2-uroven/decret/decret-bg.jpg);
  background-position: right top;
  -webkit-background-size: cover;
  background-size: cover;
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__head{
      font-size: 2.2rem;
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
    }

    &__big{
      font-size: 3.4rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
  }
}


.service-group__each-cont._birth-date{
  position: relative;
  height: 550px;
  background-image: url(pics/calculator-2-uroven/calc-birth/birth-bg.jpg);
  background-position: left center;
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__left-txt{
      position: absolute;
      left: 15%;
      top: 0;
      width: 95%;
      max-width: 400px;
      font-size: 3.3rem;
      color: #c07058;
      @media(max-width: 991px){
        .horizontal-center;
        text-align: center;
      }
      @media(max-width: 767px) {
        display: none;
      }
    }
    &__sm{
      display: block;
      font-size: 2rem;
    }
    &__head{
      font-size: 3.5rem;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
    &__small{
      font-size: 2.5rem;
      @media(max-width: 767px){
        font-size: 1.8rem;
      }
    }
  }
}

.service-group__each-cont._calc-hcg{
  height: 500px;
  background-image: url(pics/calculator-2-uroven/calc-hcg/calc-hcg-bg.jpg);
  background-position: right center;
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__head{
      font-size: 3.5rem;
      color: #262626;
      @media(max-width: 767px){
        font-size: 2rem;
      }
      &:before{
        top: -145px;
        right: -220px;
        width: 205px;
        height: 130px;
        background-image: url(pics/calculator-2-uroven/dotted/dotted-4.png);
      }
    }
    &__small{
      font-size: 1.25rem;
      @media(max-width: 767px){
        font-size: 1.1rem;
      }
    }
  }
}

.service-group__each-cont._ideal{
  height: 700px;
  background-image: url(pics/calculator-2-uroven/for-child/for-child-bg.jpg);
  background-position: right top;
  @media(max-width: 991px){
    height: 550px;
  }

  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__head{
      font-size: 2.2rem;
      color: #262626;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
    &__small{
      font-size: 1.3rem;
      line-height: normal;
      color: #8a8a8a;
      @media(max-width: 767px){
        font-size: 1.1rem;
      }
    }
  }
}

.service-group__each-cont._calc-feed{
  height: 500px;
  background-image: url(pics/calculator-2-uroven/calc-feed/calc-feed-bg.jpg);
  background-size: cover;
  background-position: center;
  @media(max-width: 767px) {
    height: auto;
    background: none;
    margin-bottom: 50px;
  }
  .service-group{
    &__head{
      font-size: 3.5rem;
      color: #262626;
      @media(max-width: 767px){
        font-size: 2rem;
      }
    }
    &__small{
      font-size: 2.3rem;
      @media(max-width: 767px){
        font-size: 1.5rem;
      }
    }
  }
}

