.eco-head{
  position: relative;
  z-index: 1;
  height: 250px;
  background-image: url(pics/eco-pitanie/eco-head/eco-head-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  @media(min-width: 768px){
    height: 480px;
  }

  &:after{
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
  }
  &__cont{
    position: relative;
    z-index: 2;
    width: 95%;
    height: 100%;
    max-width: 1300px;
    margin: auto;
  }
  &__img-cont{
    height: 50%;
    background-repeat: no-repeat;


    &._1{
      background-image: url(pics/eco-pitanie/eco-head/eco.png);
      background-size: 70%;
      background-position: center bottom;
      @media(min-width: 768px){
        background-size: 100%;
        background-position: center;
      }

    }
    &._2{
      background-image: url(pics/eco-pitanie/eco-head/head-txt.png);
      background-size: 70%;
      background-position: center;
      @media(min-width: 768px){
        background-size: 85%;
        background-position: center right;
      }

    }
    @media(min-width: 768px){
      &:after{
        display: none;
      }
      height: 100%;
    }
  }
}