.col-md-8{
  padding: 0;
}
.eco-chess{
  @media(min-width: 992px){
    &__shadow{
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      height: 95%;
      width: 47px;
      border-radius: 50%;
    }
    &__item-cont{
      &:nth-child(odd){
        .eco-chess__shadow{
          left: ~'calc(66.66% + 7px)';
          box-shadow: -20px 0 5px 0 rgba(0, 0, 0, 0.5);
        }
      }
      &:nth-child(even){
        .eco-chess__col-1{
          float: right;
        }
        .eco-chess__shadow{
          left: ~'calc(33.33% - 53px)';
          box-shadow: 20px 0 5px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  &__item-cont{
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 20px;

    background-color: #f8f1dd;
    @media(min-width: 768px){
      max-width: 850px;
      margin-bottom: 30px;
    }
    @media(min-width: 992px){
      max-width: none;
      margin-bottom: 50px;
      padding-top: 0;
      height: 470px;
    }
    @media(min-width: 1441px){
      height: 600px;
    }
  }

  &__col-1,&__col-2{
    height: 100%;
    position: relative;
  }

  &__img-cont{
    position: relative;
    z-index: 2;
    overflow: hidden;
    width: 320px;
    height: 170px;

    margin: auto;
    @media(min-width: 768px){
      width: 768px;
      height: 407px;
    }
    @media(min-width: 992px){
      width: 100%;
      height: 100%;
    }
    img{
      position: absolute;
      .center;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      max-width: 140%;
      max-height: 140%;
    }
  }
  &__col-2{
    position: relative;
    z-index: 3;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f8f1dd;
    @media(min-width: 992px){
      padding: 0;
    }
  }
  &__txt-cont{
    width: 95%;
    max-width: 385px;
    margin: auto;
    padding-top: 0;
    text-align: center;
    border-top: 2px solid #2c6926;
    @media(min-width: 768px){
      padding-top: 20px;
    }
    @media(min-width: 992px){
      position: absolute;
      .center;
    }
    img{
      margin: 0 auto 20px auto;
    }
  }
  &__h2{
    margin-bottom: 10px;
    font-size: 2.375rem;
    line-height: 40px;
    color: #2c6926;
  }
  &__txt{
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right:5px;
    font-size: 1.125rem;
    color: #344b30;
    @media(min-width: 768px){
      margin-bottom: 50px;
    }
  }
  &__big{
    display: block;
    @media(min-width: 992px){
      font-size: 3.3rem;
    }
  }

}