.mainBanner{
  &:before{
    background-color: rgba(255,255,255,0.2);
  }
}

.eco-banner{
  padding-bottom: 50px;
  .title(eco-banner, #b2b808, #d3d776);
  &__txt-cont{
    width: 95%;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    @media(min-width: 768px){
      text-align: left;
    }
  }

  &__big{
    margin-bottom: 15px;
    font-size: 2rem;
    @media(min-width: 768px){
      font-size: 3rem;
    }
  }

  &__medium{
    font-size: 1.3rem;
    margin-bottom: 20px;
    line-height: 35px;
    @media(min-width: 768px){
      font-size: 1.5rem;
    }
  }
  .btn{
    font-size: 1.5rem;
  }
}