
.eco-gmo{
  position: relative;
  .title(eco-gmo, #ff5900, #fda87a);

  &__cont{
    position: relative;
    z-index: 1;
    @media(min-width: 992px){
      height: 650px;
      background-image: url(pics/eco-pitanie/eco-gmo/gmo-bg.jpg);
      background-repeat: no-repeat;
      background-position: right top;

      &:after{
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.8);
      }
    }
    @media(min-width: 1200px){
      &:after{
        display: none;
      }
    }


  }
  &__col-1,&__col-2{
    position: relative;
    padding-top: 30px;
    margin-bottom: 60px;
    @media(min-width: 992px){
      height: 100%;
    }
  }
  &__img-frame{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    @media(min-width: 992px){
      .vertical-center;
      width: 340px;
      height: 340px;
      margin-left: auto;
      margin-right: 100px;
    }
    &:before{
      background-image:url(pics/eco-pitanie/eco-gmo/eco-frame-2.png);
      width: ~'calc(100% + 70px)';
      height: ~'calc(100% + 70px)';
    }
  }

  &__txt-cont{
    @media(min-width: 992px){
      position: absolute;
      .vertical-center;
      left: 4%;
    }
  }

  &__name{
    text-align: center;
    font-weight: 300;
    font-size: 2.3rem;
    color: #4e4e48;
  }
  &__surname{
    display: block;
  }
  &__post{
    text-align: center;
    font-size: 1.375rem;
    color: #858582;
  }

  &__link{
    position: relative;
    .horizontal-center;
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    font-size: 2.4rem;
    color: #abb14f;
    transition-property: color;
    transition-duration: .5s;


    @media(min-width: 768px){
      font-size: 3.4rem;
      &:hover{
        color: #949e00;
        .eco-gmo__big{
          &:before{
            font-size: 13rem;
          }
        }
      }
    }
    @media(min-width: 992px){
      left: auto;
      margin-left: 0;
      transform: none;
    }
  }
  &__big{
    position: relative;
    display: block;
    float: left;
    margin-right: 20px;
    font-size: 6rem;
    line-height: 100px;
    @media(min-width: 768px){
      line-height: 140px;
      font-size: 7rem;
      &:before{
        content: '“';
        position: absolute;
        left: -100px;
        top: 50px;
        display: block;
        font-weight: 300;
        transition-property: font-size;
        transition-duration: .3s;
      }
    }
    @media(min-width: 1200px){
      line-height: 170px;
      font-size: 12rem;
    }
  }


  &__green{
    width: 95%;
    max-width: 1350px;
    margin: auto;


    @media(min-width: 768px){
      background-image: url(pics/eco-pitanie/eco-gmo/gmo-green-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120%;
    }

    @media(min-width: 992px){
      background-size: cover;
    }
  }
  &__grid-item-cont{
    position: relative;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    @media(min-width: 768px){
      height: 100px;
      margin-bottom: 80px;
      text-align: left;
      &:after, &:before{
        content: '';
        position: absolute;
        display: block;
      }
      &:after{
        width: 0;
        height: 100%;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition-property: width, border;
        transition-duration: .5s;
      }
      &:before{
        top:50%;
        height: 1px;
        border-bottom: 2px dotted #456723;
      }
      &._left{
        border-right: 1px solid #456723;

        &:before{
          left: 100%;
          transform-origin: 0 0;
        }
        &:after{
          border-left: 1px solid transparent;
          left: 0;
        }
      }
      &._right{
        border-left: 1px solid #456723;
        &:before{
          right: 100%;
          transform-origin: 100% 100%;
        }

        &:after{
          right: 0;
          border-right: 1px solid transparent;
        }
      }
      &._1{&:before{transform: rotate(20deg);  width: 200px;/* The Fallback */ width: 15vw;}}
      &._2{&:before{transform: rotate(-20deg); width: 200px;/* The Fallback */ width: 15vw;}}
      &._3{&:before{transform: rotate(0deg);   width: 200px;/* The Fallback */ width: 15vw;}}
      &._4{&:before{transform: rotate(0deg);   width: 200px;/* The Fallback */ width: 15vw;}}
      &._5{&:before{transform: rotate(-20deg); width: 300px;/* The Fallback */ width: 20vw;}}
      &._6{&:before{transform: rotate(20deg);  width: 300px;/* The Fallback */ width: 20vw;}}
    }


  }
  &__content{
    position: absolute;
    width: 95%;
    .center;
    @media(min-width: 1200px){
      width: 80%;
    }
  }


  &__in-grid-link{
    font-size: 1.4rem;
    font-family: MyriadPro, "Open Sans",Arial;
    color: #6d7307;
    transition-property: color;
    transition-duration: .5s;
    @media(min-width: 768px){
      &:hover{
        color: #959f00;
        .eco-gmo__grid-item-cont{
          &:after{
            width: 100%;
            border-color: #456723;
          }
        }
      }
    }
    @media(min-width: 1200px){
      font-size: 1.6rem;
    }

  }
  &__green-big{
    font-size: 1.5rem;
    @media(min-width: 1200px){
      font-size: 1.875rem;
    }
  }
}