
.eco-ques{
  .title(eco-ques, #e1c10f, #efdc77);
  &__cont{
    position: relative;
    z-index: 1;
    padding-top: 50px;
    background-image: url(pics/eco-pitanie/eco-ques/eco-ques-bg-left.jpg);
    background-position: left 20px;
    background-repeat: no-repeat;
    @media (min-width: 768px) {
      padding-top: 150px;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;

    }
    &:after {
      background-color: rgba(255,255,255,.5);
    }
    @media (min-width: 1200px) {
      &:after {
        display: none;
      }
    }
    @media (min-width: 1440px) {
      &:before {
        background-image: url(pics/eco-pitanie/eco-ques/eco-ques-bg-right.jpg);
        background-position: ~'calc(100% + 50px)' -90px;
        background-repeat: no-repeat;
      }
    }
  }
  &__theme-cont{
    position: relative;
    z-index: 1;
    width: 95%;
    max-width: 1150px;
    margin:auto;

    @media (min-width: 992px) {
      padding-left: 165px;
    }

  }
  &__img-frame{
    position: relative;
    width: 260px;
    height: 260px;
    margin: auto;
    @media (min-width: 992px) {
      position: absolute;
      left: 30px;

    }
    &:before{
      content: '';
      position: absolute;
      .center;
      z-index: 100;
      display: block;
      width: ~'calc(100% + 50px)';
      height: ~'calc(100% + 50px)';
      background:url(pics/eco-pitanie/eco-ques/frame.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  &__img-cont{
    position: relative;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    &._photo{
      height: 100%;
      border-radius: 50%;
    }

    &._in-row{
      height: 150px;
      margin-bottom: 15px;
    }
    img{
      position: absolute;
      .center;
      max-width: 120%;
      max-height: 120%;
      min-width: 100%;
      min-height: 100%;
      z-index: 1;
    }


  }

  &__txt-cont{
    position: relative;
    min-height: 260px;
    margin-bottom: 20px;
    padding-top: 45px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fcf9f1;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
    @media (min-width: 992px) {
      text-align: left;
      padding-left: 165px;
    }
    @media (min-width: 1200px) {
      padding-right: 150px;
    }
  }
  &__shadow{
    position: absolute;
    z-index: -1;
    bottom: 20px;
    right: 15px;
    transform: rotate(2deg);
    width: 80%;
    height: 50px;
    box-shadow: 0 20px 6px 0 rgba(0, 0, 0, 0.5);
  }
  &__h3{
    font-size: 1.4rem;
    font-weight: 300;
    color: #484847;
  }
  &__big{
    display: block;
    font-size: 2.25rem;
    color: #484847;
  }
  &__txt{
    font-size: 1.125rem;
    color: #484847;
    @media (min-width: 768px) {
      padding-left: 30px;
    }
  }

  &__grid{
    width: 95%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
    @media (min-width: 1200px) {
      text-align: left;
    }
  }

  &__item-cont{
    width: 95%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  &__txt-in-row{
    font-size: 1.25rem;
    color:#2d2d2c;
  }
}