.news-tabs {
  .title(news-tabs, #b2b808, #d3d776);
  &__control {
    &-link {
      color: #434343;
      &:hover, &.active {
        background-color: #b2b808;
        color: #fff;
      }
      &.active {
        &::before {
          border-color: transparent #b2b808 transparent transparent;
        }
      }
    }
  }

  &__content {

    &-link {
      color: #4a4a4a;
      background-color: rgba(255, 255, 255, 0.5);
      &__title {
        font-weight: bold;
        font-size: 25px;
      }
      &__desc {
        font-size: 18px;
      }

    }
  }

}