.tabs{
  .tab-content._normal{
    .tabs__content-subtitle{
      font-size: 1.875rem;
      @media(max-width: 767px){
        font-size: 1.2rem;
      }
    }
  }
  &__content-block{
    padding-top: 30px;
    background-color: rgba(0,0,0,.5);
    @media (max-width: 767px) {
      max-width: none;
    }
  }
  .tabs__content-title{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
    @media(min-width: 768px){
      font-size: 1.6rem;
    }
  }
  .nav-tabs._low {
    background: #70725a;
    li{
      border-bottom: 1px solid white;

      a{
        color: #fff;
        font-size:1.2rem;
        @media(min-width: 768px){
          font-size: 1.6rem;
        }
      }
      &:before{
        transition-property: background;
        transition-duration: .5s;
      }
      &.active {
        border-bottom: 1px solid white;
        &:before {
          border-right-color: #8d920b;
          background-color: #8d920b;
        }
        a {
          background: #8d920b;
        }
      }
      a:hover{
        text-decoration: none;
        background: #8d920b;
      }
      &:last-child{
        border-bottom: none;
      }
    }
  }
}