.article {
	
	margin-top: 50px;
	.font(@ff, 16px, 1.5, normal, 400);
	color: @article-2;
	
	@media (max-width: 767px) {
		margin-top: 30px;
		.font(@ff, 14px, 1.5, normal, 400);
	}
	
	h1 {
		margin-top: 20px;
		margin-bottom: 30px;
		.font(@ff, 30px, 1.2, normal, 700);
		color: @article-1;

		@media (max-width: 767px) {
			margin-bottom: 20px;
			text-align: center;
			.font(@ff, 24px, 1.2, normal, 700);
		}
	}
	
	h2, h3 {
		margin-bottom: 10px;
		.font(@ff, 24px, 1.2, normal, 400);
		color: @article-1;

		@media (max-width: 767px) {
			text-align: center;
		}

		@media (max-width: 480px) {
			.font(@ff, 20px, 1.2, normal, 400);
		}
	}
	
	p {
		.font(@ff, 16px, 1.5, normal, 400);
		margin-bottom: 30px;

		@media (max-width: 480px) {
			.font(@ff, 14px, 1.5, normal, 400);
		}
	}
	
	ul {
		margin-top: -5px;
		
		@media (max-width: 767px) {
			margin-top: 0;
		}
		
		li {
			position: relative;
			padding-left: 15px;
			.font(@ff, 16px, 2.15, normal, 400);

			@media (max-width: 767px) {
				.font(@ff, 15px, 1.8, normal, 400);
			}
			
			&::before {
				content: "";
				position: absolute;
				top: 16px;
				left: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: @article-2;
				
				@media (max-width: 767px) {
					top: 12px;
				}
			}
		}
	}
	
	&__container {
		.container();
	}
	
	&__content-block-1 {
		width: @col-12;
		margin: 0;
		border-top: 1px solid @article-7;
	}
	
	&__title {
		margin-top: 20px;
		margin-bottom: 30px;
		.font(@ff, 30px, 1.2, normal, 700);
		color: @article-1;
		
		@media (max-width: 767px) {
			margin-bottom: 20px;
			text-align: center;
			.font(@ff, 24px, 1.2, normal, 700);
		}
	}
	
	&__subtitle {
		margin-bottom: 10px;
		.font(@ff, 24px, 1.2, normal, 400);
		color: @article-1;
		
		@media (max-width: 767px) {
			text-align: center;
		}
		
		@media (max-width: 480px) {
			.font(@ff, 20px, 1.2, normal, 400);
		}
	}
	
	&__block-left {
		padding-top: 25px;
	}
	
	&__date {
		margin-bottom: 23px;
		.font(@ff, 12px, 1.5, normal, 400);
		text-align: center;
		color: @article-1;
	}
	
	&__img {
		width: 207px;
		height: 207px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}
	
	&__text-content {
		.font(@ff, 16px, 1.5, normal, 400);
		margin-bottom: 30px;
		
		@media (max-width: 480px) {
			.font(@ff, 14px, 1.5, normal, 400);
		}
	}
	
	&__spec-block {
		margin-top: 10px;
		margin-bottom: 15px;
		padding-top: 30px;
		padding-bottom: 25px;
		padding-left: @col-1 + 2.7%;
		background-color: @article-3;
		
		@media (max-width: 767px) {
			padding-top: 20px;
			padding-bottom: 15px;
			padding-left: 0;
		}
	}
	
	&__spec-content {
		.container();
		position: relative;
		.font(Times New Roman, 25px, 34px);
		color: @article-1;
		
		@media (max-width: 767px) {
			.font(Times New Roman, 20px, 1.4);
			text-align: center;
		}
	}
	
	&__spec-content::before {
		content: "";
		position: absolute;
		z-index: 5;
		left: -95px;
		
		@media (max-width: 767px) {
			display: none;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			left: -55px;
		}
		
		@media (min-width: 992px) and (max-width: 1199px) {
			left: -75px;
		}
	}
	
	&__quote-text::before {
		content: "”";
		top: 0;
		.font(@ff,164px,0.9);
	}
	
	&__repercussion {
		margin-bottom: 23px;
	}
	
	&__symptomatology &__list {
		margin-bottom: 45px;
		
		@media (max-width: 767px) {
			margin-bottom: 35px;
		}
	}
	
	&__attention {
		margin-bottom: 33px;
	}
	
	&__attention-text::before {
		top: 15%;
		width: 57px;
		height: 57px;
		background: url(pics/motherhood-article/attention.png) 0 0 no-repeat;
		background-size: 57px 57px;
	}
	
	&__block-left-2 {
		padding-top: 52px;
		
		@media (max-width: 767px) {
			padding-top: 0;
		}
	}
	
	&__causes {
		margin-top: 35px;
		margin-bottom: 45px;
		
		@media (max-width: 767px) {
			margin-bottom: 35px;
		}
	}
	
	&__sources {
		margin-top: 40px;
		margin-bottom: 45px;
		
		@media (max-width: 767px) {
			margin-top: 30px;
			margin-bottom: 35px;
		}
		
		a {
			display: block;
			word-break: break-all;
			
			@media (max-width: 767px) {
				margin-bottom: 15px;
			}
		}
	}
	
	&__link {
		text-decoration: underline;
		color: @article-4;
		
		&:hover {
			text-decoration: underline;
			color: lighten(@article-4, 10%);
		}
		
		&:active, &:focus {
			text-decoration: underline;
			color: lighten(@article-4, 20%);
		}
	}
	
	&__content-block-2 {
		width: @col-12;
		margin: 0;
		border-bottom: 1px solid @article-7;
	}
	
	&__content-bottom {
		height: 600px;
		background: url(pics/motherhood-article/motherhood-article-wp.png) top center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	
	&__tags {
		padding-top: 26px;
		padding-bottom: 40px;
	}
	
	&__tags-item {
		display: inline-block;
		margin-right: 18px;
		padding: 3px 30px;
		border-radius: 30px;
		.font(@ff, 16px, 24px);
		background-color: @article-5;
		color: @article-6;
		
		@media (max-width: 767px) {
			margin-bottom: 5px;
		}
	}
	
	&__social-wrap {
		padding: 13px 0;
		background-color: rgba(199,220,241,0.3);
	}
}