.bolezn{
  .title(bolezn, #8eae05, #c1d376);

  &__container{
    position: relative;
    min-height: 560px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    background-image: url(pics/diabet-osnovnaya/bolezn-bg.jpg);
    background-repeat:no-repeat;
    background-position: left;
    background-size: cover;

    @media(min-width: 768px){
      background-size: inherit;
      &:after {
        display: none;
      }
    }
  }

  &__list{
    max-width: 650px;
    width: 100%;
    @media(min-width: 768px){
      padding-left: 100px;
    }
  }

  &__item{
    margin-bottom: 35px;
    display: block;
  }

  &__link{
    position: relative;
    display: block;
    padding-left: 20px;
    font-size: 18px;
    color: #868686;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      margin: auto;
      border-style: solid;
      border-width: 7px 0 7px 9px;
      border-color: transparent transparent transparent transparent;
    }
    &:hover{
      font-weight: bold;
      color: #687c15;
      text-decoration: underline;
      &:before{
        border-color: transparent transparent transparent #687c15;
      }
    }
  }


}