.diabet{
  .title(diabet, #92ae8d, #d3e3d0);

  &__wrapper{
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: url(pics/diabet-osnovnaya/bg-block-diabet.jpg);
    background-repeat:no-repeat;
    background-position: left;
  }

  &__content{
    text-align: center;
  }

  &__item{
    display: inline-block;
    max-width: 280px;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    &_pic{
      position: relative;
      width: 100%;
      height: 270px;
      margin-bottom: 20px;
      overflow: hidden;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
      @media(min-width: 768px){
        height: 290px;
        margin-bottom: 35px;
      }
    }

    &_title{
      font-size: 20px;
      color: #1c5372;
      transition: all 0.15s ease-in;
    }
    @media(min-width: 768px){
      max-width: 300px;
      margin-bottom: 0;
    }
    @media(min-width: 1024px){
      max-width: 320px;
      margin-right: 80px;
      margin-left: 80px;
    }

    &:hover{
      .diabet__item_title{
        color: darken(#1c5372, 10%);
      }
    }

  }
}