.diagnostic{
  .title(diagnostic, #9db035, #c8d390);
  position: relative;
  @media(min-width: 1024px){
    background-image: url(pics/diabet-osnovnaya/diagnostic_bg.jpg);
    background-repeat:no-repeat;
    background-position: right 110px;
  }
  &:before{
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  padding-bottom: 50px;
  &__content{
    padding-top: 60px;
    padding-bottom: 10px;

    @media(min-width: 992px){
      padding-top: 100px;
      padding-bottom: 130px;
    }
  }
  &__list{
    padding-left: 25px;
    &-item{
      margin-bottom: 25px;
    }
    &-title{
      position: relative;
      margin-bottom: 15px;
      padding-left: 5px;
      font-size: 18px;
      color: #005d91;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -22px;
        margin: auto;
        display: block;
        width: 15px;
        height: 15px;
        background-color: #005d91;
      }
      @media(min-width: 768px){
        padding-left: 20px;
        font-size: 22px;
      }
    }
  }
  &__subList {
    &-item {
      margin-bottom: 5px;
      padding-left: 5px;
      font-size: 14px;
      color: #7b7b7b;
      @media(min-width: 768px){
        padding-left: 20px;
      }
    }
  }
  .row{
    margin-right: -15px;
    margin-left: -15px;
  }
}

.diag-form__input-group{
  max-width: 560px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  @media(min-width: 992px){
    margin: inherit;
    padding-right: 15px;
  }

}
