.lechenie{
  .title(lechenie, #b69c97, #d7c9c6);
  &__slider{

    &-title{
      width: 100%;
      background-color: rgba(102,171,219, 0.7);
      transition: all .15s;

      a{
        display: block;
        color: #fff;
        text-align: center;
        font-size: 22px;
        transform: initial;
        @media(min-width: 480px){
          font-size: 30px;
        }
        @media(min-width: 768px){
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left: 30px;
          font-size: 36px;
        }
        @media(min-width: 992px){
          font-size: 48px;
          text-align: left;
        }
      }
      @media(min-width: 992px){
        max-width: 830px;
      }

      &:hover{
        background-color: rgba(102,171,219, 1);
      }


    }

  }

  .link-arrow{
    margin-top: 30px;
  }
  .slick-arrow.slick-next {
    right: 15px;
    cursor: pointer;
    @media(min-width: 768px){
      right: 25px;
    }
  }
  .slick-arrow.slick-prev {
    left: 15px;
    cursor: pointer;
    @media(min-width: 768px){
      left: 25px;
    }
  }
}
