.pulse{
  .title(pulse, #d06925, #e5ad87);

  &__btn{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    transform: none;
    display: block;
    padding: 10px 70px 10px 30px;
    margin: 0 auto 50px auto;
    max-width: 420px;
    border:1px solid #336799;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 24px;
    color: #336799;
  }
  &__select{
    &-text{

    }
    &-caret{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 30px;
      margin: auto;
      border-top: 10px dashed;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;

    }
  }

  &__content{
    padding-top: 50px;
  }

  &__item{
    display: block;
    max-width:420px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 20px;
    &-pic{
      position: relative;
      display: block;
      width: 100%;
      height: 260px;
      margin-bottom: 20px;
      overflow: hidden;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
    }
    &-title{
      font-size: 18px;
      font-weight: normal;
      line-height: 24px;
      color: #808080;
    }

    &:last-child{
      @media(min-width: 768px){

        margin: 0 0 20px 25%;
      }
      @media(min-width: 992px){
        margin: 0 auto 20px;
      }
    }

    @media(min-width: 768px){
      max-width: inherit;
    }
  }

  .link-arrow{
    margin-top: 40px;
  }
}