.news-feed {
	font-family: CenturyGothic;
	h2 {
		color: #394450;
		font-size: 26px;
		margin: 20px 0;
	}
	.page-header.incident-header {
		.header__m(#c6687c, transparent);
		margin-bottom: 10px;
	}
	.page-header.event-header {
		.header__m(#90cbe7, transparent);
		margin-bottom: 10px;
	}
	.page-header.gov-header {
		.header__m(#afbe59, transparent);
		margin-bottom: 10px;
	}
	.page-header.worldnews-header {
		.header__m(#ddd61a, transparent);
		margin-bottom: 10px;
		color: #000;
	}
	.page-header.science-header {
		.header__m(#8dd8d6, transparent);
		margin-bottom: 10px;
	}
	&__list {
		font-size: 16px;
		margin-top: 70px;
	}
	&__listnews {
		display: table;
		margin-bottom: 25px;
		color: #686868;
		&:hover {
			text-decoration: none;
			color: #686868;
		}
	}
	.img &__listimg,
	.img &__listtext {
		display: table-cell; 
		vertical-align: middle; 
		font-size: 16px;
	}
	&__listdate {
		width: 70px;
	}
	&__listdate,
	&__listtext {
		font-size: 12px;
		display: table-cell; 
		vertical-align: top; 
	}
	&__listtext {
		padding-left: 20px;
		font-size: 14px;
	}
	&__allnews {
		padding-right: 55px;
		margin-bottom: 50px;
		.slidetext {
			color: #fff;
			font-family: CenturyGothic;
			position: absolute;
			z-index: 10;
		}	
		&.incident {
			.slidetext {
				left: 40px;
				top: 60px;
				b {
					font-size: 36px;
				}
				span {
					font-size: 20px;
				}
			}
		}
		&.event {
			.slidetext {
				right: 0;
				top: 50px;
				span {
					display: block;
					width: 400px;
					background: rgba(204, 148, 123, .65);
					color: #fff;
					font-size: 36px;
					padding: 2px 20px;
					margin-bottom: 10px;
				}
			}
		}
		&.gov {
			.slidetext {
				right: 40px;
				bottom:40px;
				text-align: right;			
				span {
					display: inline-block;
					background: rgba(175, 190, 89, 1);
					color: #fff;
					font-size: 36px;
					padding: 0 20px;
					&.opacity {
						background: rgba(175, 190, 89, .65);
					}
					&.margin {
						margin-right: 20px;
					}
					&.small {
						font-size: 28px;
					}
				}
			}
		}
		&.worldnews {
			.slidetext {
				right: 0;
				bottom: 40px;
				span {
					display: block;
					width: 480px;
					padding: 5px 35px;
					text-align: left;
					margin-bottom: 10px;
					color: #3c3530;	
					background: rgba(221, 214, 26, .40);
					font-size: 26px;
					line-height: 1;
					&.heading {
						font-size: 36px;
						background: rgba(221, 214, 26, .60);
					}
				}
			}
		}
		&.science {
			.slidetext {
				right: 0;
				bottom: 40px;
				span {
					display: block;
					color: #fff;
					width: 540px;
					padding: 0 100px;
					text-align: left;
					margin-bottom: 10px;
					background: rgba(88, 84, 72, .65);
					font-size: 46px;
					&.heading {
						padding: 5px 100px;
						font-size: 30px;
						background: rgba(140, 134, 119, .65);
					}
				}
			}
		}
	}
}
@media (max-width:991px) {
	.news-feed {
		&__allnews {
			padding: 0;
		}
		&__list {
			margin-top: 20px;
		}
	}
	.page-content .news-feed .page-header.inner-header {
		margin-right: 0;
	}
}