.news-biglist {
	font-family: CenturyGothic;
	font-size: 14px;
	color: #848484;
	margin-top: 70px;
	padding-right: 55px;

	&__el {
		display: block;
		margin-bottom: 35px;
		color: #333;
		.transition;
		
		
		&:not(:last-of-type) {
			@media (max-width: 767px) {
				margin-bottom: 60px;
			}
		}
		
		&:hover, &:focus {
			opacity: 0.8;
		}
	}

	&__title {
		color: #333;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&__desc {
		margin-top: 20px;
	}
	&__img {
		@media (max-width:767px) {
			margin-bottom: 20px;
		}
		
		img {
			margin: 0 auto;
		}
	}
}
@media (max-width:991px) {
	.news-biglist {
		padding-right: 0;
	}
}