.blocks {
	&__interview{
		padding: 0 4px 0 0;
	}
	&__right {
		padding: 0;
		
		&_longevity {
			position: relative;
			height: 732px;
			padding-right: 70px;
			background: url(pics/longevity/secrets-longevity-wp.jpg) bottom center no-repeat;
			background-size: contain;
			
			@media (max-width: 991px) {
				height: auto;
				padding: 0;
				background: none;
			}
		}
	}
	
	&__right-content {
		position: absolute;
		.center;
		width: @col-9;
		padding-left: 270px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			padding-left: 0;
		}
		
		@media (max-width: 991px) {
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			width: @col-12;
			padding: 50px 15px;
		}
		
		&::before {
			.before(50%,0,180px,180px);
			transform: translateY(-50%);
			background: url(pics/longevity/secrets-longevity-dec.png) 0 0 no-repeat;
			background-size: 180px 180px;
			
			@media (max-width: 1199px) {
				display: none;
			}
		}
	}
	
	&__right-text-content {
		
		div {
			.font(@ff,1.5rem);
			color: #363636;
			
			@media (min-width: 768px) and (max-width: 991px) {
				max-width: 500px;
				margin: 0 auto;
				.font(@ff,1.3rem);
				text-align: center;
			}
			
			@media (max-width: 767px) {
				max-width: 400px;
				margin: 0 auto;
				.font(@ff,0.9rem);
				text-align: center;
			}
		}
	}
}