.doctor-month {
	
	padding: 0;
	padding-right: 4px;
	
	@media (max-width: 991px) {
		padding-right: 0;
	}
	
	&__wrap {
		min-height: 705px;
		padding: 32px 0;
		background: url(pics/index/doctor-month-wp.jpg) 0 0 repeat;
		background-size: cover;
		
		@media (max-width: 767px) {
			background: url(pics/index/doctor-month-wp.jpg) top center repeat;
		}
	}
	
	&__content {
		width: 270px;
		margin: 0 auto;
	}
	
	&__img-wrap {
		margin-bottom: 20px;
	}
	
	&__img {
		width: @col-12;
		max-width: 250px;
		max-height: 250px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}
	
	&__title {
		text-align: center;
		
		h4 {
			.font(@h,2.5rem,1.1);
			color: @index-12;
			
			span {
				display: block;
				text-transform: uppercase;
			}
		}
		
		p {
			margin-bottom: 30px;
			.font(@h,1.3rem,1);
			color: @index-12;
		}
	}
	
	&__text-content {
		
		h3 {
			margin-bottom: 10px;
			.font(@h,3.2rem,1);
			color: @index-12;
		}
		
		table {
			margin-bottom: 30px;
		}
		
		table > tbody > tr > td:first-of-type {
			padding-right: 20px;
			.font(@h,1.2rem,1.1);
			color: @index-12;
		}
		
		table > tbody > tr > td:last-of-type {
			.font(@h,1.2rem,1.1);
			color: @index-13;
		}
		
		a {
			padding: 3px 20px;
			padding-bottom: 7px;
			.font(@h,1.5rem);
			color: @index-1;
			border: 1px solid @index-1;
			.transition;
			
			&:hover, &:focus {
				background-color: @index-1;
				color: @white;
			}
		}
	}
}