.index-articles {

  padding-bottom: 95px;

  &__container {
    .container;
  }

  &__title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 30px;
    .font(@ff, 2.5rem);
    text-align: center;
    color: #125497;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__title-wrap {
    margin-bottom: 45px;
    text-align: center;
  }

  &__items {
    @media (max-width: 767px) {
      max-width: 414px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    width: 135px;
    padding: 10px;
    font-size: 16px;
    transition: .4s;
    &:active,&:focus{
      outline: none;
    }
    a{
      &:active,&:focus{
        outline: none;
      }
    }

    &__img-wrap {
      width: @col-12;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: 0 10px 10px;
      padding: 10px 25px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #ffffff;

      h3 {
        .font(@mp, 1.2rem);
        color: @white;
      }

      time {
        display: block;
        .font(@mp, 0.9rem, 1.5, italic);
        margin-bottom: 6px;
        color: @white;
      }

      p {
        display: block;
        .font(@mp, 0.9rem);
        color: @white;
      }

      & > a {
        display: none;
      }
    }

    &.subcenter-slide {
      width: @col-2;
      padding-top: 140px;

      .index-articles__item__img-wrap {
        width: 185px;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      .index-articles__item-content {
        padding: 0 10px;
        display: block;
        opacity: 1;

        h3 {
          .font(@mp, 1.1rem, 1.2, normal, bold);
          color: #383838;
        }

        time {
          .font(@mp, 0.9rem, 1.2, italic);
          color: #7b7b7b;
        }

        p {
          display: none;
        }

        & > a {
          display: block;
          .font(@mp, 1rem, 1.2, normal, bold);
          text-decoration: underline;
          color: #125497;
        }
      }
    }
  }

  &__img {
    width: @col-12;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.slick-dots {
  text-align: center;
  font-size: 0;
  li {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    vertical-align: middle;
    background-color: #125497;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    &.slick-active {
      button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 10px;
        height: 10px;
        margin: auto;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-color: #fff;
        transition: all .225s;
      }
    }
  }
}

.slick-arrow {

  display: block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 0;
  background-image: url(pics/zhkt-osnovnaya/icon-region-map-enter.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  transform: scaleX(1);
  &.slick-prev {
    left: -30px;
    transform: scaleX(-1);
  }
  &.slick-next {
    right: -30px;
  }
  @media (max-width: 480px) {

    display: none !important;
  }

}
