.individual-plan {
	margin-bottom: 4px;
	padding-top: 45px;
	padding-bottom: 1px;
	background: url(pics/index/individual-plan-wp.jpg) top center no-repeat;
	background-size: cover;
	@media (max-width: 767px) {
		background: url(pics/index/individual-plan-wp-mob.jpg) top center repeat;
	}
	&__container {
		.container;
		margin-bottom: 50px;
	}
	&__title {
		margin-bottom: 40px;
		h2 {
			.font(@ff,1.9rem,1);
			text-align: center;
			color: @white;
			@media (max-width: 480px) {
				margin-bottom: 10px;
				color: darken(#c2def6,30%);
			}
		}
		p {
			.font(@ff,1.2rem,1);
			text-align: center;
			color: @white;
			opacity: 0.6;
			
			@media (max-width: 767px) {
				opacity: 1;
			}
			
			@media (max-width: 480px) {
				color: darken(#c2def6,30%);
				opacity: 1;
			}
		}
	}
	&__input-group{
		width: 95%;
		max-width: 610px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		@media (max-width: 1199px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	&__button {
		display: block;
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		height: 50px;
		padding: 15px;
		font-size: 1.125rem;
		text-align: center;
		color: #fff;
		background-color: @index-21;
		&:hover{
			background-color: rgba(102, 153, 204, 0.6);
		}
		@media(min-width: 768px){
			max-width: 210px;
			margin: 0;
			float: left;
		}
	}
	/*~~~dropdown settings~~~*/
	.drop {
		width: 100%;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		@media(min-width: 768px){
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;
			float: left;
		}
		&__toggle {
			font-size: 1rem;
			color: #75797d;
			background-color: #fff;
			border-color: rgba(102, 153, 204, 0.6);
		}
		&__items{
			max-height: 200px;
			background-color: white;
			border-color: rgba(102, 153, 204, 0.6);
		}
		&__li{
			&:hover{
				background-color: rgba(102, 153, 204, 0.6);
			}
			&:nth-child(even){
				background-color: rgba(102, 153, 204,.3);
				&:hover{
					background-color: rgba(102, 153, 204, 0.6);
				}
			}
		}
	}
	.baron-all{
		height: 400px;
	}
	.baron-all__track {
		background-color: transparent;
	}
	/*~~~end dropdown settings~~~*/
	&__blocks {
		margin-bottom: 15px;
		@media (max-width: 1199px) {
			margin-bottom: 45px;
		}
	}
	&__block {
		padding: 0;
		padding-right: 40px;
		&:last-of-type {
			padding-right: 0;
			
			@media (min-width: 768px) and (max-width: 1199px) {
				padding-right: 40px;
			}
		}
		@media (max-width: 767px) {
			padding-right: 0;
		}
	}
	&__food-block {
		@media (max-width: 767px) {
			padding-left: 30px;
		}
		h3 {
			.font(@mp,1rem,1.2,normal,bold);
			margin-bottom: 4px;
			padding-left: 35px;
			text-transform: uppercase;
			color: @white;
		}
		ul {
			position: relative;
			margin-bottom: 30px;
			padding: 20px;
			padding-left: 50px;
			list-style: disc;
			background-color: @index-22;
			
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: -26px;
				transform: translateY(-50%);
				background: url(pics/index/sprite.png) 0 0 no-repeat;
				.stitches-sprite(-418px, -5px, 52px, 52px);
			}
		}
		li {
			.font(@mp,1rem,1.2,normal,bold);
			color: @white;
		}
	}
	&__wrap-promo {
		max-width: 450px;
		margin: 0 auto;
		padding-top: 22px;
	}
	&__img-promo, &__img {
		width: @col-12;
	}
	&__next {
		position: relative;
		padding-top: 110px;
		text-align: center;
		
		&::before {
			content: "";
			position: absolute;
			top: 10px;
			left: 50%;
			transform: translateX(-50%);
			background: url(pics/index/sprite.png) 0 0 no-repeat;
			.stitches-sprite(-480px, -5px, 92px, 91px);
		}
		a {
			.font(@mp,0.8rem,1.2,normal,bold);
			color: @white;
		}
	}
	&__article-link {
		&:hover .individual-plan__img-wrap, &:focus .individual-plan__img-wrap {
			opacity: 0.8;
		}
	}
	&__article-item {
		padding: 0 10px;
		
		h3 {
			padding: 15px 10px;
			.font(@mp,1rem,1.4);
			text-align: center;
			background-color: @white;
			color: @index-18;
		}
		@media (max-width: 991px) {
			max-width: 450px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		@media (max-width: 767px) {
			margin-bottom: 30px;
			padding: 0;
		}
	}
	&__img-wrap {
		.transition;
	}
}