.map-russia {
	
//	margin-bottom: 45px;
	padding-bottom: 50px;
	background-color: #f9f9f9;
	
	&__container {
		.container;
	}
	
	&__content {
		padding: 0;
		padding-top: 150px;
		text-align: center;
		
		@media (max-width: 991px) {
			padding-top: 60px;
		}
	}
	
	&__title {
		margin-bottom: 15px;
		.font(@ff,2.5rem);
		text-align: center;
		color: #9e9f9f;
		
		@media (max-width: 480px) {
			.font(@ff,1.5rem);
		}
	}
	
	&__select {
		position: relative;
		display: inline-block;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	&__dropdownbtn {
		display: inline-block;
		min-width: 340px;
		padding: 5px 30px;
		padding-bottom: 7px;
		border-radius: 30px;
		.font(@ff,1.3rem,1.2,normal,bold);
		background-color: #9e9f9f;
		color: @white;
		
		@media (max-width: 480px) {
			width: @col-12;
			min-width: 280px;
			padding: 5px 20px;
			.font(@ff,1.1rem);
		}
	}
	
	&__dropdownmenu {
		width: @col-12;
		margin-top: 6px;
		border-radius: 6px;
		
		li {
			.font(@ff,1.1rem);
			
			@media (max-width: 480px) {
				.font(@ff,1rem);
			}
		}
	}
	
	&__select-caret {
		float: right;
		margin-top: 10px;
		border-width: 11px;
		
		@media (max-width: 480px) {
			margin-top: 8px;
			border-width: 6px;
		}
	}
	
	&__area, &__population{
		position: relative;
		margin-left: 30px;
		margin-bottom: 45px;
		padding-left: 55px;
		text-align: left;
		.font(@ff,1.2rem);
		color: #282828;
		
		@media (max-width: 480px) {
			margin-left: 10px;
			.font(@ff,1rem);
		}
		
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url(pics/index/sprite.png) no-repeat;
		}
	}
	
	&__area {
		&::before {
			.stitches-sprite(-5px, -5px, 28px, 28px);
		}
	}
	
	&__population {
		&::before {
			.stitches-sprite(-720px, -5px, 31px, 37px);
		}
	}
	
	&__value-a {
		display: inline-block;
	}
	
	&__link {
		display: block;
		margin: 0 auto;
		font-size: 0;
		background: url(pics/index/sprite.png) no-repeat;
		.stitches-sprite(-43px, -5px, 54px, 53px);
	}
	
	&__cart {
		height: 600px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-12;
			height: 550px;
		}
		
		@media (max-width: 991px) {
			width: @col-12;
			height: 450px;
		}
		
		@media (max-width: 767px) {
			display: none;
		}
	}
}