.other {
	padding-bottom: 1px;
	margin-bottom: 55px;
	background: url(pics/index/other-wp.jpg) top left no-repeat;
	background-size: cover;
	
	@media (max-width: 767px) {
		background: url(pics/index/other-wp-mob.jpg) top center no-repeat;
		background-size: cover;
	}
	
	@media (max-width: 480px) {
		background: none;
	}
	
	&_inner {
		margin-bottom: 4px;
	}
	
	&__container {
		.container;
	}
	
	&__content {
		position: relative;
		padding-top: 40px;
		margin-bottom: 50px;
	}
	
	&__title {
		position: absolute;
	 	top: 50%;
		left: 0;
		transform: translateY(-60%);
		padding: 0;
		
		h2 {
			display: inline-block;
			margin-bottom: 6px;
			padding-left: 95px;
			padding-right: 40px;
			.font(@ff,3.6rem);
			background-color: rgba(165,164,73,0.7);
			
			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff,2.5rem);
				padding-left: 70px;
				padding-right: 20px;
			}
			
			@media (max-width: 991px) {
				display: block;
				padding: 0 5%;
				.font(@ff,2rem);
			}
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			position: relative;
			top: 30px;
			width: @col-6;
			margin: 0 auto;
			margin-bottom: 40px;
			text-align: center;
		}
		
		@media (max-width: 767px) {
			position: relative;
			top: 30px;
			width: @col-12;
			margin: 0 auto;
			margin-bottom: 0;
			text-align: center;
		}
	}
	
	&__article-item {
		display: inline-block;
		vertical-align: top;
		width: @col-6 - 1%;
		margin-bottom: 25px;
		
		h3 {
			max-width: 170px;
			margin: 0 auto;
			.font(@ff,1.2rem);
			text-align: center;
			color: #3d4c5a;
			
			@media (max-width: 991px) {
				.font(@ff,1rem);
			}
			
			span {
				display: block;
				color: #a4a4a4;
			}
		}
		
		@media (max-width: 480px) {
			display: block;
			width: @col-12;
		}
	}
	
	&__img-wrap {
		position: relative;
		max-width: 170px;
		margin: 0 auto;
		margin-bottom: 40px;
		
		&::before {
			content: "";
			position: absolute;
			z-index: 10;
			bottom: -28px;
			left: 50%;
			transform: translateX(-50%);
			background: url(pics/index/sprite.png) 0 0 no-repeat;
			.stitches-sprite(-654px, -5px, 56px, 56px);
			.transition;
		}
	}
	
	&__img {
		width: @col-12;
		.transition;
	}
	
	&__link {
		&:hover, &:focus {
			
			.other__img {
				opacity: 0.8;
			}
			
			.other__img-wrap::before {
				transform: translate(-50%,10%);
			}
		}
	}
}