.useful-tools {

	position: relative;
	margin-bottom: 4px;
	padding-bottom: 1px;
	padding-top: 60px;
	background: url(pics/index/useful-tools-wp.jpg) top right no-repeat;
	background-size: cover;

	@media (max-width: 767px) {
		height: auto;
		margin-bottom: 0;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	@media (max-width: 480px) {
		padding-top: 0;
		background: none;
	}

	&__container {
		.container;
	}

	&__title {

		margin-bottom: 85px;

		@media (max-width: 767px) {
			margin-bottom: 45px;
		}

		h2 {
			.font(@ff,1.9rem,1);
			text-align: center;
			color: @white;

			@media (max-width: 480px) {
				margin-bottom: 10px;
				color: darken(#c2def6,30%);
			}
		}

		p {
			.font(@ff,1.2rem,1);
			text-align: center;
			color: @white;
			opacity: 0.6;

			@media (max-width: 767px) {
				opacity: 1;
			}

			@media (max-width: 480px) {
				color: darken(#c2def6,30%);
				opacity: 1;
			}
		}
	}

	&__items {
		width: @col-6;
		margin: 0 auto;

		@media (min-width: 992px) and (max-width: 1199px) {
			width: @col-9;
		}

		@media (max-width: 991px) {
			width: @col-12;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: @col-6 - 1%;
		margin-bottom: 80px;

		@media (max-width: 767px) {
			margin-bottom: 30px;
		}

		@media (max-width: 480px) {
			width: @col-12;
			margin-bottom: 50px;
		}
	}

	&__item-link {
		position: relative;
		display: block;
		max-width: 210px;
		margin: 0 auto;
		padding-bottom: 220px;
		.font(@ff,0.9rem);
		text-align: center;
		color: #c2def6;
		.transition;

		@media (max-width: 480px) {
			padding: 10px;
			padding-bottom: 13px;
			border: 1px solid darken(#c2def6,30%);
			.font(@ff,1rem);
			color: darken(#c2def6,30%);
		}

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background: url(pics/index/sprite.png) 0 0 no-repeat;
			.transition;
			@media (max-width: 480px) {
				position: static;
				transform: none;
				display: block;
				margin: auto;
				background-size: auto 123%;
			}
		}

		&:hover {
			color: @white;

			@media (max-width: 480px) {
				background-color: darken(#c2def6,30%);
			}
		}
	}


	&__item-link-1 {

		&::before {
			.stitches-sprite(-761px, -5px, 193px, 192px);
		}

		&:hover::before {
			.stitches-sprite(-964px, -5px, 193px, 192px);
		}
	}

	&__item-link-2 {

		&::before {
			.stitches-sprite(-1167px, -5px, 193px, 192px);
		}

		&:hover::before {
			.stitches-sprite(-1370px, -5px, 193px, 192px);
		}
	}

	&__item-link-3 {

		&::before {
			.stitches-sprite(-1573px, -5px, 193px, 192px);
		}

		&:hover::before {
			.stitches-sprite(-1776px, -5px, 193px, 192px);
		}
	}

	&__item-link-4 {

		&::before {
			.stitches-sprite(-1979px, -5px, 193px, 192px);
		}

		&:hover::before {
			.stitches-sprite(-2182px, -5px, 193px, 192px);
		}
	}




	@media (max-width: 480px) {

		&__item-link-1 {

			&::before {
				.stitches-sprite(34.8%, 0px, 80px, 80px);
			}

			&:hover::before {
				.stitches-sprite(44.1%, 0px, 80px, 80px);
			}
		}

		&__item-link-2 {

			&::before {
				.stitches-sprite(53.5%, 0px, 80px, 80px);
			}

			&:hover::before {
				.stitches-sprite(62.68%, 0px, 80px, 80px);
			}
		}

		&__item-link-3 {

			&::before {
				.stitches-sprite(72%, 0px, 80px, 80px);
			}

			&:hover::before {
				.stitches-sprite(81.3%, 0px, 80px, 80px);
			}
		}

		&__item-link-4 {

			&::before {
				.stitches-sprite(90.5%, 0px, 80px, 80px);
			}

			&:hover::before {
				.stitches-sprite(99.9%, 0px, 80px, 80px);
			}
		}
	}
}