.advices{
  .title(advices, @advices-title-bg-color, @advices-title-bg-after-color);

  &__cont{
    padding: 100px 0;
    background: url(pics/encyclopedia/advices/advices-bg.jpg) no-repeat;
    background-size: cover;
    @media (max-width: 767px){
      background: #f4f9f9;
      padding: 20px 0;
    }
  }
  &__img-cont{
    position: relative;
    overflow: hidden;
    width: 280px;
    height: 280px;
    margin-right: 10%;
    float: right;
    border-radius: 50%;
    @media(max-width: 767px){
      float: none;
      margin: auto;
    }
  }
  &__img{
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    min-width:  290px;
    min-height: 290px;
    .center;

  }

  &__txt-cont{
    font-size: 1.25rem;
    @media (max-width: 767px){
      text-align: center;
    }
  }

  &__surname{
    font-weight: 600;
    color: @advices-surname-color;
  }
  &__name{
    color: @advices-surname-color;
  }

  &__post {
    color: @advices-post-color;
  }
  &__address{
    margin-bottom: 20px;
    color: @advices-post-color;
  }

  &__slogan{
    position: relative;

    margin-bottom: 25px;

    font-size: 1.5rem;
    font-weight: 600;
    color:  @advices-title-bg-color;

  }

  &__quotes{

    position: absolute;
    left: -50px;
    top:-5px;
  }


  &__link{
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.125rem;
    color: @advices-surname-color;
    border: 1px solid @advices-surname-color;
    transition-property: all;
    transition-duration: .5s;
    &:hover{
      color: @white;
      background-color: @advices-title-bg-color;
      border-color: transparent;
    }
  }
}