.all-true{
  margin-bottom: 50px;
  &__img-bg-cont{
    @media(max-width: 991px){
      &:before {
        content: '';
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .3);
      }
    }
  }
  &__txt-cont{
    width: 100%;
    font-size: 2em;
    @media(min-width: 414px){
      min-width: 414px;
    }

    @media (max-width:991px){
      text-align: center;
      margin: 0;
    }

  }

  &__txt{
    padding: 0 10px 10px 10px;
    color: @white;
    font-weight: 300;
    transition-property: background;
    transition-duration: .5s;
    &:hover{
      background-color: @all-true-bg-link-color;
    }
  }

  &__link{
    display: inline-block;

    color: @white;


  }
  &__txt-2{
    background: @all-true-bg-link-color;
    padding: 0 10px 10px 10px;
  }
}