.alphabet {
  margin-bottom: 50px;
  padding:135px 0 35px 0;
  text-align: center;

  background: url(pics/encyclopedia/alphabet/alphabet-bg.jpg) no-repeat;
  background-size: cover;

  @media (max-width: 767px){
    padding:50px 0 35px 0;

    background: url(pics/encyclopedia/alphabet/alphabet-bg-sm.jpg) no-repeat;
    background-size: cover;
  }

  &__ul-char{
    margin-bottom: 65px;
    @media (max-width: 1199px)and(min-width: 768px) {
      width: 80%;
      margin: 0 auto 65px auto;
    }

    @media (max-width: 767px){
      width: 90%;
      margin: auto;
    }
  }

  &__li {
    display: inline-block;
  }

&__li-char {
  position: relative;
  z-index: 1;
  display: block;
  margin: 4px 0;
  padding: 6px 6px;
  .font(@ff,1.4rem);
  text-decoration: none;
  color: @alphabet-char-color;
  .transition;
  @media(min-width:1441px){
    padding: 6px 9px;
    font-size: 1.7rem;
  }

  &:hover, &:focus {
    color: @white;
    &::before {
      background-color: @alphabet-char-bg-color;
    }
  }

  &::before {
    .before(50%,50%,35px,35px);
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: transparent;
    .transition;
  }
}

  &__chos-char-circle{
    position: relative;
    width: 87px;
    height: 87px;
    background: @alphabet-bg-circle-color;
    border-radius: 50%;
  }

  &__chos-char-cont{

    position: relative;

    display: inline-block;
    height: 87px;
    margin: auto;

    .font(@ff,2.4rem);
    color:@alphabet-font-color;

  }

  &__chos-char-txt{
    position: relative;
    .vertical-center;
    display: inline-block;
    float: left;

    @media (max-width: 767px){
      position: static;
      display: block;
      transform: none;
      float: none;
    }
  }

  &__chos-char-circle{
    display: inline-block;
    margin-left: 20px;
    float: left;

    @media (max-width: 767px){
     float: none;
      margin: auto;
    }
  }

 &__chos-char{
   position: absolute;
   .center;

   color: @white;

 }

  &__cancel-link{
    color: @alphabet-bg-circle-color;
      &:hover{
        text-decoration: underline;
      }
  }

}