
.diam-list {

  @media (max-width: 991px) {
    padding-bottom: 20px;

    &__cont-1:before, &__cont-2:before, &__cont-3:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  &__cont-1, &__cont-2, &__cont-3 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__cont-1 {
    padding-bottom: 70px;
    @media (max-width: 991px) {
      padding-bottom: 0;
    }
    &._anatomy {
      background-image: url(pics/encyclopedia/anatomy/first/anatomy-bg-1.jpg);
    }
    &._analyzes {
      background-image: url(pics/encyclopedia/analyzes/first/analyzes-bg-1.jpg);
      background-size: auto 100%;
      background-position: right bottom;
    }

    @media (max-width: 991px) {
      height: auto;
      background-size: auto 100%;
    }
  }

  &__cont-2 {
    z-index: 2;
    &._anatomy {
      background-image: url(pics/encyclopedia/anatomy/second/anatomy-bg-2.jpg);
    }
    &._analyzes {
      background-image: url(pics/encyclopedia/analyzes/second/analyzes-bg-2.jpg);
      background-position: center;
    }
  }
  &__cont-3 {
    &._anatomy {
      background-image: url(pics/encyclopedia/anatomy/third/anatomy-bg-3.jpg);
    }
    &._analyzes {
      background-image: url(pics/encyclopedia/analyzes/third/analyzes-bg-3.jpg);
    }
  }

  &__ul {
    position: relative;
    max-width: 40%;
    padding: 50px 0;
    font-size: 1.6rem;
    @media (max-width: 1199px)and(min-width: 992px) {
      max-width: 50%;
    }
    @media (max-width: 991px) {
      max-width: 90%;
      margin: auto;
      text-align: center;
      padding: 20px 0;
    }

    &._left {
      @media (min-width: 1441px) {
        left: 25%;
      }
      left: 10%;

      @media (max-width: 1199px)and(min-width: 992px) {
        left: 5%;
      }
      @media (max-width: 991px) {
        left: 0;
      }
    }
    &._right {
      left: 60%;
      @media (max-width: 1199px)and(min-width: 992px) {
        left: 50%;
      }
      @media (max-width: 991px) {
        left: 0;
      }
    }
    &._last {
      padding: 70px 0;
      @media (max-width: 991px) {
        padding: 20px 0;
      }
    }
  }

  &__li {
    margin-bottom: 13px;
  }

  &__link {

    color: @anatomy-font-color;
    border-bottom: 1px solid;
    .trans-bor-col;
    &:hover {
      border-bottom-color: @anatomy-font-color;
    }
    @media (max-width: 991px) {
      font-size: 20px;
    }
  }

  &__diam-1 {
    left: 45%;
    top: 0;
  }

  &__anatomy-pic-1 {
    background-image: url(pics/encyclopedia/anatomy/first/pic-1.jpg);
  }
  &__anatomy-pic-2 {
    background-image: url(pics/encyclopedia/anatomy/first/pic-2.jpg);
  }
  &__anatomy-pic-3 {
    background-image: url(pics/encyclopedia/anatomy/first/pic-3.jpg);
  }

  &__analyzes-pic-1 {
    background-image: url(pics/encyclopedia/analyzes/first/pic-1.jpg);
  }
  &__analyzes-pic-2 {
    background-image: url(pics/encyclopedia/analyzes/first/pic-2.jpg);
  }
  &__analyzes-pic-3 {
    background-image: url(pics/encyclopedia/analyzes/first/pic-3.jpg);
  }

  &__diam-2 {
    @media (min-width: 1441px) {
      left: 8%;
    }
    left: 8%;
    top: 0;
    @media (max-width: 1440px)and(min-width: 1200px) {
      left: -4%;
      top: 0;
    }
    @media (max-width: 1199px)and(min-width: 992px) {
      left: -25%;
      top: 0;
    }
  }

  &__anatomy-pic-4 {
    background-image: url(pics/encyclopedia/anatomy/second/pic-1.jpg);
  }
  &__anatomy-pic-5 {
    background-image: url(pics/encyclopedia/anatomy/second/pic-2.jpg);
  }
  &__anatomy-pic-6 {
    background-image: url(pics/encyclopedia/anatomy/second/pic-3.jpg);
  }

  &__analyzes-pic-4 {
    background-image: url(pics/encyclopedia/analyzes/second/pic-1.jpg);
  }
  &__analyzes-pic-5 {
    background-image: url(pics/encyclopedia/analyzes/second/pic-2.jpg);
  }
  &__analyzes-pic-6 {
    background-image: url(pics/encyclopedia/analyzes/second/pic-3.jpg);
  }

  &__diam-3 {
    left: 50%;
    top: 10%;
  }

  &__anatomy-pic-7 {
    background-image: url(pics/encyclopedia/anatomy/third/pic-1.jpg);
  }
  &__anatomy-pic-8 {
    background-image: url(pics/encyclopedia/anatomy/third/pic-2.jpg);
  }
  &__anatomy-pic-9 {
    background-image: url(pics/encyclopedia/anatomy/third/pic-3.jpg);
  }

  &__analyzes-pic-7 {
    background-image: url(pics/encyclopedia/analyzes/third/pic-1.jpg);
  }
  &__analyzes-pic-8 {
    background-image: url(pics/encyclopedia/analyzes/third/pic-2.jpg);
  }
  &__analyzes-pic-9 {
    background-image: url(pics/encyclopedia/analyzes/third/pic-3.jpg);
  }

  .paginator {
    position: relative;
    z-index: 20;
  }
}