.dis-list{
  position: relative;
  width: 100%;
  padding-bottom: 15px;
  overflow: hidden;
  .link-arrow{
    margin-top: 20px;
  }
  &__cont{
    position: relative;
    min-height: 200px;
    padding: 0 5% 0 10%;
    margin-bottom: 60px;
    padding-bottom: 60px;


    &_col-1{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-1);}
    &_col-2{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-2);}
    &_col-3{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-3);}
    &_col-4{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-4);}
    &_col-5{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-5);}
    &_col-6{background: linear-gradient(to bottom, @white,  @dis-list-bg-end-color-6);}

    h2{
      font-size: 2rem;
      color: @dis-list-font-color;
    }
    p{
      font-size: 1.1rem;
      color: @dis-list-font-color;
    }
    &._last{
      margin-bottom: 100px;
    }
    @media (max-width: 991px){
      padding-bottom: 10px;
      h2{
        text-align: center;
        line-height: 30px;
        font-size: 1.7rem;
      }
      p{
        text-align: justify;
        font-size: 1rem;
      }
    }
  }

  &__more-cont{
    position: absolute;
    left: 43%;
    bottom: -90px;
    z-index: 5;
    width: 80%;
    height: 90px;
    overflow: hidden;

    &:before{
      content: '';
      position: absolute;
      left: 50%;
      top:-24px;
      transform: translate(-50%, 0);
      width: 90%;
      height: 20px;
      border-radius: 50%;
      box-shadow: 0 10px 5px 0 rgba(0,0,0,.75);
      @media (max-width: 767px){
        width: 110%;
      }
    }
    @media (max-width: 991px)and(min-width:768px){
      left: 25%;
      width: 90%;
    }

    @media (max-width: 767px){
      left: 0;
      width: 100%;
    }

  }

  &__shadow{
    position: absolute;
    height: 70px;
    width: 175px;
    left: 50%;
    top: -11px;
    box-shadow: -3px 8px 9px 0 rgba(0,0,0,.75);
    transform: translate(-50%,0) rotate(-2deg);



    &:after,&:before{
      content: '';
      position: absolute;
      z-index: -1;
      display: block;

      height: 80px;
      width: 80px;


    }

    &:before{
      left: -25px;
      top:-25px;
      transform: rotate(62deg);
      box-shadow: -5px -1px 10px 7px rgba(0,0,0,.75);

    }

    &:after{
      right: -26px;
      top:-19px;

      transform: rotate(-58deg);

    }

  }

  &__more{
    position: absolute;
    width: 175px;
    height: 70px;
    top: -8px;
    .horizontal-center;
    display: block;
    padding-top: 20px;

    text-align: center;
    font-size: 1.25rem;
    color: @dis-list-font-color;

    &:hover{
      color:@diseases-list-bg-link-color;
    }


  }

  &__shadow_col-1, &__shadow_col-1:before,&__shadow_col-1:after, &__more_col-1{background: @dis-list-bg-end-color-1;}
  &__shadow_col-2, &__shadow_col-2:before,&__shadow_col-2:after, &__more_col-2{background: @dis-list-bg-end-color-2;}
  &__shadow_col-3, &__shadow_col-3:before,&__shadow_col-3:after, &__more_col-3{background: @dis-list-bg-end-color-3;}
  &__shadow_col-4, &__shadow_col-4:before,&__shadow_col-4:after, &__more_col-4{background: @dis-list-bg-end-color-4;}
  &__shadow_col-5, &__shadow_col-5:before,&__shadow_col-5:after, &__more_col-5{background: @dis-list-bg-end-color-5;}
  &__shadow_col-6, &__shadow_col-6:before,&__shadow_col-6:after, &__more_col-6{background: @dis-list-bg-end-color-6;}

}