.diseases-list-nav{
  margin-bottom: 100px;
  @media (max-width:991px){
    margin-bottom: 0;
  }
  &__char{
    display: inline-block;
    margin-left: 10%;
    font-size: 4.5rem;
    line-height: 55px;
    color:@diseases-list-bg-link-color;
    @media (max-width: 1199px)and(min-width:992px){
      margin-left: 5%;
    }

    @media (max-width:767px){
      display: block;
      text-align: center;
      margin-bottom: 15px;
      margin-left: 0;
    }
  }
  &__ul-links{
    float: right;
    padding-right: 100px;
    @media (max-width: 1199px){
      padding-right: 0;
    }
    @media (max-width:767px){
      float: none;
    }
  }
  &__li{
    float: left;
    margin: 0 30px;

    @media (max-width: 1199px)and(min-width:768px){
      margin: 0 10px;
    }
    @media (max-width:767px){
      width: 80%;
      float: none;
      margin: 5px auto;

      text-align: center;
    }
  }


  &__link{
    display: block;
    padding: 5px 15px 10px 15px;

    font-size: 1.5rem;
    color: @diseases-link-font-color;

    border: 1px solid @diseases-list-bg-link-color;
    border-radius: 25px;

    &:hover, &._active {
      color: @white;
      background:@diseases-list-bg-link-color;
    }

    @media (max-width: 991px){
      font-size: 1.2rem;
    }
  }
}

