.med-sec {
  .title(med-sec, @med-sec-title-bg-color, @med-sec-title-bg-after-color);

  &__cont{
    background: url(pics/encyclopedia/med-sec/med-sec-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &__list-cont{
    position: relative;
    left: 10%;
    display: inline-block;
    margin-top: 65px;
    padding-bottom: 100px;
    @media (max-width: 991px){
      padding-bottom: 30px;
    }
  }

  &__ul{

    position:relative;


  }
  &__ul:hover .med-sec__ul:after{
    display: block;
  }
  &__li{
    margin-bottom: 65px;
    @media (max-width: 767px){
      margin-bottom: 15px;
    }
  }

  &__link{
    position: relative;
    display: block;
    padding: 5px 10px 10px 10px;
    font-size: 2.2rem;
    color:@med-sec-title-bg-color;

    transition-property: background;
    transition-duration: .5s;


    &:hover , &:active, &._active{
      color: @white;
      background:@med-sec-title-bg-color ;
      &:after{
        display: block;
        @media (max-width: 767px){
          display: none;
        }
      }
    }

    @media (max-width: 991px){
      font-size: 1.6rem;
    }
  }

  &__link:after{
    content: "";
    position: absolute;
    left: 100%;
    .vertical-center;
    display: none;
    width: 15vw;
    height: 2px;

    background-color:@med-sec-title-bg-color;
    @media (max-width: 1199px)and(min-width: 768px) {
      width: 5vw;
    }

  }

  &__ul:before{
    content: "";
    position: absolute;
    right: -15vw;
    .vertical-center;
    width: 2px;
    height: 100%;

    background-color:@med-sec-title-bg-color;

    @media (max-width: 1199px)and(min-width: 768px) {
      right: -5vw;
    }

    @media (max-width: 767px){
      display: none;
    }
  }

  &__desc-cont{
    position: absolute;
    left: 55%;
    .vertical-center;
    display: none;
    width: 40%;

    font-size: 1.6rem;
    @media (max-width: 991px){
      font-size: 1rem;
    }

    @media (max-width: 767px){
      position: static;
      transform: none;
      width: 90%;
      margin: auto;
      padding-bottom: 20px;
      text-align: center;
    }

  }
  .visible{
    display: block;
  }
  &__desc{
    text-align: justify;
    margin-bottom: 20px;
    color: @med-sec-desc-color;
  }
  &__more{
    display: inline-block;
    color: @med-sec-link-color;
    border-bottom: 1px solid transparent;
    .trans-bor-col;
    &:hover{
      border-bottom-color: @med-sec-link-color;
    }
  }
  &__oops{
    position: absolute;
    left: 55%;
    .vertical-center;
    display: none;
    width: 40%;

    font-size: 1.6rem;
  }
  @media (max-width: 992px){
    &__link-arrow{
      margin-bottom: 0;
    }
  }


}