.specialties{
  position: relative;
  overflow: hidden;
  .title(specialties, @specialties-title-bg-color, @specialties-title-bg-after-color);
  &__title{
    z-index: 1;
  }

  &__cont{
    background: url(pics//encyclopedia/specialties/specialties-bg.jpg) no-repeat;
    background-size: cover;
    background-position: right;

    @media (max-width: 991px){
      background: url(pics//encyclopedia/specialties/specialties-bg-md.jpg) no-repeat;
      background-size: cover;
      background-position: right;
    }

  }
  &__list-cont{
    position: relative;
    display: inline-block;
    padding: 100px 0 150px 0;
    left: 30%;
    @media (max-width: 991px)and(min-width:768px){
      left: 40%;
      padding: 20px 0 20px 0;
    }

    @media (max-width: 767px){
      .horizontal-center;
      padding: 130px 0 20px 0;
    }
  }

  &__circle{
    position: absolute;
    left: -200px;
    .vertical-center;
    height: 420px;
    width: 450px;
    padding: 105px 0 0 240px;

    font-size: 176px;
    color: @specialties-font-color;

    background-color: @white;
    border-radius: 50%;
    box-shadow: 10px 10px 24px 1px rgba(0,0,0,0.36);

    @media (max-width: 767px){
      top: -180px;
      .horizontal-center;
      z-index: 0;
      height: 350px;
      width: 320px;
      padding: 210px 0 0 120px;
      font-size: 128px;

      box-shadow: 0 10px 24px 1px rgba(0,0,0,0.36);
    }
  }

  &__ul{
    display: inline-block;
    margin-left: 0;

    @media (max-width: 767px){
      text-align: center;
    }
  }

  &__li{
    margin-bottom: 45px;
  }

  &__link{
    font-size: 1.6rem;
    color: @specialties-font-color;
    border:1px solid transparent;
    .trans-bor-col;

    &:hover{
      border-bottom: 1px solid @specialties-font-color;
    }

  }
}