.breast-feeding {
	
	padding-bottom: 65px;
	
	&__content {
		background: 
		url(pics/birth/breast-feeding-wp.jpg) no-repeat,
		url(pics/birth/breast-feeding-bg.jpg) no-repeat right;
	
		@media (min-width: 768px) and (max-width: 1199px) {
			padding-bottom: 0;
			background: url(pics/birth/breast-feeding-contain.jpg) no-repeat;
			background-position: top left;
			background-size: contain;
		}

		@media (max-width: 767px) {
			padding-bottom: 0;
			background: url(pics/birth/breast-feeding-wp.jpg) no-repeat;
			background-position: top left;
			background-size: contain;
		}
	}
	
	&__container {
		.container();
	}
	
	.title(breast-feeding, @breast-feeding-1, @breast-feeding-2);
	
	&__text-content {
		padding-top: 60px;
		padding-left: 60px;
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-left: 3%;
		}
		
		@media (max-width: 767px) {
			padding: 0;
			padding-top: 80%;
		}
	}
	
	&__list {
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 150px;
		}
		
		@media (min-width: 480px) and (max-width: 991px) {
			margin-bottom: 100px;
		}
		
		@media (max-width: 479px) {
			margin-bottom: 40px;
		}
		
		li {
			margin-bottom: 70px;
			
			@media (min-width: 480px) and (max-width: 991px) {
				margin-bottom: 50px;
			}
			
			@media (max-width: 479px) {
				margin-bottom: 30px;
			}
		}
		
		li > a {
			.font(@ff, 28px, 1.2);
			color: @breast-feeding-1;
			.transition;

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 25px, 1.2);
			}

			@media (min-width: 480px) and (max-width: 991px) {
				.font(@ff, 22px, 1.2);
			}

			@media (max-width: 479px) {
				.font(@ff, 18px, 1.2);
			}

			&:hover {
				text-decoration: underline;
				color: saturate(@breast-feeding-1, 20%);
			}

			&:active, &:focus {
				text-decoration: underline;
				color: saturate(@breast-feeding-1, 30%);
			}
		}
	}
}