.interesting-facts {
	.title(interesting-facts, #46aab5, #99d0d6);
	&__wrapper {
		background: url(pics/birth/caesarian-bg.jpg) top center no-repeat;
		background-size: cover;
	}

	&__img{
		width: 270px;
		height: 270px;
		border: 10px solid #eaf6fa;
		border-radius: 50%;
	}

	&__img-wrap::before {
		content: none;
	}

	&__items{
		margin-bottom: 50px;
	}

	&__item {
		margin-bottom: 0;
		@media (min-width: 1024px) {
			&:nth-child(odd) {
				a {
					&::before {
						left: -35px;
					}
				}
			}

			&:nth-child(even) {
				a {
					&::before {
						right: -35px;
					}
				}
			}
		}
	}

	&__text-content {
		a {
			position: relative;
			.font(@ff, 23px, 1.2);
			color: @caesarian-3;

			@media (max-width: 991px) {
				.font(@ff, 20px, 1.2);
			}

			@media (max-width: 767px) {
				.font(@ff, 18px, 1.2);
			}

			&:hover, &:active, &:focus {
				text-decoration: underline;
				color: darken(@caesarian-3, 20%);
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: @caesarian-3;

				@media (max-width: 1199px) {
					display: none;
				}
			}
		}
	}

}


.caesarian {
	.title(caesarian, @caesarian-1, @caesarian-2);
	&__link {
		margin-bottom: 75px;
	}
}