.delivery-beginning {
	
	padding-bottom: 117px;
	background: url(pics/birth/delivery-beginning-wp.jpg) no-repeat;
	background-position: top 56px left;
	background-size: cover;
	
	@media (min-width: 768px) and (max-width: 1199px) {
		padding-bottom: 40px;
		background: url(pics/birth/delivery-beginning-wp.jpg) no-repeat;
		background-position: top 40px left;
		background-size: contain;
	}
	
	@media (max-width: 767px) {
		padding-bottom: 30px;
		background: url(pics/birth/delivery-beginning-wp-mobile.jpg) no-repeat;
		background-position: top 40px left;
		background-size: contain;
	}
	
	_::-moz-svg-foreign-content, :root & {
		background-position: 0 6%;
	}
	
	&__container {
		.container();
	}
	
	.title(delivery-beginning, @delivery-beginning-1, @delivery-beginning-2);
	
	&__content {
		padding-top: 20px;
	}
	
	&__list {
		padding-top: 5px;
		
		@media (min-width: 992px) and (max-width: 1199px) {
			margin-bottom: 8%;
		}
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 45%;
		}
		
		@media (max-width: 767px) {
			margin-bottom: 60px;
			padding-top: 83%;
		}
		
		li {
			margin-bottom: 45px;
			
			@media (min-width: 481px) and (max-width: 1199px) {
				margin-bottom: 27px;
			}
			
			@media (max-width: 480px) {
				margin-bottom: 25px;
			}
		}
	}
	
	&__list-item {
		color: @delivery-beginning-3;
		
		&:hover > .delivery-beginning__item-title,
		&:active > .delivery-beginning__item-title,
		&:focus > .delivery-beginning__item-title {
			text-decoration: underline;
			color: @delivery-beginning-3;
		}
		
		&:hover > .delivery-beginning__item-content {
			color: lighten(@delivery-beginning-3, 10%);
		}
		
		&:active > .delivery-beginning__item-content,
		&:focus > .delivery-beginning__item-content {
			color: lighten(@delivery-beginning-3, 20%);
		}
		
		h3 {
			.font(@ff, 32px, 1.2);
		
			@media (max-width: 480px) {
				.font(@ff, 24px, 1);
			}
		}
		
		p {
			.font(@ff, 1rem, 1);
			.transition;

			@media (max-width: 480px) {
				.font(@ff, 15px, 1);
			}
		}
	}
	
	&__link {
		margin-top: -7px;
	}
}