.labor-slider {

	&__container {
		.container();
	}

	&__item {
		position: relative;
	}

	&__content {

		@media(min-width: 414px){
			min-width: 400px;
		}
		@media(min-width: 768px){
			width: 700px;
		}

		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: rgba(255,255,255,0.6);
		}

		a:hover > .labor-slider__title {
			text-decoration: underline;
			color: darken(@obstructed-labor-3, 5%);
		}

		a:active > .labor-slider__title,
		a:focus > .labor-slider__title {
			text-decoration: underline;
			color: darken(@obstructed-labor-3, 10%);
		}

		a:hover > .labor-slider__text-content {
			color: darken(@obstructed-labor-4, 10%);
		}

		a:active > .labor-slider__text-content,
		a:focus > .labor-slider__text-content {
			//			outline: none;
			color: darken(@obstructed-labor-4, 20%);
		}

		a > h3 {
			.font(@ff, 52px, 1.2);
			text-transform: uppercase;
			color: @obstructed-labor-3;
			.transition;

			@media (min-width: 1200px) and (max-width: 1350px) {
				.font(@ff, 44px, 1.2);
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 36px, 1.2);
			}

			@media (min-width: 768px) and (max-width: 991px) {
				.font(@ff, 26px, 1.2);
			}

			@media (max-width: 767px) {
				.font(@ff, 26px, 1.2);
				text-align: center;
			}
		}

		a > p {
			.font(@ff, 40px, 1);
			color: @obstructed-labor-4;
			.transition;

			@media (min-width: 1200px) and (max-width: 1350px) {
				.font(@ff, 34px, 1.2);
			}

			@media (min-width: 992px) and (max-width: 1199px) {
				.font(@ff, 26px, 1.2);
			}

			@media (min-width: 768px) and (max-width: 991px) {
				.font(@ff, 20px, 1.2);
			}

			@media (max-width: 767px) {
				.font(@ff, 20px, 1.2);
				text-align: center;
			}
		}
	}

	&__arrow {
		position: absolute;
		top: 45%;
		font-size: 30px;
		color: @obstructed-labor-5;
		text-shadow: none;
	}

	&__arrow-left {
		left: 30px;
	}

	&__arrow-right {
		right: 30px;
	}
}
