.note-slider {

	margin-bottom: 31px;

	&__item {
		position: relative;
	}
	&__content {
		@media(min-width: 414px){
			min-width: 400px;
		}
		@media(min-width: 768px){
			width: 700px;
		}
		@media (max-width: 991px) {
			padding: 20px 15%;
			text-align: center;
			background-color: @note-3;
		}

		@media (max-width: 480px) {
			padding: 10px 15%;
		}
	}

	&__text-item {

		&:hover, &:active, &:focus {
			outline: none;
			color: @white;

			@media (max-width: 991px) {
				color: darken(@note-3, 25%);
			}
		}
	}

	&__text-item-1 {
		display: block;
		width: @col-12;
		margin-bottom: 10px;
		padding: 3px 0;
		padding-left: 60px;
		.font(@ff, 38px, 1.2);
		background-color: @note-3;
		color: @white;

		@media (max-width: 991px) {
			padding: 0 3%;
			.font(@ff, 34px, 1.2);
			text-align: center;
			background-color: transparent;
		}

		@media (max-width: 767px) {
			padding: 0 11%;
			.font(@ff, 26px, 1.2);
		}

		@media (max-width: 480px) {
			.font(@ff, 22px, 1.2);
		}

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}

	&__text-item-2 {
		display: block;
		padding: 5px 0;
		padding-left: 60px;
		.font(@ff, 28px, 1.2);
		background-color: @note-4;
		color: @white;
		@media (min-width: 992px) {
			width: @col-11;
			float: right;
		}
		@media (max-width: 991px) {
			padding: 0 3%;
			.font(@ff, 22px, 1.2);
			text-align: center;
			background-color: transparent;
		}

		@media (max-width: 767px) {
			padding: 0 11%;
			.font(@ff, 18px, 1.2);
		}

		@media (max-width: 480px) {
			.font(@ff, 16px, 1.2);
		}
	}
}