.postpartum{
	.title(frame-grid-float, @postpartum-1, @postpartum-2);
	.frame-grid-float{
		&__item:last-child{
			@media(min-width: 768px)and(max-width: 991px){
				margin-left: 25%;
			}
		}
		&__link{
			max-width: 250px;
			width: 100%;
			&:after{
				top: -13px;
				width: 250px;
				height: 250px;
				padding: 13px;
				background-image: linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
				linear-gradient(to right,  #d5d6d6 8px, transparent 8px),
				linear-gradient(to bottom, #d5d6d6 8px, transparent 8px),
				linear-gradient(to bottom, #d5d6d6 8px, transparent 8px);
				background-size: 100% 100px, 100% 100px, 100px 100%, 100px 100%;
				background-position: -4px -30%, -4px 130%, -30% -4px, 130% -4px;
				background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
			}
			@media(min-width: 1200px){
				max-width: 300px;
				&:after{
					width: 300px;
					height: 300px;
				}
			}
			&:hover{
				&:after{
					background-image: linear-gradient(to right,  #93ccdc 8px, transparent 8px),
					linear-gradient(to right,  #93ccdc 8px, transparent 8px),
					linear-gradient(to bottom, #93ccdc 8px, transparent 8px),
					linear-gradient(to bottom, #93ccdc 8px, transparent 8px);
				}
				.frame-grid-float__desc{
					color: #93ccdc;
				}
			}
		}
		&__pic{
			max-width: 220px;
			height: 220px;
			@media(min-width: 1200px) {
				max-width: 270px;
				height: 270px;
			}
		}
		&__desc{
			color: #4b4b4e;
			font-size: 20px;
		}
	}
}