.preparation {
	
	padding-bottom: 10px;
	background: url(pics/birth/preparation-wp.jpg) no-repeat;
	background-position: top 56px left;
	background-size: cover;
	
	@media (min-width: 992px) and (max-width: 1199px) {
		background: url(pics/birth/preparation-wp.jpg) no-repeat;
		background-position: top 56px left;
		background-size: contain;
	}
	
	@media (min-width: 768px) and (max-width: 991px) {
		background: url(pics/birth/preparation-wp.jpg) no-repeat;
		background-position: top 40px left;
		background-size: contain;
	}
	
	@media (max-width: 767px) {
		background: url(pics/birth/preparation-wp-mobile.jpg) no-repeat;
		background-position: top 40px left;
		background-size: contain;
	}
	
	_::-moz-svg-foreign-content, :root & {
		background-position: 0 6%;
	}
	
	&__container {
		.container();
	}
	
	.title(preparation, @preparation-1, @preparation-2);
	
	&__content {
		padding: 20px 0;
	}
	
	&__block-content {
		padding: 15px 0;
		padding-left: 5%;
		
		@media (min-width: 768px) and (max-width: 991px) {
			padding-top: 40px;
			padding-left: 0;
		}
		
		@media (max-width: 767px) {
			padding-top: 85%;
			padding-left: 0;
		}
		
		p {
			margin-bottom: 20px;
			.font(@ff, 1rem, 1.2);
			color: @preparation-4;

			@media (max-width: 991px) {
				margin-bottom: 30px;
			}
		}
	}
	
	&__list {
		padding-left: 17%;
		
		@media (max-width: 480px) {
			padding-left: 0;
		}
		
		li {
			position: relative;
			padding-top: 47px;
			padding-bottom: 30px;

			@media (max-width: 480px) {
				padding-top: 20px;
				padding-bottom: 15px;
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: -110px;
				transform: translateY(-50%);
				width: 61px;
				height: 64px;
				background: url(pics/birth/preparation-dec.jpg) 0 0 no-repeat;

				@media (max-width: 480px) {
					display: none;
				}

				@media (min-width: 481px) and (max-width: 767px) {
					left: -80px;
				}
			}
		}
		
		li > a {
			.font(@ff, 1.2rem, 1.2, normal, bold);
			text-decoration: underline;
			color: @preparation-3;
			.transition;

			&:hover {
				color: saturate(@preparation-3, 20%);
				text-decoration: underline;
			}

			&:active, &:focus {
				color: saturate(@preparation-3, 30%);
				text-decoration: underline;
			}
		}
	}
}