.exercises {
  .title(exercises, #9ea70a, #cacf78);

  @media (max-width: 767px) {
    margin-top: -40px;
  }

  &__container {
    .container;
  }

  &__content {
    padding-top: 50px;
    background-image: url(pics/sport-2-level/exercises-bg.jpg);
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    padding-bottom: 1px;
    @media (min-width: 1024px) {
      padding-top: 100px;
    }

  }

  &__item {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
    &:before {
      content: '';
      position: absolute;
      top: -135%;
      left: 0;
      bottom: 0;
      right: 0;
      display: none;
      margin: auto;
      background-image: url(pics/sport-2-level/punktir.png);
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      @media (min-width: 1024px) {
        display: block;
        width: 370px;
        height: 190px;
      }
    }

    @media (min-width: 1024px) {
      text-align: inherit;
      margin-bottom: 150px;

      &:first-child {
        &:before {
          display: none;
        }
      }

      &:nth-child(2n - 1) {
        text-align: left;
        &:before {
          transform: scale(-1, 1);
        }

        .exercises__img-wrap {
          &::before {
            left: -14px;
            right: initial;
          }
        }
      }

      &:nth-child(2n) {
        text-align: right;
        .exercises__img-wrap {
          left: 50%;
          &::before {
            right: -14px;
            left: initial;
          }
        }
        .exercises__item-content {
          right: 50%;
          text-align: right;
        }
      }
    }

  }

  &__img-wrap {
    position: relative;
    @media (min-width: 1024px) {
      float: left;
      width: 50%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -14px;
      width: 478px;
      height: 428px;
      .corner(#9ea70a, 82px, 5px);
      @media (max-width: 1023px) {
        left: 0;
        right: 0;
        top: -15px;
        margin: auto;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__img {
    display: inline-block;
    position: relative;
    width: 280px;
    height: 250px;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 450px;
      height: 400px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-height: 150%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__item-content {
    position: relative;
    padding: 0;
    margin-top: 20px;
    @media (min-width: 1024px) {
      float: left;
      width: 50%;
      margin-top: 140px;
    }

    h3 {
      font-size: 25px;
      font-weight: normal;
      color: #504f4f;
      margin-bottom: 15px;
      @media (min-width: 1024px) {
        margin-bottom: 30px;
      }
    }
  }

  &__item-link {
    display: inline-block;
    width: 285px;
    padding: 10px 0;
    .font(@ff, 20px);
    text-align: center;

    @media (max-width: 1199px) {
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      width: 200px;
      .font(@ff, 16px);
    }
  }

  &__link-wrap {
    margin-bottom: 50px;
  }
}