.icons {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: 0;

  @media (min-width: 768px) {
    background-image: url(pics/sport-2-level/icons-bg.jpg);
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  @media (max-width: 767px) {
    padding-bottom: 28px;
    background: none;
  }

  &__container {
    .container;
    position: relative;
    z-index: 2;
  }

  &__content {
    max-width: 992px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 767px) {
      margin-top: -30px;
    }
    @media (min-width: 1024px) {
      margin-left: 25%;
      width: 75%;
      float: left;
    }
  }
  &__list {
    text-align: center;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 40px;
    text-align: left;
    @media (min-width: 768px) {
      width: 33.3333333%;
      text-align: center;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding-left: 70px;
    color: #555453;
    font-size: 18px;
    &::before {
      content: "";
      position: absolute;
      top: -195px;
      left: 50%;
      width: 170px;
      height: 170px;
      background-size: 170px 170px;
      background-position: center;
      transform: translateX(-50%);
      .transition;
      @media (max-width: 767px) {
        top: 0;
        left: 30px;
        bottom: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        background-size: 90px 90px;
      }
    }

    &:hover {
      text-decoration: underline;
      color: darken(#555453, 10%);

      &::before {
        transform: translateX(-50%) translateY(-7px);
      }
    }

    &:active {
      text-decoration: underline;
      color: darken(#555453, 20%);
    }

    @media (min-width: 768px) {
      margin-top: 195px;
      padding-left: 0;
    }

  }

}

.icons {
  &__link-physiotherapy::before {
    background-image: url(pics/svg/svg-sport-2-level/physiotherapy.png);
  }

  &__link-regioni::before {
    background-image: url(pics/svg/svg-sport-2-level/kindsOfSports.png);
  }

  &__link-exercises::before {
    background-image: url(pics/svg/svg-sport-2-level/exercises.png);
  }

  &__link-kindsOfSports::before {
    background-image: url(pics/svg/svg-sport-2-level/kindsOfSports.png);
  }

  &__link-search::before {
    background-image: url(pics/svg/svg-sport-2-level/physiotherapy.png);
  }

}