.kindsOfSports {
  .title(kindsOfSports, #0fa9a0, #79cfcb);
  &__content {
    background-image: url(pics/sport-2-level/kindsOfSports-bg.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 1px;
  }
  .link-arrow {
    margin-bottom: 40px;
  }
  &__list {
    padding: 30px 20px 0;
    @media (min-width: 768px) {
      padding: 60px 70px 0;
    }
    @media (min-width: 1440px) {
      padding: 60px 70px;
    }
  }
  &__item {
    position: relative;
    display: block;
    max-width: 280px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    overflow: hidden;
    @media (min-width: 768px) {
      max-width: 300px;
      height: 300px;
    }
    @media (min-width: 992px) {
      max-width: 420px;
      height: 420px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      min-width: 100%;
      min-height: 100%;
      max-height: 150%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &-wrap {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        float: left;
        width: 50%;
        margin-bottom: 60px;
      }
      @media (min-width: 1441px) {
        width: 25%;
        margin-bottom: 0;
      }
    }
    &-text {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 60px;
      background-color: rgba(42, 96, 90, 0.7);
      color: #fff;
      font-size: 24px;
      text-align: center;
      line-height: 60px;
      z-index: 1;
      transition: background .15s ease-in;
      @media (min-width: 992px) {
        height: 80px;
        line-height: 80px;
        font-size: 30px;
      }
    }
    &:hover {
      .kindsOfSports__item-text {
        background-color: rgba(42, 96, 90, 0.9);
      }
    }
  }
}