.physiotherapy {
  .title(physiotherapy, #e78007, #f2b977);

  &__baner {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    &-link {
      display: block;
      width: 100%;
      padding: 15px 70px 15px 30px;
      background-color: #417dc0;
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      transition: background .15s;
      text-align: left;

      @media (min-width: 414px) {
        min-width: 400px;
        padding: 15px 150px 15px 30px;
      }
      @media (min-width: 600px) {
        padding: 15px 150px 15px 30px;
      }
      @media (min-width: 768px) {
        width: 600px;
        padding: 15px 190px 15px 50px ;
        font-size: 30px;
      }

      @media (min-width: 992px) {
        margin-right: -70px;
      }

      &:after {
        content: '';
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 44px;
        height: 44px;
        background-image: url(pics/svg/svg-sport-2-level/arrow-right.png);
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        @media (min-width: 600px) {
          right: 70px;
        }
        @media (min-width: 768px) {
          width: 88px;
          height: 88px;
        }
      }

      &:hover{
        background-color: lighten(#417dc0, 10%);
      }

    }
  }

  &__content {
    position: relative;
    padding-top: 40px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    background-size: cover;
    &:before {
      content: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.8);
      @media (max-width: 1024px) {
        content: '';
      }
    }
    @media (min-width: 768px) {
      padding-top: 90px;
      background-image: url(pics/sport-2-level/physiotherapy-bg.jpg);
    }
  }

  &__list {
    position: relative;
    padding-left: 15px;

    @media (min-width: 768px) {
      width: 650px;
      padding-left: 60px;
      margin-bottom: 50px;
    }

    li {
      margin-bottom: 30px;
      list-style-type: disc;
      color: #1d4588;
    }

    a {
      font-size: 18px;
      color: #1d4588;
      @media (min-width: 768px) {
        font-size: 28px;
      }
      &:hover{
        color: darken(#1d4588, 20%);
        text-decoration: underline;
      }
    }

  }

}