.advice-cardio {
	.page-header {
		.header__m(#f89b3e, #fbc895);
		margin-bottom: 20px;
		margin-left:0;
		margin-right: 0;
	}
	&__el {
		position: relative;
		margin: 30px auto;
		overflow: hidden;
		height: 350px;
		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
		}
		@media(max-width: 991px) {
			width: 100%;
		}
	}
	&__desc {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(110, 191, 242, .68);
		text-align: center;
		padding: 7px 0;
		font-size: 20px;
		color: #fff;
		font-weight: bold;
		font-family: CenturyGothic;
		&:hover {
			span {
				text-decoration: underline;
			}
		}
		a {
			font-weight: normal;
			font-size: 16px;
			color: #fff;
			border-bottom: 1px solid #fff;
			.transition;
			&:hover {
				text-decoration: none;
				color: #fff;
				border-bottom-color: transparent;
			}
		}
	}
	.arrow-down {
		margin-bottom: 55px;
	}
	.col-md-4, .row, .container-fluid {
        @media (max-width: 991px) {
            margin: 0;
            padding: 0;
        }
    }

}