.age {
	margin-bottom: 50px;
	.page-header {
		.header__m(#44719b, #98b1c8);
		margin-left: 0;
		margin-right: 0;
	}
	.page-slider {
		max-height: 530px;
		overflow: hidden;
		&__text {
			color: #36477e;
		}
		&__q {
			font-size: 51px;
			line-height: 1.1;
			letter-spacing: 0;
		}
		&__a {
			font-size: 45px;
			line-height: 1.1;
			letter-spacing: 4px;
		}
		&__a2 {
			font-size: 36px;
			line-height: 1.1;
			letter-spacing: 1px;
		}
		&__link {
			display: inline-block;
			width: 247px;
			height: 44px;
			text-align: center;
			line-height: 44px;
			background: rgba(209, 239, 253, .70);
			border:1px solid #fff;
			color: #36477e;
			font-size: 20px;
			margin-top: 25px;
			opacity: .7;
			.transition;

			&:hover {
				text-decoration: none;
				color: #36477e;
				opacity: 1;
			}
		}
	}
}