.food {
	.page-header {
		.header__m(#a3274a, #cc889c);
		margin-left: 0;
		margin-right: 0;
	}
	.page-slider {
		&__text {
			font-family: CenturyGothic;

		}
		&__q, &__a {
			background: rgba(0,0,0,.55);
			display: inline-block;
			padding: 0 10px;
		}
		&__q {
			font-size: 28px;
			margin-bottom: 10px;
		}
		&__a {
			font-size: 48px;
		}
	}
}