path {
	.transition;
}
.page-worldmap {
	background-size: cover;
	background: url(pics/tourism/cloud.png);
	&__container {
		height: 670px;
	}
	&__heading {
		font-family: CenturyGothic;
		color: #74777b;
		font-size: 18px;
		padding: 0 15px;
		margin-top: 30px;
		margin-bottom: 50px;
		span {
			color: #336799;
			font-size: 30px;
		}
	}
}