.n-questions {
	&.vacation .page-header {
		.header__m(#819514, #bac57e);
		margin-bottom: 40px;
		margin-left: 0;
		margin-right: 0;
	}
	&.children .page-header {
		.header__m(#e09a54, #eec8a1);
		margin-bottom: 40px;
		margin-left: 0;
		margin-right: 0;
	}
	&__el {
		text-align: center;
		margin-bottom: 40px;
		display: block;
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
	&__img {
		border-radius: 100%;
		width: 220px;
		height: 220px;
		vertical-align: middle;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 35px;

		img {
			object-fit:cover;
			height: 220px;
			width: 220px;
		}
	}
	&__desc {
		font-family: CenturyGothic;
		font-size: 20px;
		color: #000;
		span {
			display: block;
			font-size: 28px;
		}
	}
	.arrow-down {
		margin-bottom: 60px;
	}
}