.safe-rest {
	.page-header {
		.header__m(#4886b3, #9bbdd5);
		margin-left: 0;
		margin-right: 0;
	}
	.page-slider {
		max-height: 600px;
		margin-bottom: 45px;
		overflow: hidden;

		&__text {
			text-align: center;
			color: #454b55;
			font-family: CenturyGothic;
			line-height: 1.1;
		}
		&__q {
			font-size: 62px;
		}
		&__a {
			font-size: 25px;
		}
		&__link {
			display: inline-block;
			margin-top: 40px;
			.transition;
			color: #454b55;
			font-size: 24px;
			border-bottom: 1px solid #454b55;
			&:hover {
				text-decoration: none;
				color: #454b55;
				border-bottom-color: transparent;
			}
		}
	}
}