.togo-selectwrap {
	background: url(pics/tourism/ocean.png) no-repeat;
	background-size: cover;
	font-family: CenturyGothic;
	padding-top: 45px;
	padding-bottom: 65px;
	&.therapy-select {
		padding-bottom: 90px;
		margin-bottom: 0;
		background: url(pics/therapy_inner2/therapy-select.png) no-repeat;
		.togo-selectwrap__h2 {
			color: #155a83;
			font-weight: normal;
			font-size: 25px;
		}
		.togo-selectwrap__h3 {
			font-weight: normal;
		}
		.col-md-6 .form-field {
			margin-bottom: -20px;
			margin-top: 50px;
		}
	}
	@media (max-width: 991px) {
        padding-bottom: 0;
    }
	&.clinc-search {
		padding-bottom: 0;
		margin-bottom: 0;
		background: url(pics/therapy_inner2/clinc-search.png) no-repeat;
	}

	&__h2 {
		text-align: center;
		color: #203544;
		font-size: 30px;
		margin-bottom: 45px;
	}
	&__h3 {
		color: #155a83;
		font-size: 16px;
		text-align: center;
		margin-bottom: 50px;
	}

	&__or {
		display: inline-block;
		width: 100%;
		text-align: center;
		line-height: 40px;
		color: #155a83;
		font-size: 22px;
		font-family: CenturyGothic;
	}
	&__submit {
		display: block;
		width: 100%;
		// max-width: 560px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background: #6ebff2;
		margin: 20px auto 65px auto;
		font-size: 22px;
		color: #373737;
		text-decoration: none;
		.transition;
		opacity: .7;
		&:hover {
			opacity: 1;
			text-decoration: none;
			color: #373737;
		}
		@media(max-width: 991px) {
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.drop._select-input{
		.drop__input{
			border: none;
		}

	}
}
