.n-tours {
    .page-header {
        .header__m(#3a7dad, #93b8d2);
        margin-bottom: 30px;
        margin-right: 0;
        margin-left: 0;
    }
    &__el {
        max-height: 260px;
        overflow: hidden;
        margin-bottom: 40px;
        position: relative;
        display: block;
        &:hover .n-tours__desc {
            text-decoration: underline;
        }

        img {
            object-fit:cover;
            height: 260px;
            width: 100%;
        }
    }
    &__desc {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 100px;
        background: rgba(51, 103, 153, .7);
        font-family: CenturyGothic;
        padding: 15px 50px;
        font-size: 25px;
        color: #fff;
        @media (max-width: 991px) {
            font-size: 16px;
            padding: 10px;
            min-height: 50px;
        }
    }
    .arrow-down {
        margin-bottom: 60px;
    }
    .col-md-4, .row, .container-fluid {
        @media (max-width: 991px) {
            margin: 0;
            padding: 0;
        }
    }
}