.advices-2{
  background-image: url(pics/inner-diseases-search/advices/advices-bg.jpg);
  background-repeat: no-repeat;
  background-position: left bottom ;
	
	&_no-bg {
		background: none;
	}

  @media (max-width: 767px) {
    background: none;
  }
  &__cont{
    width: 90%;
    max-width: 1050px;
    margin: auto;
    padding-left: 9%;
    @media(max-width: 767px){
      padding-left: 0;
    }
  }
  &__header{
    text-align: center;
    font-size: 2.3rem;
    color: #fff;
    margin-bottom: 60px;
  }

  .diag-form{
    &__input-group{
      position: relative;
      max-width: 570px;
      padding: 5px;
      margin-bottom: 90px;

      &:before{
        content:'1 шаг';
        position: absolute;
        left:-215px;
        .vertical-center;
        display: block;

        font-size: 1.5rem;
        font-weight: 600;
        color: @advices-input-bg-color;

      }
      &:after{
        content:'';
        position: absolute;
        left:-160px;
        top: 50%;
        transform: translate(0,-50%) rotate(45deg);
        display: block;
        width: 80px;
        height: 80px;
        border-top: 5px solid @advices-input-bg-color;
        border-right: 5px solid @advices-input-bg-color;
      }
      @media(max-width: 1440px)and(min-width: 992px){
        &:before{
          left:-120px;
        }
        &:after{
          left:-115px;
        }
      }
      @media(max-width: 991px)and(min-width: 768px){
        &:before{
          left:-100px;
        }
        &:after{
          left:-95px;
        }
      }
      @media(max-width: 767px){
        &:before{
          .horizontal-center;
          top:-80px;
        }
        &:after{
          left: 50%;
          top: -100px;
          transform: translate(-50%,0) rotate(135deg);
        }
      }
    }
    &__label{
      display: block;
      font-size: 1.125rem;
      color: @advices-label-color;
      margin-bottom: 10px;
    }
  }

  &__doc-list-cont{
    position: relative;
    &:before{
      content:'2 шаг';
      position: absolute;
      left:-215px;
      top: 10%;
      transform: translate(0,-50%);
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      color: @advices-input-bg-color;

    }
    &:after{
      content:'';
      position: absolute;
      left:-160px;
      top: 10%;
      transform: translate(0,-50%) rotate(45deg);
      display: block;
      width: 80px;
      height: 80px;
      border-top: 5px solid @advices-input-bg-color;
      border-right: 5px solid @advices-input-bg-color;

    }
    @media(max-width: 1440px)and(min-width: 992px){
      &:before{
        left:-120px;
      }
      &:after{
        left:-115px;
      }
    }
    @media(max-width: 991px)and(min-width: 768px){
      &:before{
        left:-100px;
      }
      &:after{
        left:-95px;
      }
    }
    @media(max-width: 767px){
      &:before{
        .horizontal-center;
        top:-100px;
      }
      &:after{
        left: 50%;
        top: -120px;
        transform: translate(-50%,0) rotate(135deg);
      }
    }
  }
	
	&_no-bg &__doc-list-cont {
		&:before, &:after {
			display: none;
		}
	}

  .doc-list{
    &__hint{
      display: block;
      margin-left: 5px;
      font-size: 1.125rem;
      color: @advices-label-color;
      margin-bottom: 45px;
    }

    &__ul-double{
      column-count: 2;
      margin-bottom: 30px;
      li{
        margin-bottom: 50px;
      }
      @media (max-width: 767px) {
        column-count: 1;
        text-align: center;
      }
			
			&_zen {
				@media (max-width: 767px) {
					text-align: left;
				}
			}
    }
    &__link{}
		
    &__img-cont{
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 50%;
			
      img{
        min-width: 100%;
        min-height: 100%;
        max-width: 150%;
        max-height: 150%;
      }
			
			&_zen {
				float: left;
				
				img {
					width: 100%;
					min-width: initial;
					min-height: initial;
					max-width: initial;
					max-height: initial;
				}
			}
			
      @media (max-width: 767px) {
       	margin: auto;
      }
    }
		
		&__text-content {
			float: right;
			width: ~"calc(100% - 130px)";
		}

    &__name{
      margin-bottom: 20px;
      font-weight: 300;
      color: @advices-doc-name-color;
    }
    &__city,&__speciality, &__experience{
      display: block;
      font-size: 0.8rem;
      line-height: 16px;
      color:@advices-label-color;

    }


  }

}