.char-slider{
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding-bottom: 60px;

  @media(max-width: 767px){
    display: none;
  }
  &__item{
    &:focus{
      outline: none;
    }
  }
  &__row{
    width: 90%;
    max-width: 1350px;
    height: 110px;
    margin: auto;
    @media(max-width: 991px)and (min-width: 768px){
      height: 220px;
    }
  }
  .col-sm-3{
    height: 100%;
    @media(max-width: 991px)and (min-width: 768px){
      height: 50%;
    }
  }

  &__char-cont{
    position: relative;
    .vertical-center;
    width: 35%;
    height: 100%;
    float: left;
    font-size: 8.4rem;
    font-weight: 600;
    line-height: 110px;
    @media(max-width: 1199px)and (min-width: 992px){
      font-size: 6.4rem;
    }
    @media(max-width: 991px)and (min-width: 768px){
      float: none;
      width: 100%;
    }
  }

  &__char-link,&__med-sec-link{
    color: @char-slider-font-color;
    transition-property: color;
    transition-duration: .5s;
    &:hover,&:active,&:focus{
      color: @alphabet-char-bg-color;
      border: none;
      outline:none;
    }
  }
  &__char-link{
    position: absolute;
    left: 40%;
    transform: translate(-50%,0);

    @media(max-width: 991px)and (min-width: 768px){
      left: 50%;
    }
  }

  &__med-sec{
    width: 65%;
    height: 100%;
    float: left;
    padding-top: 15px;
    font-size: 1.125rem;
    @media(max-width: 1199px)and (min-width: 992px){
      padding-top: 20px;
      font-size: 0.9rem;
    }
    @media(max-width: 991px)and (min-width: 768px){
      float: none;
      width: 100%;
      text-align: center;
    }
  }

  .slick-arrow.slick-prev{
    left: 10px;
  }
  .slick-arrow.slick-prev{
    right: 10px;
  }

}