.diamonds-food-plan{
  .diamonds-desc{
    &__cont{
      @media(min-width:1200px){
        &:before{
          content:'';
          position: absolute;
          right: 17%;
          bottom:-340px;
          display: block;
          width: 170px;
          height: 320px;
          background: url(pics/inner-diseases-search/diamonds-food-plan/dotted-5.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      @media(max-width: 1199px)and(min-width:992px){
        &:before {
          content: '';
          position: absolute;
          right: 15%;
          bottom: -250px;
          display: block;
          width: 120px;
          height: 250px;
          background: url(pics/inner-diseases-search/diamonds-food-plan/dotted-5.png) no-repeat;
          background-size: 100% 100%;
        }
      }

    }
    &__big-head{
      font-size: 3.4rem;
    }
    &__txt-cont{
      max-width: 450px;
      margin-left:55%;
      h2{
        text-align: center;
        font-size: 2.2rem;
      }

      @media(max-width: 1440px)and(min-width: 1200px){
        margin-left: 50%;
      }
      @media(max-width: 1199px)and(min-width: 992px){
        margin-left: 40%;
      }
      @media(max-width: 991px){
        margin: auto;
      }
    }
    &__txt{
      max-width: 560px;
      @media(max-width: 991px){
        max-width: none;
      }
    }
    &__diam-left{
      top:0;
      transform: rotate(-45deg);
    }
  }
  .diag-form{
    &__label{
      display: block;
      margin-bottom: 30px;
      text-align: center;
      font-size: 1.125rem;
      color: @diam-food-plan-label-color;
    }
  }
  &__pic-1{background-image: url(pics/inner-diseases-search/diamonds-food-plan/pic-1.jpg);}
  &__pic-2{background-image: url(pics/inner-diseases-search/diamonds-food-plan/pic-2.jpg);}
  &__pic-3{background-image: url(pics/inner-diseases-search/diamonds-food-plan/pic-3.jpg);}
}