
.diamonds-rare-dis{
    .diamonds-desc{
      &__cont{
        position: relative;
        @media(min-width:992px){
          &:before{
            content:'';
            position: absolute;
            right: 40%;
            top:-280px;
            display: block;
            width: 190px;
            height: 280px;
            background: url(pics/inner-diseases-search/diamonds-rare-dis/dotted-3.png) no-repeat;
          }
        }
      }
      &__txt-cont{
        margin-left:55%;

        @media(max-width: 1440px)and(min-width: 1200px){
          margin-left: 50%;
        }
        @media(max-width: 1199px)and(min-width: 992px){
          margin-left: 40%;
        }
        @media(max-width: 991px){
          margin: auto;
        }
      }
      &__txt{
        max-width: 560px;
        @media(max-width: 991px){
          max-width: none;
        }
      }
    }
  &__pic-1{background-image: url(pics/inner-diseases-search/diamonds-rare-dis/pic-1.jpg);}
  &__pic-2{background-image: url(pics/inner-diseases-search/diamonds-rare-dis/pic-2.jpg);}
  &__pic-3{background-image: url(pics/inner-diseases-search/diamonds-rare-dis/pic-3.jpg);}
}