.diamonds-diagnostics{

  &__cont{
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: auto;

  }
  &__head{
    margin-bottom: 50px;
    text-align: center;
    font-size: 3.4rem;
    color: @diam-ch-dis-h2-color;
    @media (max-width: 767px){
      font-size: 2.2rem;
      margin-bottom: 10px;
    }
  }
  .diag-form{
    position: relative;
      @media(min-width:1200px){
        &:before{
          content:'';
          position: absolute;
          left: 60%;
          top:-275px;
          display: block;
          width: 335px;
          height: 275px;
          background: url(pics/inner-diseases-search/diamonds-diagnostics/dotted-4.png) no-repeat;
        }
      }
    @media(max-width: 1199px)and(min-width:992px){
      &:before{
        content:'';
        position: absolute;
        left: 40%;
        top:-175px;
        display: block;
        width: 235px;
        height: 175px;
        background: url(pics/inner-diseases-search/diamonds-diagnostics/dotted-4.png) no-repeat;
        background-size: 100%;
      }
    }
    margin-left: 7%;
    @media (max-width: 1440px)and(min-width: 1200px){
    margin-left: 0;
    }
    @media (max-width: 1199px){
      margin: auto;
    }
  }
  .diamonds._inverse{
    left: 62%;
    top:20%;
    @media (max-width: 1199px){
      display: none;
    }
    .diamonds{
      &__pics-cont{
        width: 550px;
        height: 550px;
        @media (max-width: 1440px)and(min-width: 1200px){
          width: 350px;
          height: 350px;
        }
      }
      &__pic-1,&__pic-3{
        width: 60%;
        height: 60%;
      }
      &__pic-1{
        left:70%;
        top:20%;
      }
      &__pic-3{
        left:3%;
        top:76%;
      }

    }
  }
  &__pic-1{background-image: url(pics/inner-diseases-search/diamonds-diagnostics/pic-1.jpg);}
  &__pic-2{background-image: url(pics/inner-diseases-search/diamonds-diagnostics/pic-2.jpg);}
  &__pic-3{background-image: url(pics/inner-diseases-search/diamonds-diagnostics/pic-3.jpg);}
}