.diamonds-desc{
  height: 700px;
  padding-bottom: 280px;
  @media (max-width: 1199px){
    padding-bottom: 100px;
  }
  @media(max-width: 991px){
    height: auto;
    padding-bottom: 30px;
  }
  &__cont{
    position: relative;
    .vertical-center;
    width: 95%;
    max-width: 1440px;
    margin: auto;
    @media(max-width: 991px){
      position: static;
      transform: none;
    }
  }
  &__txt-cont{
    width: 90%;
    max-width: 600px;
    h2{
      font-size: 3.5rem;
      color:@diam-ch-dis-h2-color;
      margin-bottom: 30px;
      @media(max-width: 991px){
        text-align: center;
      }
      @media(max-width: 991px){
        font-size: 1.6rem;
        margin-bottom: 10px;
      }

    }
    @media(max-width: 991px){
      margin: auto;
    }
  }
  &__txt{
    position: relative;
    font-size: 1rem;
    text-align: justify;
    @media(max-width: 991px){
      margin: auto;
    }
  }
  &__desc{
    margin-bottom: 40px;
    line-height: 24px;
  }
  &__btn{
    position: relative;
    .horizontal-center;
    font-size: 1.75rem;
    padding-left: 75px;
    padding-right: 75px;
  }


  &__diam-right{
    left: 50%;
    top:50%;
    transform: translate(0,-50%) rotate(-45deg);
    @media (max-width: 1440px)and(min-width: 1200px){
      left: 55%;
      .diamonds__pics-cont{
        width: 500px;
        height: 500px;
      }
    }
    @media (max-width: 1199px)and(min-width: 992px){
      left: 65%;
      .diamonds__pics-cont{
        width: 400px;
        height: 400px;
      }
    }
  }
  &__diam-left{
    top:50%;
    transform: translate(0,-50%) rotate(-45deg);

    @media (max-width: 1440px)and(min-width: 1200px){
      left: -5%;
      .diamonds__pics-cont{
        width: 500px;
        height: 500px;
      }
    }
    @media (max-width: 1199px)and(min-width: 992px){
      left: -10%;
      .diamonds__pics-cont{
        width: 400px;
        height: 400px;
      }
    }
  }

}

.diamonds-ch-dis{
    .diamonds-desc{
      &__cont{
        @media(min-width:992px){
          &:before{
            content:'';
            position: absolute;
            left: 35%;
            top:-180px;
            display: block;
            width: 250px;
            height: 190px;
            background: url(pics/inner-diseases-search/diamond-ch-dis/dotted-2.png) no-repeat;
          }
        }
      }
      &__txt-cont{
        margin-left: 80px;
        @media(max-width: 1440px)and(min-width: 992px){
          margin-left: 30px;
        }
        @media(max-width: 991px){
          margin: auto;
        }
      }
      &__txt{
        max-width: 440px;
        @media(max-width: 991px){
          max-width: none;
        }
      }
    }
  &__pic-1{background-image: url(pics/inner-diseases-search/diamond-ch-dis/pic-1.jpg);}
  &__pic-2{background-image: url(pics/inner-diseases-search/diamond-ch-dis/pic-2.jpg);}
  &__pic-3{background-image: url(pics/inner-diseases-search/diamond-ch-dis/pic-3.jpg);}

}
