.handbook-diamond{
  position: relative;
  background-image: url(pics/inner-diseases-search/handbook/handbook-bg.jpg);
  background-repeat: no-repeat;
  @media(max-width:991px){
    background-position: -150px 0;
  }
  @media(min-width: 768px){
    height: 670px;
  }
  .frame-diamond{
    width: 100%;
   max-width: 440px;
   height: 440px;
    margin: auto;
    @media(min-width:768px){
      margin: 0;
    }
  }

  .frame-diamond{
    @media(min-width:768px){
      position: relative;
      .center;
      left: 55%;
      &:before{
        content:'';
        position: absolute;
        left: -160px;
        top:-160px;
        display: block;
        width: 150px;
        height: 150px;
        background: url(pics/inner-diseases-search/handbook/dotted-1.png) no-repeat;
      }
    }
    @media(min-width:1200px){
      .vertical-center;
    }

    &._def:after{
      transform: rotate(45deg);
      @media(max-width:767px){
        display: none;
      }
    }


    &__cont{
      width: 100%;
      text-align: center;
      color: @hanbook-diamond-txt-color;
      @media(min-width:768px){
        position: absolute;
        .vertical-center;
      }
    }

    &__head-cont{
      margin-bottom: 15px;
      font-size: 3rem;
    }
    &__big-char{
      font-size: 5.56rem;
    }
    &__txt-cont{
      max-width: 320px;
      margin: auto;
      font-size:1.6rem;
      margin-bottom: 65px;
    }
    &__btn{
      font-size: 1.25rem;
      &:hover{
        background-color: @frame-color-2;
      }
    }
  }


}