.information{
  height: 700px;
  background-image: url(pics/inner-diseases-search/information/information-bg.jpg);
  background-repeat: no-repeat;
  @media(max-width: 1199px)and(min-width: 768px){
    background-image: url(pics/inner-diseases-search/information/information-bg-lg.jpg);
    background-size: 70%;
    background-position: left bottom ;
  }
  @media(max-width: 767px){
    background: none;
  }
  &__cont{
    width: 90%;
    max-width: 750px;
    margin-left: 40%;
    @media(max-width: 1440px)and(min-width: 1200px){
      margin-left: 35%;
    }
    @media(max-width: 1199px){
      margin: auto;
    }
  }
  &__header{
    margin-bottom: 75px;
    text-align: center;
    font-size: 1.5rem;
    color:@information-font-color;

  }
  &__ul{
    margin-bottom: 70px;
    li{
      margin-bottom: 60px;
      padding-left: 335px;
      @media(max-width: 767px){
       padding-left: 34px;
      }
    }
  }
  &__link{
    position: relative;
    font-size: 1.25rem;
    color: @information-links-color;
    border-bottom: 1px solid transparent;
    transition-property: color, border-color;
    transition-duration: .5s;

    &:hover{
      color: @dark-blue;
      border-color: @dark-blue;
    }
    &:before{
      content: '';
      position: absolute;
      top:12px;
      left: -300px;
      display: block;
      height: 1px;
      width: 300px;
      background-color:@information-line-color;
      @media(max-width: 1440px)and(min-width: 1200px){
        left: -200px;
        width: 200px;
      }
      @media(max-width: 1199px)and(min-width: 768px){
        left: -120px;
        width: 120px;
      }
      @media(max-width: 767px){
        left: -5px;
        width: 5px;
        height: 2px;
      }
    }
    &:after{
      content: '';
      position: absolute;
      top:-3px;
      left: -334px;
      display: block;
      height: 34px;
      width: 34px;
      border: 6px solid @information-circle-color;
      border-radius: 50%;
      background-color:@information-line-color;
      @media(max-width: 1440px)and(min-width: 1200px){
        left: -234px;
      }
      @media(max-width: 1199px)and(min-width: 768px){
        left: -154px;
      }
      @media(max-width: 767px){
        left: -39px;
      }
    }
  }
  .btn._info{}
}