.news{
  @media(min-width:992px){
    margin-bottom: 230px;
  }
  &__head{
    .horizontal-center;
    font-weight: 300;
    font-size: 2.25rem;
    color: @black;
  }
  &__news-sec{
    &._1{
      .news__desc-cont{
        padding-left: 15%;
        padding-right: 15%;
        @media(max-width:1440px){
          padding-left: 5%;
          padding-right: 5%
        }
      }
    }
    &._2,&._3{
      .news__desc-cont{
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    h3{
      font-weight: 300;
      font-size: 1.6rem;
      @media(max-width:767px){
        font-size: 1.2rem;
      }
    }
    a{
      color: @white;
    }
  }
  &__desc-cont{
    position: absolute;
    bottom: 0;
    min-height: 100px;
    padding:5px;
  }
  &__date{
    font-size: 1rem;
  }
  &__txt{
    font-size: 1rem;
    &._hidden{
      display: none;
    }
  }

}