.search{
  padding: 30px 0 65px 0;

  background-image: url(pics/inner-diseases-search/search/search-bg.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  &__in-group{
    .in-group_search{
      &__label{
        margin-bottom: 30px;
        font-size: 1.875rem;
        color: @dark-blue;
      }
      &__in{
        padding-right: 235px;
        @media (max-width: 767px){
          padding-right: 80px;
        }
        color:@dark-blue;
        border: 2px solid @search-in-border-color;

      }
      &__btn{
        padding: 4px 70px;
        color:@white;
        background-color: @dark-blue;
        @media (max-width: 767px){
          padding: 8px 7px;
          font-size: 1rem;
        }

        &:hover{
          background-color: @search-in-border-color;
        }
      }
    }
  }
}