@search-in-border-color:#a0b8cf;

@char-slider-font-color:#b6c1cc;

@hanbook-diamond-txt-color:#565656;

@information-font-color:#1d1d1d;
@information-links-color:#3d80b4;
@information-line-color:#888888;
@information-circle-color:#d8e5ef;

@news-cont-bg-color:rgba(51,103,153,.57);

@diam-ch-dis-h2-color: #383838;

@diam-food-plan-label-color: #aaa;

@advices-label-color: #323232;

@advices-label-color: #323232;

@advices-doc-name-color: #3399ff;

@advices-input-bg-color: #005d91;

@advices-header-color: #262626;



