.mainBanner{
  margin-bottom: 45px;

  @media(max-width: 991px){
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background-color: rgba(255,255,255,0.7);
    }
  }

  h1 {
    width: 100%;
    color: #00679c;
    font-size: 24px;
    font-weight: normal;

    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px) {
      font-size: 32px;
    }
    @media (min-width: 992px) {
      font-size: 60px;
      max-width: 620px;
    }

  }
}