.stomatologiyaInner{
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 30px;
  color: #404040;

  &__container{
    @media(min-width: 768px){
      width: ~"calc(100% - 240px)";
      float: left;
    }
    @media(min-width: 992px){
      width: ~"calc(100% - 320px)";
    }
    @media(min-width: 1200px){
      width: ~"calc(100% - 400px)";
    }
  }

  &__sidebar{
    display: none;
    width: 280px;
    margin-right: -52px;
    float: right;

    @media(min-width: 768px){
      display: block;
    }

    @media(min-width: 992px){
      width: 320px;
      margin-right: -35px;
    }

    @media(min-width: 1200px){
      width: 400px;
      margin-right: -70px;
    }

    &-title{
      position: relative;
      margin-bottom: 45px;
      background-color: #a7e25c;
      text-align: center;
      font-size: 20px;
      line-height: 45px;
      color: #ffffff;
      @media(min-width: 992px){
        font-size: 24px;
      }

      &:after{
        content: '';
        position: absolute;
        top: 20px;
        left: 4px;
        z-index: -1;
        display: block;
        width: 96%;
        height: 20px;
        box-shadow: 6px 5px 6px 2px #92968a;
        transform: rotate(-0.5deg);
      }

    }

    &-item{
      display: block;
      max-width: 180px;
      width: 100%;
      margin: 0 auto 35px;
      @media(min-width: 992px){
        max-width: 220px;
      }
      @media(min-width: 1200px){
        max-width: 270px;
      }
      &_pic{
        position: relative;
        width: 100%;
        height: 180px;
        margin-bottom: 15px;
        overflow: hidden;
        @media(min-width: 992px){
          height: 220px;
        }
        @media(min-width: 1200px){
          height: 270px;
        }
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          max-height: 120%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }

      &_title{
        font-size: 16px;
        color: #336799;
        @media(min-width: 992px){
          font-size: 20px;
        }
        @media(min-width: 1200px){
          font-size: 24px;
        }
      }

    }

  }

  h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #43719f;
    @media(min-width: 768px){
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 30px;

    }

    &._blueBG{
      padding-left: 20px;
      background-color: #cce1f2;
      font-weight: bold;
    }

  }

  h3{
    margin-bottom: 15px;
    font-size: 20px;
  }

  p{
    margin-bottom: 20px;
  }

  strong,b{
    font-size: 20px;
    font-weight: bold;
  }

  ul{
    padding-left: 30px;
    margin-bottom: 40px;
    li{
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 18px;
      &:before{
        content: '-';
      }

      &:first-child{
        &:before{
          content: none;
        }
      }
    }
    &.noPadding{
      padding-left: 0;
    }

    @media(min-width: 768px){
      padding-left: 60px;
    }

  }

  ol{
    padding-left: 20px;
  }

  img{
    width: 100%;
    height: auto;
  }

  .list{
    &__markerCircle{
      padding-left: 30px;
      margin-bottom: 60px;
      li{
        position: relative;
        margin-bottom: 15px;
        line-height: 30px;

        &:before{
          content: '';
          position: absolute;
          top: 0px;
          left: -30px;
          display: block;
          width: 20px;
          height: 20px;
          margin: auto;
          border: 2px solid #43719f;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          @media(min-width: 768px){
            top: -5px;
            left: -60px;
            width: 40px;
            height: 40px;
          }
        }
        &:first-child{
          &:before{
            content: '';
          }
        }
      }
      @media(min-width: 768px){
        padding-left: 60px;
      }
    }
    &__italicBold{
      padding-left: 20px;

      li{
        margin-bottom: 30px;
        font-weight: bold;
        font-style: italic;
      }
    }
  }

  &__footer{
    background-image: url(pics/diabet-inner/bg.jpg);
    background-repeat:no-repeat;
    background-position: right top;
    background-size: cover;
  }

}