.stomatologiyaInner__banner{
  position: relative;
  min-height: 540px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: #f1f6ff;
  background-image: url(pics/stomatologiya-inner/stomatolog_inner-baner2.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  @media(min-width: 768px){
    padding-top: 50px;
  }
  &-content{
    max-width:650px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
    h2{
      font-size: 24px;
      font-weight: bold;
      color: #1572a2;
      @media(min-width: 768px){
        font-size: 30px;
      }
    }
    p{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}