.articles{
  .g-grid{
    max-width: 1500px;
    padding-top: 50px;
    &__link{
      color: #000;
      transition-property: color,opacity;
      transition-duration: .5s;
      &:hover{
        color: #005cc6;
        opacity: .8;
      }
    }
    &__img-cont{
      width:  300px;
      height: 300px;
      @media(min-width: 992px){
        width:  200px;
        height: 200px;
      }
      @media(min-width: 1200px){
        width:  270px;
        height: 270px;
      }
      @media(min-width: 1440px){
        width:  300px;
        height: 300px;
      }
    }
    &._txt-outer .g-grid__content{
      max-width: 300px;
      font-size: 16px;
      white-space: normal;
      @media(min-width: 992px){
        text-align: left;
        font-size: 20px;
      }
    }
  }
}