.articles {
  .title(articles, #d94f24, #ea9e87);

  &__banner {
    margin-bottom: 50px;

    &-title {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 34px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 52px;
      }
    }
  }
  &__list {
    margin:0 auto 50px;
    font-size: 0;
    @media (min-width: 992px) {
      white-space: nowrap;
    }

  }
  &__item {
    @media (min-width: 1024px) {
      width: 100%;
    }
    &-pic {
      position: relative;
      display: block;
      width: 100%;
      margin-bottom: 25px;
      overflow: hidden;
      height: 300px;
      @media (min-width: 768px) {
        height: 300px;
      }
      @media (min-width: 992px) {
        height: 215px;
      }
      @media (min-width: 1170px) {
        height: 245px;
      }
      @media (min-width: 1440px) {
        height: 300px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: 130%;
        max-height: 130%;
      }
    }
    &-title {
      display: block;
      font-size: 20px;
      color: #000;
      white-space: normal;
    }
    &-col {
      display: block;
      width: 300px;

      margin-right: auto;
      margin-left: auto;
      vertical-align: text-top;
      margin-bottom: 25px;

      @media (min-width: 768px) {
        display: inline-block;
        width: 46%;
        margin-right: 2%;
        margin-left: 2%;
      }
      @media (min-width: 992px) {
        width: 21%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 0
      }

      &:hover{
        .articles__item-text{
          text-decoration: underline;
        }
      }
    }
  }
}