.right-food {
  background: none;
  &__bg{
    position: relative;
    overflow: hidden;
    &-img{
      display: none;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
      }
      @media(min-width: 1024px){
        display: block;
      }
    }
  }
  &__cont {
    padding-bottom: 40px;
  }

  &__baner {
    height: 300px;
    position: relative;
    overflow: hidden;
    @media (min-width: 640px) {
      height: 500px;
    }
    &:before {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &-desc {
      margin: auto;
      width: 100%;
      z-index: 1;
      text-align: right;
      padding-right: 20px;

      @media (min-width: 640px) {
        padding-right: 70px;
      }
      @media (min-width: 768px) {
        width: 670px;
      }
    }
    &-title {
      background-color: #c1d539;
      color: #454936;
      font-size: 24px;
      line-height: 30px;
      padding: 20px;
      margin-bottom: 30px;
      margin-right: -20px;
      @media (min-width: 640px) {
        font-size: 36px;
        line-height: 40px;
        padding-top: 25px;
        padding-left: 20px;
        padding-bottom: 20px;
        padding-right: 70px;
        margin-bottom: 30px;
        margin-right: -70px;
      }
    }
  }
}
.btn._whiteBG {
  background-color: #ffffff;
}