.section {
  .title(section, #2e7d7a, #8cb8b6);

  &__content {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: 768px) {
      padding-top: 115px;
      padding-bottom: 115px;
    }
    ul {
      max-width: 1170px;
      margin-right: auto;
      margin-left: auto;
      li {
        display: block;
        width: 280px;
        padding: 0 1px;
        margin: 0 auto 20px;
        font-size: 18px;
        vertical-align: text-top;

        @media (min-width: 768px) {
          display: inline-block;
          width: 20%;
          margin-bottom: 0;
        }
      }
      @media (min-width: 768px) {
        font-size: 0;
        white-space: nowrap;
      }
    }
  }
  &__link {
    display: block;
    color: #414141;
    transition: 0.15s ease-in;
    &:hover{
      transform: translateY(-7px);
    }
    &-title {
      display: block;
      min-height: 55px;
      border-bottom-width: 7px;
      border-bottom-style: solid;
      text-align: center;
      vertical-align: text-top;
      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
      &._borderOrange {
        border-color: #ba6f1f;
      }
      &._borderYellow {
        border-color: #dbbe1f;
      }
      &._borderPink {
        border-color: #d9244e;
      }
      &._borderGreen {
        border-color: #76a925;
      }
      &._borderBrown {
        border-color: #7d462e;
      }
    }
    &-icon {
      position: relative;
      display: none;
      width: 100%;
      height: 150px;
      margin-bottom: 25px;
      @media (min-width: 768px) {
        display: block;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;

      }
      &._iconZheludok {
        &:before {
          width: 113px;
          height: 109px;
          background-image: url(pics/zhkt-osnovnaya/icon-zheludok.jpg);
        }
      }
      &._iconPishchevod {
        &:before {
          width: 81px;
          height: 155px;
          background-image: url(pics/zhkt-osnovnaya/icon-pishchevod.jpg);
        }
      }
      &._iconKishechnik {
        &:before {
          width: 109px;
          height: 117px;
          background-image: url(pics/zhkt-osnovnaya/icon-kishechnik.jpg);
        }
      }
      &._iconZhelch {
        &:before {
          width: 95px;
          height: 121px;
          background-image: url(pics/zhkt-osnovnaya/icon-zhelch.jpg);
        }
      }

      &._iconPechen {
        &:before {
          width: 128px;
          height: 90px;
          background-image: url(pics/zhkt-osnovnaya/icon-pechen.jpg);
        }

      }
    }

  }
}